<template>
      <el-tabs class="resource-main-tabs" tab-position="left" type="border-card" :value="startPanelName">
            <el-tab-pane name="img" :disabled="disabled.img" label="Images"><resource-view-component class="resource-view" :options="viewOptions" :type='"img"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="bg" :disabled="disabled.img" label="Background"><resource-view-component class="resource-view" :options="viewOptions" :type='"bg"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="icon" :disabled="disabled.img" label="Icons"><resource-view-component class="resource-view" :options="viewOptions" :type='"icon"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="buttons" :disabled="disabled.img" label="Button Images"><resource-view-component class="resource-view" :options="viewOptions" :type='"buttons"' @selected="selectedResources"></resource-view-component></el-tab-pane>

            <el-tab-pane name="spriteClip" :disabled="disabled.spriteClip" label="Sprite Clip"><resource-view-component class="resource-view" :options="viewOptions" :type='"spriteClip"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="stateClip" :disabled="disabled.stateClip" label="State Clip"><resource-view-component class="resource-view" :options="viewOptions" :type='"stateClip"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="obj3d" :disabled="disabled.obj3d" label="3D Objects"><resource-view-component class="resource-view" :options="viewOptions" :type='"obj3d"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="gltf" :disabled="disabled.glTF" label="GLTF"><resource-view-component class="resource-view" :options="viewOptions" :type='"gltf"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="json3d" :disabled="disabled.json3d" label="3D Animation"><resource-view-component class="resource-view" :options="viewOptions" :type='"json3d"' @selected="selectedResources"></resource-view-component></el-tab-pane>
            <el-tab-pane name="dcim" :disabled="disabled.json3d" label="Asset Resource"><resource-view-component class="resource-view" :options="viewOptions" :type='"dcim"' @selected="selectedResources"></resource-view-component></el-tab-pane>
      </el-tabs>
</template>
<script lang="ts">
      import Vue from "vue"
      import {Component, Prop} from "vue-property-decorator";
      import ResourceViewComponent from "./contents/ResourceViewComponent"
      /**
       * 사용자 디렉토리 생성을 관리하지 않고, 제품에서 정의한 항목에 리소스를 넣도록 제작되었다.
       * image 리소스가 가장 많을것이기 때문에, 분류를 돕기 위해 img/bg/icon/buttons 항목을 제공한다.
       * 이는 단순 분류이고, image타입을 선택 시도시 모든 이미지 타입 항목을 접근하여 선택할 수 있다.
       * 실제 기능적 분류 타입은 img/spriteClip/stateClip/obj3d/json3d/dcim이다.
       * 선택 타입에 따라 disabled항목을 설정하여 정해진 포맷만 접근하게 처리한다.
       */

      @Component({
            components:{
                  ResourceViewComponent
            }
      })
      export default class ResourceMainTabsComponent extends Vue {
            @Prop({default: {onlyEditMode: true, type: 'all'}})
            public options:any;

            private defaultOptions:any = {
                  minLength: 1,
                  maxLength: 1,
                  onlyEditMode: false,
                  type: "img"//(img & obj3d & json3d & all)
            }

            public viewOptions:any = {type : "all", minLength: 1, maxLength: 1, onlyEditMode: false};       //{minLength, maxLength, onlyEditMode, type(img & obj & all), label(프로퍼티 패널에서만 씀..)}
            private disabled:any = {
                  img: false,
                  spriteClip: false,
                  stateClip: false,
                  obj3d: false,
                  json3d: false,
                  gltf: false
            };
            private startPanelName:string = 'img';

            created() {
                  this.viewOptions = $.extend(true, this.defaultOptions, this.options);

                  switch (this.viewOptions.type) {
                        case 'image':
                        case 'img':
                              this.disabled.obj3d = true;
                              this.disabled.json3d = true;
                              this.disabled.spriteClip = true;
                              this.disabled.stateClip = true;
                              this.disabled.gltf = true;
                              this.startPanelName = 'img';
                              break;
                        case 'icons':
                        case 'icon':
                              this.disabled.obj3d = true;
                              this.disabled.json3d = true;
                              this.disabled.spriteClip = true;
                              this.disabled.stateClip = true;
                              this.disabled.gltf = true;
                              this.startPanelName = 'icon';
                              break;
                        case 'background':
                        case 'bg':
                              this.disabled.obj3d = true;
                              this.disabled.json3d = true;
                              this.disabled.spriteClip = true;
                              this.disabled.stateClip = true;
                              this.disabled.gltf = true;
                              this.startPanelName = 'bg';
                              break;
                        case 'button':
                        case 'buttons':
                              this.disabled.obj3d = true;
                              this.disabled.json3d = true;
                              this.disabled.spriteClip = true;
                              this.disabled.stateClip = true;
                              this.disabled.gltf = true;
                              this.startPanelName = 'buttons';
                              break;
                        case 'spriteClip':
                              this.disabled.img = true;
                              this.disabled.obj3d = true;
                              this.disabled.json3d = true;
                              this.disabled.stateClip = true;
                              this.disabled.gltf = true;
                              this.startPanelName = 'spriteClip';
                              break;
                        case 'stateClip':
                              this.disabled.img = true;
                              this.disabled.obj3d = true;
                              this.disabled.json3d = true;
                              this.disabled.spriteClip = true;
                              this.startPanelName = 'stateClip';
                              break;
                        case 'obj3d':
                              this.disabled.img = true;
                              this.disabled.stateClip = true;
                              this.disabled.spriteClip = true;
                              this.disabled.json3d = true;
                              this.disabled.gltf = true;
                              this.startPanelName = 'obj3d';
                              break;
                      case 'gltf':
                             this.disabled.img = true;
                             this.disabled.stateClip = true;
                             this.disabled.spriteClip = true;
                             this.disabled.json3d = true;
                             this.disabled.obj3d = true;
                             this.startPanelName = 'gltf';
                             break;
                        case 'json3d':
                              this.disabled.img = true;
                              this.disabled.stateClip = true;
                              this.disabled.spriteClip = true;
                              this.disabled.obj3d = true;
                              this.disabled.gltf = true;
                              this.startPanelName = 'json3d';
                              break;
                  }
            }


            public selectedResources(data){
                  this.$emit("selected", data);
            }
      }
</script>
<style scoped>
      .resource-main-tabs {
            width: 100%;
            height: 100%;
            border: none;
            box-shadow: none;
      }

      .resource-main-tabs .resource-view {
            display: flex;
            flex-direction: column;
      }

      .resource-main-tabs >>> .resource-list {
            flex: 1;
            margin-top: 14px;
      }
</style>
