<template>
      <modal
            class="w-modal"
            id="resource-manager"
            name="resource-manager"
            :clickToClose="true"
            :resizable="true"
            :width="1200"
            :height="600"
            :min-width="1200"
            :min-height="600"
            draggable=".modal-header"
            @opened="openedModal()"
            @closed="closedModal()">

            <div class="modal-header"><h4>Resource Manager</h4><a class="close-modal-btn" role="button" @click="beforeModalClose()"><i class="el-icon-error"></i></a></div>
            <div class="modal-body resource-modal-wrap">
                  <resource-main-tabs-component ref="mainComp" :options="options" @selected="selectedResource"></resource-main-tabs-component>
            </div>
      </modal>
</template>
<script lang="ts">
      import Vue from "vue";
      import Component from "vue-class-component";
      import ResourceMainTabsComponent from "./ResourceMainTabsComponent";
      import EditorStatic from "../../../controller/editor/EditorStatic";



      /**
       * 리소스매니저는 선택모드/편집모드가 있다. 이에 따라 UI구성이 달라짐
       * 선택모드 : 프로퍼티 패널에서 리소스를 적용하기 위해 관리자를 실행했을 때, 진입시 promise객체를 반환하여 선택 결과를 전달한다. 편집모드/선택모드 변경이 가능하다.
       * 편집모드 : 메인메뉴에서 관리자를 단독으로 실행했을 때,  혹은 선택모드로 접근했지만 편집모드로 변경했을 때
       *          파일 업로드, swap, 삭제가 가능하다.
       * 
       * 등록된 리소스는 고유 id를 부여받아 파일이 id명으로 저장된다. 실제 경로는 저장된 파일명과 같지 않다. 
       * 때문에 이를 다른 서버로 이동하기 위해서는 에디터에서 리소스 내보내기/가져오기를 통하여야한다.
       * +파일 덮어쓰기는 swap기능을 사용해야한다, 파일명은 중복을 허용한다.
      */
      @Component({
            components: {
                  ResourceMainTabsComponent
            }
      })
      export default class ResourceManagerModal extends Vue {
            options = {
                onlyEditMode: "true",
                type: "all"
            };

            currentPromise = {
                  resolve: null,
                  reject: null
            }

            /**
             * 프로퍼티패널에서 접근하였을 때, 리소스 선택 정보를 전달하기 위해 promise객체를 반환한다.
             * 이는 options인자 정보로 구분한다.
            */
            public show(options) {
                  this.options = options || {};
                  this.$modal.show('resource-manager');
                  var self = this;

                  if(!this.options.onlyEditMode){
                      return new Promise((resolve, reject)=>{
                          self.currentPromise.resolve = resolve;//리소스 선택시 실행할 resolve 저장
                          self.currentPromise.reject = reject;
                      });
                  }
            }

            public hide() {
                if(!this.options.onlyEditMode){
                    this.currentPromise.reject();
                }
                this.$modal.hide('resource-manager');
            }

            public openedModal() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
                  this.bindCloseKeyEvent();
            }

            public closedModal() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
                  this.unbindCloseKeyEvent();
            }


            private bindCloseKeyEvent() {
                  let $overlay = $("#dataset-manager");
                  let tempTarget;

                  //background 영역 선택시 창 닫기 기능..추가....
                  $overlay.on("mousedown.resourceModal", (e) => {
                        tempTarget = e.target;
                  });

                  $overlay.on("click.resourceModal", (e) => {
                        if (tempTarget == $overlay.get(0) && e.target == $overlay.get(0)) {
                              this.beforeModalClose();
                        }
                  })
            }

            public selectedResource(urlAry) {
                  //resolve
                  this.currentPromise.resolve(urlAry);
                  this.hide();
            }

            private unbindCloseKeyEvent() {
                  $("#resource-manager").off("click.resourceModal");
                  $("#resource-manager").off("mousedown.resourceModal");
            }

            public beforeModalClose() {
                  this.unbindCloseKeyEvent();
                  this.hide();
            }
      }
</script>

<style scoped>

      .w-modal .modal-body {
            display: flex;
            flex: 1;
            padding: 24px;
            align-items: stretch;
      }

      .w-modal .modal-body .btn-wrap {
            margin: 14px 10px 16px 0;
            text-align: center;
      }

      .w-modal .modal-body .btn-wrap button {
            margin: 0;
      }

      .w-modal .modal-body input.disabled,
      .w-modal .modal-body input[disabled="disabled"] {
            background-color: #f5f7fa;
            border-color: #dfe4ed;
            color: #b4bccc;
            cursor: not-allowed;
      }


      #resource-manager >>> .modal-body {
            padding: 0;
      }

      #resource-manager >>> .el-tabs__content {
            height: 100%;
            padding: 15px 15px 15px 6px;
      }

      #resource-manager >>> .el-tabs__content .el-tab-pane {
            height: 100%;
      }
</style>
