.SeverityComponent003 .container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.SeverityComponent003 .container>.title-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.SeverityComponent003 .container>.title-area>p {
    margin: 0;
}

.SeverityComponent003 .container>.triangle {
    -webkit-filter: grayscale(65%);
    filter: grayscale(65%);
    width: 100%;
    height: 0px;
    border-right: 50px solid red;
    border-bottom: 50px solid transparent;
}