.page-tree-panel .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.page-tree-panel .container>.border-label {
    width: 100%;
    border: 2px solid #3966b8;
    border-radius: 5px 16.5px 16.5px 16.5px;
    padding: 6px 12px;
    color: #519dff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.page-tree-panel .container>.tree-bg {
    overflow: auto;
    width: 100%;
    flex: 1;
    display: flex;
    background-image: linear-gradient(rgba(37, 89, 149, 0.5), rgba(82, 92, 163, 0.5), rgba(82, 92, 163, 0.5), rgba(37, 89, 149, 0.5));
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 0px;
    padding: 10px;
}

.page-tree-panel .container>.tree-bg>.tree {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: auto;
    flex-direction: column;
}

.page-tree-panel .container>.tree-bg>.tree>.empty-msg {
    text-align: center;
    color: #cacaca;
}

.page-tree-panel .icon-bg {
    width: 65px;
    height: 53px;
    margin-top: 9px;
    position: absolute;
    top: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(84, 94, 113, 0.4));
    z-index: -1;
}

.page-tree-panel .icon-bg-close {
    /*left: -38px;*/
}

.page-tree-panel .icon-bg>.bullet {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 5px solid #4582d5;
    border-bottom: 4px solid transparent;
    padding-right: 37px;
}

.page-tree-panel .icon-bg>.bullet-open {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 5px solid #4582d5;
    border-bottom: 4px solid transparent;
    margin-right: -37px;
}

.page-tree-panel .icon {
    display: inline-block;
    background-color: #7359f6;
    border-radius: 8px;
    width: 14px;
    height: 14px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.page-tree-panel .icon-plus:after {
    background-color: #f8f8f8;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 3px;
    content: "";
}

.page-tree-panel .icon-plus:before {
    background-color: #f8f8f8;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 3px;
    left: 6px;
    content: "";
}

.page-tree-panel .icon-minus:after {
    background-color: #f8f8f8;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 3px;
    content: "";
}

.page-tree-panel .icon-bullet {
    width: 6px;
    height: 6px;
    background-color: transparent;
    border: 2px solid #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 6px;
    margin-left: 2px;
}

.page-tree-panel ul,
.page-tree-panel li {
    list-style: none;
    padding: 0;
}

.page-tree-panel .tree-item {
    display: flex;
    align-items: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    height: 23px;
    padding: 0 3px;
    margin-bottom: 1px;
    color: #d2d2d2;
}

.page-tree-panel .tree-item>label {
    padding-left: 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.page-tree-panel .tree-item:hover {
    background-color: #476a98;
}

.page-tree-panel .tree-item.active {
    background-color: #519dff !important;
    color: #ffffff;
}

.page-tree-panel .tree>ul>li>ul>li>span {
    padding-left: 25px;
}

.page-tree-panel .tree>ul>li>ul>li>ul>li>span {
    padding-left: 50px;
}

.page-tree-panel .tree>ul>li>ul>li>ul>li>ul>li>span {
    padding-left: 75px;
}

.page-tree-panel .tree>ul>li>ul>li>ul>li>ul>li>ul>li>span {
    padding-left: 100px;
}

.page-tree-panel .tree>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>span {
    padding-left: 120px;
}

.page-tree-panel .tree>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>span {
    padding-left: 150px;
}
