<template>
      <div class="layer-group" style="display:inline-block">

            <div class="w-btn-group">
                  <el-tooltip class="item" effect="dark" content="forward" placement="top">
                        <button class="w-btn img-icon-btn icon-forward" @click="onArrange('arrange_forward')"
                                :disabled="!active || !arrangeButtons.forward">forward
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="front" placement="top">
                        <button class="w-btn img-icon-btn icon-front" @click="onArrange('arrange_front')"
                                :disabled="!active || !arrangeButtons.front">front
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="back" placement="top">
                        <button class="w-btn img-icon-btn icon-back" @click="onArrange('arrange_back')"
                                :disabled="!active || !arrangeButtons.back">back
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="backward" placement="top">
                        <button class="w-btn img-icon-btn icon-backward" @click="onArrange('arrange_backward')"
                                :disabled="!active || !arrangeButtons.backward">backward
                        </button>
                  </el-tooltip>
            </div>


            <div class="w-btn-group">
                  <el-tooltip class="item" effect="dark" content="Match Width" placement="top">
                        <button class="w-btn img-icon-btn icon-mwidth" @click="onMatchSize('match_width')"
                                :disabled="!active || !sizeButtons.width">al
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="Match Height" placement="top">
                        <button class="w-btn img-icon-btn icon-mheight" @click="onMatchSize('match_height')"
                                :disabled="!active || !sizeButtons.height">ahc
                        </button>
                  </el-tooltip>
            </div>


            <div class="w-btn-group">
                  <el-tooltip class="item" effect="dark" content="left" placement="top">
                        <button class="w-btn img-icon-btn icon-al" @click="onAlign('align_left')"
                                :disabled="!active || !alignButtons.left">al
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="H center" placement="top">
                        <button class="w-btn img-icon-btn icon-ahc" @click="onAlign('align_center')"
                                :disabled="!active || !alignButtons.center">ahc
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="right" placement="top">
                        <button class="w-btn img-icon-btn icon-ar" @click="onAlign('align_right')"
                                :disabled="!active || !alignButtons.right">ar
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="top" placement="top">
                        <button class="w-btn img-icon-btn icon-at" @click="onAlign('align_top')"
                                :disabled="!active || !alignButtons.top">at
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="V center" placement="top">
                        <button class="w-btn img-icon-btn icon-avc" @click="onAlign('align_middle')"
                                :disabled="!active || !alignButtons.middle">avc
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="bottom" placement="top">
                        <button class="w-btn img-icon-btn icon-ab" @click="onAlign('align_bottom')"
                                :disabled="!active || !alignButtons.bottom">ab
                        </button>
                  </el-tooltip>
            </div>


            <div class="w-btn-group">
                  <el-tooltip class="item" effect="dark" content="distribute horizoncally" placement="top">
                        <button class="w-btn img-icon-btn icon-distrih" @click="onDistribute('distribute_horizontally')"
                                :disabled="!active || !distributeButtons.horizontal">distribute horizontally
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="distribute vertically" placement="top">
                        <button class="w-btn img-icon-btn icon-distriv" @click="onDistribute('distribute_vertically')"
                                :disabled="!active || !distributeButtons.vertical">distribute vertically
                        </button>
                  </el-tooltip>
            </div>


      </div>
</template>

<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
      import TwoToolbarMediator from "./TwoToolbarMediator";

      import {WORK_LAYERS} from "../../../../wemb/wv/layer/Layer";
      import {IVirtualPropertyManager} from "../../../model/VirtualPropertyManager";
	import WVComponent from "../../../../wemb/core/component/WVComponent";
	@Component({
		components: {}
	})
	export default class TwoToolbar extends Vue {
            public static readonly EVENT_ALIGN:string="event/align";
            public static readonly EVENT_ARRANGE:string="event/arrange";
            public static readonly EVENT_SIZE:string="event/size";
            public static readonly EVENT_DISTRIBUTE:string="event/distribute";

		private active:boolean = false;
		private activeLayerName:WORK_LAYERS = WORK_LAYERS.NONE_LAYER;
		public alignButtons = {
			left: false,
			center: false,
			right: false,
			top: false,
			middle: false,
			bottom: false
		}
		public sizeButtons = {
			width: false,
			height: false
		}
		public arrangeButtons = {
			forward: false,
			front: false,
			back: false,
			backward: false
		}
		public distributeButtons = {
			horizontal: false,
			vertical: false

		}

		mounted(){
			window.wemb.viewComponentMap.set(TwoToolbarMediator.NAME, this);

            }


		onChangeMode(event) {
		}

		onAlign(command) {
                  this.$emit(TwoToolbar.EVENT_ALIGN, command);
		}


		onArrange(command) {
                  this.$emit(TwoToolbar.EVENT_ARRANGE, command);

		}

		onMatchSize(command) {
                  this.$emit(TwoToolbar.EVENT_SIZE, command);
		}

		onDistribute(command) {
                  this.$emit(TwoToolbar.EVENT_DISTRIBUTE, command);
		}


		/////////////////////////////////////////////////////////////////////




		/////////////////////////////////////////////////////////////////////
            public noti_openPage(){
			this.active =true;
            }


            public noti_closedPage(){

	            this.active =false;
            }


            public noti_changeActiveLayer(layerName:WORK_LAYERS){
			this.activeLayerName =layerName;
            }



            public noti_updateSelectedInfo(selectedComList:Array<WVComponent> ){
		      let selectedListLength = selectedComList.length;

                  this.alignButtons.left = false;
                  this.alignButtons.center = false;
                  this.alignButtons.right = false;
                  this.alignButtons.top = false;
                  this.alignButtons.middle = false;
                  this.alignButtons.bottom = false;



                  this.sizeButtons.width = false;
                  this.sizeButtons.height = false;

                  this.distributeButtons.horizontal= false;
                  this.distributeButtons.vertical= false;


                  this.arrangeButtons.forward=false;
                  this.arrangeButtons.front=false;
                  this.arrangeButtons.back=false;
                  this.arrangeButtons.backward=false;


                  if(selectedListLength>=2){
                        this.alignButtons.left = true;
                        this.alignButtons.center = true;
                        this.alignButtons.right = true;
                        this.alignButtons.top = true;
                        this.alignButtons.middle = true;
                        this.alignButtons.bottom = true;


                        this.sizeButtons.width = true;
                        this.sizeButtons.height = true;

                        this.distributeButtons.horizontal= true;
                        this.distributeButtons.vertical= true;

                        this.arrangeButtons.forward=true;
                        this.arrangeButtons.front=true;
                        this.arrangeButtons.back=true;
                        this.arrangeButtons.backward=true;
                  }



                  if(selectedListLength==1){
                        this.arrangeButtons.forward=true;
                        this.arrangeButtons.front=true;
                        this.arrangeButtons.back=true;
                        this.arrangeButtons.backward=true;
                  }
            }

	}


</script>

<style scoped>
      .edit-area-toolbar-wrap{display: inline;}
      .disabled {
            opacity:0.5;
      }

</style>
