/*
Horizontal bar Center Balloon
*/

.horizon-bar-center-balloon {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.horizon-bar-center-balloon .barContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFF;
    border-radius: 30px;
    min-height: 10px;
    height: 60%;
}

.horizon-bar-center-balloon .bar {
    width: 50%;
    height: 100%;
    min-height: 10px;
    height: 100%;
    background: #0EB795;
    border-radius: 30px;
}

.horizon-bar-center-balloon .label {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    width: 20%;
}

.horizon-bar-center-balloon .labelBody {
    white-space: nowrap;
    /*min-width:120px;*/
    background: #0EB795;
    border-radius: 6px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    left: -50%;
    position: relative;
}

.horizon-bar-center-balloon .labelTxt {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: #FFF;
}

.horizon-bar-center-balloon .labelArrow {
    left: -50%;
    position: relative;
    width: 10px;
    height: 10px;
    background: #0EB795;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}