<template>
<div class="code-snippets-favorite">   
    <ul>
        <li class="f-item" v-for="(item, index) of list" :key="index" :data-id="item.id"><button @click="removeItem(item.id)" class="favorite-btn" ><i class="fa fa-star" aria-hidden="true"></i></button><span>{{item.text}}</span></li>
    </ul>  
    <!--<ul>
        <li><button class="favorite-btn"><i class="fa fa-star" aria-hidden="true"></i></button><span>complete</span></li>
        <li><button class="favorite-btn"><i class="fa fa-star" aria-hidden="true"></i></button><span>complete</span></li>
        <li><button class="favorite-btn"><i class="fa fa-star" aria-hidden="true"></i></button><span>complete</span></li>
        <li><button class="favorite-btn"><i class="fa fa-star" aria-hidden="true"></i></button><span>complete</span></li>
    </ul>-->
</div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Component from "vue-class-component";
    import { dto } from '../../../model/dto/SnippetDTO';
    import SnippetFavoriteItemDTO = dto.SnippetFavoriteItemDTO;

    @Component({
        components: {
        }
    })
    export default class FavoriteSnippetsComponent extends Vue {
        public list: Array<SnippetFavoriteItemDTO> = [];

        created(){
            /*let self = this;
            Vue.$WScriptService.$bus.$on("loadedFavoriteList", function(list){
                self.list = list;
            });

            Vue.$WScriptService.$bus.$on("updateFavoriteList", function(list){
                self.list = list;
            });

            Vue.$WScriptService.loadFavoriteList();*/
            this.__createContextMenu();
        }

        mounted(){
            let self = this;
            $(".code-snippets-favorite").on("dblclick", ".f-item", function(){				
                let id:string = $(this).attr("data-id");
                self.$emit("insertCode", id);
                //Vue.$WScriptService.insertCodeById(id);
			})
        }
       
        setFavoriteSnippets(list:Array<SnippetFavoriteItemDTO>){
            this.list = list;
        }
        
        __createContextMenu(){
            let self = this;
            
            $["contextMenu"]({
                selector: '.f-item',
                items: {
                    "insert":{
                        name: "insert",
                        icon: "insert",
                        callback: function(param01, param02){
                            let id:string = $(this).attr("data-id");
                            self.$emit("insertCode", id);
                            //Vue.$WScriptService.insertCodeById(id);
                        }
                    },

                    "clipboard":{
                        name: "clipboard",
                        icon: "clipboard",
                        callback: function(){
                            let id:string = $(this).attr("data-id");
                            self.$emit("copyToClipboard", id);
                            //Vue.$WScriptService.copyCodeToClipboardById(id);
                        }
                    },

                    "remove": {
                        name: "remove",
                        icon: "remove",
                        callback: function(){
                            let id =$(this).attr("data-id");
                            let item = self.list.find(x=>x.id==id);
                            if(item){
                                self.removeItem(item.id);
                            }
                        }
                    }
                }
            });
        }    

        removeItem(id:string){
            this.$emit("removeFavorete", id);
           //Vue.$WScriptService.removeFavorite( item );
        }
        
    }
</script>
<style>
.context-menu-list{
    background: #f5f5f5;
    border: 1px solid #979797;
    font-size: 12px;
    box-shadow: 2px 2px 2px #999;
    z-index: 10 !important;
}

.context-menu-item.icon{
    height: 2.4rem;
    line-height: 2.4rem;
    padding:0;
    margin:1px;
}    

.context-menu-item.icon>span{    
    display: block;
    padding-left: 30px;
}

.context-menu-item.icon>span:hover{
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}


.code-snippets-favorite ul{margin:0;padding:0;}
.code-snippets-favorite li{display:flex;}
.code-snippets-favorite li>span{flex:1;}

.code-snippets-favorite li{list-style: none; padding: 4px 8px; border-bottom: 1px solid #e6ebf5;}
.code-snippets-favorite .favorite-btn{background:none; border:none;cursor: pointer;padding: 0 4px; margin-right:8px; outline: none; color: #ecac00;text-shadow: 1px 1px #ddd;}
</style>