<template>
      <modal
            id="menuset-popup"
            name="menuset-popup"
            class="w-modal modal-tabs"
            @opened="modalOpened"
            :click-to-close="false"
            :resizable="true"
            :width="1100"
            :height="600"
            :min-width="1100"
            :min-height="600"
            draggable=".modal-header">
            <div class="modal-header">
                  <h4>Menuset Manager</h4>
                  <a class="close-modal-btn" role="button" @click="_onHidden">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="menu-settings-wrap" data-popup="renobit-menuset-popup">
                  <div class="menuset-list-wrap d-flex flex-column">
                        <div class="top-btn-wrap">
                              <a class="upload-btn" role="button">{{$t('common.importFile')}}
                                    <input type="file" accept=".json, json/*"/>
                              </a>
                              <el-button class="menuset-save-btn" size="small" type="" :disabled="!menuList.length" round>{{$t('common.exportFile')}}</el-button>
                        </div>
                        <div class="menu-title">
                              <h4 class="title">{{$t('extension.menu.subTitle')}}</h4>
                              <el-button type="success" size="small" class="icon-btn" @click="addMenuSet"><i
                                    aria-hidden="true" class="fa fa-plus"></i></el-button>
                        </div>
                        <el-form>
                              <el-form-item>
                                    <el-input size="small"
                                              v-model="menusetSearchString"
                                              placeholder="Search Menuset" clearable></el-input>
                              </el-form-item>
                        </el-form>
                        <el-radio-group v-model="selectedSetId" class="list-table-wrap flex-scroll" :class="{onlyEdit:onlyEditMode}">
                              <el-table ref="menuTable" :data="searchedMenuList()" :show-header="false" border stripe
                                        @current-change="selectMenuTable">
                                    <el-table-column>
                                          <template slot-scope="scope" show-overflow-tooltip>
                                                <div class="text-no-wrap flex-space-between" :class="{selected: selectedSetId == scope.row.id}">
                                                      <el-radio :label="scope.row.id"> {{scope.row.name === '' ? ' ' : scope.row.name }}</el-radio>
                                                      <el-button type="text" class="delete-btn"
                                                                 @click="delMenuSet(scope.row, $event)"><i
                                                            aria-hidden="true" class="fa fa-trash-o"></i></el-button>
                                                </div>
                                          </template>
                                    </el-table-column>
                              </el-table>
                        </el-radio-group>
                  </div>

                  <div class="menuset-edit-wrap">
                        <div class="top-area" v-show="selectedSetId">
                              <div class="menuset-field">
                                    <span>{{$t('extension.menu.menusetName')}}</span>
                                    <el-input class="inputMenuSet" size="small" :placeholder="$t('extension.menu.inputMenuset')"
                                              v-model="selectedRow.name"></el-input>
                              </div>
                              <el-button class="save-btn" round size="small" type="primary" @click="_onOk()"><i
                                    class="fa fa-floppy-o" aria-hidden="true"></i> {{$t('common.save')}}
                              </el-button>
                        </div>

                        <div class="hRule"  v-show="selectedSetId"></div>
                        <div class="content-area" v-show="selectedSetId">
                              <div class="page-list-wrap">
                                    <h5 class="menu-title flex-space-between">{{$t('extension.menu.pageList')}}</h5>
                                    <div class="d-flex align-items-center">
                                          <el-checkbox style="margin-right: 14px;" :indeterminate="isIndeterminate"
                                                       v-model="checkAll" @change="handleCheckAllChange">{{$t('extension.menu.total')}}
                                          </el-checkbox>
                                          <el-input class="search-field" size="small" v-model="searchStr"
                                                    :placeholder="$t('extension.menu.searchPage')">
                                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                                <i @click="clearSearchStr()"
                                                   class="clear-search-str el-icon-error el-input__icon"
                                                   slot="suffix"></i>
                                          </el-input>
                                    </div>
                                    <div class="d-flex flex">
                                          <div class="page-list flex-scroll" v-if="!searchMode">
                                                <template v-for="item in pageTreeData">
                                                      <menuset-page-tree-item :data="item"
                                                                              @change="changePageChecked"></menuset-page-tree-item>
                                                </template>
                                          </div>
                                          <div class="page-list menuset-search-list flex-scroll" v-else>
                                                <div class="menuset-page-tree-item flat"
                                                     v-if="resultList.length>0"
                                                     v-for="item in resultList"
                                                     :key="item.id"
                                                     :class="[item.type != 'page' ? 'group' : 'page']"
                                                >
                                                      <div class="label">
                                                            <el-checkbox @change="changePageChecked"
                                                                         v-model="item.checked" class="label"
                                                                         style="width:100%;" :label="item.text "
                                                                         :key="item.id" border>
                                                                  <div class="flex" style="white-space: nowrap;">
                                                                        <div class="d-flex">
                                                                              <i v-if="item.type != 'page'" class="fa fa-folder-o" aria-hidden="true"></i>
                                                                              <i class="fa fa-file-o" aria-hidden="true" v-else></i>
                                                                              <div class="txt ellipsis">{{item.text}}</div>
                                                                              <span class="search-children-len" v-if="item.type != 'page' && item.childrenFlat.length">
                                                        (+{{item.childrenFlat.length}})
                                                    </span>
                                                                        </div>
                                                                        <div class="parents-txt" v-if="item.parentsStr">
                                                                              {{item.parentsStr}}
                                                                        </div>
                                                                  </div>
                                                                  <el-badge :value="item.count"></el-badge>
                                                            </el-checkbox>
                                                      </div>
                                                </div>
                                                <div v-if="resultList.length==0"
                                                     style="margin: 10px 5px; color: #555;text-align: center;">
                                                      {{$t('common.noSearchResult')}}
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="arrow-wrap">
                    <span class="arrow-btn" @click="addPage">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </span>
                              </div>

                              <div class="menu-edit-wrap d-flex flex-column">
                                    <h5 class="menu-title">{{$t('extension.menu.menuset')}}</h5>
                                    <div class="menu-top-ui flex-space-between">
                                          <div>
                                                <button class="control-btn" round @click="expandAll">+</button>
                                                <button class="control-btn" round @click="collapseAll">-</button>
                                          </div>
                                          <el-button class="addBtn" size="small" @click="addNewMenuItem">{{$t('extension.menu.addMenuset')}}
                                          </el-button>
                                    </div>
                                    <div id="menuSetContainer" class="dd flex-scroll"></div>
                              </div>
                        </div>
                        <div class="content-area" v-show="!selectedSetId">
                              {{$t('extension.menu.noMenuset')}}
                        </div>
                  </div>
            </div>

      </modal>
</template>


<script lang="ts">
      import {Component, Vue, Watch} from "vue-property-decorator";
      import MenusetPageTreeItem from "./MenusetPageTreeItem";
      import EditorStatic from "../../../controller/editor/EditorStatic";

      @Component({
            components: {
                  MenusetPageTreeItem
            }
      })
      export default class MenusetManagerModal extends Vue {

            selectedSetId: string = '';
            selectedRow:any ={name: ''};
            folderPopupVisible: boolean = false;
            folderPopupItem: any = { name: '' };
            linkPopupVisible: boolean = false;
            linkPopupItem: any = {name: '', url: ''};
            menuList: Array<any> = [];
            pageList: Array<any> = [];
            pageTreeData: Array<any> = [];
            flatPageTreeData: Array<any> = [];
            checkAll: boolean = false;
            checkedPage: Array<any> = [];
            resultList: Array<any> = [];
            isIndeterminate: boolean = false;
            addPopupType: string =  'folderForm';
            searchStr: string = '';
            menusetSearchString: string = '';
            countObject:any = {};
            pageRootId: string = "wv_root";

            onlyEditMode: boolean = false;
            currentPromise:any = {
                  resolve: null,
                  reject: null
            };

            @Watch("searchStr", {immediate: true, deep: true})
            onSearchStrChanged(val:string, oldVal: string) {
                  this.checkAllAct(false);
                  this.resultList.splice(0, this.resultList.length);
                  if (this.searchMode) {
                        var self = this;
                        this.resultList = this.resultList.concat(this.flatPageTreeData.filter(
                              function (x) {
                                    return x.text.toLowerCase().indexOf(self.searchStr.toLowerCase()) != -1
                              }));
                  } else {
                        this.resultList = this.resultList.concat(this.flatPageTreeData);
                  }
            }

            searchedMenuList(){
                return this.menuList.filter(menu => menu.name.toLowerCase().includes(this.menusetSearchString.toLowerCase()));
            }

            get searchMode() {
                  return this.searchStr.length > 0;
            }

            setPageTreeData() {
                  this.flatPageTreeData = [];
                  var pageTreeArray = wemb.pageTreeDataManager.treeData.filter(element => element.type != 'master');

                  var flatData = $.extend(true, {}, {data: pageTreeArray});
                  flatData = flatData.data;
                  var rootData = flatData.find((x)=>{
                        if (x.parent == '#') return x
                  });

                  var ary = [];
                  if (rootData) {
                        rootData.count = this.countObject[rootData.id];
                        rootData.checked = false;
                        rootData.parentsStr = "";

                        ary.push(rootData);
                        this.flatPageTreeData.push(rootData);
                        rootData.children = this.__getChildrenData(rootData, flatData);
                        rootData.childrenFlat = this.__getChildrenFlatData(rootData.id, flatData);
                  }

                  this.pageTreeData = ary;
                  this.resultList.splice(0, this.resultList.length);
                  this.resultList = this.resultList.concat(this.flatPageTreeData);
            }

            __getChildrenData(parentData, data) {
                  var parentID = parentData.id;
                  var ary = [];
                  var filterData = data.filter((x)=>{
                        return x.parent == parentID
                  });
                  for (var i = 0, len = filterData.length; i < len; i++) {
                        var child = filterData[i];

                        child.count = this.countObject[child.id];
                        child.checked = false;
                        if (!parentData.parentsStr) {
                              child.parentsStr = "";
                        } else {
                              child.parentsStr = parentData.parentsStr + " > ";
                        }

                        child.parentsStr += parentData.text;

                        this.flatPageTreeData.push(child);
                        if (child.type == "group") {
                              child.children = this.__getChildrenData(child, data);
                              child.childrenFlat = this.__getChildrenFlatData(child.id, data);
                        }
                        ary.push(child);
                  }
                  return ary;
            }

            __getChildrenFlatData(parentID, data) {
                  var ary = [];
                  var filterData = data.filter((x)=>{
                        return x.parent == parentID
                  });
                  for (var i = 0, len = filterData.length; i < len; i++) {
                        var child = filterData[i];
                        ary.push(child);

                        if (child.type == "group") {
                              ary = ary.concat(this.__getChildrenFlatData(child.id, data));
                        }
                  }

                  return ary;
            }

            changePageChecked() {
                  if (this.resultList.filter((x)=>{
                        return x.checked == false
                  }).length) {
                        this.checkAll = false;
                  } else {
                        this.checkAll = true;
                  }
            }

            modalOpened(){
                  this.bindEvent();
                  this.loadMenusetList();
                  this.setPageTreeData();
            }

            bindEvent(){
                  window.wemb.menusetDataManager.$bus.$on("update_menuset_list", (newList)=>{
                        this.menuList.splice(0, this.menuList.length);
                        this.menuList.push(...newList);
                  })
                  //파일 저장하기
                  $(this.$el).on("click.file", ".menuset-save-btn", ()=>{
                        window.wemb.menusetDataManager.exportMenusetListAsFile();
                  });

                  //파일 가져오기
                  let $uploadBtn = $(this.$el).find(".upload-btn");
                  $(this.$el).on('change.file', 'input[type=file]', (e:any)=>{
                        var file:any = e.target.files[0];
                        $uploadBtn.find("input").remove();
                        $uploadBtn.append('<input type="file" accept=".json, json/*">');
                        window.wemb.menusetDataManager.importMenusetListAsFile(file);
                  });
            }

            loadMenusetList(){
                  //읽어올때, 최신정보로 load
                  window.wemb.menusetDataManager.loadMenesetList().then((data:any)=>{
                        this.menuList = $.extend(true, [], data);
                        if( this.menuList.length ){
                              if (!this.selectedSetId) {
                                    this.selectedSetId = this.menuList[0].id;
                              }

                              for (var i = 0; i < this.menuList.length; i++) {
                                    var menuSetItem = this.menuList[i];
                                    if (menuSetItem.id == this.selectedSetId) {
                                          this.$refs.menuTable["setCurrentRow"](this.menuList[i]);
                                          this.makeNestableMenu();
                                          break;
                                    }
                              }
                        }else{
                              //기존에는 메뉴셋이 하나도 등록이 안되있으면 메뉴셋 한개 생성했으나 주석처리함
                              // this.menuList = [];
                              // this.addMenuSet();
                              // this.selectMenuTable(this.menuList[0], null);
                        }
                  }).catch((error)=>{
                        console.log("error during menuset loading..." , error);
                        this.$message("Menuset 정보를 불러오지 못했습니다. 다시 시도해 주세요.");
                  })
            }


            show(selectedSetId:string=null, onlyEditMode) {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
                  this.selectedSetId = selectedSetId;
                  this.pageList = wemb.pageManager.getPageInfoList();
                  this.onlyEditMode = onlyEditMode;

                  this.$modal.show("menuset-popup");
                  if( !this.onlyEditMode ){
                        return new Promise((resolve, reject)=>{
                              this.currentPromise.resolve = resolve;
                              this.currentPromise.reject = reject;
                        });
                  }
            }

            hide(){
                  this.$modal.hide("menuset-popup");
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
            }

            _onHidden() {
                  var locale_msg = this.$i18n.messages.wv;
                  this.$confirm(locale_msg.common.confirmExitWindow, locale_msg.common.notification, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(()=>{
                        this.hide();
                        if( !this.onlyEditMode ){
                              if( this.currentPromise.reject ){
                                    this.currentPromise.reject();
                              }
                        }
                  }, (error)=>{
                        //취소
                  })
            }

            _onOk() {
                  var locale_msg = this.$i18n.messages.wv;
                  let list = this.menuList.concat();
                  if(list.find(x=>x.name === '')){
                        this.$message.error(locale_msg.extension.menu.inputMenuset);
                        return;
                  }
                  this.$confirm(locale_msg.common.confirmSave, locale_msg.common.notification, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'info'
                  }).then(()=>{
                        // 서버에 JSON 파일로 저장
                        window.wemb.menusetDataManager.updateMenusetList( list ).then(()=>{

                              if( !this.onlyEditMode ){
                                    this.currentPromise.resolve({
                                          menuset: this.menuList.find(x=>x.id == this.selectedSetId)
                                    });

                                    this.hide();
                              }else{
                                    this.$message(locale_msg.common.successSave);
                                    //successSave
                              }

                              return;
                        },(error)=>{
                              let message = locale_msg.common.errorExecute + locale_msg.common.retry;
                              this.$message.error(message);
                        })
                  })
            }

            handleCheckAllChange(val) {
                  this.checkAllAct(val);
            }

            checkAllAct(bool) {
                  this.checkAll = bool;
                  for (var i = 0, len = this.resultList.length; i < len; i++) {
                        this.resultList[i].checked = bool;
                  }
            }

            /**
             * @function
             * @param (currentRow, oldCurrencRow)
             * @description 메뉴셋 선택 함수
             */
            selectMenuTable(currentRow, oldCurrentRow) {
                  if (currentRow) {
                        this.handleCheckAllChange(false);

                        this.selectedSetId = currentRow.id;
                        this.selectedRow = currentRow;
                        this.countObject = {};

                        this.makeNestableMenu();
                  }
            }

            setPageCount() {
                  for (var i = 0; i < this.pageList.length; i++) {
                        var page = this.pageList[i];
                        this.pageList[i].count = this.countObject[page.id];
                  }

                  this.setPageTreeData();
            }

            changePageCount() {
                  this.countObject = {};

                  var length = $('#menuSetContainer').find("li").length;
                  for (var i = 0; i < length; i++) {

                        var dataID = $($('#menuSetContainer').find("li")[i]).attr("data-id");
                        var type = $($('#menuSetContainer').find("li")[i]).attr("data-type");

                        if (type == 'page') {
                              if (!this.countObject[dataID]) {
                                    this.countObject[dataID] = 1;
                              } else {
                                    this.countObject[dataID]++;
                              }
                        }
                  }

                  this.setPageCount();
            }

            makeNestableMenu() {
                  $('#menuSetContainer').nestable('destroy');
                  $('#menuSetContainer').nestable({
                        json: this.selectedRow.structure,
                        itemRenderer: this.itemRenderer
                  }).on('change', this.updateMenuSet);

                  var oMenuItem = $("#menuSetContainer > ol > li");
                  var oThis = this;

                  $.each(oMenuItem, function (key, el) {
                        oThis.setBtnEvent(el);
                  });

                  this.changePageCount();
            }

            updateMenuSet() {
                  //console.log($('#menuSetContainer').nestable('serialize'));
                  this.selectedRow.structure = $('#menuSetContainer').nestable('serialize');
            }

            /**
             * @function
             * @description 메뉴셋 추가 함수
             */
            addMenuSet() {
                  var newMenuSet = {
                        id: this.generateUUID(),
                        name: this.getNewMenusetName(),
                        structure: []
                  };

                  this.menuList.push(newMenuSet);

                  window.wemb.menusetDataManager.updateMenusetList(this.menuList);
            }

            getNewMenusetName():string{
                  let nameList:Array<string> = this.menuList.map(x=>x.name);
                  let name:string = "New Menuset";
                  let count:any = "";
                  while( nameList.find(x=>x==name+count) ){
                        if(count){
                              count++;
                        }else{
                              count=1;
                        }
                  }
                  return name+count;
            }


            /**
             * @function
             * @param (row, event)
             * @description 메뉴셋 삭제 함수
             */
            delMenuSet(row, event) {
                  event.stopPropagation();
                  var self = this;
                  var locale_msg = this.$i18n.messages.wv;
                  this.$confirm(locale_msg.common.confirmDelete, locale_msg.common.notification, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'info'
                  }).then(function () {

                        var index = self.menuList.indexOf(row);

                        var selectedIndex = self.menuList.indexOf(self.selectedRow);

                        self.menuList.splice(index, 1);

                        if (index == selectedIndex) {
                              if (self.menuList.length > 0) {
                                    self.$refs.menuTable["setCurrentRow"](self.menuList[0]);
                              } else {
                                    self.selectedSetId = null;
                              }
                        } else {
                              if (self.menuList.length == 0) {
                                    self.selectedSetId = null;
                              }
                        }
                        window.wemb.menusetDataManager.updateMenusetList(self.menuList);
                  })
            }

            __getSelectedItems() {
                  var items = this.resultList.filter(function (x) {
                        return x.checked == true
                  });
                  if (this.searchMode) {

                        var groupItems = items.filter(function (x) {
                              return x.type != 'page'
                        });

                        var ary = $.extend(true, [], items);

                        for(var i=0, len=groupItems.length; i<len; i++) {
                              var childrenFlatItem = $.extend(true, [], groupItems[i].childrenFlat);
                              ary = ary.concat(childrenFlatItem);
                        }

                        return ary;
                  } else {
                        return items;
                  }
            }

            /**
             * @function
             * @description 페이지 메뉴셋에 추가 함수
             *
             * 2020.03.06 Yoon
             * 페이지 메뉴셋을 추가 할 때 마스터 페이지는 들어가지 않도록 수정
             */
            addPage() {
                  var addData = this.__getSelectedItems();

                  var selectedTreeData = this.__getCreatMenuData(addData);

                  for(let i = 0; i < selectedTreeData.length; i++){
                        if(selectedTreeData[i].type === 'master'){
                              this.$message.error(this.$i18n.messages.wv.extension.menu.addMasterError);
                              return;
                        }
                  }

                  this.makeMenuItem(selectedTreeData);

                  var oThis = this;
                  selectedTreeData.forEach(function (value, index) {
                        oThis.addMenuItem(selectedTreeData[index]);
                  });

                  this.handleCheckAllChange(false);
                  this.clearSearchStr();
            }

            __getParents(item) {
                  var ary = [];
                  if (item.id == this.pageRootId) {
                        return ary;
                  }

                  var target = item;
                  var itemList = wemb.pageTreeDataManager.treeData;

                  while (target && target.id != this.pageRootId) {
                        target = itemList.find(function (x) {
                              if (x.id == target.parent) return x
                        });
                        ary.push(target);
                  }

                  return ary;
                  //pageRootId
            }

            __getCreatMenuData(items) {
                  var treeData = [];
                  var treeFlatData = [];
                  for (var i = 0, len = items.length; i < len; i++) {
                        var item = items[i];
                        var parents = this.__getParents(item);
                        var data = {
                              id: item.id,
                              text: item.text,
                              type: item.type
                        };

                        if (this.pageRootId == item.id && !treeData.find(function (x) {
                              if (x.id == this.pageRootId) return x
                        })) {
                              treeData.push(data);
                              treeFlatData.push(data);
                              continue;
                        }

                        var findParent;

                        for (var j = 0, len2 = parents.length; j < len2; j++) {
                              var parent = parents[j];
                              var findItem = treeFlatData.find(function (x) {
                                    if (x.id == parent.id) return x
                              });
                              if (findItem) {
                                    findParent = findItem;
                                    if (!findParent.children) {
                                          findParent.children = [];
                                    }
                                    break;
                              }
                        }

                        if (findParent) {
                              findParent.children.push(data);
                              treeFlatData.push(data);
                        } else {
                              treeData.push(data);
                              treeFlatData.push(data);
                        }
                  }

                  return treeData;
            }

            makeMenuItem(arr) {
                  for (var i = 0; i < arr.length; i++) {
                        var item = arr[i];
                        item.name = item.page_name = item.text;
                        if (item.type == 'root' || item.type == 'group') {
                              item.type = 'folder'
                        }

                        if (item.children && item.children.length > 0) {
                              this.makeMenuItem(item.children);
                        }
                  }
            }

            /**
             * @function
             * @param (formName:string)
             * @description 링크, 폴더 추가를 위한 함수
             */
            addNewMenuItem() {
                  var addObj = {};
                  addObj.id = this.generateUUID();
                  addObj.name = "menu name";
                  addObj.url = "";
                  addObj.type = "folder";

                  this.addMenuItem(addObj);
            }

            setBtnEvent(listItem) {
                  var oEditBtn = $(listItem).find('.btnEditPage');
                  var oDelBtn = $(listItem).find('.btnDelPage');

                  oEditBtn.click(function (e) {
                        this.editMenuItem(e.currentTarget);
                  }.bind(this));

                  oDelBtn.click(function (e) {
                        this.delMenuItem(e.currentTarget);
                  }.bind(this));
            }

            /**
             * 메뉴셋에 item(페이지, 링크, 폴더) 추가
             * @augments addObj
             */
            addMenuItem(addObj) {
                  var length = $("#menuSetContainer").nestable("serialize").length;

                  if (length != 0) {
                        $('#menuSetContainer').nestable('add', addObj).trigger('change');
                  } else {
                        $('#menuSetContainer').nestable('destroy');
                        $('#menuSetContainer').nestable({
                              json: [addObj],
                              itemRenderer: this.itemRenderer
                        }).on('change', this.updateMenuSet);

                        this.updateMenuSet();
                  }

                  // 이벤트 바인딩
                  var oMenuItem = $("#menuSetContainer > ol > li:last-child");
                  this.setBtnEvent(oMenuItem);

                  if (addObj.type == 'link') {
                        oMenuItem.find('.btnEditPage').trigger('click');
                  }

                  /*
                  $("#menuSetContainer").animate(
                        {scrollTop: $('#menuSetContainer').prop("scrollHeight")}
                        , 400
                        , 'linear');
                   */

                  this.changePageCount();
            }

            expandAll() {
                  if ($('#menuSetContainer')) {
                        $('#menuSetContainer').nestable('expandAll');
                  }
            }

            collapseAll() {
                  if ($('#menuSetContainer')) {
                        $('#menuSetContainer').nestable('collapseAll');
                  }
            }

            delMenuItem(target) {
                  var self = this;
                  var locale_msg = this.$i18n.messages.wv;
                  this.$confirm(locale_msg.common.confirmDelete, locale_msg.common.notification, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(function () {
                        var oListItem = $(target).parent().parent().parent();
                        oListItem.remove();
                        $('#menuSetContainer').nestable().trigger('change');

                        self.changePageCount();
                  })
            }

            editMenuItem(target) {
                  // li 태그
                  var oListItem = $(target).parent().parent().parent();
                  var data = oListItem.data();
                  var type = oListItem.attr('data-type');


                  // 기존 item 살리기
                  var orgElement = oListItem.find('.dd-content:eq(0) > div');
                  var oMenuInfoArea = orgElement;

                  // 기존 item 지우기
                  orgElement.remove();

                  var oHandler = oListItem.find('.dd-content:eq(0)');

                  // 편집영역
                  var editArea = $('<div class="editArea"></div>');
                  var $valueInput = $('<input type="text" value="' + data.name + '" class="editInput label-txt">');
                  var cancleBtn = $('<button id="btnCancle" class="editBtn cancelIconBtn"><i class="el-icon-circle-close"></i></button>');
                  var saveBtn = $('<button id="btnSave" class="editBtn saveIconBtn"><i class="el-icon-circle-check"></i></button>');
                  var labelArea = $('<div class="flex-space-between"></div>');
                  var urlArea = $('<div class="flex-space-between"></div>');

                  oHandler.append(editArea);

                  if (type == 'page') {
                        var paramValue =  (typeof data.param == 'string') ? data.param : JSON.stringify(data.param);
                        if(!paramValue || paramValue.trim() == 'undefined') {
                              paramValue = "";
                        }

                        var page_type = data.popup ? 'popup' : 'link';
                        var sync = data.sync_page_name;
                        var placeholder = '{"width":600,"height":500,"x":100,"y":100}';
                        var paramArea = $('<div class="flex-space-between"></div>');
                        var $textarea = $('<textarea>'+paramValue+'</textarea>');
                        var $chSyngPage = $('<label><input class="ckSync" type="checkbox">Sync page name</label>');
                        var $linkwrap = $('<span class="link-wrap"><label><input type="radio" name="'+data.id+'" checked="checked" value="link">link</label><label><input type="radio" name="'+data.id+'" value="popup">popup</label></span>');
                        $textarea.attr("placeholder", placeholder);

                        labelArea.append($valueInput, saveBtn, cancleBtn);
                        urlArea.append($('<div class="text-no-wrap detailInfoText">' + data.page_name + '</div>'));
                        paramArea.append($chSyngPage, $linkwrap);
                        editArea.append(labelArea, urlArea, paramArea, $textarea);

                        $linkwrap.find("input[value=" + page_type + "]").prop("checked", true);

                        if(!data.popup){
                              $textarea.hide();
                        }

                        let $sycChk = $chSyngPage.find(".ckSync");
                        $sycChk.prop("checked", sync);

                        if(sync){
                              $valueInput.attr("disabled", "disabled");
                        }

                        $sycChk.off("change").on("change", function(){
                              if( $sycChk.prop("checked") ){
                                    $valueInput.attr("disabled", "disabled");
                              }else{
                                    $valueInput.removeAttr("disabled");
                              }
                        })

                        $linkwrap.find("input").off("change").on('change', function (e) {
                              if( $(this).val() =='link' ){
                                    $textarea.hide();
                              }else{
                                    $textarea.show();
                              }
                        });

                  } else {
                        var $urlInput = $('<input type="text" class="urlInput editInput" placeholder="http://www.url.com"  >');
                        var paramArea = $('<div class="flex-space-between"></div>');
                        var optionArea = $('<div class="flex-space-between"><div class="flex popup-options"></div></div>');
                        var $ckAlways = $('<label><input class="ckAlways" type="checkbox">Always visible</label>');
                        var $linkwrap = $('<span class="link-wrap"><label><input type="radio" name="'+data.id+'" value="folder">no link</label><label><input type="radio" name="'+data.id+'"  value="link">external link</label></span>');
                        var $select = $('<select><option>_self</option><option>_blank</option></select>');


                        if(!data.url || data.url.trim() == 'undefined') {
                              data.url = "";
                        }

                        $urlInput.val(data.url);
                        urlArea.append($urlInput);

                        let $exLinkUi = urlArea.add(optionArea);

                        labelArea.append($valueInput, saveBtn, cancleBtn);
                        paramArea.append($ckAlways, $linkwrap);
                        var option = '<div class="flex-space-between">\n' +
                              '<em style="margin-right: 4px;">" </em>\n' +
                              '<input type="text" placeholder="top=500,left=500,width=400,height=400,scrollbars=yes,resizable=yes" value="" class="editInput flex">\n' +
                              '<em>")</em></div> \n' +
                              '</div>';

                        optionArea.find(".popup-options").append('<em>window.open("url", "</em>', $select, '<em>",</em>').append(option);
                        editArea.append(labelArea, paramArea, urlArea, optionArea);

                        $linkwrap.find("input[value=" + type + "]").prop("checked", true);
                        $ckAlways.find("input").prop('checked', data.always_visible);
                        $select.val(data.popup ? '_blank' : '_self');



                        if(!data.param || data.param.trim() == 'undefined') {
                              data.param = "";
                        }

                        if( data.popup ){
                              optionArea.find("input").val(data.param).removeAttr("disabled");
                        }else{
                              optionArea.find("input").val(data.param).attr("disabled", "disabled");
                        }

                        if(data.type == "folder"){
                              $exLinkUi.hide();
                        }

                        $linkwrap.find("input").off("change").on('change', function (e) {
                              if( $(this).val() =='folder' ){
                                    $exLinkUi.hide();
                              }else{
                                    $exLinkUi.show();
                              }
                        });

                        $select.off("change").on('change', function (e) {
                              if($(this).val() =='_self'){
                                    optionArea.find("input").attr("disabled", "disabled");
                              }else{
                                    optionArea.find("input").removeAttr("disabled");
                              }
                        });
                  }

                  var oThis = this;
                  $(saveBtn).on('click', function (e) {
                        var labelValue = $(editArea).find('input:eq(0)').val();
                        if(labelValue.length === 0){
                              Vue.$alert('이름을 입력하여 주십시오', {
                                    confirmButtonText: 'OK',
                                    type: "error",
                                    dangerouslyUseHTMLString: false
                              })
                              return;
                        }
                        oListItem.find('.dd-content:eq(0) > div').remove();
                        oHandler.append(oMenuInfoArea);

                        var $liHandler = oMenuInfoArea.parent().parent();
                        $liHandler.data('name', labelValue);
                        oMenuInfoArea.find('[name=label] > span').text(labelValue);

                        if (type == 'link' || type == 'folder') {
                              var isURL = $linkwrap.find("[name="+data.id+"]:checked").val() == 'link' ? true: false;
                              var urlValue = $(editArea).find('.urlInput').val();
                              var changedType = isURL ? 'link' : 'folder';
                              var iconClass = isURL ? 'fa-external-link' : 'fa-folder-open-o';
                              var isAlways = $ckAlways.find("input").eq(0).prop("checked");

                              var isPopup = $select.val() == '_blank' ? true: false;
                              var param = optionArea.find("input").val();

                              oMenuInfoArea.find(".menuIconStyle").removeClass('fa-external-link, fa-folder-open-o').addClass(iconClass);

                              $liHandler.attr({'data-url': urlValue, 'data-type': changedType, 'data-always_visible': isAlways, 'data-popup' : isPopup, 'data-param': param});
                              $liHandler.data({'url': urlValue, 'type': changedType, 'always_visible': isAlways, 'popup': isPopup, 'param': param});

                              if (isURL) {
                                    oMenuInfoArea.find('.detailInfoText > span').text(urlValue);
                                    oHandler.removeClass("type-folder type-link").addClass("type-link");
                              } else {
                                    oMenuInfoArea.find('.detailInfoText > span').text('');
                                    oHandler.removeClass("type-folder type-link").addClass("type-folder");
                              }

                        } else if(type == 'page') {
                              var isPopup = $linkwrap.find("[name="+data.id+"]:checked").val() == 'popup' ? true: false;
                              var paramValue = $(editArea).find("textarea").val();
                              var $popupIcon = $('<i class="fa fa-product-hunt fa-lg"></i>');
                              var isSync = paramArea.find(".ckSync").eq(0).prop("checked");

                              oMenuInfoArea.find(".text-no-wrap:first-child > i").remove();

                              if(isPopup) {
                                    oMenuInfoArea.find(".text-no-wrap:first-child").append($popupIcon);
                              }

                              $liHandler.attr({'data-param': paramValue, 'data-popup': isPopup, 'data-sync_page_name': isSync});
                              $liHandler.data({'param': paramValue, 'popup': isPopup, 'sync_page_name': isSync});
                        }

                        oThis.setBtnEvent(oMenuInfoArea);
                        oThis.updateMenuSet();
                  });

                  $(cancleBtn).on('click', function (e) {
                        oListItem.find('.dd-content:eq(0) > div').remove();
                        oHandler.append(oMenuInfoArea);
                        oThis.setBtnEvent(oMenuInfoArea);
                  });
            }

            itemRenderer(item_attrs, content, children, options, item) {
                  var self = this;
                  var item_attrs_string = $.map(item_attrs, function (value, key) {
                        if (key == 'data-props' || key == 'data-childrenFlat') {
                              return;
                        }

                        if(key == 'data-page_name') {
                              value = self.getPageNameById(item.id);
                        }

                        return ' ' + key + "='" + value + "'";
                  }).join(' ');

                  var html = '<' + options.itemNodeName + item_attrs_string + '>';
                  //type = folder, page, link

                  html += '<div class="dd-content type-' + item.type + '">';

                  html += '<div class="dd-handle">';
                  // 메뉴 아이템 타입별 아이콘
                  if (item.type == 'folder') {
                        html += '<i class="menuIconStyle fa fa-folder-open-o fa-lg"></i>'
                  } else if (item.type == 'link') {
                        html += '<i class="menuIconStyle fa fa-external-link fa-lg"></i>'
                  } else {
                        html += '<i class="menuIconStyle fa fa-file-text-o fa-lg"></i>'
                  }

                  html += '</div>';

                  html += '<div class="menu-item-cont" >';
                  html += '<div name="label" class="text-no-wrap">';

                  html += '<span style="font-size:14px; padding-right: 5px;">';
                  html += item.name;
                  html += '</span>';
                  if(item.popup) {
                        html += '<i class="fa fa-product-hunt fa-lg"></i>'
                  }
                  html += '</div>';
                  html += '<div class="text-no-wrap detailInfoText">';
                  html += '<span>';

                  if (item.type == 'folder') {
                        html += ''
                  } else if (item.type == 'link') {
                        html += item.url
                  } else {
                        item.page_name = this.getPageNameById(item.id);
                        var locale_msg = this.$i18n.messages.wv;
                        if(!item.page_name){
                              item.page_name = locale_msg.common.deletedPage;
                        }
                        html += item.page_name
                  }

                  html += '</span>';
                  html += '</div>';

                  html += '</div>';
                  html += '<div class="editBtnWrap">';
                  html += '<button class="btnEditPage editBtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>';
                  html += '<button class="btnDelPage editBtn"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>';
                  html += '</div>';
                  html += '</div>';
                  html += children;
                  html += '</' + options.itemNodeName + '>';

                  return html;
            }

            getPageNameById(page_id) {
                  var pageName = null;

                  for(var i=0; i <this.pageList.length ; i++) {
                        var page = this.pageList[i];
                        if(page.id == page_id) {
                              pageName = page.name;
                              break;
                        }
                  }

                  return pageName;
            }

            generateUUID() {
                  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                        var r = Math.random() * 16 | 0,
                              v = c == 'x' ? r : (r & 0x3 | 0x8);
                        return v;
                  });
            }

            clearSearchStr() {
                  this.searchStr = "";
            }
      }

</script>
<style>
      [data-popup=renobit-menuset-popup] {
            display: flex;
            padding: 66px 24px 20px 24px;
            height: 100%;
            margin-top: -50px;
            z-index: 1;
      }

      [data-popup=renobit-menuset-popup] > .menuset-list-wrap {
            width: 280px;
            margin-right: 16px;
      }

      [data-popup=renobit-menuset-popup] .list-table-wrap .el-table td,
      [data-popup=renobit-menuset-popup] .list-table-wrap .el-table td .cell{
            padding:0;
      }

      [data-popup=renobit-menuset-popup] .list-table-wrap .el-table__body {
            width: 279px !important;
      }

      [data-popup=renobit-menuset-popup] .list-table-wrap .el-table__empty-block {
             width: 279px !important;
      }

      [data-popup=renobit-menuset-popup] .list-table-wrap .el-table td .text-no-wrap{
            padding:6px 10px;
      }





      [data-popup=renobit-menuset-popup] .list-table-wrap.onlyEdit .el-table td .text-no-wrap.selected{
            background-color: #595e65;
      }

      [data-popup=renobit-menuset-popup] .list-table-wrap.onlyEdit .el-table td .text-no-wrap.selected .el-radio__label,
      [data-popup=renobit-menuset-popup] .list-table-wrap.onlyEdit .el-table td .text-no-wrap.selected .delete-btn{
            color:#fff;
      }

      [data-popup=renobit-menuset-popup] .list-table-wrap.onlyEdit .el-table td>.cell .el-radio__input{
            display: none;
      }



      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 14px;
            border: 1px solid #d8dce5;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
            min-height:100%;
            height: 500px;

      }

      [data-popup=renobit-menuset-popup] > .menuset-list-wrap .el-radio {
            display: flex;
            margin: 0;
            width : 270px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
      }

      [data-popup=renobit-menuset-popup] > .menuset-list-wrap .el-radio__label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display : inline-block;
      }

      [data-popup=renobit-menuset-popup] > .menuset-list-wrap .list-table-wrap {
            width: 100%;
      }

      [data-popup=renobit-menuset-popup] .menu-title h4 {
            flex: 1;
            margin: 0;
            font-size: 14px;
            margin: 0 0 2px 2px;
      }

      [data-popup=renobit-menuset-popup] h5.menu-title {
            font-size: 13px;
            margin: 8px 0 10px 0;
      }

      [data-popup=renobit-menuset-popup] .menu-title {
            margin-bottom: 4px;
            display: flex;
            align-items: flex-end;
      }

      [data-popup=renobit-menuset-popup] > .menuset-list-wrap .delete-btn {
            padding: 5px 2px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .top-area {
            display: flex;
            margin-bottom: 6px;
            justify-content: flex-end;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .top-area .menuset-field {
            flex: 1;
            font-size: 13px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .top-area .menuset-field > span {
            margin-right: 4px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .top-area .inputMenuSet {
            padding: 0;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .top-area .save-btn span {
            margin-left: 2px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .top-area .save-btn i {
            margin-right: 2px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .content-area {
            display: flex;
            flex: 1;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .content-area .arrow-wrap {
            width: 40px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .content-area .menu-edit-wrap {
            flex: 1;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .content-area .arrow-wrap:before {
            content: '';
            position: absolute;
            top: 0;
            left: 19px;
            border-left: 1px solid #ededed;
            display: block;
            height: 100%;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .content-area .arrow-wrap .arrow-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #595e65;
            color: #fff;
            border-radius: 5px;
            height: 90px;
            width: 18px;
            text-align: center;
            z-index: 0;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap h4 {
            font-size: 13px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list-wrap {
            display: flex;
            flex-direction: column;
            width: 310px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list {
            padding: 0;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list > li > label {
            height: 34px;
            line-height: 34px;
            padding: 8px 8px 6px 10px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list .el-checkbox {
            display: flex;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list-wrap .el-checkbox__label {
            font-size: 13px;
            padding-left: 6px;
      }

      /*전체 체크박스*/
      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list .el-checkbox__label {
            flex: 1;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list .el-checkbox__label > span {
            flex: 1;
            font-size: 12px;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list .el-checkbox__label sup {
            top: 0;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list .el-badge__content {
            background-color: #4690e6;
      }

      [data-popup=renobit-menuset-popup] > .menuset-edit-wrap .page-list .el-checkbox__inner {
            display: none;
      }

      [data-popup=renobit-menuset-popup] .search-children-len {
            font-size: 11px;
            margin-left: 5px;
            color: #4690e6;
            font-weight: bold;
      }

      [data-popup=renobit-menuset-popup] .menu-top-ui {
            margin-bottom: 8px;
      }

      [data-popup=renobit-menuset-popup] .menu-top-ui .control-btn {
            width: 16px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            border: 1px solid #333;
            font-size: 14px;
            outline: none;
            border-radius: 8px;
            cursor:pointer;
      }

      [data-popup=renobit-menuset-popup] .menuset-search-list .el-checkbox {
            height: auto !important;
      }

      [data-popup=renobit-menuset-popup] .menuset-search-list .parents-txt {
            font-size: 11px;
            color: #888;
      }

      [data-popup=renobit-menuset-popup] .menuset-edit-wrap .page-list-wrap .el-checkbox__label .page-box{
            display: flex;
      }

      [data-popup=renobit-menuset-popup] .menuset-edit-wrap .page-list-wrap .el-checkbox__label .page-box .page-icon{
            width: 12px;
            display:flex;
      }

      [data-popup=renobit-menuset-popup] .menuset-edit-wrap .page-list-wrap .el-checkbox__label .page-box .page-text-box{
            flex: 1;
            margin: 0 5px 0 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
      }

      [data-popup=renobit-menuset-popup] .menuset-edit-wrap .page-list-wrap .el-checkbox__label  .page-text-box .page-name{
            margin: 0px;
      }

      [data-popup=renobit-menuset-popup] .menuset-edit-wrap .page-list-wrap .el-checkbox__label  .page-text-box .page-description{
            font-size: 10px;
            color: #b6b6b6;
            margin: 0px;
      }

      [data-popup=renobit-menuset-popup] .menuset-edit-wrap .page-list-wrap .el-checkbox__label .page-box .page-badge{
            width: 22px;
            display:flex;
            align-items: center;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item > .label {
            margin-bottom: 6px;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item:first-child {
            padding-left: 0;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item:not(.flat) {
            padding-left: 20px;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item.group > .label {
            background-color: #f5f5f5;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item .label .txt {
            margin-left: 6px;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item i {
            margin-top: 5px;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item .el-checkbox.is-bordered {
            padding: 2px 8px 2px;
            height: 43px;
      }

      [data-popup=renobit-menuset-popup] .menuset-page-tree-item .el-checkbox__label {
            width: 100%;
      }

      [data-popup=renobit-menuset-popup] a {
            cursor: pointer;
      }

      [data-popup=renobit-menuset-popup] .addBtn {
            color: #606371;
      }

      [data-popup=renobit-menuset-popup] .flex-space-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3px 0px;
      }

      [data-popup=renobit-menuset-popup] .flex-center-center {
            display: flex;
            align-items: center;
            justify-content: center;
      }

      [data-popup=renobit-menuset-popup] .addBtn:hover {
            transition: 0.2s all;
            color: #8b8d98;
      }

      [data-popup=renobit-menuset-popup] .center {
            text-align: center;
            margin: 0 auto;
      }

      [data-popup=renobit-menuset-popup] .hRule {
            height: 1px;
            background-color: #ededed;
            margin: 5px 0;
      }

      [data-popup=renobit-menuset-popup] .scroll {
            width: 100%;
            height: 490px;
            overflow-y: auto;
      }

      [data-popup=renobit-menuset-popup] .text-no-wrap {
            /*overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;*/
            word-break: break-all;
      }

      [data-popup=renobit-menuset-popup] .detailInfoText {
            font-size: 11px;
      }

      [data-popup=renobit-menuset-popup] .inputMenuSet {
            font-size: 15px;
            width: 350px;
            padding: 0 10px;
      }

      [data-popup=renobit-menuset-popup] textarea {
            width: 100%;
            height: 50px;
            min-height: 50px;
            border: 1px solid #dad7d7;
            resize: vertical;
            margin-bottom: 3px;
      }

      [data-popup=renobit-menuset-popup] .top-btn-wrap{text-align:left; margin-bottom: 10px;}
      [data-popup=renobit-menuset-popup] .top-btn-wrap input[type=file]{
            position: absolute;
            width:100%;
            height: 100%;
            top:0;
            left:0;
            opacity: 0;
            text-indent: -5000px;
      }

      [data-popup=renobit-menuset-popup] a.upload-btn{
            -webkit-appearance: none;
            display: inline-block;
            position: relative;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #d8dce5;
            border-color: #d8dce5;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            margin: 0;
            transition: .1s;
            font-weight: 500;
            padding: 7px 13px;
            font-size: 12px;
            border-radius: 20px;
            color: #fff !important;
            background-color: #363a45;
            border-color: #363a45;
      }

      [data-popup=renobit-menuset-popup] a.upload-btn:hover{
            background: #5e616a;
            border-color: #5e616a;
            color: #fff;
      }

      [data-popup=renobit-menuset-popup] .el-form-item {
            margin-bottom: 0px;
      }

      .modal-header {
            z-index: 2;
      }
</style>
