<template>
      <div class="menuset-page-tree-item">
            <div class="label">
                  <el-checkbox @change="changeChecked"
                               v-model="data.checked" class="label"
                               style="width:100%;"
                               :label="data.text " :key="data.id" border>
                        <div class="page-box">
                              <div class="page-icon">
                                    <i :class="[ 
                                        {'fa fa-file-o':   data.type == 'page'}, 
                                        {'fa fa-medium':   data.type == 'master'},
                                        {'fa fa-folder-o': data.type == 'root' || data.type == 'group'} 
                                      ]"
                                      aria-hidden="true">
                                    </i>
                              </div>
                              <div class="page-text-box">
                                    <p class="page-name txt ellipsis">{{data.text}}</p>
                                    <p class="page-description txt ellipsis">{{data.description}}</p>
                              </div>
                              <div class="page-badge">
                                    <el-badge :value="data.count"></el-badge>
                              </div>
                        </div>
                  </el-checkbox>
            </div>
            <menuset-page-tree-item v-if="data.children"
                                    v-for="item in data.children" :key="item.id" :data="item"
                                    @change="changeChecked"></menuset-page-tree-item>
      </div>
</template>
<script lang="ts">
    import { Vue, Component, Prop } from 'vue-property-decorator';
    @Component({
    })
    export default class MenusetPageTreeItem extends Vue {
        @Prop({default: { text: '',
                        children: [],
                        id: '',
                        type: '',
                        checked: false,
                        count: 0,
                        parentsStr: '' }
        }) data!:any;

        public changeChecked () {
            this.$emit("change");
        }
    }
</script>
