<template>
    <div class="transfer-main d-flex flex-row">
        <p class="transfer-alert">* {{$t('common.useDrag')}}</p>
        <div class="d-flex flex flex-column">
            <div class="transfer-list-wrap flex">
                <div class="title-wrap">
                    <h5>{{mainData.title}}</h5>
                    <button class="icon-btn no-bg" type="button" @click="refresh"><i aria-hidden="true" class="fa fa-refresh"></i></button>
                </div>
                <div class="mainList dd flex-scroll"></div>
            </div>
        </div>
        <div class="button-wrap">
            <div class="el-transfer__buttons">
            </div>
        </div>
        <div class="target-list-wrap d-flex flex flex-column">
            <div class="transfer-list-wrap" v-for="(item, index) in targetListData" :key="index">
                <!-- <div>{{item.title}}</div> -->
                <div class="title-wrap">
                    <h5>{{item.title}}</h5>
                </div>
                <div class="target-list dd flex-scroll" :id="'target-list' + item.title" :data-title="item.title"></div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from "vue-class-component";

 @Component({
		components: {
            
		}
})
export default class TransferMainComponent extends Vue {

        public $root:any = null;
        public isCreateSortable: boolean = false;
        public currentTargetList:any = null;
        public originData: any = {};
        public currentTargetIndex: number = 0;
        public mainData: any = {
            title: "",
            data: []
        }

        public targetListData:Array<any> = [{
            title: "",
            data: []
        }]

        mounted(){
            this.$root = $(this.$el);
        }

        setData(data){
            this.originData = $.extend(true, {}, data);
            this.updateData();
        }

        refresh(){
            var locale_msg = this.$i18n.messages.wv;
            this.$confirm(locale_msg.common.confirmInit, 'Confirm', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.updateData();
            }).catch(() => {

            });
        }

        updateData(){
            this.targetListData = [];

            setTimeout(function(){
                let data = $.extend(true, {}, this.originData);
                this.mainData = data.mainData;
                this.targetListData = data.targetListData;
                let mainList = this.mainData.data;

                this.currentTargetList = null;
                this.currentTargetIndex = 0;

                for( let i=0, iLen=this.targetListData.length; i<iLen; i++ ){
                    let target = this.targetListData[i].data;
                    for( let j=0, jLen=target.length; j<jLen; j++ ){
                        let index = mainList.indexOf( target[j] );
                        if( index != -1 ){
                            mainList.splice( index, 1 );
                        }
                    }
                }

                this._triggerChange();
                this.createNestable();

            }.bind(this), 1 );
        }

        _triggerChange(){
            setTimeout(()=>{
                this.$emit("change", this.getValue());
            }, 10 );
        }

        updateSort(){
            this._triggerChange();
        }

        getValue(){
            let ary = [];

            this.$root.find(".target-list").each((index, el)=>{
                let $el = $(el);
                let dataObj = {
                    title: $(el).attr("data-title")
                };

                let dataAry = [];
                $el.find("li").each((index, item)=>{
                    dataAry.push($(item).attr("data-item"));
                });

                result;
                dataObj["data"] = dataAry;
                ary.push(dataObj);
            });

            let result = $.extend(true, {}, this.originData);
            result.targetListData=ary;

            return result;
        }

        //
        private createNestable() {
              setTimeout(() => {
                    if ($(".transfer-main .mainList").data('nestable')) {
                          this.reset();
                    }

                    $(".transfer-main .mainList").nestable({
                          maxDepth: 1,
                          group: 1,
                          json: this.mainData.data,
                          listClass: 'chart-dd-list',
                          itemRenderer: this.itemRenderer
                    }).on("mouseup", this.menuChange);

                    this.targetListData.forEach((target, index)=> {
                          $(".transfer-main .target-list").eq(index).nestable({
                                maxDepth: 1,
                                group: 1,
                                json: target.data.length > 0 ? target.data : null,
                                listClass: 'chart-dd-list',
                                itemRenderer: this.itemRenderer
                          }).on("mouseup", this.menuChange);
                    });
              })
        }

        private itemRenderer(item_attrs:any, content:any, children:any, options:any, item:any) {
              return `
                     <${options.itemNodeName} class="dd-item" data-item="${item}" data-id="${item}">
                         <div class="dd-handle">${item}</div>
                     </${options.itemNodeName}>`;
        }

        private menuChange() {
              this.mainData.data = $(".transfer-main .mainList").nestable('serialize');
              this.targetListData.forEach((target, index)=> {
                    target.data = $(".transfer-main .target-list").eq(index).nestable('serialize');
              });
              this.updateSort();
        }

        private reset() {
              this.mainData.data = ($.extend(true, {}, this.originData)).mainData.data;
              this.targetListData[0].data = [];
              $(".transfer-main .mainList").nestable('destroy');

        }

        beforeDestroy() {
              $(".transfer-main .mainList").off("mouseup", this.menuChange);
              $(".transfer-main .target-list").each(() => {
                 $(this).off("mouseup", this.menuChange);
              });
        }
    };

</script>
<style>
      .mainList {flex: 1}
      .transfer-main {padding-top: 30px;position: relative;}
      .transfer-main .transfer-alert {position:absolute; top: 0;}
      .transfer-main .chart-dd-list {height: 100%;}
      body .chart-dd-list {margin-left:0;border:1px solid #ccc;}
      .chart-dd-list li {line-height: initial; background:#fff;}
      .chart-dd-list .dd-handle {height: initial;border-right:none;font-size:12px;}
      .transfer-main .dd-empty {position: absolute; top: 0; width: 100%; height:100%;margin-bottom:0;}
      .transfer-main .dd-placeholder {min-height: 23px;}
</style>
