.DCIMTopNavComponent .comp-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 26px;
}

.DCIMTopNavComponent .switch-text {
    color: #fff;
    font-size: 11px;
    margin-left: 6px;
    margin-right: 19px;
}

.DCIMTopNavComponent .img-btn {
    width: 26px;
    height: 26px;
    margin-left: 7px;
    cursor: pointer;
    position: relative;
}

.DCIMTopNavComponent .img-btn img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.DCIMTopNavComponent .img-btn img.hover {
    visibility: hidden;
}

.DCIMTopNavComponent .img-btn:hover img.up {
    visibility: hidden;
}

.DCIMTopNavComponent .img-btn:hover img.hover {
    visibility: visible;
}