.SeverityComponent010 .state-clip-wrap .mask-wrap {
    width: 127px;
    height: 127px;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    overflow: hidden;
}

.SeverityComponent010 .state-clip-wrap .effect-clip.viewer {
    width: 30%;
    height: 200%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 26%, rgba(255, 255, 255, 0.7) 51%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(35deg);
    position: absolute;
    top: -50%;
    left: -40%;
    animation-name: SeverityComponent010-Animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes SeverityComponent010-Animation {
    0% {
        left: -40%
    }
    100% {
        left: 140%
    }
}