<template>
      <el-dialog :visible.sync="isVisible" id="loading-modal" class="loading-modal"
                 modal
                 :close-on-click-modal="false"
                 :close-on-press-escape="false"
                 :show-close="false"
                 center>
            <div class="logo"></div>

            <h4>{{this.title}}</h4>
            <h5>ver {{ver}}</h5>
            <div class="txt message" v-html="message" ref="messageBox"></div>
            <el-progress :percentage="percent" status="success" :text-inside="true" :stroke-width="12"
                         class="progress"></el-progress>
      </el-dialog>

</template>

<script lang="ts">
	import Vue from "vue";
	import Component from "vue-class-component";
	import ILoadingModal from "./ILoadingModal";

	@Component
	class DefaultLoadingModal extends Vue implements  ILoadingModal{
		public ver:string = "";
		private message: string = "";
		private title: string = "";
		private percent: number = 0;
		private isVisible: boolean = false;

		private _maxLength: number = 0;
		private _currentIndex: number = 0;

		private _$messageBox: any = null;

		private _isDisplayText:boolean = false;

		get element(){
		      return this.$el;
            }


		public reset():void {
			this.message = "";
			this.title = "";
			this.percent = 0;
			this._currentIndex = 0;
			this._maxLength = 0;
			this._$messageBox = null;
		}

		public show(title: string) {
			this.ver = window.wemb.configManager.version;
			this.title = title;
			this.isVisible = true;


		}





		public mounted(){
			setTimeout(()=>{
			      this._$messageBox = $(this.$refs["messageBox"]);
			},100);
		}


		public hide() {
			this.reset();
			this.isVisible = false;
		}

		public setDisplayLoadingText(value:boolean){
		      if(value==null)
		            value = false;
		      this._isDisplayText = value ;
            }

		public setTitle(title:string){
			this.title=title;
            }
		public addMessage(message: string, progress: boolean = true):void {

                  if(this._isDisplayText!=true)
                        return;

			this.message += `${message}`;
			if (progress) {
				this.message += `(${this._currentIndex}/${this._maxLength})<br>`;
			} else {
				this.message += "<br>";
			}


			this._updateMessageBoxScrollTop();

		}

		public setMessage(message: string, progress:boolean = true):void {

                  if(this._isDisplayText!=true)
                        return;


			this.message = `${message}`;
			if (progress) {
				this.message += `(${this._currentIndex}/${this._maxLength})<br> `;
			} else {
				this.message += "<br> ";
			}
		}

		public setMaxLength(max:number) {
			this._maxLength = max;
		}

		public setProgress(index:number) {
			this._currentIndex = index;
			this.percent = Math.ceil(this._currentIndex / this._maxLength * 100) || 100;
		}

		/*
    로드가 완료되면 가급적 completed를 호출하기

    */
		public completed() {
			this._currentIndex = this._maxLength;
			this.percent = 100;

			/*
                         주의사항:
                        setMessage(), addMesasge()를 호출한다고 해서
                        message의 정확한 scrollHeight값을 구할수가 없음.
                        이를 처리하기 위해 딜레이를 넣음.
                  */
			setTimeout(() => {
				this._updateMessageBoxScrollTop();
			}, 0);
		}


		private _updateMessageBoxScrollTop(){
                  if(this._isDisplayText!=true)
                        return;

			if(this._$messageBox) {
				try {
					this._$messageBox.scrollTop(this._$messageBox[0].scrollHeight);
				}catch(error){
					console.log("RENOBIT DefaultLoadingModal._updateMessageBoxScrollTop()", error);
                        }
			}
            }
	}

	export default DefaultLoadingModal;


</script>

<style scoped>
</style>
