.POSODTopNavComponent .comp-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 233px;
    height: 26px;
}

.POSODTopNavComponent .switch-text {
    color: #fff;
    font-size: 11px;
    margin-left: 6px;
    margin-right: 19px;
}

.POSODTopNavComponent .img-btn {
    width: 26px;
    height: 26px;
    margin-left: 7px;
    cursor: pointer;
}

.POSODTopNavComponent .img-btn {
    width: 26px;
    height: 26px;
    margin-left: 7px;
    cursor: pointer;
    position: relative;
}

.POSODTopNavComponent .img-btn img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.POSODTopNavComponent .img-btn img.hover {
    visibility: hidden;
}

.POSODTopNavComponent .img-btn:hover img.up {
    visibility: hidden;
}

.POSODTopNavComponent .img-btn:hover img.hover {
    visibility: visible;
}


/* ------------------------------------------------------------- */

.POSODTopNavComponent .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.POSODTopNavComponent .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.POSODTopNavComponent .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.POSODTopNavComponent .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

.POSODTopNavComponent input:checked+.slider {
    background-color: #83b0ec;
}

.POSODTopNavComponent input:focus+.slider {
    box-shadow: 0 0 1px #83b0ec;
}

.POSODTopNavComponent input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}


/* Rounded sliders */

.POSODTopNavComponent .slider.round {
    border-radius: 17px;
}

.POSODTopNavComponent .slider.round:before {
    border-radius: 50%;
}