<template>
	<modal
		name="modal"
		ref="modal"
		:click-to-close="false"
    	:resizable="true"
		@opened="modalOpened"
		:width="830"
		:height="500"
		:min-width="830"
		:min-height="500"
        class="w-modal">

		<div class="modal-header">
			<h4>Text Component Extension Panel</h4>
			<a class="close-modal-btn" role="button" @click="_onHidden"><i class="el-icon-error"></i></a>
		</div>
		<div class="modal-body">
			<div id="summernote"></div>
		</div>
        <div class="btn-area">
            <el-button class="save-btn" round size="small" type="primary" @click="_onOk()">{{$t('common.save')}}</el-button>
            <el-button class="save-btn" round size="small" @click="_onHidden()">{{$t('common.cancel')}}</el-button>
        </div>

	</modal>
</template>


<script>
	module.exports = {

		data:function(){
			return {
                content: "",
                showModuleName: false,
                extensionProperties: {"text":""},
				componentInstance:null,
				extensionProperties:null
			}
		},
		methods:{
			setComponent:function(componentInstance) {
				this.componentInstance = componentInstance;
				this.extensionProperties = $.extend({}, this.componentInstance.getGroupProperties("extension"));
			},

			modalOpened:function(){
				$('#summernote').summernote({
						height: 300,
						toolbar: [
							['style', ['style']],
							['font', ['bold', 'underline', 'clear']],
							['fontname', ['fontname']],
							['fontsize', ['fontsize']],
							['color', ['color']],
							['para', ['ul', 'ol', 'paragraph']],
							['table', ['table']],
							['insert', ['link']],
							['view', ['fullscreen', 'codeview']]
						]
					});

					$('#summernote').summernote('code', this.extensionProperties.text);
			},

			show:function() {
				this.$modal.show('modal');
			},

			_onHidden:function() {
				this._hide();
				$('#summernote').summernote('destroy');
			},

			_hide:function(){
				this.$emit( 'closed' );
				this.$modal.hide('modal');
			},

			_onOk:function() {
				this.extensionProperties.text = $('#summernote').summernote('code');
                this.componentInstance.setGroupProperties("extension", this.extensionProperties);
				$('#summernote').summernote('destroy');
				this._hide();
            }
		}
	}
</script>


<style scoped>
	.btn-area {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
</style>
