.numbericArea{
    width:100%;
    height:100%;
}


.numbericArea > .barDeriection{
    position: absolute;
    bottom : 0px;
    transition: height .5s linear;
}

.numbericArea > .barDeriection > .arrowArea{
    position: absolute;
    width: 60px;
    height: 20px;
    top : -20px;
}

.numbericArea > .barDeriection.barLeft > .arrowArea{
    right: 20px
}

.numbericArea > .barDeriection.barRight > .arrowArea{
    left: 20px
}


.numbericArea > .barDeriection > .arrowArea > div{
    float: left;
    font-weight: bold;
    font-size : 13px;
    margin-left: 5px;
}

.numbericArea > .barDeriection > .arrowArea > .icon{
    width: 16px;
    height: 16px;
}

.numbericArea > .barDeriection > .barValueArea{
    background-color : #4e5357;
    border-radius: 25px 25px 5px 25px;
    position: absolute;
    top : 0px;
}

.numbericArea > .barDeriection.barLeft > .barValueArea {
    padding : 7px 12px 8px 17px;
    border-radius: 25px 25px 5px 25px;
}

.numbericArea > .barDeriection.barRight > .barValueArea {
    padding : 7px 17px 8px 12px;
    border-radius: 25px 25px 25px 5px;
}

.numbericArea > .barDeriection > .barValueArea > .barValue{
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
}

.numbericArea > .barDeriection.barLeft, .numbericArea > .barDeriection.barRight{
    width: 100%;
}

.numbericArea > .barDeriection > .bar{
    position: absolute;
    bottom : 0;
    width: 11px;
    height: 100%;
}

.numbericArea > .barDeriection.barLeft > .bar{
    right: 5px;
}

.numbericArea > .barDeriection.barRight > .bar{
    left: 5px;
}