
.posod-event-browser .container {
      height: 100%;
      display: flex;
      flex-direction: column;
}

.posod-event-browser .container > .tool-area {
      display: flex;
      justify-content: space-between;
}

.posod-event-browser .container > .tool-area > .border-label {
      display: flex;
      width: 256px;
      border: 2px solid #3966b8;
      border-radius: 5px 16.5px 16.5px 16.5px;
      padding: 6px 12px;
      color: #519dff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.posod-event-browser .container > .tool-area > .border-label .auto-btn {
      background-color: #546f96;
      border-radius: 16px;
      padding: 2px 10px;
      font-size: 11px;
      color: #ffffff;
      display: flex;
      margin-left: 6px;
      margin-right: 6px;
}

.posod-event-browser .container > .tool-area > .border-label .fold-btn {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: #546f96;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

.posod-event-browser .container > .tool-area > .border-label > .btn-sound{
      background-image: url(./resource/sound_on.png);
      width: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 28px;
      cursor: pointer;
}

.posod-event-browser .container > .tool-area > .border-label > .btn-sound.off{
      background-image: url(./resource/sound_off.png);
}

.posod-event-browser .container > .tool-area > .border-label .auto-btn:hover,
.posod-event-browser .container > .tool-area > .border-label .fold-btn:hover {
      background-color: #519dff;
}

.posod-event-browser .container > .tool-area > .border-label .fold-btn > .down {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-top: 6px solid #ffffff;
      border-bottom: 0px solid #ffffff;
      border-right: 4px solid transparent;
}

.posod-event-browser .container > .tool-area > .border-label .fold-btn > .up {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-top: 0px solid #ffffff;
      border-bottom: 6px solid #ffffff;
      border-right: 4px solid transparent;
}

.posod-event-browser .container > .tool-area > .ack-btn-area {
      display: flex;
      align-items: center;
}

.posod-event-browser .container > .tool-area > .border-label .checks {
      position: relative;
}

.posod-event-browser .container > .tool-area > .border-label .checks input[type="checkbox"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
}

.posod-event-browser .container > .tool-area > .border-label .checks input[type="checkbox"] + label {
      display: inline-block;
      position: relative;
      padding-left: 21px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
}

.posod-event-browser .container > .tool-area > .border-label .checks input[type="checkbox"] + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 11px;
      height: 11px;
      text-align: center;
      background: #fafafa;
      border-radius: 100%;
      line-height: 11px;
}

.posod-event-browser .container > .tool-area > .border-label .checks input[type="checkbox"]:checked + label:after {
      content: '';
      position: absolute;
      top: 4.5px;
      left: 2.5px;
      width: 6px;
      height: 6px;
      background: #656769;
      border-radius: 100%;
}

.posod-event-browser .container > .tool-area > .ack-btn-area > .btn {
      width: 50px;
      border: 1px solid #7b7b7b;
      margin-left: 10px;
      padding: 0px 3px;
      height: 16px;
      cursor: pointer;
      color: #e4e4e4;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.posod-event-browser .container > .tool-area > .ack-btn-area > .btn-all {
      color: #e4e4e4;
      border: 2px solid #e4e4e4;
      padding: 0px 10px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      font-size: 12px;
}

.posod-event-browser .container > .tool-area > .ack-btn-area > .btn-ack {
      color: #FFFFFf;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 0px 10px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      font-size: 12px;
      width: 40px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      margin-left: 7px;
      border: none;
}

.posod-event-browser .container > .tool-area > .ack-btn-area > .btn > .bullet{
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-left: 3px;
      opacity: 0.6;
}

.posod-event-browser .container > .grid-area .contents .content > .critical,
.posod-event-browser .container > .tool-area > .ack-btn-area .critical {
      background-color: #c73f45;
}

.posod-event-browser .container > .grid-area .contents .content > .major,
.posod-event-browser .container > .tool-area > .ack-btn-area .major {
      background-color: #cd821d;
}

.posod-event-browser .container > .grid-area .contents .content > .minor,
.posod-event-browser .container > .tool-area > .ack-btn-area .minor {
      background-color: #e7c33b;
}

.posod-event-browser .container > .grid-area .contents .content > .warning,
.posod-event-browser .container > .tool-area > .ack-btn-area .warning {
      background-color: #3ca0c5;
}

.posod-event-browser .container > .grid-area .contents .content > .normal,
.posod-event-browser .container > .tool-area > .ack-btn-area .normal {
      background-color: #40bf56;
}

.posod-event-browser .container > .tool-area > .ack-btn-area .btn.active {
      border: 1px solid #f1f1f1;
}

.posod-event-browser .container > .tool-area > .ack-btn-area .btn.active > .bullet {
      opacity: 1;
}

.posod-event-browser .container > .grid-area {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 5px;
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      background-image: linear-gradient(rgba(68, 73, 94, 0.4), rgba(70, 70, 70, 0.2));
      padding: 10px;
      overflow: hidden;
}

.posod-event-browser .container > .grid-area > .header {
      background-color: rgba(93, 81, 154, 0.75);
      border-radius: 30px;
      color: #e7f1ff;
      display: flex;
      font-size: 12px;
      padding: 0 20px;
      /*justify-content: space-around;*/
      height: 24px;
      line-height: 24px;
      margin-bottom: 4px;
      text-align: center;
}

.posod-event-browser .container > .grid-area div{
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
}

.posod-event-browser .container > .grid-area .severity {
      width: 25px;
      padding: 0;
}

.posod-event-browser .container > .grid-area .asset_name {
      width: 10%;
}

.posod-event-browser .container > .grid-area .stime {
      width: 10%;
}

.posod-event-browser .container > .grid-area .asset_type {
      width: 10%;
}

.posod-event-browser .container > .grid-area .msg {
      width: 60%;
}

.posod-event-browser .container > .grid-area .dupl_cnt {
      width: 50px;
}

.posod-event-browser .container > .grid-area .is_new {
      width: 40px;
}

.posod-event-browser .container > .grid-area .play {
      width: 50px;
}

.posod-event-browser .container > .grid-area .contents {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
      color: #ebebeb;
      align-items: center;
}

.posod-event-browser .container > .grid-area .contents > .no-data {
      width: 250px;
      border: 1px solid #3c3c3c;
      margin: 20px;
      border-radius: 50px;
      background-color: #00000036;
      color: #fffde4;
}

.posod-event-browser .container > .grid-area .contents .content {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #484380;
      height: 23px;
      line-height: 23px;
      font-size: 13px;
      text-align: center;
      margin-bottom: 1px;
      padding-left: 20px;
      /*padding-right: 5px;*/
}

.posod-event-browser .container > .grid-area .contents .content > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      overflow: hidden;
      cursor: default;
}

.posod-event-browser .container > .grid-area .contents .content .is_new {
      background-color: #F4847F;
      transform: skew(-10deg);
      color: white;
      font-weight: bold;
      border-radius: 2px;
      font-size: 12px;
      height: 19px;
      line-height: 19px;
}

.posod-event-browser .container > .grid-area .contents .content .play {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AwQAg8jaQKybwAAAlRJREFUOMvtk11IU2EYx//v2ZltznSG2WzFLFQWhRuSpBakF5V9gEVfmFd9EilStILuDMuwq4igbsJIumguVAgySc0aqGwZSCXbYoVexJxr6dmXZ+e8bzdp03LYRVf1u3p4ePnxf//wAP8cZHaodjjPEoUiBeznbmkwNt7b63h9yTIAAPzsWptf0Ew4Lh0A+9NQEZ/vCoD5QgBs6pP3ySNT4WUA8hJlgdpQRJBnZuY8cwMVRW9q9iqzQq1WytHo18Q6FmNfe0c5oxRiKBz5pcOShoYSU119O69S6QjHLaE5BlCKiN9v76jcaQm63UNYmOJA94sTOaWl9/vqag/63w5PghAGAFI4LBNOQXi1imMAxOlpeev1prLc3Xuu3s3M0CQ6EjsExytmAEAKhaYmR0bGAIiH+vqrMo3GI1QUBU+b9fYry0UPgLg6K8vIGKMLk8/7W1wQBDCG7OLiFQDkw3b7juyiolujra33Au/fDW08ecr246mo0a/JpaI4mVTosdk+gjF5bUXFNgAk3bCu3Od0NqXpV2sdN5qeSrGYu6zx2mYAVKPTHY/4fI6kwtHWhx+igcBjbX7B6XSDYTmAZVH/xLeummPPvwwMCIRAUKalqY8ODp7jlEr9eG/Ps6RCAGhZn1tD4/HP1c7hHkVKyoZ4OBwFIFBJCjLKIoZdlVVZmwobgy7Xg/4L51sWPb1EVprNxv1d3Z1KjaaASVJIisVchCOMV6lNIISfGH5zx1a+vT7pLf+Ovda2Mxl5eVv41NQcUEZjweCYt7PjpfNmsxX/+Wt8B77n9FrdUzQqAAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      background-position: center center;
      width: 50px;
      cursor: pointer;
}

.posod-event-browser .container > .grid-area .contents .content > .severity {
      border-radius: 30px;
      width: 21px;
      height: 20px;
      font-size: 11px;
      line-height: 21px;
}

.posod-event-browser .container > .grid-area .contents .content:hover {
      background-color: #476a98;
      border-bottom: 1px solid #476a98;
      border-radius: 30px;
}

.posod-event-browser .container > .grid-area .contents .content.active {
      background-color: #7264b9;
      border-bottom: 1px solid #7264b9;
      border-radius: 30px;
      color: #ffffff;
}

#posod-ack-popup {
      padding: 10px;
}

#posod-ack-popup > .v--modal {
      background: transparent;
      box-shadow: none;
}

#posod-ack-popup .modal-header {
      display:flex;
      padding: 4px 6px 4px 12px;
      border-radius: 15px;
      align-items: center;
      justify-content: space-between;
      background-color: #121828;
      border: 2px solid #3966b7;
      box-sizing: border-box;
      margin-bottom: 5px;
}

#posod-ack-popup .modal-header h4{font-size: 14px; color: #4f9dff; }
#posod-ack-popup .modal-header .close-modal-btn{width: 20px;height: 20px;border-radius: 11px; background-color: #3f6393;display: flex; align-items: center; justify-content: center; cursor: pointer;}
#posod-ack-popup .modal-header .close-modal-btn>i{color:#fff; font-size: 14px;line-height: 14px;}
#posod-ack-popup .modal-header .close-modal-btn:hover{background-color:#529eff;}

#posod-ack-popup .modal-body {
      flex-direction: row;
      padding: 20px;
      background-color: rgba(30, 52, 80, 0.95);
      border-radius: 15px;
}

#posod-ack-popup .modal-body input{
      background-color: #2b487e;
      border-radius: 4px;
      border: none;
      color: #c0cfec;
}

#posod-ack-popup .modal-body input:focus{
      border: 1px solid #458ed5;
}

#posod-ack-popup .modal-footer {
      display: flex;
      justify-content: center;
      padding-top: 15px;
}

#posod-ack-popup .modal-footer button {
      background-color: #384d62;
      border: 1px solid #384d62;
      color: #c0cfec;
      border-radius: 4px;
}

#posod-ack-popup .modal-footer button:hover {
      background-color: #384d62;
      border: 1px solid #4582d5;
}

.ui-tooltip{
      z-index:60000;
      background-color: #1c1c1c;
      color:#ffffff;
      border-width:0 !important;
}
