.dock-status-component {
    display: flex;
    /*pointer-events: none;*/
}

.dock-container {
    /*pointer-events: none;*/
    display: flex;
    display: -ms-flexbox;
    /*position: absolute;*/
    align-items: center;
    flex-direction: column;
    width: 29px;
    height: 133px;
    margin-right: 6px;
}

.dock-container>.clip {
    position: relative;
    overflow: hidden;
    width: 29px;
    height: 93px;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px;
    -ms-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px;
    border-radius: 25px;
}

.mask,
.dock {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    -webkit-transition: top 0.8s;
    -moz-transition: top 0.8s;
    -ms-transition: top 0.8s;
    -o-transition: top 0.8s;
    transition: top 0.8s;
}

.dock-container>.clip>.gray-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #626670;
    opacity: 0.7;
    border-radius: 25px;
    box-sizing: border-box;
}

.dock-container>.clip>.mask {
    width: 29px;
    height: 93px;
    top: -93px;
    overflow: hidden;
}

.dock-container>.clip>.mask>.dock {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px;
    -ms-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px;
    width: 29px;
    height: 93px;
    top: 93px;
}

.dock-container>.clip>.dock-status {
    position: absolute;
    top: 0;
    left: 8px;
    width: 13px;
    height: 13px;
    border-radius: 20px;
    margin-top: 7px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

.dock-label {
    position: absolute;
    top: 38px;
    left: 0px;
    display: block;
    font-size: 16px;
    padding-top: 1px;
    color: #bac6cc;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.dock-container>.standby-dotline {
    background-image: url(./image/dotline_standby.png);
    background-repeat: no-repeat;
    width: 2px;
    height: 6px;
}

.dock-container>.dock-standby {
    background-image: url(./image/dock_standby.png);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    font-size: 16px;
    color: #ebebeb;
    text-align: center;
    line-height: 29px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.event-label {
    color: #ffffff;
}


/**
 기본 dock 이미지
 **/

.normal-dock {
    background-image: url(./image/dock.png);
    background-repeat: no-repeat;
    border: 2px solid #929aa8;
}

.use-yn-label {
    text-decoration: line-through;
    text-decoration-color: #ffffff;
}


/**
 status 별로 도크 그라데이션 값
 **/

.dock-status.critical,
.dock.critical {
    opacity: 0.7;
    background: linear-gradient(#cf1649, #ff1b5a);
    /* IE 그라데이션 */
    background: -ms-linear-gradient(#cf1649, #ff1b5a);
}

.dock-status.major,
.dock.major {
    opacity: 0.7;
    background: linear-gradient(#e0691a, #f8971d);
    /* IE 그라데이션 */
    background: -ms-linear-gradient(#e0691a, #f8971d);
}

.dock-status.minor,
.dock.minor {
    opacity: 0.7;
    background: linear-gradient(#cda200, #f8cc00);
    /* IE 그라데이션 */
    background: -ms-linear-gradient(#cda200, #f8cc00);
}

.dock-status.warning,
.dock.warning {
    opacity: 0.7;
    background: linear-gradient(#2f5de1, #1f88e4);
    /* IE 그라데이션 */
    background: -ms-linear-gradient(#2f5de1, #1f88e4);
}

.dock-status.normal,
.dock.normal {
    opacity: 0.7;
    background: linear-gradient(#089777, #0EB795);
    /* IE 그라데이션 */
    background: -ms-linear-gradient(#089777, #0EB795);
}

.dock-container>.clip>.gray-box.critical {
    background-color: transparent;
    background-image: url(image/status/dock_r.png);
}

.dock-container>.clip>.gray-box.major {
    background-color: transparent;
    background-image: url(image/status/dock_o.png);
}

.dock-container>.clip>.gray-box.minor {
    background-color: transparent;
    background-image: url(image/status/dock_y.png);
}

.dock-container>.clip>.gray-box.warning {
    background-color: transparent;
    background-image: url(image/status/dock_b.png);
}

.dock-container>.clip>.gray-box.normal {
    background-color: transparent;
    background-image: url(image/status/dock_g.png);
}

/**
 사이즈 적용 CSS
 **/

.dock-container.small,
.dock-container>.clip.small,
.dock-container>.clip>.mask.small {
    width: 20px;
}

.dock.small {
    border-radius: 10px;
}

.dock-container>.dock-standby.small {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-position: center;
}

.dock-container>.clip>.dock-status.small {
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.dock-label.small {
    left: -4px;
    font-size: 15px;
}

.dock-container>.clip>.gray-box.small.critical {
    background-color: transparent;
    background-image: url(image/status/dock_small_r.png);
}

.dock-container>.clip>.gray-box.small.major {
    background-color: transparent;
    background-image: url(image/status/dock_small_o.png);
}

.dock-container>.clip>.gray-box.small.minor {
    background-color: transparent;
    background-image: url(image/status/dock_small_y.png);
}

.dock-container>.clip>.gray-box.small.warning {
    background-color: transparent;
    background-image: url(image/status/dock_small_b.png);
}

.dock-container>.clip>.gray-box.small.normal {
    background-color: transparent;
    background-image: url(image/status/dock_small_g.png);
}
