<template>
	<div id="viewerMainArea" v-bind:style="bgInfo">
		<div class="help" v-show="active==false">

		</div>
	</div>
</template>

<script  lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import ViewerAreaMainContainerMediator from "./ViewerAreaMainContainerMediator";


	import {IBackgroundElement, IWVComponent} from "../../../wemb/core/component/interfaces/ComponentInterfaces";
      import WVComponent from "../../../wemb/core/component/WVComponent";
      import {WORK_LAYERS} from "../../../wemb/wv/layer/Layer";
      import WVEvent from "../../../wemb/core/events/WVEvent";
      import ViewerPageComponent from "../../../wemb/wv/components/ViewerPageComponent";

	@Component({
		components: {
		}
	})
      export default class ViewerAreaMainContainer extends Vue implements IBackgroundElement {
		public static readonly  EVENT_ADD_SELECTED_COMPONENT_INSTANCE:string = "event/addSelectedComponentInstance";
		public static readonly  EVENT_NEW_SELECTED_COMPONENT_INSTANCE:string = "event/newSelectedComponentInstance";
		public static readonly  EVENT_REMOVE_SELECTED_COMPONENT_INSTANCE:string = "event/removeSelectedComponentInstance";
		public static readonly  EVENT_CLEAR_ALL_SELECTED_COMPONENT_INSTANCE:string = "event/clearAllComponentInstance";
            public static readonly  EVENT_TRANSFORM_COMPLETED:string = "event/transformCompleted";

		private active:boolean=false;

		public bgInfo:string = null;

		private _mainPageComponent:ViewerPageComponent;
		public get mainPageComponent(){
			return this._mainPageComponent;
		}
		constructor(){
			super();

		}

		private _initEvent(){
			window.addEventListener("resize",()=>{
				this._updatePageContainerPosition();
			},false);
		}
		private _updatePageContainerPosition(){
			if(this._mainPageComponent) {
				let mainWidth = this.$el.clientWidth;
				let mainHeight = this.$el.clientHeight;
				let viewWidth = this._mainPageComponent.width;
				let viewHeight = this._mainPageComponent.height;

				let left = 0;
				let top = 0;

				if (mainWidth > viewWidth) {
					left = (mainWidth - viewWidth) / 2;
				}

				if (mainHeight > viewHeight) {
					top = (mainHeight - viewHeight) / 2;
				}

				this._mainPageComponent.element.style.left= left+"px";
				this._mainPageComponent.element.style.top= top+"px";

				this.$el.style.overflow = "hidden";
                        if( Math.abs(this.$el.clientWidth - viewWidth)> 5 || Math.abs(this.$el.clientHeight - viewHeight)>5 ){
                            this.$el.style.overflow = "auto";
                        }
			}
		}

            public mounted() {
			this._createPageComponentForViewer();
			window.wemb.viewComponentMap.set(ViewerAreaMainContainerMediator.NAME, this);
		}


		private _createPageComponentForViewer(){
                  this._mainPageComponent = new ViewerPageComponent();

                  // 이벤트 버스 연결해서 viewer 모드로 실행.
                  // 중요!!!!
                  this._mainPageComponent.executeViewerMode();


                  this._mainPageComponent.create({
                        id:"VIEWER",
                        name:"VIEWER",
                        layerName:WORK_LAYERS.PAGE_CONTAINER,
                        props: {
                              setter: {
                                    width: 700,
                                    height: 600,
                                    visible: true
                              }
                        }
                  },`<div> </div>`);



                  if(this._mainPageComponent.successCreateProperties==true) {
                        //////////////////////////////


                        //////////////////////////////
                        /*
                    $el이 Application 즉 메인 커네이너가 되는 것이며
                     App 컨테이너에  editPageContainer를 수동으로 붙여
                     editPageContainer가 동작하도록 처리해야 함.
                     즉, editPageContainer.create()를 한 후
                     App.addChild(editPageContainer)가 된 후
                     내부에서 동작하는 added이벤트 처리가 될 수 있게
                     수동작업을 해줘야 함.
                 */
                        $(this.$el).append(this._mainPageComponent.element);


                        ////////////////
                        // 이 내용은 부터는 일종의 부모.addChild(this._mainPageComponent)를 하는것과 동일함.
                        let event = new WVEvent(WVEvent.ADDED, this._mainPageComponent);
                        this._mainPageComponent.addEventListener(WVEvent.ADDED, (event) => {
                              // 레이어 안보이게 처리
                              this._initEvent();
                              // 초기에 한번만 실행됨.
                              // 화면에 붙은 후 위치 설정하기(resize할때도 자동 실행됨)
                              this._updatePageContainerPosition();
                        })

                        // 수동으로 ADDED 이벤트 발생 처리.
                        this._mainPageComponent.dispatchEvent(event);


                  }else {
                        throw new Error("Error occurred while creating edit page container. Property is set incorrectly. Please check.")
                  }

            }



		//////////////////////////////////////////////////////////////////////////////////////////





		//////////////////////////////////////////////////////////////////////////////////////////


		public noti_closedPage(){
			this._mainPageComponent.clearPage();
		}

            public noti_openPage(){

                  this._mainPageComponent.openPage();
            }

            public noti_addComInstance(comInstance:WVComponent){
		      this._mainPageComponent.addComInstance(comInstance);

		}

		public noti_removeComInstance(comInstance:WVComponent){
			this._mainPageComponent.removeComInstance(comInstance);
		}

            public noti_activeThreeLayer(value){
                this._mainPageComponent.setActiveThreeLayer(value);
            }


          public setBackgroundPropertyValue(propertyName:string, value:any) {
			if(!value) {return "";}

                this.bgInfo = "";
                if( value ){
                    if( value.color ){
                        this.bgInfo  +='background-color:'+value.color+';';
                    }

                    if( value.path ){
                        var serverPath = window.wemb.configManager.serverUrl;
                        this.bgInfo  +='background-image:url('+serverPath+value.path+');';
                    }
                }
            }
      }


</script >

<style scoped>
	.help {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.editPage {
		/*border:1px solid #f00;*/
	}

</style>
