<template>
      <div>
            <div class="panel-content-area">
                  <!--검색 필드-->
                  <div class="page-searching">
                        <el-input size="small" class="searching-field" v-model="search" placeholder="search page" @input="onChangeSearch" clearable></el-input>
                  </div>
                  <div v-show="!isNotSearch" id="page-tree" style="margin-top:4px;"></div>
                  <div v-show="isNotSearch" style="margin-top: 10px;text-align: center;color: gray;">NO RESULT</div>
            </div>
            <div class="panel-bottom-area">
                  <el-tooltip class="item" effect="dark" content="edit" placement="top">
                        <button class="icon-btn-flat icon-page-edit" @click="onEditPage"
                                :class="{disabled:!buttons.editPage}">Edit
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="create" placement="top">
                        <button class="icon-btn-flat icon-page-create" @click="onNewPage"
                                :class="{disabled:!buttons.newPage}"
                        >New Page
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="delete" placement="top">
                        <button class="icon-btn-flat icon-trash" @click="onDeleteTreeItems"
                                :class="{disabled:!buttons.deletePage}"
                        >Delete
                        </button>
                  </el-tooltip>
            </div>
      </div>
</template>

<script lang="ts">
    import Vue from "vue"
    import Component from "vue-class-component"
    import PageTreePanelMediator from "./PageTreePanelMediator";
    import PageTreeItemVO from "../../../model/vo/PageTreeItemVO";
    import {EDITOR_APP_STATE} from "../../../../wemb/wv/data/Data";
    import pageApi from "../../../../common/api/pageApi";
    import CommonStatic from "../../../controller/common/CommonStatic";

    /**
     * RENOBIT 페이지들을 tree구조로 탐색/편집하게끔 제공
     * jstree사용 참조 : https://www.jstree.com/
     * pageTreeDataManager와 연동하여 처리됨
     */

    @Component({
        components: {}
    })
    export default class PageTreePanel extends Vue {
        public static readonly EVENT_OPEN_PAGE: string = "event/openPage";
        public static readonly EVENT_NEW_PAGE: string = "event/newPage";
        public static readonly EVENT_CHANGE_PAGE_NAME: string = "event/changePageName";
        public static readonly EVENT_DELETE_PAGE_TREE_ITEMS: string = "event/deletePageTreeItems";
        public static readonly EVENT_UPDATE_PAGE_TREE_ITEMS: string = "event/updatePageTreeItems";


        public static readonly TREE_SELECTOR: string = "#page-tree";
        private search: string = "";
        private isNotSearch:boolean = false;

        private treeObject: any = null;
        private selectedPageID: string = "";
        private isReadyTreeData: boolean = false;
        public active: boolean = false;
        private tempMoveNodeDataAry: Array<any> = [];
        private moveNodeCheckTimer:number;


        public buttons = {
            newPage: true,
            savePage: false,
            saveAsPage: false,
            deletePage: false,
            editGroup: false,
            editPage: false
        }

        created() {
            this._initTreeEvent();
        }


        private _initTreeEvent() {
            let $bus = window.wemb.pageTreeDataManager.$bus;

            $bus.$on("updatePageTree", () => {
                this.redrawTree();
            });
        }

        mounted() {
            window.wemb.viewComponentMap.set(PageTreePanelMediator.NAME, this);
            let self = this;
            //페이지 이동
            $(PageTreePanel.TREE_SELECTOR).on("dblclick", "li[role='treeitem']", function () {
                let id = $(this).attr("id");
                if (id == "wv_root")
                    return;

                let target = self.getTreeObject().get_node(id);
                if (target && (target.type == "page" || target.type == "master")) {
                    self._openPageById(target.id);
                }
            })
        }

        private _openPageById(pageId: string) {
            this.$emit(PageTreePanel.EVENT_OPEN_PAGE, pageId);
        }

        onNewPage(type) {
            this.$emit(PageTreePanel.EVENT_NEW_PAGE, type);
        }

        onEditPage() {

            let ref = this.getTreeObject();
            let sel = ref.get_selected();

            if (!sel.length) {
                return false;
            }
            sel = sel[0];
            ref.edit(sel);
        }

        onDeleteTreeItems() {
            let data = this.getSelectedRemoveTargetData();
            this.$emit(PageTreePanel.EVENT_DELETE_PAGE_TREE_ITEMS, data);
        }


        getTreeObject() {
            if (!this.treeObject) {
                this.treeObject = $(PageTreePanel.TREE_SELECTOR)["jstree"](true);
            }
            return this.treeObject;
        }

        setRegisterStartPageId() {
            this._updatePageStateStyle();
        }

        getStartPageId() {
            return window.wemb.configManager.getStartPageId();
        }

        getSelectedTreeIds() {
            return this.getTreeObject().get_selected();
        }

        private getSelectedRemoveTargetData():Array<any>{
            let ids = this.getSelectedTreeIds();
            let removeItems = [];
            for( let index in ids ){
                let id = ids[index];
                let item = this.getTreeData().find(x=>x.id == id);
                removeItems.push( {type: item.type, id: id} );
            }

            return removeItems;
        }



        private _updatePageStateStyle(){
            let $li = $(PageTreePanel.TREE_SELECTOR).find("li");
            $li.find(".selected").removeClass("selected");
            $li.filter(".start").removeClass("start");
            $li.filter(".master").removeClass("master");

            // jstree-search 스타일 제거
            $li.find(".jstree-search").removeClass("jstree-search");

            $li.filter("[id='" + this.selectedPageID + "']").addClass("selected");
            $li.filter("[id='" + this.getStartPageId() + "']").addClass("start");

            // Master Page 존재 여부에 따른 Tree 스타일 변경
            var item = this.getTreeData().find(x=>x.id == this.selectedPageID);
            if (item != null  && item.master_page != null){
                $li.filter("[id='" + item.master_page + "']").addClass("master");
            }
        }

        private _updateSelectedPageID(pageId: string) {
            this.selectedPageID = pageId;
            this._updatePageStateStyle();

            // Master Page 존재 여부에 따른 Tree node 초기 노출
            var item = this.getTreeData().find(x=>x.id == this.selectedPageID);
            if (item != null  && item.master_page != null){
                this.getTreeObject().select_node(item.master_page);
            }

            this.getTreeObject().deselect_all();
            this.getTreeObject().select_node(this.selectedPageID);
            window.wemb.pageTreeDataManager.focusTargetId = this.selectedPageID;
        }


        noti_openPage(page) {
            this.active = true;
            this.isReadyTreeData = true;
            this._updateSelectedPageID(page.id);

            this.buttons.deletePage = true;
            this.buttons.newPage = true;
            this.buttons.editPage = true;
            this.buttons.editGroup = true;
        }

        noti_closedPage(){
            this.buttons.deletePage = false;
            this.buttons.newPage = false;
            this.buttons.editPage = false;
            this.buttons.editGroup = false;
        }


        noti_updateEditorState(state: EDITOR_APP_STATE) {
            if (state == EDITOR_APP_STATE.READY_COMPLETED) {
                this.createPageTree();
                this.active = true;
            }
        }

        saveMoveItems(id, parent, prevId){
            //multi 셀렉트 후 이동시 해당 정보가 1개씩 호출되어 모아서 처리
            this.tempMoveNodeDataAry.push({ id: id, prevId:prevId, parent: parent});
            clearTimeout(this.moveNodeCheckTimer);
            this.moveNodeCheckTimer = setTimeout(()=>{
                let data = $.extend(true, [], this.tempMoveNodeDataAry);
                this.requestUpdateMoveTreeItem(data);
                this.tempMoveNodeDataAry = [];
            }, 200);

        }

        getTreeData(){
            return window.wemb.pageTreeDataManager.treeData;
        }

        requestUpdateMoveTreeItem(nodeAry){
            //tree에서만 호출되므로 직접 호출
            window.wemb.pageTreeDataManager.moveTreeItems( nodeAry );
        }


        redrawTree(){
            if(this.getTreeObject()){
                //가장 최신의 상태로 redraw
                this.getTreeObject().settings.core.data = this.getTreeData();//getter로 가져올 경우 이전데이터가 인식되어 메소드로 변경
                this.getTreeObject().refresh();
                /*try{
                      this.getTreeObject().refresh();
                }catch(error){
                      this.reloadTreeData();
                }*/
            }

            this.$emit(PageTreePanel.EVENT_UPDATE_PAGE_TREE_ITEMS, this.getTreeData());
        }

        reloadTreeData(){
            window.wemb.pageTreeDataManager.startLoading().then(()=>{
                //tree정보 업데이트 후 이벤트 발생되어 redrawTree() 실행 됨.
            }).catch( (error)=>{

            })
        }

        // [REN-319] v2.1.0 사용자 초기 페이지 설정
        setUserInitPage(node){
            var msg = this.$i18n.messages.wv;
            //msg.msg05, msg.common.notification (메시지는 추후에 추가 예정)
            this.$confirm("초기 페이지로 설정 하시겠습니까?", {confirmButtonText: 'OK', cancelButtonText: 'Cancel', type: 'info'}
            ).then(() => {
                pageApi.updateUserInitPage(node.id).then((result)=>{
                        window.wemb.configManager.setStartPageId(node.id);
                        this._updatePageStateStyle();
                }).catch((error)=>{
                })
            });
        }

        // [REN-312] v2.1.0 마스터 페이지 설정 팝업
        showReferencePagesModal(node){
            window.wemb.$referencePagesModal.show(node);
        }

        // [REN-318] v2.1.0 페이지 검색 기능 추가
        private onChangeSearch(){
            this.getTreeObject().search(this.search.trim(), false, true, 'wv_root');

            if (this.search == "" && this.isNotSearch){
                this.isNotSearch = false;
            }

            this._updatePageStateStyle();
        }

        private onClearSearch(){
            this.search = "";
            this.getTreeObject().clear_search();
            this._updatePageStateStyle();
        }

        createPageTree() {
            let self = this;
            let pageTreeDataManager = window.wemb.pageTreeDataManager;
            let treeData = $.extend(true, [], this.getTreeData());
            //treeData = [{"text":"gg","prev_id":"2e8178fb-63f1-4b84-a17a-80dd0f85d20f","type":"page","reg_dt":null,"update_dt":"Aug 13, 2018 1:39:16 PM","parent":"wv_root","id":"9e2a2cae-990d-49a3-8492-db51fedb8f06","secret":"N","version":"1.0.0"},{"text":"tyuiui","prev_id":"b6bb19b7-e934-4962-a4d1-9acd8e273977","type":"page","reg_dt":null,"update_dt":"Aug 14, 2018 10:23:59 AM","parent":"404f28ac-90c6-4d0c-8a9b-ff1a6f42acac","id":"df64bb08-24d6-4438-a232-048cc003897f","secret":"N","version":"1.0.0"},{"text":"ggg1","prev_id":"9e2a2cae-990d-49a3-8492-db51fedb8f06","type":"group","reg_dt":"Aug 13, 2018 1:39:33 PM","update_dt":null,"parent":"wv_root","id":"c25a1ead-c15c-475b-b2d5-690e2dc4b04a","secret":"N","version":"1.0.0"},{"text":"22222","prev_id":"df64bb08-24d6-4438-a232-048cc003897f","type":"group","reg_dt":"Aug 14, 2018 10:23:38 AM","update_dt":null,"parent":"404f28ac-90c6-4d0c-8a9b-ff1a6f42acac","id":"f30b81a7-90bb-46b4-80bb-db1bb309ba75","secret":"N","version":"1.0.0"},{"text":"p3","prev_id":"c25a1ead-c15c-475b-b2d5-690e2dc4b04a","type":"page","reg_dt":null,"update_dt":"Aug 13, 2018 1:24:44 PM","parent":"wv_root","id":"b855083a-dc67-45d2-93fb-a6ee18eda853","secret":"N","version":"1.0.0"}];

            // try{
            $(PageTreePanel.TREE_SELECTOR)["jstree"]({
                "core": {
                    "animation": 0,
                    "check_callback": true,
                    "themes": {
                        "stripes": true
                    },
                    'data': treeData,
                    "expand_selected_onload" : false
                },
                'contextmenu': {
                    'items': function (node) {

                        var tmp = $["jstree"].defaults.contextmenu.items();

                        delete tmp.create.action;
                        delete tmp.ccp.submenu;

                        tmp.create.label = "New";
                        tmp.ccp.label = "Update";

                        tmp.remove.separator_before = true;
                        tmp.remove.action = function (data) {
                            self.onDeleteTreeItems();
                        };

                        tmp.create.submenu = {
                            "create_folder": {
                                    "separator_after": true,
                                    "label": "Group",
                                    "action": function (data) {
                                        self.onNewPage("group");
                                    }
                            },

                            "create_file": {
                                    "separator_after": true,
                                    "label": "Page",
                                    "action": function (data) {
                                        self.onNewPage("page");
                                    }
                            },

                            "create_master": {
                                    "label": "Master",
                                    "action": function (data) {
                                        self.onNewPage("master");
                                    }
                            }
                        };

                        if (this.get_type(node) === "root") {
                            delete tmp.rename;
                        }

                        // Page 및 Master에 따른 Contextmeue 변경
                        switch (this.get_type(node)) {
                            case "page":
                                    tmp.ccp.submenu = {
                                        "ccp_ref_master": {
                                            "separator_after": true,
                                            "label": "Refer Master",
                                            "action": function (data) {
                                                    self.showReferencePagesModal(node);
                                            }
                                        },
                                        "ccp_init_page": {
                                            "separator_after": true,
                                            "label": "Init Page",
                                            "action": function (data) {
                                                    self.setUserInitPage(node);
                                            }
                                        }
                                    };
                                    break;
                            case "master":
                                    tmp.ccp.submenu = {
                                        "ccp_ref_page": {
                                            "separator_after": true,
                                            "label": "Refer Pages",
                                            "action": function (data) {
                                                    self.showReferencePagesModal(node);
                                            }
                                        }
                                    };
                                    break;
                            default:
                                    delete tmp.ccp;
                                    break;
                        }
                        /*
                        권한 작업으로 인한 startPage 설정 주석 처리
                        */
                        /*if (this.get_type(node) === "page") {
                              tmp.register = {
                                    label: "Start Page",
                                    separator_after: false,
                                    separator_before: false,
                                    _disabled: false,
                                    action: function (data, data2) {
                                          self.setRegisterStartPageId(self.getTreeObject().get_selected()[0]);
                                    }
                              }
                        }*/

                        return tmp;
                    }
                },

                "types": {
                    "#": {
                        "max_children": 1,
                        "max_depth": 15,
                        "valid_children": ["root"]
                    },

                    "root": {
                        "valid_children": ["group", "page", "master"]
                    },

                    "group": {
                        //"icon": "fa fa-folder-o",
                        "valid_children": ["group", "page", "master"]
                    },

                    "page": {
                        "icon": "fa fa-file-o",
                        "valid_children": []
                    },

                    "master": {
                            "icon": "fa fa-medium",
                            "valid_children": []
                    }
                },

                "plugins": ["dnd", "state", "types", "wholerow", "contextmenu", "search"],
                "search": {
                    "case_insensitive": true,
                    "show_only_matches" : true,
                    'show_only_matches_children': true
                }
            }).on('changed.jstree', function (e, data) {

                if (data.selected && data.selected.length == 1) {
                    pageTreeDataManager.focusTargetId = data.selected[0];
                } else {
                    pageTreeDataManager.focusTargetId = '';
                }

                let target = self.getTreeObject().get_node(pageTreeDataManager.focusTargetId);

                switch (target.type) {
                    case "root":
                        self.buttons.editGroup = false;
                        self.buttons.deletePage = true;
                        self.buttons.newPage = true;
                        break;
                    case "group":
                        self.buttons.editGroup = true;
                        self.buttons.deletePage = true;
                        self.buttons.newPage = true;
                        break;
                    case "page":
                        self.buttons.editGroup = true;
                        self.buttons.deletePage = true;
                        self.buttons.newPage = true;
                        break;
                }

                self._updatePageStateStyle();

            }).on("rename_node.jstree", (e, data, r) => {

                if(!data.node.text.trim()){
                    alert("값을 입력해주세요.");
                    return;
                }
                if(data.text == data.old){return;}


                pageTreeDataManager.renameTreeItem(data.node.id, data.node.text, data.old, data.node.type).then(()=>{

                    self._updatePageStateStyle();
                    if(data.node.type == "page"){
                        /*window.wemb.pageManager.updatePageName(data.node.id, data.node.text).then(() => {

                        }).catch(error => {
                              alert(error);
                        })*/
                    }
                }).catch((error)=>{
                    self.redrawTree();
                });

            }).on("move_node.jstree", (e, data) => {
                let target = self.getTreeObject().get_node(data.node.id);
                let prevId = target.parent;
                let prevDom = self.getTreeObject().get_prev_dom(target, true);
                if( prevDom ){
                    prevId = prevDom.attr("id");
                }

                let prevTreeItem = self.getTreeData().find(x=>x.id == prevId);
                self.saveMoveItems(data.node.id, target.parent, prevId);
                self._updatePageStateStyle();
            }).on("open_node.jstree", () => {
                self._updatePageStateStyle();
            }).on("create_node.jstree", (e, data) => {
                self._updatePageStateStyle();
                self.getTreeObject().select_node(self.selectedPageID);
            }).on("select_node", (e, data)=>{
                console.log("TARGET SELECT");

            }).on("hover_node.jstree", (e, data)=>{
                if(data.node.original.description !== ""){
                    $("#"+data.node.id).prop('title', data.node.original.description);
                }
            }).on('search.jstree', function (nodes, str, res) {
                self.isNotSearch = str.nodes.length === 0;
            }).on('keyup', e => { 
                if (e.keyCode === CommonStatic.DELETE_KEY) self.onDeleteTreeItems() 
            })
            

            /*}catch(error){
                  //console.log("@@ error !!");
            }*/

            this._updatePageStateStyle();

            $("body").on("focus", ".jstree-rename-input",(e)=>{
                window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);

            })

            $("body").on("blur", ".jstree-rename-input",(e)=>{
                window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
            })
        }

    }






</script>
<style scoped>
      .page-searching {
            display: flex;
            padding: 4px;
      }
      .page-searching .searching-field{
            margin:0;
            height: 22px !important;
      }

      .treeview-custom {
            height: 200px;
            background-color: #ECEFF1;
      }

      .treeview-custom .icon.node-parent .fill {
            fill: #607D8B;
      }

      .treeview-custom .icon.node-parent-toggled .front {
            fill: #546E7A;
      }

      .treeview-custom .icon.node-parent-toggled .back {
            stroke: #546E7A;
            fill: #FFE151;
      }

      .treeview-custom .icon.node circle {
            stroke: #FF9800;
            fill: #FFCC80;
      }

      .treeview-custom label {
            font-weight: normal;
      }

      .treeview-custom .node.active label {
            font-weight: bold;
      }

      .treeview-custom .node.active {
            background-color: #CFD8DC;
            color: #FF9800;
            border-radius: 5px;
            padding: 5px;
      }

      .disabled {
            opacity: 0.5;
      }

      #page-tree >>> .jstree-wholerow {
            text-align: left;
      }

      #page-tree >>> li.selected > .jstree-wholerow:after {
            display: inline-block;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: #ff0101;
            margin-left: 8px;
      }

      #page-tree >>> li.start > .jstree-wholerow:after {
            display: inline-block;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: blue;
            margin-left: 8px;
      }

      #page-tree >>> li.master > .jstree-wholerow:after {
            display: inline-block;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: green;
            margin-left: 8px;
      }
</style>
