<template>
      <modal
            class="w-modal"
            id="exprot-resource-manager"
            name="exprot-resource-manager"
            :clickToClose="true"
            :resizable="true"
            :width="1200"
            :height="600"
            :min-width="1200"
            :min-height="600"
            draggable=".modal-header"
            @opened="openedModal()"
            @closed="closedModal()">

            <div class="modal-header"><h4>Export Resources</h4><a class="close-modal-btn" role="button" @click="hide()"><i class="el-icon-error"></i></a></div>
            <div class="modal-body export-resource-modal-wrap">
                  <div v-if="!totalLen" class="empty">
                        {{$t('resourceManager.emptyRes')}}
                  </div>
                  <div v-else>
                        <div>
                              <div class="button-wrap">
                                    <el-button type="success" size="small" @click="onClickExportSelectedFiles">{{$t('resourceManager.exportSelectedRes')}}
                                    </el-button>
                                    <el-button style="margin-left:0;" type="primary" size="small" @click="onClickExportAllFiles">{{$t('resourceManager.exportAllRes')}}
                                    </el-button>
                              </div>
                              <el-input class="search-field" v-model="searchStr" size="small" placeholder="search file">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                    <i @click="clearSearchStr()" class="clear-search-str el-icon-error el-input__icon"
                                    slot="suffix"></i>
                              </el-input>
                              <div class="top-ui" v-if="searchStr.length > 0">
                                    '<em>{{searchStr}}</em>' {{$t('resourceManager.searchResults')}}
                              </div>
                        </div>
                        <div>
                              <ul>
                                    <li v-for="key in keys" :key="key">
                                          <resource-list-component :searchStr="searchStr" :title="resourceObj[key]['label']" :list="resourceObj[key]['list']" :ref="'type'+key"></resource-list-component>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      </modal>
</template>

<script lang="ts">
      import Vue from "vue"
      import Component from "vue-class-component"
      import userResourceApi from "../../../../common/api/userResourceApi";
      import ResourceListComponent from "./contents/ResourceListComponent";
      import EditorStatic from "../../../controller/editor/EditorStatic";
      import {ObjectUtil} from "../../../../wemb/utils/Util";

      @Component({
            components: {
                  ResourceListComponent
            }
      })
      export default class ExportResourceManagerModal extends Vue {
            public resourceObj: any = {
                  "img":{
                        "label": "Images",
                        "list": []
                  },

                  "icon":{
                        "label": "Icons",
                        "list": []
                  },

                  "buttons":{
                        "label": "Button Images",
                        "list": []
                  },

                  "bg":{
                        "label": "Background",
                        "list": []
                  },

                  "obj3d":{
                        "label": "3D Objects",
                        "list": []
                  },

                  "gltf":{
                        "label": "gfTF",
                        "list": []
                  },

                  "dcim":{
                        "label": "Asset Resources",
                        "list": []
                  },

                  "json3d":{
                        "label": "3D Animation",
                        "list": []
                  },

                  "spriteClip":{
                        "label": "Sprite Clip",
                        "list": []
                  },

                  "stateClip":{
                        "label": "State Clip",
                        "list": []
                  }
            }

            public searchStr:string = "";
            public keys:Array<string> = [];
            public totalLen: number = 0;

            created(){
                  this.keys = Object.keys(this.resourceObj);
            }

            init(){
                  this.clearSearchStr();
            }

            clearSearchStr() {
                  this.searchStr = "";
            }

            //private types:Array<string> = ["img", "icon", "buttons", "bg", "obj3d", ]

            public load(){
                  userResourceApi.loadUserResourceList().then((result) => {
                        this.updateResourceList(result);
                  });
            }

            updateResourceList(list){
                  let count = 0;
                  for( let index in this.keys ){
                        let key = this.keys[index];
                        let typeList = list.filter(x=> x.type == key);
                        this.resourceObj[key]["list"] = typeList;
                        count += typeList.length;
                  }

                  this.totalLen = count;
            }

            onClickExportSelectedFiles(){
                  let data = this.getSelectedItems();

                  if( data.count == 0 ){
                        this.$message({
                              message: this.$i18n.messages.wv.resourceManager.noSelectMsg,
                              type: 'warning'
                        });
                        return;
                  }

                  this.exportResources(data);
            }

            onClickExportAllFiles(){
                  let data = this.getAllItems();
                  this.exportResources(data);
            }

            exportResources(data){
                  let fileStr = "files";
                  if(data.count == 1){
                        fileStr = "file";
                  }

                  let confirmMsg = "[ "+data.count+"/"+this.totalLen+ " "+fileStr+" ]\n" + this.$i18n.messages.wv.resourceManager.exportSResConfirmMsg;
                  this.$confirm(confirmMsg, {
                        confirmButtonText: 'Ok',
                        cancelButtonText: 'Cancel',
                        type: 'info'
                  }).then(() => {
                        userResourceApi.exportResourceList(data).then(result => {
                            if(!result.fileName){
                                this.$message.error(this.$i18n.messages.wv.resourceManager.failExport);
                                return;
                            }
                              var link = document.createElement('a');
                              link.href = window.wemb.configManager.serverUrl + "/download/" + result.fileName;
                              var fileName = result.fileName;
                              link.download = fileName;
                              link.click();
                              $(link).remove();

                              //IE일 경우 리소스 다운로드 성공 팝업 안띄우기
                              var isIE = ObjectUtil.detectIE();
                              if(!isIE){
                                    this.$message(this.$i18n.messages.wv.resourceManager.successExport);
                              }
                        }, (error)=>{
                              this.$alert(error);
                        })

                  }).catch(() => {
                        //
                  });
            }

            getSelectedItems():any{
                  let data = {};
                  let count = 0;
                  for( let index in this.keys ){
                        let key = this.keys[index];
                        let items = this.$refs["type"+key][0].getCurrentSelectedItems();
                        let requestItemsData = this.getRequestItemsData(items);

                        if(requestItemsData.length){
                              data[key] = requestItemsData;
                        }

                        count += requestItemsData.length;
                  }

                  return {data:data, count: count};
            }


            getRequestItemsData( items ):Array<any>{
                  let data = items.map((x)=>{
                        let ary = x.fileName.split(".");
                        let extension = ary[ary.length-1];

                        return {
                              id: x.id,
                              fileName: x.fileName,
                              extension: extension
                        }
                  });

                  return data;
            }

            getAllItems():any{
                  let data = {};
                  let count = 0;

                  for( let index in this.keys ){
                        let key = this.keys[index];
                        //let ids = this.resourceObj[key]["list"].map(x=>x.id);
                        let items = this.resourceObj[key]["list"];
                        let requestItemsData = this.getRequestItemsData( items );
                        if( requestItemsData && requestItemsData.length ){
                              data[key] = requestItemsData;
                        }
                        count += requestItemsData.length;
                  }

                  return {data:data, count: count};
            }


            public show(options) {
                  this.$modal.show('exprot-resource-manager');
                  this.load();
            }

            public hide() {
                  this.init();
                  this.$modal.hide('exprot-resource-manager');
            }

            public openedModal() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
            }

            public closedModal() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
            }
      }
</script>

<style scoped>
      .export-resource-modal-wrap{
            flex-direction: column;
            overflow: auto;
      }

      .export-resource-modal-wrap>.empty{
            flex: 1;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 14px;
      }

      .w-modal .modal-body {
            display: flex;
            flex: 1;
            padding: 24px;
            align-items: stretch;
      }

      .button-wrap{
            float: right;
      }

      .search-field{
            width: 300px;
      }

      .w-modal .modal-body .btn-wrap {
            margin: 14px 10px 16px 0;
            text-align: center;
      }

      .w-modal .modal-body .btn-wrap button {
            margin: 0;
      }

      .w-modal .modal-body input.disabled,
      .w-modal .modal-body input[disabled="disabled"] {
            background-color: #f5f7fa;
            border-color: #dfe4ed;
            color: #b4bccc;
            cursor: not-allowed;
      }


      #export-resource-manager >>> .modal-body {
            padding: 0;
      }

      #export-resource-manager >>> .el-tabs__content {
            height: 100%;
            padding: 15px 15px 15px 6px;
      }

      #export-resource-manager >>> .el-tabs__content .el-tab-pane {
            height: 100%;
      }
</style>
