.BgLayerLabelComponent {
    display: flex;
}

.BgLayerLabelComponent .front-layer {
    display: flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
}

.BgLayerLabelComponent .front-layer>.txt-label {
    display: block;
    flex: 1;
}
