<template>
	<modal
		class="w-modal modal-tabs"
		id="basic-grid-extension"
		name="basic-grid-extension"
		@opened="modalOpened"
		:click-to-close="false"
		:resizable="true"
		:draggable="false"
		:width="1200"
		:height="600"
		:min-width="1200"
		:min-height="600"
	>
		<div class="modal-header"><h4>Basic Grid Settings</h4><a class="close-modal-btn" role="button"
		                                                         @click="hide"><i class="el-icon-error"></i></a>
		</div>
		<div class="modal-body">

			<el-tabs type="border-card" class="flex">
				<el-tab-pane label="Grid Style">
					<grid-style-settings-component
						ref="gridStyleSettingsComp"></grid-style-settings-component>
					<div class="bottom-btn-wrap d-flex justify-content-center">
						<el-button class="bottom-btn" size="small" @click="hide">{{$t('common.cancel')}}</el-button>
						<el-button class="bottom-btn" type="primary" size="small" @click="_onOk">{{$t('common.save')}}
						</el-button>
					</div>
				</el-tab-pane>

				<el-tab-pane label="Grid Setting">
					<!--<button @click="setData"> test </button>-->
					<el-steps class="no-label step-cont" :active="stepActive" finish-status="success">
						<el-step title="Step 1"></el-step>
						<el-step title="Step 2"></el-step>
						<el-step title="Step 3"></el-step>
					</el-steps>
					<div class="grid-step-wrap" v-show="stepActive==0">
						<dataset-preview-main-component ref="datasetPreviewComp"
						                                class="dataset-preiview-comp flex"></dataset-preview-main-component>
						<div class="bottom-btn-wrap d-flex justify-content-end">
							<el-button class="bottom-btn" type="primary" size="small" @click="nextStep2">
								{{$t('common.next')}}
							</el-button>
						</div>
					</div>
					<div class="grid-step-wrap" v-show="stepActive==1">
						<div class="flex-scroll d-flex flex-row">
							<div class="d-flex flex-column">
								<h5 class="cont-title">{{$t('extension.basicGrid.title')}}</h5>
								<transfer-main-component class="flex transfer-comp" ref="transferComp"
								                         @change="changeColumnData"></transfer-main-component>
							</div>
							<div class="d-flex flex-column flex" style="margin-left: 20px;">
								<h5 class="cont-title">{{$t('common.preview')}}</h5>
								<basic-table-component ref="transferPreviewComp"
								                       class="flex-scroll"></basic-table-component>
							</div>
						</div>
						<div class="bottom-btn-wrap d-flex justify-content-center">
							<el-button class="bottom-btn" size="small" @click="prevStep1">{{$t('common.prev')}}</el-button>
							<el-button class="bottom-btn" type="primary" size="small" @click="nextStep3">
								{{$t('common.next')}}
							</el-button>
						</div>
					</div>
					<div class="grid-step-wrap" v-show="stepActive==2">
						<column-data-settings-component class="flex"
						                                ref="columnDataSettingsComp"></column-data-settings-component>
						<div class="bottom-btn-wrap d-flex justify-content-center">
							<el-button class="bottom-btn" size="small" @click="prevStep2">{{$t('common.prev')}}</el-button>
							<el-button class="bottom-btn" type="primary" size="small" @click="_onOk">{{$t('common.save')}}
							</el-button>
						</div>
					</div>
				</el-tab-pane>

			</el-tabs>
		</div>
	</modal>
</template>
<script>
	/*******************************/
	var GridStylePreviewComponent = {
		props: {
			data: {
				type: Object,
				default: function _default() {
					return {
						th: '',
						thTxt: '',
						td: '',
						td2: '',
						sortIcon: { default: '', active: '' },
						border: { outside: '', inside: '' }
					};
				}
			},

			layout: {
				type: String,
				default: "horizontal"
			}
		},

		template:
			`
			<div class="grid-style-preivew grid-preview-table">
				<div class="table-wrap" :style="data.border.outside" v-if="layout=='vertical'">
					<table class="vtable">
						<tbody>
							<tr>
								<th :style="data.th+data.border.inside">
									<div class="column-wrap"><span :style="data.thTxt">No.</span></div>
								</th>
								<td :style="data.td+data.border.inside">1</td>
								<td :style="data.td2+data.border.inside">2</td>
								<td :style="data.td+data.border.inside">3</td>
								<td :style="data.td2+data.border.inside">4</td>
							</tr>
							<tr>
								<th class="sortable-head" data-key="Continent" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Continent</span>
										<span class="caret-wrapper">
			<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.active"></i>
			<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
			</span>
									</div>
								</th>
								<td :style="data.td+data.border.inside">Africa</td>
								<td :style="data.td2+data.border.inside">Europe</td>
								<td :style="data.td+data.border.inside">Oceania</td>
								<td :style="data.td2+data.border.inside">South America</td>
							</tr>
							<tr>
								<th class="sortable-head" data-key="Name" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Name</span>
										<span class="caret-wrapper">
			<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.default"></i>
			<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
			</span>
									</div>
								</th>
								<td :style="data.td+data.border.inside">Sierra Leone</td>
								<td :style="data.td2+data.border.inside">Switzerland</td>
								<td :style="data.td+data.border.inside">Christmas Island</td>
								<td :style="data.td2+data.border.inside">Suriname</td>
							</tr>
							<tr>
								<th class="sortable-head" data-key="Population" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Population</span>
										<span class="caret-wrapper">
			<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.default"></i>
			<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
			</span>
									</div>
								</th>
								<td :style="data.td+data.border.inside">4854000</td>
								<td :style="data.td2+data.border.inside">7160400</td>
								<td :style="data.td+data.border.inside">2500</td>
								<td :style="data.td2+data.border.inside">417000</td>
							</tr>
							<tr>
								<th class="sortable-head" data-key="Surface" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Surface</span>
										<span class="caret-wrapper">
			<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.default"></i>
			<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
			</span>
									</div>
								</th>
								<td :style="data.td+data.border.inside">71740.00</td>
								<td :style="data.td2+data.border.inside">41284.00</td>
								<td :style="data.td+data.border.inside">135.00</td>
								<td :style="data.td2+data.border.inside">163265.00</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-wrap" :style="data.border.outside" v-else>
					<table class="htable">
						<thead>
							<tr>
								<th :style="data.th+data.border.inside">
									<div class="column-wrap"><span :style="data.thTxt">No.</span></div>
								</th>
								<th class="sortable-head" data-key="Continent" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Continent</span>
										<span class="caret-wrapper">
											<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.active"></i>
											<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
										</span>
									</div>
								</th>
								<th class="sortable-head" data-key="Name" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Name</span>
										<span class="caret-wrapper">
											<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.default"></i>
											<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
										</span>
									</div>
								</th>
								<th class="sortable-head" data-key="Population" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Population</span>
										<span class="caret-wrapper">
											<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.default"></i>
											<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
										</span>
									</div>
								</th>
								<th class="sortable-head" data-key="Surface" :style="data.th+data.border.inside">
									<div class="column-wrap">
										<span :style="data.thTxt" class="column-txt">Surface</span>
										<span class="caret-wrapper">
											<i class="sort-caret ascending el-icon-caret-top" :style="data.sortIcon.default"></i>
											<i class="sort-caret descending el-icon-caret-bottom" :style="data.sortIcon.default"></i>
										</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td :style="data.td+data.border.inside">1</td>
								<td :style="data.td+data.border.inside">Africa</td>
								<td :style="data.td+data.border.inside">Sierra Leone</td>
								<td :style="data.td+data.border.inside">4854000</td>
								<td :style="data.td+data.border.inside">71740.00</td>
							</tr>
							<tr>
								<td :style="data.td2+data.border.inside">2</td>
								<td :style="data.td2+data.border.inside">Europe</td>
								<td :style="data.td2+data.border.inside">Switzerland</td>
								<td :style="data.td2+data.border.inside">7160400</td>
								<td :style="data.td2+data.border.inside">41284.00</td>
							</tr>
							<tr>
								<td :style="data.td+data.border.inside">3</td>
								<td :style="data.td+data.border.inside">Oceania</td>
								<td :style="data.td+data.border.inside">Christmas Island</td>
								<td :style="data.td+data.border.inside">2500</td>
								<td :style="data.td+data.border.inside">135.00</td>
							</tr>
							<tr>
								<td :style="data.td2+data.border.inside">4</td>
								<td :style="data.td2+data.border.inside">South America</td>
								<td :style="data.td2+data.border.inside">Suriname</td>
								<td :style="data.td2+data.border.inside">417000</td>
								<td :style="data.td2+data.border.inside">163265.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			`
		};

	var GridStyleSettingsComponent = {
		data: function () {
			return {
				layout: "horizontal",
				style: {
					header: {
						align: "center",
						bgColor: 'rgba(250, 250, 250, 1)',
						fontSize: 12,
						fontColor: 'rgba(33, 37, 41, 1)',
						bold: false,
						paddingTB: 6,
						paddingRL: 14
					},

					body: {
						striped: true,
						stripedOptions: [{
							value: true,
							label: 'striped'
						}, {
							value: false,
							label: 'none'
						}],

						fontSize: 12,
						bold: false,
						bgColor1: 'rgba(255, 255, 255, 1)',
						bgColor2: 'rgba(250, 250, 250, 1)',
						fontColor1: 'rgba(33, 37, 41, 1)',
						fontColor2: 'rgba(33, 37, 41, 1)',
						paddingTB: 6,
						paddingRL: 14
					},

					sortIcon: {
						color: 'rgba(180, 188, 204, 1)',
						activeColor: 'rgba(94, 97, 106, 1)'
					},

					border: {
						inside: {
							size: 1,
							color: 'rgba(230, 235, 245, 1)',
							style: 'solid'
						},

						outside: {
							size: 1,
							color: 'rgba(230, 235, 245, 1)',
							style: 'solid',
							radius: 0
						}
					}
				}

			}
		},

		computed: {
			gridStyle: function () {
				var style = {
					th: '',
					thTxt: '',
					td: '',
					td2: '',
					sortIcon: {default: '', active: ''},
					border: {outside: '', inside: ''}
				};


				var header = this.style.header;
				var body = this.style.body;
				var sortIcon = this.style.sortIcon;
				var border = this.style.border;

				style.th = 'background-color:' + header.bgColor + ';';
				style.thTxt = 'font-size:' + header.fontSize + 'px;color:' + header.fontColor + ';font-weight:' + (header.bold ? "bold" : "normal") + ';padding:0;justify-content:' + header.align + ';' + 'padding:' + header.paddingTB + 'px ' + header.paddingRL + 'px';
				var tdStr = 'font-size: ' + body.fontSize + 'px; font-weight: ' + (body.bold ? "bold" : "normal") + '; padding: ' + body.paddingTB + 'px ' + body.paddingRL + 'px;';

				style.td = tdStr + 'background-color:' + body.bgColor1 + '; color:' + body.fontColor1 + ';';
				if (body.striped) {
					style.td2 = tdStr + 'background-color:' + body.bgColor2 + '; color:' + body.fontColor2 + ';';
				} else {
					style.td2 = style.td;
				}

				style.sortIcon.default = 'color: ' + sortIcon.color;
				style.sortIcon.active = 'color: ' + sortIcon.activeColor;

				var insideBorderStr = border.inside.size + 'px ' + border.inside.style + ' ' + border.inside.color + ';';
				style.border.outside = 'border: ' + border.outside.size + 'px ' + border.outside.style + ' ' + border.outside.color + '; border-radius:' + border.outside.radius + 'px;';
				style.border.inside = 'border-left:' + insideBorderStr + "border-top:" + insideBorderStr;
				return style;
			}
		},

		components: {
			GridStylePreviewComponent: GridStylePreviewComponent
		},

		template: `
				<div class="grid-style-settings">
					<h5 class="cont-title">Grid Style Preview</h5>
					<el-select v-model="layout">
						<el-option value="horizontal"></el-option>
						<el-option value="vertical"></el-option>
					</el-select>
					<grid-style-preview-component v-bind:data="gridStyle" :layout="layout"></grid-style-preview-component>
					<h5 class="cont-title">Grid Style Setting</h5>
					<div class="style-settings-table-wrap">
						<h6>Header</h6>
						<table>
							<thead>
								<th>Bg Color</th>
								<th>Font</th>
								<th>Align</th>
								<th>V Margin</th>
								<th>H Margin</th>
							</thead>
							<tbody>
								<tr>
									<td>
										<div>
											<color-picker v-model="style.header.bgColor" show-alpha></color-picker>
										</div>
									</td>
									<td>
										<div>
											<input type="number" v-model="style.header.fontSize">
											<color-picker v-model="style.header.fontColor" show-alpha></color-picker>
											<el-checkbox v-model="style.header.bold">Bold</el-checkbox>
										</div>
									</td>
									<td>
										<div>
											<el-radio-group v-model="style.header.align" size="mini" @change="changeSettings">
												<el-radio-button label="flex-start"><i aria-hidden="true" class="fa fa-align-left"></i></el-radio-button>
												<el-radio-button label="center"><i aria-hidden="true" class="fa fa-align-center"></i></el-radio-button>
												<el-radio-button label="flex-end"><i aria-hidden="true" class="fa fa-align-right"></i></el-radio-button>
											</el-radio-group>
										</div>
									</td>
									<td>
										<div>
											<input type="number" v-model="style.header.paddingTB"> </div>
									</td>
									<td>
										<div>
											<input type="number" v-model="style.header.paddingRL"> </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="style-settings-table-wrap">
						<h6>Body</h6>
						<table>
							<thead>
								<th>Striped</th>
								<th>Bg Color</th>
								<th>Font Color</th>
								<th>Font Size</th>
								<th>V Margin</th>
								<th>H Margin</th>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">
										<div>
											<el-select v-model="style.body.striped">
												<el-option v-for="item in style.body.stripedOptions" :key="item.value" :label="item.label" :value="item.value">
												</el-option>
											</el-select>
										</div>
									</td>
									<td>
										<div>
											<color-picker v-model="style.body.bgColor1" show-alpha></color-picker>
										</div>
									</td>
									<td>
										<div>
											<color-picker v-model="style.body.fontColor1" show-alpha></color-picker>
										</div>
									</td>
									<td rowspan="2">
										<div>
											<input type="number" v-model="style.body.fontSize">
											<el-checkbox v-model="style.body.bold">Bold</el-checkbox>
										</div>
									</td>
									<td rowspan="2">
										<div>
											<input type="number" v-model="style.body.paddingTB"> </div>
									</td>
									<td rowspan="2">
										<div>
											<input type="number" v-model="style.body.paddingRL"> </div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											<color-picker v-model="style.body.bgColor2" :disabled="!style.body.striped" show-alpha></color-picker>
										</div>
									</td>
									<td>
										<div>
											<color-picker v-model="style.body.fontColor2" :disabled="!style.body.striped" show-alpha></color-picker>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="style-settings-table-wrap d-flex">
						<div class="" style="width:340px;margin-right: 10px;">
							<h6>Sortable Icon</h6>
							<table>
								<colgroup>
									<col width="170">
										<col width="170">
								</colgroup>
								<thead>
									<th>Color</th>
									<th>Active Color</th>
								</thead>
								<tbody>
									<tr>
										<td>
											<div>
												<color-picker v-model="style.sortIcon.color" show-alpha></color-picker>
											</div>
										</td>
										<td>
											<div>
												<color-picker v-model="style.sortIcon.activeColor" show-alpha></color-picker>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="flex">
							<h6>Border</h6>
							<table>
								<thead>
									<th>Radius</th>
									<th>Outside</th>
									<th>Inside</th>
								</thead>
								<tbody>
									<tr>
										<td>
											<div>
												<input type="number" v-model="style.border.outside.radius" style="width: 100px;">
											</div>
										</td>
										<td>
											<div>
												<el-select v-model="style.border.outside.style">
													<el-option value="none"></el-option>
													<el-option value="solid"></el-option>
													<el-option value="dashed"></el-option>
													<el-option value="dotted"></el-option>
												</el-select>
												<input type="number" v-model="style.border.outside.size" :disabled="style.border.outside.style == 'none'" style="width: 100px;">
												<color-picker v-model="style.border.outside.color" :disabled="style.border.outside.style == 'none'" show-alpha></color-picker>
											</div>
										</td>
										<td>
											<div>
												<el-select v-model="style.border.inside.style">
													<el-option value="none"></el-option>
													<el-option value="solid"></el-option>
													<el-option value="dashed"></el-option>
													<el-option value="dotted"></el-option>
												</el-select>
												<input type="number" v-model="style.border.inside.size" :disabled="style.border.inside.style == 'none'" style="width: 100px;">
												<color-picker v-model="style.border.inside.color" :disabled="style.border.inside.style == 'none'" show-alpha></color-picker>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
		`,
		methods: {
			changeSettings: function () {

			},

			setStyle: function (value) {
				this.style = $.extend(true, this.style, value);
			},

			getStyle: function () {
				return this.style;
			}

		}
	};


	var ColumnDataPreviewTableComponent = {
		data: function () {
			return {
				tableData: [],
				sortData: [],
				settingsData: {layout: "horizontal"},
				currentSortData: {
					key: "",
					state: ""//"ascending", "descending", ""
				}
			}
		},

		template: `<div class="column-data-preview-comp grid-preview-table">
						<table v-if="settingsData.layout=='horizontal'" style="table-layout: fixed; width: 100%">
							<thead>
								<th v-if="settingsData.useCount" style="width: 50px;">No.</th>
								<template v-for="(column, index) in settingsData.keys">
									<template v-if="settingsData.settings[column].sortable">
										<th class="sortable-head" @click="sortState( column )" :class="getSortableHeadClass(column)" :style="{ 'width':  settingsData.settings[column].width }">
											<div class="column-wrap">
												<span class="column-txt"><template v-for="(str, index) in strToWordBreakAry(settingsData.settings[column].label)"><template v-if="index != 0"><br></template>{{str}}</template>
													</span>
												<span class="caret-wrapper">
													<i class="sort-caret ascending el-icon-caret-top"></i>
													<i class="sort-caret descending el-icon-caret-bottom"></i>
													</span>
											</div>
										</th>
									</template>
									<template v-else>
										<th :style="{ 'width':  settingsData.settings[column].width }">
											<div class="column-wrap">
												<span class="column-txt"><template v-for="(str, index) in strToWordBreakAry(settingsData.settings[column].label)"><template v-if="index != 0"><br></template>{{str}}</template>
													</span>
											</div>
										</th>
									</template>
								</template>
							</thead>
							<tbody>
								<tr v-for="(item, index) in sortData" :key="index">
									<td style="text-overflow: ellipsis;word-wrap: break-word;" v-if="settingsData.useCount">{{index+1}}</td>
									<td style="text-overflow: ellipsis;word-wrap: break-word;" v-for="key in settingsData.keys" :key="key" :style="settingsData.settings[key].style">{{item[key]}}</td>
								</tr>
							</tbody>
						</table>
						<table v-else>
							<tbody>
								<tr v-if="settingsData.useCount">
									<th>No.</th>
									<td v-for="(item, index) in sortData">{{index+1}}</td>
								</tr>
								<tr v-for="(column, index) in settingsData.keys">
									<template v-if="settingsData.settings[column].sortable">
										<th class="sortable-head" @click="sortState( column )" :style="{ 'height':  settingsData.settings[column].width,  'width': settingsData.thFixedWidth }" :class="getSortableHeadClass(column)">
											<div class="column-wrap">
												<span class="column-txt"><template v-for="(str, index) in strToWordBreakAry(settingsData.settings[column].label)"><template v-if="index != 0"><br></template>{{str}}</template>
													</span>
												<span class="caret-wrapper">
													<i class="sort-caret ascending el-icon-caret-top"></i>
													<i class="sort-caret descending el-icon-caret-bottom"></i>
													</span>
											</div>
										</th>
									</template>
									<template v-else>
										<th :style="{ 'height':  settingsData.settings[column].width,  'width': settingsData.thFixedWidth }">
											<div class="column-wrap">
												<span class="column-txt"><template v-for="(str, index) in strToWordBreakAry(settingsData.settings[column].label)"><template v-if="index != 0"><br></template>{{str}}</template>
													</span>
											</div>
										</th>
									</template>
									<td v-for="(item, i) in sortData" :key="i" :style="settingsData.settings[column].style">{{ item[column] }}</td>
								</tr>
							</tbody>
						</table>
					</div>`,
		methods: {
			strToWordBreakAry:function(str){
				var ary = str.split("<br>");
				return ary
			},

			setLayout: function (layout) {
				this.layout = layout;
			},

			setTableData: function (data) {
				this.tableData = data;
				this.sortData = data.concat();
			},

			sort: function (key, state) {
				var data = this.tableData.concat();

				if (state != "") {
					data.sort(function (a, b) {
						return a[key] - b[key];
					});

					if (state == "descending") {
						data.reverse();
					}
				}

				this.sortData = data;
			},

			getSortableHeadClass: function (key) {
				if (this.currentSortData.key == key) {
					switch (this.currentSortData.state) {
						case "" :
							return "";
							break;
						case "ascending" :
							return "ascending";
							break;
						case "descending" :
							return "descending";
							break;
					}
				} else {
					return "";
				}

			},

			sortState: function (key) {
				if (this.currentSortData.key == key) {
					switch (this.currentSortData.state) {
						case "" :
							this.currentSortData.state = "ascending";
							break;
						case "ascending" :
							this.currentSortData.state = "descending";
							break;
						case "descending" :
							this.currentSortData.state = "";
							break;
					}
				} else {
					this.currentSortData.key = key;
					this.currentSortData.state = "ascending";
				}

				this.sort(key, this.currentSortData.state);
			},

			settings: function (data) {
				if (!data) {
					return this.settingsData;
				}

				for (var key in data.settings) {
					var value = data.settings[key];
					var str = "text-align:" + value.align + ";";
					value["style"] = str;
				}

				this.settingsData = data;
			}
		}
	};


	var ColumnDataSettingsComponent = {
		data: function () {
			return {
				columns: [],
				columnSettings: {},
				gridSettings: {settings: {}, keys: [], useCount: false, layout: "horizontal"}
			}
		},


		components: {
			ColumnDataPreviewTableComponent: ColumnDataPreviewTableComponent,
		},

		template:
		`
		<div class="columnDataSettings">
			<div class="d-flex">
				<h5 class="cont-title flex">Column 설정하기</h5>
				<button type="button" class="icon-btn no-bg" @click="resetSettings"><i aria-hidden="true" class="fa fa-refresh"></i></button>
			</div>
			<div class="column-table-wrap">
				<table>
					<thead>
						<th>sortable</th>
						<th>column</th>
						<th>label</th>
						<th>text align</th>
						<th style="width:210px;">size</th>
						<!--<th>format</th>-->
					</thead>
					<tbody>
						<tr v-for="(column, index) in columns" :key="index">
							<td>
								<el-checkbox v-model="columnSettings[column].sortable" @change="changeSettings"></el-checkbox>
							</td>
							<td>{{column}}</td>
							<td>
								<el-input size="small" placeholder="" v-model="columnSettings[column].label" @change="changeSettings"></el-input>
							</td>
							<td>
								<el-radio-group v-model="columnSettings[column].align" size="mini" @change="changeSettings">
									<el-radio-button label="left"><i aria-hidden="true" class="fa fa-align-left"></i></el-radio-button>
									<el-radio-button label="center"><i aria-hidden="true" class="fa fa-align-center"></i></el-radio-button>
									<el-radio-button label="right"><i aria-hidden="true" class="fa fa-align-right"></i></el-radio-button>
								</el-radio-group>
							</td>
							<td>
								<el-input size="small" v-model="columnSettings[column].width" @change="changeSettings" placeholder="[ '%' or 'px' ]"></el-input>
							</td>
							<!--<td>{{columnSettings[column].format}}</td>-->
						</tr>
					</tbody>
				</table>
			</div>
			<h5 class="cont-title">미리보기</h5>
			<div>
				<div class="table-layout-wrap">
					<el-select class="layout-select" v-model="gridSettings.layout" placeholder="Select" size="small" @change="changeSettings">
						<el-option value="horizontal"></el-option>
						<el-option value="vertical"></el-option>
					</el-select>
					<el-checkbox v-model="gridSettings.useCount" @change="changeSettings">count</el-checkbox>
					<el-input v-if="gridSettings.layout == 'vertical'" size="small" v-model="gridSettings.thFixedWidth" @change="changeSettings" style="width: 200px; margin-left:8px;" placeholder="fixed 'th' width [ '%' or 'px' ]"></el-input>
				</div>
				<column-data-preview-table-component ref="previewComp"></column-data-preview-table-component>
			</div>
		</div>
		`
		,

		methods: {
			updateSettings: function () {
				var obj = {};
				var column;
				var i = 0, len;
				for (i = 0, len = this.columns.length; i < len; i++) {
					column = this.columns[i];
					obj[column] = {
						sortable: false,
						label: column,
						align: "left",
						format: "none"
					}
				}

				/* 아래 순으로 대입해야 model binding 동작 */
				var newData = $.extend(true, obj, this.columnSettings);
				this.columnSettings = $.extend(true, {}, newData);

				for (i = 0, len = this.columns.length; i < len; i++) {
					column = this.columns[i];
					this.gridSettings.settings[column] = this.columnSettings[column];
				}
				this.gridSettings.keys = this.columns;
				this.changeSettings();
			},

			resetSettings: function () {
				var self = this;

				var locale_msg = Vue.$i18n.messages.wv;
				this.$confirm(locale_msg.common.confirmInit,locale_msg.common.notification, {
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancel',
					type: 'warning'
				}).then(function () {
					self.columnSettings = {};
					self.updateSettings();
				}).catch(function () {

				});
			},


			changeSettings: function () {
				this.$refs.previewComp.settings($.extend(true, {}, this.gridSettings));
			},

			setGridSettings: function (settings, datasetResult) {
				this.gridSettings = settings;
				this.columns = settings.keys;
				this.columnSettings = settings.settings;
				this.$refs.previewComp.setTableData(datasetResult);
				this.changeSettings();
			},

			init: function (data) {
				this.columns = data.keys.concat();
				this.$refs.previewComp.setTableData(data.list);
				this.updateSettings();
			},

			getGridSettings: function () {
				return this.gridSettings;
			}
		}
	};

	/*******************************/
	module.exports = {
		data: function () {
			return {
				colors: {
					hex: '#194d33',
					rgba: {
						r: 25,
						g: 77,
						b: 51,
						a: 1
					},
					a: 0
				},

				tranferData: {
					mainData: {
						title: "Data List",
						data: []
					},

					targetListData: [{
						title: "Grid Column",
						data: []
					}]
				},

				datasetID: undefined,
				step2PreviewData: {list: [], keys: []},
				stepActive: -1,
				componentInstance: null,
				datasetResultData: null
			}
		},

		components: {
			ColumnDataSettingsComponent: ColumnDataSettingsComponent,
			GridStyleSettingsComponent: GridStyleSettingsComponent
		},

		methods: {
			_validationSettings: function (datasetId, columns) {
				var self = this;
				return Vue.$DatasetPreviewService.validationDataset(datasetId).then(function (result) {
					if (!result) {
						alert(Vue.$i18n.messages.wv.dataset.invalidDataset01);
						return false;
					} else {
						return Vue.$DatasetPreviewService.validationColumns(result, columns);
					}
				}).then(function (result) {
					if (!result) {
						alert(Vue.$i18n.messages.wv.dataset.invalidDataset02);
						return false;
					} else {
						return result;
					}
				});
			},

			setData: function (data) {
				this.tranferData.targetListData[0].data = data.settings.keys.concat();
				this.tranferData.mainData.data = data.datasetResult.keys.concat();

				this.datasetID = data.datasetId;
				this.datasetResultData = data.datasetResult;
				this.step2PreviewData.list = this.datasetResultData.data;
				this.$refs.transferPreviewComp.setData(this.step2PreviewData);

				this.changeColumnData(this.tranferData);
				this.$refs.transferComp.setData(this.tranferData);
				this.$refs.columnDataSettingsComp.setGridSettings(data.settings, this.datasetResultData.data);

			},

			changeColumnData: function (data) {
				this.step2PreviewData.keys = data.targetListData[0].data.concat();
				this.$refs.transferPreviewComp.setColumns(this.step2PreviewData.keys);
			},

			prevStep1: function () {
				this.stepActive = 0;
				if (!this.$refs.datasetPreviewComp.getDataset()) {
					this.$refs.datasetPreviewComp.selectDatasetById(this.datasetID);
				}
			},

			prevStep2: function () {
				this.stepActive = 1;
			},

			nextStep2: function () {
				var currentDataset = this.$refs.datasetPreviewComp.getDataset();

				if (this.datasetID && currentDataset && this.datasetID == currentDataset.dataset_id) {
					var datasetPreviewData = this.$refs.datasetPreviewComp.getPreviewData();
					/**
					 * 이미 저장된 데이터셋 ID가 있을 경우, 데이터셋 실행하기에서 미리보기 데이터가 없어도 기존 정보로 다음스텝으로 이동,
					 * 데이터 결과가 있을경우 컬럼 정보를 비교하여 틀리면 transfer reset/ 기존 정보로 다음스텝으로 이동,
					 */
					if( datasetPreviewData == null || datasetPreviewData.length == 0 || datasetPreviewData.keys.join('') == this.datasetResultData.keys.join('')){
						this.stepActive = 1;
					}else{
						this._initTransferData();
						this.stepActive = 1;
					}
				} else {
					if (this.$refs.datasetPreviewComp.validationPreviewData()) {
						this.datasetID = currentDataset.dataset_id;
						this._initTransferData();
						this.stepActive = 1;
					}
				}
			},

			_initTransferData: function(){
				this.datasetResultData = this.$refs.datasetPreviewComp.getPreviewData();
				this.step2PreviewData.list = this.datasetResultData.data;

				this.tranferData.mainData.data = this.datasetResultData.keys;
				this.tranferData.targetListData[0].data = [];

				this.$refs.transferPreviewComp.setData(this.step2PreviewData);
				this.$refs.transferComp.setData(this.tranferData);
			},

			nextStep3: function () {
				this.stepActive = 2;
				this.$refs.columnDataSettingsComp.init(this.step2PreviewData);
			},

			_setActiveStep: function (datasetId, settings) {
				if (datasetId && datasetId.length > 1) {
					var self = this;
					var data = this._validationSettings(datasetId, settings.keys).then(function (result) {
						var __data = {
								settings: settings,
								datasetId: datasetId
							}


						if (result) {
							__data["datasetResult"] = result;
						}else{
							__data["datasetResult"] = self.componentInstance.getGroupPropertyValue("extension", "previewData") || [];
						}
						self.setData(__data);
						self.stepActive = 2;

						/*
						if (result) {

							self.setData({
								settings: settings,
								datasetId: datasetId,
								datasetResult: result
							});

							self.stepActive = 2;
						}*/
					});
				} else {
					this.stepActive = 0;
				}
			},

			/**********************************************************************/
			setComponent: function (componentInstance) {
				this.componentInstance = componentInstance;
				this.extensionProperties = $.extend(true,{}, this.componentInstance.getGroupProperties("extension"));
			},


			modalOpened:function(){
				this._setActiveStep(this.extensionProperties.datasetId, this.extensionProperties.settings);
                        this.$refs.gridStyleSettingsComp.setStyle(this._validateGridStyle());
			},

                  _validateGridStyle: function() {
                        let gridStyle = this.extensionProperties.gridStyle;

                        if (typeof gridStyle.header.bgColor === 'string') {
                              gridStyle.header.bgColor = this.createBackground('header', gridStyle.header.bgColor);
                              gridStyle.body.bgColor1 = this.createBackground('bgColor1', gridStyle.body.bgColor1);
                              gridStyle.body.bgColor2 = this.createBackground('bgColor2', gridStyle.body.bgColor2);
                        }

                        this.componentInstance.setGroupProperties("extension", this.extensionProperties);
                        return gridStyle;
                  },

                  createBackground: function(name, bgColor) {
                        return {
                              bgType: 'solid',
                              bgGradientDir: 'left',
                              bgGradientColor1: bgColor,
                              bgGradientColor2: 'rgba(250, 250, 250, 1)',
                              bgColor: bgColor,
                              name: name
                        }
                  },

			show: function () {
				this.datasetID = null;
				this.$modal.show('basic-grid-extension');
			},

			hide: function () {
				var self = this;
				var locale_msg = Vue.$i18n.messages.wv;
				this.$confirm(locale_msg.common.confirmExitWindow, 'Confirm', {
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancel',
					type: 'warning'
				}).then(function () {
					self._onHidden();
				}).catch(function () {

				});
			},

			_onHidden: function () {
				this.$emit("closed");
				this.$modal.hide('basic-grid-extension');
			},

			_onOk: function () {
				this.extensionProperties = {
					"settings": this.$refs.columnDataSettingsComp.getGridSettings(),
					"datasetId": this.datasetID,
					"gridStyle": this.$refs.gridStyleSettingsComp.getStyle(),
					"previewData": this.datasetResultData
				};

				this.componentInstance.setGroupProperties("extension", this.extensionProperties);

				var self = this;
				var locale_msg = Vue.$i18n.messages.wv;
				this.$confirm(locale_msg.common.successSave + locale_msg.common.confirmExitWindow,
				locale_msg.common.notification, {
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancel',
					type: 'info'
				}).then(function () {
					self._onHidden();
				}).catch(function () {

				});
			}
		}
	}


</script>
<style scoped>


	#basic-grid-extension .el-tabs {
		overflow: auto;
	}

	.column-data-preview-comp {
		overflow: auto;
	}

	.grid-step-wrap {
		display: flex;
		flex-direction: column;
		overflow: auto;
		flex: 1;
	}

	.cont-title {
		margin: 10px 0 10px 0;
		font-size: 16px;
	}

	.cont-title:first-child {
		margin-top: 0;
	}

	.transfer-comp {
		margin: 0 auto 10px auto;
		min-height: 240px;
	}

	.dataset-preiview-comp {
		flex: 1;
	}

	.bottom-btn-wrap {
		margin-top: 14px;
	}

	.bottom-btn-wrap .bottom-btn {
		margin-left: 6px;
		width: 300px;
		min-height: 28px;
	}

	.grid-style-settings h6 {
		font-size: 14px;
		margin: 16px 0 6px 0;
	}

	.columnDataSettings {
		overflow: auto;
	}

	.columnDataSettings .column-table-wrap {
		margin-bottom: 16px;
	}

	.columnDataSettings table {
		width: 100%;
		border: 1px solid #e6ebf5;
		text-align: center;
	}

	.columnDataSettings table th {
		white-space: nowrap;
		overflow: hidden;
		user-select: none;
	}

	.columnDataSettings table th,
	.columnDataSettings table td {
		border-bottom: 1px solid #e6ebf5;
		padding: 6px;
		border-right: 1px solid #e6ebf5;
	}

	.columnDataSettings table th,
	.columnDataSettings table thead {
		background-color: #fafafa;
	}

	.columnDataSettings .table-layout-wrap {
		margin-bottom: 6px;
	}

	.columnDataSettings .table-layout-wrap .layout-select {
		margin-right: 6px;
	}

	.grid-style-preivew {
		margin: 10px 0 20px 0;
	}

	.style-settings-table-wrap table {
		width: 100%;
		border: 1px solid #e6ebf5;
	}

	.style-settings-table-wrap table td,
	.style-settings-table-wrap table th {
		border-bottom: 1px solid #e6ebf5;
		border-right: 1px solid #e6ebf5;
		background-color: #fff;
	}

	.style-settings-table-wrap table th {
		text-align: center;
		background-color: #fafafa;
	}

	.style-settings-table-wrap table th,
	.style-settings-table-wrap table td {
		padding: 6px 14px;
	}

	.style-settings-table-wrap table td > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.style-settings-table-wrap table td > div > * {
		margin: 0 6px 0 0;
	}

	.style-settings-table-wrap table td > div > *:last-child {
		margin-right: 0;
	}

	.style-settings-table-wrap input {
		height: 30px;
		border-radius: 4px;
		border: 1px solid #d8dce5;
		padding: 6px;
	}

	.style-settings-table-wrap label {
		margin: 0;
	}

	.style-settings-table-wrap .color-picker {
		height: 30px;
	}

	.style-settings-table-wrap .color-picker__trigger {
		height: 30px;
		width: 30px;
		padding: 0;
		border: none;
	}

	.style-settings-table-wrap .color-picker__mask {
		height: 30px;
		width: 30px;
		border-radius: 0px;
	}

	/***/
	.grid-style-preivew .table-wrap {
		overflow: auto;
	}

	.grid-preview-table table {
		box-sizing: border-box;
		width: 100%;
		border: 1px solid #e6ebf5;
	}

	.grid-preview-table table td,
	.grid-preview-table table th {
		background-color: #fff;
	}

	.grid-preview-table table th {
		text-align: center;
		background-color: #fafafa;
	}

	.grid-preview-table .sortable-head {
		cursor: pointer;
	}

	.grid-preview-table .caret-wrapper {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		height: 34px;
		width: 20px;
		vertical-align: middle;
		cursor: pointer;
		overflow: initial;
	}

	.grid-preview-table .sort-caret.ascending {
		top: 5px;
	}

	.grid-preview-table .sort-caret {
		color: #b4bccc;
		width: 14px;
		overflow: hidden;
		font-size: 15px;
		position: absolute;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		vertical-align: baseline;
		display: inline-block;
		-webkit-font-smoothing: antialiased;
	}

	.grid-preview-table .sort-caret.descending {
		bottom: 7px;
	}

	.grid-preview-table .ascending .sort-caret.ascending,
	.grid-preview-table .descending .sort-caret.descending {
		color: #5e616a;
	}

	.grid-preview-table th {
		position: relative;
	}

	.grid-preview-table table th {
		padding: 0;
	}

	.grid-preview-table table th .column-txt,
	.grid-preview-table table td {
		padding: 6px 14px;
	}

	.grid-preview-table .column-wrap {
		display: flex;
	}

	.grid-preview-table .column-wrap .column-txt {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.grid-preview-table table.vtable th {
		border-left: none !important;
	}

	.grid-preview-table table.vtable tr:first-child > th,
	.grid-preview-table table.vtable tr:first-child > td {
		border-top: none !important;
	}

	.grid-preview-table table.htable th {
		border-top: none !important;
	}

	.grid-preview-table table.htable tr > th:first-child,
	.grid-preview-table table.htable tr > td:first-child {
		border-left: none !important;
	}
</style>




