<template>
      <modal
            class="w-modal modal-tabs"
            id="basic-grid-extension"
            name="basic-grid-extension"
            @opened="modalOpened"
            :click-to-close="false"
            :resizable="true"
            :draggable="false"
            :width="1200"
            :height="600"
            :min-width="1200"
            :min-height="600">
            <div class="modal-header">
                  <h4>Basic Grid Settings</h4>
                  <a class="close-modal-btn" role="button" @click="hide">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="modal-body">

                  <el-tabs type="border-card" class="flex">
                        <el-tab-pane label="Grid Style">
                              <grid-style-settings-component ref="gridStyleSettingsComp"></grid-style-settings-component>
                              <div class="bottom-btn-wrap d-flex justify-content-center">
                                    <el-button class="bottom-btn" size="small" @click="hide">{{$t('common.cancel')}}</el-button>
                                    <el-button class="bottom-btn" type="primary" size="small" @click="_onOk">{{$t('common.save')}}
                                    </el-button>
                              </div>
                        </el-tab-pane>

                        <el-tab-pane label="Grid Setting">
                              <!--<button @click="setData"> test </button>-->
                              <el-steps
                                    class="no-label step-cont"
                                    :active="stepActive"
                                    finish-status="success">
                                    <el-step title="Step 1"></el-step>
                                    <el-step title="Step 2"></el-step>
                                    <el-step title="Step 3"></el-step>
                              </el-steps>
                              <div class="grid-step-wrap" v-show="stepActive==0">
                                    <dataset-preview-main-component
                                          ref="datasetPreviewComp"
                                          class="dataset-preiview-comp flex"></dataset-preview-main-component>
                                    <div class="bottom-btn-wrap d-flex justify-content-end">
                                          <el-button class="bottom-btn" type="primary" size="small" @click="nextStep2">
                                                {{$t('common.next')}}
                                          </el-button>
                                    </div>
                              </div>
                              <div class="grid-step-wrap" v-show="stepActive==1">
                                    <div class="flex-scroll d-flex flex-row">
                                          <div class="d-flex flex-column">
                                                <h5 class="cont-title">{{$t('extension.basicGrid.title')}}</h5>
                                                <transfer-main-component
                                                      class="flex transfer-comp"
                                                      ref="transferComp"
                                                      @change="changeColumnData"></transfer-main-component>
                                          </div>
                                          <div class="d-flex flex-column flex" style="margin-left: 20px;">
                                                <h5 class="cont-title">{{$t('common.preview')}}</h5>
                                                <basic-table-component ref="transferPreviewComp" class="flex-scroll"></basic-table-component>
                                          </div>
                                    </div>
                                    <div class="bottom-btn-wrap d-flex justify-content-center">
                                          <el-button class="bottom-btn" size="small" @click="prevStep1">{{$t('common.prev')}}</el-button>
                                          <el-button class="bottom-btn" type="primary" size="small" @click="nextStep3">
                                                {{$t('common.next')}}
                                          </el-button>
                                    </div>
                              </div>
                              <div class="grid-step-wrap" v-show="stepActive==2">
                                    <column-data-settings-component class="flex" ref="columnDataSettingsComp"></column-data-settings-component>
                                    <div class="bottom-btn-wrap d-flex justify-content-center">
                                          <el-button class="bottom-btn" size="small" @click="prevStep2">{{$t('common.prev')}}</el-button>
                                          <el-button class="bottom-btn" type="primary" size="small" @click="_onOk">{{$t('common.save')}}
                                          </el-button>
                                    </div>
                              </div>
                        </el-tab-pane>

                  </el-tabs>
            </div>
      </modal>
</template>
<script>

      var BackgroundGradientTemplate = {
            template: "<div class=\"prop-group\">\n<div class=\"body\">\n<div class=\"d-flex row\">\n" +
                  "<span class=\"label\">Type</span>\n<el-select v-model=\"color.bgType\" class=" +
                  "\"select flex\">\n<el-option value=\"solid\"></el-option>\n<el-option value=\"" +
                  "gradient\"></el-option>\n</el-select>\n</div>\n<div class=\"d-flex row\"  v-if" +
                  "=\"color.bgType=='solid'\">\n<span class=\"label\">Color</span>\n<color-picker" +
                  " v-model=\"color.bgColor\"></color-picker>\n</div>\n<div class=\"d-flex row\" " +
                  " v-if=\"color.bgType=='gradient'\">\n<span class=\"label\">Gradient</span>\n<c" +
                  "olor-picker v-model=\"color.bgGradientColor1\" style=\"margin-right:4px;\"></c" +
                  "olor-picker>\n<color-picker v-model=\"color.bgGradientColor2\"></color-picker>" +
                  "\n<div class=\"d-flex gradient-type-wrap\">\n<span :class=\"{'active' : color." +
                  "bgGradientDir == 'left'}\" class=\"dir-btn left\" @click=\"onChangeGradientDir" +
                  "('left')\"><i class=\"icon\"></i></span>\n<span :class=\"{'active' : color.bgG" +
                  "radientDir == 'top'}\" class=\"dir-btn top\" @click=\"onChangeGradientDir('top" +
                  "')\"><i class=\"icon\"></i></span>\n<span :class=\"{'active' : color.bgGradien" +
                  "tDir == 'diagonal1'}\" class=\"dir-btn diagonal1\" @click=\"onChangeGradientDi" +
                  "r('diagonal1')\"><i class=\"icon\"></i></span>\n<span :class=\"{'active' : col" +
                  "or.bgGradientDir == 'diagonal2'}\" class=\"dir-btn diagonal2\" @click=\"onChan" +
                  "geGradientDir('diagonal2')\"><i class=\"icon\"></i></span>\n<span :class=\"{'a" +
                  "ctive' : color.bgGradientDir == 'radial'}\" class=\"dir-btn radial\" @click=\"" +
                  "onChangeGradientDir('radial')\"><i class=\"icon\"></i></span>\n</div>\n</div>" +
                  "\n</div>\n</div>",
            props: ['color'],
            methods: {
                  onChangeGradientDir: function (dir) {
                        this.$emit('@changeColor', {dir : dir, name: this.color.name});
                  }
            }
      }


      var GridStylePreviewComponent = {
            // props: {
            //     data: {
            //         type: Object,
            //         default: {
            //             th: '',
            //             thTxt: '',
            //             td: '',
            //             td2: '',
            //             sortIcon: {
            //                 default: '',
            //                 active: ''
            //             },
            //             border: {
            //                 outside: '',
            //                 inside: ''
            //             }
            //         }
            //     },

            //     layout: {
            //         type: String,
            //         default: "horizontal"
            //     }
            // },
            props: {
                  data: {
                        type: Object,
                        default: function () {
                              return {
                                    th: '',
                                    thTxt: '',
                                    td: '',
                                    td2: '',
                                    sortIcon: { default: '', active: '' },
                                    border: { outside: '', inside: '' }
                              };
                        }
                  },

                  layout: {
                        type: String,
                        default: "horizontal"
                  }
            },

            template: "<div class=\"grid-style-preivew grid-preview-table\">\n<div class=\"table-wrap" +
                  "\" :style=\"data.shadow+data.border.outside\" v-if=\"layout=='vertical'\">\n<t" +
                  "able class=\"vtable\">\n<tbody>\n<tr>\n<th :style=\"data.th+data.border.inside" +
                  "\"><div class=\"column-wrap\"><span :style=\"data.thTxt\">No.</span></div></th" +
                  ">\n<td :style=\"data.td+data.border.inside\">1</td>\n<td :style=\"data.td2+dat" +
                  "a.border.inside\">2</td>\n<td :style=\"data.td+data.border.inside\">3</td>\n<t" +
                  "d :style=\"data.td2+data.border.inside\">4</td>\n</tr>\n<tr>\n<th class=\"sort" +
                  "able-head\" data-key=\"Continent\" :style=\"data.th+data.border.inside\">\n<di" +
                  "v class=\"column-wrap\">\n<span :style=\"data.thTxt\" class=\"column-txt\">Con" +
                  "tinent</span>\n<span class=\"caret-wrapper\">\n<i class=\"sort-caret ascending" +
                  " el-icon-caret-top\" :style=\"data.sortIcon.active\"></i>\n<i class=\"sort-car" +
                  "et descending el-icon-caret-bottom\" :style=\"data.sortIcon.default\"></i>\n</" +
                  "span>\n</div>\n</th>\n<td :style=\"data.td+data.border.inside\">Africa</td>\n<" +
                  "td :style=\"data.td2+data.border.inside\">Europe</td>\n<td :style=\"data.td+da" +
                  "ta.border.inside\">Oceania</td>\n<td :style=\"data.td2+data.border.inside\">So" +
                  "uth America</td>\n</tr>\n<tr>\n<th class=\"sortable-head\" data-key=\"Name\" :" +
                  "style=\"data.th+data.border.inside\">\n<div class=\"column-wrap\">\n<span :sty" +
                  "le=\"data.thTxt\" class=\"column-txt\">Name</span>\n<span class=\"caret-wrappe" +
                  "r\">\n<i class=\"sort-caret ascending el-icon-caret-top\" :style=\"data.sortIc" +
                  "on.default\"></i>\n<i class=\"sort-caret descending el-icon-caret-bottom\" :st" +
                  "yle=\"data.sortIcon.default\"></i>\n</span>\n</div>\n</th>\n<td :style=\"data." +
                  "td+data.border.inside\">Sierra Leone</td>\n<td :style=\"data.td2+data.border.i" +
                  "nside\">Switzerland</td>\n<td :style=\"data.td+data.border.inside\">Christmas " +
                  "Island</td>\n<td :style=\"data.td2+data.border.inside\">Suriname</td>\n</tr>\n" +
                  "<tr>\n<th class=\"sortable-head\" data-key=\"Population\" :style=\"data.th+dat" +
                  "a.border.inside\">\n<div class=\"column-wrap\">\n<span :style=\"data.thTxt\" c" +
                  "lass=\"column-txt\">Population</span>\n<span class=\"caret-wrapper\">\n<i clas" +
                  "s=\"sort-caret ascending el-icon-caret-top\" :style=\"data.sortIcon.default\">" +
                  "</i>\n<i class=\"sort-caret descending el-icon-caret-bottom\" :style=\"data.so" +
                  "rtIcon.default\"></i>\n</span>\n</div>\n</th>\n<td :style=\"data.td+data.borde" +
                  "r.inside\">4854000</td>\n<td :style=\"data.td2+data.border.inside\">7160400</t" +
                  "d>\n<td :style=\"data.td+data.border.inside\">2500</td>\n<td :style=\"data.td2" +
                  "+data.border.inside\">417000</td>\n</tr>\n<tr>\n<th class=\"sortable-head\" da" +
                  "ta-key=\"Surface\" :style=\"data.th+data.border.inside\">\n<div class=\"column" +
                  "-wrap\">\n<span :style=\"data.thTxt\" class=\"column-txt\">Surface</span>\n<sp" +
                  "an class=\"caret-wrapper\">\n<i class=\"sort-caret ascending el-icon-caret-top" +
                  "\" :style=\"data.sortIcon.default\"></i>\n<i class=\"sort-caret descending el-" +
                  "icon-caret-bottom\" :style=\"data.sortIcon.default\"></i>\n</span>\n</div>\n</" +
                  "th>\n<td :style=\"data.td+data.border.inside\">71740.00</td>\n<td :style=\"dat" +
                  "a.td2+data.border.inside\">41284.00</td>\n<td :style=\"data.td+data.border.ins" +
                  "ide\">135.00</td>\n<td :style=\"data.td2+data.border.inside\">163265.00</td>\n" +
                  "</tr>\n</tbody>\n</table>\n</div>\n<div class=\"table-wrap\" :style=\"data.sha" +
                  "dow+data.border.outside\" v-else>\n<table class=\"htable\">\n<thead>\n<tr" +
                  ">\n<th :style=\"data.th + data.border.inside + ' background-color: initial" +
                  ";'\"><div class=\"column-wrap\"><span :style=\"data.thTxt\">No.</span></div></" +
                  "th>\n<th class=\"sortable-head\" data-key=\"Continent\" :style=\"data.th + data.border.i" +
                  "nside + ' background-color: initial;'\">\n<div class=\"column-wrap\">\n<span :" +
                  "style=\"data.thTxt\" class=\"column-txt\">Continent</span>\n<span class=\"care" +
                  "t-wrapper\">\n<i class=\"sort-caret ascending el-icon-caret-top\" :style=\"dat" +
                  "a.sortIcon.active\"></i>\n<i class=\"sort-caret descending el-icon-caret-botto" +
                  "m\" :style=\"data.sortIcon.default\"></i>\n</span>\n</div>\n</th>\n<th class=" +
                  "\"sortable-head\" data-key=\"Name\" :style=\"data.th + data.border.inside + ' background" +
                  "-color: initial;'\">\n<div class=\"column-wrap\">\n<span :style=\"data.thTxt\"" +
                  " class=\"column-txt\">Name</span>\n<span class=\"caret-wrapper\">\n<i class=\"" +
                  "sort-caret ascending el-icon-caret-top\" :style=\"data.sortIcon.default\"></i>" +
                  "\n<i class=\"sort-caret descending el-icon-caret-bottom\" :style=\"data.sortIc" +
                  "on.default\"></i>\n</span>\n</div>\n</th>\n<th class=\"sortable-head\" data-ke" +
                  "y=\"Population\" :style=\"data.th + data.border.inside + ' background-color: initial;'\"" +
                  ">\n<div class=\"column-wrap\">\n<span :style=\"data.thTxt\" class=\"column-txt" +
                  "\">Population</span>\n<span class=\"caret-wrapper\">\n<i class=\"sort-caret as" +
                  "cending el-icon-caret-top\" :style=\"data.sortIcon.default\"></i>\n<i class=\"" +
                  "sort-caret descending el-icon-caret-bottom\" :style=\"data.sortIcon.default\">" +
                  "</i>\n</span>\n</div>\n</th>\n<th class=\"sortable-head\" data-key=\"Surface\"" +
                  " :style=\"data.th + data.border.inside + ' background-color: initial;'\">\n<div class=\"" +
                  "column-wrap\">\n<span :style=\"data.thTxt\" class=\"column-txt\">Surface</span" +
                  ">\n<span class=\"caret-wrapper\">\n<i class=\"sort-caret ascending el-icon-car" +
                  "et-top\" :style=\"data.sortIcon.default\"></i>\n<i class=\"sort-caret descendi" +
                  "ng el-icon-caret-bottom\" :style=\"data.sortIcon.default\"></i>\n</span>\n</di" +
                  "v>\n</th>\n</tr>\n</thead>\n<tbody>\n<tr :style=\"data.td\">\n<td :style=\"dat" +
                  "a.border.inside + ' background-color: initial;'\">1</td>\n<td :style=\"data.bo" +
                  "rder.inside + ' background-color: initial;'\">Africa</td>\n<td :style=\"data.b" +
                  "order.inside + ' background-color: initial;'\">Sierra Leone</td>\n<td :style=" +
                  "\"data.border.inside + ' background-color: initial;'\">4854000</td>\n<td :styl" +
                  "e=\"data.border.inside + ' background-color: initial;'\">71740.00</td>\n</tr>" +
                  "\n<tr :style=\"data.td2\">\n<td :style=\"data.border.inside + ' background-col" +
                  "or: initial;'\">2</td>\n<td :style=\"data.border.inside + ' background-color: " +
                  "initial;'\">Europe</td>\n<td :style=\"data.border.inside + ' background-color:" +
                  " initial;'\">Switzerland</td>\n<td :style=\"data.border.inside + ' background-" +
                  "color: initial;'\">7160400</td>\n<td :style=\"data.border.inside + ' backgroun" +
                  "d-color: initial;'\">41284.00</td>\n</tr>\n<tr :style=\"data.td\">\n<td :style" +
                  "=\"data.border.inside + ' background-color: initial;'\">3</td>\n<td :style=\"d" +
                  "ata.border.inside + ' background-color: initial;'\">Oceania</td>\n<td :style=" +
                  "\"data.border.inside + ' background-color: initial;'\">Christmas Island</td>\n" +
                  "<td :style=\"data.border.inside + ' background-color: initial;'\">2500</td>\n<" +
                  "td :style=\"data.border.inside + ' background-color: initial;'\">135.00</td>\n" +
                  "</tr>\n<tr :style=\"data.td2\">\n<td :style=\"data.border.inside + ' backgroun" +
                  "d-color: initial;'\">4</td>\n<td :style=\"data.border.inside + ' background-co" +
                  "lor: initial;'\">South America</td>\n<td :style=\"data.border.inside + ' backg" +
                  "round-color: initial;'\">Suriname</td>\n<td :style=\"data.border.inside + ' ba" +
                  "ckground-color: initial;'\">417000</td>\n<td :style=\"data.border.inside + ' b" +
                  "ackground-color: initial;'\">163265.00</td>\n</tr>\n</tbody>\n</table>\n</div>" +
                  "\n</div>"
      };

      var GridStyleSettingsComponent = {
            data: function () {
                  return {
                        layout: "horizontal",
                        style: {
                              header: {
                                    align: "center",
                                    bgColor: {
                                          bgType: 'solid',
                                          bgGradientDir: 'left',
                                          bgGradientColor1: 'rgba(250, 250, 250, 1)',
                                          bgGradientColor2: 'rgba(250, 250, 250, 1)',
                                          bgColor: 'rgba(250, 250, 250, 1)',
                                          name: 'header'
                                    },
                                    fontSize: 12,
                                    fontColor: 'rgba(33, 37, 41, 1)',
                                    bold: false,
                                    paddingTB: 6,
                                    paddingRL: 14
                              },

                              body: {
                                    striped: true,
                                    stripedOptions: [
                                          {
                                                value: true,
                                                label: 'striped'
                                          }, {
                                                value: false,
                                                label: 'none'
                                          }
                                    ],

                                    fontSize: 12,
                                    bold: false,
                                    bgColor1: {
                                          bgType: 'solid',
                                          bgGradientDir: 'left',
                                          bgGradientColor1: 'rgba(250, 250, 250, 1)',
                                          bgGradientColor2: 'rgba(250, 250, 250, 1)',
                                          bgColor: 'rgba(250, 250, 250, 1)',
                                          name: 'bgColor1'
                                    },
                                    bgColor2: {
                                          bgType: 'solid',
                                          bgGradientDir: 'left',
                                          bgGradientColor1: 'rgba(250, 250, 250, 1)',
                                          bgGradientColor2: 'rgba(250, 250, 250, 1)',
                                          bgColor: 'rgba(250, 250, 250, 1)',
                                          name: 'bgColor2'
                                    },
                                    fontColor1: 'rgba(33, 37, 41, 1)',
                                    fontColor2: 'rgba(33, 37, 41, 1)',
                                    paddingTB: 6,
                                    paddingRL: 14
                              },

                              sortIcon: {
                                    color: 'rgba(180, 188, 204, 1)',
                                    activeColor: 'rgba(94, 97, 106, 1)'
                              },

                              border: {
                                    inside: {
                                          size: 1,
                                          color: 'rgba(230, 235, 245, 1)',
                                          style: 'solid'
                                    },

                                    outside: {
                                          size: 1,
                                          color: 'rgba(230, 235, 245, 1)',
                                          style: 'solid',
                                          radius: 0
                                    }
                              },

                              shadow: {
                                    offsetX: 0,
                                    offsetY: 0,
                                    blur: 0,
                                    spread: 0,
                                    color: '#fff'
                              }
                        }

                  }
            },

            computed: {
                  gridStyle: function () {
                        var style = {
                              th: '',
                              thTxt: '',
                              td: '',
                              td2: '',
                              sortIcon: {
                                    default: '',
                                    active: ''
                              },
                              border: {
                                    outside: '',
                                    inside: ''
                              },
                              shadow: ''
                        };

                        var header = this.style.header;
                        var body = this.style.body;
                        var sortIcon = this.style.sortIcon;
                        var border = this.style.border;
                        var shadow = this.style.shadow;

                        style.th = 'background:' + this.getLabelBackgroundStyle(header.bgColor) + ';';
                        style.thTxt = 'font-size:' + header.fontSize + 'px;color:' + header.fontColor +
                              ';font-weight:' + (
                                    header.bold
                                          ? "bold"
                                          : "normal"
                              ) + ';padding:0;justify-content:' + header.align + ';padding:' + header.paddingTB +
                              'px ' + header.paddingRL + 'px';
                        var tdStr = 'font-size: ' + body.fontSize + 'px; font-weight: ' + (
                              body.bold
                                    ? "bold"
                                    : "normal"
                        ) + '; padding: ' + body.paddingTB + 'px ' + body.paddingRL + 'px;';

                        style.td = tdStr + 'background:' + this.getLabelBackgroundStyle(body.bgColor1) +
                              '; color:' + body.fontColor1 + ';';
                        if (body.striped) {
                              style.td2 = tdStr + 'background:' + this.getLabelBackgroundStyle(body.bgColor2) +
                                    '; color:' + body.fontColor2 + ';';
                        } else {
                              style.td2 = style.td;
                        }

                        style.sortIcon.default = 'color: ' + sortIcon.color;
                        style.sortIcon.active = 'color: ' + sortIcon.activeColor;

                        style.shadow ="box-shadow: " + shadow.offsetX + "px " + shadow.offsetY + "px " + shadow.blur + "px " + shadow.spread + "px " + shadow.color + ";";

                        var insideBorderStr = border.inside.size + 'px ' + border.inside.style + ' ' +
                              border.inside.color + ';';
                        style.border.outside = 'border: ' + border.outside.size + 'px ' + border.outside.style +
                              ' ' + border.outside.color + '; border-radius:' + border.outside.radius +
                              'px;';
                        style.border.inside = 'border-left:' + insideBorderStr + "border-top:" +
                              insideBorderStr;
                        return style;
                  }
            },

            components: {
                  GridStylePreviewComponent: GridStylePreviewComponent,
                  BackgroundGradientTemplate: BackgroundGradientTemplate
            },

            template: "<div class=\"grid-style-settings\">\n<h5 class=\"cont-title\">Grid Style Previ" +
                  "ew</h5>\n<el-select v-model=\"layout\">\n<el-option    value=\"horizontal\"></" +
                  "el-option>\n<el-option    value=\"vertical\"></el-option>\n</el-select>\n<grid" +
                  "-style-preview-component v-bind:data=\"gridStyle\" :layout=\"layout\" ></grid-" +
                  "style-preview-component>\n<h5 class=\"cont-title\">Grid Style Setting</h5>\n<d" +
                  "iv class=\"style-settings-table-wrap\">\n<h6>Header</h6>\n<table>\n<thead>\n<t" +
                  "h>Bg Color</th>\n<th>Font</th>\n<th>Align</th>\n<th>V Margin</th>\n<th>H Margi" +
                  "n</th>\n</thead>\n<tbody>\n<tr>\n<td>\n<div><background-gradient-template :col" +
                  "or=\"style.header.bgColor\" @@changeColor=\"changeColor\"></background-gradien" +
                  "t-template></div>\n</td>\n<td><div>\n<input type=\"number\" v-model=\"style.he" +
                  "ader.fontSize\">\n<color-picker v-model=\"style.header.fontColor\" show-alpha>" +
                  "</color-picker>\n<el-checkbox v-model=\"style.header.bold\">Bold</el-checkbox>" +
                  "\n</div></td>\n<td><div>\n<el-radio-group v-model=\"style.header.align\" size=" +
                  "\"mini\"  @change=\"changeSettings\">\n<el-radio-button label=\"flex-start\" >" +
                  "<i aria-hidden=\"true\" class=\"fa fa-align-left\"></i></el-radio-button>\n<el" +
                  "-radio-button label=\"center\" ><i aria-hidden=\"true\" class=\"fa fa-align-ce" +
                  "nter\"></i></el-radio-button>\n<el-radio-button label=\"flex-end\" ><i aria-hi" +
                  "dden=\"true\" class=\"fa fa-align-right\"></i></el-radio-button>\n</el-radio-g" +
                  "roup>\n</div></td>\n<td><div><input type=\"number\" v-model=\"style.header.pad" +
                  "dingTB\"> </div></td>\n<td><div><input type=\"number\" v-model=\"style.header." +
                  "paddingRL\"> </div></td>\n</tr>\n</tbody>\n</table>\n</div>\n<div class=\"styl" +
                  "e-settings-table-wrap\">\n<h6>Body</h6>\n<table>\n<thead>\n<th>Striped</th>\n<" +
                  "th>Bg Color</th>\n<th>Font Color</th>\n<th>Font Size</th>\n<th>V Margin</th>\n" +
                  "<th>H Margin</th>\n</thead>\n<tbody>\n<tr>\n<td rowspan=\"2\"><div>\n<el-selec" +
                  "t v-model=\"style.body.striped\">\n<el-option    v-for=\"item in style.body.st" +
                  "ripedOptions\" :key=\"item.value\"\n:label=\"item.label\"\n:value=\"item.value" +
                  "\">\n</el-option>\n</el-select>\n</div></td>\n<td><div><background-gradient-te" +
                  "mplate :color=\"style.body.bgColor1\" @@changeColor=\"changeColor\"></backgrou" +
                  "nd-gradient-template>\n</div></td>\n<td><div>\n<color-picker v-model=\"style.b" +
                  "ody.fontColor1\" show-alpha></color-picker>\n</div></td>\n<td rowspan=\"2\"><d" +
                  "iv>\n<input type=\"number\" v-model=\"style.body.fontSize\">\n<el-checkbox v-m" +
                  "odel=\"style.body.bold\">Bold</el-checkbox>\n</div></td>\n<td rowspan=\"2\"><d" +
                  "iv><input type=\"number\" v-model=\"style.body.paddingTB\"> </div></td>\n<td r" +
                  "owspan=\"2\"><div><input type=\"number\" v-model=\"style.body.paddingRL\"> </d" +
                  "iv></td>\n</tr>\n<tr>\n<td><div><background-gradient-template :color=\"style.b" +
                  "ody.bgColor2\" @@changeColor=\"changeColor\"></background-gradient-template>\n" +
                  "</div></td>\n<td><div>\n<color-picker v-model=\"style.body.fontColor2\" :disab" +
                  "led=\"!style.body.striped\" show-alpha></color-picker>\n</div></td>\n</tr>\n</" +
                  "tbody>\n</table>\n</div>\n<div class=\"style-settings-table-wrap d-flex\">\n<d" +
                  "iv class=\"\" style=\"width:340px;margin-right: 10px;\">\n<h6>Sortable Icon</h" +
                  "6>\n<table>\n<colgroup>\n<col width=\"170\">\n<col width=\"170\">\n</colgroup>" +
                  "\n<thead>\n<th>Color</th>\n<th>Active Color</th>\n</thead>\n<tbody>\n<tr>\n<td" +
                  "><div>\n<color-picker v-model=\"style.sortIcon.color\" show-alpha></color-pick" +
                  "er>\n</div></td>\n<td><div>\n<color-picker v-model=\"style.sortIcon.activeColo" +
                  "r\" show-alpha></color-picker>\n</div></td>\n</tr>\n</tbody>\n</table>\n</div>" +
                  "\n<div class=\"flex\">\n<h6>Border</h6>\n<table>\n<thead>\n<th>Radius</th>\n<t" +
                  "h>Outside</th>\n<th>Inside</th>\n</thead>\n<tbody>\n<tr>\n<td><div>\n<input ty" +
                  "pe=\"number\" v-model=\"style.border.outside.radius\" style=\"width: 100px;\">" +
                  "\n</div></td>\n<td><div>\n<el-select v-model=\"style.border.outside.style\">\n" +
                  "<el-option value=\"none\"></el-option>\n<el-option value=\"solid\"></el-option" +
                  ">\n<el-option value=\"dashed\"></el-option>\n<el-option value=\"dotted\"></el-" +
                  "option>\n</el-select>\n<input type=\"number\" v-model=\"style.border.outside.s" +
                  "ize\" :disabled=\"style.border.outside.style == 'none'\" style=\"width: 100px;" +
                  "\">\n<color-picker v-model=\"style.border.outside.color\" :disabled=\"style.bo" +
                  "rder.outside.style == 'none'\" show-alpha></color-picker>\n</div></td>\n<td><d" +
                  "iv>\n<el-select v-model=\"style.border.inside.style\">\n<el-option value=\"non" +
                  "e\"></el-option>\n<el-option value=\"solid\"></el-option>\n<el-option value=\"" +
                  "dashed\"></el-option>\n<el-option value=\"dotted\"></el-option>\n</el-select>" +
                  "\n<input type=\"number\" v-model=\"style.border.inside.size\"  :disabled=\"sty" +
                  "le.border.inside.style == 'none'\" style=\"width: 100px;\">\n<color-picker v-m" +
                  "odel=\"style.border.inside.color\"  :disabled=\"style.border.inside.style == '" +
                  "none'\" show-alpha></color-picker>\n</div></td>\n</tr>\n</tbody>\n</table>\n</" +
                  "div>\n</div>\n<div class=\"style-settings-table-wrap\">\n<h6>Shadow</h6>\n<tab" +
                  "le>\n<thead>\n<tr>\n<th>Offset X</th>\n<th>Offset Y</th>\n<th>Blur Radius</th>" +
                  "\n<th>Spread Radius</th>\n<th>Color</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>" +
                  "\n<div><input type=\"number\" v-model=\"style.shadow.offsetX\" style=\"width: " +
                  "100px;\"></div>\n</td>\n<td>\n<div><input type=\"number\" v-model=\"style.shad" +
                  "ow.offsetY\" style=\"width: 100px;\"></div>\n</td>\n<td>\n<div><input type=\"n" +
                  "umber\" v-model=\"style.shadow.blur\" style=\"width: 100px;\"></div>\n</td>\n<" +
                  "td>\n<div><input type=\"number\" v-model=\"style.shadow.spread\" style=\"width" +
                  ": 100px;\"></div>\n</td>\n<td>\n<div><color-picker v-model=\"style.shadow.colo" +
                  "r\" show-alpha></color-picker></div>\n</td>\n</tr>\n</tbody>\n</table>\n</div>" +
                  "\n</div>",
            methods: {
                  changeSettings: function () {

                  },
                  setStyle: function (value) {
                        this.style = $.extend(true, this.style, value);
                  },

                  getStyle: function () {
                        return this.style;
                  },
                  changeColor: function (color) {
                        if (color.name === "header") {
                              this.style.header.bgColor.bgGradientDir = color.dir;
                        } else {
                              this
                                    .style
                                    .body[color.name]
                                    .bgGradientDir = color.dir;
                        }
                  },
                  getLabelBackgroundStyle: function (bgData) {
                        var TOOLTIP_DIRECTION_STYLE = {
                              left: 'linear-gradient( 90deg',
                              top: 'linear-gradient( 180deg',
                              diagonal1: 'linear-gradient( -45deg',
                              diagonal2: 'linear-gradient( 45deg',
                              radial: 'radial-gradient(ellipse at center'
                        }

                        bgData.bgType = bgData.bgType || 'solid';
                        bgData.bgColor = bgData.bgColor || 'rgba(0,0,0,0)';
                        bgData.bgGradientColor1 = bgData.bgGradientColor1 || bgData.bgColor;

                        if (bgData.bgType == 'solid') {
                              return ""+ bgData.bgColor;
                        } else if (bgData.bgType == 'gradient') {
                              return "" + TOOLTIP_DIRECTION_STYLE[bgData.bgGradientDir] +',' + bgData.bgGradientColor1 +' 0%, ' + bgData.bgGradientColor2 + ' 100%)';
                        }
                  }
            }
      };

      var ColumnDataPreviewTableComponent = {
            data: function () {
                  return {
                        tableData: [],
                        sortData: [],
                        settingsData: {
                              layout: "horizontal"
                        },
                        currentSortData: {
                              key: "",
                              state: "" //"ascending", "descending", ""
                        }
                  }
            },

            template: "<div class=\"column-data-preview-comp grid-preview-table\">\n<table v-if=\"set" +
                  "tingsData.layout=='horizontal'\" style=\"table-layout: fixed; width: 100%\">\n" +
                  "<thead>\n<tr>\n<th v-if=\"settingsData.useCount\" style=\"width: 50px;\">No.</" +
                  "th>\n<template v-for=\"(column, index) in settingsData.keys\">\n<template v-if" +
                  "=\"settingsData.settings[column].sortable\">\n<th class=\"sortable-head\"\n@cl" +
                  "ick=\"sortState( column )\"\n:class=\"getSortableHeadClass(column)\"\n:style=" +
                  "\"{ 'width':  settingsData.settings[column].width }\">\n<div class=\"column-wr" +
                  "ap\">\n<span class=\"column-txt\">\n<template v-for=\"(str, index) in strToWor" +
                  "dBreakAry(settingsData.settings[column].label)\">\n<template v-if=\"index != 0" +
                  "\"><br></template>{{str}}\n</template>\n</span>\n<span class=\"caret-wrapper\"" +
                  "><i class=\"sort-caret ascending el-icon-caret-top\"></i><i class=\"sort-caret" +
                  " descending el-icon-caret-bottom\"></i></span>\n</div>\n</th>\n</template>\n<t" +
                  "emplate v-else>\n<th :style=\"{ 'width':  settingsData.settings[column].width " +
                  "}\">\n<div class=\"column-wrap\">\n<span class=\"column-txt\">\n<template v-fo" +
                  "r=\"(str, index) in strToWordBreakAry(settingsData.settings[column].label)\">" +
                  "\n<template v-if=\"index != 0\"><br></template>{{str}}\n</template>\n</span>\n" +
                  "</div>\n</th>\n</template>\n</template>\n</tr>\n</thead>\n<tbody>\n<tr v-for=" +
                  "\"(item, index) in sortData\" :key=\"index\">\n<td style=\"text-overflow: elli" +
                  "psis;word-wrap: break-word;\" v-if=\"settingsData.useCount\">{{index+1}}</td>" +
                  "\n<td style=\"text-overflow: ellipsis;word-wrap: break-word;\" v-for=\"key in " +
                  "settingsData.keys\" :key=\"key\" :style=\"settingsData.settings[key].style\">{" +
                  "{item[key]}}</td>\n</tr>\n</tbody>\n</table>\n<table v-else>\n<tbody>\n<tr v-i" +
                  "f=\"settingsData.useCount\">\n<th>No.</th>\n<td v-for=\"(item, index) in sortD" +
                  "ata\">{{index+1}}</td>\n</tr>\n<tr v-for=\"(column, index) in settingsData.key" +
                  "s\" >\n<template v-if=\"settingsData.settings[column].sortable\">\n<th class=" +
                  "\"sortable-head\" @click=\"sortState( column )\" :style=\"{ 'height':  setting" +
                  "sData.settings[column].width,  'width': settingsData.thFixedWidth }\" :class=" +
                  "\"getSortableHeadClass(column)\">\n<div class=\"column-wrap\">\n<span class=\"" +
                  "column-txt\">\n<template v-for=\"(str, index) in strToWordBreakAry(settingsDat" +
                  "a.settings[column].label)\">\n<template v-if=\"index != 0\"><br></template>{{s" +
                  "" +
                  "tr}}</template>\n</span>\n<span class=\"caret-wrapper\">" +
                  "\n<i class=\"sort-caret ascending el-icon-caret-top\"></i>\n<i class=\"sort-ca" +
                  "ret descending el-icon-caret-bottom\"></i>\n</span>\n</div>\n</th>\n</template" +
                  ">\n<template v-else>\n<th :style=\"{ 'height':  settingsData.settings[column]." +
                  "width,  'width': settingsData.thFixedWidth }\">\n<div class=\"column-wrap\">\n" +
                  "<span class=\"column-txt\">\n<template v-for=\"(str, index) in strToWordBreakA" +
                  "ry(settingsData.settings[column].label)\">\n<template v-if=\"index != 0\"><br>" +
                  "</template>{{str}}</template>\n</span>\n</div>\n</th>\n</template>\n<td v-for=" +
                  "\"(item, i) in sortData\" :key=\"i\" :style=\"settingsData.settings[column].st" +
                  "yle\">{{ item[column] " +
                  "}}</td>\n</tr>\n</tbody>\n</table>" +
                  "\n</div>",
            methods: {
                  strToWordBreakAry: function (str) {
                        var ary = str.split("<br>");
                        return ary
                  },

                  setLayout: function (layout) {
                        this.layout = layout;
                  },

                  setTableData: function (data) {
                        this.tableData = data;
                        this.sortData = data.concat();
                  },

                  sort: function (key, state) {
                        var data = this
                              .tableData
                              .concat();

                        if (state != "") {
                              data.sort(function (a, b) {
                                    return a[key] - b[key];
                              });

                              if (state == "descending") {
                                    data.reverse();
                              }
                        }

                        this.sortData = data;
                  },

                  getSortableHeadClass: function (key) {
                        if (this.currentSortData.key == key) {
                              switch (this.currentSortData.state) {
                                    case "":
                                          return "";
                                          break;
                                    case "ascending":
                                          return "ascending";
                                          break;
                                    case "descending":
                                          return "descending";
                                          break;
                              }
                        } else {
                              return "";
                        }

                  },

                  sortState: function (key) {
                        if (this.currentSortData.key == key) {
                              switch (this.currentSortData.state) {
                                    case "":
                                          this.currentSortData.state = "ascending";
                                          break;
                                    case "ascending":
                                          this.currentSortData.state = "descending";
                                          break;
                                    case "descending":
                                          this.currentSortData.state = "";
                                          break;
                              }
                        } else {
                              this.currentSortData.key = key;
                              this.currentSortData.state = "ascending";
                        }

                        this.sort(key, this.currentSortData.state);
                  },

                  settings: function (data) {
                        if (!data) {
                              return this.settingsData;
                        }

                        for (var key in data.settings) {
                              var value = data.settings[key];
                              var str = "text-align:" + value.align + ";";
                              value["style"] = str;
                        }

                        this.settingsData = data;
                  }
            }
      };
      var ColumnDataSettingsComponent = {
            data: function () {
                  return {
                        columns: [],
                        columnSettings: {},
                        gridSettings: {
                              settings: {},
                              keys: [],
                              useCount: false,
                              layout: "horizontal"
                        }
                  }
            },

            components: {
                  ColumnDataPreviewTableComponent: ColumnDataPreviewTableComponent
            },

            template: "<div class=\"columnDataSettings\">\n<div class=\"d-flex\"><h5 class=\"cont-tit" +
                  "le flex\">Column \uC124\uC815\uD558\uAE30</h5>\n<button type=\"button\" class=" +
                  "\"icon-btn no-bg\" @click=\"resetSettings\"><i aria-hidden=\"true\" class=\"fa" +
                  " fa-refresh\"></i></button>\n</div>\n<div class=\"column-table-wrap\">\n<table" +
                  ">\n<thead>\n<th>sortable</th>\n<th>column</th>\n<th>label</th>\n<th>text align" +
                  "</th>\n<th style=\"width:210px;\">size</th>\n<!--<th>format</th>-->\n</thead>" +
                  "\n<tbody>\n<tr v-for=\"(column, index) in columns\" :key=\"index\">\n<td><el-c" +
                  "heckbox v-model=\"columnSettings[column].sortable\" @change=\"changeSettings\"" +
                  "></el-checkbox></td>\n<td>{{column}}</td>\n<td><el-input size=\"small\" placeh" +
                  "older=\"\" v-model=\"columnSettings[column].label\" @change=\"changeSettings\"" +
                  "></el-input></td>\n<td>\n<el-radio-group v-model=\"columnSettings[column].alig" +
                  "n\" size=\"mini\"  @change=\"changeSettings\">\n<el-radio-button label=\"left" +
                  "\"><i aria-hidden=\"true\" class=\"fa fa-align-left\"></i></el-radio-button>\n" +
                  "<el-radio-button label=\"center\"><i aria-hidden=\"true\" class=\"fa fa-align-" +
                  "center\"></i></el-radio-button>\n<el-radio-button label=\"right\"><i aria-hidd" +
                  "en=\"true\" class=\"fa fa-align-right\"></i></el-radio-button>\n</el-radio-gro" +
                  "up>\n</td>\n<td><el-input size=\"small\" v-model=\"columnSettings[column].widt" +
                  "h\" @change=\"changeSettings\" placeholder=\"[ '%' or 'px' ]\"></el-input></td" +
                  ">\n<!--<td>{{columnSettings[column].format}}</td>-->\n</tr>\n</tbody>\n</table" +
                  ">\n</div>\n<h5 class=\"cont-title\">\uBBF8\uB9AC\uBCF4\uAE30</h5>\n<div>\n<div" +
                  " class=\"table-layout-wrap\">\n<el-select class=\"layout-select\" v-model=\"gr" +
                  "idSettings.layout\" placeholder=\"Select\" size=\"small\" @change=\"changeSett" +
                  "ings\">\n<el-option value=\"horizontal\"></el-option>\n<el-option value=\"vert" +
                  "ical\"></el-option>\n</el-select>\n<el-checkbox v-model=\"gridSettings.useCoun" +
                  "t\" @change=\"changeSettings\">count</el-checkbox>\n<el-input v-if=\"gridSetti" +
                  "ngs.layout == 'vertical'\" size=\"small\" v-model=\"gridSettings.thFixedWidth" +
                  "\" @change=\"changeSettings\" style=\"width: 200px; margin-left:8px;\" placeho" +
                  "lder=\"fixed 'th' width [ '%' or 'px' ]\"></el-input>\n</div>\n<column-data-pr" +
                  "eview-table-component ref=\"previewComp\"></column-data-preview-table-componen" +
                  "t>\n</div></div>",

            methods: {
                  updateSettings: function () {
                        var obj = {};
                        var column;
                        var i = 0,
                              len;
                        for (i = 0, len = this.columns.length; i < len; i++) {
                              column = this.columns[i];
                              obj[column] = {
                                    sortable: false,
                                    label: column,
                                    align: "left",
                                    format: "none"
                              }
                        }

                        var newData = $.extend(true, obj, this.columnSettings);
                        this.columnSettings = $.extend(true, {}, newData);

                        for (i = 0, len = this.columns.length; i < len; i++) {
                              column = this.columns[i];
                              this
                                    .gridSettings
                                    .settings[column] = this
                                    .columnSettings[column];
                        }
                        this.gridSettings.keys = this.columns;
                        this.changeSettings();
                  },

                  resetSettings: function () {
                        var self = this;

                        var locale_msg = Vue.$i18n.messages.wv;
                        this
                              .$confirm(locale_msg.common.confirmInit, locale_msg.common.notification, {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              })
                              .then(function () {
                                    self.columnSettings = {};
                                    self.updateSettings();
                              })
                              .catch(function () {});
                  },

                  changeSettings: function () {
                        this
                              .$refs
                              .previewComp
                              .settings($.extend(true, {}, this.gridSettings));
                  },

                  setGridSettings: function (settings, datasetResult) {
                        this.gridSettings = settings;
                        this.columns = settings.keys;
                        this.columnSettings = settings.settings;
                        this
                              .$refs
                              .previewComp
                              .setTableData(datasetResult);
                        this.changeSettings();
                  },

                  init: function (data) {
                        this.columns = data
                              .keys
                              .concat();
                        this
                              .$refs
                              .previewComp
                              .setTableData(data.list);
                        this.updateSettings();
                  },

                  getGridSettings: function () {
                        return this.gridSettings;
                  }
            }
      };

      module.exports = {
            data: function () {
                  return {
                        colors: {
                              hex: '#194d33',
                              rgba: {
                                    r: 25,
                                    g: 77,
                                    b: 51,
                                    a: 1
                              },
                              a: 0
                        },

                        tranferData: {
                              mainData: {
                                    title: "Data List",
                                    data: []
                              },

                              targetListData: [
                                    {
                                          title: "Grid Column",
                                          data: []
                                    }
                              ]
                        },

                        datasetID: undefined,
                        step2PreviewData: {
                              list: [],
                              keys: []
                        },
                        stepActive: -1,
                        componentInstance: null,
                        datasetResultData: null
                  }
            },

            components: {
                  ColumnDataSettingsComponent: ColumnDataSettingsComponent,
                  GridStyleSettingsComponent: GridStyleSettingsComponent
            },

            methods: {
                  _validationSettings: function (datasetId, columns) {
                        var self = this;
                        return Vue
                              .$DatasetPreviewService
                              .validationDataset(datasetId)
                              .then(function (result) {
                                    if (!result) {
                                          alert(Vue.$i18n.messages.wv.dataset.invalidDataset01);
                                          return false;
                                    } else {
                                          return Vue
                                                .$DatasetPreviewService
                                                .validationColumns(result, columns);
                                    }
                              })
                              .then(function (result) {
                                    if (!result) {
                                          alert(Vue.$i18n.messages.wv.dataset.invalidDataset02);
                                          return false;
                                    } else {
                                          return result;
                                    }
                              });
                  },

                  setData: function (data) {
                        this
                              .tranferData
                              .targetListData[0]
                              .data = data
                              .settings
                              .keys
                              .concat();
                        this.tranferData.mainData.data = data
                              .datasetResult
                              .keys
                              .concat();

                        this.datasetID = data.datasetId;
                        this.datasetResultData = data.datasetResult;
                        this.step2PreviewData.list = this.datasetResultData.data;
                        this
                              .$refs
                              .transferPreviewComp
                              .setData(this.step2PreviewData);

                        this.changeColumnData(this.tranferData);
                        this
                              .$refs
                              .transferComp
                              .setData(this.tranferData);
                        this
                              .$refs
                              .columnDataSettingsComp
                              .setGridSettings(data.settings, this.datasetResultData.data);

                  },

                  changeColumnData: function (data) {
                        this.step2PreviewData.keys = data
                              .targetListData[0]
                              .data
                              .concat();
                        this
                              .$refs
                              .transferPreviewComp
                              .setColumns(this.step2PreviewData.keys);
                  },

                  prevStep1: function () {
                        this.stepActive = 0;
                        if (!this.$refs.datasetPreviewComp.getDataset()) {
                              this
                                    .$refs
                                    .datasetPreviewComp
                                    .selectDatasetById(this.datasetID);
                        }
                  },

                  prevStep2: function () {
                        this.stepActive = 1;
                  },

                  nextStep2: function () {
                        var currentDataset = this
                              .$refs
                              .datasetPreviewComp
                              .getDataset();

                        if (this.datasetID && currentDataset && this.datasetID == currentDataset.dataset_id) {
                              var datasetPreviewData = this
                                    .$refs
                                    .datasetPreviewComp
                                    .getPreviewData();
                              /**
                               * 이미 저장된 데이터셋 ID가 있을 경우, 데이터셋 실행하기에서 미리보기 데이터가 없어도 기존 정보로 다음스텝으로 이동,
                               * 데이터 결과가 있을경우 컬럼 정보를 비교하여 틀리면 transfer reset/ 기존 정보로 다음스텝으로 이동,
                               */
                              if (datasetPreviewData == null || datasetPreviewData.length == 0 || datasetPreviewData.keys.join('') == this.datasetResultData.keys.join('')) {
                                    this.stepActive = 1;
                              } else {
                                    this._initTransferData();
                                    this.stepActive = 1;
                              }
                        } else {
                              if (this.$refs.datasetPreviewComp.validationPreviewData()) {
                                    this.datasetID = currentDataset.dataset_id;
                                    this._initTransferData();
                                    this.stepActive = 1;
                              }
                        }
                  },

                  _initTransferData: function () {
                        this.datasetResultData = this
                              .$refs
                              .datasetPreviewComp
                              .getPreviewData();
                        this.step2PreviewData.list = this.datasetResultData.data;

                        this.tranferData.mainData.data = this.datasetResultData.keys;
                        this
                              .tranferData
                              .targetListData[0]
                              .data = [];

                        this
                              .$refs
                              .transferPreviewComp
                              .setData(this.step2PreviewData);
                        this
                              .$refs
                              .transferComp
                              .setData(this.tranferData);
                  },

                  nextStep3: function () {
                        this.stepActive = 2;
                        this
                              .$refs
                              .columnDataSettingsComp
                              .init(this.step2PreviewData);
                  },

                  _setActiveStep: function (datasetId, settings) {
                        if (datasetId && datasetId.length > 1) {
                              var self = this;
                              var data = this
                                    ._validationSettings(datasetId, settings.keys)
                                    .then(function (result) {
                                          var __data = {
                                                settings: settings,
                                                datasetId: datasetId
                                          }

                                          if (result) {
                                                __data["datasetResult"] = result;
                                          } else {
                                                __data["datasetResult"] = self
                                                      .componentInstance
                                                      .getGroupPropertyValue("extension", "previewData") || [];
                                          }
                                          self.setData(__data);
                                          self.stepActive = 2;

                                          /*
                                      if (result) {

                                          self.setData({
                                              settings: settings,
                                              datasetId: datasetId,
                                              datasetResult: result
                                          });

                                          self.stepActive = 2;
                                      }*/
                                    });
                        } else {
                              this.stepActive = 0;
                        }
                  },

                  /**********************************************************************/
                  setComponent: function (componentInstance) {
                        this.componentInstance = componentInstance;
                        this.extensionProperties = $.extend(
                              true,
                              {},
                              this.componentInstance.getGroupProperties("extension")
                        );
                  },

                  modalOpened: function () {
                        this._setActiveStep(
                              this.extensionProperties.datasetId,
                              this.extensionProperties.settings
                        );
                        this
                              .$refs
                              .gridStyleSettingsComp
                              .setStyle(this._validateGridStyle());
                  },

                  _validateGridStyle: function () {
                        var gridStyle = this.extensionProperties.gridStyle;

                        if (gridStyle.header!= null && typeof gridStyle.header.bgColor === 'string') {
                              gridStyle.header.bgColor = this.createBackground(
                                    'header',
                                    gridStyle.header.bgColor
                              );
                              gridStyle.body.bgColor1 = this.createBackground(
                                    'bgColor1',
                                    gridStyle.body.bgColor1
                              );
                              gridStyle.body.bgColor2 = this.createBackground(
                                    'bgColor2',
                                    gridStyle.body.bgColor2
                              );
                        }

                        this
                              .componentInstance
                              .setGroupProperties("extension", this.extensionProperties);
                        return gridStyle;
                  },

                  createBackground: function (name, bgColor) {
                        return {
                              bgType: 'solid',
                              bgGradientDir: 'left',
                              bgGradientColor1: bgColor,
                              bgGradientColor2: 'rgba(250, 250, 250, 1)',
                              bgColor: bgColor,
                              name: name
                        }
                  },

                  show: function () {
                        this.datasetID = null;
                        this
                              .$modal
                              .show('basic-grid-extension');
                  },

                  hide: function () {
                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        this
                              .$confirm(locale_msg.common.confirmExitWindow, 'Confirm', {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              })
                              .then(function () {
                                    self._onHidden();
                              })
                              .catch(function () {});
                  },

                  _onHidden: function () {
                        this.$emit("closed");
                        this
                              .$modal
                              .hide('basic-grid-extension');
                  },

                  _onOk: function () {
                        this.extensionProperties = {
                              "settings": this
                                    .$refs
                                    .columnDataSettingsComp
                                    .getGridSettings(),
                              "datasetId": this.datasetID,
                              "gridStyle": this
                                    .$refs
                                    .gridStyleSettingsComp
                                    .getStyle(),
                              "previewData": this.datasetResultData
                        };

                        this
                              .componentInstance
                              .setGroupProperties("extension", this.extensionProperties);

                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        this
                              .$confirm(
                                    locale_msg.common.successSave + locale_msg.common.confirmExitWindow,
                                    locale_msg.common.notification,
                                    {
                                          confirmButtonText: 'OK',
                                          cancelButtonText: 'Cancel',
                                          type: 'info'
                                    }
                              )
                              .then(function () {
                                    self._onHidden();
                              })
                              .catch(function () {});
                  }
            }
      }
</script>
<style scoped="scoped">
      #basic-grid-extension .el-tabs {
            overflow: auto;
      }

      .column-data-preview-comp {
            overflow: auto;
      }

      .grid-step-wrap {
            display: -ms-flex;
            flex-direction: column;
            overflow: auto;
            flex: 1;
      }

      .cont-title {
            margin: 10px 0;
            font-size: 16px;
      }

      .cont-title:first-child {
            margin-top: 0;
      }

      .transfer-comp {
            margin: 0 auto 10px;
            min-height: 240px;
      }

      .dataset-preiview-comp {
            flex: 1;
      }

      .bottom-btn-wrap {
            margin-top: 14px;
      }

      .bottom-btn-wrap .bottom-btn {
            margin-left: 6px;
            width: 300px;
            min-height: 28px;
      }

      .grid-style-settings h6 {
            font-size: 14px;
            margin: 16px 0 6px;
      }

      .columnDataSettings {
            overflow: auto;
      }

      .columnDataSettings .column-table-wrap {
            margin-bottom: 16px;
      }

      .columnDataSettings table {
            width: 100%;
            border: 1px solid #e6ebf5;
            text-align: center;
      }

      .columnDataSettings table th {
            white-space: nowrap;
            overflow: hidden;
            user-select: none;
      }

      .columnDataSettings table td,
      .columnDataSettings table th {
            border-bottom: 1px solid #e6ebf5;
            padding: 6px;
            border-right: 1px solid #e6ebf5;
      }

      .columnDataSettings table th,
      .columnDataSettings table thead {
            background-color: #fafafa;
      }

      .columnDataSettings .table-layout-wrap {
            margin-bottom: 6px;
      }

      .columnDataSettings .table-layout-wrap .layout-select {
            margin-right: 6px;
      }

      .grid-style-preivew {
            margin: 10px 0 20px;
      }

      .style-settings-table-wrap table {
            width: 100%;
            border: 1px solid #e6ebf5;
      }

      .style-settings-table-wrap table td,
      .style-settings-table-wrap table th {
            border-bottom: 1px solid #e6ebf5;
            border-right: 1px solid #e6ebf5;
            background-color: #fff;
      }

      .style-settings-table-wrap table th {
            text-align: center;
            background-color: #fafafa;
      }

      .style-settings-table-wrap table td,
      .style-settings-table-wrap table th {
            padding: 6px 14px;
      }

      .style-settings-table-wrap table td > div {
            display: flex;
            align-items: center;
            justify-content: center;
      }

      .style-settings-table-wrap table td > div > * {
            margin: 0 6px 0 0;
      }

      .style-settings-table-wrap table td > div > *:last-child {
            margin-right: 0;
      }

      .style-settings-table-wrap input {
            height: 30px;
            border-radius: 4px;
            border: 1px solid #d8dce5;
            padding: 6px;
      }

      .style-settings-table-wrap label {
            margin: 0;
      }

      .style-settings-table-wrap .color-picker {
            height: 30px;
      }

      .style-settings-table-wrap .color-picker__trigger {
            height: 30px;
            width: 30px;
            padding: 0;
            border: none;
      }

      .style-settings-table-wrap .color-picker__mask {
            height: 30px;
            width: 30px;
            border-radius: 0;
      }

      /***/
      .grid-style-preivew .table-wrap {
            overflow: auto;
      }

      .grid-preview-table table {
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #e6ebf5;
      }

      .grid-preview-table table td,
      .grid-preview-table table th {
            background-color: #fff;
      }

      .grid-preview-table table th {
            text-align: center;
            background-color: #fafafa;
      }

      .grid-preview-table .sortable-head {
            cursor: pointer;
      }

      .grid-preview-table .caret-wrapper {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            height: 34px;
            width: 20px;
            vertical-align: middle;
            cursor: pointer;
            overflow: initial;
      }

      .grid-preview-table .sort-caret.ascending {
            top: 5px;
      }

      .grid-preview-table .sort-caret {
            color: #b4bccc;
            width: 14px;
            overflow: hidden;
            font-size: 15px;
            position: absolute;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            vertical-align: baseline;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
      }

      .grid-preview-table .sort-caret.descending {
            bottom: 7px;
      }

      .grid-preview-table .ascending .sort-caret.ascending,
      .grid-preview-table .descending .sort-caret.descending {
            color: #5e616a;
      }

      .grid-preview-table th {
            position: relative;
      }

      .grid-preview-table table th {
            padding: 0;
      }

      .grid-preview-table table td,
      .grid-preview-table table th .column-txt {
            padding: 6px 14px;
      }

      .grid-preview-table .column-wrap {
            display: flex;
      }

      .grid-preview-table .column-wrap .column-txt {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      .grid-preview-table table.vtable th {
            border-left: none !important;
      }

      .grid-preview-table table.vtable tr:first-child > td,
      .grid-preview-table table.vtable tr:first-child > th {
            border-top: none !important;
      }

      .grid-preview-table table.htable th {
            border-top: none !important;
      }

      .grid-preview-table table.htable tr > td:first-child,
      .grid-preview-table table.htable tr > th:first-child {
            border-left: none !important;
      }

      /**/
      .gradient-type-wrap {
            margin-left: 10px;
      }

      .gradient-type-wrap > .dir-btn.active {
            border-width: 2px;
            border-color: #333;
      }

      .gradient-type-wrap > .dir-btn {
            margin-right: 2px;
            display: block;
            width: 24px;
            height: 24px;
            border: 1px solid #999;
            overflow: hidden;
            cursor: pointer;
      }

      .dir-btn > .icon {
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
      }

      .dir-btn.top > .icon {
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
      }

      .dir-btn.diagonal1 > .icon {
            background: linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
      }

      .dir-btn.diagonal2 > .icon {
            background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
      }

      .dir-btn.radial > .icon {
            background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
      }

      .prop-group .label {
            line-height: 30px;
            margin-right: 10px;
      }
      .prop-group .row:first-child {
            margin-bottom: 10px;
      }
</style>
