<template>
	<div class="renobit-popup-view">
        <div class="header"><h4>Resource Manager</h4>
            <a role="button" class="close-modal-btn"><i class="el-icon-close"></i></a>
        </div>
        <div class="body">
        
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from "vue"
    import Component from "vue-class-component"

    @Component({
        components: {}
    })
    export default class PopupView extends Vue {
   
    }
</script>
<style scoped>
    
</style>
