<template>
      <div class="main-toolbar">
            <div class="row01 d-flex">
                  <span class="wv-logo"></span>
                  <main-menubar class="main-menu-wrap flex"></main-menubar>
                  <div class="btn-group w-btn-group">
                        <div class="langs">
                              <select v-if="langPack.length > 0" @change="changeLanguage">
                                    <option v-for="item in langPack" :label="item.label" :value="item.locale"
                                            :selected="item.locale == language"></option>
                              </select>
                        </div>
                        <el-tooltip v-if="langPack.length > 0" class="item" effect="dark" content="multilingual editor"
                                    placement="top">
                              <button class="w-btn img-icon-btn  icon-top-locale" @click="onGotoMultilingualEditor">
                                    multilingual editor
                              </button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="viewer" placement="top">
                              <button class="w-btn img-icon-btn  icon-top-viewer" @click="onGotoViewer">viewer</button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="admin" placement="top">
                              <button class="w-btn img-icon-btn  viewer-icon-admin" @click="onGotoAdmin">admin</button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="logout" placement="top">
                              <button class="w-btn img-icon-btn viewer-icon-logout" @click="onLogout">logout</button>
                        </el-tooltip>
                  </div>
            </div>
            <div class="row02">
                  <page-toolbar ref="page_toolbar"></page-toolbar>
                  <layer-toolbar v-show="active"></layer-toolbar>
                  <work-area-toolbar v-show="active"></work-area-toolbar>
                  <two-toolbar
                        v-show="active && (TEMP_LAYERS.MASTER_LAYER==activeLayerName || TEMP_LAYERS.TWO_LAYER==activeLayerName)"></two-toolbar>
                  <three-toolbar
                        v-show="active && TEMP_LAYERS.THREE_LAYER== activeLayerName && using3D==true"></three-toolbar>
            </div>
      </div>
</template>

<script lang="ts">
      import Vue from "vue"
      import Component from "vue-class-component"
      import MainMenubar from "./mainMenubar/MainMenubar";
      import PageToolbar from "./pageToolbar/PageToolbar";
      import LayerToolbar from "./layerToolbar/LayerToolbar";
      import WorkAreaToolbar from "./workAreaToolbar/WorkAreaToolbar";
      import TwoToolbar from "./twoToolbar/TwoToolbar";
      import ThreeToolbar from "./threeToolbar/ThreeToolbar";

      import MainToolbarContainerMediator from "./MainToolbarContainerMediator";
      import {WORK_LAYERS} from "../../../wemb/wv/layer/Layer";


      @Component({
            components: {
                  MainMenubar,
                  PageToolbar,
                  LayerToolbar,
                  WorkAreaToolbar,
                  TwoToolbar,
                  ThreeToolbar,

            }
      })
      export default class MainToolbarContainer extends Vue {
            public static readonly EVENT_GOTO_VIEWER: string = "event/gotoViewer";
            public static readonly EVENT_GOTO_ADMIN: string = "event/gotoAdmin";
            public static readonly EVENT_GOTO_LOGOUT: string = "event/gotoLogout";
            public static readonly EVENT_CHANGE_LOCALE: string = "event/changeLocale";
            public static readonly EVENT_GOTO_MULTILINGUAL: string = "event/gotoMultilingual";
            private active: boolean = false;
            private activeLayerName: WORK_LAYERS = WORK_LAYERS.NONE_LAYER;
            private TEMP_LAYERS = WORK_LAYERS;
            private langPack: Array<any> = [];
            private language: string = window.navigator.language;

            /*
        2018.11.04(ckkim)
        3D 레이어가 활성화 된 경우만 실행.
         */
            get using3D() {
                  let value = false;

                  try {
                        value = window.wemb.configManager.using3D;
                  } catch (error) {

                        value = false;
                  }


                  return value;
            }

            public mounted() {
                  console.log("step 01, mounted(), MainToolbarContainer");
                  this.$nextTick(() => {
                        var temp_locale = localStorage.getItem('__renobit_locale__');


                        this.language = temp_locale === null ? window.wemb.configManager.locale : temp_locale;
                        this.langPack = window.wemb.configManager.languages;

                        //console.log(" this.languPack ", this.langPack);

                  })
                  window.wemb.viewComponentMap.set(MainToolbarContainerMediator.NAME, this);
            }

            changeLanguage(e) {
                  var self = this;
                  var lang = e.target.value;

                  localStorage.setItem("__renobit_locale__", lang);
                  if (!self.$refs.page_toolbar.pageButtons.save) {
                        location.reload();
                  } else {
                        var locale_msg = self.$i18n.messages.wv;
                        Vue.$confirm(locale_msg.page.editWarning, locale_msg.common.notification, {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(() => {
                              location.reload();
                        }).catch(() => {
                              var temp = self.langPack;
                              self.langPack = [];
                              self.langPack = temp;
                              localStorage.setItem("__renobit_locale__", self.language);
                        });
                  }
            }

            public onGotoViewer() {
                  this.$emit(MainToolbarContainer.EVENT_GOTO_VIEWER);
            }

            public onGotoAdmin() {
                  this.$emit(MainToolbarContainer.EVENT_GOTO_ADMIN);
            }

            public onLogout() {
                  this.$emit(MainToolbarContainer.EVENT_GOTO_LOGOUT);
            }

            public onGotoMultilingualEditor() {
                  ///#/multilingualEditor
                  this.$emit(MainToolbarContainer.EVENT_GOTO_MULTILINGUAL);
            }

            public noti_openPage() {
                  this.active = true;
                  //console.log("__________ noti_openPage", this.active);

            }


            public noti_closedPage() {
                  this.active = false;
            }


            public noti_changeActiveLayer(layerName: WORK_LAYERS) {
                  this.activeLayerName = layerName;
            }
      }


</script>

<style scoped>
      .langs {
            position: relative;
      }

      .langs select {
            display: block;
            background: #363a45;
            color: white;
            outline: none;
            padding-right: 15px;
            border: 0px;
            height: 100%;
            outline: none; /* remove focus ring from Webkit */
            -webkit-appearance: none !important; /* remove the strong OSX influence from Webkit */
      }

      /* Select arrow styling */
      .langs:after {
            content: "▼";
            position: absolute;
            top: calc(50% - 0.5em);
            font-size: 60%;
            pointer-events: none;
            color: white;
            right: 0px;
      }

      .langs select::-ms-expand {
            display: none;
      }
</style>
