<template>
      <div class="dataset-query-type-fields">
            <div class="dataset-radio-fields">
                  <el-row>
                        <el-col :span="4" class="label">{{$t('dataset.isStatic')}} : </el-col>
                        <el-col :span="4"><el-radio v-model="dynamic" :label="DATASET_CONST.DYNAMIC_TYPE.STATIC" @change="loadStaticSQL">{{$t('dataset.static')}}</el-radio></el-col>
                        <el-col :span="4"><el-radio v-model="dynamic" :label="DATASET_CONST.DYNAMIC_TYPE.DYNAMIC" @change="loadDynamicSQL">{{$t('dataset.dynamic')}}</el-radio></el-col>
                  </el-row>
                  <el-row class="data-source-row" v-if="selectMultiDataSource.length">
                        <el-col :span="4" class="label">{{$t('dataset.multiDataSourceUsage')}} : </el-col>
                        <el-col :span="4"><el-checkbox v-model="isMultiDataSource">{{$t('dataset.use')}}</el-checkbox></el-col>
                        <el-col :span="4" class="multi-datasource">
                              <el-select v-model="selectedMultiDataSource" placeholder="Multi DataSource" :disabled="!isMultiDataSource" @change="selectDataSource">
                                    <el-option
                                          v-for="item in selectMultiDataSource"
                                          :key="item.value"
                                          :label="item.label"
                                          :value="item.value">
                                    </el-option>
                              </el-select>
                        </el-col>
                  </el-row>
            </div>
            <template v-if="isStatic()">
                  <editor class="script-editor queryField" v-model="queryStr" width="100%" @init="onEditorInit" lang="sql" theme="terminal"
                          enableBasicAutocompletion
                          enableSnippets="true"
                          enableLiveAutocompletion="true"

                  ></editor>
                  <!--<textarea class="queryField" v-model="queryStr" :placeholder="$t('dataset.queryPH')"></textarea>-->
            </template>
            <template v-if="isDynamic()">
                  <el-input class="search-field" v-model="searchStr" placeholder="search method name">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                        <!--                    <i @click="clearSearchStr()" class="clear-search-str el-icon-error el-input__icon" slot="suffix"></i>-->
                  </el-input>
                  <el-radio-group v-model="selectedDynamicQuery" style="width: 100%;">
                        <el-table
                              :data="methodData"
                              border
                              stripe
                              height="250"
                              style="width: 100%;"
                              @current-change="selectDynamicQuery"
                              ref="dynamicTable"
                              class="dynamic-list">
                              <el-table-column prop="methodName" label="Dynamic List">
                                    <template slot-scope="scope">
                                          <div class="text-no-wrap flex-space-between" :class="{selected: selectedDynamicQuery == scope.row.fullName}">
                                                <el-radio :label="scope.row.fullName"> {{scope.row.methodName === '' ? ' ' : scope.row.methodName }}</el-radio>
                                                <el-button class="preview-btn" type="primary" icon="el-icon-zoom-in"
                                                           @click="previewQuery(scope.$index)">view</el-button>
                                          </div>
                                    </template>
                              </el-table-column>
                        </el-table>

                  </el-radio-group>

            </template>
            <div v-show="type==DATASET_CONST.DELIVERY_TYPE.POLLING">
                  <p class="text-info"><i class="fa fa-info-circle"></i> {{$t('dataset.queryTip01')}} <strong>{{$t('dataset.queryTip02')}}</strong>{{$t('dataset.queryTip03')}}</p>
                  <h4>{{$t('dataset.parameterCreate')}}</h4>

                  <dataset-register-param-field-component
                        ref="registerParamComp"
                        :isDynamic="isDynamic()"
                        :paramService="paramService"></dataset-register-param-field-component>
                  <dataset-param-field-list-component
                        ref="paramFieldListComp"
                        :isDynamic="isDynamic()"
                        :paramService="paramService"></dataset-param-field-list-component>
            </div>
      </div>
</template>
<script lang="ts">
      declare function require(moduleName: string): any;
      declare let ace:any;
      import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import {dto} from "../../../../model/dto/DatasetDTO"
      import DatasetItemDTO = dto.DatasetItemDTO;
      import {Dataset} from "../../../../const/Dataset";
      import DatasetQueryParamService from "../../../../service/DatasetQueryParamService";
      import DatasetRegisterParamFieldComponent from '../fieldParam/DatasetRegisterParamFieldComponent.vue';
      import DatasetParamFieldListComponent from '../fieldParam/DatasetParamFieldListComponent.vue';
      import DatasetQueryTypeFieldsMediator from './DatasetQueryTypeFieldsMediator';


      /**
       * qurey type에서는 파라메터 등록에 많은 로직이 들어가 있음
       * 마이바티스 형식으로 query문 작성부분에 파라메터 등록을 위해 #{param key}문법을 사용하는데 이걸 실시간으로 검사하여,
       * 작성된 param key를 등록하기 쉽게 드롭박스로 제공한다.
       * 드롭박스에서 선택하여 파라메터로 등록한 항목은 또 자동 제거되고, 등록했던걸 취소하면 다시 항목에 추가되는 방식이다.
       * 이를 처리하는 객체가 DatasetQueryParamService고 등록필드 컴포넌트인 DatasetRegisterParamFieldComponent와 등록된 리스트 컴포넌트인 DatasetParamFieldListComponent가
       * 여기서 생성된 DatasetQueryParamService객체를 prop으로 전달받아 참조 하여 파라메터 상태를 공유하여 처리한다.
       **/
      @Test
      @Component({
            components: {
                  DatasetRegisterParamFieldComponent,
                  DatasetParamFieldListComponent,
                  editor:require('vue2-ace-editor')
            }
      })
      export default class DatasetQueryTypeFieldsComponent extends Vue {
            static readonly LOAD_DYNAMIC_SQL =        "loadDynamicSQL";
            static readonly CHANGE_SEARCH_STR =       "event/changeSearchStr";
            static readonly VIEW_QUERY =              "event/viewQuery";
            static readonly LOAD_DATASOURCE =         "event/loadDatasource";
            @Prop({default: Dataset.DELIVERY_TYPE.POLLING})
            type: string

            @Prop({default:false})
            isEditMode: boolean

            public queryStr: string = '';
            public DATASET_CONST: any = Dataset;

            private paramService: DatasetQueryParamService;

            private registerParamComp: DatasetRegisterParamFieldComponent;
            private paramFieldListComp: DatasetParamFieldListComponent;

            private isInit:boolean = false;CD10000007
            private editor:any = null;
            private ACE_EDITOR_TYPE_SQL:string = "sql";
            /*static readonly  EDIT_DATASET = "event/editDataset";
            public searchStr:string = "";
            */

            private dynamic:string = Dataset.DYNAMIC_TYPE.STATIC;
            private methodData:Array<any> = [];
            private searchStr:string = "";
            private isMultiDataSource:boolean = false;
            private multiDataSource:Array<any> = [];
            private selectMultiDataSource:Array<any> = [];
            private selectedMultiDataSource:string = "";
            private selectedRow:any = {};
            private selectedDynamicQuery: string = "";
            private tempQuery:string = '';
            private mediatorName:string = '';
            private dynamicMap:any = {};
            private readonly DEFAULT_DB_TYPE = "";
            private showHeader:boolean = false;

            get dbType() {
                  let item;
                  return this.selectedMultiDataSource &&
                        (item = this.multiDataSource.find(item => item.id === this.selectedMultiDataSource)) && item.db_type
            }

            @Watch('queryStr', { immediate: true, deep: true })
            onQueryStrChanged(val: string, oldVal: string) {
                  this.updateParameter(val);
            }

            @Watch('multiDataSource', { immediate: true, deep: true })
            getSelectMultiDataSourceList() {
                  this.selectMultiDataSource = !!this.multiDataSource && this.multiDataSource.map(dataSource => {
                        return {
                              label : dataSource.name,
                              value : dataSource.id
                        }
                  });
            }

            @Watch('searchStr', { immediate: true, deep: true })
            onSearchStrChanged(val: string, oldVal: string) {
                  this.$emit(DatasetQueryTypeFieldsComponent.CHANGE_SEARCH_STR, this.searchStr);
            }

            @Watch('isMultiDataSource', { immediate: true, deep: true })
            onChangeSelectedMultiDataSource() {
                  if (!this.isMultiDataSource) {
                        this.selectedMultiDataSource = "";
                        if (this.isDynamic()) {
                              this.loadDynamicSQL();
                        }
                  }
            }

            @TestMethod
            public testMethod() {

            }


            created() {
                  this.paramService = new DatasetQueryParamService();//파라메터를 쉽게 등록하기 위한 드롭박스 처리를 위해 사용되는 서비스
            }

            mounted() {
                  let mediatorName = DatasetQueryTypeFieldsMediator.NAME;
                  if(this.isEditMode){
                        mediatorName = DatasetQueryTypeFieldsMediator.MODIFY_NAME;
                  }

                  this.mediatorName = mediatorName;
                  window.wemb.viewComponentMap.set(mediatorName, this);

                  this.registerParamComp = <DatasetRegisterParamFieldComponent>this.$refs.registerParamComp;
                  this.paramFieldListComp = <DatasetParamFieldListComponent>this.$refs.paramFieldListComp;

                  //query문이 길어질 경우 필드 사이즈를 늘릴수 있도록 resizable처리
                  $( ".dataset-query-type-fields .queryField" ).resizable({
                        handles: "s",
                        minWidth: 300,
                        minHeight: 60
                  });
            }

            init(){
                  this.paramService.init();
                  this.registerParamComp.init();
                  this.paramFieldListComp.init();
                  this.queryStr = "";
            }

            ///데이터 수정시 정보를 새로 셋할 때 query문과 param정보를 셋팅함
            setData(data){
                  this.$emit(DatasetQueryTypeFieldsComponent.LOAD_DATASOURCE);
                  this.queryStr = data.query;
                  this.paramService.setParamList( data.paramList );
                  this.dynamic = data.queryType || Dataset.DYNAMIC_TYPE.STATIC;
                  this.selectedMultiDataSource = data.datasource;
                  this.isMultiDataSource = !!data.datasource;
                  if (this.isDynamic()) {
                        this.queryStr = "";
                        this.selectedDynamicQuery = data.query;
                        this.tempQuery = data.query;

                        this.setCurrentRow();
                  }
            }


            getData():any{
                  return {
                        query: this.isStatic() ? this.queryStr : this.selectedDynamicQuery,
                        paramList: this.paramService.getParamList(),
                        queryType: this.dynamic,
                        datasource: this.selectedMultiDataSource || "",
                        dbType: this.dbType,
                        queryDetailInfo: this.selectedRow && this.selectedRow.type
                  }
            }

            onEditorInit(editor) {
                  if(this.isInit==false ) {
                        this.isInit = true;
                        this.editor = editor;
                        require('brace/mode/' + this.ACE_EDITOR_TYPE_SQL);
                        require('brace/theme/terminal');
                        require('brace/ext/searchbox');
                        require('brace/snippets/' + this.ACE_EDITOR_TYPE_SQL);
                        editor.getSession().setMode('ace/mode/' + this.ACE_EDITOR_TYPE_SQL);
                        editor.getSession().setUseWrapMode(true);
                        editor.getSession().setWrapLimitRange(null, null);
                        editor.$blockScrolling = Infinity;
                  }
            }

            /**
             * 설정이 정적인지 확인
             */
            isStatic() {
                  return this.dynamic === this.DATASET_CONST.DYNAMIC_TYPE.STATIC;
            }

            /**
             * 설정이 다이나믹인지 확인
             */
            isDynamic() {
                  return this.dynamic === this.DATASET_CONST.DYNAMIC_TYPE.DYNAMIC;
            }

            /**
             * 데이터소스 정보 설정
             */
            updateMultiDataSource(list:Array<any>) {
                  this.multiDataSource = list;
                  this.$emit(DatasetQueryTypeFieldsComponent.LOAD_DYNAMIC_SQL, list.map(ds => {return ds.id}), !!this.isEditMode);
            }

            /**
             * 서버로부터 다이나믹 정보를 호출
             */
            loadDynamicSQL() {
                  const type = this.selectedMultiDataSource || "";
                  this.methodData = this.dynamicMap[type] || [];
                  this.updateParameter("");
            }

            loadStaticSQL() {
                  window.wemb.viewComponentMap.get("DatasetListMediator").queryViewClose();
                  this.selectedDynamicQuery = "";
                  this.updateParameter(this.queryStr);
            }

            /**
             * 다이나믹 리스트 설정
             */
            updateDynamicSQL(dynamicMap:any) {
                  this.setDynamicSQL(dynamicMap);
            }

            updateDynamicSQLMode(dynamicMap:any) {
                  this.setDynamicSQL(dynamicMap);
                  this.setCurrentRow();
            }

            setDynamicSQL(dynamicMap:any) {
                  for (let dbType in dynamicMap) {
                        if (!this.dynamicMap.hasOwnProperty(dbType)) {
                              this.dynamicMap[dbType] = dynamicMap[dbType];
                        }
                  }

                  this.methodData = this.dynamicMap[this.selectedMultiDataSource || this.DEFAULT_DB_TYPE] || [];
            }

            setCurrentRow() {
                  if (this.tempQuery) {
                        const row = this.methodData.find(data => {
                              return data.fullName == this.tempQuery;
                        });

                        console.log("@@select dynamic",this.tempQuery);

                        if (row) {
                              this.selectedDynamicQuery = this.tempQuery;
                              // this.tempQuery = "";
                              this.updateParameter(row.query);
                        }
                  }
            }

            /**
             * 쿼리 미리보기 실행
             */
            previewQuery(index) {
                  const query = this.methodData[index].query;
                  this.$emit(DatasetQueryTypeFieldsComponent.VIEW_QUERY, query);
            }

            /**
             * 동적으로 선택 된 상태에서 멀티데이터소스를 변경 하면 새로운 리스트 호출
             */
            selectDataSource() {
                  if (this.isDynamic()) {
                        this.loadDynamicSQL();
                  }
            }

            /**
             * 쿼리에 따른 파라미터 업데이트(#{}, ${})
             * @param val
             */
            updateParameter(val) {
                  if( this.paramService && this.paramService.updateSqlStr ){
                        this.paramService.updateSqlStr(val);
                  }
            }

            selectDynamicQuery(row) {
                  if (row) {
                        this.selectedRow = row;
                        this.selectedDynamicQuery = row.fullName;
                        this.updateParameter(row.query);
                  }
            }

            destroyed(): void {
                  if(this.editor) {
                        this.editor.destroy();
                        this.editor = null;
                  }
            }

      }

      function Test(constructor:any) {

            return <any>class extends constructor {

            }
      }

      function TestMethod() {

      }
</script>
<style scoped>
      .dataset-query-type-fields p{margin: 6px 0 16px 0; text-indent: 5px;}
      .dataset-query-type-fields >>> .ui-wrapper{width:100% !important; padding:0 !important;}
      .dataset-query-type-fields >>> textarea{width:100% !important; height: 180px; border-radius: 4px; border: 1px solid #d8dce5; outline: none; padding: 8px; }
      .dataset-query-type-fields >>> .ui-resizable-s {width:100% !important; bottom: 7px;left: 0; height: 12px;}
      .script-editor {width:100%;height:180px !important;}



      .label{line-height: 28px;}

      .search-field {margin-top:20px}
      .preview-btn {width: 140px; padding: 8px 18px;margin:0;display:block;font-size:13px;}
      .preview-btn:hover {background-color: #fff;color:#363a45}
      .multi-datasource {}
      .script-editor.queryField {margin-top:20px;}
      .multi-datasource >>> input.el-input__inner {height: 28px !important;width:150px;}
      .data-source-row {margin-top:8px;}

      .flex-space-between {display: flex;align-items: center;justify-content: space-between;padding: 0;}
      .text-no-wrap.flex-space-between >>> .el-radio__input {display: none;}
      .dataset-query-type-fields >>> .cell,
      .dataset-query-type-fields >>> .el-table td {
            padding: 0 !important;
      }

      .dataset-query-type-fields >>> .el-table.dynamic-list table {
            width: 100% !important;
      }

      .dataset-query-type-fields >>> .el-table.dynamic-list th {
            padding-left: 18px !important;
      }

      .text-no-wrap {padding: 4px 10px;}
      .text-no-wrap.flex-space-between.selected {
            background-color: #595e65;
      }

      .text-no-wrap.flex-space-between.selected >>> .el-radio__label {
            color:#fff;
      }
</style>
