<template>
    <div class="dataset-preview-main">
        <dataset-preview-list-component class="dataset-list" ref="listComp" @selectedDataset="setDataset($event)"></dataset-preview-list-component>
        <dataset-preview-detail-component ref="detailComp" class="dataset-detail flex d-flex"></dataset-preview-detail-component>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Component from "vue-class-component";
    import DatasetPreviewListComponent from "./DatasetPreviewListComponent.vue";
    import DatasetPreviewDetailComponent from "./DatasetPreviewDetailComponent.vue";
    
    import { dto } from '../../../../editor/windows/datasetManager/model/dto/DatasetDTO';
    import DatasetItemDTO = dto.DatasetItemDTO;
    import DatasetPreviewService from './DatasetPreviewService';
    
    @Component({
		components: {
            DatasetPreviewListComponent,
            DatasetPreviewDetailComponent
		}
	})
    export default class DatasetPreviewMainComponent extends Vue {
       

        public currentDataset:DatasetItemDTO = null;       

        created(){
            Vue["$DatasetPreviewService"] = DatasetPreviewService.getInstance();           
        }

        destroyed(){
            Vue["$DatasetPreviewService"] = null;
        }

        selectDatasetById(id:string){            
            (<DatasetPreviewListComponent>this.$refs.listComp).selectDatasetById( id );
        }

        getDataset(){

            return this.currentDataset;
        }
        
        private getDetailComp():DatasetPreviewDetailComponent{
            return <DatasetPreviewDetailComponent>this.$refs.detailComp;
        }

        setDataset(dataset:DatasetItemDTO){
            this.currentDataset = dataset;
            this.getDetailComp().setDataset( dataset );
        }

        validationPreviewData():boolean{
            let data = this.getDetailComp().getResultData();
            var locale_msg = this.$i18n.messages.wv;
            if( !data ){
                this.$message(locale_msg.dataset.selectDataset);
                return false;
            }else if( data && !data.length){
                this.$message(locale_msg.common.noResult);
                return false;
            }

            return true;
        }

        getPreviewData():any{
            let data = this.getDetailComp().getResultData();
            if( !data || !data.length ){
                return null;
            }

            return  {
                data: data,
                keys: Object.keys( data[0])
            }
        }        
    };
</script>
<style scoped>
.dataset-preview-main{display: flex;max-width: 100%; overflow: auto;}
.dataset-list{width: 400px;}
.dataset-detail{padding-left: 20px;}
</style>
