<template>
    <div class="data-list-wrap">
        <template v-if="datasetList && datasetList.length">
            <el-input class="search-field" v-model="searchStr" placeholder="Type something">
                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                <i @click="clearSearchStr()" class="clear-search-str el-icon-error el-input__icon" slot="suffix"></i>
            </el-input>
            <el-table
                ref="listTable"
                class="list-table"
                :data="resultList"
                :empty-text="$t('dataset.noSearchResult')"
                border
                stripe
                @current-change="_selectedDataset"
                :row-class-name="tableRowClassName"
                style="width: 100%;">
                <el-table-column
                    prop="name"
                    :label="$t('dataset.name')"
                    sortable
                >
                </el-table-column>
                <el-table-column :label="$t('dataset.type')" sortable prop="delivery_type">
                    <template slot-scope="scope" >
                        <span v-if="scope.row.delivery_type==0">polling</span>
                        <span v-if="scope.row.delivery_type==1">push</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="interval"
                    :label="$t('dataset.interval')">
                </el-table-column>
            </el-table>
        </template>
        <template v-else>
            <p>
                {{$t('dataset.emptyData')}}</p>
        </template>
	</div>
</template>
<script lang="ts">
    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
    import { dto } from '../../../../editor/windows/datasetManager/model/dto/DatasetDTO';
    import DatasetItemDTO = dto.DatasetItemDTO;
    import datasetApi from '../../../../common/api/datasetApi';
    import DatasetPreviewService from './DatasetPreviewService';

    @Component({
		components: {}
	})
    export default class DatasetPreviewListComponent extends Vue {
        public currentRow: any = null;
        public filterList: Array<DatasetItemDTO> = null;
        public datasetList: Array<DatasetItemDTO> = [];
        public searchStr:string = '';
        public timerID:number;
        public tempSelectedId:string = '';

        // computed
        get resultList () {
            console.log(this.datasetList)
            dto
            clearTimeout( this.timerID );
                this.timerID = setTimeout(()=>{
                    if( this.filterList != null
                        && this.currentRow != null
                        && this.filterList.find(x=>x.dataset_id == this.currentRow.dataset_id)){
                        this._setCurrentRow();
                    }
                }, 0);
            
                
                this.filterList = this.datasetList.filter((x)=>{
                    if( x.data_type != "1" && x.name.toLowerCase().indexOf(this.searchStr.toLowerCase()) != -1){
                        return x;
                    }
                });
                return this.filterList;
        }

        created():void {
            this.getDatasetList();
            /*this.datasetList = Vue.$DatasetPreviewService.list;

            Vue.$DatasetPreviewService.$bus.$on("addedDataset", (response)=>{
                this.getDatasetList();
            });

            Vue.$DatasetPreviewService.$bus.$on("deletedDataset", (response)=>{
                this.getDatasetList();
            });

            Vue.$DatasetPreviewService.$bus.$on("modifiedDataset", (response)=>{
                this.getDatasetList();
            })*/

        }

        mounted() {

        }

        tableRowClassName({row, rowIndex}):string{
            if( row == this.currentRow ){
                return "current-row";
            }

            return '';
        }

        _setCurrentRow(){
            if( this.currentRow == null ){return;}
            this.$refs.listTable["setCurrentRow"](this.currentRow);
        }

        selectDatasetById(id){
            if( this.datasetList && this.datasetList.length){
                let dataset = this.datasetList.find((x)=>x.dataset_id==id);
                if(dataset){
                    this._selectedDataset( dataset );
                }
            }else{
                //데이터를 아직 불러오기 전이면 임시 저장하여 셀렉트 처리
                this.tempSelectedId = id;
            }
        }

        _selectedDataset(item){
            if( item == null ){return;}
            this.currentRow = item;
            this.$emit("selectedDataset", item);
        }

        clearSearchStr(){
            this.searchStr = "";
        }

        getDatasetList() {
            let self = this;

            DatasetPreviewService.getInstance().getDatasetList().then((result) => {
                if( result.result == "ok" ){
                    this.datasetList = result.data;
                }

                if( self.tempSelectedId ){
                    let id = self.tempSelectedId;
                    self.selectDatasetById(id);
                    self.tempSelectedId = '';
                }

            })
        }
    }
</script>

<style scoped>
    .search-field {display: block; margin-bottom: 8px; width: 300px;}
    .data-list-wrap .list-table >>> .el-table__body-wrapper{}
    .data-list-wrap>>>button { margin: 0;}
    .data-list-wrap>>>.el-table td,
    .data-list-wrap>>>.el-table th {text-align: center;}
    .clear-search-str{cursor: pointer;}
</style>
