<template>
      <modal
            name="test-manager"
            ref="modal"
            class="w-modal modal-tabs"
            :click-to-close="false"
            @opened="_onOpenModal"
            :resizable="true"
            :width="800"
            :height="600"
            :min-width="800"
            :min-height="600">

            <div class="modal-header">
                  <h4>test manager</h4>
                  <a class="close-modal-btn" role="button"
                     @click="_onHidden"><i class="el-icon-error"></i></a>
            </div>
      </modal>
</template>


<script>

      module.exports = {

            data: function () {
                  return {
                        opener:null
                  }
            },


            methods: {

                  show: function () {
                        this.$modal.show("test-manager");
                  },

	            setOpener:function(opener){
                  	this.opener = opener;
                        console.log("@@ modal opener ", opener)
                  },

                  /////////////////////////////////





	            /////////////////////////////////
                  _onOpenModal:function(){
                        console.log("onOpenModal");
                  },
                  _onHidden: function () {
                  	// 키보드 활성화 처리를 위해 반드시 이벤트 발생해야함.
	                  this.$emit("closed");
	                  this.$modal.hide("test-manager");
                  },

                  _onOk: function () {


                       this._hide();
                  },


            }
      }
</script>
<style scoped>
      [data-popupname=renobit-test-manager] {
            display: flex;
            flex-direction: column;
            padding: 16px 24px 20px 24px;
            height: 100%;
      }

</style>
