.pdu-preview-component > .pdu-wrap {
      background: #a2a2a2;
      padding: 10px;
      font-size: 9px;
      height: 100%;
      overflow: auto;
}

.pdu-preview-component > .pdu-wrap > .item-wrap {
      display: flex;
      justify-content: space-between;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-item {
      width: 100%;
      height: 25px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #6b6b6b;
      overflow: hidden;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-partition {
      width: 20px;
      background-color: #a2a2a2;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-item.active {
      background-color: #519dff;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-item > .mount-item-content {
      color: #fff;
      flex: 1;
      text-align: center;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      background: #363636;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-item > .mount-item-index {
      background: #232222;
      color: #fff;
      text-align: center;
      width: 20px;
      height: 100%;
      line-height: 24px;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-item .mounted-label {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 24px;
      line-height: 24px;
      cursor: pointer;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-item .mounted {
      background-color: #555555;
}

.pdu-preview-component > .pdu-wrap > .item-wrap > .mount-item .active {
      background-color: #519dff;
}
