/*
verticaltal bar Center Balloon
*/
.vertical-bar-center-balloon {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.vertical-bar-center-balloon.container {
    /*display: block;*/
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #3399FF;
}

.vertical-bar-center-balloon .barContainer {
    display: flex;

    width: 60%;
    height: 100%;
    margin-left: 20%;
    background: #FFF;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 4px, #fff 5px, #fff 6px);
    align-items: flex-end;
}

.vertical-bar-center-balloon .bar {
    width: 100%;
    min-height: 0px;
    height: 30%;
    background: #3399FF;
}

.vertical-bar-center-balloon .label {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 0;
    width: 80%;
    min-width: 50px;
    max-width: 70px;
}

.vertical-bar-center-balloon .labelBody {
    display: block;
    width: 100%;
    height: 90%;
    white-space: nowrap; /*min-width:120px;*/
    background: #3399FF;
    border-radius: 100px;

    left: -50%;
    position: relative;
}

.vertical-bar-center-balloon .labelTxt {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #FFF;;
}

.vertical-bar-center-balloon .labelArrow {
    width: 10px;
    height: 10px;
    background: #3399FF;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -8px;

    left: -5px;
    display: block;
    position: relative;
}


