

/*************** 데이터 그리드 스타일 ***************/

.wv-grid { position:relative; overflow:hidden; }
.wv-grid .grid-header { background-color:#293440; }
.wv-grid .grid-row.selected, .wv-grid .grid-row:hover{ background-color:#52a0ff; }

.wv-grid.disabled .grid-row:hover { background-color:transparent; }
/*.wv-grid.disabled { pointer-events:none; }*/

.wv-grid .grid-body { background-color:#2c3e5c; }

.wv-grid .content-container { width:100%; overflow:hidden; }

.wv-grid .grid-header-cell { text-align:left; min-width:30px; color:#e2e2e2; }
.wv-grid .grid-cell {
      color:#d2d8e2;
      border:1px solid #1a1a1a;
      padding:4px 6px;
      margin:0;
      box-sizing:border-box;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.wv-grid table {
      border-collapse:collapse;
      border-spacing:0;
      margin:0;
      table-layout:fixed;
}

.wv-grid tbody { box-sizing:border-box; }


.wv-grid .grid-header-cell .column-indicators{ float:right; white-space:nowrap; }
.wv-grid .grid-header-cell .column-indicators > i.sort-none{ display:none; }
.wv-grid .grid-header-cell .column-indicators > i.sort-up { margin-top: 50%; }



/* 라벨에 말줄임표 표현 */
.wv-grid .grid-cell .text-content {
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
}

.wv-grid .grid-body .grid-row{
      display:block;
      position:relative;
      overflow:hidden;
      cursor:pointer;
}





/*************** SIMPLE INNER SCROLLBAR ***************/

.wv-grid .scroll-element,
.wv-grid .scroll-element div
{
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
}

.wv-grid .scroll-element div {
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
}

.wv-grid .scroll-element.scroll-x {
      bottom: 2px;
      height: 8px;
      left: 0;
      width: 100%;
}

.wv-grid .scroll-element.scroll-y {
      height: 100%;
      right: 2px;
      top: 0;
      width: 8px;
}

.wv-grid .scroll-element .scroll-element_outer {
      overflow: hidden;
}

.wv-grid .scroll-element .scroll-element_outer,
.wv-grid .scroll-element .scroll-element_track,
.wv-grid .scroll-element .scroll-bar {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
}

.wv-grid .scroll-element .scroll-element_track,
.wv-grid .scroll-element .scroll-bar {
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      opacity: 0.4;
}

.wv-grid .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.wv-grid .scroll-element .scroll-bar { background-color: #c2c2c2; }
.wv-grid .scroll-element:hover .scroll-bar { background-color: #919191; }
.wv-grid .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.wv-grid .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.wv-grid .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.wv-grid .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.wv-grid .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }






/* 패널 스타일 설정  */
.access-grid-panel {
      position:absolute;
      color: #519dff;
      min-width:200px;
      width:100%;
}

.access-grid-panel h5, .access-grid-panel h6{
      margin:0;
      padding:8px;
      font-size: 14px;
      font-weight: bold;
}

.access-grid-panel .label {
      border: 2px solid #3966b8;
      border-radius: 5px 16.5px 16.5px 16.5px;
      padding: 6px 12px;

      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
      box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

.access-grid-panel .contents-layer {
      background-color: rgba(8, 20, 39, 0.8);
}

.access-grid-panel .panel-close-tab {
      width: 30px;
      height: 53px;
      margin-top: 9px;
      position: absolute;
      left: -15px;
      top: 0px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-image: linear-gradient(to left, rgb(0, 0, 0) 40%, rgba(84, 94, 113, 0.4));
      z-index: -1;

}

.access-grid-panel .close-tab-icon{
      display:inline-block;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-left: 5px solid #4582d5;
      border-bottom: 4px solid transparent;
      margin-left: -15px;
}


.access-grid-area{ width:100%; height:200px; }
.history-grid-area{ width:100%; height:300px; }

.history-grid-area .grid-row{ cursor:default !important; }



/* 상태 아이콘 스타일 */
.grid-cell-severity .normal   { background-color: #3ca0c5; }
.grid-cell-severity .minor    { background-color: #e7c33b; }
.grid-cell-severity .major    { background-color: #cd821d; }
.grid-cell-severity .warning  { background-color: #40bf56; }
.grid-cell-severity .critical { background-color: #c73f45; }

.grid-cell-severity .severity { border-radius: 30px; width: 21px; height: 20px; font-size: 11px; line-height: 20px; display:inline-block; }

.grid-cell-severity { text-align:center; }
.grid-header-cell-severity { text-align:center; }

.btn-cctv {
      background-repeat: no-repeat;
      background-position: left center;
      height:20px;
      cursor: pointer;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AwQAg8jaQKybwAAAlRJREFUOMvtk11IU2EYx//v2ZltznSG2WzFLFQWhRuSpBakF5V9gEVfmFd9EilStILuDMuwq4igbsJIumguVAgySc0aqGwZSCXbYoVexJxr6dmXZ+e8bzdp03LYRVf1u3p4ePnxf//wAP8cZHaodjjPEoUiBeznbmkwNt7b63h9yTIAAPzsWptf0Ew4Lh0A+9NQEZ/vCoD5QgBs6pP3ySNT4WUA8hJlgdpQRJBnZuY8cwMVRW9q9iqzQq1WytHo18Q6FmNfe0c5oxRiKBz5pcOShoYSU119O69S6QjHLaE5BlCKiN9v76jcaQm63UNYmOJA94sTOaWl9/vqag/63w5PghAGAFI4LBNOQXi1imMAxOlpeev1prLc3Xuu3s3M0CQ6EjsExytmAEAKhaYmR0bGAIiH+vqrMo3GI1QUBU+b9fYry0UPgLg6K8vIGKMLk8/7W1wQBDCG7OLiFQDkw3b7juyiolujra33Au/fDW08ecr246mo0a/JpaI4mVTosdk+gjF5bUXFNgAk3bCu3Od0NqXpV2sdN5qeSrGYu6zx2mYAVKPTHY/4fI6kwtHWhx+igcBjbX7B6XSDYTmAZVH/xLeummPPvwwMCIRAUKalqY8ODp7jlEr9eG/Ps6RCAGhZn1tD4/HP1c7hHkVKyoZ4OBwFIFBJCjLKIoZdlVVZmwobgy7Xg/4L51sWPb1EVprNxv1d3Z1KjaaASVJIisVchCOMV6lNIISfGH5zx1a+vT7pLf+Ovda2Mxl5eVv41NQcUEZjweCYt7PjpfNmsxX/+Wt8B77n9FrdUzQqAAAAAElFTkSuQmCC);
}

.ui-datepicker th{
      padding:0.7em 0em;
}

.date-area input{
      width:100px;
}

.date-area img{
      height:28px;
      vertical-align:bottom;
}

.user-filter-area {
      text-align:center;
      border:1px solid #719cff;
      border-radius:8px;
}

.user-filter-area input[type='radio']{
      cursor: pointer;
}



.user-filter-area input{
      margin-right:0 !important;
}

.access-grid-panel .search-area {
      padding-right: 0;
}
.access-grid-panel .search-area input{
      width:100px;
}

.access-grid-panel .search-layer{
      background-color: rgba(8, 20, 39, 0.8);
}

.access-grid-panel .search-layer fieldset{
      padding:4px;
      margin:0;
}

.access-grid-panel .search-layer button{
      display:inline-block;
      margin:0;
      padding:0;
      border:none;
      vertical-align:middle;
      background-color:transparent;
      margin-right:6px;
      height:22px;
      cursor: pointer;
}

.access-grid-panel .search-layer button:disabled{
      cursor: default;
}

.access-grid-panel .search-cell{
      display:inline-block;
      height:30px;
      line-height:30px;
      padding: 0 8px;
      box-sizing:border-box;
      vertical-align:middle;
}
.access-grid-panel .search-cell input{ height:26px; padding:0 4px; }
.access-grid-panel .search-cell input, .access-grid-panel .search-cell label{
      vertical-align:middle;
      margin-right: 6px;
}


.ui-tooltip{
      z-index:60000;
      background-color: #1c1c1c;
      color:#ffffff;
      border-width:0 !important;
}
