<template>
      <hsc-menu-style-white>
            <!-- 바인딩 처리용 화면에서는 보이지 않음.
            <div v-if="isZeroPage==true" hidden>
                {{isZeroPage==true ? "TRUE" : "FALSE"}}
            </div>
            @click.native="onNativeClickMenuItem($event)"
            -->

            <hsc-menu-bar style="border-radius: 0 0 4pt 0;">
                  <hsc-menu-bar-item v-for="item in menuItems" v-if="item.children.length"
                                     v-bind:label="$t('menu.' + item.key)" :key="item.label">
                        <main-menu-item :model="item" @click="onClickMenuItem">
                        </main-menu-item>
                  </hsc-menu-bar-item>
            </hsc-menu-bar>
      </hsc-menu-style-white>
</template>

<script lang="ts">
      import Vue, {VNode} from "vue"
      import Component from "vue-class-component"
      import {Menuitem, Separator} from "@hscmap/vue-menu";
      import MainMenubarMediator from "./MainMenubarMediator";
      import {POPUP} from "../../../../wemb/wv/managers/WindowsManager";
      import {WORK_LAYERS} from "../../../../wemb/wv/layer/Layer";
      import {LayerVisibleVO} from "../../../model/vo/ValueObjects";
      import EditorStatic from "../../../controller/editor/EditorStatic";
      import LayerToolbarMediator from "../layerToolbar/LayerToolbarMediator";
      import ConfigManager from "../../../../wemb/wv/managers/ConfigManager";
      import CommonStatic from "../../../controller/common/CommonStatic";


      @Component
      export default class MainMenubar extends Vue {
            public static readonly EVENT_CUSTOM_MAIN_MENU = "event/customMainMenu";
            public static readonly EVENT_GOTO_VIEWER = "event/goToViewer";

            public menuItems = [];
            public menuItemsMap: Map<any, any> = new Map();
            public contextPath = "/renobit";

            mounted() {
                  console.log("step 01, mounted(), MainMenubar");
                  window.wemb.viewComponentMap.set(MainMenubarMediator.NAME, this);
                  this.contextPath = ConfigManager.getInstance().context;
            }

            public startMainMenubar(menuItems: Array<any>) {
                  this.menuItems = menuItems;
                  this._createMenuMap();
            }


            // 메뉴를 처리하기 쉽게 메뉴 아이템을 관리하는 맵 생성
            private _createMenuMap() {
                  this.menuItems.forEach((item) => {
                        this._createMenuItemMap(item);
                  })
            }

            private _createMenuItemMap(item) {
                  var msg = this.$i18n.messages.wv;
                  if (item.label == "__separator__")
                        return;

                  if (item.hasOwnProperty("command")) {
                        if (item.command == "CMD_SHOW_MODAL") {
                              item.param.fileName = this.contextPath + item.param.fileName;
                        } else if (item.command == "CMD_OPEN_POPUP") {
                              item.param.URL = this.contextPath + item.param.URL;
                        }
                        this.menuItemsMap.set(item.command, item);
                  }

                  if (item.hasOwnProperty("children") == true) {
                        item.children.forEach((subItem) => {
                              subItem.label = msg.menu[subItem.key] || subItem.label;
                              this._createMenuItemMap(subItem);
                        })
                  }

            }


            ////////////////////
            private _enableMenuItem(command, value) {
                  this._updateMenuItemProperty(command, "disabled", !value);
            }

            private _checkedMenuItem(command, value) {
                  this._updateMenuItemProperty(command, "checked", value);
            }


            // _enableMenuItem(), _checkedMenuItem() 에서 사용
            private _updateMenuItemProperty(command, property, value) {

                  if (this.menuItemsMap.has(command)) {
                        let target = this.menuItemsMap.get(command);
                        target[property] = value;
                  }
            }


            //////////////////////////////////////////////////////////////////////////////

            public onClickMenuItem({command, label, param}) {
                  var changeCmd = this.convertCommand(command);
                  console.log("COMMAND : ", command);
                  console.log("CHANGE COMMAND : ", changeCmd);
                  console.log(EditorStatic.hasOwnProperty(changeCmd));
                  console.log(LayerToolbarMediator.hasOwnProperty(changeCmd));
                  if (EditorStatic.hasOwnProperty(changeCmd)) {

                        if (command == MENU_ITEM_COMMANDS.CMD_GOTO_VIEWER_BY_NAME) {
                              this.$emit(MainMenubar.EVENT_GOTO_VIEWER, command, param);
                        } else {
                              this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic[changeCmd], param);
                        }

                  } else if (LayerToolbarMediator.hasOwnProperty(changeCmd)) {
                        let target = this.menuItemsMap.get(command);
                        console.log(this.menuItemsMap);
                        param.visible = !target.checked;
                        this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, LayerToolbarMediator[changeCmd], param);
                  } else {
                        // this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, changeCmd, param);
                        switch (changeCmd) {
                              case MENU_ITEM_COMMANDS.CMD_IMPORT_PAGE:
                                    // event.stopPropagation();
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_IMPORT_PAGE);
                                    break;
                              case MENU_ITEM_COMMANDS.CMD_IMPORT_PAGES:
                                    // event.stopPropagation();
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_IMPORT_PAGES);
                                    break;
                              case MENU_ITEM_COMMANDS.CMD_IMPORT_RESOURCES:
                                    // event.stopPropagation();
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_IMPORT_RESOURCES);
                                    break;

                              case MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_DATASET_MANAGER:
                                    // event.stopPropagation();
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_SHOW_DATATSET_MANAGER);
                                    break;

                              case MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_SCRIPT_EDITOR:
                                    // event.stopPropagation();
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_SHOW_WSCRIPT_EDITOR);
                                    break;
                              case MENU_ITEM_COMMANDS.CMD_OPEN_POPUP:
                                    // event.stopPropagation();
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_OPEN_POPUP);
                                    break;
                              case MENU_ITEM_COMMANDS.CMD_ACTIVE_FPS:
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, CommonStatic.CMD_ACTIVE_FPS);
                                    break;                              
                              case MENU_ITEM_COMMANDS.CMD_PROJECT_BACKUP:
                                    // event.stopPropagation();
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_OPEN_POPUP);
                                    break;
                              case MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_CODE_COMPILER:
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_OPEN_POPUP, 'codeCompiler');
                                    break;
                              case MENU_ITEM_COMMANDS.ACTION_MANUAL_SHOW:
                                    this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_SHOW_MANUAL, '/manual/index.html');
                                    break;
                        }
                  }
            }

            // 커멘드 컨버터 ( align, layer 변경, layer visible, arrange 에서 사용 )
            // 추후 변경 예정,
            private convertCommand(command) {

                  var convertCommand = command;

                  switch (command) {
                        case MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_MASTER_MODE:
                        case MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_2D_MODE:
                        case MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_3D_MODE:
                              convertCommand = MENU_ITEM_COMMANDS.CMD_CHANGE_ACTIVE_LAYER;
                              break;

                        case MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_MASTER_AREA:
                        case MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_2D_AREA:
                        case MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_3D_AREA:
                              convertCommand = MENU_ITEM_COMMANDS.NOTI_UPDATE_LAYER_VISIBLE;
                              break;

                        case MENU_ITEM_COMMANDS.ALIGN_LEFT:
                        case MENU_ITEM_COMMANDS.ALIGN_CENTER:
                        case MENU_ITEM_COMMANDS.ALIGN_RIGHT:
                        case MENU_ITEM_COMMANDS.ALIGN_TOP:
                        case MENU_ITEM_COMMANDS.ALIGN_MIDDLE:
                        case MENU_ITEM_COMMANDS.ALIGN_BOTTOM:
                              convertCommand = MENU_ITEM_COMMANDS.CMD_ALIGN_SELECTED_COM_INSTANCE;
                              break;

                        case MENU_ITEM_COMMANDS.MATCH_HEIGHT:
                        case MENU_ITEM_COMMANDS.MATCH_WIDTH:
                              convertCommand = MENU_ITEM_COMMANDS.CMD_SIZE_SELECTED_COM_INSTANCE;
                              break;

                        case MENU_ITEM_COMMANDS.ARRANGE_FRONT:
                        case MENU_ITEM_COMMANDS.ARRANGE_FORWARD:
                        case MENU_ITEM_COMMANDS.ARRANGE_BACK:
                        case MENU_ITEM_COMMANDS.ARRANGE_BACKWARD:
                              convertCommand = MENU_ITEM_COMMANDS.CMD_ARRANGE_SELECTED_COM_INSTANCE;
                              break;
                  }

                  return convertCommand;

            }

            public onNativeClickMenuItem(event, item) {
                  /*EditorStatic.CMD_SHOW_MULTILINGUAL_MANAGER
                  ACTION_MAIN_IMPORT_PAGE의 경우 파일을 브라우저를 통해 열어야 하기 때문에
                  vue이벤트가 아닌 native 이벤트를 이용해야함.
                  */
                  if (!event.command) {
                        return;
                  }

                  console.log(event);
                  switch (event.command) {
                        case MENU_ITEM_COMMANDS.CMD_IMPORT_PAGE:
                              // event.stopPropagation();
                              this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_IMPORT_PAGE);
                              break;
                        case MENU_ITEM_COMMANDS.CMD_IMPORT_PAGES:
                              // event.stopPropagation();
                              this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_IMPORT_PAGES);
                              break;
                        case MENU_ITEM_COMMANDS.CMD_IMPORT_RESOURCES:
                              // event.stopPropagation();
                              this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_IMPORT_RESOURCES);
                              break;

                        case MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_DATASET_MANAGER:
                              // event.stopPropagation();
                              this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_SHOW_DATATSET_MANAGER);
                              break;

                        case MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_SCRIPT_EDITOR:
                              // event.stopPropagation();
                              this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_SHOW_WSCRIPT_EDITOR);
                              break;
                        case MENU_ITEM_COMMANDS.CMD_OPEN_POPUP:
                              // event.stopPropagation();
                              this.$emit(MainMenubar.EVENT_CUSTOM_MAIN_MENU, EditorStatic.CMD_OPEN_POPUP);
                              break;


                  }
            }

            //////////////////////////////////////////////////////////////////////////////


            //////////////////////////////////////////////////////////////////////////////
            public noti_closedPage() {
                  this._updatePageState(false);
                  this._updateWorkLayer(false);
            }

            public noti_openPage() {
                  this._updatePageState(true);
                  this._updateWorkLayer(true);
            }


            public noti_changeModified(modified: boolean) {
                  this._updateEditModifyState(modified);

            }


            public noti_updateSelectedInfo(list: Array<any>) {
                  this._updateSelectedInstanceLength(list);
            }


            public noti_changeActiveLayer(layerName: WORK_LAYERS) {
                  switch (layerName) {
                        case WORK_LAYERS.MASTER_LAYER :
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_MASTER_MODE, true);
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_2D_MODE, false);
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_3D_MODE, false);
                              break;
                        case WORK_LAYERS.TWO_LAYER :
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_MASTER_MODE, false);
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_2D_MODE, true);
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_3D_MODE, false);
                              break;
                        case WORK_LAYERS.THREE_LAYER :
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_MASTER_MODE, false);
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_2D_MODE, false);
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_3D_MODE, true);
                              break;
                  }

                  this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_MASTER_AREA, true);
                  this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_2D_AREA, true);
                  this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_3D_AREA, true);
            }


            public noti_updateLayerVisible(layerVO: LayerVisibleVO) {
                  switch (layerVO.layerName) {
                        case WORK_LAYERS.MASTER_LAYER :
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_MASTER_AREA, layerVO.visible);

                              break;
                        case WORK_LAYERS.TWO_LAYER :
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_2D_AREA, layerVO.visible);
                              break;
                        case WORK_LAYERS.THREE_LAYER :
                              this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_3D_AREA, layerVO.visible);
                              break;
                  }
            }

            public noti_updateCopyInfo(list: Array<any>) {
                  this._updateCopyInstanceInfoList(list);
            }


            /*
            페이지 open/closed 상태가 변경 될때
             */
            private _updatePageState(openState: boolean) {


                  if (openState) {
                        // 수정이 되면 활성화
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_OPEN_PAGE_BY_ID, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_DELETE_PAGE_TREE_ITEMS, true);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SAVE_PAGE, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_SAVE_AS_PAGE_MODAL, true);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_EXPORT_PAGE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_IMPORT_PAGE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_IMPORT_PAGES, true);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_EXPORT_RESOURCES_MANAGER, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_IMPORT_RESOURCES, true);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_PROJECT_RESTORE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_PROJECT_BACKUP, true);



                        this._enableMenuItem(MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_DATASET_MANAGER, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_SCRIPT_EDITOR, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_RESOURCE_MANAGER, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_MENUSET_MANAGER, true);


                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_GOTO_VIEWER_BY_NAME, true);


                  } else {
                        // 페이지가 없는 경우 OPEN 메뉴 닫기
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_OPEN_PAGE_BY_ID, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_DELETE_PAGE_TREE_ITEMS, false);
                        // 페이지가 없는 경우
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SAVE_PAGE, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_SAVE_AS_PAGE_MODAL, false);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_EXPORT_PAGE, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_IMPORT_PAGE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_IMPORT_PAGES, true);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_EXPORT_RESOURCES_MANAGER, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_IMPORT_RESOURCES, false);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_PROJECT_RESTORE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_PROJECT_BACKUP, false);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_DATASET_MANAGER, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ACTION_MAIN_SHOW_SCRIPT_EDITOR, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_RESOURCE_MANAGER, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SHOW_MENUSET_MANAGER, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_GOTO_VIEWER_BY_NAME, false);
                  }

            }


            /*
            편집 상태가 달라지는 경우
             */
            private _updateEditModifyState(editState: boolean) {
                  this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_SAVE_PAGE, editState);
            }

            /*
            선택 정보가 달라지는 경우
             */
            private _updateSelectedInstanceLength(list: Array<any>) {

                  // 정렬 버튼 처리
                  if (list.length >= 2) {
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_LEFT, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_CENTER, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_RIGHT, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_TOP, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_MIDDLE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_BOTTOM, true);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.MATCH_WIDTH, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.MATCH_HEIGHT, true);
                  } else {
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_LEFT, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_CENTER, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_RIGHT, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_TOP, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_MIDDLE, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ALIGN_BOTTOM, false);

                        this._enableMenuItem(MENU_ITEM_COMMANDS.MATCH_WIDTH, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.MATCH_HEIGHT, false);
                  }


                  if (list.length >= 1) {
                        // 순서 버튼 처리
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_FRONT, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_BACK, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_FORWARD, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_BACKWARD, true);


                        // 전체 선택 버튼 처리
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_ADD_ALL_SELECTED, true);

                        // 복사, 자르기, 삭제
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_CUT_SELECTED_COM_INSTANCE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_COPY_SELECTED_COM_INSTANCE, true);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_REMOVE_SELECTED_COM_INSTANCE, true);


                  } else {
                        // 순서 버튼 처리
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_FRONT, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_BACK, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_FORWARD, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.ARRANGE_BACKWARD, false);


                        // 전체 선택 버튼 처리
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_ADD_ALL_SELECTED, false);


                        // 복사, 자르기, 삭제
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_CUT_SELECTED_COM_INSTANCE, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_COPY_SELECTED_COM_INSTANCE, false);
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_REMOVE_SELECTED_COM_INSTANCE, false);
                  }
            }


            // 클립보드에 복사한 내용에 따라 활성화 비활성화 처리
            private _updateCopyInstanceInfoList(list: Array<any>) {
                  if (list.length > 0) {
                        // 붙여넣기
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_PASTE_COM_INSTANCE, true);

                  } else {

                        // 붙여넣기
                        this._enableMenuItem(MENU_ITEM_COMMANDS.CMD_PASTE_COM_INSTANCE, false);
                  }
            }

            private _updateWorkLayer(active) {
                  // 복사, 자르기, 삭제
                  this._enableMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_MASTER_MODE, active);
                  this._enableMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_2D_MODE, active);
                  this._enableMenuItem(MENU_ITEM_COMMANDS.CHANGE_EDIT_MODE_TO_3D_MODE, active);


                  this._enableMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_MASTER_AREA, active);
                  this._enableMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_2D_AREA, active);
                  this._enableMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_3D_AREA, active);

                  this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_MASTER_AREA, active);
                  this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_2D_AREA, active);
                  this._checkedMenuItem(MENU_ITEM_COMMANDS.SHOW_EDIT_AREA_TO_3D_AREA, active);
            }

      }


      //////////////////////////////////////
      // 메뉴 생성 처리
      function menuitem(h, entry, root) {

            if (entry.hasOwnProperty("show") == true && entry.show == false) {
                  return;
            }

            if (entry.label == "__separator__") {
                  return h(Separator, {});

            }

            if (entry.hasOwnProperty("children") == false) {
                  entry.children = [];
            }
            return Object.keys(entry.children).length > 0 ?
                  h(
                        Menuitem,
                        {
                              props: {label: entry.label},
                              attrs: {"data-label": entry.label, id: "__" + entry.label}
                        },
                        Object.keys(entry.children).map(name => menuitem(h, entry.children[name], root))
                  ) : h(
                        Menuitem,
                        {
                              //props: { label: entry.label, disabled:entry.disabled, "data-label":entry.label, checked:},
                              props: createMenuItemProps(entry),
                              attrs: {"data-label": entry.label, id: "__" + entry.label, "data-command": entry.command},
                              on: {
                                    click(event) {
                                          root.$emit("click", entry);

                                    }
                              },
                              nativeOn: {
                                    click(event) {
                                          // 코멘드 속성을 추가로 해서 이벤트 발생
                                          event["command"] = entry.command;
                                    }
                              }
                        }
                  )
      }


      function createMenuItemProps(menuItem) {
            let props = {
                  label: "",
                  disabled: false,
                  checked: false
            };

            props.label = menuItem.label;
            props["data-label"] = menuItem.label;

            props.disabled = menuItem.disabled;
            if (menuItem.hasOwnProperty("checked")) {
                  props.checked = menuItem.checked;
            }

            /*if (menuItem.hasOwnProperty("keybind")) {
                props["keybind"]=menuItem.keybind;
            }*/

            return props;
      }

      Vue.component("main-menu-item", {
            props: {
                  "model": {
                        default: {}
                  }
            },
            render: function (h): VNode {
                  if (this.model.hasOwnProperty("children") == false) {
                        return h("");
                  }


                  return h('div', Object.keys(this.model.children).map(k => {
                              return menuitem(h, this.model.children[k], this)
                        })
                  )

            }
      });

      const MENU_ITEM_COMMANDS = {
            CMD_SHOW_NEW_PAGE_MODAL: "CMD_SHOW_NEW_PAGE_MODAL",
            CMD_OPEN_PAGE_BY_ID: "CMD_OPEN_PAGE_BY_ID",
            CMD_DELETE_PAGE_TREE_ITEMS: "CMD_DELETE_PAGE_TREE_ITEMS",
            CMD_SAVE_PAGE: "CMD_SAVE_PAGE",
            CMD_SHOW_SAVE_AS_PAGE_MODAL: "CMD_SHOW_SAVE_AS_PAGE_MODAL",

            CMD_EXPORT_PAGE: "CMD_EXPORT_PAGE",
            CMD_IMPORT_PAGE: "CMD_IMPORT_PAGE",
            CMD_IMPORT_PAGES: "CMD_IMPORT_PAGES",

            CMD_SHOW_EXPORT_RESOURCES_MANAGER: "CMD_SHOW_EXPORT_RESOURCES_MANAGER",
            CMD_IMPORT_RESOURCES: "CMD_IMPORT_RESOURCES",

            CMD_PROJECT_BACKUP: "CMD_PROJECT_BACKUP",
            CMD_PROJECT_RESTORE: "CMD_PROJECT_RESTORE",

            CMD_GOTO_LOGOUT: "CMD_GOTO_LOGOUT",

            CMD_CHANGE_ACTIVE_LAYER: "CMD_CHANGE_ACTIVE_LAYER",
            CHANGE_EDIT_MODE_TO_MASTER_MODE: "CHANGE_EDIT_MODE_TO_MASTER_MODE",
            CHANGE_EDIT_MODE_TO_2D_MODE: "CHANGE_EDIT_MODE_TO_2D_MODE",
            CHANGE_EDIT_MODE_TO_3D_MODE: "CHANGE_EDIT_MODE_TO_3D_MODE",

            NOTI_UPDATE_LAYER_VISIBLE: "NOTI_UPDATE_LAYER_VISIBLE",
            SHOW_EDIT_AREA_TO_MASTER_AREA: "SHOW_EDIT_AREA_TO_MASTER_AREA",
            SHOW_EDIT_AREA_TO_2D_AREA: "SHOW_EDIT_AREA_TO_2D_AREA",
            SHOW_EDIT_AREA_TO_3D_AREA: "SHOW_EDIT_AREA_TO_3D_AREA",


            CMD_ALIGN_SELECTED_COM_INSTANCE: "CMD_ALIGN_SELECTED_COM_INSTANCE",
            ALIGN_LEFT: "ALIGN_LEFT",
            ALIGN_CENTER: "ALIGN_CENTER",
            ALIGN_RIGHT: "ALIGN_RIGHT",
            ALIGN_TOP: "ALIGN_TOP",
            ALIGN_MIDDLE: "ALIGN_MIDDLE",
            ALIGN_BOTTOM: "ALIGN_BOTTOM",

            CMD_SIZE_SELECTED_COM_INSTANCE: "CMD_SIZE_SELECTED_COM_INSTANCE",
            MATCH_WIDTH: "MATCH_WIDTH",
            MATCH_HEIGHT: "MATCH_HEIGHT",

            CMD_ARRANGE_SELECTED_COM_INSTANCE: "CMD_ARRANGE_SELECTED_COM_INSTANCE",
            ARRANGE_FRONT: "ARRANGE_FRONT",
            ARRANGE_BACK: "ARRANGE_BACK",
            ARRANGE_FORWARD: "ARRANGE_FORWARD",
            ARRANGE_BACKWARD: "ARRANGE_BACKWARD",

            CMD_ADD_ALL_SELECTED: "CMD_ADD_ALL_SELECTED",


            CMD_COPY_SELECTED_COM_INSTANCE: "CMD_COPY_SELECTED_COM_INSTANCE",
            CMD_CUT_SELECTED_COM_INSTANCE: "CMD_CUT_SELECTED_COM_INSTANCE",
            CMD_PASTE_COM_INSTANCE: "CMD_PASTE_COM_INSTANCE",
            CMD_REMOVE_SELECTED_COM_INSTANCE: "CMD_REMOVE_SELECTED_COM_INSTANCE",


            ACTION_MAIN_SHOW_DATASET_MANAGER: "ACTION_MAIN_SHOW_DATASET_MANAGER",
            CMD_SHOW_RESOURCE_MANAGER: "CMD_SHOW_RESOURCE_MANAGER",

            CMD_SHOW_MENUSET_MANAGER: "CMD_SHOW_MENUSET_MANAGER",

            ACTION_MAIN_SHOW_SCRIPT_EDITOR: "ACTION_MAIN_SHOW_SCRIPT_EDITOR",
            CMD_SHOW_PRODUCT_INFO: "CMD_SHOW_PRODUCT_INFO",
            CMD_SHOW_SHORTCUTS_INFO: "CMD_SHOW_SHORTCUTS_INFO",

            CMD_GOTO_VIEWER_BY_NAME: "CMD_GOTO_VIEWER_BY_NAME",

            CMD_OPEN_POPUP: "CMD_GOTO_VIEWER_BY_NAME",
            CMD_ACTIVE_FPS: "CMD_ACTIVE_FPS",
            ACTION_MAIN_SHOW_CODE_COMPILER: "ACTION_MAIN_SHOW_CODE_COMPILER",
            ACTION_MANUAL_SHOW: "ACTION_MANUAL_SHOW"
      };


</script>

<style scoped>


</style>
