.StackedColComponent.editor {
    background-color: rgba(255, 255, 255, 0.6) !important;
    border: 1px dashed gray;
    background-image: url(./empty_preview.png);
    background-repeat: no-repeat;
    background-position: center center;
}