<template>
    <div class="basic-table">
        <el-tag 
            v-if="!columns"
            type="danger"
            size="mini">{{$t('common.setData')}}</el-tag>
        <el-tag 
            v-if="columns && !columns.length" 
            type=""
            size="mini">{{$t('common.noData')}}</el-tag>
        <div v-if="columns && columns.length">
            <table>
                <thead>
                    <th v-for="(column, index) in columns" :key="index">{{column}}</th>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in dataList" :key="index">
                        <td v-for="column in columns" :key="column">{{item[column]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script lang="ts">
    import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator';

    @Component({
		components: {}
	})
    export default class BasicTableComponent extends Vue {
        public dataList:Array<any> = [];
        public columns:Array<string> = [];

      
        setData(data:any){
            this.dataList = data.list;
            this.setColumns(data.keys);
        }
        
        setColumns(keys:Array<string>){
            if( keys ){
                this.columns = keys;
            }else if( this.dataList && this.dataList.length ){
                this.columns = Object.keys( this.dataList[0] );
            }else{
                this.columns = [];
            }
        }

        getData():any{
            return {
                list: this.dataList,
                keys: this.columns
            };
        }  
    };
</script>

<style scoped>
    .basic-table{ text-align: center;}
    .basic-table table{width: 100%;}
    .basic-table >>> .el-tag{margin: 10px 0;}
    .basic-table >>> .cell{text-align: center;}

    table th{white-space: nowrap; overflow: hidden; user-select: none;}
    table th, table td{border-bottom: 1px solid #e6ebf5; padding: 6px; border-right:  1px solid #e6ebf5;}
    table{ border: 1px solid #e6ebf5; }
    table thead{background-color:#fafafa; }
</style>



