<template>
    <modal
        id="dcim-asset-mapping-popup"
        name="dcim-asset-mapping-popup"
        class="w-modal modal-tabs"
        @opened="modalOpened"
        :click-to-close="false"
        :resizable="true"
        :width="1100"
        :height="647"
        :min-width="1100"
        :min-height="647">
        <div class="modal-header">
            <h4>Asset Mapping Manager</h4>
            <a class="close-modal-btn" role="button" @click="hide">
                <i class="el-icon-error"></i>
            </a>
        </div>
        <div class="modal-body" data-popup="dcim-asset-mapping-popup">
                <div class="field-wrap">
                     <el-select style="margin-right:5px;" v-model="type" size="small" class="asset-type-select" placeholder="AssetType" @change="handleTypeChange">
                        <el-option v-for="type in types" :key="type.id"
                            :label="type.name" :value="type.id"></el-option>
                    </el-select>
                    <el-select  size="small" v-model="search.field" placeholder="Fields" class="asset-field-select">
                        <el-option v-for="field in search_fields" :key="field.name"
                                        :label="field.label" :value="field.name"></el-option>
                    </el-select>
                    <el-input  size="small" placeholder="keyword" v-model="search.keyword" class="aseet-keword-input" @keyup.enter.native="handleSearchAsset">
                        <el-button  size="small" slot="append" style="vertical-align:middle;font-size:15px;" icon="el-icon-search" @click="handleSearchAsset"></el-button>
                    </el-input>
                </div>
                <el-table
                    ref="assetTable"
                    :data="asset_data"
                    @sort-change="handleDataSort">
                    <el-table-column label="" width="70">
                        <template slot-scope="scope">
                            <el-button type="success" size="small" @click="onClickAssetUpdate(scope.row)">Apply</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column
                        min-width="140"
                        v-for="field in common_fields" :key="field.name" :property="field.name" :label="field.label" sortable="custom">
                    </el-table-column>
                    <el-table-column
                        min-width="140"
                        v-for="field in type_fields" :key="field.name" :property="field.name" :label="field.label" sortable="custom">
                    </el-table-column>
                </el-table>
                <el-pagination
                    v-if="optionsResult && optionsResult.length"
                    style="margin-top:10px; text-align:center;"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage"
                    :page-size="page_size"
                    layout="total, prev, pager, next, jumper"
                    :total="total_count">
                </el-pagination>
            </div>
    </modal>
</template>
 <script>
function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }
/**
 * 후맵핑시 컴포넌트 프로퍼티 패널에서 접근하여 맵핑할 수 있는 자산 테이블을 보여주는 팝업
 * 기본적인 자산검색기능을 제공한다.
 * 컴포넌트 정보로 해당 자산 타입을 구해올 수 없어 전체 자산이 노출된다. 최초.. 컴포넌트 이름으로 이를 조회했으나..  ID로 고유값을 식별하면서.. 이를 가져올수 없게됨(동일 컴포넌트를 복사하여 id를 다르게하여 사용하는 케이스)
 *
 */
module.exports = {
    data: function data() {
        return {
            asset_type: "",
            search_fields: [],
            usePositionedFilter: true,
            componentInstance: null,
            isSwap: false,
            currentPage: 1,
            total_count: 0,
            page_size: 12,
            asset_data: [],
            types: [],
            type: '',
            common_fields: [],
            type_fields: [],
            assetsDataManager: null,
            optionsResult: [],
            sort: { field: "", state: "" },
            search: { field: "", keyword: "", onlyUnpositioned: true },
            UPDATE_TYPE: {
                TYPE: "type",
                SEARCH: "search",
                SORT: "sort"
            },
            componentInstanceName : null
        };
    },

    created: function created() {
        this.assetsDataManager = new AssetsDataManager(this.page_size);
        this.common_fields = wemb.dcimManager.assetManager.visibleFields.common;
        this.types = wemb.dcimManager.assetManager.assetTypes;
    },
    mounted: function mounted() {

    },


    methods: {

          /*
          수동맵핑은
          컴포넌트 drag&drop가 거의 동일하게 이루어짐
          차이점이라면? drag시 자산 정보를 저장한 후 drop시 저장한 자산 정보를
          컴포넌트에 맵핑하는 단계가 사라지고 직접 컴포넌트에 맵핑함.
          */
        onClickAssetUpdate: function onClickAssetUpdate(assetItem) {
            wemb.dcimManager.assetAllocationProxy.updateComponentAssetData(assetItem, wemb.mainPageComponent.getComInstanceByName(this.componentInstanceName));
            wemb.dcimManager.assetAllocationProxy.addAssetAssetAllocation(wemb.mainPageComponent.getComInstanceByName(this.componentInstanceName));
            this.hide();
        },

        getTypeFields: function getTypeFields(type) {
            return wemb.dcimManager.assetManager.getOnlyTypeFields(type, true);
        },

        setClosedCallback: function setClosedCallback() {},
        modalOpened: function modalOpened() {},


        setData: function setData(data) {

        },

        setOpener: function setOpener(componentInstance) {
            console.log("DCIM ASset Mapping Component Modal - setOpener");
            try {
                   var _types;
                    this.types = [{
                        id: '',
                        name: 'All'
                    }];

                  (_types = this.types).push.apply(_types, _toConsumableArray(wemb.dcimManager.assetManager.assetTypes));
                  this.componentInstanceName = componentInstance.name;
                  let comInstance = wemb.mainPageComponent.getComInstanceByName(this.componentInstanceName);
                  this.isSwap = comInstance.assetId ? true : false;
                  var componentName = comInstance.getGroupPropertyValue("info", "componentName");

                  var type = this.getAssetTypeByComponentName(componentName);

                  if(type){
                        this.asset_type = type;
                  }else{
                        this.asset_type = 'All';
                  }
                  this.types = [{id: '', name: this.asset_type}];

                  if(this.asset_type === 'All'){
                        this.updateAssets(wemb.dcimManager.assetManager.assets, window.wemb.dcimManager.assetManager.assetFlat);
                  }else{
                        var self= this;
                        var temp =  window.wemb.dcimManager.assetManager.assetFlat.filter(function(x){
                              return x.asset_type === self.asset_type;
                        });
                        this.updateAssets(wemb.dcimManager.assetManager.assets[this.asset_type], temp);
                  }
                  this.initData(this.types[0].id);
                  return true;
            }catch(error){
                  console.log("DCIMAssetMappingComponent.vue, error = ", error);
            }

            return false;
        },

        handleTypeChange:function(type){
            this.initData(type);
        },


        initData: function initData(type) {
            var _type_fields;
            this.type = type;
            this.clearSortOption();
            this.clearSearchOption();
            this.updateAssetsByOptions(this.UPDATE_TYPE.TYPE);
            var selected_type = this.types.find(function (d) {
                return d.id === type;
            });
            var typeFields = selected_type ? this.getTypeFields(selected_type.id) : [];
            this.type_fields.splice(0, this.type_fields.length);
            (_type_fields = this.type_fields).push.apply(_type_fields, _toConsumableArray(typeFields));

            var temp_common_fields = this.common_fields.filter(function(x) { return x.name !== 'asset_type' });
            this.search_fields = temp_common_fields.concat(this.type_fields);
        },

        getAssetTypeByComponentName: function getAssetTypeByComponentName(componentName) {
            return window.wemb.dcimManager.assetManager.getAssetTypeByAssetCompName(componentName);
        },
        show: function show() {
            this.$modal.show("dcim-asset-mapping-popup");
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
        },


        hide: function hide() {
            this.$modal.hide("dcim-asset-mapping-popup");
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
        },

        updateAssets: function updateAssets(typeSortAssets, flatAssets) {
            this.assetsDataManager.updateAssetsData(typeSortAssets, flatAssets);
            this.currentPage = 1;
            this.clearSearchOption();
            this.clearSortOption();
            this.updateAssetsByOptions(this.UPDATE_TYPE.TYPE);
        },
        handleDataSort: function handleDataSort(sort) {
            if (sort) {
                this.sort.field = sort.prop;
                this.sort.state = sort.order;
            } else {
                this.sort.field = '';
                this.sort.state = '';
            }

            this.updateAssetsByOptions(this.UPDATE_TYPE.SORT);
        },
        handleSearchAsset: function handleSearchAsset() {
            this.updateAssetsByOptions(this.UPDATE_TYPE.SEARCH);
        },
        clearSearchOption: function clearSearchOption() {
            this.search.field = this.common_fields[0].name;
            this.search.keyword = '';
        },
        clearSortOption: function clearSortOption() {
            this.sort.field = '';
            this.sort.state = '';
            if (this.$refs.assetTable) {
                this.$refs.assetTable.clearSort();
            }
        },
        handleCurrentChange: function handleCurrentChange(val) {
            this.changeCurrentPage(val);
        },
        changeCurrentPage: function changeCurrentPage(page) {
            var _asset_data;

            var pageData = this.assetsDataManager.getPaginationData(this.optionsResult, this.currentPage);
            this.asset_data.splice(0, this.asset_data.length);
            (_asset_data = this.asset_data).push.apply(_asset_data, _toConsumableArray(pageData.data));

            this.currentPage = Math.min(Math.max(page, 1), pageData.totalPage);
        },
        updateAssetsByOptions: function updateAssetsByOptions(type) {
            if (!type) {
                return;
            }
            //type = "type", "search", "sort"
            switch (type) {
                case this.UPDATE_TYPE.TYPE:
                    this.optionsResult = this.assetsDataManager.getDataByOptions(this.type);
                case this.UPDATE_TYPE.SEARCH:
                    this.optionsResult = this.assetsDataManager.getDataByOptions(this.type, { "search": this.search });
                    break;
                case this.UPDATE_TYPE.SORT:
                    this.optionsResult = this.assetsDataManager.getSortData(this.optionsResult, this.sort);
                    break;
            }

            this.total_count = this.optionsResult.length;
            this.changeCurrentPage(1);
        }
    }
};
</script>
<style>

.w-modal.modal-tabs [data-popup=dcim-asset-mapping-popup].modal-body {flex-direction: column;padding:24px;}
[data-popup=dcim-asset-mapping-popup] .field-wrap{ margin-bottom: 6px; display:flex;}
[data-popup=dcim-asset-mapping-popup] .field-wrap .asset-field-select{margin-right: 2px;width: 140px;}
[data-popup=dcim-asset-mapping-popup] .field-wrap .aseet-keword-input{width: 224px;}
[data-popup=dcim-asset-mapping-popup] .el-input-group__append{font-weight: bold;}
[data-popup=dcim-asset-mapping-popup] .el-table{display: flex;flex-direction: column;}
[data-popup=dcim-asset-mapping-popup] .el-table>.el-table__body-wrapper{flex:1;}
</style>
