<template>
      <modal
            class="w-modal"
            id="line-3d-component-popup"
            name="line-3d-component-popup"
            @opened="modalOpened"
            :click-to-close="false"
            :resizable="false"
            :draggable="true"
            :width="400"
            :height="500"
            :min-width="800"
            :min-height="600"
      >
            <div class="modal-header">
                  <h4>Line Connect Popup</h4>
                  <a class="close-modal-btn" role="button" @click="hide">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="modal-body">
                  <div class="wrap">
                        <div class="content-wrap">
                              <h3>to : {{target}}</h3>
                              <el-select class="flex" v-model="target" filterable placeholder="Select">
                              <el-option
                                    v-for="item in available_target"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                              </el-option>
                              </el-select>
                        </div>
                  </div>
                  <div class="btn-wrap">
                        <el-button class="bottom-btn" size="small" @click="hide">{{$t('common.cancel')}}</el-button>
                        <el-button class="bottom-btn" type="primary" size="small" @click="_onOk">{{$t('common.apply')}}</el-button>
                  </div>
            </div>
      </modal>
</template>
<script>
      "use strict";

      module.exports = {
            data: function data() {
                  return {
                        target: null,
                        target_before: null,
                        available_target: [],
                        index: 0,
                        compName: null
                  };
            },
            created: function created() {},
            mounted: function mounted() {},
            methods: {
                  setComponent: function setComponent(componentName, index) {
                        this.compName = componentName;
                        this.available_target = window.wemb.editorProxy.activeLayerInfo.instanceList.map(function (comInstance) {
                              if (comInstance.layerName === 'threeLayer' && comInstance.componentName !== 'Line3DComponent' && comInstance.componentName !== 'Path3DComponent' && comInstance.componentName !== 'StreamLine3DComponent' && comInstance.componentName !== 'StreamPath3DComponent' && comInstance.name !== componentName) {
                                    return {
                                          'label': comInstance.name,
                                          'value': comInstance.name
                                    };
                              } else {
                                    return null;
                              }
                        }).filter(function (data) {
                              return data !== null;
                        });
                        this.index = index;
                        this.handler_color_change('0xff0000', this.index);
                        this.$forceUpdate();
                  },
                  show: function show() {
                        this.$modal.show('line-3d-component-popup');
                  },
                  hide: function hide() {
                        var self = this;
                        var locale_msg = this.$i18n.messages.wv;
                        this.$confirm(locale_msg.common.confirmExitWindow, 'Confirm', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(function () {
                              self._onHidden();
                        }).catch(function () {});
                  },
                  _onHidden: function _onHidden() {
                        this.$modal.hide('line-3d-component-popup');
                        this.$emit("closed");
                        this.handler_color_change('0xffffff', this.index);
                  },
                  modalOpened: function modalOpened() {
                        this.init();
                  },
                  init: function init() {
                        this.isModified = false;
                  },
                  _onOk: function _onOk() {
                        var _this = this;

                        var locale_msg = this.$i18n.messages.wv;
                        var from_comp = window.wemb.editorProxy.activeLayerInfo.instanceList.filter(function (comp) {
                              return comp.name === _this.compName;
                        })[0];
                        var to_comp = window.wemb.editorProxy.activeLayerInfo.instanceList.filter(function (comp) {
                              return comp.name === _this.target;
                        })[0];

                        if (!to_comp.outlineElement) {
                              this.$message.error(locale_msg.common.notUseComponent);
                              return;
                        }

                        var list = Array.from(to_comp.connections.values());

                        if (list.find(function (item) {
                              return item === to_comp.name;
                        })) {
                              this.$message.error(locale_msg.common.duplicateLine);
                              return;
                        }

                        var targets = from_comp.getGroupPropertyValue('connection', 'targets');
                        if (!targets.hasOwnProperty(this.compName + '#$' + this.index)) targets[this.compName + '#$' + this.index] = this.target;
                        to_comp.setConnection(this.compName + '#$' + this.index, this.target);
                        to_comp.outlineElement.geometry.computeBoundingSphere();
                        from_comp.points[this.index].set(to_comp.appendElement.position.x, to_comp.appendElement.position.y, to_comp.appendElement.position.z).add(new THREE.Vector3(to_comp.outlineElement.geometry.boundingSphere.center.x, to_comp.outlineElement.geometry.boundingSphere.center.y, to_comp.outlineElement.geometry.boundingSphere.center.z));

                        from_comp._syncInputedPoints();

                        this.handler_color_change('0xffffff', this.index);
                        this.$message.success(locale_msg.common.successSave);
                  },
                  handler_color_change: function handler_color_change(color, index) {
                        var _this2 = this;

                        var comp = window.wemb.editorProxy.activeLayerInfo.instanceList.filter(function (comp) {
                              return comp.name === _this2.compName;
                        })[0];
                        var pointsOrder = comp._pointsOrder;
                        comp.appendElement.getObjectByName('local' + pointsOrder[index]).material.color.setHex(color);
                  }
            }
      };


</script>
<style scoped>
      .modal-body {
            flex-direction: column;
      }

      .wrap {
            height: 100%;
            width : 100%;
            display: flex;
            flex-direction: column;
      }

      .btn-wrap{margin: 16px 0 0 0;}
      .content-wrap{flex:1;overflow: auto;}

      .item-list li{
            display: flex;
            align-headers: center;
            margin-bottom: 8px;
      }

      .item-list li .el-input{
            margin: 0 6px;
      }
</style>




