.page-nav-comp-btn-wrap {
    display: flex;
}

.page-nav-comp-btn-wrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #c5c4be;
    font-size: 12px;
    overflow: hidden;
    margin-right: 4px;
    color: #c5c4be;
}

.page-nav-comp-btn-wrap a.active {
    border: 1px solid #c5c4be;
    background: #c5c4be;
    color: #333;
}

.page-nav-comp-btn-wrap a:last-child {
    margin-right: 0;
}