<template>
      <div class="prop-group">
            <h5 class="header">Resource</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">Default</span>
                        <el-checkbox v-model="resource.useDefault" @change="onChange('resource', 'useDefault', $event)"></el-checkbox>
                  </div>
                  <div class="d-flex row" v-if="!resource.useDefault">
                        <span class="label">custom</span><input readOnly class="flex" :value="getResourceValue()" />
                        <button class="icon-btn asset-open-btn" v-if="!getResourceValue()"
                                @click="openResourceManager()">Open
                        </button>
                        <button class="icon-btn cir-close-btn" v-if="getResourceValue()"
                                @click="removeBackgroundImage()">Delete
                        </button>
                  </div>
            </div>
      </div>
</template>

<script lang="ts">

      import CoreTemplate from "./CoreTemplate";

      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'

      @Component({
            components:{}
      })
      export default class AssetResourceTemplate extends CoreTemplate {

            get resource(){
                  return this.model.resource;
            }

            created(){}

            openResourceManager() {
                  window.wemb.$resourceManagerModal.show({type: "obj3d"}).then((result) => {
                        console.log(result);
                        this.resource.selectItem = result;
                        this.dispatchChangeEvent("resource", "selectItem", result);
                  }, (error) => {
                        console.log("error", error);
                  });
            }

            getResourceValue() {
                  let item:any = this.resource.selectItem;
                  if(item){
                        return item.name;
                  }
                  return "";
            }

            removeBackgroundImage() {
                  this.resource.selectItem = null;
                  this.dispatchChangeEvent("resource", "selectItem", "");
            }

      }

</script>

<style scoped>

</style>
