<template>
	<div class="prop-group">
		<h5 class="header">Background</h5>

		<div class="body">
                  <div class="d-flex row"  v-if="bg!=null">
                        <span class="label">Color</span>
                        <!-- lock 해제시 <button> .unlock-->
                        <color-picker v-model="bg" @change="onChangeColor"></color-picker>
                  </div>
		</div>
	</div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

	/*
	test11
	 */
	@Component({

	})
	export default class BackgroundTemplate extends CoreTemplate {
		public bg:string = "";
		created() {
			this.bg = this.model.style.backgroundColor;
		}



		onChangeColor(){
			this.dispatchChangeEvent("style", "backgroundColor", this.bg );
		}
	}
</script>
<style scoped>


</style>
