<template>
	<div class="prop-group">
		<h5 class="header">{{title}}</h5>
		<div class="body">
			<div class="d-flex row">
				<span class="label">Type</span>
				<el-select v-model="bgType" @change="onChangeBgType" class="select flex">
					<el-option value="solid"></el-option>
					<el-option value="gradient"></el-option>
					<el-option value="input" label="direct input"></el-option>
				</el-select>
			</div>
			<div class="d-flex row"  v-if="bgType=='solid'">
				<span class="label">Color</span>
				<!-- lock 해제시 <button> .unlock-->
				<color-picker v-model="bgColor" @change="onChangeColor"></color-picker>
			</div>
			<div class="d-flex row"  v-if="bgType=='gradient'">
                <span class="label">Gradient</span>
				<color-picker v-model="bgGradientColor1" style="margin-right:4px;" @change="onChangeGradientColor('color1')"></color-picker>
				<color-picker v-model="bgGradientColor2" @change="onChangeGradientColor('color2')"></color-picker>
				<div class="d-flex gradient-type-wrap">
					<span :class="{'active' : bgGradientDir == 'left'}" class="dir-btn left" @click="onChangeGradientDir('left')"><i class="icon"></i></span>
					<span :class="{'active' : bgGradientDir == 'top'}" class="dir-btn top" @click="onChangeGradientDir('top')"><i class="icon"></i></span>
					<span :class="{'active' : bgGradientDir == 'diagonal1'}" class="dir-btn diagonal1" @click="onChangeGradientDir('diagonal1')"><i class="icon"></i></span>
					<span :class="{'active' : bgGradientDir == 'diagonal2'}" class="dir-btn diagonal2" @click="onChangeGradientDir('diagonal2')"><i class="icon"></i></span>
					<span :class="{'active' : bgGradientDir == 'radial'}" class="dir-btn radial" @click="onChangeGradientDir('radial')"><i class="icon"></i></span>
				</div>
			</div>
			<div class="d-flex row"  v-if="bgType=='input'">
				<span class="label">Background</span>
				<el-input
					type="textarea"
					class="flex"
					min="0"
					:rows="2"
					v-model="bgText"
					@blur="onBlur"
					@focus="onFocus"
					@change="onChangeInput()"></el-input>
			</div>
		</div>
	</div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
    import CoreTemplate from "./CoreTemplate";

	/*
	test11
	 */
	@Component({

	})
	export default class BackgroundGradientTemplate extends CoreTemplate {
		public title: string = '';
		public bgType: string = 'solid';
		public bgGradientDir: string = '';
		public bgGradientColor1: string = '';
		public bgGradientColor2: string = '';
		
		public bgText:string = '';
		public bgColor:string='';//solid type
		public groupName: string = 'background';
		constructor(){
			super();
		}

		onBlur(event){
                  if(this.eventBus){
                        this.eventBus.$emit("inputBlur",{
                              target:event.target
                        })
                  }
		}


		onFocus(event){
                  if(this.eventBus){
                        this.eventBus.$emit("inputFocus",{
                              target:event.target
                        })
                  }
		}
		
		created() {			
			this.updatePropertyInfo();
		}

		updatePropertyInfo(){
			this.groupName = this.propertyInfo.owner;

			if(this.propertyInfo.label){
				this.title = this.propertyInfo.label;
			}

			let model = this.model[this.groupName];

			this.bgColor = model.color1;
			this.bgType = model.type;
			this.bgGradientDir = model.direction;
			this.bgGradientColor1 = model.color1;
			this.bgGradientColor2 = model.color2;

			this.bgText = model.text;
		}


		onChangeGradientDir(dir){
			this.bgGradientDir = dir;
			this.dispatchChangeEvent(this.groupName, "direction", this.bgGradientDir );
		}

		onChangeGradientColor(name){
			if(name == 'color1'){
				this.dispatchChangeEvent(this.groupName, 'color1', this.bgGradientColor1 );
			}else{
				this.dispatchChangeEvent(this.groupName, 'color2', this.bgGradientColor2 );
			}
		}

		onChangeColor(){
			this.dispatchChangeEvent(this.groupName, 'color1', this.bgColor );
		}

		onChangeBgType(){
			this.dispatchChangeEvent(this.groupName, "type", this.bgType );
		}

		onChangeInput(){
			this.bgText = this.bgText.trim();
			this.dispatchChangeEvent(this.groupName, "text", this.bgText );
		}
	}
</script>
<style scoped>
.gradient-type-wrap{
	margin-left: 10px;
}

.gradient-type-wrap>.dir-btn.active{
	border-width: 2px;
    border-color: #333;
}

.gradient-type-wrap>.dir-btn{
	margin-right: 2px;
	display: block;
	width: 24px;
   	height: 24px;
    border: 1px solid #999;
	overflow:  hidden;
	cursor: pointer;
}


.dir-btn>.icon{
	display: block;
	width: 100%;
   	height: 100%;
	background:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.top>.icon{
	background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.diagonal1>.icon{
	background:linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.diagonal2>.icon{
	background:linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.radial>.icon{
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}
</style>
