<template>
      <div class="prop-group">
            <h5 class="header">Border</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">Style</span>
                        <div class="flex d-flex">
                              <number-input min="0" class="border-size-input"
                                            v-model="borderSize"
                                            @change="onBorderNormal"
                                            :eventBus="eventBus"
                              > </number-input>
                              <el-select v-model="borderStyle" class="select flex" @change="onBorderNormal">
                                    <el-option value="none"></el-option>
                                    <el-option value="solid"></el-option>
                                    <el-option value="inset"></el-option>
                                    <el-option value="outset"></el-option>
                                    <el-option value="ridge"></el-option>
                                    <el-option value="groove"></el-option>
                                    <el-option value="double"></el-option>
                                    <el-option value="dotted"></el-option>
                                    <el-option value="dashed"></el-option>
                                    <el-option value="dotted"></el-option>
                                    <el-option value="hidden"></el-option>
                                    <el-option value="initial"></el-option>
                              </el-select>
                              <color-picker v-model="borderColor"  @change="onBorderNormal"></color-picker>
                        </div>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Radius</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="borderRadius"
                                      @change="onBorderRadius('radius')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">TL</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="topLeftRadius"
                                      @change="onBorderRadius('TL')"
                                      :eventBus="eventBus"
                        > </number-input>
                        <span class="label">TR</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="topRightRadius"
                                      @change="onBorderRadius('TR')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">BL</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="bottomLeftRadius"
                                      @change="onBorderRadius('BL')"
                                      :eventBus="eventBus"
                        > </number-input>
                        <span class="label">BR</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="bottomRightRadius"
                                      @change="onBorderRadius('BR')"
                                      :eventBus="eventBus"
                        > </number-input>                        
                  </div>
                  <div class="d-flex row preview-cont">
                        <div class="preview" :style="previewStyle"></div>
                  </div>
            </div>
      </div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

	@Component({
		components: {

		}
	})
      export default class BackgroundTemplate extends CoreTemplate {
	      public borderColor="";
            public borderStyle="";
            public borderSize=0;
            public previewStyle="";

            public borderRadius:number=0;
            public topLeftRadius:number=0;
            public topRightRadius:number=0;
            public bottomRightRadius:number=0;
            public bottomLeftRadius:number=0;
            


            private _createValues(){

                  let temp = this.style.border.split(" ");

                  this.borderColor = temp[2];
                  this.borderSize = parseInt(temp[0]);
                  if(isNaN(this.borderSize) ){
                        this.borderSize = 0;
                  }

                  this.borderStyle = temp[1];
                  
                  //this._createValues();
                  //this._updatePreviewStyle();
                  
                 
                  let radiusAry = this.style.borderRadius.toString().split('px');
                  this.borderRadius = radiusAry[0];

                  if( radiusAry.length < 4 ){
                        this.topLeftRadius = this.borderRadius;
                        this.topRightRadius = this.borderRadius;
                        this.bottomRightRadius = this.borderRadius;
                        this.bottomLeftRadius = this.borderRadius;
                  }else{
                        this.topLeftRadius = radiusAry[0].trim();
                        this.topRightRadius = radiusAry[1].trim();
                        this.bottomRightRadius = radiusAry[2].trim();
                        this.bottomLeftRadius = radiusAry[3].trim();
                  }
            }

            created() {
                  
            }

            updatePropertyInfo(){
                  this._createValues();
                  this._updatePreviewStyle();
            }

            _updatePreviewStyle(){
                  this.previewStyle = "border:" + this.borderStyle+" " + this.borderSize + "px " + this.borderColor + ";" + "border-radius:" + `${this.topLeftRadius}px ${this.topRightRadius}px ${this.bottomRightRadius}px ${this.bottomLeftRadius}px`;
            }

            _getBorderValue(){
                  let color = this.borderColor.toString().replace(/\s/gi, "");///set할시 " "을 기준으로 값을 구별하기 때문에 rgb(0, 0, 0) 와 같이 띄어쓰기를 허용하지 않음;

                  return `${this.borderSize}px ${this.borderStyle} ${color}`;
            }

            onBorderNormal(){
                  this._updatePreviewStyle();
                  this.dispatchChangeEvent("style", "border", this._getBorderValue());
            }

            onBorderRadius(type){
                  this._updatePreviewStyle();
                  if( type == 'radius' ){
                        this.topLeftRadius = this.borderRadius;
                        this.topRightRadius = this.borderRadius;
                        this.bottomRightRadius = this.borderRadius;
                        this.bottomLeftRadius = this.borderRadius;
                  }

                  let radius = `${this.topLeftRadius}px ${this.topRightRadius}px ${this.bottomRightRadius}px ${this.bottomLeftRadius}px`;
                  this.dispatchChangeEvent("style", "borderRadius", radius);
            }

      }
</script>
<style scoped>

      input.border-size-input {
            width: 57px !important;
            flex: none !important;
      }

      .select {
            margin: 0 6px;
      }

      .preview-cont {
            padding-top: 10px;
            justify-content: center;
      }

      .preview {
            width: 140px;
            height: 70px;
            background: #ddd;
            box-sizing: content-box;
      }

      .message{
            height: 26px;
            line-height: 26px;
      }
      .message > i {
            color: red;
            font-size: 15px;
      }
</style>
