<template>
      <div class="prop-group">
            <h5 class="header">{{title}}</h5>
            <div class="body">                 
                  <div class="d-flex row">
                        <span class="label">Radius</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="borderRadius"
                                      @change="onBorderRadius('radius')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">TL</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="topLeftRadius"
                                      @change="onBorderRadius('TL')"
                                      :eventBus="eventBus"
                        > </number-input>
                        <span class="label">TR</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="topRightRadius"
                                      @change="onBorderRadius('TR')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
                  <div class="d-flex row">                       
                        <span class="label">BL</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="bottomLeftRadius"
                                      @change="onBorderRadius('BL')"
                                      :eventBus="eventBus"
                        > </number-input>
                         <span class="label">BR</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="bottomRightRadius"
                                      @change="onBorderRadius('BR')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
            </div>
      </div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

	@Component({
		components: {

		}
	})
      export default class BorderRadiusTemplate extends CoreTemplate {
	      public title:string = 'Border Radius';
            public groupName: string = "";
            public propName: string = "";

            public borderRadius:number=0;
            public topLeftRadius:number=0;
            public topRightRadius:number=0;
            public bottomRightRadius:number=0;
            public bottomLeftRadius:number=0;


            created() {
                  this.updatePropertyInfo();
            }

            updatePropertyInfo(){
                  this.groupName = this.propertyInfo.owner;
                  this.propName = this.propertyInfo.name;

                  if(this.propertyInfo.label){
				this.title = this.propertyInfo.label;
			}

                  this._createValues();
            }

            private _createValues(){     
                  let radiusAry = this.model[this.groupName][this.propName].toString().split('px');
                  this.borderRadius = radiusAry[0];

                  if( radiusAry.length < 4 ){
                        this.topLeftRadius = this.borderRadius;
                        this.topRightRadius = this.borderRadius;
                        this.bottomRightRadius = this.borderRadius;
                        this.bottomLeftRadius = this.borderRadius;
                  }else{
                        this.topLeftRadius = radiusAry[0].trim();
                        this.topRightRadius = radiusAry[1].trim();
                        this.bottomRightRadius = radiusAry[2].trim();
                        this.bottomLeftRadius = radiusAry[3].trim();
                  }
            }


            onBorderRadius(type){
                  if( type == 'radius' ){
                        this.topLeftRadius = this.borderRadius;
                        this.topRightRadius = this.borderRadius;
                        this.bottomRightRadius = this.borderRadius;
                        this.bottomLeftRadius = this.borderRadius;
                  }

                  let radius = `${this.topLeftRadius}px ${this.topRightRadius}px ${this.bottomRightRadius}px ${this.bottomLeftRadius}px`;
                  this.dispatchChangeEvent(this.groupName, this.propName, radius);
            }

      }
</script>
<style scoped>

      input.border-size-input {
            width: 57px !important;
            flex: none !important;
      }

      .select {
            margin: 0 6px;
      }

      .preview-cont {
            padding-top: 10px;
            justify-content: center;
      }

      .preview {
            width: 140px;
            height: 70px;
            background: #ddd;
            box-sizing: content-box;
      }

      .message{
            height: 26px;
            line-height: 26px;
      }
      .message > i {
            color: red;
            font-size: 15px;
      }
</style>
