<template>
      <div class="prop-group">
            <h5 class="header">Color Properties</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">Color</span>
                        <color-picker v-model="setter.color" @change="onChange('setter', 'color',  $event)"></color-picker>
                        <span class="label">Emissive</span>
                        <color-picker v-model="setter.emissive" @change="onChange('setter', 'emissive',  $event)"></color-picker>
                  </div>
            </div>
      </div>
</template>

<script lang="ts">

      import CoreTemplate from "./CoreTemplate";
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'


      @Component
      export default class Color3DTemplate extends CoreTemplate {
            constructor(){super();}
            mounted(){
            }
      }


</script>

<style scoped>

</style>
