<template>
	<div class="prop-group" v-if="info">
		<h5 class="header">Color Properties</h5>
		<div class="body">
		</div>
	</div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import {PropertyPanelInfo} from "../../../../data/Data";

	@Component
	export default class ColorTemplate extends Vue {
		@Prop()
		info:PropertyPanelInfo;


	}
</script>
<style scoped>


</style>
