<template>
	<div class="prop-group" v-if="propertyInfo">
		<h5 class="header">Cursor</h5>
		<div class="body">
			<div class="d-flex row lock-conts">
				<span class="label">Type</span>
				<el-select v-model="style.cursor" class="flex"
						@change="onChange('style', 'cursor', $event)"				>
					<el-option label="default" value="default"></el-option>
					<el-option label="pointer" value="pointer"></el-option>
				</el-select>
			</div>


		</div>
	</div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";
	@Component({

	})
	export default class  CursorTemplate extends CoreTemplate {

	}
</script>
<style scoped>

</style>
