<template>
	<div class="prop-group" v-if="propertyInfo">
            <h5 class="header">Size &amp; Position</h5>

	</div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
	import CoreTemplate from "./CoreTemplate";

	@Component({
		components: {

		}
	})
	export default class Default3dTemplate extends CoreTemplate {


	}
</script>
<style scoped>


</style>
