<template>
	<div class="prop-group">
		<h5 class="header">Character Type</h5>
		<div class="body">
			<div class="d-flex row font-conts">
				<span class="label">Type </span>
				<div class="flex">
					<el-select class="flex" style="display:block;" v-model="font" @change="onChangeFont">
						<el-option
							v-for="item in fonts"
							:key="item.value"
							:label="item.label"
							:value="item.value">
						</el-option>
					</el-select>
				</div>
			</div>
		</div>
	</div>
</template>
<script lang="ts">
      import {Component} from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

      @Component({
            components: {}
      })
      export default class FontTypeTemplate extends CoreTemplate{
            public fonts:any = [{
                        value: 'inherit',
                        label: 'inherit'
                  }];

		
            public font:string = 'inherit';         

		created() {
			this.fonts = this.fonts.concat(window.wemb.configManager.fonts);
		}


            updatePropertyInfo(){
                  this.font = this.model.font.font_type;
            }

            onChangeFont(){
                  this.dispatchChangeEvent("font", "font_type", this.font );
            }
	}

          
</script>
<style scoped>
.font-conts{ display: flex; align-items: center;}
</style>
