<template>
      <div class="prop-group" v-if="this.model.font.useGradient == true">
            <h5 class="header">{{propertyInfo.label}}</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">Gradient</span>
                        <color-picker v-model="gradient.firstGradientColor" style="margin-right: 4px;" @change="onChange('gradient','firstGradientColor', $event)"></color-picker>
                        <color-picker v-model="gradient.secondGradientColor" @change="onChange('gradient','secondGradientColor', $event)"></color-picker>
                        <div class="d-flex gradient-type-wrap">
                              <span v-for="type in gradientDirectionList" :class="[{'active' : textGradientDir === type.label}, type.label]" class="dir-btn " @click="onChangeGradientDir(type.label)"><i class="icon"></i></span>
                        </div>
                  </div>
            </div>
      </div>

</template>

<script lang="ts">
      import { Component } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

      @Component({})
      export default class GradientTemplate extends CoreTemplate {

            private textGradientDir : string = '';

            private gradientDirectionList : any = [{
                  label : 'left',
            }, {
                  label : 'top',
            }, {
                  label : 'diagonal1',
            }, {
                  label : 'diagonal2',
            }, {
                  label : 'radial',
            }];


            onChangeGradientDir(dir){
                  this.textGradientDir = dir;
                  this.dispatchChangeEvent('gradient', "direction", this.textGradientDir);
            }

      }
</script>

<style scoped>



</style>
