<template>
      <div class="prop-group">
            <fieldset>
                  <h5 class="header">Menuset</h5>
                  <div class="body">
                        <div class="d-flex row">
                              <span class="label">{{labelName}}</span><input readOnly :value="menuset.name"
                                                                                       class="flex"/>
                              <button class="icon-btn menuset-open-btn" @click="openMenusetManager">열기
                              </button>
                        </div>
                  </div>
            </fieldset>
      </div>
</template>
<script lang="ts">
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";
      import {PropertyPanelInfo} from "../../../../data/Data";

      @Component({
            components: {}
      })
      export default class MenusetTemplate extends CoreTemplate {
            private ownerName: string = ""
            private propName: string = "";
            public labelName: string = "";
            public menuset: any = {name:'', id:''};

            @Prop()
            info: PropertyPanelInfo;
            created() {
                  window.wemb.menusetDataManager.$bus.$on("update_menuset_list", (newList) => {
                        //this.updatePropertyInfo();
                        this.menuset = wemb.menusetDataManager.menusetList.find(x=>x.id == this.menuset.id) || {name:'', id:''}; 
                  })
                  
                  this.updatePropertyInfo();
            }

            updatePropertyInfo(){
                  this.labelName = this.propertyInfo.children[0].label || "name";
                  this.ownerName = this.propertyInfo.children[0].owner;
                  this.propName = this.propertyInfo.children[0].name;
                  
                  let menusetId = this.model[this.ownerName][this.propName];
                  let findMenuset = wemb.menusetDataManager.menusetList.find(x=>x.id == menusetId);

                  if( !findMenuset ){
                        findMenuset = {name:'', id:''};
                  }
                  this.menuset.name = findMenuset.name;
                  this.menuset.id = findMenuset.id;
            }

            openMenusetManager(childPropertyInfo) {
                  //let menusetId = this.model[]
                  window.wemb.$menusetManagerModal.show( this.menuset.id ).then((result) => {
                        this.menuset = result.menuset || {name:'', id:''};
                        this.dispatchChangeEvent(this.ownerName, this.propName, this.menuset.id);
                  }, (error) => {
                        //메뉴셋 선택하지 않음
                  });
            }

            removeMenuset(childPropertyInfo) {
                  this.menuset = {name:'', id:''};
                  this.dispatchChangeEvent(this.ownerName, this.propName, '');
            }

      }
</script>
<style scoped>


</style>
