<template>
	<div>
		test
	</div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import {PropertyPanelInfo} from "../../../../data/Data";


	@Component({
		components: {

		}
	})
	export default class NoneTemplate extends Vue {
		@Prop()
		info:PropertyPanelInfo;


	}
</script>
<style scoped>


</style>
