<template>
      <div class="prop-group">
            <h5 class="header">{{title}}</h5>
            <div class="body">                 
                  <div class="d-flex row">
                        <span class="label">Size</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="size"
                                      @change="onPaddingSize('size')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Top</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="top"
                                      @change="onPaddingSize('top')"
                                      :eventBus="eventBus"
                        > </number-input>
                        <span class="label">Right</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="right"
                                      @change="onPaddingSize('right')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Bottom</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="bottom"
                                      @change="onPaddingSize('bottom')"
                                      :eventBus="eventBus"
                        > </number-input>
                        <span class="label">Left</span>
                        <number-input min="0"
                                    class="flex"
                                      v-model="left"
                                      @change="onPaddingSize('left')"
                                      :eventBus="eventBus"
                        > </number-input>
                  </div>
            </div>
      </div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

	@Component({
		components: {

		}
	})
      export default class PaddingTemplate extends CoreTemplate {
	      public title:string = 'Padding Size';
            public groupName: string = "";
            public propName: string = "";

            public size:number=0;
            public top:number=0;
            public right:number=0;
            public bottom:number=0;
            public left:number=0;


            created() {
                  this.updatePropertyInfo();
            }

            updatePropertyInfo(){
                  this.groupName = this.propertyInfo.owner;
                  this.propName = this.propertyInfo.name;

                  if(this.propertyInfo.label){
				this.title = this.propertyInfo.label;
			}

                  this._createValues();
            }

            private _createValues(){     
                  let paddingSize = this.model[this.groupName][this.propName].toString().split('px');
                  this.size = paddingSize[0];

                  if( paddingSize.length < 4 ){
                        this.top = this.size;
                        this.right = this.size;
                        this.bottom = this.size;
                        this.left = this.size;
                  }else{
                        this.top = paddingSize[0].trim();
                        this.right = paddingSize[1].trim();
                        this.bottom = paddingSize[2].trim();
                        this.left = paddingSize[3].trim();
                  }
            }


            onPaddingSize(type){
                  if( type == 'size' ){
                        this.top = this.size;
                        this.right = this.size;
                        this.bottom = this.size;
                        this.left = this.size;
                  }

                  let padding = `${this.top}px ${this.right}px ${this.bottom}px ${this.left}px`;
                  this.dispatchChangeEvent(this.groupName, this.propName, padding);
            }

      }
</script>
<style scoped>

      input.border-size-input {
            width: 57px !important;
            flex: none !important;
      }

      .select {
            margin: 0 6px;
      }

      .preview-cont {
            padding-top: 10px;
            justify-content: center;
      }

      .preview {
            width: 140px;
            height: 70px;
            background: #ddd;
            box-sizing: content-box;
      }

      .message{
            height: 26px;
            line-height: 26px;
      }
      .message > i {
            color: red;
            font-size: 15px;
      }
</style>
