<template>
      <div class="prop-group">
            <h5 class="header">{{tempLabel}}</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">Type</span>
                        <el-radio v-model="selectType" label="link" @change="onChangeType()">Link</el-radio>
                        <el-radio v-model="selectType" label="popup" @change="onChangeType()">Popup</el-radio>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Page</span>
                        <el-select class="flex"
                                   v-model="selectPage"
                                   filterable
                                   @change="onChangePage($event)"
                        >
                              <el-option
                                    v-for="item in pages"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id"
                                    :disabled="item.disabled">
                              </el-option>
                        </el-select>
                  </div>
                  <div class="d-flex row" v-if="selectType === 'popup'">
                        <span class="label">Option</span>
                        <el-input
                              type="textarea"
                              class="flex"
                              min="0"
                              :rows="2"
                              placeholder='{"width":310, "height":510, "x":1530, "y":70}"'
                              v-model="popupOption"
                              @blur="onBlur"
                              @focus="onFocus"
                              @change="onChangePopupOption()"></el-input>
                  </div>
            </div>

      </div>
</template>
<script lang="ts">
      import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
      import CoreTemplate from "./CoreTemplate";

      @Component({

      })
      export default class PageSelectInputTemplate extends CoreTemplate {
            public groupName: string = '';
            public propName: string = '';
            public pages:Array<any> = [];
            public tempLabel: string = 'page';

            public selectType:string='link';
            public selectPage: string='';
            public popupOption:string='';

            public currentPage:any={};

            constructor(){
                  super();
            }
            
            onBlur(event){
                  if(this.eventBus){
                        this.eventBus.$emit("inputBlur",{
                              target:event.target
                        })
                  }
		}


		onFocus(event){
                  if(this.eventBus){
                        this.eventBus.$emit("inputFocus",{
                              target:event.target
                        })
                  }
		}


            created() {
                  this.updatePropertyInfo();
            }

            updatePropertyInfo(){
                  //VALID check
                  this.groupName = this.propertyInfo.owner; // favorite, help
                  // this.propName = this.propertyInfo.name; // favorite, help

                  this.pages = window.wemb.pageManager.getPageInfoList();

                  //현재페이지 disable 처리하기
                  let currentPageId = window.wemb.pageManager._currentPageInfo.id;
                  this.currentPage= this.pages.find(x=>x.id === currentPageId);
                  this.currentPage['disabled'] = true;

                  this.tempLabel =  this.propertyInfo.label || 'page';

                  let model = this.model[this.groupName];

                  this.selectType = model.selectType;
                  this.selectPage = model.selectPage;
                  this.popupOption = model.popupOption;

                  // this.selectPage= this.model[this.groupName][this.propName];
            }

            onChangeType(){
                  this.dispatchChangeEvent(this.groupName, 'selectType', this.selectType);
            }

            onChangePage(){
                  this.dispatchChangeEvent(this.groupName, 'selectPage', this.selectPage);
            }

            onChangePopupOption(){
                  this.popupOption = this.popupOption.trim();
                  this.dispatchChangeEvent(this.groupName, 'popupOption', this.popupOption);
            }

            destroyed(){
                  delete this.currentPage.disabled;
            }

      }
</script>
<style scoped>


</style>
