<template>
    <div class="prop-group">
          <h5 class="header">Points</h5>
          <div class="body">
                <div class="d-flex row" v-if="setter.componentName !== 'Line3DComponent' && setter.componentName !== 'StreamLine3DComponent'">
                      <span class="label">Count</span>
                      <number-input class="three-input"
                                    v-model="setter.pointCount"
                                    min="setter.pointCountRange.min"
                                    max="setter.pointCountRange.max"
                                    :eventBus="eventBus"
                                    @change="onChange('helper_count', 'count',  $event.value)"
                                    ></number-input>
                </div>
                <div class="d-flex row"  v-for="(control, index ) in setter.points">
                      <el-tooltip v-if="!handler_indexes.includes(index)" class="item" effect="dark" content="Line Connect Popup" placement="top">
                            <button key="icon-page-create" class="icon-btn-flat icon-page-create el-tooltip" @click="openConnectPopup($event, index)">
                                  라인 연결 팝업 추가
                            </button>
                      </el-tooltip>
                      <el-tooltip v-else class="item" effect="dark" content="Remove Connection" placement="top">
                            <button key="icon-page-edit" class="icon-btn-flat icon-page-edit el-tooltip" @click="removeConnection($event, index)">
                            라인 연결 취소
                            </button>
                      </el-tooltip>
                      <br/>
                      <span class="label">X</span>
                      <number-input class="three-input"
                                    :eventBus="eventBus"
                                    min="-999999" max="999999"
                                    v-model.number="control.x"
                                    @change="onChange('syncPoint', 'points',  $event.value)"
                      ></number-input>
                      <span class="label">Y</span>
                      <number-input class="three-input"
                                    :eventBus="eventBus"
                                    min="-999999" max="999999"
                                    v-model.number="control.y"
                                    @change="onChange('syncPoint', 'points',  $event.value)"
                      ></number-input>
                      <span  class="label">Z</span>
                      <number-input class="three-input"
                                    :eventBus="eventBus"
                                    min="-999999" max="999999"
                                    v-model.number="control.z"
                                    @change="onChange('syncPoint', 'points',  $event.value)"
                      ></number-input>
                </div>
          </div>
    </div>
</template>

<script lang="ts">
    import CoreTemplate from './CoreTemplate';
    import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'

    @Component({
          components : {}
    })
    export default class PointsTemplate extends CoreTemplate {
          public points:any = [];
          public count:number;
          public pointOrder:Array<Number>;
          public handler_indexes:Array<Number> = [];
          constructor(){super();}
          findComponentByName(name : string){
                const findComponent = (componentName)=> (component) => component.name === componentName ? component : null;
                return window.wemb.editorProxy.activeLayerInfo.instanceList.filter(findComponent(name))[0];
          }
          created(){
                this.points = this.setter._points;
                this.count =  this.setter.pointCount;
                this.resetPointOrder();
          }
          resetPointOrder(){
                this.pointOrder = this.findComponentByName(this.model.primary.name)._pointsOrder;
          }
          openConnectPopup(event, index){
                let comp = this.findComponentByName(this.model.primary.name);
                let path = window.wemb.componentLibraryManager.getComponentPath(comp.componentName);
                let newPath = path.replace(comp.componentName, 'popup');
                window.wemb.$modalManager.loadModal(comp.componentName, newPath+"/popup.vue").then((result:any)=>{
                      this.$emit("event/updateProperties", false);
                      result.modal.setComponent(this.model.primary.name, index);
                      result.modal.show();
                      result.modal.$on("closed", (updateState)=>{
                            this.$emit("event/setActiveShortcutState", true);
                            this.updateHandlerindexes();
                      })
                }).catch ((error)=>{
                      console.log("error", error);
                      //Vue.$alert("확장 프로퍼티 팝업을 호출하는 도중 오류가 발생했습니다. 컴포넌트 확장 프로퍼티 팝업 파일(popup.vue)이 존재하지 않거나 서버 오류일 수 있습니다. 확인 후 다시 실행해주세요.")
                      Vue.$alert("There was an error calling extension property popup. The component extension property popup file (popup.vue) may not exist or may be a server error. Please check and run again.");
                });
          }
          updated(){
                this.resetPointOrder();
          }
          mounted(){
                this.$nextTick(function(){
                      this.updateHandlerindexes();
                });
          }
          removeConnection(event, index){
                //프로퍼티 타겟 정보 지우기
                let comp = this.findComponentByName(this.model.primary.name);
                let targets = comp.getGroupPropertyValue('connection','targets');
                let name = this.model.primary.name + '#$' + index;
                let to = this.findComponentByName(targets[name]);
                delete targets[name];
                if(to){
                      to.deleteConnection(name);
                      this.updateHandlerindexes();
                }

          }
          updateHandlerindexes(){
                let comp = this.findComponentByName(this.model.primary.name);
                let target_keys = Object.keys(comp.getGroupPropertyValue('connection','targets'));
                if(target_keys.length > 0){
                      this.handler_indexes = target_keys.map((key)=> parseInt(key.split('#$')[1]));
                }else{
                      this.handler_indexes = [];
                }
                this.$forceUpdate();
          }
    }
</script>

<style scoped>

</style>
