<template>
      <div class="prop-group">
            <fieldset>
                  <h5 class="header">Resource</h5>
                  <div class="body" v-if="propertyInfo.children" v-for="childProperty in propertyInfo.children">
                        <div class="d-flex row" v-if="childProperty.show!=false">
                              <span class="label">{{childProperty.label}}</span><input readOnly
                                                                                       :value="getResourceValue(childProperty)"
                                                                                       class="flex"/>
                              <button class="icon-btn asset-open-btn" v-if="!getResourceValue(childProperty)"
                                      @click="openResourceManager(childProperty)">Open
                              </button>
                              <button class="icon-btn cir-close-btn" v-if="getResourceValue(childProperty)"
                                      @click="removeBackgroundImage(childProperty)">Delete
                              </button>
                        </div>
                  </div>
            </fieldset>
      </div>
</template>
<script lang="ts">
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";
      import {PropertyPanelInfo} from "../../../../data/Data";

      @Component({
            components: {}
      })
      export default class ResourceTemplate extends CoreTemplate {
            @Prop()
            info: PropertyPanelInfo;
            created() {
                  /*
			만약 선택한 인스턴스가 변경되는 경우
			동일한 컴포넌트 타입인 경우  created가 실행되지 않음.
			이를 해결하기 위해서 watch를 사용함.
			*/
                  //this.resourceInfo= this.propertyInfo.children[0];
                  for (var child of this.propertyInfo.children) {
                        this.updateResourceInfo(child)
                  }
                  //this.updateResourceInfo();

            }

            updateResourceInfo(resoureInfo) {
                  /*
		  옵션 정보가 없는 경우가 있기 때문에
		  기본적으로 옵션 처리하기
		  */
                  resoureInfo.options = Object.assign({
                        type: "img"
                  }, resoureInfo.options);

            }

            openResourceManager(childPropertyInfo) {
                  window.wemb.$resourceManagerModal.show(childPropertyInfo.options).then((result) => {
                        let propertyFullName = this.getFullName(childPropertyInfo);
                        this.dispatchChangeEvent(propertyFullName, childPropertyInfo.name, result);
                  }).catch((error)=>{
                        console.log('error', error)
                  });
            }

            getResourceValue(childPropertyInfo) {
                  let owner = this.model[childPropertyInfo.owner];

                  if (typeof owner[childPropertyInfo.name] == "object") {
                        if (owner[childPropertyInfo.name] == null) {
                              return null;
                        }

                        return owner[childPropertyInfo.name].name;
                  }
                  else {
                        return owner[childPropertyInfo.name];
                  }

            }

            removeBackgroundImage(childPropertyInfo) {

                  let owner = this.model[childPropertyInfo.owner];
                  if (typeof owner[childPropertyInfo.name] == "object")
                        owner[childPropertyInfo.name].name = null;
                  else
                        owner[childPropertyInfo.name] = "";

                  let propertyFullName = this.getFullName(childPropertyInfo);
                  this.dispatchChangeEvent(propertyFullName, childPropertyInfo.name, null);
            }

            getFullName(childPropertyInfo) {
                  if (childPropertyInfo.hasOwnProperty("owner") == true) {
                        return `${childPropertyInfo.owner}`;
                  }

                  return childPropertyInfo.name;
            }

      }
</script>
<style scoped>


</style>
