<template>
      <div class="prop-group">
            <h5 class="header">Shadow</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">XPosition</span>
                        <number-input min="0"
                                      class="flex"
                                      v-model="shadow.xPosition"
                                      @change="onChange('shadow', 'xPosition', $event)"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">YPosition</span>
                        <number-input min="0"
                                      class="flex"
                                      v-model="shadow.yPosition"
                                      @change="onChange('shadow', 'yPosition', $event)"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Blur</span>
                        <number-input min="0"
                                      class="flex"
                                      v-model="shadow.blur"
                                      @change="onChange('shadow', 'blur', $event)"
                        > </number-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Color</span>
                        <color-picker
                              v-model="shadow.color"
                              @change="onChange('shadow', 'color', $event)"></color-picker>
                  </div>
            </div>
      </div>
</template>

<script lang="ts">
import CoreTemplate from "./CoreTemplate";
import { Component } from 'vue-property-decorator'

@Component({
})
export default class ShadowTemplate extends CoreTemplate {

}
</script>

<style scoped>

</style>
