<template>
	<div class="prop-group" >
		<h5 class="header">{{propertyInfo.label}}</h5>

            <div class="body">

                  <div class="d-flex row">
                        <span class="label">Stroke Color</span>
                        <color-picker v-model="stroke.strokeColor" @change="onChange('stroke', 'strokeColor', $event)"></color-picker>
                  </div>

                  <div class="d-flex row">
                        <span class="label">Width</span>
                        <div class="flex d-flex">
                              <number-input min="0" class="border-size-input"
                                            v-model="stroke.strokeWidth"
                                            :eventBus="eventBus"
                                            @change="onChange('stroke', 'strokeWidth', $event)"
                              > </number-input>
                        </div>
                  </div>

            </div>
      </div>
</template>

<script lang="ts">
	import { Component } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

	@Component({
      })
	export default class StrokeTemplate extends CoreTemplate {

      }

</script>
<style scoped>

</style>
