<template>
	<div class="prop-group">
		<h5 class="header">{{title}}</h5>
		<div class="body">
                  <div class="d-flex row">
                        <span class="label">Width</span>
                        <number-input min="0" class="border-size-input"
                                      v-model="strokeStyle.width"
                                      :eventBus="eventBus"
                                      @change="onChange('strokeStyle', 'width', $event)"
                        > </number-input>
                  </div>
			<div class="d-flex row">
				<span class="label">Type</span>
				<el-select v-model="bgType" @change="onChange('strokeStyle', 'type', $event)" class="select flex">
					<el-option value="solid"></el-option>
					<el-option value="gradient"></el-option>
					<el-option value="dashed" label="dashed"></el-option>
				</el-select>
			</div>
			<div class="d-flex row"  v-if="bgType === 'solid' || bgType === 'dashed'">
				<span class="label">Color</span>
				<!-- lock 해제시 <button> .unlock-->
				<color-picker v-model="strokeStyle.color1" @change="onChange('strokeStyle', 'color1', $event)"></color-picker>
			</div>
			<div class="d-flex row"  v-if="bgType=='gradient'">
                  <span class="label">Gradient</span>
				<color-picker v-model="bgGradientColor1" style="margin-right:4px;" @change="onChange('strokeStyle','color1', $event)"></color-picker>
				<color-picker v-model="bgGradientColor2" @change="onChange('strokeStyle', 'color2', $event)"></color-picker>
                        <div class="d-flex gradient-type-wrap">
                              <span v-for="type in gradientDirectionList" :class="[{'active' : textGradientDir === type.label}, type.label]" class="dir-btn " @click="onChangeGradientDir(type.label)"><i class="icon"></i></span>
                        </div>
			</div>
		</div>
	</div>
</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
    import CoreTemplate from "./CoreTemplate";

	/*
	test11
	 */
	@Component({

	})
	export default class BackgroundGradientTemplate extends CoreTemplate {
		public title: string = '';
		public bgType: string = 'solid';
		public bgGradientDir: string = '';
		public bgGradientColor1: string = '';
		public bgGradientColor2: string = '';
		public width : string ='';
		
		public bgText:string = '';
		public bgColor:string='';//solid type
		public groupName: string = 'strokeStyle';

            private textGradientDir : string = '';
            private gradientDirectionList : any = [{
                  label : 'left',
            }, {
                  label : 'top',
            }, {
                  label : 'diagonal1',
            }, {
                  label : 'diagonal2',
            }, {
                  label : 'radial',
            }];

		constructor(){
			super();
		}

		onBlur(event){
                  if(this.eventBus){
                        this.eventBus.$emit("inputBlur",{
                              target:event.target
                        })
                  }
		}


		onFocus(event){
                  if(this.eventBus){
                        this.eventBus.$emit("inputFocus",{
                              target:event.target
                        })
                  }
		}
		
		created() {			
			this.updatePropertyInfo();
		}

            onChangeGradientDir(dir){
                  this.textGradientDir = dir;
                  this.dispatchChangeEvent(this.groupName, "direction", this.textGradientDir);
            }

		updatePropertyInfo(){
			this.groupName = this.propertyInfo.owner;

			if(this.propertyInfo.label){
				this.title = this.propertyInfo.label;
			}

			let model = this.model[this.groupName];

			this.bgColor = model.color1;
			this.bgType = model.type;
			this.bgGradientDir = model.direction;
			this.bgGradientColor1 = model.color1;
			this.bgGradientColor2 = model.color2;
			this.width = model.width;

			this.bgText = model.text;
		}

	}
</script>
<style scoped>

</style>
