<template>
      <div class="prop-group">
            <fieldset>
                  <h5 class="header">Template Manager</h5>
                  <div class="body">
                        <div class="d-flex row">
                              <span class="label">{{labelName}}</span><input readOnly :value="template.text"
                                                                             class="flex"/>
                              <button class="icon-btn menuset-open-btn" @click="openTemplateManager">Open
                              </button>
                        </div>
                  </div>
            </fieldset>
      </div>
</template>
<script lang="ts">
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";
      import {PropertyPanelInfo} from "../../../../data/Data";

      @Component({
            components: {}

      })
      export default class TemplateManagerTemplate extends CoreTemplate {
            private ownerName: string = ""
            private propName: string = "";
            public labelName: string = "";
            public template: any = {id: '', text: ''};

            @Prop()
            info: PropertyPanelInfo;

            created() {
                  window.wemb.templateDataManager.$bus.$on("template_manager_update", (templateList) => {
                        this.template = wemb.templateDataManager.concatData.find(x => x.id == this.template.id) || {
                              id: '',
                              text: ''
                        };

                  })

                  this.updatePropertyInfo();
            }

            updatePropertyInfo() {
                  this.labelName = this.propertyInfo.children[0].label || "Template";
                  this.ownerName = this.propertyInfo.children[0].owner;
                  this.propName = this.propertyInfo.children[0].name;

                  let templateId = this.model[this.ownerName][this.propName];

                  let findTemplate = wemb.templateDataManager.concatData.find(x => x.id == templateId);

                  if (!findTemplate) {
                        findTemplate = {id: '', text: ''};
                  }

                  this.template.text = findTemplate.text;
                  this.template.id = findTemplate.id;

            }

            openTemplateManager(childPropertyInfo) {
                  // //let menusetId = this.model[]

                  window.wemb.$templateManagerModal.show(this.template.id).then((result) => {
                        this.template = result.template || {id: '', text: ''};
                        this.dispatchChangeEvent(this.ownerName, this.propName, this.template.id);
                  }, (error) => {

                  });

            }
      }
</script>
<style scoped>


</style>
