<template>
      <div class="prop-group">
            <h5 class="header">Text Info</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">Text</span>
                        <normal-input v-model="textInfo.text"
                                      @change="onChange('textInfo', 'text', $event.value)"
                                      min="0"
                                      class="flex"
                                      :eventBus="eventBus">
                        </normal-input>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Font Size</span>
                        <number-input v-model.number="textInfo.fontSize"
                                      @change="onChange('textInfo', 'fontSize', $event.value)"
                                      min="0"
                                      class="flex"
                                      :eventBus="eventBus">
                        </number-input>
                        <span class="label">Font Weight</span>
                        <number-input v-model.number="textInfo.fontWeight"
                                      @change="onChange('textInfo', 'fontWeight', $event.value)"
                                      min="0"
                                      class="flex"
                                      :eventBus="eventBus">
                        </number-input>
                  </div>
                  <!--
                  <div class="d-flex row font-conts">
                        <span class="label">type </span>
                        <div class="flex">
                              <el-select class="flex" style="display:block;" v-model="textInfo.fontName"
                                         @change="onChange('textInfo', 'fontName', $event)">
                                    <el-option
                                          v-for="item in fonts"
                                          :key="item.value"
                                          :label="item.label"
                                          :value="item.value">
                                    </el-option>
                              </el-select>
                        </div>
                  </div>
                  -->
                  <div class="d-flex row">
                        <span class="label">Use Background</span>
                        <el-checkbox v-model="textInfo.useBackGround"
                                     @change="onChange('textInfo', 'useBackGround', $event)"
                                     class="flex"
                                     :eventBus="eventBus"
                        ></el-checkbox>
                  </div>
                  <div v-if="textInfo.useBackGround">
                        <div class="d-flex row">
                              <span class="label">Margin-x</span>
                              <normal-input v-model.number="textInfo.marginW"
                                            @change="onChange('textInfo', 'marginW', $event.value)"
                                            min="0"
                                            class="flex"
                                            :eventBus="eventBus">
                              </normal-input>
                              <span class="label">Margin-y</span>
                              <normal-input v-model.number="textInfo.marginH"
                                            @change="onChange('textInfo', 'marginH', $event.value)"
                                            min="0"
                                            class="flex"
                                            :eventBus="eventBus">
                              </normal-input>
                        </div>
                        <div class="d-flex row">
                              <span class="label">Bg Color</span>
                              <color-picker v-model="textInfo.bgColor"
                                            @change="onChange('textInfo', 'bgColor', $event)"></color-picker>
                              <span class="label">Corner Radius</span>
                              <number-input min="0" max="50"
                                            class="three-input"
                                            v-model.number="textInfo.cornerRadius"
                                            @change="onChange('textInfo', 'cornerRadius', $event.value)"
                                            :eventBus="eventBus">
                              </number-input>
                        </div>
                        <div class="d-flex row">
                              <span class="label">Border Color</span>
                              <color-picker v-model="textInfo.borderColor"
                                            @change="onChange('textInfo', 'borderColor', $event)"></color-picker>
                              <span class="label">Border Width</span>
                              <number-input min="0" max="50"
                                            class="three-input"
                                            v-model.number="textInfo.borderWidth"
                                            @change="onChange('textInfo', 'borderWidth', $event.value)"
                                            :eventBus="eventBus">
                              </number-input>

                        </div>
                  </div>
            </div>
      </div>
</template>
<script lang="ts">
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

      @Component({})
      export default class TextInfoTemplate extends CoreTemplate {

            /*public fonts:Array=[{
                  value:"arial",
                  label:"Arial"
            }];*/

            constructor(){super();}

            get textInfo(){
                  return this.model.textInfo;
            }

            created() {
                  /*this.fonts = this.fonts.concat(wemb.configManager.fonts);*/
            }

            mounted(){
                  console.log(this.model);
            }

      }
</script>
<style scoped>

</style>
