<template>
	<div class="prop-group" >
		<h5 class="header">{{propertyInfo.label}}</h5>

            <div class="body">
                  <div class="d-flex row">
                        <span class="label">H-Shadow</span>
                        <div class="flex d-flex">
                              <number-input min="0" class="border-size-input"
                                            v-model="textShadow.h_shadow"
                                            :eventBus="eventBus"
                                            @change="onChange('textShadow', 'h_shadow', $event)"
                              > </number-input>
                        </div>
                  </div>
                  <div class="d-flex row">
                        <span class="label">V-Shadow</span>
                        <div class="flex d-flex">
                              <number-input min="0" class="border-size-input"
                                            v-model="textShadow.v_shadow"
                                            :eventBus="eventBus"
                                            @change="onChange('textShadow', 'v_shadow', $event)"
                              > </number-input>
                        </div>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Blur-Radius</span>
                        <div class="flex d-flex">
                              <number-input min="0" class="border-size-input"
                                            v-model="textShadow.blur_radius"
                                            :eventBus="eventBus"
                                            @change="onChange('textShadow', 'blur_radius', $event)"
                              > </number-input>
                        </div>
                  </div>
                  <div class="d-flex row">
                        <span class="label">Color</span>
                        <color-picker v-model="textShadow.color" @change="onChange('textShadow', 'color', $event)"></color-picker>
                  </div>
            </div>
      </div>
</template>

<script lang="ts">
	import { Component } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

	@Component({
      })
	export default class TextShadowTemplate extends CoreTemplate {


      }

</script>
<style scoped>


</style>
