<template>
      <div class="prop-group">
            <h5 class="header">Points</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">Count</span>
                        <number-input class="three-input"
                                      v-model="setter.pointCount"
                                      min="0" max="50" :eventBus="eventBus"
                                      @change="onChange('setter', 'pointCount',  $event.value)"></number-input>
                        <span class="label">Scale</span>
                        <number-input class="three-input"
                                      v-model.number="model.syncPoint.scale"
                                      min="1" max="10" :eventBus="eventBus"
                                      @change="onChange('syncPoint', 'scale',  $event.value)"></number-input>
                  </div>

                  <div class="d-flex row"  v-for="(control, index ) in points" v-if="index>=startIndex" v-bind:key="index">
                        <span class="label">X</span>
                        <number-input class="three-input"
                                      v-model.number="control.x"
                                      min="-999999" max="999999"
                                      :eventBus="eventBus"
                                      @change="onChange('syncPoint', 'point', $event.value)"></number-input>
                        <span class="label" v-if="!isLeakDetectorSensor">Y</span>
                        <number-input class="three-input"
                                      v-model.number="control.y"
                                      min="-999999" max="999999"
                                      v-if="!isLeakDetectorSensor"
                                      :eventBus="eventBus"
                                      @change="onChange('syncPoint', 'point',  $event.value)"></number-input>
                        <span  class="label">Z</span>
                        <number-input class="three-input"
                                      v-model.number="control.z"
                                      min="-999999" max="999999"
                                      :eventBus="eventBus"
                                      @change="onChange('syncPoint', 'point', $event.value)"></number-input>
                  </div>

            </div>
      </div>
</template>

<script lang="ts">

      import CoreTemplate from "./CoreTemplate";
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'

      @Component({
            components: {}
      })
      export default class VectorTemplate extends CoreTemplate {
            public points:any =[];
            public startIndex:number;
            constructor(){ super();}
            get isLeakDetectorSensor(){
                  return this.model.info.componentName == "LeakDetectorSensor";
            }
            created(){
                  const findComponent = (componentName)=> (component) => component.name === componentName ? component : null;
                  let comp = window.wemb.editorProxy.activeLayerInfo.instanceList.filter(findComponent(this.model.primary.name));
                  this.points = comp[0]._points;
                  this.startIndex = this.isLeakDetectorSensor ? 1 : 0;
            }

      }

</script>

<style scoped>

</style>
