<template>
	<div class="prop-group" >
		<h5 class="header">{{propertyInfo.label}}</h5>
            <!-- 그룹인 경우 그룹 내부에 들어 있는 요소들을 출력하기 (현재는 대부분 그룹임)-->
            <div class="body">
                  <template v-if="propertyInfo.children" v-for="childPropertyInfo in propertyInfo.children">
                        <template v-if="childPropertyInfo.show!=false" >
                              <div class="d-flex row" :key="childPropertyInfo.name">
                              <span class="label">{{childPropertyInfo.label}}</span>
                              <component class="flex"
                                          :is="getInputComponent(childPropertyInfo.type)"
                                          v-model="model[childPropertyInfo.owner][childPropertyInfo.name]"
                                          :model="model"
                                          :propertyInfo="childPropertyInfo"
                                          :propertyPanel="propertyPanel"
                                          :eventBus="eventBus"
                                          @change="onChange(childPropertyInfo.owner, childPropertyInfo.name, $event)"
                              > </component>
                              </div>
                        </template>
                  </template>
            </div>

            <!--
            <template v-for="info in propertyInfo.children">
                  <div>
                        {{info.label}}, {{info.owner}}, {{info.name}}, type={{info.type}}, ntype={{getInputComponent(info.type)}}
                  </div>
                  <div>

                  </div>
            </template>
            -->

	</div>


</template>
<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

	@Component({})
	export default class VerticalTemplate extends CoreTemplate {

	}
</script>
<style scoped>


</style>
