<template>
      <div class="prop-group">
            <h5 class="header">Execute Event</h5>
            <div class="body">
                  <div class="d-flex row">
                        <span class="label">event</span>
                        <el-select class="select flex" v-model="eventType">
                              <el-option v-for="item in eventList"
                                         :key="item.value"
                                         :label="item.label"
                                         :value="item.value">
                              </el-option>
                        </el-select>
                  </div>
                  <div class="d-flex row">
                        <span class="label">param</span>
                        <!--<textarea-input class="flex" v-model="paramMap[eventType]" @keyup="paramChange()" :eventBus="eventBus"></textarea-input>
                        <textarea class="flex" v-model="paramMap[eventType]" @keyup="paramChange()" ></textarea> -->
                  </div>
            </div>
      </div>
</template>
<script lang="ts">
      import {Component, Watch} from 'vue-property-decorator'
      import CoreTemplate from "./CoreTemplate";

      @Component
      export default class WScriptTemplate extends CoreTemplate {
            public eventType: string = 'register';
            public eventList: any = [
                  {label: "register", value: "register"},
                  {label: "click", value: "click"}
            ]
            public paramMap:any = {}

            created() {
                  this.setEventInfo();
            }

            setEventInfo() {
                  var eventInfo = this.model.events;

                  this.eventList.map(value => {
                        this.paramMap[value.value] = this.splitParam(eventInfo[value.value]);
                  });
            }

            paramChange() {
                  var value = this.saveEventInfo();
                  this.dispatchChangeEvent("events", this.eventType, value);
            }

            saveEventInfo() {
                  var param = this.paramMap[this.eventType];
                  return "this.execute(" + param + ")";
            }

            splitParam(param) {
                  var ary = param.split("this.execute(");

                  if (ary.length == 1) {
                        return "";
                  } else {
                        var tmpParam = ary[1];
                        return tmpParam.substr(0, tmpParam.length - 1);
                  }
            }
      }
</script>
<style scoped>

</style>
