<template>
	<modal
		class="w-modal modal-tabs"
		id="active-groupcomp-extension"
		name="active-groupcomp-extension"
		@opened="modalOpened"
		:click-to-close="false"
		:resizable="true"
		:draggable="false"
		:width="800"
		:height="600"
		:min-width="800"
		:min-height="600"
	>
		<div class="modal-header"><h4>Active Button Group Settings</h4><a class="close-modal-btn" role="button"
		                                                         @click="hide"><i class="el-icon-error"></i></a>
		</div>
		<div class="modal-body" data-popupname="active-groupcomp-popup">
			<div class="wrap">
				<div class="aside-left">
					<div class="top-btn-wrap">
						<el-button type="primary" @click="render"><i style="margin-left: -7px;" class="el-icon-caret-right"></i>Run</el-button>
						<el-button type="success" @click="_onOk" style="margin-left:0;"><i style="margin-left: -7px;margin-right: 4px;" class="el-icon-check"></i>Save</el-button>
					</div>
					<textarea v-model="styleStr"></textarea>
				</div>
				<div class="content-wrap">
					<!--preview-->					
					<div class="preview-wrap" style="margin-bottom:20px;">
						<h5>Preview</h5>
						<div class="draw-target" >
							<ul class="renobit-active-group">
								<li  v-for="(item, index) in items" :key="index" :class="{active:index==0}"><a class="item" nohref>{{item}}</a></li>
							</ul>
						</div>				
					</div>
					<!--//preview-->
					<div style="margin-bottom:20px;">
						<h5>HTML</h5>
						<div class="htmlStr" style="margin-bottom:20px;">
							<textarea readonly></textarea>
						</div>
						<div class="styleEl" style="display:none;"></div>	
					</div>
					<div class="active-groupedit-warp d-flex flex-column">
						<h5>Group Items</h5>						
						<div>
							<div class="register-tim-wrap d-flex">
								<div class="item" style="width:300px;margin-right:6px;">
									<el-input type="text" size="small" placeholder="Item Name" v-model="newItemName"></el-input>
								</div>
								<el-button type="primary" size="small" @click="addNewItem">{{$t('common.add')}}</el-button>
							</div>
							<div class="active-groupitem-warp flex-scroll sortable-wrap">
								<ul class="active-group-sortable handle-sortable">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</modal>
</template>
<script>
module.exports = {
	data: function data() {
		return {
			componentInstance:null,
			extensionProperties:null,
			styleStr:'',
			newItemName: '',
			items:[],
			sortableEl:null
		};
	},

	mounted: function mounted() {
	},

	methods: {
		setComponent: function setComponent(componentInstance) {
			this.componentInstance = componentInstance;
			this.items =this.componentInstance.getGroupPropertyValue("setter", "items").concat();
			this.extensionProperties = $.extend({}, this.componentInstance.getGroupProperties("extension"));
			this.styleStr = this.extensionProperties.style;

			console.log(this.items);
		},

		createSortable: function (){
			var self = this;
			this.sortableEl = $("#active-groupcomp-extension .active-group-sortable");
			this.sortableEl.sortable({
				handle: ".handle",
				update: this.updateItemsData.bind(this)
			});
			var locale_msg = this.$i18n.messages.wv;
			this.sortableEl.on("click", ".del-btn", function(){
					var MIN = 1;
					var $targetLi = $(this).closest("li");

					if (self.items.length > MIN) { 
						Vue.$confirm(locale_msg.common.confirmDelete, locale_msg.common.notification, {
							confirmButtonText: 'OK',
							cancelButtonText: 'Cancel',
							type: 'warning'
						}).then(function(){
							var index = self.sortableEl.find("li").index($targetLi);
							self.removeTabItem(index);
						}).catch(function(){

						});
					} else {
						alert("삭제는 2개 이상 존재할때만 가능합니다.");
					}
			});

			this.sortableEl.on("change", "li>div>input", function(){
				setTimeout(function(){
					self.updateItemsData();
				},  100);
			});
		},

		show: function show() {
			this.$modal.show('active-groupcomp-extension');

		},

		render: function render() {
			var style = this.getInstanceStyle();
			$("#active-groupcomp-extension .styleEl").empty();
			$("#active-groupcomp-extension .styleEl").append('<style>' + style + '</style>');
		},


		modalOpened:function modalOpened(){
			this.init();			
		},

		init:function init(){
			$("#active-groupcomp-extension .draw-target").css("font-family",  this.componentInstance.getGroupPropertyValue("font", "font_type"));
			$("#active-groupcomp-extension .htmlStr>textarea").val('\n<ul class=\"renobit-active-group\">\n    <li>\n        <a nohref class=\"item\">item01</a>\n    </li>\n    <li>\n        <a nohref=\"nohref\" class=\"item\">item02</a>\n    </li>\n    <li>\n        <a nohref=\"nohref\" class=\"item\">item03</a>\n    </li>\n</ul>\n');
			this.createSortable();

			for(var i=0,len=this.items.length; i<len; i++){
				this.addItemTemp( this.items[i] );
			}

			this.render();
		},
	

		getInstanceStyle: function getInstanceStyle() {
			var trimStr = this.styleStr.trim();
			if (!trimStr) {return '';}

			var selectorStr = "#active-groupcomp-extension .draw-target ";
			trimStr = trimStr.replace(/}/gi, "} " + selectorStr);
			trimStr = selectorStr + trimStr;

			var lastIndex = trimStr.lastIndexOf(selectorStr);
			trimStr = trimStr.substr(0, lastIndex);
			return trimStr;
		},

		hide: function hide() {
			var self = this;
			var locale_msg = this.$i18n.messages.wv;
			this.$confirm(locale_msg.common.confirmExitWindow, 'Confirm', {
				confirmButtonText: 'OK',
				cancelButtonText: 'Cancel',
				type: 'warning'
			}).then(function () {
				self._onHidden(false);
			}).catch(function () {});
		},

		_onHidden: function _onHidden() {
			this.$modal.hide('active-groupcomp-extension');
			this.$emit("closed", true);
		},

		_onOk: function _onOk() {
			this.extensionProperties = {
				"style": this.styleStr				
			};
			var locale_msg = this.$i18n.messages.wv;
			this.componentInstance.setGroupPropertyValue("setter", "items", JSON.parse(JSON.stringify(this.items)) );
			var self = this;
		
			this.componentInstance.setGroupProperties("extension", this.extensionProperties);
			this.$message.success(locale_msg.common.successSave);
		},

		addItemTemp: function addTabItem(itemName) {
			var str = '<li>' +
						'<span class="handle"></span>' +
						'<div>' +
						'<input  type="text" value="'+itemName+'">' +
						'</div>' +								
						'<button type="button" class="del-btn el-button el-button--danger el-button--mini">' +
						'<i data-v-a209615a="" aria-hidden="true" class="fa fa-trash-o"></i>' +
						'</button>' +
						'</li>';

			this.sortableEl.append(str);
		},

		addNewItem: function addTabItem() {
			var itemName  = this.newItemName.trim();
			if( !itemName.length ){
				Vue.$message.error("Tab Name을 입력하세요.");
				return;
			}		

			this.addItemTemp(itemName);	
			this.items.push(itemName);			
			this.render();
			this.newItemName = '';
		},

		updateItemsData: function updateItemsData() {
			this.items = this.getItemsNameList();
			this.render();
		},

		removeTabItem: function removeTabItem(index) {
			this.sortableEl.find("li").eq(index).remove();
			this.updateItemsData();
		},

		getItemsNameList:function getItemsNameList() {
			var ary = [];
			this.sortableEl.find("li>div>input").each(function(){
				ary.push($(this).val());
			})

			return ary;
		}
	}
};

</script>
<style scoped>
.wrap{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: row;
}

.aside-left{
	width: 300px;
	display: flex;
    flex-direction: column;
	margin-right: 8px;
}

.aside-left .top-btn-wrap {
	margin-bottom: 8px;
}

.aside-left textarea{
	flex:1;
	font-size: 13px;
	padding: 8px;
	border: 1px solid #e9ecef;
	border-radius: 5px;
}

.content-wrap{
	flex:1;
	overflow: auto;
}

h5{font-weight: bold;}

div.htmlStr{    
	background: #ffebcb;
    border-radius: 5px;
}

div.htmlStr textarea{
	background: transparent;
	font-size: 13px;
	padding: 0px 16px;
	margin: 0px;
	width: 100%;
	height: 189px;
	overflow: auto;
	user-select: none;
	outline: none;
}


[data-popupname=active-groupcomp-popup] .active-groupitem-warp{margin-top: 6px; border: 1px solid #e6ebf5;}
[data-popupname=active-groupcomp-popup] .sortable-wrap{min-height: 140px;  overflow: auto;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul{list-style: none; margin:0;padding:0;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li:first-child{border:none;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li{display:flex; align-items: center; flex-direction:row;padding: 8px 12px 8px 8px; border-top: 1px solid #e6ebf5; background-color: #fff;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li>div{flex:1;margin: 0 6px;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li .title{}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li>div{height:30px;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li input{height: 100%;display: block; border: 1px solid #e6ebf5; border-radius: 5px; padding: 6px 16px;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li p{margin:0;word-break: break-all;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li.ui-sortable-helper{border: 1px solid #e6ebf5; }
[data-popupname=active-groupcomp-popup] .sortable-wrap .sec-input{flex:none; width: 100px;}
[data-popupname=active-groupcomp-popup] .sortable-wrap>ul>li p{font-size:12px; color:gray;}
[data-popupname=active-groupcomp-popup] .duration-field{display:flex; width:320px; align-items: center; align-self: flex-end;}
[data-popupname=active-groupcomp-popup] .duration-field button{margin-left: 4px;}
[data-popupname=active-groupcomp-popup] .duration-field .txt{line-height: 28px;display: block; width: 200px; text-align: right; margin-right: 4px;align-self:flex-end;}
[data-popupname=active-groupcomp-popup] .bottom-btn-wrap{ margin: 10px 0 0 0;}

#active-groupcomp-extension .draw-target div.renobit-active-group .item>span {overflow: hidden;text-overflow:ellipsis;white-space: nowrap;text-align:center;display:block;}
</style>






