<template>
    <div class="tim-type-fields">
        <el-select  size="mini"
                    v-model="currentTimId" 
                    placeholder="TIM URL"
                    @change="changeWorkerList($event)"
        >
            <el-option
                v-for="item in timUrlList"
                :key="item.id"
                :label="item.title"
                :value="item.id">
            </el-option>
        </el-select>
        <div v-if="workerList && workerList.length">
            <el-table
                :data="workerList"
                max-height="340"
                style="width: 100%">                
                <el-table-column
                    sortable
                    prop="worker_type_name"
                    label="타입명">
                </el-table-column>
                <el-table-column
                    sortable
                    prop="worker_name"
                    label="워커명">
                </el-table-column>
                <!--<el-table-column
                prop="worker_desc"
                label="설명">
                </el-table-column>-->
                <el-table-column
                    sortable
                    prop="status"
                    label="상태"
                    width="100">
                </el-table-column>
               <el-table-column
                fixed="right"
                label="명령"
                width="160">
                <template slot-scope="scope">
                    <el-button @click="executeWokerPreview(scope.row)" type="default" size="mini">미리보기</el-button>
                    <el-button @click="selectWorker(scope.row)" type="primary" size="mini" style="margin:0;">적용</el-button>
                </template>
                </el-table-column>
            </el-table>

            <div class="wrap-txtarea">
                <h5 v-if="previewData">Worker 실행결과</h5>
                <dataset-preview-component ref="previewComp"></dataset-preview-component>
            </div>
        </div>
        <div class="wrap-txtarea">
            <h5>Worker URL</h5>
            <el-input
                type="textarea"
                :rows="3"
                placeholder=""
                v-model="userInputUrl">
            </el-input>
        </div>
        <h4>{{$t('dataset.parameterCreate')}}</h4>
        <dataset-register-param-field-component
            ref="registerParamComp"
            :paramService="paramService"></dataset-register-param-field-component>
        <dataset-param-field-list-component
            ref="paramFieldListComp"
            :paramService="paramService"></dataset-param-field-list-component>    
    </div>  
</template>
<script lang="ts">
    import Vue from "vue"
	import Component from "vue-class-component";
    import DatasetPreviewComponent from "../../preview/DatasetPreviewComponent.vue";
    import {dto} from "../../../../model/dto/DatasetDTO";
    import TimItemDTO = dto.TimItemDTO;
    import DatasetQueryParamService from "../../../../service/DatasetQueryParamService";
    import DatasetRegisterParamFieldComponent from '../fieldParam/DatasetRegisterParamFieldComponent.vue';
    import DatasetParamFieldListComponent from '../fieldParam/DatasetParamFieldListComponent.vue';

	@Component({
		components: {
            DatasetPreviewComponent,
            DatasetParamFieldListComponent,
            DatasetRegisterParamFieldComponent
		}
	})
	export default class DatasetTimTypeFieldsComponent extends Vue {
        public currentTimId:string = "";
        public timUrlList: Array<TimItemDTO> = [];
        public workerList: Array<TimItemDTO> = [];
        public previewData: Array<any> = null;
        public userInputUrl: string = "";
        public paramService: DatasetQueryParamService;
        private registerParamComp: DatasetRegisterParamFieldComponent;
        private paramFieldListComp: DatasetParamFieldListComponent;
		/*static readonly  EDIT_DATASET = "event/editDataset";
        public searchStr:string = "";
        */
		created():void {
            
            this.paramService = new DatasetQueryParamService();
		}

		mounted() {			
        }

        init() {
            let previewComp: DatasetPreviewComponent = <DatasetPreviewComponent>this.$refs.previewComp;
            if( previewComp ){
                previewComp.reset();
            }

            this.paramService.init();
            this.registerParamComp.init();
            this.paramFieldListComp.init();
            
            this.currentTimId = '';
            this.timUrlList = [];
            this.workerList = [];
            this.userInputUrl = "";//사용자 입력 worker url 
        }

        public updateTimUrlList(list:Array<TimItemDTO>){
            this.timUrlList = list;
            if( !list.length ){         
                this.currentTimId = "";           
                this.updateWorkerList([]);
                return;
            }

            let timItem: TimItemDTO;

            if(this.currentTimId){
                timItem = this.timUrlList.find(x=>x.id==this.currentTimId);
            }
            
            if( !timItem ){
                timItem =  this.timUrlList[0]; 
            }
            
            this.changeWorkerList( timItem.id );
        }
        
        updateWorkerList(list:any){
            this.workerList = list;
        }

        changeWorkerList(id:string){
            let item = this.timUrlList.find(x=>x.id==id);
            if(item){
                this.currentTimId = id;
                this.$emit( "changeTimUrl", item.url );
            } 
        }

        executeWokerPreview(row:any){
            let url = row.url;
            this.$emit("executeTimWorkerPreview", url);
        }
        

        active(){
            ///포커싱 됐을때, 다시그림, 보이지 않는 상태에서 업데이트시 깨짐현상..
            let list = this.timUrlList.concat();
            this.timUrlList = [];
            this.updateTimUrlList(list);
        }

        setTimWorkerPreview( data:any ){
            let previewComp: DatasetPreviewComponent = <DatasetPreviewComponent>this.$refs.previewComp;
            if( previewComp ){  
                this.previewData = data;
                previewComp.setPreviewData(data);
            }
        }


        selectWorker(row:any){
            this.userInputUrl = row.url;
        }

        /*
        getUrl(){
            return this.userInputUrl;
        }

        setUrl(url){
            this.userInputUrl = url;
        }*/
        
        setData(data){
            this.userInputUrl = data.tim;
            this.paramService.setParamList( data.paramList );
        }


        getData():any{
            return {
                tim: this.userInputUrl,
                paramList: this.paramService.getParamList()
            }
        }

	}
</script>
<style scoped>
.dataset-preview{text-align: center;}
.dataset-preview >>> .el-tag{margin: 10px 0;}
.dataset-preview >>> .cell{text-align: center;}
</style>
