.DCIMAllAssetCounterComponent .container {
    display: inline-block;
}

.DCIMAllAssetCounterComponent .cont-fir-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.DCIMAllAssetCounterComponent .cont-sec-wrap {
    display: inline-block;
}

.DCIMAllAssetCounterComponent .border-label {
    display: block;
    border: 2px solid #3966b8;
    border-radius: 5px 16.5px 16.5px 16.5px;
    padding: 6px 12px;
    color: #519dff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.DCIMAllAssetCounterComponent .asset-info-back {
    display: inline-block;
    text-align: center;
    min-width: 160px;
    background-image: linear-gradient(rgba(37, 89, 149, 0.5), rgba(82, 92, 163, 0.5), rgba(82, 92, 163, 0.5), rgba(37, 89, 149, 0.5));
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 0px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.DCIMAllAssetCounterComponent .asset-info-wrap {}

.DCIMAllAssetCounterComponent .asset-icon-wrap {
    display: flex;
    align-items: center;
    height: 25px;
    margin-bottom: 15px;
}

.DCIMAllAssetCounterComponent .asset-icon-blank {
    width: 50px;
    height: 100%;
}

.DCIMAllAssetCounterComponent .asset-icon {}

.DCIMAllAssetCounterComponent .asset-img {
    height: 100%;
    display: inline-block;
    margin: 0 25px 0 30px;
}

.DCIMAllAssetCounterComponent .asset-counts-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    border: 1.5px solid rgba(71, 106, 151, 0.5);
    border-radius: 30px;
    margin-top: 6px;
    background: rgba(71, 106, 151, 0.2);
}

.DCIMAllAssetCounterComponent .asset-count-location {
    width: 50px;
    height: 25px;
    color: #fff;
    background: #476a98;
    border-radius: 30px;
    line-height: 20px;
    border: 1px solid #fff;
}


/*.DCIMAllAssetCounterComponent .margin-between{*/


/*width: 20px;*/


/*height: 25px;*/


/*}*/

.DCIMAllAssetCounterComponent .asset-count-wrap {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DCIMAllAssetCounterComponent .asset-count {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DCIMAllAssetCounterComponent .asset-count:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 11px;
    background: #7a9cda;
}

.DCIMAllAssetCounterComponent .asset-counter {
    flex: 1;
    color: #7a9cda;
    text-align: center;
    padding-left: 10px;
}

.DCIMAllAssetCounterComponent .asset-event-counter {
    flex: 1;
    color: #fff;
    text-align: center;
    padding-right: 10px;
}

.DCIMAllAssetCounterComponent .icon-bg {
    width: 65px;
    height: 53px;
    margin-top: 9px;
    position: absolute;
    left: -20px;
    top: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 40%, rgba(84, 94, 113, 0.4));
}

.DCIMAllAssetCounterComponent .icon-bg-close {
    /*right: -34px;
       left: auto;*/
}

.DCIMAllAssetCounterComponent .icon-bg>.bullet {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 5px solid #4582d5;
    border-bottom: 4px solid transparent;
    margin-left: -36px;
}

.DCIMAllAssetCounterComponent .icon-bg>.bullet-open {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 5px solid #4582d5;
    border-bottom: 4px solid transparent;
    margin-left: -36px;
}

.DCIMAllAssetCounterComponent .icon {
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.DCIMAllAssetCounterComponent .icon-opned {
    background-color: #6b61cb;
    color: #ffffff;
}

.DCIMAllAssetCounterComponent .icon-cloesed {
    font-size: 12px;
    color: #cacaca;
    border: 1px solid #cacaca;
}

.AssetCounterComponent .icon-bullet {
    width: 6px;
    height: 6px;
    background-color: transparent;
    border: 2px solid #f2f2f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 6px;
    margin-left: 2px;
}
