<template>
      <div class="page-tree-item" :class="[data.type != 'page' ? 'group' : 'page']">
            <div class="label">
                  <el-checkbox :disabled="data.disabled" v-if="data.type == 'page'" v-model="data.checked" class="label" style="width:100%;" :label="data.text " :key="data.id" border>
                        <div style="display:flex">
                              <div style="margin-right:5px">
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                              </div>
                              <div style="width:430px;">
                                    <p class="txt ellipsis" style="margin:0;">{{data.text}}</p>
                                    <p class="txt ellipsis" style="margin:0; font-size: 10px; color: #b6b6b6;">{{data.description}}</p>
                              </div>
                        </div>
                  </el-checkbox>
                  <el-checkbox v-else class="label group-item" style="width:100%;" v-model="data.checked" :label="data.text " :key="data.id" border @change="_selectAll(data.checked)">
                        <i class="fa fa-folder-o" aria-hidden="true"></i>
                        <span class="txt ellipsis">{{data.text}}</span>
                  </el-checkbox>
            </div>
            <export-pages-tree-item
                  v-if="data.children"
                  v-for="item in data.children"
                  :key="item.id"
                  :data="item"
            ></export-pages-tree-item>
      </div>
</template>

<script lang="ts">
    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
    import EditorStatic from "../../../controller/editor/EditorStatic";

    @Component({
        components: {
        }
    })
    export default class ExportPagesTreeItem extends Vue {
        @Prop({default: {text: '', children: [],  id: '', type: '',checked: false, count: 0, parentsStr: '', disabled: false }})
        data:any;


        hide(){
            this.$modal.hide('exportPagesModal');
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
        }

        _onHidden(){
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
        }

        _selectAll(data){
            let children = this.data.children;
            if( children && children.length ){
                let bool = false;
                let checkedLen = children.filter(x=>x.checked === true).length;
                if(children.length !== checkedLen){
                    bool = true;
                }

                this._childrenSelectAll(bool, children);
            }
        }

        _childrenSelectAll(bool, children){
            for( let index in children){
                let child = children[index];
                child.checked = bool;
                if(child.children){
                    this._childrenSelectAll(bool, child.children );
                }
            }
        }
    }
</script>
<style scoped>

</style>
