<template>
      <modal
            id="exportPagesModal"
            name="exportPagesModal"
            :clickToClose="true"
            :resizable="true"
            :width="570"
            :height="600"
            :min-width="570"
            :min-height="600"
            class="w-modal"
            @opened="modalOpened"
            @closed="hide"
            draggable=".modal-header">
            <div class="modal-header"><h4>{{$t('exportPages.title')}}</h4
            ><a class="close-modal-btn"  @click="hide" role="button"><i class="el-icon-error"></i></a></div>
            <div class="modal-body">
                  <div class="export-pages-wrap">
                        <div class="export-edit-wrap">
                              <div class="content-area" >
                                    <div class="page-list-wrap">
                                          <h5 class="title">{{$t('exportPages.pageList')}}</h5>
                                          <div class="d-flex align-items-center">
                                                <el-input class="search-field" size="small" v-model="searchStr"
                                                          :placeholder="$t('exportPages.enterPageName')">
                                                      <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                                      <i @click="clearSearchStr()"
                                                         class="clear-search-str el-icon-error el-input__icon"
                                                         slot="suffix"></i>
                                                </el-input>
                                          </div>
                                          <div class="d-flex flex" style="flex-direction: column;">
                                                <div>
                                                      <el-checkbox class="master-checkbox" v-model="isExportMasterInfo">{{$t('exportPages.withMaster')}}</el-checkbox>
                                                </div>
                                                <div class="page-list page-list-flex-scroll" v-show="!searchMode">
                                                      <template v-for="item in pageTreeData">
                                                            <export-pages-tree-item :data="item" ></export-pages-tree-item>
                                                      </template>
                                                </div>
                                                <div class="page-list page-search-list flex-scroll" v-show="searchMode">
                                                      <div class="page-tree-item flat"
                                                           v-if="resultList.length>0"
                                                           v-for="item in resultList"
                                                           :key="item.id"
                                                           :class="[item.type != 'page' ? 'group' : 'page']"
                                                      >
                                                            <div class="label" v-if="item.type == 'page'">
                                                                  <el-checkbox v-model="item.checked" class="label"
                                                                               style="width:100%;" :label="item.text "
                                                                               :key="item.id" border>
                                                                        <div class="flex" style="white-space: nowrap;">
                                                                              <div class="d-flex">
                                                                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                                                                    <div class="txt ellipsis">{{item.text}}
                                                                                    </div>
                                                                                    <span class="search-children-len"
                                                                                          v-if="item.type != 'page' && item.childrenFlat.length">
                                                            (+{{item.childrenFlat.length}})
                                                      </span>
                                                                              </div>
                                                                              <div class="parents-txt" v-if="item.parentsStr">
                                                                                    {{item.parentsStr}}
                                                                              </div>
                                                                        </div>
                                                                        <el-badge :value="item.count"></el-badge>
                                                                  </el-checkbox>
                                                            </div>
                                                      </div>
                                                      <div v-if="resultList.length==0"
                                                           style="margin: 10px 5px; color: #555;text-align: center;">
                                                            {{$t('exportPages.noSearchData')}}
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="bottom-btn-wrap d-flex justify-content-center">
                              <el-button size="small" @click="hide">{{$t('exportPages.cancel')}}</el-button>
                              <el-button type="primary" :disabled="buttonDisabled" size="small" @click="_onOk">{{$t('exportPages.export')}}</el-button>
                        </div>
                  </div>
            </div>
      </modal>
</template>

<script lang="ts">
    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
    import EditorStatic from "../../../controller/editor/EditorStatic";
    import ExportPagesTreeItem from "./ExportPagesTreeItem.vue";
    import pageApi from "../../../../common/api/pageApi";
    import FileManager from '../../../../wemb/wv/managers/FileManager';

    @Component({
        components: {
            ExportPagesTreeItem
        }
    })
    export default class ExportPagesModal extends Vue {
        selectedRow: any = {name: ''};
        pageList:Array<string> = [];
        rollingPageList:Array<string> = [];
        pageTreeData:Array<string> = [];
        flatPageTreeData:Array<any> = [];
        checkedPage:  Array<string> = [];
        resultList:Array<any> = [];
        searchStr: string = '';
        countObject: any = {};
        pageRootId: string = "wv_root";
        sortableEl: any = null;
        duration:string = '';
        currentPageId:string = '';
        isExportMasterInfo: boolean = false;
        public buttonDisabled:boolean = false;

        @Watch('searchStr', {immediate: true, deep: true})
        onSearchStrChanged(val: string, oldVal: string) {
            this.resultList.splice(0, this.resultList.length);
            if (this.searchMode) {
                var self = this;
                this.resultList = this.resultList.concat(this.flatPageTreeData.filter(
                    function (x) {
                        return x.text.toLowerCase().indexOf(self.searchStr.toLowerCase()) != -1
                    }));
            } else {
                this.resultList = this.resultList.concat(this.flatPageTreeData);
            }
        }

        get selectedPages(){
            return this.flatPageTreeData.filter(x=>x.checked === true && x.type !== 'root');
        }


        get searchMode() {
            if (this.searchStr.length > 0) {
                return true;
            } else {
                return false;
            }
        }

        show() {
            this.$modal.show('exportPagesModal');
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
        }

        modalOpened(){
            console.log("PAGE EXPORT MODAL");
            this.setPageTreeData();
        }

        _onOk() {
            let ids = this.selectedPages.map(x=>x.id);
            if( ids.length === 0 ){
                let locale_msg = Vue.$i18n.messages.wv.exportPages.noSelectPage;
                this.$message(locale_msg);
                return;
            }else{
                this.buttonDisabled = true;
                pageApi.exportPages({
                    "master" : this.isExportMasterInfo,
                    "ids" : ids
                }).then((response:any)=>{
                    this.exportJSON( response );
                    this.buttonDisabled = false;
                }).catch((error)=>{
                    this.buttonDisabled = false;
                });
            }
            //Export 후 모달 닫기
            this.hide();
        }

        exportJSON(data){
            // 파일 저장하기
            let fileManager = new FileManager();
            fileManager.saveTextFile("pages.json", JSON.stringify( data ));
            fileManager.onDestroy();
        }


        hide(){
            this.$modal.hide('exportPagesModal');
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
        }

        setPageTreeData() {
            this.flatPageTreeData = [];
            var flatData = $.extend(true, [], wemb.pageTreeDataManager.treeData);
            var rootData = flatData.find(function (x) {
                if (x.parent == '#') return x
            });

            var ary = [];
            if (rootData) {
                rootData.count = this.countObject[rootData.id];
                rootData.checked = false;
                rootData.parentsStr = "";

                ary.push(rootData);
                this.flatPageTreeData.push(rootData);
                rootData.children = this.__getChildrenData(rootData, flatData);
                rootData.childrenFlat = this.__getChildrenFlatData(rootData.id, flatData);
            }

            this.pageTreeData = ary;
            this.resultList.splice(0, this.resultList.length);
            this.resultList = this.resultList.concat(this.flatPageTreeData);
        }

        __getChildrenData(parentData, data) {
            var parentID = parentData.id;
            var ary = [];
            var filterData = data.filter(function (x) {
                return x.parent == parentID
            });

            for (var i = 0, len = filterData.length; i < len; i++) {
                var child = filterData[i];

                child.count = this.countObject[child.id];
                child.checked = false;

                if (!parentData.parentsStr) {
                    child.parentsStr = "";
                } else {
                    child.parentsStr = parentData.parentsStr + " > ";
                }

                child.parentsStr += parentData.text;

                this.flatPageTreeData.push(child);
                if (child.type == "group") {
                    child.children = this.__getChildrenData(child, data);
                    child.childrenFlat = this.__getChildrenFlatData(child.id, data);
                }
                ary.push(child);
            }
            return ary;
        }

        __getChildrenFlatData(parentID, data) {
            var ary = [];
            var filterData = data.filter(function (x) {
                x.parent == parentID
            });
            for (var i = 0, len = filterData.length; i < len; i++) {
                var child = filterData[i];
                ary.push(child);

                if (child.type == "group") {
                    ary.push(this.__getChildrenFlatData(child.id, data));
                }
            }

            return ary;
        }

        clearSearchStr() {
            this.searchStr = "";
        }

    }
</script>
<style scoped>
      .export-pages-wrap {
            display: flex;
            flex-direction: column;
            flex:1;
            padding: 0;
            height: 100%;
            width: 100%;
      }


      .export-pages-wrap > .export-edit-wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 14px 20px;
            border: 1px solid #d8dce5;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
      }



      .export-edit-wrap .master-checkbox{margin: 4px 0 14px 0;}
      .export-edit-wrap .master-checkbox >>> .el-checkbox__label{font-size: 12px;font-weight: bold;}
      .export-pages-wrap .title {font-size: 13px; margin: 4px 0 14px 0;}


      .export-pages-wrap > .export-edit-wrap .top-area .save-btn span {margin-left: 2px;}
      .export-pages-wrap > .export-edit-wrap .top-area .save-btn i {margin-right: 2px;}
      .export-pages-wrap > .export-edit-wrap .content-area {display: flex;flex: 1;}

      .export-pages-wrap > .export-edit-wrap .content-area .arrow-wrap {
            width: 40px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
      }

      .export-pages-wrap > .export-edit-wrap .content-area .page-edit-wrap { flex: 1; }

      .export-pages-wrap > .export-edit-wrap .content-area .arrow-wrap:before {
            content: '';
            position: absolute;
            top: 0;
            left: 19px;
            border-left: 1px solid #ededed;
            display: block;
            height: 100%;
      }

      .export-pages-wrap > .export-edit-wrap .content-area .arrow-wrap .arrow-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #595e65;
            color: #fff;
            border-radius: 5px;
            height: 90px;
            width: 18px;
            text-align: center;
            z-index: 0;
      }

      .export-pages-wrap > .export-edit-wrap h4 {
            font-size: 13px;
      }

      .export-pages-wrap > .export-edit-wrap .page-list-wrap {
            display: flex;
            flex-direction: column;
            flex:1;
            width: 100%;
      }

      .export-pages-wrap > .export-edit-wrap .page-list {
            padding: 0;
      }

      .export-pages-wrap > .export-edit-wrap .page-list > li > label {
            height: 34px;
            line-height: 34px;
            padding: 8px 8px 6px 10px;
      }

      .export-pages-wrap > .export-edit-wrap .page-list >>> .group-item {
            border-radius: 4px;
            border: 1px solid #e6e2e2;
            padding: 4px 8px;
      }


      .export-pages-wrap > .export-edit-wrap .page-list >>> .el-checkbox {
            display: flex;
      }

      .export-pages-wrap > .export-edit-wrap .page-list-wrap >>> .el-checkbox__label {
            font-size: 12px;
            padding-left: 6px;
      }

      /*전체 체크박스*/
      .export-pages-wrap > .export-edit-wrap .page-list >>> .el-checkbox__label {
            flex: 1;
            display: flex;
      }

      .export-pages-wrap > .export-edit-wrap .page-list >>> .el-checkbox__label > span {
            flex: 1;
            font-size: 12px;
      }

      .export-pages-wrap > .export-edit-wrap .page-list >>> .el-checkbox__label sup {
            top: 0;
      }

      .export-pages-wrap > .export-edit-wrap .page-list >>> .el-badge__content {
            background-color: #4690e6;
      }

      .export-pages-wrap > .export-edit-wrap .page-list >>> .el-checkbox__inner {
            display: none;
      }

      .export-pages-wrap .search-children-len {
            font-size: 11px;
            margin-left: 5px;
            color: #4690e6;
            font-weight: bold;
      }



      .export-pages-wrap .page-search-list .el-checkbox {
            height: auto !important;
      }

      .export-pages-wrap .page-search-list .parents-txt {
            font-size: 11px;
            color: #888;
      }

      .export-pages-wrap >>> .page-tree-item>.label{margin-bottom: 6px;}


      .export-pages-wrap >>> .page-tree-item:first-child {
            padding-left: 0;
      }

      .export-pages-wrap >>> .page-tree-item:not(.flat) {
            padding-left: 20px;
      }

      .export-pages-wrap >>> .page-list>.page-tree-item{padding-left:0 !important;}

      .export-pages-wrap >>> .page-tree-item.group > .label {
            background-color: #f5f5f5;
      }

      .export-pages-wrap >>> .page-tree-item .label .txt {
            margin-left: 5px;
      }

      .export-pages-wrap >>> .page-tree-item i {
            margin-top: 2px;
      }

      .export-pages-wrap >>> .page-tree-item .el-checkbox.is-bordered {
            padding: 2px 2px;
            height: auto;
      }

      .export-pages-wrap >>> .page-tree-item .el-checkbox.is-bordered.is-checked {
            padding: 2px 2px;
            height: auto;
            background-color: #b5e8ff;
            border-color: #d8dce5;
      }

      .export-pages-wrap .page-search-list .page-tree-item .el-checkbox.is-bordered {
            padding: 10px 10px 8px;
            height: auto;
      }

      .export-pages-wrap >>> .page-tree-item .el-checkbox__label {
            width: 100%;
      }

      .export-pages-wrap .bottom-btn-wrap{ margin: 10px 0 0 0;}

      .page-list-flex-scroll {
            overflow-x: hidden;
      }

</style>
