.DCIMAssetCounterComponent .container {
      display: inline-block;
}

.DCIMAssetCounterComponent .container  .border-label {
      display: block;
      border: 2px solid #3966b8;
      border-radius: 5px 16.5px 16.5px 16.5px;
      padding: 6px 12px;
      color: #519dff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
      box-shadow: 3px 3px 6px  rgba(0,0,0,0.2);
}

.DCIMAssetCounterComponent .container  .asset-info-back {
      display: inline-block;
      text-align: center;
      min-width: 160px;
      background-image: linear-gradient(rgba(37,89,149,0.5), rgba(82,92,163,0.5), rgba(82,92,163,0.5), rgba(37,89,149,0.5));
      box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
      border-radius: 15px;
      margin: 0px;
      padding: 20px;
      justify-content: space-around;
      align-items: center;

}

.DCIMAssetCounterComponent .container  .asset-info-back > .asset-wrap {
      width: 70px;
      height: 45px;
      display: inline-block;
}


.DCIMAssetCounterComponent .container  .asset-info-back > .asset-wrap >  .asset-count {
      width: 35px;
      height: 15px;
      border: 1px solid rgba(0,0,0,0.4);
      background: rgba(57,76,99,0.6);
      border-radius: 15px;
      float: left;
      position: absolute;
      display: inline-block;
      margin-top: 2px;
      overflow:hidden;
      color: #fff;
      font-size: 11px;
      text-align: center;
}

.DCIMAssetCounterComponent .container  .asset-info-back > .asset-wrap > .asset-event-count {
      width: 30px;
      height: 15px;
      border:  1px solid rgba(0,0,0,0.4);
      border-radius: 15px;
      display: inline-block;
      position: absolute;
      margin-top: 24px;
      margin-left: 38px;
      background: rgba(6,120,218,0.6);
      color: #fff;
      overflow:hidden;
      font-size: 11px;
      text-align: center;


}

.DCIMAssetCounterComponent .container  .asset-info-back > .asset-wrap >  .asset-image {
      width: 45px;
      height: 45px;
      display: inline-block;
      margin-left: 12px;
      overflow: hidden;
      border: none;
}




.DCIMAssetCounterComponent .icon-bg {
      width: 65px;
      height: 53px;
      margin-top: 9px;
      position: absolute;
      left: -20px;
      top: 0px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 40%, rgba(84, 94, 113, 0.4));
}

.DCIMAssetCounterComponent .icon-bg-close {
      /*right: -34px;
       left: auto;*/
}



.DCIMAssetCounterComponent .icon-bg > .bullet {
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-left: 5px solid #4582d5;
      border-bottom: 4px solid transparent;
      margin-left: -36px;
}

.DCIMAssetCounterComponent .icon-bg > .bullet-open {
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-right: 5px solid #4582d5;
      border-bottom: 4px solid transparent;
      margin-left: -36px;
}

.DCIMAssetCounterComponent .icon {
      display: inline-block;
      border-radius: 8px;
      cursor: pointer;
      font-size: 13px;
      text-align: center;
      width: 15px;
      height: 15px;
      line-height: 15px;
}

.DCIMAssetCounterComponent .icon-opned {
      background-color: #6b61cb;
      color: #ffffff;
}

.DCIMAssetCounterComponent .icon-cloesed {
      font-size: 12px;
      color: #cacaca;
      border: 1px solid #cacaca;
}

.DCIMAssetCounterComponent .icon-bullet {
      width: 6px;
      height: 6px;
      background-color: transparent;
      border: 2px solid #f2f2f2;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      display: inline-block;
      margin-right: 6px;
      margin-left: 2px;
}

