<template>
    <div class="form-comp">
        <el-input type="textarea" placeholder="key" v-model="key"></el-input>     
        <el-input if="locales && locales.length" v-for="(item, index) in locales" :key="index" 
            type="textarea" :placeholder="item" v-model="values[index]"></el-input>
         <el-button type="primary" @click="add">Add</el-button>
    </div>
</template>
<script lang="ts">
import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';

/**
 * 상단 다국어 정보 입력 form
 * 사용자가 설정한 locales정보(config.json)에 따라 input 제공
 */
@Component({
    components: {
      
    }
})
export default class MultilingualFormComponent extends Vue {
    public locales:Array<string>=[];
    public key:string = "";
    public values:Array<string> = [];
    static readonly EVENT_ADD_ITEM:string = "event/addItem";
    
    created(): void {

	}

    mounted() {        
    }

    //사용자가 설정한 locales정보(config.json)
    public setLocales(locales:Array<string>){
        this.locales = locales;
        this.init();
    }

    init(){
        this.key="";
        this.values.splice(0, this.values.length);
        for(let i=0, len=this.locales.length; i<len; i++){
            this.values[i]= "";
        }
    }


    //입력된 정보를 저장 포맷으로 가공하여 반환
    getValues():any{
        let data = {};
        for(let i=0, len=this.locales.length; i<len; i++){
            data[this.locales[i]] = this.values[i].trim();
        }

        return data;
    }

    add(){
        if(!this.key){
            this.$message("Please enter a key value.");
            return;
        }

        //console.log( this.getValues());
        this.$emit(MultilingualFormComponent.EVENT_ADD_ITEM, {key: this.key.trim(), value: this.getValues()});
    }
}
</script>
<style>
.form-comp{
    width:100%;
    display: flex;
}
.form-comp>.el-textarea{flex:1;margin-right:6px;}

</style>
