<template>
  <div class="multilingual-manager-main">
        <multilingual-form-component ref="formComp"></multilingual-form-component>       
        <div class="table-wrap">
            <div class="search-wrap d-flex">
                <el-select style="margin-right:6px;"
                    v-model="searchType" placeholder="select search type">
                    <el-option
                    v-for="item in types"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
                <el-input style="width: 300px;"
                    placeholder="search"
                    v-model="searchStr">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
                <span class="flex"></span>
                <a class="upload-btn" role="button">File Import
                    <input type="file" accept=".json, json/*"/>
                </a>
                <el-button type="primary" size="small" :disabled="!searchItems.length" @click="onClickExportFile">File Export</el-button>
                <el-button type="danger" size="small" @click="onClickRemoveItems">Delete</el-button>
                <el-button type="danger" size="small" @click="onClickRemoveAll">Delete All</el-button>
            </div>            
            <el-table
                border
                ref="multipleTable"
                empty-text="no data"
                :data="localeSearchItems"
                style="width: 100%"
                @selection-change="handleSelectionChange">
                <el-table-column
                    type="selection"
                    width="34">
                </el-table-column>
                <el-table-column label="key">
                    <template slot-scope="scope">
                       <el-input 
                        class="readonly"
                        readonly
                        :autosize="{ minRows: 1, maxRows: 4}" type="textarea" placeholder="key" v-model="scope.row.key"></el-input>
                    </template>
                </el-table-column>
                <el-table-column 
                    v-for="item in locales" :key="item.key"
                    :label="item">                    
                    <template slot-scope="scope">
                        <el-input 
                            :class="{readonly: !scope.row.editMode}"
                            :readonly="!scope.row.editMode"
                            :autosize="{ minRows: 1, maxRows: 4}" type="textarea" placeholder="" v-model="scope.row[item]"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="" width="86">                       
                    <template slot-scope="scope"> 
                        <template v-if="!scope.row.editMode">
                            <el-tooltip content="edit" placement="top">                           
                                <el-button class="icon-btn" type="primary" size="" @click="onClickEditItem(scope.row)"><i class="fa fa-edit"></i></el-button>
                            </el-tooltip>
                         </template>
                        <template  v-if="scope.row.editMode">
                            <el-tooltip content="update" placement="top">
                                <el-button class="icon-btn" type="success" size="" @click="onClickUpdateItem(scope.row)"><i class="fa fa-check"></i></el-button>
                            </el-tooltip>
                        </template>

                        <el-tooltip content="copy to clipboard" placement="top">
                            <el-button class="icon-btn" type="primary" size="" @click="onClickCopyToClipboard(scope.row.key)" ><i class="fa fa-clipboard"></i></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    style="margin-top:15px; text-align:center;"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage"
                    :page-sizes="[20, 50, 100, 200]"
                    :page-size="page_size"
                    :page-count="pageCount"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalCount">
            </el-pagination>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
import MultilingualEditorFacade from "../MultilingualEditorFacade";
import MultilingualFormComponent from './MultilingualFormComponent.vue';

@Component({
    components: {
      MultilingualFormComponent
    }
})
export default class MultilingualEditorMainComponent extends Vue {
    public locales: Array<string>=[];
    public types: Array<any> =[];
    public searchType: string = "";
    public searchStr: string = "";
    private selectedKeys;
    public searchItems:Array<any>= [];
    public localeItems:Array<any> = [];

    public allLocaleItems: Array<any> = [];
    public currentPage: number = 1;
    public pageSize: number = 20;
    public pageCount: number = 0;
    public totalCount : number = 0;

    static readonly EVENT_ADD_LOCALE_ITEM:string = "event/addLocaleItem";
    static readonly EVENT_REMOVE_LOCALE_ITEMS:string = "event/removeLocaleItems";
    static readonly EVENT_REMOVE_ALL_LOCALE:string = "event/removeAllLocale";
    static readonly EVENT_UPDATE_LOCALE_ITEM:string = "event/updateLocaleItem";
    
    static readonly EVENT_COPY_CLIPBOARD:string = "event/copyToClipboard";

    static readonly EVENT_IMPORT_FILE:string = "event/importFile";
    static readonly EVENT_EXPORT_FILE:string = "event/exportFile";
    
   
    created(): void {
        window.wemb= {};
        window.wemb.viewComponentMap = new Map();
	}

    get localeSearchItems () {
        let searchStr = this.searchStr.trim();
        if(searchStr){
              this.searchItems = this.allLocaleItems.filter((x)=>{
                    let data = x[this.searchType];
                    if(data && data.indexOf(searchStr) != -1){
                          return true;
                    }
              })
        }else{
              this.searchItems = this.allLocaleItems;
        }

        this.totalCount = this.searchItems.length;
        this.pageCount = Math.ceil(this.totalCount / this.pageSize);
        this.searchItems = this.searchItems.slice((this.currentPage - 1) * this.pageSize, (this.currentPage - 1) * this.pageSize + this.pageSize);

        return this.searchItems;
    }

    mounted() {        
        let facade: MultilingualEditorFacade = MultilingualEditorFacade.getInstance(MultilingualEditorFacade.NAME);
        facade.startup(this);
    }

    public init(locales){
        this.locales = locales;
        let formComp = <MultilingualFormComponent>this.$refs.formComp;
        formComp.setLocales(this.locales);
        let self = this;
        formComp.$on(MultilingualFormComponent.EVENT_ADD_ITEM, function(item){
            self.addLocaleItem(item);
        })

        this.setSearchTypes();
        this.bindUploadEvent();
    }

    private bindUploadEvent(){
        //파일 가져오기
        let self = this; 
        let $uploadBtn = $(".upload-btn");
        $(this.$el).on('change', 'input[type=file]', function (e:any) {
            var file:any = e.target.files[0];
            self.$emit(MultilingualEditorMainComponent.EVENT_IMPORT_FILE, file);
            $uploadBtn.find("input").remove();
            $uploadBtn.append('<input type="file" accept=".json, json/*">');
        });
    }

    public resetFormField(){
        let formComp = <MultilingualFormComponent>this.$refs.formComp;
        formComp.init();
    }

    setSearchTypes(){
        let ary = [{ "value": "key", "label": "key" }];
        let defaultType = "key";
        for( let i=0,len=this.locales.length; i<len; i++ ){
            let label = this.locales[i];            
            if(i==0){
                defaultType = label;
            }
            ary.push({ "value": label, "label": label });
        }

        this.types = ary;
        this.searchType = defaultType;
    }

    private addLocaleItem(item:any){
        this.$emit( MultilingualEditorMainComponent.EVENT_ADD_LOCALE_ITEM, item);
    }

    public setLocaleItems(items:Array<any>){
        this.selectedKeys=[];
        this.allLocaleItems = items;
    }

    private onClickCopyToClipboard(key:string){
        this.$emit( MultilingualEditorMainComponent.EVENT_COPY_CLIPBOARD, key);
    }

    private onClickEditItem(item){
        item.editMode = true;
    }

    private onClickUpdateItem(rowItem){
        let data = JSON.parse( JSON.stringify(rowItem));
        let key = data.key;
        delete data.key;
        delete data.editMode;
        this.$emit( MultilingualEditorMainComponent.EVENT_UPDATE_LOCALE_ITEM, {key: key, value: data});
    }

    private onClickRemoveItems(){
        if( !this.selectedKeys.length ){
            this.$message("No items selected.");
            return;
        }

        this.$emit(MultilingualEditorMainComponent.EVENT_REMOVE_LOCALE_ITEMS, this.selectedKeys);
    }

    private onClickRemoveAll(){
          this.$emit(MultilingualEditorMainComponent.EVENT_REMOVE_ALL_LOCALE)
    }

    handleSelectionChange(rows){
        this.selectedKeys = rows.map(x=>x.key);
    }


    onClickExportFile(){
        this.$emit(MultilingualEditorMainComponent.EVENT_EXPORT_FILE);
    }

    handleSizeChange(val) {
          this.pageSize = val;
          console.log(`${val} items per page`);
    }

    handleCurrentChange(val) {
          console.log(`current page: ${val}`);
          this.currentPage = val;
          // this.pageProcessing();
    }
}
</script>
<style scoped>
.multilingual-manager-main{
    min-width: 700px;
    height: 100%;
    overflow: scroll;
    padding: 10px;
}

.table-wrap{
    margin-top: 16px;
}

.search-wrap{
    margin-bottom: 8px;
}

.multilingual-manager-main >>> .el-textarea.readonly>textarea{
    border:none;
    background-color: transparent;
    resize: none;
}
.no-data{padding: 30px; text-align: center;}
.multilingual-manager-main >>> .el-button.icon-btn{
    margin-left: 0px;
}

a.upload-btn{
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #d8dce5;
    border-color: #d8dce5;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 9px 13px 7px 13px;
    font-size: 12px;
    border-radius: 3px;
    margin-right: 4px;
    color: #fff !important;
    background-color: #363a45;
    border-color: #363a45;
}

a.upload-btn:hover{
    background: #5e616a;
    border-color: #5e616a;
    color: #fff;
}

a.upload-btn >>> input[type=file]{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
    text-indent: -5000px;
}
</style>

