.rack-search-ui.wrap {
    padding: 6px;
    height: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.rack-search-ui .tree-wrap {
    flex: 1;
    overflow: auto;
}

.rack-search-ui .nh-demo-tree {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.rack-search-ui .field-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.rack-search-ui .field-wrap select,
.rack-search-ui .field-wrap input {
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    padding: 0 8px;
    font-size: 12px;
    color: #5a5e66;
    border: 1px solid #d8dce5;
    background-color: #fff;
    border-radius: 3px;
    outline: none;
}

.rack-search-ui .field-wrap select {
    width: 90px;
}

.rack-search-ui .field-wrap input {
    margin-left: 6px;
    flex: 1;
}