<template>
	<div class="edit-area-toolbar-wrap">

		<div class="layer-group">
			<div class="w-btn-group">
				<el-tooltip class="item" effect="dark" content="copy" placement="top">
					<button class="w-btn img-icon-btn icon-copy" @click="onCopy" :disabled="!editButtons.copy">
						copy
					</button>
				</el-tooltip>
				<el-tooltip class="item" effect="dark" content="cut" placement="top">
					<button class="w-btn img-icon-btn icon-cut" @click="onCut" :disabled="!editButtons.cut">
						cut
					</button>
				</el-tooltip>
				<el-tooltip class="item" effect="dark" content="paste" placement="top">
					<button class="w-btn img-icon-btn icon-paste" @click="onPaste" :disabled="!editButtons.paste">
						paste
					</button>
				</el-tooltip>
				<el-tooltip class="item" effect="dark" content="delete" placement="top">
					<button class="w-btn img-icon-btn icon-del" @click="onDelete" :disabled="!editButtons.delete">
						delete
					</button>
				</el-tooltip>
			</div>
			<!--
                  <div class="w-btn-group">
                        <el-tooltip class="item" effect="dark" content="delete" placement="top">
                              <button class="w-btn img-icon-btn icon-del" @click="onDCIM">
                                    DCIM
                              </button>
                        </el-tooltip>
                  </div>-->

		</div>

	</div>
</template>

<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import WorkAreaToolbarMediator from "./WorkAreaToolbarMediator";
	import ComponentCounter from "../../../../wemb/core/utils/ComponentCounter";

	@Component({
		components: {}
	})
	export default class WorkAreaToolbar extends Vue {
		public static readonly  EVENT_DELETE_SELECTED_COM_INSTANCE:string="event/deleteSelectedComInstance";
		public static readonly  EVENT_COPY_SELECTED_COM_INSTANCE:string="event/copySelectedComInstance";
		public static readonly  EVENT_PASTE_COM_INSTANCE:string="event/pasteSelectedComInstance";
		public static readonly  EVENT_CUT_SELECTED_COM_INSTANCE:string="event/cutSelectedComInstance";
		public editButtons = {
			copy: false,
			cut: false,
			paste: false,
			delete: false
		}

		public editMode:string="";

		mounted() {
			console.log("step 01, mounted(), EditAreaToolbar");
			window.wemb.viewComponentMap.set(WorkAreaToolbarMediator.NAME, this);
		}





		changeWorkMode(mode) {
			console.log("mode ", mode);

		}

		setVisibleToEditMode(mode) {

		}



		onDelete() {
			this.$emit(WorkAreaToolbar.EVENT_DELETE_SELECTED_COM_INSTANCE);
		}

		onCopy() {
			this.$emit(WorkAreaToolbar.EVENT_COPY_SELECTED_COM_INSTANCE);
		}

		onPaste() {
			this.$emit(WorkAreaToolbar.EVENT_PASTE_COM_INSTANCE);
		}

		onCut() {
			this.$emit(WorkAreaToolbar.EVENT_CUT_SELECTED_COM_INSTANCE);
		}



            onDCIM(){
                  //window.open(window.wemb.configManager.serverUrl+"/client/packs/dcim_pack/main/index.html","_blank","left=0,top=0,scrollbars=1,resizable=1");
                  console.log("@@@ASDFASDFSDF");
                  window.open("./client/packs/dcim_pack/main/index.html","_blank","left=0,top=0,scrollbars=1,resizable=1");
            }
		//////////////////////////////////////////////////////////////






            //////////////////////////////////////////////////////////////
            noti_closedPage(){
                  this.editButtons.copy = false;
                  this.editButtons.cut = false;
                  this.editButtons.paste = false;
                  this.editButtons.delete = false;
            }

            noti_updateSelectedInfo(selectedComInstanceList:Array<any>, copyComInstanceList:Array<any>){

		      if(selectedComInstanceList.length==0){
                        this.editButtons.copy = false;
                        this.editButtons.cut = false;
                        this.editButtons.delete=false;
                  }

                  if(selectedComInstanceList.length>=1){
                        this.editButtons.copy = true;
                        this.editButtons.cut = true;
                        this.editButtons.delete=true;
                  }


                  if(copyComInstanceList.length>=1){
                        this.editButtons.paste = true;
                  }

                  if(selectedComInstanceList.some(instance => ComponentCounter.shouldBeOneComponent(instance.componentName))) {
                      this.editButtons.copy = false;
                  }
             }

	}


</script>

<style scoped>
	.edit-area-toolbar-wrap {
		display: inline;
	}

	.layer-group {
		display: inline;
		margin-right: 16px;
	}
</style>
