.bullet-label-component {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.bullet-label-component {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.draw-target .bullet-label-component {
    overflow: auto;
}

.bullet-label-list {
    display: flex;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.bullet-label-list .bullet {
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    min-width: 3px;
    min-height: 3px;
    font-size: 14px;
    width: 10px;
    height: 10px;
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-right: 5px;
}

.bullet-label-list .bullet-shape-wrap {
    display: flex;
    align-items: center;
    justify-content: stretch;
    align-self: center;
    flex: auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bullet-label-component .label {
    display: flex;
    align-items: center;
    padding: 0;
}

.bullet-label-component .txt {
    font-size: 14px;
    white-space: nowrap;
    padding: 0;
    user-select: "none";
    word-wrap: "break-word";
    white-space: "pre-wrap";
}


/* Bullet Shape CSS */

.bullet-shape.arrow-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 50px 25px;
    border-color: transparent transparent #000 transparent;
    background: rgba(0, 0, 0, 0)!important;
}

.bullet-shape.square {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.bullet-shape.circle {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #000;
}

.bullet-colors-list {
    display: flex;
    align-items: flex-start;
}