<template>
    <modal
            class="w-modal"
            id="bullet-label-comp-extension"
            name="bullet-label-comp-extension"
            @opened="modalOpened"
            :click-to-close="false"
            :resizable="true"
            :draggable="false"
            :width="600"
            :height="500"
            :min-width="600"
            :min-height="500"
    >
        <div class="modal-header">
            <h4>Bullet Label Component Settings</h4>
            <a class="close-modal-btn" role="button" @click="hide">
                <i class="el-icon-error"></i>
            </a>
        </div>
        <div class="modal-body" data-popupname="bullet-label-comp-popup">
            <div class="wrap">
                <div class="content-wrap">
                    <!--preview-->
                    <h5>Preview</h5>
                    <div class="preview-wrap" style="border:1px solid #ddd;margin-bottom:20px;padding:20px;">
                        <div class="draw-target">
                            <ul class="bullet-label-component my-preview">
                                <li v-for="(item, index) in items" :key="index" class="bullet-label-list" style="margin-right: 20px;">
                                   <div class="bullet">
                                        <div class="bullet-shape-wrap">                                             
                                            <div v-if="bullet == 'arrow-up'" class="bullet-shape" :class="bullet" :style="'border-bottom-color:'+item.color"></div>
                                            <div v-else class="bullet-shape" :class="bullet" :style="'background-color:'+item.color"></div>
                                        </div>
                                    </div>
                                    <div class="label">
                                        <div class="txt">{{item.label}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--//preview-->
                    <h5>Bullet Shape</h5>
                    <div class="d-flex flex-row"  style="margin-bottom:20px;padding:10px 10px 10px 4px;">
                        <div style="display:flex">
                            <template v-for="item in bulletTypes">
                            <label :for="'type-'+item" style="display: flex;align-items: center;">
                                <input type="radio" :id="'type-'+item" :value="item" v-model="bullet"
                                    @change="bulletSelectChanged($event)" name="bullet-radio-group">                               
                                    <div class="bullet-label-list">
                                        <div class="bullet" style="width: 10px; height: 10px; margin-right:20px; align-items: center;">
                                            <div class="bullet-shape-wrap" style="margin-left:16px;">
                                                <div class="bullet-shape" :class="item"
                                                    style="background-color: rgb(0, 0, 0);"></div>
                                            </div>
                                        </div>
                                    </div>
                            </label>
                            </template>
                        </div>
                    </div>
                    <div class="d-flex flex-column" >
                        <h5>Group Items</h5>
                        <div>
                            <div class="register-tim-wrap d-flex">
                                <div class="item" style="width:100%;margin-right:6px;">
                                    <el-input class="input-label" type="text" size="small" placeholder="Item Name"
                                              v-model="newItemName"  @keyup.enter.native="addItem"></el-input>
                                </div>
                                <el-button type="primary" size="small" @click="addItem">{{$t('common.add')}}</el-button>
                            </div>
                            <br>
                            <div class="itemInputGroup" style="padding:20px;border:1px solid #ddd;">
                                <ul class="item-list">
                                    <li v-for="(item, index) in items" :key="index">
                                        <color-picker v-model="item.color" show-alpha></color-picker>
                                        <el-input class="input-label input" type="text" size="small" placeholder="Item Name"
                                                  v-model="item.label"></el-input>
                                        <el-button type="danger" size="small" @click="removeItem(item)"><i class="fa fa-trash-o"></i></el-button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="btn-wrap">
                    <el-button class="bottom-btn" size="small" @click="hide">{{$t('common.cancel')}}</el-button>
                    <el-button class="bottom-btn" type="primary" size="small" @click="_onOk">{{$t('common.apply')}}</el-button>
                </div>
            </div>
        </div>
    </modal>
</template>
<script>
	module.exports = {
		data: function() {
			return {
                bulletTypes: ["circle", "arrow-up", "square"],
				componentInstance: null,
				newItemName: '',
				items: [],
				$itemListWrap: null,
				bullet: 'circle'
			};
		},

		mounted: function mounted() {

		},

		methods: {
			setComponent: function(componentInstance) {
				this.componentInstance = componentInstance;
				this.items = $.extend(true, [], this.componentInstance.getGroupPropertyValue("setter", "items") );
				this.bullet = this.componentInstance.getGroupPropertyValue("bullet_style", "bullet");
			},

			show: function() {
				this.$modal.show('bullet-label-comp-extension');
			},

			modalOpened: function() {
				this.init();
			},

			init: function() {
                this.isModified = false;
                this.newItemName = '';
			},

			hide: function() {
				var self = this;
				var locale_msg = this.$i18n.messages.wv;
				this.$confirm(locale_msg.common.confirmExitWindow, 'Confirm', {
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancel',
					type: 'warning'
				}).then(function () {                    
					self._onHidden();
				}).catch(function () {
				});
			},

			_onHidden: function() {
				this.$modal.hide('bullet-label-comp-extension');
				this.$emit("closed");
			},

			bulletSelectChanged: function bulletSelectChanged($event) {
                let $target = $("#bullet-label-comp-extension .draw-target .bullet-shape");
				$target.removeClass("circle square arrow-up");
				$target.addClass(this.bullet);
			},

            removeItem:function(item){
                let index = this.items.indexOf(item);
                this.items.splice(index, 1);
            },

			_onOk: function() {
				var locale_msg = this.$i18n.messages.wv;
				this.componentInstance.setGroupPropertyValue("setter", "items", this.items);
				this.componentInstance.setGroupPropertyValue("bullet_style", "bullet", this.bullet);		
                this.$message.success(locale_msg.common.successSave);
			},		

			addItem: function() {
				var itemName = this.newItemName.trim();
				if (!itemName.length) {
					Vue.message.error("Tab Name을 입력하세요.");
					return;
				}

				this.items.push({"label":itemName, "color": "#000000"});
				this.newItemName = '';
			}
		}
	};


</script>
<style scoped>
    .modal-body {
        flex-direction: column;
    }

    .wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .btn-wrap{margin: 16px 0 0 0;}
    .content-wrap{flex:1;overflow: auto;}

    .item-list li{
        display: flex; 
        align-items: center;
        margin-bottom: 8px;
    }

    .item-list li .el-input{
        margin: 0 6px;
    }
</style>




