.dcim-asset-filter-icon {
}

.dcim-asset-filter-icon > .container {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
}

.dcim-asset-filter-icon > .container > .btn {
      width: 56px;
      height: 63px;
      /*background-image: linear-gradient(rgba(53, 95, 172, 0.2) 19%, rgba(89, 148, 255, 0.2) 32%, rgba(53, 95, 172, 0.2) 46%, rgba(53, 95, 172, 0.2) 65%, rgba(89, 148, 255, 0.2) 79%, rgba(53, 95, 172, 0.2) 92%);
      background-repeat: no-repeat;
      background-position: center center;*/
      margin-left: 3px;
      cursor: pointer;
}

.dcim-asset-filter-icon > .container > .btn-normal {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4582d5;
      border: 2px dotted #3763ae;
      font-size: 15px;
      font-weight: bold;
      border-radius: 41px;
      width: 55px;
      height: 55px;
      box-shadow: 0px -4px 2px 1px rgba(0, 0, 0, 0.3);
}

.dcim-asset-filter-icon > .container > .btn-normal > .label {
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      text-align: center;
}

.dcim-asset-filter-icon > .container > .btn-all {
      background-image: url('./resource/btn_all.png');
}

.dcim-asset-filter-icon > .container > .btn-all.active {
      background-image: url('./resource/btn_all_select.png');
}


.dcim-asset-filter-icon > .container > .btn-normal.active,
.dcim-asset-filter-icon > .container > .btn-normal:hover {
      color: #b3d3ff;
      background-image: linear-gradient(rgba(53, 95, 172, 0.7) 19%, rgba(89, 148, 255, 0.7) 32%, rgba(53, 95, 172, 0.7) 46%, rgba(53, 95, 172, 0.7) 65%, rgba(89, 148, 255, 0.7) 79%, rgba(53, 95, 172, 0.7) 92%);
}

/*

.dcim-asset-filter-icon>.container>.Access {
    background-image: url('icon/btn_access.png');
}

.dcim-asset-filter-icon>.container>.Fire {
    background-image: url('./icon/btn_fire.png');
}

.dcim-asset-filter-icon>.container>.CCTV {
    background-image: url('icon/btn_cctv.png');
}

.dcim-asset-filter-icon>.container>.WaterLeak {
    background-image: url('./icon/btn_leak.png');
}

.dcim-asset-filter-icon>.container>.GasLeak {
    background-image: url('./icon/btn_gasSensor.png');
}

.dcim-asset-filter-icon>.container>.EarthQuake {
    background-image: url('./icon/btn_earthquakeSensor.png');
}

.dcim-asset-filter-icon>.container>.exit {
      background-image: url('./icon/exit.png');
}

.dcim-asset-filter-icon>.container>.Access.active,
.dcim-asset-filter-icon>.container>.Access:hover {
    background-image: url('icon/btn_access_active.png');
}

.dcim-asset-filter-icon>.container>.Fire.active,
.dcim-asset-filter-icon>.container>.Fire:hover {
    background-image: url('./icon/btn_fire_active.png');
}

.dcim-asset-filter-icon>.container>.CCTV.active,
.dcim-asset-filter-icon>.container>.CCTV:hover {
    background-image: url('icon/btn_cctv_active.png');
}

.dcim-asset-filter-icon>.container>.WaterLeak.active,
.dcim-asset-filter-icon>.container>.WaterLeak:hover {
    background-image: url('./icon/btn_leak_active.png');
}

.dcim-asset-filter-icon>.container>.GasLeak.active,
.dcim-asset-filter-icon>.container>.GasLeak:hover {
    background-image: url('./icon/btn_gasSensor_active.png');
}

.dcim-asset-filter-icon>.container>.EarthQuake.active,
.dcim-asset-filter-icon>.container>.EarthQuake:hover {
    background-image: url('./icon/btn_earthquakeSensor_active.png');
}

.dcim-asset-filter-icon>.container>.Server {
      background-image: url('./icon/btn_server.png');
}
.dcim-asset-filter-icon>.container>.Server.active,
.dcim-asset-filter-icon>.container>.Server:hover {
      background-image: url('./icon/btn_server_active.png');
}

.dcim-asset-filter-icon>.container>.Network {
      background-image: url('./icon/btn_network.png');
}
.dcim-asset-filter-icon>.container>.Network.active,
.dcim-asset-filter-icon>.container>.Network:hover {
      background-image: url('./icon/btn_network_active.png');
}

.dcim-asset-filter-icon>.container>.Rack {
      background-image: url('./icon/btn_rack.png');
}
.dcim-asset-filter-icon>.container>.Rack.active,
.dcim-asset-filter-icon>.container>.Rack:hover {
      background-image: url('./icon/btn_rack_active.png');
}

.dcim-asset-filter-icon>.container>.PDU {
      background-image: url('./icon/btn_pdu.png');
}
.dcim-asset-filter-icon>.container>.PDU.active,
.dcim-asset-filter-icon>.container>.PDU:hover {
      background-image: url('./icon/btn_pdu_active.png');
}

.dcim-asset-filter-icon>.container>.Thermohygrostat {
      background-image: url('./icon/btn_thermo.png');
}
.dcim-asset-filter-icon>.container>.Thermohygrostat.active,
.dcim-asset-filter-icon>.container>.Thermohygrostat:hover {
      background-image: url('./icon/btn_thermo_active.png');
}

.dcim-asset-filter-icon>.container>.Storage {
      background-image: url('./icon/btn_storage.png');
}
.dcim-asset-filter-icon>.container>.Storage.active,
.dcim-asset-filter-icon>.container>.Storage:hover {
      background-image: url('./icon/btn_storage_active.png');
}

.dcim-asset-filter-icon>.container>.Backup {
      background-image: url('./icon/btn_backup.png');
}
.dcim-asset-filter-icon>.container>.Backup.active,
.dcim-asset-filter-icon>.container>.Backup:hover {
      background-image: url('./icon/btn_backup_active.png');
}

.dcim-asset-filter-icon>.container>.MDM {
      background-image: url('./icon/btn_mdm.png');
}
.dcim-asset-filter-icon>.container>.MDM.active,
.dcim-asset-filter-icon>.container>.MDM:hover {
      background-image: url('./icon/btn_mdm_active.png');
}
*/
