<template>
      <div id="app-main" v-cloak>
            <router-view/>
      </div>
</template>

<script lang="ts">
      import Vue from 'vue';
      import Component from "vue-class-component";
      import ViewerMainComponent from "./viewer/view/ViewerMainComponent";

      @Component({
            components: {ViewerMainComponent}
      })
      export default class App extends Vue {
            name: string = 'app';

            created() {
            }
      }


</script>

<style>

</style>
