<template>
  <div class="script-edit-main d-flex">

         <div class="wscript-target-list" v-if="toggleTargetList">
            <div class="group-box">
                <span class="category-txt">Global</span>
                <ul class="comp-list">
                    <li @click="selectedListItem('common')"
                        :class="{selected: currentTarget.type == 'common'}">Common</li>
                </ul>
            </div>
            <div class="group-box">
                <span class="category-txt">Screen</span>
                <ul class="comp-list">
                    <li @click="selectedListItem('stage')"
                        :class="{selected: currentTarget.type == 'stage'}">Stage</li>
                    <li @click="selectedListItem('page')"
                        :class="{selected: currentTarget.type == 'page'}">Page</li>
                </ul>
            </div>
        </div>
        <!--
       <div class="d-flex flex" style="flex-direction:column">
            <div class="d-flex flex" v-show="isReady">
                  <script-edit-area-component
                      ref="focusArea"
                      class="focus-area flex d-flex flex-column"
                      @updateFocusTargetEvents="updateFocusTargetEvents($event)"
                      @toggleLeftUI="toggleLeftUI()"
                      @toggleRightUI="toggleRightUI()"></script-edit-area-component>
                  <code-snippets-main-component class="code-snippets" v-show="toggleSnippets"></code-snippets-main-component>

            </div>
            <component-info-component  v-show="false"></component-info-component>
       </div>-->

        <Split style="height: 100%" direction="vertical" @onDragEnd="resizeEditorArea" @onDrag="resizeEditorArea">
              <SplitArea  :size="70">
                    <div class="d-flex flex" v-show="isReady" style="height:100%">
                          <script-edit-area-component
                                ref="focusArea"
                                class="focus-area flex d-flex flex-column"
                                @updateFocusTargetEvents="updateFocusTargetEvents($event)"
                                @toggleLeftUI="toggleLeftUI()"
                                @toggleRightUI="toggleRightUI()"></script-edit-area-component>
                          <code-snippets-main-component class="code-snippets" v-show="toggleSnippets" ref="codeSnippetsMain"></code-snippets-main-component>
                    </div>
              </SplitArea>
              <SplitArea :size="30">
                    <component-info-component v-show="!isBlur" style="height:100%" ></component-info-component>
              </SplitArea>
        </Split>




    </div>
</template>
<script lang="ts">
import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
import ScriptEditorFacade from "../ScriptEditorFacade";
import ScriptEditAreaComponent from "./ScriptEditAreaComponent.vue";
import CodeSnippetsMainComponent from './code-snippets/CodeSnippetsMainComponent.vue';
import ComponentInfoComponent from './component-info/ComponentInfoComponent.vue';
import VueSplit from 'vue-split-panel';

Vue.use(VueSplit);

@Component({
    components: {
        ScriptEditAreaComponent,
        CodeSnippetsMainComponent,
        ComponentInfoComponent
    }
})
export default class ScriptEditorMainComponent extends Vue {
    static readonly  EVENT_TEST:string ="event/Test";
    static readonly EVENT_SELECTED_LIST_ITEM:string = "event/selectedListItem";
    static readonly EVENT_UPDATE_FOCUS_TARGET_EVENTS:string = "event/updateFocusTargetEvents";

    public toggleTargetList: boolean = true;
    public toggleSnippets: boolean = true;
    public isReady = false;
    public currentTarget: any = {type: "", id: ""}
    private isBlur:boolean = false;

    created(): void {
          window.wemb= {};
          window.wemb.viewComponentMap = new Map();

	}

    mounted() {
        let facade: ScriptEditorFacade = ScriptEditorFacade.getInstance(ScriptEditorFacade.NAME);
        facade.startup(this);
    }

    resizeEditorArea(size){
        this.$refs.focusArea.resizeEditor();
    }


    blur(){
        this.$refs.focusArea.blur();
        this.isBlur = true;
    }

    focus(type, targetData ){
        if(targetData){
            this.$refs.focusArea.focus( targetData );
            this.isBlur = false;
        }
    }

    updateCurrentTarget(type, id){
        this.currentTarget.type = type;
        this.currentTarget.id = id;
    }

    toggleLeftUI(){
        this.toggleTargetList = !this.toggleTargetList;
    }

    toggleRightUI(){
        this.toggleSnippets = !this.toggleSnippets;
        let observer = new MutationObserver(mutations => {
            mutations.forEach(() => {
                this.resizeEditorArea();
            })
        });
        observer.observe(this.$refs.codeSnippetsMain.$el, {attributes: true, attributeFilter: ['style']})
    }

    insertCode(code:string){
        this.$refs.focusArea.insertCode(code);
    }

    updateFocusTargetEvents(data){
        this.$emit( ScriptEditorMainComponent.EVENT_UPDATE_FOCUS_TARGET_EVENTS, data);
    }

    selectedListItem(type){
        this.$emit(ScriptEditorMainComponent.EVENT_SELECTED_LIST_ITEM, type);
    }

    getCurrentFocusTargetData(){
        return  this.$refs.focusArea.getCurrentTargetData();
    }

}
</script>
<style>
.script-edit-main .jstree-default>.jstree-striped{background: none;}
.script-edit-main > h3{font-size: 13px; text-align: center; padding: 3px; border-bottom: 1px solid #e6ebf5;margin:0;}
.script-edit-main .header{position: relative; display:flex; align-items:center; height: 47px; border-bottom: 1px solid #e6ebf5; padding: 0 8px;}
.script-edit-main .header-btn{background:none; border:none; outline:none; font-size: 22px; padding: 0; margin-left: 8px; color: #5f6570; cursor: pointer;}
.script-edit-main .header-btn:hover,
.script-edit-main .header-btn:focus{color: #333;}
.script-edit-main{height: 100%; overflow: hidden;}
.script-edit-main .code-snippets{width: 280px;flex-direction: column;display: flex;}
.wscript-target-list{width: 240px; height: 100%; border-right: 1px solid #e6ebf5;}

.script-edit-main>.focus-area{flex:1;border-right: 1px solid #e6ebf5;}

.wscript-target-list{display:flex; flex-direction:column;}
.wscript-target-list .category-txt{display: block; background: #f0f0f0; color: #22252a; padding: 2px 8px; border-bottom: 1px solid #e8e8e8;}
.wscript-target-list .list-wrap .el-collapse {border-top: none;}
.wscript-target-list ul.comp-list{list-style: none;margin:0; padding: 0;}
.wscript-target-list ul.comp-list li{font-size: 12px;padding: 3px 10px; border-top: 1px solid #e6ebf5; cursor: pointer;}
.wscript-target-list ul.comp-list li.selected{background: #5f6570;color: #fefefe;border-color: #5f6570;}
.vakata-context, .vakata-context ul{z-index: 10;}
</style>

