<template>
      <ace-editor class="script-editor" v-model="editorCode" width="100%" @init="onEditorInit" lang="javascript" theme="chaos"
              enableBasicAutocompletion
              enableSnippets="true"
              enableLiveAutocompletion="true"
      ></ace-editor>
</template>

<script lang="ts">
    declare function require(moduleName: string): any;
    declare let ace:any;

    import Vue from "vue"
    import Component from "vue-class-component"
    import { Prop, Watch } from "vue-property-decorator"

    /**
     * 실제 코드 에디터가 적용되는 영역
     */
    @Component({
        components: {
            aceEditor:require('vue2-ace-editor')
        }
    })
    export default class ScriptAceEditor extends Vue {
        private editor:any = null;
        private isInit:boolean = false;
        public editorCode: string = '';

        @Prop()
        public eventCode:string;

        @Watch('eventCode', {immediate: true})
        setEditorCode(){
            this.editorCode = this.eventCode;
        }

        @Watch('editorCode', {immediate: true})
        syncEditorCode(){
            this.$emit('changedCode', this.editorCode);
        }

        /**
         * 에디터 초기화시 처리,
         */
        onEditorInit(editor){
            this.editor = editor;

            if(this.isInit==false ) {
                this.isInit = true;
                require('brace/mode/javascript');
                require('brace/theme/chaos');
                require('brace/ext/searchbox');
                require('brace/keybinding/emacs');
                editor.setTheme('ace/theme/chaos');
                editor.getSession().setMode('ace/mode/javascript');
                editor.getSession().setUseWorker(true);
                editor.getSession().setUseWrapMode(true);
                editor.getSession().setWrapLimitRange(null, null);
                editor.setShowPrintMargin(false);
                editor.$blockScrolling = Infinity;

                ace.config.setModuleUrl('ace/ext/tern', './client/common/libs/tern/tern.js' );
                ace.config.setModuleUrl("ace/snippets/javascript", "./client/common/libs/tern/snippets/javascript.js");
                ace.config.loadModule('ace/ext/tern', function () {
                    editor.setOptions({
                        enableTern: {
                            workerScript:"./client/common/libs/tern/tern_worker.js",
                            defs: ['browser', 'ecma5', "wemb"],
                            plugins: {
                                doc_comment: {
                                    fullDocs: true
                                }
                            },
                            useWorker: true,
                            switchToDoc: function (name, start) {
                            },
                            startedCb: function () {
                                //console.log("startCb", this );
                            },
                        },
                        enableSnippets: true,
                        enableBasicAutocompletion: true,
                        fontSize: "14px"
                    });
                });
            }
        }

        insertCode(code){
            if(this.editor){
                this.editor.insert(code);
            }
        }

        resizeEditor(){
            if(this.editor){
                this.editor.resize();
            }
        }

        updateFullEditor() {
              if(this.editor) {
                    this.editor.renderer.updateFull();
              }
        }
    }
</script>

<style scoped>

</style>
