<template>
	<div class="script-edit-area">
			<div class="header">
       <button class="bar-btn header-btn" @click="onClickBarBtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
       <h4><template v-if="currentInstance">{{currentInstance.name}}</template></h4>
       <div class="right-buttons">
            <el-tooltip class="item" effect="dark" content="code snippets" placement="top-end">
                <button class="snippets-btn header-btn" @click="onClickSnippetsBtn" ><i class="fa fa-code" aria-hidden="true"></i></button>
            </el-tooltip>
       </div>
   </div>
   <div class="contents d-flex flex" >
       <template v-if="currentInstance">
            <div class="event-list-wrap">
                <ul class="event-list">
                    <li v-for="(event, index) in eventEditors" :key="index"
                        @click="onSelectedEventInfo(event)"
                        :class="{ selected: event.selected }">{{ event.name }}</li>
                </ul>
            </div>
            <div class="editor-wrap flex">
                  <script-ace-editor
                        v-for="(event, index) in eventEditors" :key="index"
                        v-show="event.selected"
                        ref="aceEditors"
                        @changedCode="changedCode($event, event.name)"
                        :eventCode="event.code"
                  ></script-ace-editor>
            </div>
       </template>
       <template v-else>
           <div class="empty-cont">
           </div>
       </template>
    </div>

	</div>
</template>

<script lang="ts">
      declare function require(moduleName: string): any;
      declare let ace:any;
	import Vue from "vue"
	import Component from "vue-class-component"
	import ScriptEditAreaMediator from "./ScriptEditAreaMediator";
	import ScriptAceEditor from "./ScriptAceEditor.vue";

      /**
       * 실제 코드 에디터가 적용되는 영역
      */
	@Component({
        components: {
            ScriptAceEditor
        }
      })
	export default class ScriptEditAreaComponent extends Vue {
        static readonly EVENT_COMPONENT_FOCUS:string="event/componentFocus";

	  public toggleLeftUIState:boolean = true;
        public toggleRightUIState:boolean = false;

        public currentInstance: any = null;
        public eventEditors: Array<{
            name: string;
            code: string;
            selected: boolean;
            modified: boolean;
        }> = [];


        mounted(){
             window.wemb.viewComponentMap.set(ScriptEditAreaMediator.NAME, this);
        }

        onSelectedEventInfo(event){
            this.eventEditors.forEach(editor => {
                editor.selected = editor.name === event.name;
            });

            this.updateFullEditors();
        }

        changedCode(code, eventName){
            let changedEvent = this.eventEditors.find(eventEditor => eventEditor.name === eventName);
            changedEvent.modified = true;
            changedEvent.code = code;

            this.saveEventEditors();
        }

        saveEventEditors(){
            let data = this.getCurrentTargetData();
            if(data){
                this.$emit("updateFocusTargetEvents", data);
            }

            this.eventEditors.forEach(editor => editor.modified = false);
        }

        getCurrentTargetData(){
            if( !this.currentInstance) return null;

            let eventEditor = {};

            this.eventEditors.forEach(editor => {
                eventEditor[editor.name] = editor.code;
            });

            return {
                id: this.currentInstance.id,
                layer: this.currentInstance.layer,
                eventProps: eventEditor
            };
        }

        focus(instance){
            if ( this.currentInstance &&  this.currentInstance.id === instance.id ) return;

            if(instance === null) {
                alert(Vue.$i18n.messages.wv.componentManager.noComponent);
                blur();
                return;
            }

            this.currentInstance = instance;
            this.eventEditors =  Object.keys(this.currentInstance.eventProps).map(name => {
                return {
                    name,
                    code: this.currentInstance.eventProps[name],
                    selected: false,
                    modified: false,
                }
            });

            if (this.eventEditors && this.eventEditors.length > 0) {
                this.onSelectedEventInfo(this.eventEditors[0]);
            }

            this.$emit(ScriptEditAreaComponent.EVENT_COMPONENT_FOCUS, this.currentInstance);
        }


        blur(){
            this.currentInstance = null;
            this.eventEditors = null;
        }

        onClickBarBtn(){
            this.toggleLeftUIState = !this.toggleLeftUIState;
            this.$emit("toggleLeftUI", this.toggleLeftUIState);
        }

        onClickSnippetsBtn(){
            this.toggleRightUIState = !this.toggleRightUIState;
            this.$emit("toggleRightUI", this.toggleRightUIState);
        }

        getAceEditorIndex(){
            return this.eventEditors.findIndex(eventEditor => eventEditor.selected === true);
        }

        insertCode(code) {
            this.$refs.aceEditors[this.getAceEditorIndex()].insertCode(code);
        }

        resizeEditor() {
            this.$refs.aceEditors[this.getAceEditorIndex()].resizeEditor();
        }

        updateFullEditors() {
              if(this.$refs.aceEditors) {
                    this.$refs.aceEditors.forEach(aceEditor => {
                          aceEditor.updateFullEditor();
                    })
              }
        }
	}
</script>
<style>
.script-edit-area .header{display: flex; align-items: center; }
.script-edit-area .header h4{margin:0; flex:1;padding:0 18px;font-size: 17px;}
.script-edit-area .editor-wrap{background-color: black;}
.script-edit-area .event-list-wrap{width: 168px;}
.script-edit-area .event-list{margin:0; padding: 0;}
.script-edit-area .event-list li{list-style: none; background-color: #f5f5f5; padding: 7px 10px; border-bottom: 1px solid #e6e6e6; box-sizing: content-box; cursor: pointer;}
.script-edit-area .event-list li.selected{background: #5f6570;color: #fefefe;border-color: #5f6570;}
.script-edit-area .empty-cont{flex: 1;background: #e6e6e6;margin: 3px; border-radius: 2px;}
.script-edit-area .contents{height:100%;}
</style>
