.UpDownStatusComponent img{
      height: 100%;
      width: auto;
      margin-right: 0;
}

.UpDownStatusComponent .comp-wrap{
      height: 100%;
      width: 100%;
      display:flex;
      align-items: center;
}

.UpDownStatusComponent .txt{
      flex:1;
      color : #000000;
}

/* 
.sample-dom-component {
      user-select: none;
      width: 100px;
      height: 100px;
      position: absolute;
      background-color: #f00;
} */
