.LGDataGridTemplateComponent {
    overflow: hidden;
}

.LGDataGridTemplateComponent .table-wrap {
    color: #fff;
    text-align: center;
    height: 130px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.LGDataGridTemplateComponent .table-wrap .header {
    display: flex;
    font-weight: bold;
    background-color: #443d47;
}

.LGDataGridTemplateComponent .table-wrap .header>span {
    width: auto;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.LGDataGridTemplateComponent .table-wrap ul li.list-wrap {
    display: flex;
    width: 100%;
    margin-top: 2px;
}

.LGDataGridTemplateComponent .table-wrap ul li.list-wrap:nth-child(even) {
    background: #2D3134
}

.LGDataGridTemplateComponent .table-wrap ul li.list-wrap:nth-child(odd) {
    background: #323639
}

.LGDataGridTemplateComponent .table-wrap ul li.list-wrap .list {
    white-space: nowrap;
    width: auto;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.LGDataGridTemplateComponent .table-wrap ul li.list-wrap .list div span.color-red {
    color: #c4002b;
}

.LGDataGridTemplateComponent .table-wrap ul li.list-wrap .list div span.color-blue {
    color: #009fde;
}