<template>
      <modal
            id="pdu-extension-popup"
            name="pdu-extension-popup"
            class="w-modal"
            :click-to-close="false"
            :resizable="false"
            :width="1060"
            :height="700">
            <div class="modal-header">
                  <h4>PDU</h4>
                  <a class="close-modal-btn" role="button" @click="onClickClose"><i class="el-icon-error"></i></a>
            </div>
            <div class="modal-body">
                  <div class="wrap">
                        <pdu-list-component ref="pduListComp" class="rack-list"
                                            :active-list="isActiveList" :asset-list="pduAssetList"
                                            :active-asset-id="asset_id"
                                            @click-pdu-asset="setPduInfo"></pdu-list-component>
                        <div class="rack-wrap">
                              <!--header-->
                              <div class="header">
                                    <div>
                                          <button class="bar-btn header-btn" @click="isActiveList = !isActiveList">
                                                <i aria-hidden="true" class="fa fa-bars"></i>
                                          </button>
                                          <h4>{{pduAssetInfo.name}}</h4>
                                    </div>
                                    <div>
                                          <el-button type="" size="small">cancel</el-button>
                                          <el-button type="primary" size="small" @click="onClickSave">save</el-button>
                                    </div>
                              </div>
                              <!--//header-->
                              <div class="content" v-if="asset_id != null">
                                    <!--preview-->
                                    <div class="rack-preview">
                                          <div class="rack-preview-top-ui">
                                                <div class="flex">
                                                      <span>Channel</span>
                                                      <el-select v-model="pduUnitSize" placeholder="Select"
                                                                 class="pdu-option-select" size="mini"
                                                                 @change="checkValidation">
                                                            <el-option
                                                                  v-for="item in pduMaxSize" :key="item" :label="item"
                                                                  :value="item">
                                                            </el-option>
                                                      </el-select>
                                                </div>
                                                <el-button type="text" size="medium" class="icon-btn lg"
                                                           @click.stop.prevent="initMountData">
                                                      <i aria-hidden="true" class="el-icon-refresh"></i>
                                                </el-button>
                                                <el-button type="text" size="medium" class="icon-btn lg"
                                                           @click.stop.prevent="emptyData">
                                                      <i aria-hidden="true" class="el-icon-delete"></i>
                                                </el-button>
                                          </div>

                                          <pdu-preview-component ref="pduPreview" :pdu-unit-size="pduUnitSize"
                                                                 :mount-list.sync="mountList"></pdu-preview-component>

                                    </div>
                                    <!--//preview-->

                                    <!--mount list-->
                                    <div class="mount-items" :class="{expand: isActiveList}">
                                          <div class="mount-items-top-ui">
                                                <!--실장 타입 선택-->
                                                <el-select class="mini select-mount-type"
                                                           v-model="currentType"
                                                           placeholder="select asset type" size="mini"
                                                           @change="onChangeSelectedAssetType"
                                                >
                                                      <el-option
                                                            v-for="item in assetTypes"
                                                            :key="item.id"
                                                            :label="item.name"
                                                            :value="item.id">
                                                      </el-option>
                                                </el-select>
                                                <!--//실장 타입 선택-->
                                                <el-select class="mini select-mount-type" v-model="search_field"
                                                           placeholder="Fields" style="margin: 0 10px;" size="mini">
                                                      <el-option v-for="f in common_fields" :key="f.name"
                                                                 :label="f.label" :value="f.name"></el-option>
                                                </el-select>

                                                <!--검색 필드-->
                                                <div class="assets-search">
                                                      <el-input class="search-field" v-model="search_text"
                                                                placeholder="search keyword" :clearable="true">
                                                      </el-input>
                                                </div>
                                                <!--//검색 필드-->
                                          </div>
                                          <div class="asset-list">
                                                <el-table
                                                      class="asset-table" stripe
                                                      empty-text="No Data"
                                                      @row-dblclick="dblClickTable"
                                                      :data="assetFilteredList">
                                                      <el-table-column v-for="field in common_fields" :key="field.name"
                                                                       :property="field.name"
                                                                       :label="field.label"></el-table-column>
                                                </el-table>
                                                <el-pagination
                                                      @size-change="handleSizeChange"
                                                      @current-change="handleCurrentChange"
                                                      :current-page.sync="pagination.page"
                                                      :page-size="pagination.page_size"
                                                      layout="prev, pager, next, jumper"
                                                      :total="pagination.totalPage">
                                                </el-pagination>
                                          </div>

                                    </div>
                                    <!--//mount list-->
                              </div>
                              <div class="content" v-else>
                                    <span class="no-data">{{lang.pdu.selectPduToEdit}}</span>
                              </div>
                        </div>

                  </div>
            </div>
      </modal>
</template>

<script>
      const PduListComponent = {
            props: ['activeList', 'assetList', 'activeAssetId'],
            template:
                  ` <div class="rack-list" v-show="activeList">
                        <div>
                            <el-input class="search-field" v-model="searchStr" placeholder="search keyword" :clearable="true"></el-input>
                        </div>
                    <ul>
                        <li v-for="asset in assetList" @click="clickPduItem(asset)" :class="{active: activeAssetId == asset.id}">{{asset.name}}</li>
                    </ul>
                    <div class="assets-pagination">
                        <el-button size="mini" @click="prevPage" :disabled="1 == pagination.page">prev</el-button>
                        <span>{{pagination.page}}/{{pagination.totalPage}}</span>
                        <el-button size="mini" type="primary" @click="nextPage" :disabled="pagination.totalPage == pagination.page">next</el-button>
                    </div>
                </div>`,

            data() {
                  return {
                        searchStr: '',
                        pagination: {page: 1, totalPage: 100}
                  }
            },
            methods: {
                  prevPage: function () {

                  },
                  nextPage: function () {

                  },

                  clickPduItem: function (asset) {
                        this.$emit("click-pdu-asset", asset.id);
                  }
            }
      }


      const PduPreviewComponent = {
            props: ['pduUnitSize', 'mountList'],
            template: `
                  <div class="pdu-wrap">
                        <div class="item-wrap" v-for="index in options">
                              <div class="mount-item" :class="{active: (active.direction == 'LEFT') && (active.index == index)}"
                                          @click="clickContent('LEFT', index)"
                                          @dblclick="dblClickContent('LEFT', index)">
                                    <div class="mount-item-content">
                                        <el-tooltip placement="left" :content="mountList['LEFT' + index].name" v-if="mountList['LEFT' + index]">
                                            <div class="mounted-item" v-text="mountList['LEFT' + index].name"></div>
                                        </el-tooltip>
                                    </div>
                                    <span class="mount-item-index">{{index}}</span>
                              </div>
                              <div class="mount-item" :class="{active: (active.direction == 'RIGHT') && (active.index == index)}"
                                           @click="clickContent('RIGHT', index)"
                                           @dblclick="dblClickContent('RIGHT', index)">
                                    <span class="mount-item-index">{{index}}</span>
                                    <div class="mount-item-content">
                                        <el-tooltip placement="right" :content="mountList['RIGHT' + index].name" v-if="mountList['RIGHT' + index]">
                                            <div class="mounted-item" v-text="mountList['RIGHT' + index].name"></div>
                                        </el-tooltip>
                                    </div>
                              </div>
                        </div>
                  </div>
            `,
            data() {
                  return {
                        active: {direction: '', index: 0},
                  }
            },

            computed: {
                  options: function () {
                        return this.pduUnitSize;
                  },
            },

            methods: {
                  clickContent(dir, index) {
                        this.active.direction = dir;
                        this.active.index = index;
                  },

                  dblClickContent(dir, index) {
                        if (this.mountList[dir + index]) {
                              delete this.mountList[dir + index]
                              this.$forceUpdate();
                        }
                  }
            }
      }

      module.exports = {
            components: {
                  PduListComponent: PduListComponent,
                  PduPreviewComponent: PduPreviewComponent
            },

            data: function () {
                  return {
                        lang: Vue.$i18n.messages.wv.dcim_pack,
                        pduList: [],
                        pduMaxSize: 64,
                        pduUnitSize: 40,
                        pduAssetList: [],
                        pagination: {page: 0, totalPage: 0, page_size: 13},
                        currentType: 'total',
                        assetTypes: [],
                        currentTypeFields: [],
                        isActiveList: true,
                        assetList: [],
                        mountList: {},
                        asset_id: null,
                        pduAssetInfo: {},
                        common_fields: [],
                        search_field: 'id',
                        search_text: ""
                  }
            },

            computed: {
                  assetFilteredList: function () {
                        var self = this;
                        var list = this.assetList.filter(function (info) {
                              var result = info[self.search_field].toLowerCase().includes(self.search_text.toLowerCase());
                              if (self.currentType != 'total') {
                                    result &= (info['asset_type'] === self.currentType)
                              }

                              return result;
                        });

                        self.pagination.totalPage = list.length;
                        return list.splice((self.pagination.page - 1) * self.pagination.page_size, self.pagination.page_size);
                  }
            },

            methods: {
                  init: function () {
                        this.callAssetList();
                        this.callTypeList();
                        this.callMountList(this.asset_id);
                  },

                  onChangeSelectedAssetType: function () {

                  },

                  handleSizeChange: function (val) {
                        console.log(`${val} items per page`);
                  },

                  handleCurrentChange: function (val) {
                        console.log(`current page: ${val}`);
                  },

                  setPduInfo: function (id) {
                        this.asset_id = id;
                        this.pduAssetInfo = wemb.dcimManager.assetManager.getAssetDataByAssetId(this.asset_id);
                        this.pduUnitSize = parseInt(this.pduAssetInfo.unit_size) || 20;

                        this.init();
                  },

                  setComponent: function (component) {
                        if (component.isAssetComp()) {
                              this.setPduInfo(component.assetId);
                        }
                        this.isActiveList = false;
                  },

                  show: function () {
                        this.$modal.show('pdu-extension-popup');
                        this.pduAssetList = wemb.dcimManager.assetManager.getAssetListByType('PDU');
                  },

                  onClickSave: function () {
                        var self = this;
                        this.$confirm('저장하시겠습니까?', {type: 'warning'}).then(function () {
                              self.procSave();
                        }, function (cancel) {

                        });
                  },

                  procSave: function () {
                        var child_infos = [];
                        var self = this;
                        Object.keys(this.mountList).map(function (k) {
                              child_infos.push({
                                    child_id: self.mountList[k].child_id,
                                    props: JSON.stringify(self.mountList[k].props)
                              });
                        });

                        var params = {
                              parent_id: this.asset_id,
                              childs: child_infos,
                        }

                        this.pduAssetInfo.unit_size = this.pduUnitSize;

                        var common_lang = Vue.$i18n.messages.wv.common;
                        window.wemb.dcimManager.updateAsset(this.pduAssetInfo).then(function (res) {
                              window.wemb.dcimManager.postRelationData(params).then(function (res) {
                                    self.$message.success(common_lang.confirmSave);
                              })
                        }).catch(function (err) {
                              console.log(err);
                              self.$message.error(common_lang.errorSave);
                        })
                  },

                  onClickClose: function () {
                        this.assetTypes = [];
                        this.isActiveList = true;
                        this.asset_id = null;

                        this.$modal.hide('pdu-extension-popup');
                        this.$emit("closed", false);
                  },

                  clearSearchRackIdStr: function () {

                  },

                  clearSearchStr: function () {
                        this.searchRackIdStr = "";
                  },

                  initMountData: function () {
                        var self = this;
                        this.$confirm(this.lang.pdu.resetEditInfo, {type: 'warning'}).then(function () {
                              self.init();
                        }, function (cancel) {

                        });
                  },
                  emptyData: function () {
                        var self = this;
                        this.$confirm(this.lang.pdu.deleteMountedAsset, {type: 'warning'}).then(function () {
                              self.mountList = {};
                              self.$refs.pduPreview.$forceUpdate();
                        }, function (cancel) {

                        });
                  },

                  dblClickTable: function (row, event) {
                        var active = this.$refs.pduPreview.active;
                        var item = this.mountList[active.direction + active.index];

                        if (!item) {
                              var mount = {
                                    child_id: row.id,
                                    name: row.name,
                                    props: JSON.parse(JSON.stringify(active))
                              };

                              this.mountList[active.direction + active.index] = mount;
                              this.$refs.pduPreview.$forceUpdate();
                        }
                  },

                  checkValidation: function () {
                        var self = this;
                        console.log('checkValidation');
                        Object.keys(this.mountList).map(function (k) {
                              var index = self.mountList[k].props.index;
                              if (index > self.pduUnitSize) {
                                    delete self.mountList[k];
                                    self.$refs.pduPreview.$forceUpdate();
                              }
                        });
                  },

                  callMountList: function (parent_id) {
                        var self = this;
                        window.wemb.dcimManager.getRelationData(parent_id).then(function (res) {
                              var [err, result] = res;
                              if (err) {
                                    console.log(err);
                                    return;
                              } else {
                                    self.mountList = {};
                                    result.data.data.map(function (item, index) {
                                          var asset_info = wemb.dcimManager.assetManager.getAssetDataByAssetId(item.child_id);
                                          item.name = asset_info.name;
                                          self.mountList[item.props.direction + item.props.index] = item;
                                    });
                              }

                        })
                  },

                  // TODO 추후 설정값 반영
                  callAssetList: function () {
                        this.assetList = [].concat(window.wemb.dcimManager.assetManager.getAssetListByType("Thermohygrostat"),
                              window.wemb.dcimManager.assetManager.getAssetListByType("Rack"));
                  },

                  callTypeList: function () {
                        this.assetTypes = [].concat(window.wemb.dcimManager.assetManager.assetTypes);
                        this.assetTypes.unshift({id: 'total', name: 'Total'});
                        this.common_fields = window.wemb.dcimManager.assetManager.getTypeFields();
                  }
            }
      }
</script>

<style scoped>
      .modal-body {
            overflow: auto;
            padding: 0;
      }

      .wrap {
            display: flex;
            width: 100%;
      }

      .rack-list li {
            padding: 6px 10px;
            border-bottom: 1px solid #e8ecef;
      }

      .rack-list li.active {
            background: #5f6570;
            color: #fefefe;
            border-color: #5f6570;
      }

      .rack-list {
            display: flex;
            flex-direction: column;
            width: 180px;
            margin-right: 6px;
            border-right: 1px solid #e8ecef;
      }

      .rack-list ul {
            flex: 1;
            overflow: auto;
      }

      .rack-list .search-field {
            padding: 6px 6px 0px 6px;
      }

      .rack-list .search-field .el-input__inner {
            height: 22px;
            padding-left: 11px;
            padding-right: 18px;
      }

      .rack-list .assets-pagination {
            display: flex;
            align-items: center;
            padding: 6px;
      }

      .rack-list .assets-pagination span {
            flex: 1;
            text-align: center;
      }

      .rack-wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .rack-wrap .header {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            border-bottom: 1px solid #e8ecef;
            justify-content: space-between;
      }

      .rack-wrap .header > div:first-child {
            display: flex;
            align-items: center;
      }

      .rack-wrap .header .el-button + .el-button {
            margin-left: 0;
      }

      .rack-wrap .header .header-btn {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            padding: 0;
            color: #5f6570;
            cursor: pointer;
      }

      .rack-wrap .header h4 {
            margin: 0 0 0 10px;
            font-size: 15px;
      }

      .rack-preview-top-ui {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
      }

      .pdu-option-select {
            width: 100px;
      }

      .rack-wrap .content {
            display: flex;
            flex: 1;
      }

      .rack-preview {
            padding: 10px 12px;
            overflow: auto;
      }

      .rack-wrap .mount-items {
            width: 770px;
            box-sizing: border-box;
            padding: 0 24px 18px 10px;
            display: flex;
            flex-direction: column;
      }

      .rack-wrap .mount-items.expand {
            width: 608px;
      }

      .mount-items .mount-items-top-ui {
            display: flex;
            margin-top: 12px;
      }

      .mount-items .mount-items-top-ui > .select-mount-type {
            width: 120px;
      }

      .mount-items .el-pagination {
            text-align: center;
            padding-top: 6px;
      }

      .mount-items .search-field .el-input__inner {
            height: 28px;
            padding-left: 11px;
      }

      .mount-items .assets-search .select-search-type {
            width: 140px;
      }

      .mount-items .assets-search .search-field {
            width: 300px;
            margin-bottom: 0;
      }

      .mount-items .assets-search .el-input__icon {
            line-height: 28px;
            height: auto;
      }

      .mount-items .el-table .cell {
            padding: 0 6px;
      }

      .mount-items .asset-list {
            margin-top: 6px;
            flex: 1;
            overflow-x: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .mount-items .asset-table {
            flex: 1;
      }

      .mount-items .asset-table .size-select .el-input {
            width: 80px;
      }

      .mount-items .asset-table .el-input {
            width: 64px;
      }

      .mount-items .asset-table .el-input .el-input__inner {
            padding: 0 4px 0 10px;
      }

      .no-data {
            background-color: #eee;
            border-radius: 4px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .icon-btn.lg {
            font-size: 16px;
            margin: 0;
            padding: 0 4px;
      }

      /*pdu preview*/
      .rack-preview .pdu-wrap {
            background: #a2a2a2;
            width: 240px;
            padding: 10px;
            font-size: 9px;
      }

      .rack-preview .pdu-wrap > .item-wrap {
            display: flex;
            justify-content: space-between;
      }

      .rack-preview .pdu-wrap > .item-wrap > .mount-item {
            width: 105px;
            height: 25px;
            background: #363636;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #6b6b6b;
      }

      .rack-preview .pdu-wrap > .item-wrap > .mount-item.active {
            background-color: #519dff;
      }

      .rack-preview .pdu-wrap > .item-wrap > .mount-item > .mount-item-content {
            color: #fff;
            flex: 1;
            text-align: center;
            height: 100%;
      }

      .rack-preview .pdu-wrap > .item-wrap > .mount-item > .mount-item-index {
            background: #232222;
            color: #fff;
            text-align: center;
            width: 20px;
            height: 100%;
            line-height: 24px;
      }

      .rack-preview .mounted-item {
            background-color: #555555;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
      }

      /*rack preview*/
      .rack-preview ul,
      .rack-preview li {
            margin: 0;
            padding: 0;
            list-style: none;
      }

      .rack-preview * {
            box-sizing: border-box;
      }
</style>
