.SearchFieldComponent input::-ms-clear {
    display: none;
}

.SearchFieldComponent input[type="search"]::-webkit-search-decoration,
.SearchFieldComponent input[type="search"]::-webkit-search-cancel-button,
.SearchFieldComponent input[type="search"]::-webkit-search-results-button,
.SearchFieldComponent input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
