<template>
	<modal
		class="w-modal modal-tabs"
		id="line-chart"
		name="line-chart"
		@opened="modalOpened"
            :click-to-close="false"
		:draggable="false"
		:resizable="true"
		:width="1020"
		:height="770"
		:min-width="1020"
		:min-height="770"
		>
		<div class="modal-header"><h4>Line Chart Settings</h4><a class="close-modal-btn" role="button" @click="_onHidden"><i class="el-icon-error"></i></a></div>
		<div class="modal-body">
			<el-tabs type="border-card" class="flex" v-model="tabName" @tab-click="handleClick">
				<el-tab-pane :label="$t('extension.chart.tab01')" name="firstTab">
					<div class="grid-step-wrap" v-show="stepActive==0">
						<dataset-preview-main-component ref="datasetPreviewComp" class="dataset-preiview-comp"></dataset-preview-main-component>
						<div class="bottom-btn-wrap d-flex justify-content-end">
							<el-button class="bottom-btn" type="primary" size="small" @click="nextStep2"  v-if="datasetListLength!==0">{{$t('common.next')}}</el-button>
						</div>
					</div>
					<div class="grid-step-wrap" v-show="stepActive==1">
						<div class="flex d-flex flex-column" style="overflow: auto;">
							<h5 class="cont-title">{{$t('extension.chart.step01')}}</h5>
							<transfer-main-component class="flex transfer-comp" ref="transferComp"  @change="changeColumnData"></transfer-main-component>
							<h5 class="cont-title">{{$t('common.preview')}}</h5>
							<div id="preview"></div>
						</div>
						<div class="bottom-btn-wrap d-flex justify-content-center">
							<el-button class="bottom-btn" type="primary" size="small" @click="prevStep1">{{$t('common.prev')}}</el-button>
							<el-button class="bottom-btn" type="primary" size="small" @click="nextStep3">{{$t('common.next')}}</el-button>
							<el-button class="bottom-btn" size="small" @click="_onOk">{{$t('common.save')}}</el-button>
						</div>
					</div>
				</el-tab-pane>

				<el-tab-pane :label="$t('extension.chart.tab02')" name="secondTab" :disabled="chart == null">
					<div class="flex-row">
						<div style="width: 40%; padding-right: 10px;">
							<h5 class="cont-title">{{$t('extension.chart.step03')}}</h5>
							<div id="preview2" v-bind:style="{backgroundColor: previewBackgroundColor}"></div>
						</div>

                        <div style="width: 100%; height: 100%; overflow: auto;"
                             v-if="chart != null && tranferData && tranferData.targetListData[1] && tranferData.targetListData[1].data != null">
							<h5 class="cont-title">{{$t('extension.chart.step02')}}</h5>
							<div class="style-settings-table-wrap">
								<h6>{{$t('extension.chart.style01')}}</h6>
								<table>
									<thead>
										<th>Column</th>
                                        <th>Legend</th>
										<th>Color</th>
										<th>Line Type</th>
										<th>Bullet Color</th>
										<th>Bullet Type</th>
                                        <th>Dash</th>
                                        <th>Thickness</th>
                                        <th>
                                            <el-tooltip class="item" content="[[value]] : Current Column Value, [[ColumnName]] : Target Column Value / ex) [[test2]]:[[value]]" placement="top-start">
                                                <div>Tooltip <i class="fa fa-info-circle fa-lg"></i></div>
                                            </el-tooltip>
                                        </th>
									</thead>
									<tbody>
										<tr v-for="(item, index) in tranferData.targetListData[1].data">
											<td><div>{{ item }}</div></td>
                                            <td><div>
                                                <el-input v-model="chart.graphs[index].title" v-on:change="validateChart"></el-input>
                                            </div></td>
											<td><div>
												<color-picker v-model="chart.colors[index]" v-on:change="validateChart"></color-picker>
											</div></td>
											<td><div>
												<el-select v-model="chart.graphs[index].type" v-on:change="validateChart" style="width: 80px">
													<el-option label="line" value="line"></el-option>
													<el-option label="smoothedLine" value="smoothedLine"></el-option>
												</el-select>
											</div></td>
											<td><div>
												<color-picker v-model="chart.graphs[index].bulletColor" v-on:change="validateChart"></color-picker>
											</div></td>
											<td><div>
												<el-select v-model="chart.graphs[index].bullet" v-on:change="validateChart" style="width: 80px">
													<el-option label="none" value="none"></el-option>
													<el-option label="square" value="square"></el-option>
													<el-option label="round" value="round"></el-option>
													<el-option label="diamond" value="diamond"></el-option>
													<el-option label="bubble" value="bubble"></el-option>
												</el-select>
											</div></td>
                                              <td><div>
                                                    <el-input-number :min="0" :max="100" :step="1" v-model="chart.graphs[index].dashLength"
                                                               v-on:change="validateChart" size="mini"
                                                               style="width: 90px"></el-input-number>
                                              </div></td>
                                              <td><div>
                                                    <el-input-number :min="0" :max="100" :step="1" v-model="chart.graphs[index].lineThickness"
                                                               v-on:change="validateChart" size="mini"
                                                               style="width: 90px"></el-input-number>
                                              </div></td>
                                              <td><div>
                                                    <el-input v-model="chart.graphs[index].balloonText" v-on:change="validateChart"></el-input>
                                              </div></td>
										</tr>
									</tbody>
								</table>
							</div>

							<div clsss="style-container" style="display: flex;">
								<div class="style-settings-table-wrap">
									<h6>{{$t('extension.chart.style02')}}</h6>
									<table>
										<thead>
											<th>Title</th>
											<th>Font</th>
											<th>Background</th>
										</thead>
										<tbody>
											<tr>
												<td><div><input type="text" v-model="chart.titles[0].text" v-on:change="validateChart" maxlength="50"></div></td>
												<td><div>
													<input type="number" v-model="chart.titles[0].size" v-on:change="validateChart">
													<color-picker v-model="chart.titles[0].color" v-on:change="validateChart"></color-picker>
													<el-checkbox v-model="chart.titles[0].bold" @change="validateChart">Bold</el-checkbox>
												</div></td>
												<td><div>
													<color-picker show-alpha v-model="previewBackgroundColor"></color-picker>
												</div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

                                          <div clsss="style-container" style="display: flex;">
                                                <div class="style-settings-table-wrap">
                                                      <h6>{{$t('extension.chart.style03')}}</h6>
                                                      <table>
                                                            <thead>
                                                            <th>Axis Color</th>
                                                            <th>Grid Color</th>
                                                            <th>Grid Dash</th>
                                                            <th>Grid Thickness</th>
                                                            <th>Axis Thickness</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                  <td><div>
                                                                        <color-picker v-model="chart.valueAxes[0].axisColor" v-on:change="validateChart"></color-picker>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <color-picker v-model="chart.valueAxes[0].gridColor" v-on:change="validateChart"></color-picker>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="20" :step="1" v-model="chart.valueAxes[0].dashLength"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="20" :step="1" v-model="chart.valueAxes[0].gridThickness"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="20" :step="1" v-model="chart.categoryAxis.axisThickness"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>
                                                            </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>

                                          <div clsss="style-container" style="display: flex;">
                                                <div class="style-settings-table-wrap">
                                                      <h6>{{$t('extension.chart.style04')}}</h6>
                                                      <table>
                                                            <thead>
                                                            <th>Axis Color</th>
                                                            <th>Grid Color</th>
                                                            <th>Grid Dash</th>
                                                            <th>Grid Thickness</th>
                                                            <th>Axis Thickness</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                  <td><div>
                                                                        <color-picker v-model="chart.categoryAxis.axisColor" v-on:change="validateChart"></color-picker>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <color-picker v-model="chart.categoryAxis.gridColor" v-on:change="validateChart"></color-picker>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="20" :step="1" v-model="chart.categoryAxis.dashLength"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="20" :step="1" v-model="chart.categoryAxis.gridThickness"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="20" :step="1" v-model="chart.valueAxes[0].axisThickness"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>

                                                            </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>

                                          <div class="style-container" style="display: flex;">
                                                <div class="style-settings-table-wrap">
                                                      <h6>{{$t('extension.chart.style05')}}</h6>
                                                      <table>
                                                            <thead>
                                                            <th>Type</th>
                                                            <th>Maximum</th>
                                                            <th>Minimum</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                  <td><div>
                                                                        <el-radio @change="changeStepType()" v-model="stepType" label="auto">Auto</el-radio>
                                                                        <el-radio @change="changeStepType()" v-model="stepType" label="manual">Manual</el-radio>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-input-number :disabled="stepType == 'auto'" size="mini" v-model="chart.valueAxes[0].maximum" v-on:change="validateChart"></el-input-number>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-input-number :disabled="stepType == 'auto'" size="mini" v-model="chart.valueAxes[0].minimum" v-on:change="validateChart"></el-input-number>
                                                                  </div></td>
                                                            </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>

                                          <div clsss="style-container" style="display: flex;">
                                                <div class="style-settings-table-wrap">
                                                      <h6>{{$t('extension.chart.style06')}}</h6>
                                                      <table>
                                                            <thead>
                                                            <th>Label Color</th>
                                                            <th>Label Angle</th>
                                                            <th>Label Size</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                  <td><div>
                                                                        <color-picker v-model="chart.color" v-on:change="validateChart"></color-picker>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="180" :step="5" v-model="chart.categoryAxis.labelRotation"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>
                                                                  <td><div>
                                                                        <el-slider :min="0" :max="30" :step="1" v-model="chart.fontSize"
                                                                                   v-on:change="validateChart"
                                                                                   style="width: 100px"></el-slider>
                                                                  </div></td>
                                                            </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>

							<div clsss="style-container" >
								<div class="style-settings-table-wrap">
									<h6>{{$t('extension.chart.style07')}}</h6>
									<table>
										<thead>
											<th>Use</th>
											<th>Position</th>
											<th>Align</th>
                                            <th>Color</th>
										</thead>
										<tbody>
											<tr>
												<td><div>
													<el-checkbox v-model="chart.legend.enabled" v-on:change="validateChart">Use</el-checkbox>
												</div></td>
												<td><div>
													<el-select v-model="chart.legend.position" v-on:change="validateChart">
														<el-option label="top" value="top"></el-option>
                    									<el-option label="bottom" value="bottom"></el-option>
														<el-option label="left" value="left"></el-option>
														<el-option label="right" value="right"></el-option>
													</el-select>
												</div></td>
												<td><div>
													<el-select v-model="chart.legend.align" v-on:change="validateChart">
														<el-option label="left" value="left"></el-option>
                    									<el-option label="center" value="center"></el-option>
														<el-option label="right" value="right"></el-option>
													</el-select>
												</div></td>
                                                <td><div>
                                                      <color-picker v-model="chart.legend.color" v-on:change="validateChart"></color-picker>
                                                </div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div clsss="style-container">
								<div class="style-settings-table-wrap">
									<h6>{{$t('extension.chart.style08')}}</h6>
									<table>
										<thead>
											<th>Cursor</th>
											<th>Cursor Color</th>
											<th>Scroll Bar</th>
											<th>Mouse Zoom In/Out</th>
										</thead>
										<tbody>
											<tr>
												<td><div>
													<el-checkbox v-model="chart.chartCursor.enabled" v-on:change="validateChart">Use</el-checkbox>
												</div></td>
												<td><div>
													<color-picker v-model="chart.chartCursor.cursorColor" v-on:change="validateChart"></color-picker>
												</div></td>
												<td><div>
													<el-checkbox v-model="chart.chartScrollbar.enabled" v-on:change="validateChart">Use</el-checkbox>
												</div></td>
												<td><div>
													<el-checkbox v-model="chart.mouseWheelZoomEnabled" v-on:change="validateChart">Use</el-checkbox>
												</div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>

					<div class="bottom-btn-wrap">
						<el-button class="bottom-btn" type="primary" size="small" @click="prevStep2">{{$t('common.prev')}}</el-button>
						<el-button class="bottom-btn" size="small" @click="_onOk">{{$t('common.save')}}</el-button>
					</div>
				</el-tab-pane>
			</el-tabs>
        </div>
	  </modal>
</template>
<script>
    module.exports = {
		data:function(){
			return {
				///차트 컬럼 데이트
				tranferData: {
					mainData:{
						title: "Data Column List",
						data: []
					},

					targetListData:[{
						title: "X",
						data: []
					},{
						title: "Y",
						data: []
					}]
				},

				stepActive: null,
				componentInstance: null,
				datasetResultData: null,
				chart: null,
				graphConfig: null,
				datasetID: null,
				tabName: "firstTab",
				isStackedChart : false,
				previewBackgroundColor : "rgba(255,255,255,1)",
                        stepType: "auto",
                        isResetDataset: false,
                        currentDataset: null,
                        datasetListLength: null
			}
        },

		methods:{
			setComponent:function(componentInstance){
				this.componentInstance = componentInstance;
				this.extensionProperties = $.extend(true, {}, this.componentInstance.getGroupProperties("extension"));

				this.styleProperties = $.extend(true, {}, this.componentInstance.getGroupProperties("style"));
				this.previewBackgroundColor = this.styleProperties.backgroundColor;
				this.datasetResultData = null;
				this.datasetID = null;
				this.chart = null;
			},

			modalOpened:function(){
				this._setActiveStep( this.extensionProperties.datasetId, this.extensionProperties.chartConfig );
				if(this.extensionProperties.stepType ){
					this.stepType = this.extensionProperties.stepType;
				}
                        Vue.$DatasetPreviewService.getDatasetList().then(function(res){
                              this.datasetListLength = res.data.length;
                        })
			},

			show:function() {
				this.$modal.show('line-chart');
			},

			_setActiveStep:function(datasetId, settings){
				if( datasetId){
					var oThis = this;
                    var columnInfo = [];

                    settings['graphs'].map(function(item, index){
                        columnInfo.push(item.valueField);
                    });

                    columnInfo.push(settings.categoryField);

					var data = this._validationSettings(datasetId, columnInfo).then(function(result) {
						if( result ){
							oThis.setData({
								settings: settings,
								datasetId: datasetId,
								datasetResult: result
							});

							oThis.nextStep3();
						} else {
                            oThis.isResetDataset = true;
                            oThis.prevStep1();
                        }
					});
				}else{
					this.prevStep1();
				}
			},
			_validationSettings:function(datasetId, columns){
				var self = this;

				return Vue.$DatasetPreviewService.validationDataset(datasetId).then(function(result) {
					if( !result ){
						alert(Vue.$i18n.messages.wv.dataset.invalidDataset01);
						return false;
					}else{
						return Vue.$DatasetPreviewService.validationColumns(result, columns);
					}
				}).then(function(result) {
					if( !result ){
						alert(Vue.$i18n.messages.wv.dataset.invalidDataset02);
						return false;
					}else{
						return result;
					}
				});
			},

			setData:function(data){
				this.tranferData.targetListData[0].data[0] = data.settings["categoryField"];

				var graphData = data.settings["graphs"].map(function(value, index){
                              return value.valueField;
                        });

				this.tranferData.targetListData[1].data = graphData;
				this.tranferData.mainData.data = data.datasetResult.keys.concat();
				this.$refs.transferComp.setData( this.tranferData );

				this.datasetID = data.datasetId;
				this.datasetResultData = data.datasetResult;

			//	this.changeColumnData(this.tranferData);
			},

			changeColumnData:function( data ){
				this.tranferData = data;
				this.isResetDataset = true;

				this.initChart();
			},

            handleClick:function(tab, event) {
                if(tab.name == "firstTab") {
					this.prevStep1();
				} else {
					this.nextStep3();
				}
            },

			prevStep1:function(){
				this.stepActive = 0;
				this.tabName = "firstTab";
				if( !this.$refs.datasetPreviewComp.getDataset() ){
					this.$refs.datasetPreviewComp.selectDatasetById( this.datasetID );
				}
			},

			prevStep2:function(){
				this.tabName = "firstTab";
				this.stepActive = 1;

				this.initChart();
			},

            nextStep2: function () {
                this.currentDataset = this.$refs.datasetPreviewComp.getDataset();
                if (this.datasetID && this.currentDataset && this.datasetID == this.currentDataset.dataset_id) {
                    var datasetPreviewData = this.$refs.datasetPreviewComp.getPreviewData();
                    /**
                     * 이미 저장된 데이터셋 ID가 있을 경우, 데이터셋 실행하기에서 미리보기 데이터가 없어도 기존 정보로 다음스텝으로 이동,
                     * 데이터 결과가 있을경우 컬럼 정보를 비교하여 틀리면 transfer reset/ 기존 정보로 다음스텝으로 이동,
                     */
                    if( datasetPreviewData == null || datasetPreviewData.length == 0 || datasetPreviewData.keys.join('') == this.datasetResultData.keys.join('')){
                        this.stepActive = 1;
                    }else{
                        this._initTransferData();
                        this.stepActive = 1;
                    }
                } else {
                    if (this.$refs.datasetPreviewComp.validationPreviewData()) {
                        this.datasetResultData = this.$refs.datasetPreviewComp.getPreviewData();
                        this.datasetID = this.currentDataset.dataset_id;
                        this._initTransferData();
                        this.stepActive = 1;
                    }else{
                          return;
                    }
                }
                this.initChart();
            },

            _initTransferData: function(){
                this.datasetResultData = this.$refs.datasetPreviewComp.getPreviewData();

                this.tranferData.mainData.data = this.datasetResultData.keys;
                this.tranferData.targetListData[0].data = [];
                this.tranferData.targetListData[1].data = [];
                this.$refs.transferComp.setData( this.tranferData );
            },

			nextStep3:function(){
                        if (!this.checkData()) {
                              var locale_msg = Vue.$i18n.messages.wv;
                              Vue.$message(locale_msg.common.setData);

                              return;
                        }
				this.tabName = "secondTab";
				this.stepActive = 2;

				this.initChart();
			},

                  checkData: function() {
                        var targetListData = this.tranferData.targetListData;
                        return targetListData[0].data.length && targetListData[1].data.length;
                  },

			_onHidden:function(){
			      var self = this;
				var locale_msg = Vue.$i18n.messages.wv;
			    this.$confirm(locale_msg.common.confirmExitWindow, locale_msg.common.notification, {
                          confirmButtonText: 'OK',
                          cancelButtonText: 'Cancel',
                          type: 'warning'
                      }).then(function()  {
                            self.destroyChart();
                            self.$modal.hide('line-chart');
				    self.$emit("closed", false);
                      })
			},

            _onOk: function () {
                var self = this;
                var locale_msg = Vue.$i18n.messages.wv;

                  if (!this.checkData()) {
                        Vue.$message(locale_msg.common.setData);

                        return;
                  }
                this.$confirm(locale_msg.common.confirmSave, locale_msg.common.notification, {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'info'
                }).then(function () {
                    var styleConfig = {
                        "fontSize": self.chart.fontSize,
                        "colors": self.chart.colors,
                        "color": self.chart.color,
                        "legend": {
                            "enabled": self.chart.legend.enabled,
                            "position": self.chart.legend.position,
                            "align": self.chart.legend.align,
                            "color": self.chart.legend.color,
                        },
                        "categoryAxis": {
                            "labelRotation": self.chart.categoryAxis.labelRotation,
                            "axisColor": self.chart.categoryAxis.axisColor,
                            "gridColor": self.chart.categoryAxis.gridColor,
                            "dashLength": self.chart.categoryAxis.dashLength,
                            "axisThickness": self.chart.categoryAxis.axisThickness,
                            "gridThickness": self.chart.categoryAxis.gridThickness
                        },
                        "valueAxes": [{
                            "axisColor": self.chart.valueAxes[0].axisColor,
                            "gridColor": self.chart.valueAxes[0].gridColor,
                            "dashLength": self.chart.valueAxes[0].dashLength,
                            "axisThickness": self.chart.valueAxes[0].axisThickness,
                            "gridThickness": self.chart.valueAxes[0].gridThickness
                        }],
                        "chartCursor": {
                            "cursorColor": self.chart.chartCursor.cursorColor,
                            "enabled": self.chart.chartCursor.enabled,
                            "cursorAlpha": 0,
                            "categoryBalloonEnabled": false,
                            "valueLineEnabled": false
                        },
                        "chartScrollbar": {
                            "enabled": self.chart.chartScrollbar.enabled
                        },
                        "titles": [
                            {
                                "text": self.chart.titles[0].text,
                                "color": self.chart.titles[0].color,
                                "bold": self.chart.titles[0].bold,
                                "size": self.chart.titles[0].size
                            }
                        ],
                        "mouseWheelZoomEnabled": self.chart.mouseWheelZoomEnabled
                    };

                    for (var i = 0; i < self.graphConfig.length; i++) {
                        self.graphConfig[i].type = self.chart.graphs[i].type;
                        self.graphConfig[i].bulletColor = self.chart.graphs[i].bulletColor;
                        self.graphConfig[i].bullet = self.chart.graphs[i].bullet;
                        self.graphConfig[i].dashLength = self.chart.graphs[i].dashLength;
                        self.graphConfig[i].lineThickness = self.chart.graphs[i].lineThickness;
                        self.graphConfig[i].balloonText = self.chart.graphs[i].balloonText;
                        self.graphConfig[i].title = self.chart.graphs[i].title;
                    }

                    if (this.stepType != "auto") {
                        styleConfig.valueAxes[0].maximum = self.chart.valueAxes[0].maximum;
                        styleConfig.valueAxes[0].minimum = self.chart.valueAxes[0].minimum;
                    }

                    self.extensionProperties = {
                        "datasetId": self.datasetID,
                        "chartConfig": {
                            "graphs": JSON.parse(JSON.stringify(self.graphConfig)),
                            "categoryField": self.tranferData.targetListData[0].data[0]
                        },
                        "styleConfig": JSON.parse(JSON.stringify(styleConfig)),
                        "isStackedChart": self.isStackedChart,
                        "previewData": self.datasetResultData.data,
                        "stepType": self.stepType
                    };


                    self.componentInstance.setGroupProperties("extension", self.extensionProperties);
                    self.componentInstance.setGroupPropertyValue("style", "backgroundColor", self.previewBackgroundColor);

                    self.destroyChart();
                    self.$modal.hide('line-chart');
                    self.$emit('closed', true);
                })
            },

			destroyChart:function() {
				if(this.chart) {
                    this.chart.destroy();
                    this.chart.clear();
                    this.chart = null;
				}
			},

			initChart:function() {
				this.destroyChart();

				var id = this.tabName == 'firstTab' ? 'preview' : 'preview2';

				var chartConfig = $.extend(true, {}, this.extensionProperties.initConfig,
									this.extensionProperties.styleConfig);

				this.chart = AmCharts.makeChart(id, JSON.parse(JSON.stringify(chartConfig)));

				this.setChartConfig();

				this.changeStepType();
			},

			setChartConfig:function() {
				this.chart.categoryField = this.tranferData.targetListData[0].data[0];
				this.chart.graphs = this.makeSeries();
				this.chart.dataProvider = this.datasetResultData.data;
				this.chart.validateData();
			},

			makeSeries:function() {
				this.graphConfig = [];
				var graphs = [];
				var targetList = this.tranferData.targetListData[1].data;

				for(var i = 0 ; i < targetList.length ; i++) {
					var target = targetList[i];
                    var barItem = {
                        "balloonText": target + ":[[value]]",
                        "title": target,
                        "valueField": target,
                        "bulletBorderAlpha": 1,
                        "bullet": "none",
                        "bulletColor": "#ffffff",
                        "hideBulletsCount": 50,
                        "lineThickness": 2,
                        "type": "line",
                        "useLineColorForBulletBorder": true,
                        "dashLength": 0
                    };

                    var graphsLength = this.extensionProperties.chartConfig.graphs.length;
                    if (graphsLength > 0 && i < graphsLength) {
						var graph = this.extensionProperties.chartConfig.graphs[i];
						barItem.type = graph.type;
						barItem.bullet = graph.bullet;
						barItem.bulletColor = graph.bulletColor;
                        barItem.dashLength = graph.dashLength;
                        barItem.lineThickness = graph.lineThickness;
                        barItem.balloonText = graph.balloonText;
                        barItem.title = graph.title;
					}

					this.graphConfig.push(JSON.parse(JSON.stringify(barItem)));
					graphs.push(barItem);
				}

				return graphs;
			},

			validateChart:function(value) {
				if(this.chart && value != null){
					this.chart.validateNow();
					this.chart.validateData();
				}
			},

                  changeStepType:function(){
			      if(this.chart) {
                              if(this.stepType == 'auto') {
                                    delete this.chart.valueAxes[0].maximum;
                                    delete this.chart.valueAxes[0].minimum;

                                    this.chart.validateNow();
                                    this.chart.validateData();
                              }
                        }
                  },

                  addGuideLine:function() {
                        if(this.chart && this.chart.guides) {
                              this.chart.guides.push(
                                    {
                                          "value" : 40,
                                          "toValue": 40,
                                          "fillColor" : "#123456",
                                          "fillAlpha": 0.2,
                                          "lineColor" : "#123456",
                                          "label": "test",
                                          "position": "right",
                                          "inside" : true
                                    });
                              this.chart.validateNow();
                        }
                  },

                  deleteGuide:function(index){
                        this.chart.guides.splice(index, 1);
                        this.initChart();
                  }
		}
	}


</script>
<style scoped>
	#line-chart .el-tabs{overflow: auto;}
	.grid-step-wrap{display: flex; flex-direction: column; overflow: auto; flex: 1;}
	.cont-title{margin-bottom: 10px; font-size: 16px;}
	.cont-title:first-child{margin-top:0;}
	.transfer-comp{margin: 0 auto 10px auto; min-height: 240px;}
	.dataset-preiview-comp{flex:1;}
	.bottom-btn-wrap{margin-top: 14px; display: flex; justify-content: flex-end;}
	.bottom-btn-wrap .bottom-btn{margin-left: 6px; width: 300px; min-height:28px;}
	#preview {width: 100%; height: 200px;}
	#preview2 {width: 100%; height: 95%; min-width: 300px;}
	.flex-column{display: flex; flex-direction: column; flex: 1 !important;}
	.flex-row{display: flex; flex-direction: column; flex: 1 !important;}

	.style-settings-table-wrap {width: 100%; margin-bottom: 7px;}
	.style-settings-table-wrap table {border: 1px solid #e6ebf5;}
	.style-settings-table-wrap table td,
	.style-settings-table-wrap table th {border-bottom: 1px solid #e6ebf5; border-right: 1px solid #e6ebf5; background-color: #fff;}
	.style-settings-table-wrap table th {text-align: center; background-color: #fafafa;}
	.style-settings-table-wrap table th,
	.style-settings-table-wrap table td {padding: 6px 14px;}
	.style-settings-table-wrap table td > div {display: flex; align-items: center; justify-content: center;}
	.style-settings-table-wrap table td > div > * { margin: 0 6px 0 0;}
	.style-settings-table-wrap table td > div > *:last-child { margin-right: 0;}

	.style-settings-table-wrap input {height: 28px; border-radius: 4px; border: 1px solid #d8dce5; padding: 6px;}
	.style-settings-table-wrap label {margin: 0;}
	.style-settings-table-wrap .color-picker {height: 28px;}
	.style-settings-table-wrap .color-picker__trigger {height: 28px; width: 28px; padding: 0; border: none;}
	.style-settings-table-wrap .color-picker__mask {height: 28px; width: 28px; border-radius: 0px;}

      .guide-line {
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
      }

      .modal-tabs .el-tabs__item.is-disabled {cursor:no-drop;}

      [id$=-chart].w-modal .modal-header {z-index: 11}
      [id$=-chart].w-modal.modal-tabs .modal-body {height: 100%;position: absolute;width: 100%;padding-top: 56px;z-index: 10;top:0;}

      .modal-body  .el-tabs {display:flex;flex-flow:column;}
      .modal-body  .el-tabs__content {flex: 1 1 auto;}
      .modal-body  .el-tab-pane {height: 100%;}
      .modal-body  .grid-step-wrap {height: 100%;}
      .modal-body #pane-secondTab {overflow-y:scroll;}
</style>
