<template>

      <modal
            class="w-modal"
            id="rolling-page-modal"
            name="rolling-page-modal"
            :draggable="false"
            :click-to-close="false"
            :resizable="true"
            :width="1020"
            :height="770"
            :min-width="1020"
            :min-height="770"
      >
            <div class="modal-header">
                  <h4>Rolling Page Component Settings</h4>
                  <a class="close-modal-btn" role="button" @click="onHidden">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="modal-body" >
                  <template v-if="extensionProperties">
                        <div></div>
                  </template>
            </div>
      </modal>
</template>


<script>
	/*
	사용 방법
	1. 컴포넌트 설정하기
		setComponent 메서드로 컴포넌트 인스턴스 넘어 옴.
		componentInstace.getPropsSubProperties(프로퍼티 그룹명)을 이용해 접근하고자 하는 프로퍼티 정보만을 구해오기
		그룹명은 props를 기준으로 가져옴.
			프로퍼티 그룹명 == componentInstace._properties.props.프로퍼티 그룹명

      2. 모달 보이기
            show()메서드가 다음으로 호출되며
             modal.show() 메서드 호출

      3. 저장시
            아래와 같이 updatePropsSubProperties() 메서드를 호출해 프로퍼티 정보를 업데이트
            this.componentInstance.updatePropsSubProperties(this.extensionProperties, "extension");
	 */



	module.exports = {

		data:function(){
			return {
				temp1:"data1",
				componentInstance:null,
				extensionProperties:null
			}
		},


		methods:{

			setComponent(componentInstance){
				this.componentInstance = componentInstance;
				this.extensionProperties = $.extend(true,{}, this.componentInstance.getGroupProperties("extension"));
			},

			show() {
			      console.log("show");
                        this.$modal.show('rolling-page-modal');
			},

			onHidden(){
                        // closed는 반드시 해줘야함
                        this.$emit("closed", false);
                        this.$modal.hide('rolling-page-modal');

			},

			onOk(){
				this.componentInstance.setGroupProperties("extension",this.extensionProperties);
			}
		}
	}





</script>


<style scoped>

</style>

