<template>
      <modal
            name="rolling-page-popup"
            ref="modal"
            class="w-modal modal-tabs"
            :click-to-close="false"
            @opened="modalOpened"
            :resizable="true"
            :width="800"
            :height="600"
            :min-width="800"
            :min-height="600">

            <div class="modal-header">
                  <h4>Rolling Page Component Settings</h4>
                  <a class="close-modal-btn" role="button" @click="_onHidden">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="rolling-settings-wrap" data-popupname="renobit-rolling-page-popup">
                  <div class="rolling-edit-wrap">
                        <div class="content-area" >
                              <div class="page-list-wrap">
                                    <h5 class="rolling-title">{{$t('extension.rollingPage.title')}}</h5>
                                    <div class="d-flex align-items-center">
                                          <el-checkbox style="margin-right: 14px;"
                                                       v-model="checkAll" @change="handleCheckAllChange">{{$t('extension.rollingPage.total')}}
                                          </el-checkbox>
                                          <el-input class="search-field" size="small" v-model="searchStr"
                                                    :placeholder="$t('page.inputPageName')">
                                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                                <i @click="clearSearchStr()"
                                                   class="clear-search-str el-icon-error el-input__icon"
                                                   slot="suffix"></i>
                                          </el-input>
                                    </div>
                                    <div class="d-flex flex">
                                          <div class="page-list flex-scroll" v-show="!searchMode">
                                                <template v-for="item in pageTreeData">
                                                      <rolling-page-tree-item :data="item"
                                                                              @change="changePageChecked"></rolling-page-tree-item>
                                                </template>
                                          </div>
                                          <div class="page-list page-search-list flex-scroll" v-show="searchMode">
                                                <div class="rolling-page-tree-item flat"
                                                     v-if="resultList.length>0"
                                                     v-for="item in resultList"
                                                     :key="item.id"
                                                     :class="[item.type != 'page' ? 'group' : 'page']"
                                                >
                                                      <div class="label" v-if="item.type == 'page'">
                                                            <el-checkbox :disabled="item.disabled" @change="changePageChecked"
                                                                         v-model="item.checked" class="label"
                                                                         style="width:100%;" :label="item.text "
                                                                         :key="item.id" border>
                                                                  <div class="flex" style="white-space: nowrap;">
                                                                        <div class="d-flex">
                                                                              <i class="fa fa-file-o" aria-hidden="true"></i>
                                                                              <div class="txt ellipsis">{{item.text}}
                                                                              </div>
                                                                              <span class="search-children-len"
                                                                                    v-if="item.type != 'page' && item.childrenFlat.length">
                                                        (+{{item.childrenFlat.length}})
                                                    </span>
                                                                        </div>
                                                                        <div class="parents-txt" v-if="item.parentsStr">
                                                                              {{item.parentsStr}}
                                                                        </div>
                                                                  </div>
                                                                  <el-badge :value="item.count"></el-badge>
                                                            </el-checkbox>
                                                      </div>
                                                </div>
                                                <div v-if="resultList.length==0"
                                                     style="margin: 10px 5px; color: #555;text-align: center;">
                                                      검색 결과가 없습니다.
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="arrow-wrap">
                                <span class="arrow-btn" @click="addPage">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </span>
                              </div>
                              <div class="rolling-page-edit-wrap d-flex flex-column">
                                    <h5 class="rolling-title">{{$t('extension.rollingPage.configure')}}</h5>
                                    <div class="duration-field">
                                          <span class="txt">default duration :</span>
                                          <el-input size="small" v-model="duration" placeholder="sec"></el-input>
                                          <el-button type="primary" size="small" @click="setRollingDutation">{{$t('common.apply')}}</el-button>
                                    </div>
                                    <div class="rolling-page-warp flex-scroll sortable-wrap">
                                          <ul class="page-sortable handle-sortable">
                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="bottom-btn-wrap d-flex justify-content-center">
                        <el-button size="small" @click="_onHidden">{{$t('common.cancel')}}</el-button>
                        <el-button type="primary" size="small" @click="_onOk">{{$t('common.apply')}}</el-button>
                  </div>
            </div>
      </modal>
</template>


<script>
      var RollingPageTreeItem = {
            name: "rolling-page-tree-item",
            props: {
                  data: {
                        type: Object,
                        default: function () {
                              return {
                                    text: '',
                                    children: [],
                                    id: '',
                                    type: '',
                                    checked: false,
                                    count: 0,
                                    parentsStr: '',
                                    disabled: false
                              }
                        }
                  }
            },

            data: function () {
                  return {}
            },

            template:  "<div class=\"rolling-page-tree-item\" :class=\"[data.type != 'page' ? 'group' : 'page']\">\n<div class=\"label\">                                  \n<el-checkbox  :disabled=\"data.disabled\" v-if=\"data.type == 'page'\" v-model=\"data.checked\" class=\"label\" style=\"width:100%;\" :label=\"data.text \" :key=\"data.id\" border>\n<i class=\"fa fa-file-o\" aria-hidden=\"true\"></i>\n<span class=\"txt ellipsis\">{{data.text}}</span>\n<el-badge :value=\"data.count\"></el-badge>\n</el-checkbox>\n<div v-else class=\"label group-item\" style=\"width:100%;\" :label=\"data.text \" :key=\"data.id\" border>\n<i class=\"fa fa-folder-o\" aria-hidden=\"true\"></i>\n<span class=\"txt ellipsis\">{{data.text}}</span>\n</div>\n</div>\n<rolling-page-tree-item\nv-if=\"data.children\"\nv-for=\"item in data.children\"\n:key=\"item.id\"\n:data=\"item\"\n></rolling-page-tree-item>\n</div>",
            
            
            methods: {

            }
      };

      module.exports = {

            data: function () {
                  return {
                        componentInstance: null,
                        extensionProperties: null,
                        selectedRow: {
                              name: ''
                        },

                        pageList: [],
                        rollingPageList: [],
                        pageTreeData: [],
                        flatPageTreeData: [],
                        checkAll: false,
                        checkedPage: [],
                        resultList: [],
                        searchStr: '',
                        countObject: {},
                        pageRootId: "wv_root",
                        sortableEl:  null,
                        duration: '',
                        currentPageId: ''
                  }
            },

            components: {
                  RollingPageTreeItem: RollingPageTreeItem
            },

            watch: {
                  searchStr: function () {
                        this.checkAllAct(false);
                        this.resultList.splice(0, this.resultList.length);
                        if (this.searchMode) {
                              var self = this;
                              this.resultList = this.resultList.concat(this.flatPageTreeData.filter(
                                    function (x) {
                                          return x.text.toLowerCase().indexOf(self.searchStr.toLowerCase()) != -1
                                    }));
                        } else {
                              this.resultList = this.resultList.concat(this.flatPageTreeData);
                        }
                  }
            },


            computed: {
                  searchMode: function () {
                        if (this.searchStr.length > 0) {
                              return true;
                        } else {
                              return false;
                        }
                  }
            },

            methods: {
                  
                  
                  addPage: function (){
                        var addData = this.__getSelectedItems();
                        this.addRollingPages(addData);
                  },


                  setPageTreeData: function () {
                        this.flatPageTreeData = [];
                        var flatData = $.extend(true, {}, {data: wemb.pageTreeDataManager.treeData});
                        flatData = flatData.data;
                        var rootData = flatData.find(function (x) {
                              if (x.parent == '#') return x
                        });
                        var ary = [];
                        if (rootData) {
                              rootData.count = this.countObject[rootData.id];
                              rootData.checked = false;
                              rootData.parentsStr = "";

                              ary.push(rootData);
                              this.flatPageTreeData.push(rootData);
                              rootData.children = this.__getChildrenData(rootData, flatData);
                              rootData.childrenFlat = this.__getChildrenFlatData(rootData.id, flatData);
                        }

                        this.pageTreeData = ary;
                        this.resultList.splice(0, this.resultList.length);
                        this.resultList = this.resultList.concat(this.flatPageTreeData);
                  },

                  __getChildrenData: function (parentData, data) {
                        var parentID = parentData.id;
                        var ary = [];
                        var filterData = data.filter(function (x) {
                              return x.parent == parentID
                        });
                        for (var i = 0, len = filterData.length; i < len; i++) {
                              var child = filterData[i];

                              child.count = this.countObject[child.id];
                              child.checked = false;

                              if(child.id == this.currentPageId){
                                    child.disabled = true;
                              }

                              if (!parentData.parentsStr) {
                                    child.parentsStr = "";
                              } else {
                                    child.parentsStr = parentData.parentsStr + " > ";
                              }

                              child.parentsStr += parentData.text;

                              this.flatPageTreeData.push(child);
                              if (child.type == "group") {
                                    child.children = this.__getChildrenData(child, data);
                                    child.childrenFlat = this.__getChildrenFlatData(child.id, data);
                              }
                              ary.push(child);
                        }
                        return ary;
                  },

                  __getChildrenFlatData: function (parentID, data) {
                        var ary = [];
                        var filterData = data.filter(function (x) {
                              x.parent == parentID
                        });
                        for (var i = 0, len = filterData.length; i < len; i++) {
                              var child = filterData[i];
                              ary.push(child);

                              if (child.type == "group") {
                                    ary.push(this.__getChildrenFlatData(child.id, data));
                              }
                        }

                        return ary;
                  },

                  changePageChecked: function () {
                        if (this.resultList.filter(function (x) {
                                    x.checked == false
                              }).length) {
                              this.checkAll = false;
                        } else {
                              this.checkAll = true;
                        }
                  },

                 

                  createSortable: function (){
                        var self = this;
                        this.sortableEl = $(".page-sortable");
                        this.sortableEl.sortable({
                              handle: ".handle"
                        });

                        var locale_msg = this.$i18n.messages.wv;
                        this.sortableEl.on("click", ".del-btn", function(){
                              var $targetLi = $(this).closest("li");

                              Vue.$confirm(locale_msg.common.confirmDelete, locale_msg.common.notification, {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              }).then(function(){
                                    var index = self.sortableEl.find("li").index($targetLi);
                                    self.removeRollingPage(index);
                              }).catch(function(){

                              });
                        });
                        //$el.disableSelection();
                  },

                  removeRollingPage: function (index){
                        if(this.rollingPageList.length && index > -1 && index < this.rollingPageList.length){
                              this.rollingPageList.splice(index, 1);
                              this.sortableEl.find("li").eq(index).remove();
                              this.changePageCount();
                        }
                  },

                  initData:function(){
                        this.componentInstance = null;
                        this.extensionProperties = null;
                        this.selectedRow = {name: ''};

                        this.pageList = [];
                        this.rollingPageList = [];
                        this.pageTreeData = [];
                        this.flatPageTreeData=[];

                        this.checkAll = false;
                        this.checkedPage = [];
                        this.resultList = [];
                        this.searchStr = '';
                        this.countObject = {};
                        this.duration= '';
                        this.currentPageId = '';
                        if(this.sortableEl && this.sortableEl.destroy){
                              this.sortableEl.empty();
                              this.sortableEl.destroy();
                              this.sortableEl=null;
                        }
                  },

                  setComponent: function (componentInstance) {
                        this.initData();
                        this.currentPageId = wemb.pageManager.currentPageInfo.id;
                        this.pageList = wemb.pageManager.getPageInfoList();
                        this.componentInstance = componentInstance;                        
                  },


                  show: function () {
                        this.$modal.show("rolling-page-popup");   
                  },


                  modalOpened:function(){
                        var data = this.componentInstance.getGroupProperties("extension").dataProvider;
                        this.setPageTreeData();
                        this.createSortable();
                        this.setSavedRollingPageTreeData(data);
                  },

                  _hide: function(){
                        this.$emit("closed");
                        this.$modal.hide("rolling-page-popup");
                  },

                 
                  setSavedRollingPageTreeData: function (list){
                        var ary = [];
                        var removeCount = 0;
                        for(var i=0, len=list.length; i<len; i++){
                              var  data = list[i];

                              var findItem = this.flatPageTreeData.find(function (x) {
                                    if (x.id==data.id) return x
                              });

                              if( findItem ){
                                    findItem = $.extend(true, {}, findItem);
                                    findItem.duration = data.duration;
                                    ary.push(findItem);
                              }else{
                                   removeCount++;
                              }
                        }

                        var locale_msg = this.$i18n.messages.wv;
                        if(removeCount){
                              this.$message(locale_msg.page.error02.replace("{removeCount}", removeCount));
                        }

                        if( ary.length ){
                              this.updateRollingPageList(ary);
                        }

                  },

                  updateRollingPageList: function (list){
                        this.rollingPageList = list;
                        this.sortableEl.empty();
                        this.addRollingPageDomItems(this.rollingPageList);
                  },

                  _onHidden: function () {
                        var self = this;
                        var locale_msg = this.$i18n.messages.wv;
			      this.$confirm(locale_msg.common.confirmExitWindow, '알림', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(function () {                              
                              self._hide();
                        }).catch(function () {

                        })
                  },

                  _onOk: function () {
                        var $li = this.sortableEl.find("li");
                        var locale_msg = this.$i18n.messages.wv;
                        if( !$li.length ){
                              this.$message(locale_msg.page.rollingPageWarning);
                              return;
                        }

                        var ary = [];
                        var result = true;
                        $li.each(function(){
                              var $target = $(this);
                              var duration = parseInt( $target.find(".sec-input>input").val().trim() );
                              if( isNaN(duration) ){
                                    result = false;
                                    return;
                              }

                              ary.push({
                                    id: $target.attr("data-id"),
                                    duration:duration
                              })
                        })

                        var locale_msg = this.$i18n.messages.wv;
                        if( !result ){
                              this.$message(locale_msg.page.warning01);
                              return;
                        }


                        this.componentInstance.setGroupProperties("extension", {
                              "dataProvider": ary
                        });
                        
                        
                       this._hide();
                  },


                  getDefaultDuration: function (){
                        var duration = parseInt( this.duration.trim() );
                        return duration;
                  },

                  handleCheckAllChange: function (val) {
                        this.checkAllAct(val);
                  },


                  checkAllAct: function (bool) {
                        this.checkAll = bool;
                        for (var i = 0, len = this.resultList.length; i < len; i++) {
                              var item = this.resultList[i];
                              if( item.type == "page"  ){
                                    if(!item.disabled){
                                          this.resultList[i].checked = bool;
                                    }else{
                                          this.resultList[i].checked = false;
                                    }
                              }
                        }
                  },

                  setPageCount: function () {
                        for (var i = 0; i < this.pageList.length; i++) {
                              var page = this.pageList[i];

                              this.pageList[i].count = this.countObject[page.id];
                        }

                        this.setPageTreeData();
                  },

                  changePageCount: function () {
                        this.countObject = {};
                        var $li = this.sortableEl.find("li");
                        var length = $li.length;
                        for (var i = 0; i < length; i++) {
                              var dataID = $li.eq(i).attr("data-id");
                              if (!this.countObject[dataID]) {
                                    this.countObject[dataID] = 1;
                              } else {
                                    this.countObject[dataID]++;
                              }
                        }

                        this.setPageCount();
                  },


                  __getSelectedItems: function () {
                        var items = this.resultList.filter(function (x) {
                              return x.checked == true
                        });

                        return items;
                  },



                  __getParents: function (item) {
                        var ary = [];
                        if (item.id == this.pageRootId) {
                              return ary;
                        }


                        var target = item;
                        var itemList = wemb.pageTreeDataManager.treeData;

                        while (target && target.id != this.pageRootId) {
                              target = itemList.find(function (x) {
                                    if (x.id == target.parent) return x
                              });
                              ary.push(target);
                        }

                        return ary;
                  },


                  clearSearchStr: function () {
                        this.searchStr = "";
                  },

                  addRollingPages: function (list){
                        this.rollingPageList = this.rollingPageList.concat(list);
                        this.addRollingPageDomItems(list);
                        this.checkAllAct(false);
                        /*
                        checked:true
                        count: undefined
                        id:"e01e208b-8a3c-496f-a7ef-60285986abd2"
                        parent: "wv_root"
                        parentsStr: "Project"
                        text: "test11"
                        type: "page"*/

                  },





                  addRollingPageDomItems: function (list){
                        var str = '';
                        var defaultDuration = this.getDefaultDuration() || '';

                        for( var i=0, len=list.length; i<len; i++ ){
                              var item = list[i];
                              var duration = item.duration || defaultDuration;

                              str += '<li data-id="'+item.id+'">' +
                                    '<span class="handle"></span>' +
                                    '<div>' +
                                    '<span class="title">'+item.text+'</span><p>'+item.parentsStr+'</p>' +
                                    '</div>' +
                                    '<div class="sec-input el-input el-input--small">' +
                                    '<input data-id="'+item.id+'" value="'+duration+'" placeholder="sec" size="small" type="text" class="el-input__inner">' +
                                    '</div> ' +
                                    '<button type="button" data-id="'+item.id+'" class="del-btn el-button el-button--danger el-button--mini">' +
                                    '<i data-v-a209615a="" aria-hidden="true" class="fa fa-trash-o"></i>' +
                                    '</button>' +
                                    '</li>';
                        }

                        this.sortableEl.append(str);
                        this.changePageCount();
                  },

                  setRollingDutation: function (){
                        var locale_msg = this.$i18n.messages.wv;
                        var duration = this.getDefaultDuration();
                        if( isNaN(duration) ){
                              Vue.$message.error(locale_msg.common.errorInput);
                              return;
                        }

                        this.sortableEl.find(".sec-input>input").val(duration);
                  }
            }
      }
</script>
<style scoped>
      [data-popupname=renobit-rolling-page-popup] {
            display: flex;
            flex-direction: column;
            padding: 16px 24px 20px 24px;
            height: 100%;
      }


      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 14px;
            border: 1px solid #d8dce5;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
      }


      [data-popupname=renobit-rolling-page-popup] .rolling-title h4 {
            flex: 1;
            margin: 0;
            font-size: 14px;
            margin: 0 0 2px 2px;
      }

      [data-popupname=renobit-rolling-page-popup] h5.rolling-title {
            font-size: 13px;
            margin: 8px 0 10px 0;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-title {
            margin-bottom: 4px;
            display: flex;
            align-items: flex-end;
      }


      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .top-area .save-btn span {margin-left: 2px;}
      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .top-area .save-btn i {margin-right: 2px;}
      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .content-area {display: flex;flex: 1;}

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .content-area .arrow-wrap {
            width: 40px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .content-area .rolling-page-edit-wrap { flex: 1; }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .content-area .arrow-wrap:before {
            content: '';
            position: absolute;
            top: 0;
            left: 19px;
            border-left: 1px solid #ededed;
            display: block;
            height: 100%;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .content-area .arrow-wrap .arrow-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #595e65;
            color: #fff;
            border-radius: 5px;
            height: 90px;
            width: 18px;
            text-align: center;
            z-index: 0;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap h4 {
            font-size: 13px;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list-wrap {
            display: flex;
            flex-direction: column;
            width: 310px;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list {
            padding: 0;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list > li > label {
            height: 34px;
            line-height: 34px;
            padding: 8px 8px 6px 10px;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list  .group-item {
            border-radius: 4px;
            border: 1px solid #e6e2e2;
            padding: 6px 12px;
      }


      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list .el-checkbox {
            display: flex;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list-wrap .el-checkbox__label {
            font-size: 13px;
            padding-left: 6px;
      }

      /*전체 체크박스*/
      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list .el-checkbox__label {
            flex: 1;
            display: flex;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list .el-checkbox__label > span {
            flex: 1;
            font-size: 12px;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list .el-checkbox__label sup {
            top: 0;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list .el-badge__content {
            background-color: #4690e6;
      }

      [data-popupname=renobit-rolling-page-popup] > .rolling-edit-wrap .page-list .el-checkbox__inner {
            display: none;
      }

      [data-popupname=renobit-rolling-page-popup] .search-children-len {
            font-size: 11px;
            margin-left: 5px;
            color: #4690e6;
            font-weight: bold;
      }



      [data-popupname=renobit-rolling-page-popup] .page-search-list .el-checkbox {
            height: auto !important;
      }

      [data-popupname=renobit-rolling-page-popup] .page-search-list .parents-txt {
            font-size: 11px;
            color: #888;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item>.label{margin-bottom: 6px;}
      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item:first-child {
            padding-left: 0;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item:not(.flat) {
            padding-left: 20px;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item.group > .label {
            background-color: #f5f5f5;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item .label .txt {
            margin-left: 6px;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item i {
            margin-top: 2px;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item .el-checkbox.is-bordered {
            padding: 10px 10px 8px 10px;
      }

      [data-popupname=renobit-rolling-page-popup] .rolling-page-tree-item .el-checkbox__label {
            width: 100%;
      }


      [data-popupname=renobit-rolling-page-popup] .rolling-page-warp{margin-top: 6px; border: 1px solid #e6ebf5;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap{min-height: 140px;  overflow: auto;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul{list-style: none; margin:0;padding:0;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul>li:first-child{border:none;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul>li{display:flex; align-items: center; flex-direction:row;padding: 8px 12px 8px 8px; border-top: 1px solid #e6ebf5; background-color: #fff;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul>li>div{flex:1;margin: 0 6px;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul>li .title{}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul>li p{margin:0;word-break: break-all;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul>li.ui-sortable-helper{border: 1px solid #e6ebf5; }
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap .sec-input{flex:none; width: 100px;}
      [data-popupname=renobit-rolling-page-popup] .sortable-wrap>ul>li p{font-size:12px; color:gray;}
      [data-popupname=renobit-rolling-page-popup] .duration-field{display:flex; width:320px; align-items: center; align-self: flex-end;}
      [data-popupname=renobit-rolling-page-popup] .duration-field button{margin-left: 4px;}
      [data-popupname=renobit-rolling-page-popup] .duration-field .txt{line-height: 28px;display: block; width: 200px; text-align: right; margin-right: 4px;align-self:flex-end;}
      [data-popupname=renobit-rolling-page-popup] .bottom-btn-wrap{ margin: 10px 0 0 0;}
      .modal-header {z-index: 2}
      [data-popupname=renobit-rolling-page-popup].rolling-settings-wrap {position: absolute;padding-top: 56px;width:100%;z-index: 1}
</style>
