<template>
      <div>
            <div class="panel-content-area">
                  <div id="page-tree-list" style="margin-top:4px;"></div>
            </div>
            <div class="panel-bottom-area">
                  <el-tooltip class="item" effect="dark" content="edit" placement="top">
                        <button class="icon-btn-flat icon-page-edit" @click="onEditPage"
                                :class="{disabled:!buttons.editPage}">수정
                        </button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="create" placement="top">
                        <button class="icon-btn-flat icon-page-create" @click="onNewPage"
                                :class="{disabled:!buttons.newPage}"
                        >새페이지
                        </button>
                  </el-tooltip>
                  <!--<el-tooltip class="item" effect="dark" content="save" placement="top">
					<button @click="onSave" class="icon-btn-flat icon-page-save"  :class="{disabled:!buttons.savePage}"  :disabled="buttons.savePage==false">저장</button>
				</el-tooltip>
				<el-tooltip class="item" effect="dark" content="save as" placement="top">
					<button @click="onSaveAs" class="icon-btn-flat icon-page-saveas"  :class="{disabled:!buttons.saveAsPage}"  :disabled="buttons.saveAsPage==false">다른이름으로 저장</button>
				</el-tooltip>-->
                  <el-tooltip class="item" effect="dark" content="delete" placement="top">
                        <button class="icon-btn-flat icon-trash" @click="onDeletePage"
                                :class="{disabled:!buttons.deletePage}"
                        >삭제
                        </button>
                  </el-tooltip>
            </div>
      </div>
</template>

<script lang="ts">
      import Vue from "vue"
      import Component from "vue-class-component"
      import PageListPanelMediator from "./PageListPanelMediator";
      import PageTreeItemVO from "../../../model/vo/PageTreeItemVO";
      import {EDITOR_APP_STATE} from "../../../../wemb/wv/data/Data";

      @Component({
            components: {}
      })
      export default class PageListPanel extends Vue {
            public static readonly EVENT_OPEN_PAGE: string = "event/openPage";
            public static readonly EVENT_NEW_PAGE: string = "event/newPage";
            public static readonly EVENT_CHANGE_PAGE_NAME: string = "event/changePageName";
            public static readonly EVENT_DELETE_SELECTED_PAGE: string = "event/deletePageById";


            private treeObject: any = null;
            private selectedPageID: string = "";
            private isReadyTreeData: boolean = false;
            public active: boolean = false;

            public buttons = {
                  newPage: true,
                  savePage: false,
                  saveAsPage: false,
                  deletePage: false,
                  editGroup: false,
                  editPage: false
            }

            created() {

                  this._initTreeEvent();
            }


            private _initTreeEvent() {
                  let $bus = window.wemb.pageTreeManager.$bus;

                  /*
				pageTreeManager에 노드가 추가 되는 경우 dom node 추가하기
				*/

                  $bus.$on("added_tree_item", (pageTreeItemVO) => {
                        this.getTreeObject().create_node(pageTreeItemVO.parent, pageTreeItemVO, 'last', false, false);
                  });


                  /*
				pageTreeManager에 노드가 삭제 되는 경우 dom node 삭제하기
				*/
                  $bus.$on("removed_tree_item", (itemId) => {
                        // 해당하는 트리 정보 삭제
                        ///하나만 삭제할 경우
                        if (typeof itemId == "string") {
                              this.getTreeObject().delete_node(itemId);
                        } else {
                              //여러개를 삭제할 경우(다중선택)
                              for (let i = 0, len = itemId.length; i < len; i++) {
                                    this.getTreeObject().delete_node(itemId[i]);
                              }
                        }

                        // 스타일 설정하기
                        this._updatePageStateStyle();
                  });
            }

            mounted() {
                  window.wemb.viewComponentMap.set(PageListPanelMediator.NAME, this);
                  let self = this;
                  //페이지 이동
                  $("#page-tree-list").on("dblclick", "li[role='treeitem']", function () {
                        let id = $(this).attr("id");
                        if (id == "wv_root")
                              return;

                        let target = self.getTreeObject().get_node(id);
                        if (target && target.type == "page") {
                              self._onOpenPageName(target.id);
                        }
                  })
            }

            _onOpenPageName(name) {

                  this.$emit(PageListPanel.EVENT_OPEN_PAGE, name);
                  //this.$store.dispatch(types.ACTION_MAIN_OPEN_PAGE_NAME, name);

            }


            getTreeObject() {
                  if (!this.treeObject) {
                        this.treeObject = $('#page-tree-list')["jstree"](true);
                  }

                  return this.treeObject;
            }

            setSelectedPageStyle() {
                  let $li = $("#page-tree-list").find("li").removeClass("selected");
                  $li.filter("[id='" + this.selectedPageID + "']").addClass("selected");
            }

            convertToPageTreeItemVOList(list) {
                  return list.map((x) => {
                        let vo = new PageTreeItemVO();
                        vo.id = x.id;
                        vo.text = x.text;
                        vo.type = x.type;
                        vo.parent = x.parent;
                        return vo;
                  })
            }


            _saveTreeJsonData() {
                  let resultList = this.getTreeObject().get_json('#', {flat: true});
                  let pageTreeItemVOList = this.convertToPageTreeItemVOList(resultList);
                  window.wemb.pageTreeManager.savePageTreeData(pageTreeItemVOList);
            }


            setStartPageStyle() {
                  let $li = $("#page-tree-list").find("li")
                  $li.filter(".start").removeClass("start");
                  $li.filter("[id='" + this.getStartPageId() + "']").addClass("start");
            }

            setRegisterStartPageId(id) {
                  window.wemb.pageTreeManager.setStartPageId(id);
                  this._updatePageStateStyle();
            }

            getStartPageId() {
                  return window.wemb.pageTreeManager.getStartPageId();
            }


            onOpenPage(pageId: string) {
                  this.$emit(PageListPanel.EVENT_OPEN_PAGE, pageId);
            }


            onNewPage(type) {
                  this.$emit(PageListPanel.EVENT_NEW_PAGE, type);
            }

            getSelectedTreeIds() {
                  return this.getTreeObject().get_selected();
            }

            onEditPage() {
                  let ref = this.getTreeObject();
                  let sel = ref.get_selected();

                  if (!sel.length) {
                        return false;
                  }
                  sel = sel[0];
                  ref.edit(sel);
            }

            onDeletePage() {
                  this.$emit(PageListPanel.EVENT_DELETE_SELECTED_PAGE);
            }


            private _updatePageStateStyle() {
                  let $li = $("#page-tree-list").find("li");
                  $li.find(".selected").removeClass("selected");
                  $li.filter(".start").removeClass("start");
                  $li.filter("[id='" + this.selectedPageID + "']").addClass("selected");
            //      $li.filter("[id='" + this._getStartPageId() + "']").addClass("start");
            }


            private _getStartPageId() {
                  return window.wemb.pageTreeManager.getStartPageId();
            }


            private _updateSelectedPageID(pageId: string) {
                  this.selectedPageID = pageId;
                  this._updatePageStateStyle();
                  this.getTreeObject().deselect_all();
                  this.getTreeObject().select_node(this.selectedPageID);
                  window.wemb.pageTreeManager.focusTargetId = this.selectedPageID;

            }


            noti_openPage(pageId: string) {
                  this.active = true;
                  this.isReadyTreeData = true;
                  this._updateSelectedPageID(pageId);

                  this.buttons.deletePage = true;
                  this.buttons.newPage = true;
                  this.buttons.editPage = true;
                  this.buttons.editGroup = true;


            }

            noti_closedPage(){
                  this.buttons.deletePage = false;
                  this.buttons.newPage = false;
                  this.buttons.editPage = false;
                  this.buttons.editGroup = false;
            }


            noti_updateEditorState(state: EDITOR_APP_STATE) {
                  if (state == EDITOR_APP_STATE.READY_COMPLETED) {
                        createPageTree("#page-tree-list", this, window.wemb.pageTreeManager);
                        this.active = true;
                  }
            }

      }


      function createPageTree(selector, self, pageTreeManager) {
            let treeData = pageTreeManager.getPageTreeData();

            let $treeTarget = $(selector);
            $(selector)["jstree"]({
                  "core": {
                        "animation": 0,
                        "check_callback": true,
                        "themes": {
                              "stripes": true
                        },
                        'data': treeData,
                  },

                  'contextmenu': {
                        'items': function (node) {

                              var tmp = $["jstree"].defaults.contextmenu.items();
                              delete tmp.ccp;
                              delete tmp.create.action;

                              tmp.create.label = "New";
                              tmp.remove.action = function (data) {
                                    self.onDeletePage();
                              };

                              tmp.create.submenu = {
                                    "create_folder": {
                                          "separator_after": true,
                                          "label": "Group",
                                          "action": function (data) {
                                                self.onNewPage("group");
                                          }
                                    },
                                    "create_file": {
                                          "label": "Page",
                                          "action": function (data) {
                                                self.onNewPage("page");
                                          }
                                    }
                              };

                              if (this.get_type(node) === "root") {
                                    delete tmp.rename;
                              }

                              /*
                               권한 작업으로 인한 startPage 설정 주석 처리
                              */
                              /*if (this.get_type(node) === "page") {
                                    tmp.register = {
                                          label: "Start Page",
                                          separator_after: false,
                                          separator_before: false,
                                          _disabled: false,
                                          action: function (data, data2) {
                                                self.setRegisterStartPageId(self.getTreeObject().get_selected()[0]);
                                          }
                                    }
                              }*/

                              return tmp;
                        }
                  },

                  "types": {
                        "#": {
                              "max_children": 1,
                              "max_depth": 15,
                              "valid_children": ["root"]
                        },

                        "root": {
                              "valid_children": ["group", "page"]
                        },

                        "group": {
                              //"icon": "fa fa-folder-o",
                              "valid_children": ["group", "page"]
                        },

                        "page": {
                              "icon": "fa fa-file-o",
                              "valid_children": []
                        }
                  },

                  "plugins": [
                        "dnd", "state", "types", "wholerow", "contextmenu"
                  ]
            }).on('changed.jstree', function (e, data) {
                  if (data.selected && data.selected.length == 1) {
                        pageTreeManager.focusTargetId = data.selected[0];
                  } else {
                        pageTreeManager.focusTargetId = '';
                  }

                  let target = self.getTreeObject().get_node(pageTreeManager.focusTargetId);
                  switch (target.type) {
                        case "root":
                              self.buttons.editGroup = false;
                              self.buttons.deletePage = true;
                              self.buttons.newPage = true;
                              break;
                        case "group":
                              self.buttons.editGroup = true;
                              self.buttons.deletePage = true;
                              self.buttons.newPage = true;
                              break;
                        case "page":
                              self.buttons.editGroup = true;
                              self.buttons.deletePage = true;
                              self.buttons.newPage = true;
                              break;
                  }

                  self.setSelectedPageStyle();
            }).on("rename_node.jstree", (e, data, r) => {
                  if(data.text == data.old){
                        return;
                  }

                  if(pageTreeManager.hasTreeName(data.node.text)){
                        self.$message.error("동일한 이름이 존재합니다.");
                        self.getTreeObject().settings.core.data = pageTreeManager.getPageTreeData();
                        self.getTreeObject().refresh();
                        return;
                  }

                  // 그룹인지 아닌지 판단.
                  if(data.node.type != "page"){
                        // 트리 정보를 다시 저장하기
                        pageTreeManager.renameTreeItem(data.node.id, data.node.text);
                  }else {
                        // 페이지 인경우 페이지 정보 변경
                        window.wemb.pageManager.updatePageName(data.node.id, data.node.text).then(() => {

                              // 변경된 페이지 정보를 에디터에 알려주기
                              self.$emit(PageListPanel.EVENT_CHANGE_PAGE_NAME,
                                    {
                                          oldName:data.old,
                                          newName:data.node.text
                                    });

                              // 트리 정보를 다시 저장하기
                              pageTreeManager.renameTreeItem(data.node.id, data.node.text);

                        }).catch(error => {
                              alert(error);
                        })

                  }




                  self.setSelectedPageStyle();
            }).on("move_node.jstree", (e, data) => {
                  self._saveTreeJsonData();
                  self.setSelectedPageStyle();
            }).on("open_node.jstree", () => {
                  self.setSelectedPageStyle();
            }).on("create_node.jstree", (e, data) => {
                  self._saveTreeJsonData();
                  self.setSelectedPageStyle();
                  self.getTreeObject().select_node(self.selectedPageID);
            });

            self.setSelectedPageStyle();
      }

</script>
<style scoped>
      .treeview-custom {
            height: 200px;
            background-color: #ECEFF1;
      }

      .treeview-custom .icon.node-parent .fill {
            fill: #607D8B;
      }

      .treeview-custom .icon.node-parent-toggled .front {
            fill: #546E7A;
      }

      .treeview-custom .icon.node-parent-toggled .back {
            stroke: #546E7A;
            fill: #FFE151;
      }

      .treeview-custom .icon.node circle {
            stroke: #FF9800;
            fill: #FFCC80;
      }

      .treeview-custom label {
            font-weight: normal;
      }

      .treeview-custom .node.active label {
            font-weight: bold;
      }

      .treeview-custom .node.active {
            background-color: #CFD8DC;
            color: #FF9800;
            border-radius: 5px;
            padding: 5px;
      }

      .disabled {
            opacity: 0.5;
      }

      #page-tree-list >>> .jstree-wholerow {
            text-align: left;
      }

      #page-tree-list >>> li.selected > .jstree-wholerow:after {
            display: inline-block;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: #ff0101;
            margin-left: 8px;
      }

      #page-tree-list >>> li.start > .jstree-wholerow:after {
            display: inline-block;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: blue;
            margin-left: 8px;
      }
</style>
