<template>
	<modal
		class="w-modal"
		id="label-comp-extension"
		name="label-comp-extension"
		:click-to-close="false"
		:draggable="false"
		:width="800"
		:height="500"
		:min-width="800"
		:min-height="500"

	>
		<div class="modal-header"><h4>{{$t('extension.textComp.title')}}</h4><a class="close-modal-btn" role="button"
		                                                                   @click="hide"><i
			class="el-icon-error"></i></a></div>
		<div class="modal-body">
			<textarea v-model="text"></textarea>
			<div class="btn-wrap">
				<el-button class="bottom-btn" size="small" @click="hide">{{$t('common.cancel')}}</el-button>
				<el-button class="bottom-btn" type="primary" size="small" @click="_onOk">{{$t('common.apply')}}</el-button>
			</div>
		</div>
	</modal>
</template>
<script>
	module.exports = {
		data: function () {
			return {
				text: ""
			}
		},

		methods: {
			setComponent: function (componentInstance) {
				this.componentInstance = componentInstance;
				this.text = this.componentInstance.getGroupPropertyValue("setter", "text");
			},

			show: function () {
				this.$modal.show('label-comp-extension');
			},

			hide: function (updatState) {
				this.$modal.hide('label-comp-extension');
				this.$emit("closed", updatState);
			},

			_onOk: function () {
				this.componentInstance.setGroupPropertyValue("setter", "text", this.text );
				this.hide(true);
			}
		}
	}


</script>
<style scoped>
.modal-body{flex-direction: column;}
	textarea{flex: 1;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);}
	.btn-wrap {
		text-align: right;
	}

	.btn-wrap > .el-button + el-button {
		margin-left: 4px;
	}
</style>




