.Numeric007-container {
    display: flex;
    align-content: stretch;
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 30px;
}

.Numeric007-container .barContainer {
    width: 100%;
    height: 100%;
    min-height: 30px;
    padding: 0.4em;
    border: solid 2px #ee1199;
    border-radius: 0px 10px 10px 0px;
    background: #bbb;
}

.Numeric007-container .bar {
    width: 50%;
    min-height: 10px;
    height: 100%;
    background: repeating-linear-gradient(-55deg, #ee1199, #ee1199 10px, #fff 10px, #fff 20px);
    /*background: #ff4500;*/
    animation: barberpole 0.5s linear infinite;
}

.Numeric007-container .label {
    display: flex;
    align-items: center;
    color: #fff;
    height: 60%;
    padding: 5px 10px 5px 10px;
    max-width: 50%;
    white-space: nowrap;
    border-radius: 10px 0px 0px 10px;
}