<template>
    <modal
        class="w-modal modal-tabs"
        id="event-browser"
        name="event-browser"
        @opened="modalOpened"
        :draggable="false"
        :resizable="true"
        :width="1300"
        :height="600"
        :min-width="1300"
        :min-height="600">
        <div class="modal-header"><h4>Event Browser Settings</h4><a class="close-modal-btn" role="button" @click="_onHidden"><i class="el-icon-error"></i></a></div>
        <div class="modal-body">
            <div class="grid-step-wrap">
                <dataset-preview-main-component ref="datasetPreviewComp" class="dataset-preiview-comp"></dataset-preview-main-component>
                <div class="bottom-btn-wrap d-flex justify-content-end">
                    <el-button class="bottom-btn" type="primary" size="small" @click="selectDataset">{{$t('common.select')}}</el-button>
                </div>
            </div>

            <div style="padding-left: 14px; padding-bottom: 38px; flex:1;">
                <el-tabs type="border-card" v-model="tabName" @tab-click="tabChange">
                    <el-tab-pane :label="labelInfo[i]" :name="k" v-for="(v, k, i) in configInfo">
                        <div class="dataset-info-area">
                            <h5>{{$t('extension.eventBrowser.setDataset')}}</h5>
                            <div class="dataset-info">
                                <span v-if="configInfo[k].datasetId">{{configInfo[k].name}}</span>
                                <el-button v-if="configInfo[k].datasetId" size="mini" type="danger" @click="deleteDataset(configInfo[k])">
                                    <i aria-hidden="true" class="fa fa-trash-o"></i>
                                </el-button>

                                <div v-else>{{$t('dataset.emptyData')}}</div>
                            </div>
                        </div>
                        <div class="param-info-area" v-if="configInfo[k].param != null && configInfo[k].param.length != 0">
                            <h5>Paramater Info</h5>
                            <div class="param-info d-flex" v-for="(param) in configInfo[k].param">
                                <span style="width: 80px;">{{param.param_name}}</span>
                                <el-select size="mini" @change="selectedParam($event, param)" v-model="param.isDirect">
                                    <el-option value="0" :label="$t('common.defaultValue')"></el-option>
                                    <el-option value="-1" :label="$t('dataset.parameterSelect')"></el-option>
                                    <el-option value="1" label="Severity Value"></el-option>
                                </el-select>
                                <el-input v-if="param.isDirect != 1" size="mini" :disabled="param.inputDisabled" v-model="param.value"></el-input>

                                <el-select v-if="param.isDirect == 1" size="mini" v-model="param.isSeverityValue">
                                    <el-option v-for="item in severityList" :value="item" :label="item"></el-option>
                                </el-select>
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
                <el-button type="success" size="medium" @click="_onOk" class="save-btn">{{$t('common.save')}}</el-button>
            </div>

        </div>
    </modal>
</template>
<script>
    module.exports = {
        data:function(){
            return {
                tabName: "dpInfo",
                labelInfo:["Data Provider", "Count", "Severity"],
                configInfo : {},
                severityList: []
            }
        },

        methods:{
            setComponent: function (componentInstance) {
                this.componentInstance = componentInstance;
                this.extensionProperties = $.extend(true, {}, this.componentInstance.getGroupProperties("extension"));
            },

            show: function () {
                this.$modal.show('event-browser');
            },

            _onHidden: function () {
                var self = this;
                var locale_msg = this.$i18n.messages.wv;
			    this.$confirm(locale_msg.common.confirmExitWindow, locale_msg.common.notification, {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(function () {
                    self.$modal.hide('event-browser');
                    self.$emit("closed", false);
                })
            },

            _onOk: function () {
                var self = this;
                var locale_msg = this.$i18n.messages.wv;
                this.$confirm(locale_msg.common.confirmSave, locale_msg.common.notification, {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'info'
                }).then(function () {
                    console.log(self.configInfo);
                    self.componentInstance.setGroupPropertyValue("extension", "configInfo", JSON.parse(JSON.stringify(self.configInfo)));
                    self.$modal.hide('event-browser');
                    self.$emit("closed", true);
                })
            },

            modalOpened: function() {
                if(this.extensionProperties.configInfo) {
                    this.configInfo = this.extensionProperties.configInfo;
                    this.tabChange();
                } else {
                    this.configInfo = {
                        dpInfo: {datasetId: null, name: null, param: null},
                        countInfo: {datasetId: null, name: null, param: null},
                        severityInfo: {datasetId: null, name: null, param: null}
                    };
                }

                console.log(this.configInfo);

                this.severityList = this.extensionProperties.severity;
                this.tabName = "dpInfo";
            },

            selectDataset:function () {
                var currentDataset = JSON.parse(JSON.stringify(this.$refs.datasetPreviewComp.getDataset()));
                if(this.$refs.datasetPreviewComp.validationPreviewData()) {
                    if(!this.configInfo[this.tabName]) {
                        this.configInfo[this.tabName] = {};
                    }

                    this.configInfo[this.tabName].datasetId = currentDataset.dataset_id;
                    this.configInfo[this.tabName].name = currentDataset.name;
                    this.configInfo[this.tabName].param = currentDataset.param_info;
                }
            },

            selectedParam:function (value, param) {
                if( value != "-1" ){
                    param.inputDisabled = true;
                }else{
                    param.inputDisabled = false;
                }
            },

            deleteDataset:function(paramInfo) {
                paramInfo.datasetId = null;
                paramInfo.name = null;
                paramInfo.param = null;
            },

            tabChange:function() {
                var datasetID = this.configInfo[this.tabName].datasetId;
                if (datasetID) {
                    this.$refs.datasetPreviewComp.selectDatasetById(datasetID);
                }
            }
        }
    }

</script>
<style scoped>
    #event-browser .el-tabs{overflow: auto;height: 100%;flex:1; margin-bottom: 10px;}
    .grid-step-wrap{
        display: flex;
        flex-direction: column;
        overflow: auto; flex: 2;
        padding: 5px;
        /*box-sizing: border-box;*/
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
          height: 100%;
    }
    .dataset-preiview-comp{flex:1;}
    .bottom-btn-wrap{margin-top: 14px; display: flex; justify-content: flex-end;}
    .bottom-btn-wrap .bottom-btn{width: 200px; min-height:28px;}

    .dataset-info-area,
    .param-info-area {
        flex: 1;
        height: 100%;
    }

    .param-info > *{
        margin: 3px;
    }

    .dataset-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #d8d8d8;
    }

    .save-btn {
        width: 100%;
    }

</style>
