<template>
	<div class="panel-content-area">
		<template v-if="active">
			<div v-show="currentWorkLayer!=TEMP_WORK_LAYERS.THREE_LAYER">
				<el-tree class="comp-tree-contain"
				         v-if="twoLayer.selectedComponentGroupComponentList.length>0"
				         :data="twoLayer.componentGroupList"
				         highlight-current
				         :props="defaultProps"
				         default-expand-all
				         node-key="id"
				         ref="tree2D"
				         @node-click="onSelectedComponentGroup(twoLayer, $event)"
				>
				</el-tree>

				<!--<tree class="comp-group-wrap" :model="twoLayer.componentGroupList" v-if="twoLayer.componentGroupList" @selected="onSelectedComponentGroup(twoLayer, $event)" :maxDepth="1"></tree>-->
				<hr>
				<div v-if="twoLayer.selectedComponentGroupComponentList.length>0" class="component-thumb-list">
					<!--<p>{{twoLayer.selectedComponentGroupModel.label}}</p>-->
					<ul class="list">
						<li class="component" v-for="item in twoLayer.selectedComponentGroupComponentList" :class="{component_select:item.label == selected}" @dblclick="onAddComponent(item)" v-if="item.show">
							<div class="img-wrap" @dragstart="onDragStartComponent($event, item, '2D')" draggable="true">
								<img :src="getPreviewImagePath(item.name, item.preview_path)" draggable="false">
							</div>
							<span>{{item.label}}</span>
						</li>
					</ul>
				</div>
			</div>
			<div v-show="currentWorkLayer==TEMP_WORK_LAYERS.THREE_LAYER">
				<el-tree class="comp-tree-contain"
				         v-if="threeLayer.selectedComponentGroupComponentList.length>0" :data="threeLayer.componentGroupList"
				         highlight-current
				         :props="defaultProps"
				         default-expand-all
				         node-key="id"
				         ref="tree3D"
				         @node-click="onSelectedComponentGroup(threeLayer, $event)"
				>
				</el-tree>
				<!--<tree :model="threeLayer.componentGroupList" v-if="twoLayer.componentGroupList" @selected="onSelectedComponentGroup(threeLayer, $event)" :maxDepth="1"></tree>-->
				<hr>
				<div v-if="threeLayer.selectedComponentGroupComponentList.length>0"  class="component-thumb-list">
					<!--<p>{{threeLayer.selectedComponentGroupModel.label}}</p>-->
					<ul class="list">
						<li class="component" v-for="item in threeLayer.selectedComponentGroupComponentList" :class="{component_select:item.label == selected}" @dblclick="onAddComponent(item)">
							<div class="img-wrap" @dragstart="onDragStartComponent($event, item, '3D')" draggable="true">
								<img :src="getPreviewImagePath(item.name, item.preview_path)" draggable="false">
							</div>
							<span>{{item.label}}</span>
						</li>
					</ul>
				</div>
			</div>
		</template>
	</div>
</template>


<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import {Prop} from 'vue-property-decorator'
	import ComponentListPanelMediator from "./ComponentListPanelMediator";
	import componentApi from "../../../../common/api/componentApi";

	import CPUtil from "../../../../wemb/core/utils/CPUtil";
	import {BROWSER_TYPE} from "../../../../wemb/core/display/interfaces/DisplayInterfaces";
	import {WORK_LAYERS} from "../../../../wemb/wv/layer/Layer";
	import {ComponentInstanceInfoVO} from "../../../model/vo/ValueObjects";

	@Component({
		components: {
		}
	})
	export default class ComponentListPanel extends Vue {
		public static readonly EVENT_ADD_COM_INSTANCE_BY_NAME:string="event/AddComponentInstanceByName";
		public  active          :boolean = true;
		private isLibraryLoading:boolean = false;
		private selected        :string  = ''; // selected component name

		public twoLayer={
			currentKey:0,
			componentGroupList:[],
			selectedComponentGroupModel:null,
			selectedComponentGroupComponentList:[]

		};
		public threeLayer={
			currentKey:0,
			componentGroupList:[],
			selectedComponentGroupModel:null,
			selectedComponentGroupComponentList:[]
		};

		private defaultProps={
			children: 'children',
			label: 'label'
		};

		public currentWorkLayer:WORK_LAYERS = WORK_LAYERS.TWO_LAYER;
		private TEMP_WORK_LAYERS = WORK_LAYERS;
		public _temp:number=10;
		public comptwoLength: number=0;
		public compthreeLength: number=0;

		mounted(){
			console.log("step 01, mounted(), ComponentListPanel");
			window.wemb.viewComponentMap.set(ComponentListPanelMediator.NAME, this);

		}

		////////////////////////////////////////////////

		public getPreviewImagePath(compName: string, previewPath: string){
			if( previewPath ){
				return previewPath;
			}

			let filePath = window.wemb.componentLibraryManager.getComponentPath(compName);
			let imgPath = "";
			if( filePath ){
				imgPath = filePath + "/preview.png";
			}

			return imgPath;
		}

		public getCompLength(layer: string) {
			return this["comp" + layer + "Length"];
		}

		////////////////////////////////////////////////
		private async _attachComponentInfoList():Promise<any>{
			console.log("step 04, 컴포넌트 라이브러리 목록 읽기,  attachComponentInfoList()");

			// 컴포넌트 목록 구하기
			let devComponentPanelInfoList = await window.wemb.componentLibraryManager.getComponentPanelInfoList();
			// let customComponentInfoList = await componentApi.getCustomComponentInfoList();


			// 2D 영역 컴포넌트 그룹 만들기
			let groupList = this._getTreeData(devComponentPanelInfoList.two_layer);
			this.twoLayer.componentGroupList = groupList;

			let twoChildren:any[] = devComponentPanelInfoList.two_layer.children;
			if (twoChildren && twoChildren.length > 0) {
						this.twoLayer.selectedComponentGroupModel = twoChildren[0];
						this.twoLayer.selectedComponentGroupComponentList = twoChildren[0].children;
						this.comptwoLength += twoChildren.length;
			}


			// 3D 영역 컴포넌트 그룹 만들기
			groupList = this._getTreeData(devComponentPanelInfoList.three_layer);
			//groupList.concat(this._getTreeData(customComponentInfoList.three_layer))

			this.threeLayer.componentGroupList = groupList;

			let threeChildren:any[] = devComponentPanelInfoList.three_layer.children;
			if (threeChildren && threeChildren.length > 0) {
						this.threeLayer.selectedComponentGroupModel = threeChildren[0];
						this.threeLayer.selectedComponentGroupComponentList = threeChildren[0].children;
						this.compthreeLength += threeChildren.length;
			}


			return true;


/*
                  // 삭제 예정 2018.05. 24
                  return componentApi.getComponentInfoList().then((data) => {
                        // 2D 컴모넌트 목록
                        console.log("step 04, 컴포넌트 라이브러리 목록 출력 완료");

                        this.twoLayer.componentGroupList = this._getTreeData(data.two_layer);
                        let twoChildren = data.two_layer.children;
                        if (twoChildren && twoChildren.length > 0) {
                              this.twoLayer.selectedComponentGroupModel = twoChildren[0];
                              this.twoLayer.selectedComponentGroupComponentList = twoChildren[0].children;
                        }

                        // 3D 컴모넌트 목록
                        this.threeLayer.componentGroupList = this._getTreeData(data.three_layer);

                        let threeChildren = data.three_layer.children;

                        if (threeChildren.length > 0) {
                              this.threeLayer.selectedComponentGroupModel = threeChildren[0];
                              this.threeLayer.selectedComponentGroupComponentList = threeChildren[0].children;
                        }

                        return true;

			});


			// 컴포넌트 목록 구하기
			return componentApi.getComponentInfoList().then((data) => {
				// 2D 컴모넌트 목록
				console.log("step 04, 컴포넌트 라이브러리 목록 출력 완료");

				this.twoLayer.componentGroupList = this._getTreeData(data.two_layer);
				let twoChildren = data.two_layer.children;
				if (twoChildren && twoChildren.length > 0) {
					this.twoLayer.selectedComponentGroupModel = twoChildren[0];
					this.twoLayer.selectedComponentGroupComponentList = twoChildren[0].children;
				}

				// 3D 컴모넌트 목록
				this.threeLayer.componentGroupList = this._getTreeData(data.three_layer);

				let threeChildren = data.three_layer.children;

				if (threeChildren.length > 0) {
					this.threeLayer.selectedComponentGroupModel = threeChildren[0];
					this.threeLayer.selectedComponentGroupComponentList = threeChildren[0].children;
				}

				return true;

			});*/
		}

		private _getTreeData(layerData:any){
			let data = [];
			let children = [];
			data.push({label: layerData.label});
			if( layerData.children && layerData.children.length > 0 ){
				for( var i=0, len=layerData.children.length; i<len; i++ ){
					let child = layerData.children[i];
					children.push({label: child.label, model: child});
				}

				data[0].children = children;
			}
			return data;
		}
		////////////////////////////////////////////////



		/*
		에디터 준비 완료된 경우.
		 */
		public noti_setEditorReadyCompleted(){

		}



		public noti_openPage(){

			this.active = true;
			if(this.isLibraryLoading==false){
				this.isLibraryLoading=true;
				this._attachComponentInfoList().then((result)=>{
					this.noti_setActiveWorkLayer(window.wemb.configManager.startWorkLayerName);
				});
			}
		}

		public noti_closedPage(){
			this.active = false;
		}


		public noti_setActiveWorkLayer(layer:WORK_LAYERS){
			this.currentWorkLayer = layer;
		}


		onSelectedComponentGroup(layer, tree){
			if( tree && tree.model ){
				layer.selectedComponentGroupModel= tree.model;
				layer.selectedComponentGroupComponentList = tree.model.children;
			}
		}

		onDragStartComponent(event, item, componentLabel){
			let newItem:any = Object.assign(item,{category: componentLabel});

			this.selected = item.label;

			event.dataTransfer.effectAllowed = 'move';
			if( CPUtil.getInstance().browserDetection() != BROWSER_TYPE.IE ){
				event.dataTransfer.setData('text/plane', JSON.stringify(item));
			}

			window["dragData"] = JSON.stringify(item);
		}

	/*
		model 구조를 바탕으로 properties만들기 propeties는 page에 저장된 구조와 동일


		1. model 구조
			{
                    "label": "프레임 컴포넌트",
                    "name": "FrameComponent1",
                    "show": true,
                    "initProperties": {
                        "props": {
                            "setter": {
                                "width": 200,
                                "height": 200
                            }
                        }
                    }
                }
            2. page properties 구조
            	{
					"componentName": "FrameComponent1",
					"version": "1.0.0",
					"category": "2D",
					"layerName": "twoLayer",
					"id": "7344ddd0-17af-4ffb-938d-3667e32b6e41",
					"name": "frm1_11",
					"props": {
						"setter": {
							"lock": false,
							"depth": 100,
							"x": 100,
							"y": 300,
							"opacity": 1,
							"width": 100,
							"height": 100
						},
						"style": {
							"border": "1px solid #000000",
                                          "backgroundColor":"#ff0000"
						}
					}
				}


	 */
		onAddComponent(model) {
			console.log("onAddComponent", model);

			this.selected = model.label;

			let vo:ComponentInstanceInfoVO = new ComponentInstanceInfoVO();
			vo.initProperties = $.extend(true,  {
				},model.initProperties
			);
			vo.componentName = model.name;

			this.$emit(ComponentListPanel.EVENT_ADD_COM_INSTANCE_BY_NAME, vo);
		}
	}


</script>

<style scoped>
.component_select {
	border: 2px solid #409eff !important; 
	border-radius: 5px;
	margin: -1px !important;
}
</style>
