<template>
	<modal
		class="w-modal modal-tabs"
		id="template-comp-extension"
		name="template-comp-extension"
		:click-to-close="false"
		:resizable="true"
		:draggable="false"
		:width="1200"
		:height="600"
		:min-width="1200"
		:min-height="600"
	>
		<div class="modal-header"><h4>Template Settings</h4><a class="close-modal-btn" role="button"
		                                                         @click="hide"><i class="el-icon-error"></i></a>
		</div>
		<div class="modal-body">
			<div class="wrap">
				<div class="top-ui">
					<el-button type="primary" @click="render"><i style="margin-left: -7px;" class="el-icon-caret-right"></i>Run</el-button>
					<el-button type="success" @click="_onOk" style="margin-left:0;"><i style="margin-left: -7px;margin-right: 4px;" class="el-icon-check"></i>Save</el-button>
				</div>
				<div class="insert-form">
					<div class="txt-wrap">
						<textarea v-model="tmplTagStr"></textarea>
					</div>
					<div class="txt-wrap">
						<textarea v-model="styleStr"></textarea>
					</div>
					<div class="txt-wrap">
						<textarea v-model="testDataStr"></textarea>
					</div>
				</div>
				<div class="preview">
					<div class="preview-wrap">
						<div id="draw-target"></div>
					</div>
				</div>
			</div>
		</div>
	</modal>
</template>
<script>
	'use strict';

module.exports = {
	data: function data() {
		return {
			$previewWrap: null,
			tmplTagStr: '',
			styleStr: '',
			testDataStr: '',
			isUpdated: false
		};
	},

	mounted: function mounted() {
		this.$previewWrap = $("#draw-target");
	},

	methods: {
		setComponent: function setComponent(componentInstance) {
			this.componentInstance = componentInstance;
			this.extensionProperties = $.extend({}, this.componentInstance.getGroupProperties("extension"));
			this.tmplTagStr = this.extensionProperties.tmpl;
			this.styleStr = this.extensionProperties.tmpl_style;
			this.testDataStr = this.extensionProperties.tmpl_test_data;
		},

		show: function show() {
			this.$modal.show('template-comp-extension');
		},

		render: function render() {
			$("#draw-target").empty();
			if (!this.validation()) {
				return;
			}
			//{{each(i, item), ary}}
			//$.tmpl(this.tmplTagStr, { "Name" : "John Doe" }).appendTo( "#target" );
			$.tmpl(this.tmplTagStr, { data: this.getTestData() }).appendTo("#template-comp-extension #draw-target");
			var style = this.getInstanceStyle();
			$("#template-comp-extension #draw-target").append('<style>' + style + '</style>');
			//console.log(style);
		},

		validation: function validation() {
			var locale_msg = this.$i18n.messages.wv;
			if (!this.tmplTagStr.trim()) {
				this.$message(locale_msg.page.warning02);
				return false;
			}

			try {
				var data = this.getTestData();
			} catch (e) {
				this.$message(locale_msg.page.confirmTest);
				return false;
			}

			return true;
		},

		getTestData: function getTestData() {
			var trimDataStr = this.testDataStr.trim();

			if (!trimDataStr) {
				trimDataStr = "{}";
			}

			var str = '{"data" :' + trimDataStr + "}";
			var json = JSON.parse(str);

			return json.data;
		},

		getInstanceStyle: function getInstanceStyle() {
			var trimStr = this.styleStr.trim();
			if (!trimStr) {
				return '';
			}

			var selectorStr = "#template-comp-extension #draw-target ";

			trimStr = trimStr.replace(/}/gi, "} " + selectorStr);
			trimStr = selectorStr + trimStr;

			var lastIndex = trimStr.lastIndexOf(selectorStr);
			trimStr = trimStr.substr(0, lastIndex);
			return trimStr;
		},

		hide: function hide() {
			var self = this;
			var locale_msg = this.$i18n.messages.wv;
			this.$confirm(locale_msg.common.confirmExitWindow, 'Confirm', {
				confirmButtonText: 'OK',
				cancelButtonText: 'Cancel',
				type: 'warning'
			}).then(function () {
				self._onHidden(false);
			}).catch(function () {});
		},

		_onHidden: function _onHidden() {
			this.$modal.hide('template-comp-extension');
			this.$emit("closed", this.isUpdated);
		},

		_onOk: function _onOk() {
			var locale_msg = this.$i18n.messages.wv;
			this.extensionProperties = {
				"tmpl": this.tmplTagStr,
				"tmpl_style": this.styleStr,
				"tmpl_test_data": this.testDataStr
			};

			this.isUpdated = true;
			this.componentInstance.setGroupProperties("extension", this.extensionProperties);
			this.$message.success(locale_msg.common.successSave);
		}
	}
};

</script>
<style scoped>
.wrap{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;

}

.wrap .top-ui{
	margin-bottom: 6px;

}

.wrap .preview{
	flex:1;
	overflow: auto;
	background-color: #28272F;
}

.wrap .insert-form{
	flex:1;
	display: flex;
	background-color: #28272F;

}

.wrap .preview{
	border: 1px solid #2d333b;
	border-top: none;
	position: relative;
	display: flex;
}

.wrap .preview .preview-wrap{
	flex:1;
	overflow: auto;
}

.wrap .insert-form .txt-wrap{
	flex: 1;
	border: 1px solid #2d333b;
	position: relative;
}

.wrap .preview-wrap:before,
.wrap .insert-form .txt-wrap:before{
	content: '';
	display: inline-block;
	padding: 2px 6px 0 2px;
	position: absolute;
	color: #cfd0d2;
	top:0;
	right: 0;
}
.wrap .preview-wrap:before{
	content: 'preview';
}

.wrap .insert-form .txt-wrap:nth-child(1):before{
	content: 'html';
}

.wrap .insert-form .txt-wrap:nth-child(2):before{
	content: 'style';
}

.wrap .insert-form .txt-wrap:nth-child(3):before{
	content: 'data';
}

.wrap .insert-form .txt-wrap:last-child{
	border-left: none;
}

.wrap .insert-form .txt-wrap:first-child{
	border-right: none;
}

.wrap .insert-form textarea{
	width: 100%;
	height: 100%;
	padding: 8px;
	resize: none;
	background-color: #28272F;
	color:#cfd0d2;

}
</style>






