.EmptyChartComponent {
    user-select: none;
    position: absolute;
}

.EmptyChartComponent.editor {
    background-color: rgba(255, 255, 255, 0.6) !important;
    border: 1px dashed gray;
    background-image: url(./empty_preview.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.EmptyChartComponent.editor>.chart-area,
.EmptyChartComponent.editor>.txt {
    display: none;
}

.EmptyChartComponent.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.EmptyChartComponent.no-data>.chart-area {
    display: none;
}

.EmptyChartComponent>.txt {
    display: none;
}

.EmptyChartComponent.no-data>.txt {
    display: block;
}