<template>
	<modal
		class="w-modal modal-tabs"
		id="empty-chart"
		name="empty-chart"
		@opened="modalOpened"
		@before-close="beforeModalClosed"
            :click-to-close="false"
		:draggable="false"
		:resizable="true"
		:width="1020"
		:height="670"
		:min-width="700"
		:min-height="370"
		>
		<div class="modal-header"><h4>Empty Chart Settings</h4><a class="close-modal-btn" role="button" @click="_onHidden"><i class="el-icon-error"></i></a></div>
		<div class="modal-body">
			<div class="wrap">
				<p>AM Chart Live Editor : <a href="https://live.amcharts.com/new/edit/" target="_blank">https://live.amcharts.com/new/edit/</a></p>
				<div class="cont-wrap">
					<div class="cont">
						<h5>Preview</h5>
						<div class="preview">
							<div id="empty-chart-preview" style="width: 100%; height: 80%;" ></div>
						</div>
					</div>
					<div class="cont">
						<h5>&lt;/&gt; Code</h5>
						<div class="code"><textarea
										:placeholder="placeHolder"
										v-model="configStr" class="txt" @change="changeConfigStr"></textarea></div>
					</div>
				</div>
				<div class="btn-wrap">
					<el-button class="bottom-btn" type="primary" size="small" @click="_onHidden">{{$t('common.cancel')}}</el-button>
					<el-button class="bottom-btn" size="small" @click="_onOk" v-if="supportable">{{$t('common.save')}}</el-button>
				</div>
			</div>
		</div>
	  </modal>
</template>
<script>
      module.exports = {
            data: function data() {
                  return {
                        placeHolder: "{\n\t\"type\": \"serial\",\n\t\"categoryField\": \"category\",\n\t\"rotate\": true,\n\t\"startDuration\": 1,\n\t\"categoryAxis\": {\n\t\t\"gridPosition\": \"start\"\n\t},\n\t\"trendLines\": [],\n\t\"graphs\": [\n\t\t{\n\t\t\t\"balloonText\": \"[[title]] of [[category]]:[[value]]\",\n\t\t\t\"fillAlphas\": 1,\n\t\t\t\"id\": \"AmGraph-1\",\n\t\t\t\"title\": \"graph 1\",\n\t\t\t\"type\": \"column\",\n\t\t\t\"valueField\": \"column-1\"\n\t\t},\n\t\t{\n\t\t\t\"balloonText\": \"[[title]] of [[category]]:[[value]]\",\n\t\t\t\"fillAlphas\": 1,\n\t\t\t\"id\": \"AmGraph-2\",\n\t\t\t\"title\": \"graph 2\",\n\t\t\t\"type\": \"column\",\n\t\t\t\"valueField\": \"column-2\"\n\t\t}\n\t],\n\t\"guides\": [],\n\t\"valueAxes\": [\n\t\t{\n\t\t\t\"id\": \"ValueAxis-1\",\n\t\t\t\"title\": \"\"\n\t\t}\n\t],\n\t\"allLabels\": [],\n\t\"balloon\": {},\n\t\"legend\": {\n\t\t\"enabled\": true,\n\t\t\"useGraphSettings\": true\n\t},\n\t\"titles\": [\n\t\t{\n\t\t\t\"id\": \"Title-1\",\n\t\t\t\"size\": 15,\n\t\t\t\"text\": \"Chart Title\"\n\t\t}\n\t],\n\t\"dataProvider\": [\n\t\t{\n\t\t\t\"category\": \"category 1\",\n\t\t\t\"column-1\": 8,\n\t\t\t\"column-2\": 5\n\t\t},\n\t\t{\n\t\t\t\"category\": \"category 2\",\n\t\t\t\"column-1\": 6,\n\t\t\t\"column-2\": 7\n\t\t},\n\t\t{\n\t\t\t\"category\": \"category 3\",\n\t\t\t\"column-1\": 2,\n\t\t\t\"column-2\": 3\n\t\t}\n\t]\n}",
                        configStr: "",
                        chart: null,
                        timer: null,
                        componentInstance: null,
                        supportable: true
                  };
            },
            // watch: {
            // 	configStr: function (val) {
            // 		var self = this;
            // 		clearTimeout(this.timer);
            // 		this.timer = setTimeout(function(){
            // 			self.render();
            // 		}, 1000 );
            // 	}
            // },
            methods: {
                  changeConfigStr: function changeConfigStr() {
                        this.render();
                  },
                  setComponent: function setComponent(componentInstance) {
                        this.componentInstance = componentInstance;
                        this.configStr = this.componentInstance.getGroupPropertyValue("extension", "configStr");
                  },
                  show: function show() {
                        this.$modal.show('empty-chart');
                  },
                  modalOpened: function modalOpened() {
                        this.init();
                  },
                  init: function init() {
                        console.log("emptychart popup");

                        if (this.configStr) {
                              this.render();
                        }
                  },
                  render: function render() {
                        var data = this.getChartConfig();

                        if (data) {
                              this.destroyChart();

                              if (data.type === "serial" || data.type === "pie") {
                                    this.chart = AmCharts.makeChart("empty-chart-preview", data);
                                    this.supportable = true;
                              } else {
                                    this.$message("지원하지 않는 차트 형식 입니다.");
                                    this.supportable = false;
                              }
                        } else {
                              this.destroyChart();
                        }
                  },
                  getChartConfig: function getChartConfig() {
                        var data = null;

                        try {
                              data = JSON.parse(this.configStr);
                              return data;
                        } catch (error) {
                              return null;
                        }
                  },
                  destroyChart: function destroyChart() {
                        if (this.chart) {
                              this.chart.destroy();
                              this.chart.clear();
                              this.chart = null;
                        }
                  },
                  _onOk: function _onOk() {
                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        this.$confirm(locale_msg.common.confirmSave, locale_msg.common.notification, {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'info'
                        }).then(function () {
                              self.componentInstance.setGroupPropertyValue("extension", "configStr", self.configStr);
                              self.$modal.hide('empty-chart');
                              self.$emit('closed', true);
                        });
                  },
                  beforeModalClosed: function beforeModalClosed() {
                        clearTimeout(this.timer);
                        this.destroyChart();
                  },
                  _onHidden: function _onHidden() {
                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        this.$confirm(locale_msg.common.confirmExitWindow, locale_msg.common.notification, {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(function () {
                              self.destroyChart();
                              self.$modal.hide('empty-chart');
                              self.$emit("closed", false);
                        });
                  }
            }
      };


</script>
<style scoped>
#empty-chart .wrap{height: 100%; width: 100%; display:flex; flex-direction: column;}
#empty-chart .cont-wrap{flex:1;display:flex;}
#empty-chart .cont{display:flex;flex-direction: column;}
#empty-chart .cont:nth-child(1){flex:1;margin-right: 8px;}
#empty-chart .cont:nth-child(2){width: 450px;}
#empty-chart .cont>div{flex:1;}
#empty-chart .cont .code textarea{resize:none; width:100%; height: 99%;background: #efefef;padding: 10px;font-size: 13px;outline: none; box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);}
#empty-chart .modal-body .btn-wrap button{width:140px;}
</style>
