.sf-menu {
    width: 100%;
    height: 100%;
}

.sf-menu ul {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}

.sf-menu li {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: none;
    height: 100%;
}

.sf-menu li:hover {
    background-color: #434a50;
}

.sf-menu ul li {
    background-color: #545c64;
    border: none;
}


/* .sf-menu ul ul li {
    background-color: #545c64;
    border: none;
} */

.sf-menu li:hover,
.sf-menu li.sfHover {
    background-color: #434a50;
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
}

.sf-menu a {
    color: #fff;
    border: none;
}

.sf-menu a:hover {
    color: #fff;
}

.sf-vertical {
    width: 100%;
    height: 100%;
}

.sf-vertical ul {
    left: 100%;
    top: 0;
}

.sf-vertical>li {
    float: none;
}

.sf-vertical li {
    width: 100%;
}

/*.sf-menu li.active {
    background-color: #2db89a;
}*/


/*** alter arrow directions ***/

.sf-vertical.sf-arrows>li>.sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dFeEFF;
    /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba(255, 255, 255, .5);
}

.sf-vertical.sf-arrows li>.sf-with-ul:focus:after,
.sf-vertical.sf-arrows li:hover>.sf-with-ul:after,
.sf-vertical.sf-arrows .sfHover>.sf-with-ul:after {
    border-left-color: white;
}
