<template>

      <el-form ref="form" :model="data.props.initProperties" label-width="120px">
            <h3 style="padding-left:50px;">{{data.file_id}}</h3>
            <el-form-item label="Popup ID">
                  <el-select
                        v-model="data.props.initProperties.props.settings.popupId"
                        filterable
                        placeholder="Please enter a keyword">
                        <el-option
                              v-for="item in data.page_list"
                              :key="item.page_id"
                              :label="item.name"
                              :value="item.page_id">
                        </el-option>
                  </el-select>
            </el-form-item>
            <el-form-item label="Resource">
                  <div style="display:flex;">
                        <el-select style="width:100%;margin-right:10px;" v-model="data.resource_field"
                                   placeholder="please select type fields">
                              <el-option v-for="item in data.fields.type_fields" :key="item.name" :label="item.label"
                                         :value="item.name"></el-option>
                        </el-select>
                        <div style="display:block;">
                              <el-button icon="el-icon-plus"
                                         style="border-radius:50%;padding:12px;transform: scale(0.85);"
                                         @click="handleAddResourceCase"></el-button>
                        </div>
                  </div>

                  <div style="display:flex;" v-for="(item,k) in data.resource_case">
                        <el-input style="width:100%;margin-right:10px;" v-model="item.key" :disabled="item.key === 'default'"></el-input>
                        <el-select style="width:100%;" v-model="item.value" placeholder="please select resource">
                              <el-option v-for="option in data.resource_option" :key="option.RES_ID"
                                         :label="option.RES_NAME" :value="option.RES_ID"></el-option>
                        </el-select>
                        <div style="display:block;" v-if="item.key !== 'default'">
                              <el-button icon="el-icon-minus"
                                         style="border-radius:50%;padding:12px;transform: scale(0.85);margin-left:10px;"
                                         @click="handleRemoveResourceCase(k)">
                              </el-button>
                        </div>
                  </div>
            </el-form-item>
            <el-form-item>
                  <el-button type="primary" @click="onSubmit">Save</el-button>
            </el-form-item>
      </el-form>

</template>
<script>

      module.exports = {
            data: function () {
                  return {
                        lang : window.opener.Vue.$i18n.messages.wv.dcim_pack,
                        page_list: [{page_id: "", name: ""}],
                        resource_field: "",
                        resource_case: [],
                        resource_option: []
                  }
            },
            methods: {
                  handleRemoveResourceCase: function (index) {
                        this.data.resource_case.splice(index, 1);
                  },
                  handleAddResourceCase: function () {
                        this.data.resource_case.push({
                              key: "",
                              value: ""
                        })
                  },
                  onSubmit: function () {
                        var self = this;
                        this.data.props.initProperties.props.resource["mappingKey"] = this.data.resource_field;
                        var resource_modeling = {};
                        this.data.resource_case.forEach(function (v) {
                              if (v.value === self.data.file_id + '_default') {
                                    resource_modeling[v.key] = {
                                          name: v.value,
                                          path: "/custom/packs/" + self.data.pack_name + "/components/" + self.data.file_id + "/models/default/default.obj",
                                          mapPath: "/custom/packs/" + self.data.pack_name + "/components/" + self.data.file_id + "/models/default/maps/"
                                    }
                              } else {
                                    var res_info = self.data.resource_option.find(function (item) {
                                          return item.RES_ID === v.value
                                    });
                                    resource_modeling[v.key] = {
                                          name: res_info.RES_ID,
                                          path: res_info.PATH + res_info.RES_ID + '/' + res_info.RES_NAME.replace('zip', 'obj'),
                                          mapPath: res_info.PATH + res_info.RES_ID + '/maps/'
                                    }
                              }
                        })
                        this.data.props.initProperties.props.resource.modeling = resource_modeling;
                        var param = {
                              file_id: this.data.file_id,
                              props: this.data.props
                        }

                        var url = window.opener.wemb.configManager.serverUrl + "/dcim.do";

                        var params = {
                              "id": "assetComponentService.updateComponent",
                              "params": param
                        };
                        window.opener.wemb.$http['post'](url, params).then(function (d) {
                              self.$message({
                                    message: self.data.lang.config.successComponentSettingSave,
                                    type: 'success'
                              });
                        }).catch(function (err) {
                              self.$message({
                                    message: self.data.lang.config.saveFailed,
                                    type: 'error'
                              });
                        })
                  }
            },
            created: function () {
                  console.log('access sensor!!')
                  var self = this;
                  this.data.resource_field = this.data.props.initProperties.props.resource["mappingKey"];
                  var url = window.opener.wemb.configManager.serverUrl + '/dcim.do';
                  var params = {
                        "id":"assetResourceService.getTypeResource",
                        "params" :{
                              "asset_type":this.data.asset_type
                        }
                  }
                  window.opener.wemb.$http["post"](url, params).then(function (res) {
                        res.data.data.push({
                              RES_ID: self.data.file_id + "_default",
                              RES_NAME: self.data.file_id + "_default"
                        });
                        self.data.resource_option = res.data.data;
                        $.each(self.data.props.initProperties.props.resource.modeling, function (k, v) {
                              self.data.resource_case.push({
                                    key: k,
                                    value: v.name
                              })
                        })
                  })
                  var data = {
                        id: "adminService.getPageList",
                        params: {type: 'page'}
                  };
                  window.opener.wemb.$http["post"](window.opener.wemb.configManager.serverUrl + '/admin.do', data).then(function (res) {
                        self.data.page_list = res.data.data;
                        self.data.page_list.push({page_id: "", name: self.data.lang.config.noSelection});
                  })
            },
            mounted: function () {

            }
      }
</script>
