/*
Horizontal bar Pin Move
*/
.horizon-bar-pin {
    width: 100%;
    height: 100%;
    min-height: 30px;
    max-height: 50px;
    overflow: hidden;
}

.horizon-bar-pin .barContainer {
    width: 100%;
    height: 100%;
    max-height: 100px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));

    position: relative;
    display: flex;

}

.horizon-bar-pin .bar {
    width: 100%;
    height: 100%;
    min-height: 10px;
    height: 100%;
    background: #0EB795;
    animation: barberpole 0.5s linear infinite;
}

.horizon-bar-pin .label {
    display: block;
    position: absolute;
    top: 0px;

}

.horizon-bar-pin .labelBody {
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap; /*min-width:120px;*/
    background: #0EB795;
    border-radius: 6px;

    left: -50%;
    position: relative;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.horizon-bar-pin .labelTxt {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #FFF;
}

.horizon-bar-pin .labelArrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: -50%;
    top: 40%;
    position: relative;
    border-top: 30px solid #fff;
}

.horizon-bar-pin .bar1 {
    position: relative;
    width: 25%;
    height: 50%;
    top: 50%;

    opacity: 0.1;
    background: #0EB795;
}

.horizon-bar-pin .bar2 {
    position: relative;
    width: 25%;
    height: 50%;
    top: 50%;
    opacity: 0.3;
    background: #0EB795;
}

.horizon-bar-pin .bar3 {
    position: relative;
    width: 25%;
    height: 50%;
    top: 50%;
    opacity: 0.65;
    background: #0EB795;
}

.horizon-bar-pin .bar4 {
    position: relative;
    width: 25%;
    height: 50%;
    top: 50%;
    opacity: 1;
    background: #0EB795;
}




