@charset "UTF-8";



.wv-component-selected::after {
    position: absolute;
    outline: 2px solid rgba(0, 255, 0, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
}

.wv-component-lock::after {
    position: absolute;
    outline: 1px dotted #ff0000;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

      text-shadow: 1px 2px 3px #666;
      color: #ec1717;
      text-indent: 2px;
      content: "\f023";
      font-family: FontAwesome !important;
      line-height: 16px;
}

.wv-component {
    pointer-events: auto;
}

