@charset "UTF-8";
#app-main>.viewer * {user-select: none; -ms-user-select: none;}
.VIEWER.wv-component{overflow: hidden;}
.viewer .top-ui { margin: 0; padding: 0; display: flex; flex: 1; position: fixed;justify-content: flex-end;top: 3px;right: 3px;}
.viewer .top-ui .quick-menu { background-color: #363a45; color: #eee; padding: 4px 5px 4px 10px; border-radius: 4px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);}
.viewer .top-ui .quick-menu>div {display: inline-flex;}

.w-btn-group>.w-btn.img-icon-btn.viewer-icon-walkview {background-image: url(../image/viewer-icon-walkview.png);}
.w-btn-group>.w-btn.img-icon-btn.viewer-icon-360view {background-image: url(../image/viewer-icon-360view.png);}
.w-btn-group>.w-btn.img-icon-btn.viewer-icon-logout {background-image: url(../image/viewer-icon-logout.png);}
.w-btn-group>.w-btn.img-icon-btn.viewer-icon-editor {background-image: url(../image/viewer-icon-editor.png);}
.w-btn-group>.w-btn.img-icon-btn.viewer-icon-admin {background-image: url(../image/viewer-icon-admin.png);}
.w-btn-group>.w-btn.img-icon-btn.viewer-icon-fps {background-image: url(../image/viewer-icon-fps.png);}

/* spinner 스타일 */
.cssload-container {
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      position: absolute;
      text-align: center;
      z-index:999999;
      background:rgba(0,0,0,0);
}

.cssload-speeding-wheel {
      position:relative;
      width:40px;
      height:40px;
      top:50%;
      left:50%;
      margin-left:-20px;
      margin-top:-20px;
      border: 3px solid;
      border-color:#333;
      border-radius: 50%;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: cssload-spin 575ms infinite linear;
      -o-animation: cssload-spin 575ms infinite linear;
      -ms-animation: cssload-spin 575ms infinite linear;
      -webkit-animation: cssload-spin 575ms infinite linear;
      -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
      100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
      100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
      100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
      100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

