<template>
      <div class="dataset-register-param-field d-flex">
            <dataset-field-combo-component style="margin-right:4px;" ref="fieldCombo"
                                           :paramService="paramService"
                                           @@changeParam="changeParam"></dataset-field-combo-component>
            <div class="d-flex">
                  <template v-if="isDynamic && field && field.type === 'Array'">
                        <el-select size="small"
                                   placeholder="Default"
                                   pattern="/[^a-zA-Z0-9_$]|^[0-9]+/"
                                   v-model="defaultValue"
                                   multiple
                                   filterable
                                   allow-create
                                   default-first-option>
                        </el-select>
                  </template>
                  <template v-else>
                        <el-input size="small" placeholder="Default" pattern="/[^a-zA-Z0-9_$]|^[0-9]+/"
                                  v-model="defaultValue"></el-input>
                  </template>
            </div>
            <div class="d-flex field-type">
                  <el-select v-show="showFieldType()" size="small" v-model="paramType" ref="type" :disabled="!!field" style="height:28px !important;margin-left:2px;">
                        <el-option label="string" value="empty"/>
                        <el-option label="Array" value="Array"/>
                  </el-select>
            </div>
            <el-button style="margin-left:6px;" type="primary" size="small" class="" @click="addParam()">
                  {{$t('common.add')}}
            </el-button>
      </div>
</template>
<script lang="ts">
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'
      import {dto} from "../../../../model/dto/DatasetDTO"
      import DatasetParamDTO = dto.DatasetParamDTO;
      import DatasetFieldComboComponent from "./DatasetFieldComboComponent.vue";
      import DatasetQueryParamService from "../../../../service/DatasetQueryParamService";

      @Component({
            components: {
                  DatasetFieldComboComponent
            }
      })
      export default class DatasetRegisterParamFieldComponent extends Vue {
            /*static readonly  EDIT_DATASET = "event/editDataset";
        public searchStr:string = "";
        */

            public readonly DEFAULT_TYPE:string = "empty";
            @Prop({default: null})
            paramService: DatasetQueryParamService;

            @Prop({default: false})
            isDynamic:boolean;

            public defaultValue: string = '';
            public paramType: string = this.DEFAULT_TYPE;
            private fieldCombo: DatasetFieldComboComponent;
            public field =  null;

            created(): void {

            }


            mounted() {
                  this.fieldCombo = <DatasetFieldComboComponent>this.$refs.fieldCombo;
                  //window.wemb.viewComponentMap.set(DatasetRegisterParamFieldMediator.NAME, this);
            }

            init() {
                  this.defaultValue = '';
                  this.paramType = this.DEFAULT_TYPE;
                  this.fieldCombo.init();
            }

            _getParamDTO() {
                  let paramDTO = new DatasetParamDTO();
                  paramDTO.param_name = this.fieldCombo.getFieldName();
                  paramDTO.param_type = this.paramType;
                  paramDTO.default_value = this.defaultValue;
                  return paramDTO;
            }

            addParam() {
                  var msg = this.$i18n.messages.wv;
                  if (this.fieldCombo.getFieldName() != "") {
                        let datasetItemParam = this._getParamDTO();

                        if (this.paramService.getParamList().some((item) => item.param_name === datasetItemParam.param_name)) {
                              this.$message({type: 'error', message: msg.dataset.existParameter});
                              return;
                        }

                        this.paramService.addParam(datasetItemParam);
                        this.init();
                  } else {
                        this.$message({type: 'error', message: msg.dataset.parameterMsg01});
                  }
            }

            showFieldType():boolean {
                  return this.isDynamic;
            }

            changeParam(value) {
                  let field = this.field = this.paramService.getAvailableFieldList().find((item) => item.field_name === value);
                  this.paramType = field ? field.type : this.DEFAULT_TYPE;
                  this.defaultValue = '';
            }
      }
</script>
<style scoped>
      .dataset-register-param-field {
            width: 520px;
      }

      .dataset-register-param-field .flex {
            display: flex;
      }

      .dataset-register-param-field .flex >>> button {
            margin-left: 4px;
      }

      .combo-wrap > * {
            margin-right: 5px;
      }

      .field-type >>> .el-input input {height: 28px !important;}
</style>
