<template>
    <div class="dataset-field-combo d-flex">
        <div style="margin-right:4px;">
            <el-input 
                ref="userInput" 
                :placeholder="$t('dataset.parameterPH')" 
                v-model="inputValue" 
                size="mini"
                :disabled="inputDisabled"
            ></el-input>
        </div>
        <div v-if="fieldList.length">
            <el-select 
                v-model="selectValue"
                allow-create 
                placeholder="파라메터명 선택" 
                size="mini" 
                no-data-text="파라메터가 없습니다" 
                @change="selectedParam($event)"
             >
                <el-option :label="$t('dataset.parameterSelect')" :value="'-1'" v-if="fieldList && fieldList.length">
                </el-option>
                <el-option v-for="item in fieldList" :key="item.field_name" :label="item.field_name" :value="item.field_name">
                </el-option>
            </el-select>             
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
    import {dto} from "../../../../model/dto/DatasetDTO"
    import DatasetItemDTO = dto.DatasetItemDTO;
    import DatasetQueryParamService from '../../../../service/DatasetQueryParamService';

	@Component({
		components: {

		}
	})
	export default class DatasetFieldComboComponent extends Vue {

        public fieldList:Array<any> = [];
        public inputValue:string = '';
        public selectValue: string = '-1';
        public inputDisabled: boolean = false;
		/*static readonly  EDIT_DATASET = "event/editDataset";
        public searchStr:string = "";
        */

        @Prop({default: null})
        paramService:DatasetQueryParamService

		created():void {
            this.paramService.$bus.$on("UPDATE_AVAILABLE_FIELDS", function(fields) {
                this.fieldList = fields;
            });
		}

		mounted() {			
            //window.wemb.viewComponentMap.set(DatasetFieldComboMediator.NAME, this);
            this.fieldList = this.paramService.getAvailableFieldList();
            this.selectedParam(this.selectValue);
        }

        init() {
            this.inputValue = '';
            this.selectValue = '-1';
            this.selectedParam(this.selectValue);
        }

        selectedParam(value) {
            if( value != "-1" ){
                this.inputDisabled = true;
            }else{
                this.inputDisabled = false;
            }

            this.$emit('@changeParam', value);
        }

        getFieldName() {
            if( this.selectValue != "-1" ){
                return this.selectValue;
            }else{
                this.inputValue = this.inputValue.trim();
                return this.inputValue;
            }
        }
        
	}
</script>
<style scoped>
</style>
