<template>
      <div class="data-param-fieldlist" v-if="paramList && paramList.length">
            <el-table :data="paramList" style="width: 100%">
                  <el-table-column prop="date" :label="$t('dataset.parameterName')" style="width:30%;">
                        <template slot-scope="scope">
                              {{ scope.row.param_name }}
                        </template>
                  </el-table-column>
                  <el-table-column :label="$t('common.defaultValue')" style="width:30%;">
                        <template slot-scope="scope">
                              <template v-if="isDynamic && scope.row && scope.row.param_type === 'Array'">
                                    <el-select size="small"
                                               placeholder="Default Value"
                                               class="default-input"
                                               v-model="scope.row.default_value"
                                               multiple
                                               filterable
                                               allow-create
                                               default-first-option>
                                    </el-select>
                              </template>
                              <template v-else>
                                    <el-input class="default-input" size="small" placeholder="Default Value"
                                              v-model="scope.row.default_value"></el-input>
                              </template>
                        </template>
                  </el-table-column>
                  <el-table-column :label="$t('dataset.type')" style="width:30%;" v-if="isDynamic">
                        <template slot-scope="scope">
                              <el-select size="small" class="default-input" v-model="scope.row.param_type">
                                    <el-option label="string" value="empty"/>
                                    <el-option label="Array" value="Array"/>
                              </el-select>
                        </template>
                  </el-table-column>
                  <el-table-column label="">
                        <template slot-scope="scope">
                              <el-button type="danger" size="small" @click="deleteParam(scope.row)" class="icon-btn"><i
                                    aria-hidden="true" class="fa fa-trash-o"></i></el-button>
                        </template>
                  </el-table-column>
            </el-table>
            <!--@click="handleDelete(scope.$index, scope.row)"-->
      </div>
</template>
<script lang="ts">
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'
      import {dto} from "../../../../model/dto/DatasetDTO"
      import DatasetItemDTO = dto.DatasetItemDTO;
      import DatasetQueryParamService from "../../../../service/DatasetQueryParamService";

      @Component({
            components: {}
      })
      export default class DatasetParamFieldListComponent extends Vue {
            public paramList: Array<any> = [];
            /*static readonly  EDIT_DATASET = "event/editDataset";
        public searchStr:string = "";
        */

            @Prop({default: null})
            paramService: DatasetQueryParamService;

            @Prop({default: false})
            isDynamic:boolean;

            created(): void {
                  let self = this;
                  this.paramService.$bus.$on("CHANGE_PARAM", () => {
                        this.paramList = this.paramService.getParamList().concat();
                  });

                  console.log(this.paramList);
            }

            mounted() {
                  //window.wemb.viewComponentMap.set(DatasetParamFieldListMediator.NAME, this);
            }

            init() {
                  //this.paramList=[];
            }

            deleteParam(paramItem) {
                  this.paramService.deleteParam(paramItem);
            }
      }
</script>
<style scoped>
      .data-param-fieldlist {
            margin-top: 8px;
      }

      .data-param-fieldlist >>> .cell {
            text-align: center;
      }

      .data-param-fieldlist >>> .default-input {
            width: 100%;

      }

      .data-param-fieldlist >>>  .el-select .el-tag {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
      }


      .data-param-fieldlist >>> .el-select__tags-text {
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
      }

      .data-param-fieldlist >>> .el-select .el-tag__close.el-icon-close::before {
            width: 18px;
      }

      .data-param-fieldlist >>> table {
            width: 100% !important;
      }
</style>
