<template>
      <div class="layer-group" style="display:inline-block">
            <div class="w-btn-group">
                  <el-tooltip class="item" effect="dark" content="translate" placement="top">
                        <button class="w-btn img-icon-btn icon-size"
                                :class="{'active' : pivotMode == 'translate' }"
                                :disabled="!buttons.translate"
                                @click="onChangeMode('translate')">이동</button>
                  </el-tooltip>

                  <el-tooltip class="item" effect="dark" content="rotate" placement="top">
                        <button class="w-btn img-icon-btn icon-rotate"
                                :class="{'active' : pivotMode == 'rotate'}"
                                :disabled="!buttons.rotate"
                                @click="onChangeMode('rotate')">회전</button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="scale" placement="top">
                        <button class="w-btn img-icon-btn icon-size"
                                :class="{'active' : pivotMode == 'scale' }"
                                :disabled="!buttons.scale" @click="onChangeMode('scale')">크기</button>
                  </el-tooltip>
            </div>
            <!--
            <div class="w-btn-group">
                  <el-tooltip class="item" effect="dark" content="grid" placement="top">
                        <button class="w-btn img-icon-btn icon-grid"
                                :class="{'active' : !buttons.gridHelper }"
                                @click="onToggleGridHelper()">Grid</button>
                  </el-tooltip>
            </div>
            -->
            <div class="w-btn-group">
                  <!--구현된 기능이 없어 일단 주석 걸어놓음 (홍건희, 2019 04 15)-->
                  <!--<el-tooltip class="item" effect="dark" content="compass" placement="top">-->
                        <!--<button class="w-btn img-icon-btn icon-compass"-->
                                <!--:class="{'active' : buttons.directionView }"-->
                                <!--@click="onToggleDirectionView()">Compass</button>-->
                  <!--</el-tooltip>-->
            </div>

            <!--<div class="w-btn-group">
                  <el-tooltip class="item" effect="dark" content="compass" placement="top">
                        <button class="w-btn img-icon-btn icon-compass"
                                :disabled="!buttons.alignModal"
                                @click="onShowThreeAlignModal()">align modal</button>
                  </el-tooltip>
            </div>-->

      </div>
</template>

<script  lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import ThreeToolbarMediator from "./ThreeToolbarMediator";
      import WVComponent from "../../../../wemb/core/component/WVComponent";
	@Component({
		components: {

		}
	})
	export default class ThreeToolbar extends Vue {
            public static readonly  EVENT_CHANGE_THREE_TRANSFORM_CONTROL_MODE:string="event/changeThreeTransformControlMode";
            public static readonly  EVENT_TOGGLE_DIRECTION_VIEW:string="event/toggleDirectionView";
            public static readonly  EVENT_TOGGLE_GRID_HELPER:string="event/toggleGridHelper";
            public static readonly  EVENT_SHOW_THREE_ALIGN_MODAL:string="event/showThreeAlignModal";
            public pivotMode:string="translate";
		public groupMode=false;
		public buttons = {
			translate:false,
			rotate:false,
			scale:false,
                  directionView:false,
                  gridHelper:true,
                  alignModal:false
		};
		mounted(){
			console.log("step 01, mounted(), ThreeToolbar");
			window.wemb.viewComponentMap.set(ThreeToolbarMediator.NAME, this);
		}


		onChangeMode(mode){
		      this.pivotMode = mode;
                  this.$emit(ThreeToolbar.EVENT_CHANGE_THREE_TRANSFORM_CONTROL_MODE, mode);
		}



            onToggleDirectionView(){
                  this.buttons.directionView = !this.buttons.directionView;
                  this.$emit(ThreeToolbar.EVENT_TOGGLE_DIRECTION_VIEW, this.buttons.directionView);
            }

            onToggleGridHelper(){
                  this.buttons.gridHelper = !this.buttons.gridHelper;
                  this.$emit(ThreeToolbar.EVENT_TOGGLE_GRID_HELPER, this.buttons.gridHelper);
            }


            onShowThreeAlignModal(){
                  this.$emit(ThreeToolbar.EVENT_SHOW_THREE_ALIGN_MODAL);
            }

            noti_updateSelectedInfo(selectedComList:Array<WVComponent> ){

                  if(selectedComList.length>=1) {
                        this.buttons.translate = true;
                        this.buttons.rotate = true;
                        this.buttons.scale = true;
                        this.buttons.alignModal = true;
                  }else {
                        this.buttons.translate = false;
                        this.buttons.rotate = false;
                        this.buttons.scale = false;
                        this.buttons.alignModal = false;
                  }
            }




	}


</script>

<style scoped>


</style>
