<template>
      <div v-show="active">
            <div class="panel-content-area prop-panel-content">
                  <template v-if="editableProperties">
                        <template v-if="editableProperties.info.componentName=='EditorPageComponent'">
                              <component is="document-template"
                                         ref="currentTemplate"
                                         :model="editableProperties"
                                         :propertyInfo="propertyPanelDescription"
                                         :eventBus="eventBus"
                                         :propertyPanel="propertyPanel"></component>
                        </template>
                        <template v-else>

                              <div class="d-flex row" v-for="groupPanelInfo in propertyPanelDescription" v-if="propertyPanelDescription">
                                    <span class="label"><!--{{groupPanelInfo.label}} --></span>
                                    <div class="flex">
                                          <component :is="getTemplate(groupPanelInfo)"
                                                     :model="editableProperties"
                                                     ref="currentTemplate"
                                                     :eventBus="eventBus"
                                                     :propertyInfo="groupPanelInfo"
                                                     :propertyPanel="propertyPanel"
                                          >
                                          </component>
                                    </div>
                              </div>
                        </template>
                  </template>
            </div>

            <div class="panel-bottom-area">
                  <el-tooltip v-if="existExtensionProperties" class="item" effect="dark" content="Extension" placement="top">
                        <button class="icon-btn-flat icon-extension" @click="onShowExtensionPropertyPanel">확장</button>
                  </el-tooltip>
            </div>
      </div>
</template>

<script lang="ts">
      import Vue from "vue"
      import Component from "vue-class-component"
      import ComponentPropertyPanelMediator from "./ComponentPropertyPanelMediator";

      import DocumentTemplate from "./templateElements/DocumentTemplate";
      import Default3dTemplate from "./templateElements/Default3dTemplate";
      import PosSize2dTemplate from "./templateElements/PosSize2dTemplate";
      import CursorTemplate from "./templateElements/CursorTemplate";
      import PosSize3dTemplate from "./templateElements/PosSize3dTemplate";
      import StyleTestTemplate from "./templateElements/StyleTestTemplate";
      import Style3dTemplate from "./templateElements/Style3dTemplate";
      import PrimaryTemplate from "./templateElements/PrimaryTemplate";
      import NoneTemplate from "./templateElements/NoneTemplate";
      import Label3dTemplate from "./templateElements/Label3dTemplate";
      import LabelTemplate from "./templateElements/LabelTemplate";
      import BackgroundTemplate from "./templateElements/BackgroundTemplate";
      import BackgroundGradientTemplate from "./templateElements/BackgroundGradientTemplate";
      import BorderTemplate from "./templateElements/BorderTemplate";
      import BorderRadiusTemplate from "./templateElements/BorderRadiusTemplate";
      import PaddingTemplate from "./templateElements/PaddingTemplate";
      import ResourceTemplate from "./templateElements/ResourceTemplate";
      import MenusetTemplate from "./templateElements/MenusetTemplate";
      import TemplateManagerTemplate from "./templateElements/TemplateManagerTemplate";
      import TableBackgroundTemplate from "./templateElements/TableBackgroundTemplate";

      import WScriptTemplate from "./templateElements/WScriptTemplate";
      import ColorTemplate from "./templateElements/ColorTemplate";
      import Color3dTemplate from "./templateElements/Color3dTemplate";

      import VerticalTemplate from "./templateElements/VerticalTemplate";
      import FontTemplate from "./templateElements/FontTemplate";
      import FontTypeTemplate from "./templateElements/FontTypeTemplate";
      import AssetResourceTemplate from "./templateElements/AssetResourceTemplate";
      import VectorTemplate from "./templateElements/VectorTemplate";
      import TextInfoTemplate from "./templateElements/TextInfoTemplate";
      import PageSelectInputTemplate from "./templateElements/PageSelectInputTemplate";
      import TextShadowTemplate from "./templateElements/TextShadowTemplate";
      import GradientTemplate from "./templateElements/GradientTemplate";
      import StrokeTemplate from "./templateElements/StrokeTemplate";
      import EventBorderTemplate from './templateElements/EventBorderTemplate';
      import StrokeGradientTemplate from "./templateElements/StrokeGradientTemplate";


      import PointsTemplate from "./templateElements/PointsTemplate"
      import NormalInput from "./inputElements/NormalInput";
      import CheckboxInput from "./inputElements/CheckboxInput";
      import NumberInput from "./inputElements/NumberInput";
      import ColorInput from "./inputElements/ColorInput";
      import SliderInput from "./inputElements/SliderInput";
      import SelectInput from "./inputElements/SelectInput";
      import TextareaInput from "./inputElements/TextareaInput";
      import TooltipTemplate from './templateElements/TooltipTemplate.vue'
      import ShadowTemplate from './templateElements/ShadowTemplate';

      import {UpdatePropertyVO} from "../../../model/vo/ValueObjects";


      import CoreTemplate from "./templateElements/CoreTemplate";
      import {PropertyPanelInfo} from "../../../data/Data";
      import WVComponent from "../../../../wemb/core/component/WVComponent";


      Vue.component("normal-input", NormalInput);
      Vue.component("checkbox-input", CheckboxInput);
      Vue.component("number-input", NumberInput);
      Vue.component("color-input", ColorInput);
      Vue.component("slider-input", SliderInput);
      Vue.component("select-input", SelectInput);
      Vue.component("textarea-input", TextareaInput);


      @Component({
            components: {
                  DocumentTemplate,
                  Default3dTemplate,
                  PrimaryTemplate,
                  NoneTemplate,
                  CursorTemplate,
                  PosSize2dTemplate,
                  PosSize3dTemplate,
                  StyleTestTemplate,
                  Style3dTemplate,
                  Label3dTemplate,
                  LabelTemplate,
                  BackgroundTemplate,
                  BackgroundGradientTemplate,
                  PageSelectInputTemplate,
                  BorderTemplate,
                  BorderRadiusTemplate,
                  PaddingTemplate,
                  ResourceTemplate,
                  MenusetTemplate,
                  TemplateManagerTemplate,
                  WScriptTemplate,
                  ColorTemplate,
                  VerticalTemplate,
                  FontTemplate,
                  FontTypeTemplate,
                  AssetResourceTemplate,
                  VectorTemplate,
                  TextInfoTemplate,
                  Color3dTemplate,
                  PointsTemplate,
                  TextShadowTemplate,
                  TooltipTemplate,
                  GradientTemplate,
                  StrokeTemplate,
                  EventBorderTemplate,
                  TableBackgroundTemplate,
                  StrokeGradientTemplate,
                  ShadowTemplate
            }
      })
      export default class ComponentPropertyPanel extends Vue {
            static readonly EVENT_UPDATE_PROPERTIES: string = "event/updateProperties";
            static readonly EVENT_SET_ACTIVE_SHORTCUT_STATE:string="event/setActiveShortcutState";


            private info: PropertyPanelInfo = null;

            private editableProperties:any = null;
            private propertyPanelDescription: any = null;
            public currentComponentInstance:WVComponent = null;

            public get existExtensionProperties(){
                  if(this.currentComponentInstance){
                        if(this.currentComponentInstance.getExtensionProperties()){
                              return true;
                        }
                  }

                  return false;
            }


            private eventBus:Vue = new Vue();
            private propertyPanel:ComponentPropertyPanel = null;

            public active:boolean=false;


            private get usingTemplateList(){
                  /*
                  2018.10.20(ckkim)
                        - 컴포넌트 프로퍼티 템플릿 동적추가를 위한 변경
                        - componentLibraryManager에서 템플릿 리스트 가져오는것으로 변경
                  */
                  if(window.wemb.componentLibraryManager) {
                        return window.wemb.componentLibraryManager.getComponentPropertyTemplateList();
                  }else {
                        console.warn("The template information you want to use does not exist.");
                        return [];
                  }
            }

            created(){
                  this.propertyPanel =this;
                  this.eventBus.$on("inputFocus", this.onInputFocus.bind(this));
                  this.eventBus.$on("inputBlur", this.onInputBlur.bind(this));
            }
            mounted() {
                  window.wemb.viewComponentMap.set(ComponentPropertyPanelMediator.NAME, this);

            }


            checkUsingTemplate(templateName){

                  let index = this.usingTemplateList.indexOf(templateName);
                  return  index==-1 ? false : true;

            }

            // 사용하는 템플릿 구하기
            // 만약 템플릿이 존재하지 않는 경우 vertical-template을 기본으로
            getTemplate(groupInfo) {
                  if(groupInfo.hasOwnProperty("template") && this.checkUsingTemplate(groupInfo.template)){
                        return groupInfo.template+"-template";
                  }else {
                        return "vertical-template";
                  }
            }


            onChange(groupName: string, propertyName: string, value: any) {
                  let vo: UpdatePropertyVO = {
                        groupName,
                        propertyName,
                        value
                  }
                  this.$emit(ComponentPropertyPanel.EVENT_UPDATE_PROPERTIES, vo);
            }



            onInputFocus(target){
                  this.$emit(ComponentPropertyPanel.EVENT_SET_ACTIVE_SHORTCUT_STATE, false);
            }
            onInputBlur(){
                  this.$emit(ComponentPropertyPanel.EVENT_SET_ACTIVE_SHORTCUT_STATE, true);
            }


            onShowExtensionPropertyPanel(){

                  if(this.existExtensionProperties==false){
                        Vue.$alert("Extended Property Popup is not supported or can not be activated.");
                  }

                  let category =  this.editableProperties.info.category;
                  let componentName =  this.editableProperties.info.componentName;
                  let path = window.wemb.componentLibraryManager.getComponentPath(componentName);

                  console.log("componentName ", componentName, path);
                  // 컴포넌트 모달 띄우기
                  window.wemb.$modalManager.loadModal(componentName, path+"/popup.vue").then((result:any)=>{
                        this.$emit(ComponentPropertyPanel.EVENT_SET_ACTIVE_SHORTCUT_STATE, false);
                        result.modal.setComponent(this.currentComponentInstance);

                        result.modal.show();

                        result.modal.$on("closed", (updateState)=>{
                              this.$emit(ComponentPropertyPanel.EVENT_SET_ACTIVE_SHORTCUT_STATE, true);
                        })


                  }).catch ((error)=>{
                        console.log("error", error);
                        //Vue.$alert("확장 프로퍼티 팝업을 호출하는 도중 오류가 발생했습니다. 컴포넌트 확장 프로퍼티 팝업 파일(popup.vue)이 존재하지 않거나 서버 오류일 수 있습니다. 확인 후 다시 실행해주세요.")
                        Vue.$alert("There was an error calling extension property popup. The component extension property popup file (popup.vue) may not exist or may be a server error. Please check and run again.");
                  });
            }

            public noti_openPage(){
                  this.active=true;
            }


            public noti_closedPage(){
                  this.active=false;
            }






            noti_setPropertyInfo(info: PropertyPanelInfo) {
                  this.editableProperties = info.editableProperties;
                  this.propertyPanelDescription = info.propertyPanelDescription;
                  this.currentComponentInstance = info.componentInstance;

                  if (this.$refs.currentTemplate) {
                        /*
                        주의:
                        파라메터로 넘어온 값이 적용되기에 시간이 필요로 함.
                        이를 위해 timer처리를 함.
                        */
                        try {
                              setTimeout(() => {
                                    if (this.$refs.currentTemplate instanceof Array) {
                                          let templateList: CoreTemplate[] = this.$refs.currentTemplate as CoreTemplate[];
                                          templateList.forEach((mTemplate) => {
                                                try {
                                                      mTemplate.updatePropertyInfo();
                                                }catch(error){
                                                      console.log("ERROR ", error);
                                                }
                                          })
                                    } else {
                                          (this.$refs.currentTemplate as CoreTemplate).updatePropertyInfo();
                                    }

                        }, 0);
                  }catch(error){
                        console.log("ERRROR, 컴포넌트 프로퍼티 처리 중 에러 발생, noti_setPropertyInfo");
                  }
            }

            }

      }


</script>

<style scoped>

</style>
