/*
Horizontal bar Battery
*/
.horizon-bar-battery {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: stretch;
    align-items: center;
    overflow: hidden;
}

.horizon-bar-battery .barContainer {
    width: 89%;
    height: 100%;
    background: #FFF;
    padding: 10px;
}

.horizon-bar-battery .bar {
    width: 100%;
    height: 100%;
    min-height: 2px;
    height: 100%;
    /*background: #0a6aa1;*/
    background: linear-gradient(to right, #1295fb, #6863cc);
    /*background: repeating-linear-gradient(90deg,  #6466cc,  #6466cc 10px,  #fff 10px,  #fff 20px);*/

}

.horizon-bar-battery .barGradient {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 10px;
    height: 100%;
    /*background: #0a6aa1;*/
    background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10px, #fff 10px, #fff 20px);
}

.horizon-bar-battery .barRight {
    width: 20px;
    height: 60%;
    min-height: 10px;

    background: #fff;
}

.horizon-bar-battery .label {
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.horizon-bar-battery .labelBody {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;

    border-right: 30px solid #47d5fe;
}

.horizon-bar-battery .labelArrow {
    padding-right: 30px;
    height: 50px;

    background: linear-gradient(to right, #47d5fe, #6863cc);

    color: #fff;
    border-radius: 0px 100px 100px 0px;
    vertical-align: middle;
    display: flex;
    font-size: 18px;
    align-items: center;

}

