<template>
      <modal
            id="cctv-popup"
            name="cctv-popup"
            class="w-modal modal-tabs"
            :click-to-close="false"
            :resizable="true"
            :width="500"
            :height="380"
            :min-width="500"
            :min-height="360">
            <div class="modal-header">
                  <h4>CCTV Extension Panel</h4>
                  <a class="close-modal-btn" role="button" @click="onClickClose">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="modal-body" v-bind:class="{'record-modal':assetInfo.mode=='record'}">
                  <el-radio-group v-model="assetInfo.mode">
                        <el-radio label="rtsp">{{lang.cctv.live}}</el-radio>
                        <el-radio label="record">{{lang.cctv.record}}</el-radio>
                  </el-radio-group>
                  <el-form label-width="80px" @submit.prevent="onClickSubmit">
                        <div v-if="assetInfo.mode == 'rtsp'">
                              <el-form-item label="id">
                                    <el-input  placeholder="Please input id" v-model="assetInfo.rtsp_id"  key="rtsp_id"></el-input>
                              </el-form-item>

                              <el-form-item label="password">
                                    <el-input label="password" type="password" v-model="assetInfo.rtsp_pass" placeholder="Please input password"  key="rtsp_password"></el-input>
                              </el-form-item>
                              <el-form-item label="url">
                                    <el-input label="url" placeholder="Please input url" v-model="assetInfo.rtsp_url" key="rtsp_url"></el-input>
                              </el-form-item>
                              <el-form-item label="option">
                                    <el-input label="option" v-model="assetInfo.rtsp_options" placeholder="Please input option"></el-input>
                              </el-form-item>
                        </div>
                        <div v-else>
                              <el-form-item label="id">
                                    <el-input placeholder="Please input id" key="record_id" v-model="assetInfo.record_id"></el-input>
                              </el-form-item>

                              <el-form-item label="password">
                                    <el-input label="password" type="password" placeholder="Please input password" v-model="assetInfo.record_pass" key="record_password"></el-input>
                              </el-form-item>
                              <el-form-item label="ip">
                                    <el-input label="ip" placeholder="Please input ip" v-model="assetInfo.record_ip" key="record_ip"></el-input>
                              </el-form-item>
                              <el-form-item label="port">
                                    <el-input label="port" placeholder="Please input port" v-model="assetInfo.record_port"></el-input>
                              </el-form-item>
                              <el-form-item label="cam mask">
                                    <el-input label="cam mask" placeholder="Please input cam mask" v-model="assetInfo.record_mask"></el-input>
                              </el-form-item>
                        </div>
                        <div class="form-btn-area">
                              <el-button class="bottom-btn" type="primary" size="small" type="submit" @click.prevent="onClickSubmit" >{{$t('common.save')}}</el-button>
                        </div>
                  </el-form>
            </div>
      </modal>
</template>
<script>
      module.exports = {
            data:function(){
                  return {
                        lang : Vue.$i18n.messages.wv.dcim_pack,
                        component:null,
                        assetInfo:{
                              rtsp_id:"",
                              rtsp_url:"",
                              rtsp_pass:"",
                              rtsp_options:"",
                              record_id:"",
                              record_ip:"",
                              record_pass:"",
                              record_port:"",
                              record_mask:"",
                              mode:"rtsp",
                              id:"",
                              asset_type:""
                        }
                  }
            },
            methods:{
                  setComponent:function( component ){
                        this.component    = component;
                  },
                  show:function(){
                        if( this.component.isAssetComp() ){
                              for( var prop in this.assetInfo ){
                                    if(this.component.data.hasOwnProperty(prop)){
                                          this.assetInfo[prop] = this.component.data[prop];
                                    }
                              }
                        }
                        this.$modal.show('cctv-popup');
                  },
                  onClickClose:function(){
                        this.$modal.hide('cctv-popup');
                        this.$emit("closed", false );
                        this.component          = null;
                  },
                  onClickSubmit:function(event){
                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        event.preventDefault();
                        if(this.component.isAssetComp()){
                              window.wemb.dcimManager.updateAsset(this.assetInfo).then(function(response){
                                    self.$message({ message: locale_msg.common.successSave,  type: 'success' });
                                    wemb.dcimManager.updateAssetDataBy(self.component.data);
                                    self.onClickClose();
                              }).catch(function(error){
                                    self.$message({ message: locale_msg.common.errorSave,  type: 'error' });
                              });
                        }
                        return false;
                  }
            }
      }
</script>
<style scoped>
      .modal-body {
            display:block;
            text-align: center;
      }

      .el-radio-group {
            margin-bottom:22px;
      }

      .record-modal .el-radio-group {
            margin-bottom:12px !important;
      }

      .el-form-item {
            margin-bottom: 10px;
      }
      .form-btn-area {
            text-align: center;
      }




</style>
