<template>
    <div class="dataset-preview" v-if="ready">
        <el-tag 
            v-if="!dataList && !isNumber(dataList)"
            type="danger"
            size="mini">{{$t('dataset.previewMsg01')}}</el-tag>

        <el-tag 
            v-if="dataList && !dataList.length && !isNumber(dataList)"
            type=""
            size="mini">{{$t('dataset.previewMsg02')}}</el-tag>

        <el-tag
              v-if="isNumber(dataList)"
              type=""
              size="mini">{{$t('dataset.previewMsg03')}}

        </el-tag>

        <el-table
            v-if="dataList && dataList.length" 
            :data="dataList" 
            style="width: 100%">
            <el-table-column :prop="item" :key="item" :label="item" v-for="item in columns"></el-table-column>
        </el-table>
    </div>
</template>
<script lang="ts">
    import Vue from "vue"
	import Component from "vue-class-component"
    import {dto} from "../../../model/dto/DatasetDTO"
    import DatasetItemDTO = dto.DatasetItemDTO;

	@Component({
		components: {

		}
	})
	export default class DatasetPreviewComponent extends Vue {
        public ready: boolean = false;
        public dataList: Array<DatasetItemDTO> = [];
        public columns: Array<any> = [];
		/*static readonly  EDIT_DATASET = "event/editDataset";
        public searchStr:string = "";
        */
		created():void {
           
		}

		mounted() {			
        }

        reset(){
            this.ready = false;
            this.dataList = [];
        }

        setPreviewData( list:Array<any> ){
            this.dataList = list;
            if( list && list.length && list[0]){
                this.columns = Object.keys(list[0]);
            } else {
                  this.columns = ['undefined'];
            }

            this.ready = true;
        }

        getPreviewData():Array<any>{
            return this.dataList;
        }

        isNumber(value) {
	      return !Array.isArray(value) && !!value && !isNaN(value)
        }
	}
</script>
<style scoped>
.dataset-preview{text-align: center;}
.dataset-preview >>> .el-tag{margin: 10px 0;}
.dataset-preview >>> .cell{text-align: center;}
</style>
