<template>
    <div class="dataset-restapi-preview" v-if="ready">
        <el-tag 
            v-if="!resultStr"
            type="danger"
            size="mini">{{$t('dataset.previewMsg01')}}</el-tag>      
        <el-input v-else
        class="txt"
        type="textarea"
        :rows="10"
        :readonly="true"
        placeholder=""
        v-model="resultStr">
        </el-input>
    </div>
</template>
<script lang="ts">
    import Vue from "vue"
	import Component from "vue-class-component"
    import {dto} from "../../../model/dto/DatasetDTO"
    import DatasetItemDTO = dto.DatasetItemDTO;

	@Component({
		components: {

		}
	})
	export default class DatasetRestApiPreviewComponent extends Vue {
        public ready: boolean = false;
        public resultStr:string = '';

		created():void {
           
		}

		mounted() {			
        }

        reset(){
            this.ready = false;
            this.resultStr = '';
        }

        setPreviewData( data:string ){
            this.resultStr = data;
            this.ready = true;
        }

        getPreviewData():string{
            return this.resultStr;
        }
	}
</script>
<style scoped>
.dataset-restapi-preview{text-align: center;}
.dataset-preview >>> .el-tag{margin: 10px 0;}
.dataset-restapi-preview .txt{text-align: left;margin: 10px 0;}
</style>
