@charset "UTF-8";

/*****************************
 * 3D 나침반 Style override
 ******************************/

div.direction-view {
    right: 10px;
    top: 10px;
}


/******************************************************
 * Data Grid Custom Scroll Style override(모든 스크롤 적용)
 ******************************************************/

.scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #e0e0e0;
    opacity: 0.4;
}

.scrollbar-inner>.scroll-element .scroll-bar {
    background-color: #c2c2c2;
    opacity: 0.4;
}

.scrollbar-inner>.scroll-element:hover .scroll-bar {
    background-color: #919191;
}

.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar {
    background-color: #919191;
}

/******************************************************
 * Gradient 를 사용하는 Style
 ******************************************************/
.gradient-type-wrap{
      margin-left: 10px;
}

.gradient-type-wrap>.dir-btn.active{
      border-width: 2px;
      border-color: #333;
}

.gradient-type-wrap>.dir-btn{
      margin-right: 2px;
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid #999;
      overflow:  hidden;
      cursor: pointer;
}

.dir-btn>.icon{
      display: block;
      width: 100%;
      height: 100%;
      background:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.top>.icon{
      background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.diagonal1>.icon{
      background:linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.diagonal2>.icon{
      background:linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}

.dir-btn.radial>.icon{
      background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(54,58,69,1) 100%);
}


/*일부 컴포넌트에만 적용할 경우, 컴포넌트 인스턴스 아이디로 셀렉터 추가하여 상태별 스타일 override하여 사용 
[data-id="컴포넌트 인스턴스 아이디"].scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #c2c2c2;
    opacity: 0.4;
}

ex)
[data-id="9fc1b089-0564-4c13-9225-27b71665929e"].scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #c2c2c2;
    opacity: 0.4;
}
*/
