@charset "UTF-8";
.renobit-popup-view {
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
    border-radius: 3px;
    width: 500px;
    height: 500px;
    margin: 50px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex !important;
    flex-direction: column !important;
}


/*header style*/

.renobit-popup-view>.header {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 8px;
      /* border-bottom: 1px solid #e9ecef; */
      background-color: #3966b8;
      color: #ffffff;
      font-size: 14px;
      /*
        2018.05.16(ddandongne)
        popupManager에서 height 크기를 구해서 사용하기 때문에 반드시 스타일에서 설정해줘야 함.
        call : PopupWindow._validateSize()에서 호출됨.
        */
      height: 39px;
}

.renobit-popup-view>.header h4 {
    flex: 1;
    margin: 0;
    font-size: 15px;
}


/*닫기 아이콘 style*/

.renobit-popup-view>.header i {
      font-size: 15px;
      color: #fcfcfe;
      background-color: #4f8dff;
      padding: 4px;
      border-radius: 2px;
      font-weight: bold;
}

.renobit-popup-view>.header i:hover {
      color: #f9fafc;
      background-color: #1e4a9a;
}

/*popup focus시 스타일 추가  */

.renobit-popup-view.focus {}

.renobit-popup-view>.body {
    position: relative;
    flex: 1;
}

.renobit-popup-view>.header>.close-modal-btn {
    cursor: pointer;
}


/*********************************************************
 * popup style override sample
**********************************************************/

.renobit-popup-view {
    margin: 0;
}


/*header style*/

.renobit-popup-view.type1>.header {
    background-color: #999;
    color: #fff;
}

.renobit-popup-view.type1>.header h4 {
    font-size: 15px;
}


/*닫기 아이콘 style*/

.renobit-popup-view.type1>.header i {
    font-size: 20px;
    color: #fff;
}

/*search cumstom popup*/
.renobit-popup-view.search {
    /*transition: width .2s linear;*/
}

.renobit-popup-view.search.fold {
    width : 320px !important;
}

.renobit-popup-view.search.fold > .body {
    width : 320px !important;
}

.renobit-popup-view.search.fold > .body > div {
    width : 320px !important;
}

.renobit-popup-view.search.unfold > .body {
    width : 1050px !important;
}

.renobit-popup-view.search.unfold > .body > div{
    width : 1050px !important;
}

.renobit-popup-view .table-wrap a,
.renobit-popup-view .asset-info-popup a {
      color : #f5f5f5 !important;
      font-weight: bold;
      text-decoration: underline;
}
