<template>
      <popup-component 
            :component-instance="componentInstance"
            :is-category="isCategory"   
            ></popup-component>
</template>
<script>
module.exports =  {
   data: function data() {
        return {
            componentName:'',
            componentInstance: null,
            isCategory:true,
        };
    },
   methods: {
      setComponent: function setComponent(componentInstance) {
            this.componentName = componentInstance.componentName
            console.log(this.componentName,'name')
            this.componentInstance = componentInstance;
            },
      show: function show() {
                  this.$modal.show('empty-chart');
            },
      
   }
}
</script>

<style scoped>
#empty-chart .wrap{height: 100%; width: 100%; display:flex; flex-direction: column;}
#empty-chart .cont-wrap{flex:1;display:flex;}
#empty-chart .cont{display:flex;flex-direction: column;}
#empty-chart .cont:nth-child(1){flex:1;margin-right: 8px;}
#empty-chart .cont:nth-child(2){width: 450px;}
#empty-chart .cont>div{flex:1;}
#empty-chart .cont .code textarea{resize:none; width:100%; height: 99%;background: #efefef;padding: 10px;font-size: 13px;outline: none; box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);}
#empty-chart .modal-body .btn-wrap button{width:140px;}
</style>      

