<template>
      <div class="component-info-main">
            <h4 class="title">API Reference</h4>
            <div class="content">
                  <div class="table-wrap flex-scroll">
                        <h5><i class="el-icon-edit"></i> Properties</h5>
                        <template v-for="propertyInfo in propertyInfoList">
                              <span class="prop-group">{{propertyInfo.label}}</span>
                              <el-table
                                    :data="propertyInfo.children"
                                    style="width: 100%"
                              >
                                    <el-table-column type="expand">
                                          <template slot-scope="scope">
                                                <pre>{{scope.row.description.trim()}}</pre>
                                          </template>
                                    </el-table-column>
                                    <el-table-column
                                          prop="name"
                                          label="Property Name"
                                          width="150">
                                    </el-table-column>
                                    <el-table-column
                                          prop="owner"
                                          label="Owner Name">
                                    </el-table-column>
                                    <el-table-column
                                          prop="type"
                                          label="Type">
                                    </el-table-column>
                                    <el-table-column
                                          label="Writable">
                                          <template slot-scope="scope">
                                                {{scope.row.writable==true ? "yes": "no"}}
                                          </template>
                                    </el-table-column>
                                    <el-table-column
                                          width=80
                                          label="Get code"
                                    >
                                          <template slot-scope="scope">
                                                <el-button
                                                      size="mini"
                                                      @click="on_insertPropertyCode('get', scope.row)">insert
                                                </el-button>
                                          </template>
                                    </el-table-column>
                                    <el-table-column
                                          width=80
                                          label="Set code"
                                    >
                                          <template slot-scope="scope">
                                                <el-button
                                                      size="mini"
                                                      v-if="scope.row.writable==true"
                                                      @click="on_insertPropertyCode('set', scope.row)">insert
                                                </el-button>
                                          </template>
                                    </el-table-column>
                              </el-table>
                        </template>
                  </div>
                  <div class="table-wrap flex-scroll" v-if="methodInfo && methodInfo.length">
                        <h5><i class="el-icon-edit"></i> Methods</h5>
                        <el-table
                              :data="methodInfo"
                              style="width: 100%">
                              <el-table-column type="expand">
                                    <template slot-scope="props">
                                          <pre>{{props.row.description.trim()}}</pre>
                                          <hr>
                                          <p>Parameters</p>
                                          <p v-for="(param, index) in props.row.params" :key="index">
                                                {{param.name}}:{{param.type}} {{param.description}}
                                          </p>
                                    </template>
                              </el-table-column>
                              <el-table-column
                                    prop="name"
                                    label="Method name"
                                    width="200">
                              </el-table-column>
                              <el-table-column
                                    label="Parameters">
                                    <template slot-scope="props">
                                          <template v-for="(param, index) in props.row.params">
                                                {{param.name}}:{{param.type}}
                                                <span v-if="props.row.params.length != 1 && props.row.params.length != index+1">, </span>
                                          </template>
                                    </template>
                              </el-table-column>
                              <el-table-column
                                    width=80
                                    label="Code"
                              >
                                    <template slot-scope="scope">
                                          <el-button
                                                size="mini"
                                                @click="on_insertMethodCode(scope.row)">insert
                                          </el-button>
                                    </template>
                              </el-table-column>
                        </el-table>
                  </div>
            </div>
      </div>
</template>
<script lang="ts">
      import Vue from 'vue';
      import Component from "vue-class-component";
      import ComponentInfoMediator from "./ComponentInfoMediator";

      @Component({})
      export default class ComponentInfoComponent extends Vue {
            static readonly EVENT_INSERT_CODE: string = "event/insertCode";

            public propertyInfoList = [];
            public methodInfo = [];

            mounted() {
                  window.wemb.viewComponentMap.set(ComponentInfoMediator.NAME, this);

            }

            public noti_componentFocus(selectedComponentInfo) {
                  this.propertyInfoList = selectedComponentInfo.propertyInfo || [];
                  this.methodInfo = selectedComponentInfo.methodInfo || [];
            }

            public on_insertPropertyCode(mode: string, propertyInfo: any) {
                  let code = "";
                  try {
                        let defaultValue = (propertyInfo.defaultValue != undefined) ? propertyInfo.defaultValue : 'insert value';

                        /*
                          owner정보가 없을 경우 get/set으로 바로 접근
                          */
                        if (!propertyInfo.owner) {
                              if (mode == "get") {
                                    code += `var value = this.${propertyInfo.name};`
                              } else {
                                    code = `this.${propertyInfo.name}=${defaultValue};\n`;
                              }
                        } else {
                              if (propertyInfo.owner == "setter") {
                                    if (mode == "get") {
                                          code = `var value = this.${propertyInfo.name};\n`;
                                    } else {
                                          code = `this.${propertyInfo.name}=${defaultValue};\n`;
                                    }
                              } else {
                                    if (mode == "get") {
                                          code = `var value = this.getGroupPropertyValue("${propertyInfo.owner}", "${propertyInfo.name}");\n`;
                                    } else {
                                          code = `this.setGroupPropertyValue("${propertyInfo.owner}", "${propertyInfo.name}", ${defaultValue});\n`;
                                    }

                              }
                        }

                        this.$emit(ComponentInfoComponent.EVENT_INSERT_CODE, code);

                  } catch (error) {
                        console.log("insertPropertyCode error ", error);
                  }
            }


            public on_insertMethodCode(methodInfo: any) {
                  let code = "";
                  try {
                        code = `/*\n@description ${methodInfo.description}\n`;
                        if (methodInfo.hasOwnProperty("params") == true) {
                              methodInfo.params.forEach((paramInfo: any) => {
                                    code += `@param {${paramInfo.type}} ${paramInfo.name}, ${paramInfo.description}\n`;
                              });
                              code += "*/";
                        } else {
                              code += "*/";
                        }

                        let methodString = `\nthis.${methodInfo.name}(`;
                        if (methodInfo.hasOwnProperty("params") == true) {
                              let paramNames = methodInfo.params.map((paramInfo: any) => {
                                    return paramInfo.name;
                              })
                              methodString += paramNames.join(",") + ");";
                        } else {
                              methodString += ");"
                        }

                        code += methodString;
                        this.$emit(ComponentInfoComponent.EVENT_INSERT_CODE, code);

                  } catch (error) {
                        console.log("insertMethodCode error ", error);
                  }
            }

      }

</script>
<style scoped>
      .component-info-main {
            height: 200px;
            display: flex;
            flex-direction: column;
      }

      .component-info-main >>> .el-table {
            border: 1px solid #e6ebf5;
            border-bottom: none;
            font-size: 11px;
      }

      .component-info-main >>> .el-table th, .el-table td {
            padding: 2px 0;
      }

      .component-info-main >>> .el-table__expanded-cell[class*=cell] {
            padding: 6px 50px;
      }

      .component-info-main h4.title {
            font-size: 12px;
            margin: 0;
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 2px 8px
      }

      .content {
            margin-bottom: 12px;
            overflow: auto;
            flex: 1;
      }

      .content > .table-wrap {
            padding: 0 16px;
      }

      h5 {
            margin: 16px 0 10px 0;
      }

      .prop-group {
            display: block;
            font-size: 11px;
            background: #5f6570;
            padding: 4px 10px;
            margin: 5px 0px;
            color: #fff;
      }

      pre {
            margin: 0;
            line-height: 18px;
      }
</style>
