<template>
    <div class="dataset-tabs-content-wrap">
        <el-row>
            <el-col :span="4" class="label">{{$t('dataset.datasetName')}} : </el-col>
            <el-col :span="8">
                <el-input size="small" :maxlength="parseInt('35')" :placeholder="$t('dataset.datasetNamePH')"  pattern="/[^a-zA-Z0-9_$]|^[0-9]+/" v-model="name" id="input01"></el-input>
            </el-col>
            <el-button :span="6" type="primary" size="small" @click="onClickDoubleCheck()" class="double-check-btn">{{$t('dataset.doubleCheck')}}</el-button>
        </el-row>
       <el-row>
            <el-col :span="4" class="label">{{$t('dataset.description')}} :</el-col>
            <el-col :span="12">
                  <el-input
                        size="small"
                        placeholder="Please input"
                        class="descript-textarea"
                        :maxlength="parseInt('255')"
                        v-model="description">
                  </el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4" class="label">{{$t('dataset.interval')}} : </el-col>
            <el-col :span="4">
                <el-input
                    :min="deliveryMinTime"
                    size="small"
                    type="number"
                    v-model="interval" id="input02"
                    :disabled="isDeliveryOnce"
                >
                </el-input>
            </el-col>
            <el-col :span="6" v-if="delivery_type == DATASET_CONST.DELIVERY_TYPE.POLLING"><el-checkbox v-model="isDeliveryOnce">{{$t('dataset.runOnce')}}</el-checkbox></el-col>
        </el-row>
        <hr>
        <el-row>
            <el-col :span="4" class="label">{{$t('dataset.type')}} : </el-col>
            <el-col :span="4"><el-radio v-model="data_type" :label="DATASET_CONST.DATA_TYPE.SQL">{{$t('dataset.dbQuery')}}</el-radio></el-col>
            <el-col :span="4"><el-radio v-model="data_type" :label="DATASET_CONST.DATA_TYPE.TIM">{{$t('dataset.tim')}}</el-radio></el-col>
            <el-col :span="4"><el-radio v-model="data_type" :label="DATASET_CONST.DATA_TYPE.REST">{{$t('dataset.restApi')}}</el-radio></el-col>
        </el-row>
       <hr v-if="data_type == DATASET_CONST.DATA_TYPE.SQL">
       <div v-show="data_type == DATASET_CONST.DATA_TYPE.SQL">
           <dataset-query-type-fields-component
                ref="queryFieldComp"
                :isEditMode="isEditMode"
                :type="delivery_type"
            ></dataset-query-type-fields-component>
        </div>
         <div v-show="data_type == DATASET_CONST.DATA_TYPE.REST">
               <dataset-rest-api-fields-component ref="restApiField" v-model="rest_api"></dataset-rest-api-fields-component>
        </div>
        <div v-show="data_type == DATASET_CONST.DATA_TYPE.TIM">
            <dataset-tim-type-fields-Component            
                ref="timFieldComp"
                @changeTimUrl="loadTimWorkerList($event)"
                @executeTimWorkerPreview="loadTimWorkerPreview($event)"
                ></dataset-tim-type-fields-Component>                  
        </div>

        <div>
            <el-button type="primary" size="small" @click="onClickPreview()" class="preview-btn" v-if="showPreview">{{$t('dataset.preview')}}</el-button>
            <!--query, tim Preview-->
            <template v-show="data_type != DATASET_CONST.DATA_TYPE.REST">
                <template v-if="previewResultStr && previewResultStr != 'null'">
                    <el-tooltip content="copy to clipboard" placement="top">
                        <el-button class="icon-btn" type="success" size="" @click="onClickCopyToClipboard(previewResultStr)" style="margin-left: 0px;padding: 5px 7px 7px 7px;"><i class="fa fa-clipboard"></i></el-button>
                    </el-tooltip>
                </template>
                <dataset-preview-component ref="previewComp"></dataset-preview-component>
            </template>
            <!--//query, tim Preview-->
            <!--rest API Preview-->
            <template v-show="data_type == DATASET_CONST.DATA_TYPE.REST">
                <template v-if="restApiPreviewResultStr">
                    <el-tooltip content="copy to clipboard" placement="top">
                        <el-button class="icon-btn" type="success" size="" @click="onClickCopyToClipboard(restApiPreviewResultStr)" style="margin-left: 0px;padding: 5px 7px 7px 7px;"><i class="fa fa-clipboard"></i></el-button>
                    </el-tooltip>
                </template>
                <dataset-rest-api-preview-component ref="restApiPreviewComp"></dataset-rest-api-preview-component>
            </template>
            <!--//rest API Preview-->
        </div>

        <div>
            <el-button v-if="isEditMode==false"
                class="complete-btn"
                type="primary"
                @click="onClickAddDataset()" size="small">{{$t('dataset.registerDataset')}}</el-button>
                <el-button v-if="isEditMode==true"
                class="complete-btn"
            type="primary"
            @click="onClickModifyDataset()" size="small">{{$t('dataset.modifyDataset')}}</el-button>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
    import {dto} from "../../../model/dto/DatasetDTO"
    import DatasetItemDTO = dto.DatasetItemDTO;
    import TimItemDTO = dto.TimItemDTO;
    import DatasetCreateFormMediator from "./DatasetCreateFormMediator";
    import DatasetModifyFormMediator from "./DatasetModifyFormMediator";
    import {Dataset} from "../../../const/Dataset";
    import DatasetQueryTypeFieldsComponent from './query/DatasetQueryTypeFieldsComponent.vue';
    import DatasetStatic from '../../../controller/DatasetStatic';
    import DatasetPreviewComponent from '../preview/DatasetPreviewComponent.vue';
    import DatasetRestApiPreviewComponent from '../preview/DatasetRestApiPreviewComponent.vue';
    import DatasetTimTypeFieldsComponent from './tim/DatasetTimTypeFieldsComponent.vue';
    import DataSourceDTO = dto.DataSourceDTO;
    import DatasetRestApiFieldsComponent from "./restApi/DatasetRestApiFieldsComponent.vue";

    /**
     * 데이터셋 생성, 데이터셋 수정 탭을 이 컴포넌트로 공통 처리한다.
     * prop isEditMode flag값으로 생성/수정 탭인지를 구별한다.
     */

	@Component({
		components: {
                  DatasetRestApiFieldsComponent,
            DatasetQueryTypeFieldsComponent,
            DatasetPreviewComponent,
            DatasetRestApiPreviewComponent,
            DatasetTimTypeFieldsComponent
		}
	})
	export default class DatasetFormComponent extends Vue {
        
        @Prop({default:false})
        isEditMode: boolean//boolean 값에 따라 결과를 생성 또는 수정하도록 분변하여 처리한다. isEditMode가 true면 수정탭, false면 생성탭 

        @Watch('interval', { immediate: true, deep: true })
        onIntervalChanged(val: string, oldVal: string) { 
            this.updateValidDeliveryTime();
        }

        @Watch('delivery_type', { immediate: true, deep: true })
        onDeliveryTypeChanged(val: string, oldVal: string) { 
            if( this.delivery_type ==  Dataset.DELIVERY_TYPE.PUSH){
                this.isDeliveryOnce = false;
            }

            this.updateDeliveryMinTime();

            
        }

        @Watch('data_type', { immediate: true, deep: true })
        onDataTypeChanged(val: string, oldVal: string) { 
            //this.$refs.previewComp.reset();
            //if( this.$refs.timFieldComp ){
            //    this.$refs.timFieldComp.refresh();
            //}
            this.previewReset();
        }

        static readonly EVENT_MOUNTED:string="mountedComp";

        static readonly DELIVERY_DEFAULT_TIME: number = 10;
        public restApiPlaceHolder: string = "{\n      \"url\" : \"http://url\",    \n      \"method\" : \"POST\",\n      \"contentType\" : \"application/json;charset=UTF-8\",\n      \"dataType\" : \"json\",\n      \"data\":{ \"name\" : \"John\", \"location\": \"Boston\" }\n}";
        public DATASET_CONST: any = Dataset;
        public name:string = '';
        public data_type: string = Dataset.DATA_TYPE.SQL;
        public delivery_type: string = Dataset.DELIVERY_TYPE.POLLING;
        public interval: number = DatasetFormComponent.DELIVERY_DEFAULT_TIME;
        public queryStr: string = '';
        public rest_api: string = '';//tim과 rest공통으로 사용 
        public dataset_id: string = '';
        public description:string = '';
        //--dataset data
        public doubleCheckName: string = '';//중복체크한 데이터셋 이름       
        public deliveryMinTime:number =  0;
        public isDeliveryOnce: boolean = false;
        //public Dataset: DatasetItemDTO = null;
        public previewResultStr:string = "";
        public restApiPreviewResultStr: string = "";
        public showPreview:boolean = true;

		static readonly DOUBLE_CHECK = "event/doubleCheck";
        public searchStr:string = "";
        /**/
		created():void {

		}

		mounted() {		
            let mediatorName = DatasetCreateFormMediator.NAME;
            if(this.isEditMode){
                mediatorName = DatasetModifyFormMediator.NAME;
            }

            window.wemb.viewComponentMap.set(mediatorName, this);  

            if(this.isEditMode){
                  this.$emit(DatasetFormComponent.EVENT_MOUNTED);
            }
        }


        /******* query_type_fields *******/
        private get queryFieldComp(): DatasetQueryTypeFieldsComponent {
              let queryFieldComp:DatasetQueryTypeFieldsComponent = <DatasetQueryTypeFieldsComponent>this.$refs.queryFieldComp;
              return queryFieldComp;
        }

        public updateMultiDataSource(list:Array<any>) {
              this.queryFieldComp.updateMultiDataSource(list);
        }


        private get restComp(): DatasetRestApiFieldsComponent{
              return <DatasetRestApiFieldsComponent> this.$refs.restApiField;
        }

        /******* tim ******/
        /******************/
        private get timComp(): DatasetTimTypeFieldsComponent{
            let timComp:DatasetTimTypeFieldsComponent = <DatasetTimTypeFieldsComponent>this.$refs.timFieldComp;
            return timComp;
        }

        private loadTimWorkerList(url: string){
            this.$emit( DatasetStatic.LOAD_TIM_WORKER_LIST, url );
        }

        private loadTimWorkerPreview(workerUrl: string){
            this.$emit( DatasetStatic.LOAD_TIM_WORKER_PREVIEW, workerUrl );
        }

        public updateTimUrlList(list:Array<TimItemDTO>){
            //console.log("@@@@@ updateTimUrlList", list);
            this.timComp.updateTimUrlList(list);
        }

        public updateTimWorkerList(list:Array<any>){
            this.timComp.updateWorkerList( list );
        }

        public setTimWorkerPreview(data:any){
            this.timComp.setTimWorkerPreview(data);
        }



        onClickModifyDataset(){
            this.$emit(DatasetStatic.EVENT_MODIFY_DATASET);
        }

        onClickAddDataset(){
            this.$emit(DatasetStatic.EVENT_ADD_DATASET);
        }

        /**WScript 혹은 템플릿 컴포넌트 등에서 미리보기 result 데이터를 활용할 수 있어 clipboard copy기능을 제공*/
        onClickCopyToClipboard(data){
            this.$emit(DatasetStatic.EVENT_PREVIEW_COPY_TO_CLIPBOARD, data);
        }
        
        public editDataset(dataset: DatasetItemDTO){
            //console.log("@@@ edit form component", dataset);
            this.$emit(DatasetStatic.EVENT_CHANGE_MODIFY_DATASET, dataset);
           
        }

        private previewReset(){
            let previewComp:DatasetPreviewComponent = <DatasetPreviewComponent>this.$refs["previewComp"];
            let restPreviewComp: DatasetRestApiPreviewComponent = <DatasetRestApiPreviewComponent>this.$refs["restApiPreviewComp"];
            if(previewComp){
                 previewComp.reset();                 
            }

            if(restPreviewComp){
                restPreviewComp.reset();                
            }

            this.previewResultStr = "";
            this.restApiPreviewResultStr = "";
        }

        /*데이터셋 수정시 이 메소드를 통해 새로운 데이터셋 정보를 셋팅한다*/
        setEditData(dataset: DatasetItemDTO){
            this.name = dataset.dataset_id
            this.dataset_id = dataset.dataset_id;
            this.name = dataset.name;
            this.data_type = dataset.data_type;
            this.delivery_type = dataset.delivery_type;
            this.description = dataset.description;
            this.updateDeliveryMinTime();
            this.interval = parseInt(dataset.interval);
            this.rest_api = dataset.rest_api;
            this.queryStr = dataset.query;

            switch( this.data_type ){
                case Dataset.DATA_TYPE.SQL:
                    let queryFieldComp: DatasetQueryTypeFieldsComponent = <DatasetQueryTypeFieldsComponent>this.$refs.queryFieldComp;
                      queryFieldComp.setData({
                            query: dataset.query,
                            paramList: dataset.param_info,
                            queryType: dataset.query_type,
                            datasource: dataset.datasource,
                            type: dataset.query_detail_info ? dataset.query_detail_info.type : {}
                      });
                break;
                case Dataset.DATA_TYPE.REST:
                    this.restComp.setData(this.rest_api);
                break;
                case Dataset.DATA_TYPE.TIM:    
                    this.timComp.setData({
                        tim: this.rest_api,
                        paramList: dataset.param_info
                    });                
                break;
            }

            
            this.doubleCheckName = this.name;
            if( this.interval == 0 ){
                this.isDeliveryOnce = true;
            }else{
                this.isDeliveryOnce = false;
            }
            
            this.previewReset();      
        }

        onClickPreview(){
            this.previewReset();   
            if( this.data_type != Dataset.DATA_TYPE.REST ){
                //query, tim
                this.$emit(DatasetStatic.EVENT_REQUEST_PREVIEW_DATA);
            }else{
                //rest api
                this.$emit(DatasetStatic.EVENT_REQUEST_REST_API_PREVIEW_DATA);
            }
        }

        /*query, tim 미리보기 실행 - rest api와 qurey, tim은 result 포맷이 달라서 구분하여 처리한다*/
        setPreviewData(list){
            let previewComp:DatasetPreviewComponent = <DatasetPreviewComponent>this.$refs["previewComp"];
            //previewComp
            previewComp.setPreviewData( list );
            this.previewResultStr = JSON.stringify(list);
        }

        /*rest api 미리보기 실행 - rest api와 qurey, tim은 result 포맷이 달라서 구분하여 처리한다*/
        setRestApiPreviewData(data:string){
            let restPreviewComp: DatasetRestApiPreviewComponent = <DatasetRestApiPreviewComponent>this.$refs["restApiPreviewComp"];
            restPreviewComp.setPreviewData(data);
            this.restApiPreviewResultStr = data;            
        }

        /*polling 최소 주기 처리*/
        private updateValidDeliveryTime(){
            this.interval =  Math.max( this.interval, this.deliveryMinTime );
        }

        /*제공방식에 따라 polling  최소 주기 처리*/
        private updateDeliveryMinTime(){
            if(this.delivery_type == Dataset.DELIVERY_TYPE.PUSH){
                this.deliveryMinTime = Dataset.DELIVERY_MIN_TIME.PUSH_TYPE;
            }else{
                //polling
                this.deliveryMinTime = Dataset.DELIVERY_MIN_TIME.POLLING_TYPE;
            }

            this.updateValidDeliveryTime();
        }

        onClickDoubleCheck(){
            this.name = this.name.trim();
            this.$emit(DatasetStatic.EVENT_DOUBLE_CHECK, this.name);
        }
        
        /**현재 입력된 정보를 서버에 저장할수 있는 형태로 변환하여 리턴*/
        getDatasetInfo():DatasetItemDTO{
            let model:DatasetItemDTO = new DatasetItemDTO();
            ///getInfo 후 
            model.dataset_id = this.dataset_id;
            model.data_type = this.data_type;
            model.delivery_type = this.delivery_type;
            model.description = this.description;
            model.name = this.name;
            model.mode = Dataset.MODE.GLOBAL;
            model.interval = this.interval.toString();
            
            switch( model.data_type ){
                case Dataset.DATA_TYPE.SQL:
                    let queryFieldComp: DatasetQueryTypeFieldsComponent = <DatasetQueryTypeFieldsComponent>this.$refs.queryFieldComp;
                    let data = queryFieldComp.getData();
                    model.query = data.query;
                    model.param_info = data.paramList;
                    model.query_type = data.queryType;
                    model.datasource = data.datasource;
                    model.query_detail_info = data.queryDetailInfo;
                    model.dbType = data.dbType || "";
                break;
                case Dataset.DATA_TYPE.TIM:
                    let timData:any = this.timComp.getData();
                    model.rest_api = timData.tim;
                    model.param_info = timData.paramList;
                break;
                case Dataset.DATA_TYPE.REST:
                    model.rest_api = this.restComp.getData();
                break;
            }

            if( this.delivery_type == Dataset.DELIVERY_TYPE.POLLING && this.isDeliveryOnce ){
                model.interval = '0';
            }

            return model;
        }

         /**
          * 저장 후 초기화 작업
          */
         reset() {
               this.previewReset();
               window.wemb.viewComponentMap.get("DatasetListMediator").queryViewClose();
               window.wemb.viewComponentMap.get("DatasetQueryTypeFieldsMediator").updateParameter("");
         }
	}
</script>
<style scoped>
    .el-row{margin-bottom: 6px;}
    .dataset-tabs-content-wrap >>> .el-col>label,
    .label{line-height: 28px;width: 120px;}
    .dataset-tabs-content-wrap >>> .label {width: 120px;}

    .dataset-tabs-content-wrap >>> .el-row>.el-col:first-child{
        margin-right: 0;
    }
	.dataset-tabs-content-wrap >>> .el-col{
        margin-right: 6px;
    }

    h4{margin: 20px 0 8px 0;}
    .preview-btn{margin-top: 12px;}
    .complete-btn{width: 100%; margin-top: 12px;}
    .rest_apiField >>>.el-textarea__inner{color: #000;}
    .descript-textarea >>> .el-textarea__inner {min-height: 60px !important;}
</style>
