.vertical-bar-chart-component {
    user-select: none;
    position: absolute;
}

.vertical-bar-chart-component.isEditor {
    background-color: rgba(255, 255, 255, 0.6) !important;
    border: 1px dashed gray;
    background-image: url(./bar_preview.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.vertical-bar-chart-component.d-flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
