<template>
	<modal
		class="w-modal"
		id="create-custom-snippet"
		name="create-custom-snippet"
		:clickToClose="true"
		:width="600"
		:height="400"
        :reset="true"
		>
		<div class="modal-header">
            <h4 v-if="isModifyMode">Modify Code Snippet</h4>
            <h4 v-else>Create New Code Snippet</h4>
        <a class="close-modal-btn" role="button" @click="hide()" ><i class="el-icon-error"></i></a></div>
		<div class="modal-body resource-modal-wrap">
            
            <el-form ref="form" label-width="80px" class="form-cont">
                <el-form-item label="Title">
                    <el-input v-model="item.title"></el-input>
                </el-form-item>              
                <el-form-item label="Code">
                    <el-input type="textarea" v-model="item.code"></el-input>
                </el-form-item>
                <el-form-item class="btn-wrap" v-if="isModifyMode">
                    <el-button @click="cancel">Cancel</el-button>
                    <el-button type="primary" @click="onClickModifySnippet">Modify</el-button>
                </el-form-item>
                <el-form-item class="btn-wrap" v-else>
                    <el-button @click="hide">Cancel</el-button>
                    <el-button type="primary" @click="onClickAddSnippet">Create</el-button>
                </el-form-item>
            </el-form>
		</div>
	  </modal>
</template>
<script lang="ts">
	import Vue from 'vue';
	import Component from "vue-class-component";
	import CreateCustomSnippetModalMediator from "./CreateCustomSnippetModalMediator";
    import { dto } from '../../../model/dto/SnippetDTO';
    import CustomSnippetItemDTO = dto.CustomSnippetItemDTO;
    
	@Component({
        components: {
        }
    })
	export default class CreateCustomSnippetModal extends Vue {
        static readonly EVENT_ADD_CUSTOM_SNIPPET: string =         "event/addCustomSnippet";
        static readonly EVENT_MODIFY_CUSTOM_SNIPPET: string =      "event/modifyCustomSnippet";

        private options:any = {};
        private isModifyMode: boolean = false;//true = create false= modify
        public item:CustomSnippetItemDTO = new CustomSnippetItemDTO();

        created(){
        }

        mounted(){            
            window.wemb.viewComponentMap.set(CreateCustomSnippetModalMediator.NAME, this);
        }

        init(){
            this.item.title="";
            this.item.code="";
            this.item.id="";
        }

        show( item:CustomSnippetItemDTO ){
            if(item){
                this.isModifyMode = true;
                this.item.title = item.title;
                this.item.id = item.id;
                this.item.code = item.code;
            }else{
                this.isModifyMode = false;
                this.init();
            }
            
            this.$modal.show('create-custom-snippet');
        }

        hide(){
            this.init();
            this.$modal.hide('create-custom-snippet');
        }

        cancel(){
            
            this.hide();
        }

        onClickModifySnippet(){
            this.$emit(CreateCustomSnippetModal.EVENT_MODIFY_CUSTOM_SNIPPET , {
                id: this.item.id,
                code: this.item.code,
                title: this.item.title
            });
            /*if(this.__validation()){
                //Vue.$WScriptService.modifyCustomSnippet(this.item);
                //this.hide();
                
            }*/
        }

        onClickAddSnippet(){
            this.$emit(CreateCustomSnippetModal.EVENT_ADD_CUSTOM_SNIPPET, this.item);
            /*if(this.__validation()){
                //Vue.$WScriptService.addCustomSnippet(this.item);
                //this.hide();
            }*/
        }
    }

</script>
<style scoped>
.form-cont{width: 100%;}
.form-cont >>> .el-form-item{margin:0;}
.form-cont .btn-wrap{margin-top: 10px;}
.form-cont >>> textarea{height:174px;}

</style>