<template>
      <div>
            <div class="snpippet-search">
                  <el-input size="small" class="snpippet-search-field" v-model="search" placeholder="Search Custom Snippets" @input="onChangeSearch" clearable></el-input>
            </div>
           <div v-show="isSearching" ref="customSnippetsTree"></div>
           <div v-show="!isSearching" class="snpippet-search-no-result">NO RESULT</div>
      </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from "vue-class-component";
import CustomSnippetsTreeMediator from "./CustomSnippetsTreeMediator";
import { dto } from '../../../model/dto/SnippetDTO';
import CustomSnippetItemDTO = dto.CustomSnippetItemDTO;
import SnippetTreeItemDTO = dto.SnippetTreeItemDTO;
import SnippetFavoriteItemDTO = dto.SnippetFavoriteItemDTO;
import { ObjectUtil } from '../../../../../../wemb/utils/Util';


@Component({
    components: {
    }
})
export default class CustomSnippetsTreeComponent extends Vue {
    static readonly EVENT_UPDATE_CUSTOM_SNIPPET_TREE: string = "event/updateCustomSnippetTree";

    private focusTargetId:string = '';
    private treeObject:any = null;
    public isFocus: boolean = false;

    private search:string = '';
    private isSearching: boolean = true;

    created(){/*
        let self = this;

        Vue.$WScriptService.$bus.$on("addCustomSnippet", function(item){
            self.addTreeItem(item);
        });

        Vue.$WScriptService.$bus.$on("loadedCustomSnippets", function(data){
            self.treeData = data;
            self.createTree( data );
        });

        Vue.$WScriptService.$bus.$on("redrawCustomSnippets", function(data){
            self.treeData = data;
            self.redrawTree( data );
        });



        Vue.$WScriptService.$bus.$on("modifyCustomSnippet", function(data){
            let node = self.getTreeObject().get_node(data.id);
            self.getTreeObject().rename_node( node, data.title );
        });

        Vue.$WScriptService.$bus.$on("focus", function(){
            self.isFocus = true;
        });

        Vue.$WScriptService.$bus.$on("blur", function(){
            self.isFocus = false;
        });

        Vue.$WScriptService.loadCustomSnippets();*/
    }

    mounted(){
        window.wemb.viewComponentMap.set(CustomSnippetsTreeMediator.NAME, this);

        let self = this;
        $(this.$refs.customSnippetsTree).on("dblclick", "[role=treeitem]", function(){
            if( self.isFocus ){
                //editor가 focus상태일때만 요청
                let id = $(this).attr("id");
                let target = self.getTreeObject().get_node(id);
                if(target && target.type == "item"){
                   self.$emit("insertCode", id);
                }
            }
        })
    }

    setTreeData(treeData:any){
        this.createTree( treeData );
    }


    public getTreeObject():any{
        if( !this.treeObject ){
            this.treeObject = $(this.$refs.customSnippetsTree)["jstree"](true);
        }
        return this.treeObject;
    }

    private onChangeSearch(){
        this.getTreeObject().search(this.search.trim(), false, true, 'wv_root');

        if (this.search === "" && !this.isSearching){
            this.isSearching= true;
        }
        this.updateStyle();
    }

    private updateStyle(){
        let $li = $(this.$refs.customSnippetsTree).find("li");
        $li.find(".jstree-search").removeClass("jstree-search");
    }

    public redrawTree(treeData:any){
        this.getTreeObject().destroy(true);
        $(this.$refs.customSnippetsTree).empty();
        this.treeObject = null;
        this.createTree(treeData);
    }


    private createTree(treeData:Array<SnippetTreeItemDTO>){
        let self = this;
        $(this.$refs.customSnippetsTree)["jstree"]({
            "core": {
                "animation": 0,
                "check_callback": true,
                "themes": {
                    "stripes": true
                },
                'data':treeData,
            },

            'contextmenu' : {
                'items' : function(node) {
                    var tmp = $["jstree"].defaults.contextmenu.items();

                    delete tmp.ccp;
                    delete tmp.create.action;
                    delete tmp.rename;
                    delete tmp.remove;

                    if(this.get_type(node) != "root") {
                        tmp.edit={
                            label: "edit",
                            separator_after:true,
                            separator_before:false,
                            _disabled:false,
                        };

                        tmp.edit.submenu={
                            "rename" : {
                                "label"				: "rename",
                                "action"			: function (data) {
                                    self.renameSelectedNode();
                                }
                            },

                            "delete": {
                                "label"				: "delete",
                                "action"			: function (data) {
                                    self.deleteSeletedTreeNode();
                                }
                            }
                        }
                    }

                    tmp.create.label = "New";
                    tmp.create.submenu = {
                        "create_folder" : {
                            "label"				: "folder",
                            "action"			: function (data) {
                                self.addTreeGroup();
                            }
                        },

                        "create_file" : {
                            "label"				: "snippet",
                            "action"			: function (data) {
                                self.$emit("showCreateModal");
                            }
                        }
                    };

                    if(this.get_type(node) === "item") {
                        tmp.edit.submenu["modify"]={
                            "label"				: "modify",
                            "action"			: function (data) {
                                let node = self.getTreeObject().get_node(data.reference);
                                let item:CustomSnippetItemDTO = {
                                    id :node.id,
                                    title: node.text,
                                    code: ""//Vue.$WScriptService.getCodeById(node.id)
                                };

                                self.$emit("showModifyModal", item);/**/
                            }
                        };

                        tmp.favorite={
                            label: "favorite",
                            separator_after:false,
                            separator_before:false,
                            _disabled:false,
                            action: function(){
                                let item = new SnippetFavoriteItemDTO();
                                item.id = node.id;
                                item.text = node.text;
                                self.$emit("addFavorite", item);
                                //Vue.$WScriptService.addFavorite( {id: node.id, text: node.text} );
                            }
                        };

                        if(self.isFocus){
                            //edit focus상태일때만 insert 메뉴 보임
                            tmp.insert={
                                label: "insert",
                                separator_after:false,
                                separator_before:false,
                                _disabled:false,
                                action: function(){
                                    if( self.isFocus ){
                                        //editor가 focus상태일때만 요청
                                        self.$emit("insertCode", node.id);
                                    }
                                }
                            }
                        }

                        tmp.clipboard={
                            label: "clipboard",
                            separator_after:false,
                            separator_before:false,
                            _disabled:false,
                            action: function(){
                                self.$emit("copyToClipboard", node.id);
                            }
                        }
                    }

                    return tmp;
                }
            },

            "types": {
                "#": {
                    "max_children": 1,
                    "max_depth": 15,
                    "valid_children": ["root"]
                },

                "root":{
                    "valid_children": ["group", "item"]
                },

                "group": {
                    "valid_children": ["group", "item"]
                },

                "item": {
                    "icon": "fa fa-file-o",
                    "valid_children": []
                }
            },

            "plugins": [
                /*"dnd","state","types", "wholerow", "contextmenu"*/
                "dnd", "state", "types", "wholerow", "contextmenu", "search"
            ],
            "search": {
                "case_insensitive": true,
                "show_only_matches" : true,
                'show_only_matches_children': true
            }
        }).on('changed.jstree', function (e, data) {
            if( data.selected && data.selected.length == 1){
                self.focusTargetId =  data.selected[0];
            }else{
                self.focusTargetId = '';
            }

            let target = self.getTreeObject().get_node(self.focusTargetId);

            switch(target.type){
                case "root":
                break;
                case "group":
                break;
                case "item":
                break;
            }
        }).on("rename_node.jstree", (e, data)=>{
            self.requestUpdateTreeData();
        }).on("move_node.jstree", (e, data)=>{
            self.requestUpdateTreeData();
        }).on("open_node.jstree", (e)=>{
        }).on("create_node.jstree", (e, data)=>{
            setTimeout(()=>{
                self.requestUpdateTreeData();//생성하자마자 트리 데이터 접근시 접근되지 않음..
            }, 10 );
        }).on('search.jstree', function (nodes, str, res) {
            self.isSearching = str.nodes.length !== 0;
        });
    }

    private deleteSeletedTreeNode(){
        var locale_msg = this.$i18n.messages.wv;
        let nodes = this.getTreeObject().get_selected();
        this.$confirm(locale_msg.common.confirmSelectDelete, {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning'
        }).then(() => {
            for( let i=0,len=nodes.length; i<len; i++ ){
                let node = nodes[i];
                this.getTreeObject().delete_node(nodes[i]);
            }
            this.requestUpdateTreeData();
        }).catch(() => {

        });

    }

    public addTreeItem(item:CustomSnippetItemDTO){
        let parentId = this.getCreateItemParentId();
        this.getTreeObject().create_node(parentId, {type:"item", id: item.id, text: item.title}, 'last', false, false);
    }

    public modifyTreeItem(item:CustomSnippetItemDTO){
        let node = this.getTreeObject().get_node(item.id);
        this.getTreeObject().rename_node( node, item.title );
    }

    private addTreeGroup(){
        let parentId = this.getCreateItemParentId();

        let id = ObjectUtil.generateID();//Vue.$WScriptService.generateUUID();
        let sel = this.getTreeObject().create_node(parentId, {type:"group", id: id, text: "group"}, 'last', false, false);
        if(sel){
            this.getTreeObject().edit(sel);
        }
    }

    private renameSelectedNode(){
        let sel = this.getTreeObject().get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        this.getTreeObject().edit(sel);
    }

    private getCreateItemParentId(){
        let target = this.getTreeObject().get_node(this.focusTargetId);
        let parentId = "wv_root";
        if(target){
            parentId = target.id;
            if(target.type == "item"){
                parentId = target.parent;
            }
        }

        return parentId;
    }

    private requestUpdateTreeData(){
        let resultList = this.getTreeObject().get_json('#', {flat:true});
        this.$emit(CustomSnippetsTreeComponent.EVENT_UPDATE_CUSTOM_SNIPPET_TREE, resultList);
        //Vue.$WScriptService.updateCustomSnippets( resultList );
    }
}

</script>
<style scoped>
      .snpippet-search {
            display: flex;
            padding: 4px;
      }
      .snpippet-search .search-field{
            margin:0;
            height: 22px !important;
      }

      .snpippet-search-result {
            margin-top: 4px;
      }

      .snpippet-search-no-result {
            margin-top: 10px;
            text-align: center;
            color: gray;
      }
</style>
