<template>
	<modal
		class="w-modal"
		id="digital-clock-extension"
		name="digital-clock-extension"
        :click-to-close="false"
		:draggable="false"
		:width="800"
		:height="500"
		:min-width="800"
		:min-height="500"
		>
		<div class="modal-header"><h4>Digital Clock Format Settings</h4><a class="close-modal-btn" role="button" @click="hide"><i class="el-icon-error"></i></a></div>
		<div class="modal-body">           
            <div class="guide-txt">
                <ul>
                    <li v-for="item in formatList" :key="item">{{item}}</li>
                </ul>
            </div>
            <div class="right-ui">
                <div class="insert-wrap">
                    <div class="date-format">
                        <h5>Date Format</h5>
                        <el-input v-model="formatTxt" size="small" placeholder="yyyy-MM-dd HH:mm:ss"></el-input>
                    </div>
                    <div class="preview">
                        <h5>Date Format Preview</h5>
                        <span class="txt">{{previewTxt}}</span>
                    </div>
                </div>
                <div class="btn-wrap">
                    <el-button class="bottom-btn" size="small" @click="hide">취소</el-button>
                    <el-button class="bottom-btn" type="primary" size="small" @click="_onOk">적용</el-button>
                </div>               
            </div>
        </div>
	  </modal>
</template>
<script>
    module.exports = {
		data:function(){
			return {
				formatTxt: '',
                previewTxt: '-',
                intervalId: '',
                formatList: [
                    'yy = short year',
                    'yyyy = long year',
                    'M = month (1-12)',
                    'MM = month (01-12)',
                    'MMM = month abbreviation (Jan, Feb ... Dec)',
                    'MMMM = long month (January, February ... December)',
                    'd = day (1 - 31)',
                    'dd = day (01 - 31)',
                    'ddd = day of the week in words (Monday, Tuesday ... Sunday)',
                    'E = short day of the week in words (Mon, Tue ... Sun)',
                    'D - Ordinal day (1st, 2nd, 3rd, 21st, 22nd, 23rd, 31st, 4th...)',
                    'h = hour in am/pm (0-12)',
                    'hh = hour in am/pm (00-12)',
                    'H = hour in day (0-23)',
                    'HH = hour in day (00-23)',
                    'mm = minute',
                    'ss = second',
                    'SSS = milliseconds',
                    'a = AM/PM marker',
                    'p = a.m./p.m. marker'
                ]
			}
        },

    
		computed:{
        },
        
       
		created(){},

		mounted(){
            this.intervalId = setInterval(()=>{
                this.updatePreview();
            }, 1000);
        },

		destroyed(){
		},

		methods:{		
            updatePreview(){
                try{
                    this.previewTxt = DateFormat.format.date(new Date(), this.formatTxt);
                }catch(error){
                    this.previewTxt = "-";
                }
            },

			setComponent(componentInstance){
				this.componentInstance = componentInstance;
				this.extensionProperties = Object.assign({},this.componentInstance.getPropsSubProperties("extension"));
                this.formatTxt = this.extensionProperties.dateFormat;
            },

			show() {
				this.$modal.show('digital-clock-extension');
			},

			hide(){
                clearInterval(this.intervalId);
                this.$modal.hide('digital-clock-extension');
			},

			_onOk(){
				this.extensionProperties = {
					"dateFormat" : this.formatTxt
				};

				this.componentInstance.updatePropsSubProperties(this.extensionProperties, "extension");				
                this.hide();
            }
		}
	}


</script>
<style scoped>
    .guide-txt{padding: 14px 20px 14px 34px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);}
    .guide-txt ul{display:inline-block; font-size: 13px;}
    .right-ui{flex:1; padding: 0 20px; display:flex; flex-direction: column;}
    .insert-wrap{flex: 1; }
    .insert-wrap .preview{margin-top: 20px;}
    .insert-wrap .preview>.txt{font-size: 15px; color:#4690e5;}
    .btn-wrap{text-align: right;}
    .btn-wrap>.el-button+el-button{margin-left: 4px;}
</style>




