<template>
      <modal
            id="fireSensor-popup"
            name="fireSensor-popup"
            class="w-modal modal-tabs"
            @opened="openedPopup"
            :click-to-close="false"
            :resizable="true"
            :width="600"
            :height="500"
            :min-width="600"
            :min-height="500">
            <div class="modal-header">
                  <h4>{{lang.fireSensor.cctvLinkedFireSensorInfo}}</h4>
                  <a class="close-modal-btn" role="button" @click="onClickClose">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="modal-body">


                  <div class="flex d-flex">
                        <span class="label">Search</span>
                        <el-input class="search-field" size="small"
                                  v-model="searchStr">
                              <i slot="prefix" class="el-input__icon el-icon-search"></i>
                              <i slot="suffix" class="clear-search-str el-icon-error el-input__icon"
                                 @click="clearSearchStr"></i>
                        </el-input>
                  </div>
                  <el-transfer
                        v-model="selectProvider"
                        :props="{
                                    key: 'id',
                                    label: 'name'
                              }"
                        :titles="[lang.fireSensor.title.cctvList, lang.fireSensor.title.linkedCctv]"
                        :render-content="renderContentFunc"
                        :data="dataProvider">
                  </el-transfer>


                  <div class="form-btn-area">
                        <el-button class="bottom-btn" type="primary" size="small" @click="onClickSave">
                              {{$t('common.save')}}
                        </el-button>
                  </div>

            </div>
      </modal>
</template>
<script>

      module.exports = {
            data: function () {
                  return {
                        lang : Vue.$i18n.messages.wv.dcim_pack,
                        component: null,
                        origin: [],
                        dataProvider: [],
                        selectProvider: [],
                        searchStr: '',
                        renderContentFunc: function (h, assetInfo) {
                              return h('span', {
                                    "domProps": {
                                          "innerHTML": assetInfo.name + '-' + assetInfo.id
                                    }
                              });
                        }
                  };
            },
            watch: {
                  searchStr: function () {
                        var keyword = this.searchStr.toLowerCase();
                        this.dataProvider = this.origin.concat().filter(function (item) {
                              var str = item.name + '-' + item.id;
                              return str.toLowerCase().indexOf(keyword) > -1 ? true : false;
                        });
                  }
            },
            mounted: function () {

            },
            methods: {
                  setComponent: function (component) {
                        this.component = component;
                  },
                  openedPopup: function () {
                  },
                  onChange_Transfer: function (event) {
                        console.log("change", event);
                  },
                  show: function () {
                        var self = this;
                        if (this.component.isAssetComp()) {
                              var cctvList = wemb.dcimManager.assetAllocationProxy.assetCompositionInfoGroupMap.get(AssetComponentProxy.TYPE.CCTV);
                              if (cctvList) {
                                    cctvList.forEach(function (vo) {
                                          self.origin.push(vo.assetInfo);
                                    });
                                    self.dataProvider = self.origin.concat();
                                    wemb.dcimManager.getRelationData(self.component.assetId).then(function (response) {
                                          var source = response[1].data;
                                          var info;
                                          for( var  i =0; i<source.data.length; i++ ){
                                                info = source.data[i];
                                                var  index = self.dataProvider.findIndex(function(assetData){
                                                      return assetData.id == info.child_id;
                                                });
                                                if(index>-1){
                                                      self.selectProvider.push(info.child_id);
                                                }
                                          }
                                    }).catch(function (error) {
                                          console.warn("##RENOBIT-Linked asset list call error", error);
                                    });
                              }
                        }
                        self.$modal.show('fireSensor-popup');
                  },
                  onClickSave: function () {
                        console.log('popup', this.selectProvider)
                        var parentID = this.component.assetId;
                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        if (parentID != "") {
                              var childs = [];
                              this.selectProvider.map(function(item){
                                    childs.push({child_id: item});
                              })
                              var params = {
                                    parent_id: parentID,
                                    childs: childs

                              };
                              window.wemb.dcimManager.postRelationData(params).then(function (res) {
                                    self.$message({message: locale_msg.common.successSave, type: 'success'});
                              }).catch(function (res) {
                                    CPLogger.log("Linked asset save error", res);
                                    self.$message({message: locale_msg.common.errorSave, type: 'error'});
                              });
                        }
                  },

                  onClickClose: function () {
                        this.$modal.hide('fireSensor-popup');
                        this.$emit("closed", false);
                        this.dataProvider = [];
                        this.selectProvider = [];
                        this.origin = [];
                        this.component = null;
                  },
                  clearSearchStr: function () {
                        this.searchStr = "";
                  }
            }

      }
</script>
<style scoped>
      .modal-body {
            display: block;
            position: relative;
      }

      .label {
            display: inline-block;
            line-height: 28px;
            margin-right: 10px;
      }

      .el-transfer {
            margin-left: 34px;
      }

      .search-field {
            width: 200px;
      }

      .asset-list-area {
            margin: 0 auto;
      }

      .el-transfer-panel__body {
            height: 300px;
      }

      .el-transfer-panel__item {
            height: 24px;
            line-height: 24px;
      }

      .el-checkbox__label {
            font-size: 11px;
      }

      .form-btn-area {
            margin-top: 1rem;
            text-align: center;
      }
</style>
