<template>
	<modal
		class="w-modal modal-tabs"
		id="empty-chart"
		name="empty-chart"
		@opened="modalOpened"
		@before-close="beforeModalClosed"
            :click-to-close="false"
		:draggable="false"
		:resizable="true"
		:width="1020"
		:height="670"
		:min-width="700"
		:min-height="370"
		>
		<div class="modal-header"><h4>Empty Chart Settings</h4><a class="close-modal-btn" role="button" @click="_onHidden"><i class="el-icon-error"></i></a></div>
		<div class="modal-body">
			<div class="wrap">
				<p>Highcharts Demo Site : <a href="https://www.highcharts.com/demo/" target="_blank">https://www.highcharts.com/demo/</a></p>
				<div class="cont-wrap">
					<div class="cont">
						<h5>Preview</h5>
						<div class="preview">
							<div id="empty-chart-preview" style="width: 100%; height: 80%;" ></div>
						</div>
					</div>
					<div class="cont">
						<h5>&lt;/&gt; Code</h5>
						<div class="code"><textarea
										:placeholder="placeHolder"
										v-model="configStr" class="txt" @change="changeConfigStr"></textarea></div>
					</div>
				</div>
				<div class="btn-wrap">
					<el-button class="bottom-btn" type="primary" size="small" @click="_onHidden">{{$t('common.cancel')}}</el-button>
					<el-button class="bottom-btn" size="small" @click="_onOk" v-if="supportable">{{$t('common.save')}}</el-button>
				</div>
			</div>
		</div>
	  </modal>
</template>
<script>
      module.exports = {
            data: function data() {
                  return {
                        placeHolder: JSON.stringify({"chart":{"defaultSeriesType":"line"},"title":{"text":"RENOBIT DEFAULT CHART"},"xAxis":{"categories":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]},"yAxis":{"title":{"text":"Units"}},"series":[{"type":"column","name":"VAL03","data":[5,4,6,3,1,2,7],"zIndex":0},{"name":"VAL01","data":[0,1,2,3,4,5,6],"zIndex":1},{"name":"VAL02","data":[6,5,4,3,2,1,0],"zIndex":2}]},undefined,4),
                        configStr: "",
                        chart: null,
                        timer: null,
                        componentInstance: null,
                        supportable: true
                  };
            },
            // watch: {
            // 	configStr: function (val) {
            // 		var self = this;
            // 		clearTimeout(this.timer);
            // 		this.timer = setTimeout(function(){
            // 			self.render();
            // 		}, 1000 );
            // 	}
            // },
            methods: {
                  render: function render() {
                        if(this.chart) {
                              this.chart.destroy();
                              this.chart = null;
                        }
                        if(this.configStr !== "") {
                              try {
                                    this.chart = Highcharts.chart("empty-chart-preview", window.ScriptUtil.eval(this.configStr));     
                              } catch (error) {
                                    this.$message("지원하지 않는 차트 형식 입니다.");
                              }
                        }
                  },
                  changeConfigStr: function changeConfigStr() {
                        if (this.configStr && this.configStr.startsWith('Highcharts')) {
                              this.configStr =this.configStr.substring(this.configStr.indexOf("{"), this.configStr.lastIndexOf("}") + 1);
                        }
                        this.render();
                  },
                  setComponent: function setComponent(componentInstance) {
                        this.componentInstance = componentInstance;
                        this.configStr = this.componentInstance.getGroupPropertyValue("extension", "configStr");
                  },
                  show: function show() {
                        this.$modal.show('empty-chart');
                  },
                  modalOpened: function modalOpened() {
                        this.render();
                  },
                  _onOk: function _onOk() {
                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        this.$confirm(locale_msg.common.confirmSave, locale_msg.common.notification, {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'info'
                        }).then(function () {
                              self.componentInstance.setGroupPropertyValue("extension", "configStr", self.configStr);
                              self.$modal.hide('empty-chart');
                              self.$emit('closed', true);
                        });
                  },
                  beforeModalClosed: function beforeModalClosed() {
                        
                  },
                  _onHidden: function _onHidden() {
                        var self = this;
                        var locale_msg = Vue.$i18n.messages.wv;
                        this.$confirm(locale_msg.common.confirmExitWindow, locale_msg.common.notification, {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(function () {
                              self.$modal.hide('empty-chart');
                              self.$emit("closed", false);
                        });
                  }
            },
            mounted: function() {
                  
            },
            destroyed: function()  {
                  if(this.chart) {
                        this.chart.destroy();
                  }
            }
      };


</script>
<style scoped>
#empty-chart .wrap{height: 100%; width: 100%; display:flex; flex-direction: column;}
#empty-chart .cont-wrap{flex:1;display:flex;}
#empty-chart .cont{display:flex;flex-direction: column;}
#empty-chart .cont:nth-child(1){flex:1;margin-right: 8px;}
#empty-chart .cont:nth-child(2){width: 450px;}
#empty-chart .cont>div{flex:1;}
#empty-chart .cont .code textarea{resize:none; width:100%; height: 99%;background: #efefef;padding: 10px;font-size: 13px;outline: none; box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);}
#empty-chart .modal-body .btn-wrap button{width:140px;}
</style>
