.page-history-btn-wrap {
      display: flex;
}

.page-history-btn-wrap a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 26px;
      border-radius: 4px;
      border: 1px solid #c5c4be;
      font-size: 12px;
      overflow: hidden;
      margin-right: 4px;
      color: #c5c4be;
      cursor:pointer;
}

.page-history-btn-wrap a:last-child {
      margin-right: 0;
}


.page-history-btn-wrap a.disabled {
      pointer-events: none;
      opacity:0.5;
}
