<template>
	<div class="test">
		RackComponent2 Config ={{value}}

		<div class="aaa">
			This is a Test
		</div>
	</div>
</template>
<script>
	module.exports = {
		data: function data() {
			return {
				value:"data111"
			};
		},

		mounted: function mounted() {
			console.log("mounted");
		}
	};

</script>

<style>
	.aaa {
		height:600px;
		border:1px solid #f00;
	}
</style>
