/*
circle face num
*/
.circle-face-num {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background: #3399FF;
    min-width: 150px;
    min-height: 50px;
}

.circle-face-num .faceContainer {
    display: flex;
    width: 30%;
    align-items: center;
    background: #f0f0f0;
    border-radius: 1000px;
    text-align: center;
}

.circle-face-num .faceContainer img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.circle-face-num .txtContainer {
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
}

.circle-face-num .txt {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    color: #fff;
}



