.Numeric034Component .circle-wrap {
    position: relative;
    border-radius: 50%;
    border: 10px solid #2d3138;
    background: #525358;
}

.Numeric034Component .circle-wrap>.mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 5000px;
    left: 0;
    visibility: hidden;
}