[data-id='dcim-assets-outline-panel'] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

[data-id='dcim-assets-outline-panel'] .asset-types,
[data-id='dcim-assets-outline-panel'] .asset-search {
    display: flex;
    padding: 4px;
}

[data-id='dcim-assets-outline-panel'] .el-select.mini {
    margin-right: 5px;
    height: 22px !important;
}

[data-id='dcim-assets-outline-panel'] .el-select.mini input {
    height: 22px !important;
    padding: 0 20px 0 8px;
}

[data-id='dcim-assets-outline-panel'] .search-field .el-input__inner {
    height: 22px;
    padding-left: 11px;
    padding-right: 18px;
}

[data-id='dcim-assets-outline-panel'] .asset-search .el-input__icon {
    line-height: 22px;
    height: auto;
}

[data-id='dcim-assets-outline-panel'] .asset-list .el-collapse-item__header {
    height: 26px;
    line-height: 26px;
    margin-left: 8px;
    font-size: 12px;
}

[data-id='dcim-assets-outline-panel'] .asset-list .el-collapse-item__header .tag {
    padding: 2px 5px;
    background: #4690e6;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    font-style: normal;
    margin-left: 5px;
}

[data-id='dcim-assets-outline-panel'] .asset-list .el-collapse-item__content {
    padding: 0;
}

[data-id='dcim-assets-outline-panel'] .asset-list .el-collapse-item__arrow {
    margin-right: 6px;
    line-height: 26px;
}

[data-id='dcim-assets-outline-panel'] .asset-list dl {
    font-size: 12px;
    margin: 0px;
    display: flex;
    cursor: pointer;
}

[data-id='dcim-assets-outline-panel'] .asset-list dl.active {
    background: #2691ec !important;
    color: #fff;
}

[data-id='dcim-assets-outline-panel'] .asset-list dl.none dt,
[data-id='dcim-assets-outline-panel'] .asset-list dl.none dd {
    text-decoration: line-through;
    opacity: 0.5;
}

[data-id='dcim-assets-outline-panel'] .asset-list dl.double {
    color: red;
}

[data-id='dcim-assets-outline-panel'] .asset-list dl:nth-child(even) {
    background-color: #efefef;
}

[data-id='dcim-assets-outline-panel'] .asset-list dt .double-asset,
[data-id='dcim-assets-outline-panel'] .asset-list dt .none-asset {
    display: none;
}

[data-id='dcim-assets-outline-panel'] .asset-list dl.none .none-asset {
    display: inline-block;
}

[data-id='dcim-assets-outline-panel'] .asset-list dl.double .double-asset {
    display: inline-block;
}

[data-id='dcim-assets-outline-panel'] .asset-list dt {
    position: relative;
    margin-left: 26px;
    margin-right: 6px;
}

[data-id='dcim-assets-outline-panel'] .asset-list dt>.icon {
    position: absolute;
    left: -18px;
    top: 4px;
}

[data-id='dcim-assets-outline-panel'] .asset-list dt,
[data-id='dcim-assets-outline-panel'] .asset-list dd {
    line-height: 21px;
}

#asset-outline-field-settings h5 {
    margin: 0 0 10px 0;
}

#asset-outline-field-settings .el-radio-group {
    line-height: 24px;
}

#asset-outline-field-settings .el-radio,
#asset-outline-field-settings .el-radio+.el-radio {
    margin-right: 30px;
    margin-left: 0;
}

#asset-outline-field-settings .modal-body {
    padding: 0;
}

#asset-outline-field-settings .cont-wrap {
    overflow: auto;
    padding: 24px;
    width: 100%;
}

#asset-outline-field-settings .radio-wrap {
    margin-bottom: 16px;
}