.SvgGauge_1Component  .outline {
    fill: #e4ecef;
  }
  
  .SvgGauge_1Component  .fill {
    fill: #e4ecef;
  }
  
  .SvgGauge_1Component  .needle {
    fill: #DA3303;
  }
  
  .SvgGauge_1Component  .scale {
    stroke: #aaa;
  }
  
  .SvgGauge_1Component text {
    text-anchor: middle;
    font: 12px verdana, sans-serif;
  }

  .output{
      font-weight: bold !important;
      font-size: 20px !important;
  }