<template>
      <modal
            name="page-comp-popup"
            ref="modal"
            class="w-modal modal-tabs"
            :click-to-close="false"
            @opened="modalOpened"
            :resizable="true"
            :width="400"
            :height="600"
            :min-width="400"
            :min-height="600">

            <div class="modal-header">
                  <h4>Page Component Settings</h4>
                  <a class="close-modal-btn" role="button" @click="_onHidden">
                        <i class="el-icon-error"></i>
                  </a>
            </div>
            <div class="rolling-settings-wrap" data-popupname="renobit-page-comp-popup">
                  <div class="rolling-edit-wrap">
                        <h4 class="select-page-name" style="font-size: 16px;margin-bottom:12px;">Page Name : {{ pageTitle }}</h4>
                        <div class="content-area" >
                              <div class="page-list-wrap">
                                    <div class="d-flex align-items-center">
                                          <el-input class="search-field" size="small" v-model="searchStr"
                                                    :placeholder="$t('page.inputPageName')">
                                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                                <i @click="clearSearchStr()"
                                                   class="clear-search-str el-icon-error el-input__icon"
                                                   slot="suffix"></i>
                                          </el-input>
                                    </div>

                                    <div class="d-flex flex">

                                          <div class="page-list page-search-list flex-scroll" v-if="searchMode">

                                                <div class="page-comp-tree-item flat"
                                                     v-show="resultList.length > 0"
                                                     v-for="item in resultList"
                                                     :key="item.id"
                                                     :class="[item.type != 'page' ? 'group' : 'page']">

                                                      <div class="label" v-if="item.type == 'page'">
                                                            <el-radio  :disabled="item.disabled" v-model="selectedPageId" class="label"
                                                                         style="width:100%;" :label="item.id "
                                                                         :key="item.id" border>
                                                                  <div class="flex" style="white-space: nowrap;">
                                                                        <div class="d-flex">
                                                                              <i class="fa fa-file-o" aria-hidden="true"></i>
                                                                              <div class="txt ellipsis">{{item.text}}
                                                                              </div>
                                                                              <span class="search-children-len"
                                                                                    v-if="item.type != 'page' && item.childrenFlat.length">
                                                                                    (+{{item.childrenFlat.length}})
                                                                              </span>
                                                                        </div>
                                                                        <div class="parents-txt" v-if="item.parentsStr">
                                                                              {{item.parentsStr}}
                                                                        </div>
                                                                  </div>
                                                            </el-radio>
                                                      </div>

                                                </div>

                                                <div v-show="resultList.length==0"
                                                     style="margin: 10px 5px; color: #555;text-align: center;">
                                                      {{$t('common.noResult')}}
                                                </div>

                                          </div>

                                          <div class="page-list flex-scroll" v-else>
                                                <page-comp-tree-item v-for="(item,index) in pageTreeData" :key="index"
                                                      :data="item"               
                                                      :selected-page-id="selectedPageId"
                                                ></page-comp-tree-item>
                                          </div>
                                    </div>
                              </div>                              
                        </div>
                  </div>
                  <div class="d-flex justify-content-center" style="margin-top:10px;">
                        <el-button size="small" @click="_onHidden">{{$t('common.cancel')}}</el-button>
                        <el-button type="primary" size="small" @click="_onOk">{{$t('common.apply')}}</el-button>
                  </div>
            </div>
      </modal>
</template>


<script>
      var EventBus = new Vue();
      var PageCompTreeItem = {
            name: "page-comp-tree-item",
            props: ['data', 'selectedPageId'],
            template:"<div class=\"page-comp-tree-item\" :class=\"[data.type != 'page' ? 'group' : 'page']\">\n<div class=\"label\">\n<el-radio @input=\"changePage\" :disabled=\"data.disabled\" v-if=\"data.type == 'page'\" v-bind:value=\"selectedPageId\" class=\"label\" style=\"width:100%;\" :label=\"data.id \" :key=\"data.id\" border>\n<i class=\"fa fa-file-o\" aria-hidden=\"true\"></i>\n<span class=\"txt ellipsis\">{{data.text}}</span>\n</el-radio>\n<div v-else class=\"label group-item\" style=\"width:100%;\" :label=\"data.text \" :key=\"data.id\" border>\n<i class=\"fa fa-folder-o\" aria-hidden=\"true\"></i>\n<span class=\"txt ellipsis\">{{data.text}}</span>\n</div>\n</div>\n<page-comp-tree-item\nv-if=\"data.children\"\nv-for=\"item in data.children\"\n:key=\"item.id\"\n:data=\"item\"\n:selected-page-id=\"selectedPageId\"\n></page-comp-tree-item>\n</div>",
            methods: {
                  changePage:function(){
                        EventBus.$emit('changePage', this.data.id);
                  }
            }
      };

      module.exports = {
            mounted: function() {
                  var self = this;
                  EventBus.$on('changePage', function(selectedPageId) {
                        self.selectedPageId = selectedPageId;
                  })
            },
            data: function () {
                  return {
                        componentInstance: null,
                        pageList: [],
                        pageTreeData: [],
                        flatPageTreeData: [],
                        resultList: [],
                        searchStr: '',
                        pageRootId: "wv_root",
                        duration: '',
                        selectedPageId:'',
                        currentPageId: '',
                  }
            },

            components: {
                  PageCompTreeItem: PageCompTreeItem
            },

            watch: {
                  searchStr: function () {
                        this.resultList.splice(0, this.resultList.length);
                        if (this.searchMode) {
                              var self = this;
                              this.resultList = this.resultList.concat(this.flatPageTreeData.filter(
                                    function (x) {
                                          return x.text.toLowerCase().indexOf(self.searchStr.toLowerCase()) != -1
                                    }));
                        } else {
                              this.resultList = this.resultList.concat(this.flatPageTreeData);
                        }
                  }
            },

            computed: {
                  pageTitle:function() {
                   var self = this;
                   var selectedPage = this.pageList.find(function(page) {
                          return page.id == self.selectedPageId
                   })
                        return selectedPage ? selectedPage.name : '';
                  },
                  
                  searchMode: function () {
                        if (this.searchStr.length > 0) {
                              return true;
                        } else {
                              return false;
                        }
                  }
            },

            methods: {               
                  setPageTreeData: function () {
                        this.flatPageTreeData = [];
                        var flatData = $.extend(true, {}, {data: wemb.pageTreeDataManager.treeData});
                        flatData = flatData.data;
                        var rootData = flatData.find(function (x) {
                              if (x.parent == '#') return x
                        });
                        var ary = [];
                        if (rootData) {
                              rootData.checked = false;
                              rootData.parentsStr = "";
                              ary.push(rootData);
                              this.flatPageTreeData.push(rootData);
                              rootData.children = this.__getChildrenData(rootData, flatData);
                              rootData.childrenFlat = this.__getChildrenFlatData(rootData.id, flatData);
                        }
                        this.pageTreeData = ary;
                        this.resultList.splice(0, this.resultList.length);
                        this.resultList = this.resultList.concat(this.flatPageTreeData);
                  },

                  __getChildrenData: function (parentData, data) {
                        var parentID = parentData.id;
                        var ary = [];
                        var filterData = data.filter(function (x) {
                              return x.parent == parentID
                        });
                        for (var i = 0, len = filterData.length; i < len; i++) {
                              var child = filterData[i];

                              child.checked = false;

                              if(child.id == this.currentPageId){
                                    child.disabled = true;
                              }

                              if (!parentData.parentsStr) {
                                    child.parentsStr = "";
                              } else {
                                    child.parentsStr = parentData.parentsStr + " > ";
                              }

                              child.parentsStr += parentData.text;

                              this.flatPageTreeData.push(child);
                              if (child.type == "group") {
                                    child.children = this.__getChildrenData(child, data);
                                    child.childrenFlat = this.__getChildrenFlatData(child.id, data);
                              }
                              ary.push(child);
                        }
                        return ary;
                  },

                  __getChildrenFlatData: function (parentID, data) {
                        var ary = [];
                        var filterData = data.filter(function (x) {
                              x.parent == parentID
                        });
                        for (var i = 0, len = filterData.length; i < len; i++) {
                              var child = filterData[i];
                              ary.push(child);

                              if (child.type == "group") {
                                    ary.push(this.__getChildrenFlatData(child.id, data));
                              }
                        }

                        return ary;
                  },

                  setComponent: function (componentInstance) {
                        this.pageList = wemb.pageManager.getPageInfoList();
                        this.componentInstance = componentInstance;
                        this.currentPageId = wemb.pageManager.currentPageInfo.id;                        
                  },


                  show: function () {
                        this.$modal.show("page-comp-popup");                        
                  },

                  modalOpened:function(){
                        var locale_msg = this.$i18n.messages.wv;
                        var selectedPageId = this.componentInstance.getGroupPropertyValue("pageInfo", "pageId");    
                        if(selectedPageId && window.wemb.pageManager.getPageNameById(selectedPageId) ==  null){
                              this.selectedPageId = '';
                              this.$message.error('현재 Page Component에 저장된 ' + locale_msg.page.error01);
                        }else{
                               this.selectedPageId = selectedPageId;
                        }

                        this.setPageTreeData();
                  },
                  
                  _onHidden: function () {
                        this.$emit("closed");
                        this.$modal.hide("page-comp-popup");
                  },

                  _onOk: function () {
                        var locale_msg = this.$i18n.messages.wv; 
                        var pageId = this.selectedPageId;
                        if( !pageId ){
                              this.$message(locale_msg.page.selectPage);
                              return;
                        }                        
                        this.componentInstance.setGroupPropertyValue("pageInfo", "pageId", pageId)
                        this._onHidden();
                  },


                  __getSelectedItems: function () {
                        var items = this.resultList.filter(function (x) {
                              return x.checked == true
                        });

                        return items;
                  },

                  __getParents: function (item) {
                        var ary = [];
                        if (item.id == this.pageRootId) {
                              return ary;
                        }
                        var target = item;
                        var itemList = wemb.pageTreeDataManager.treeData;

                        while (target && target.id != this.pageRootId) {
                              target = itemList.find(function (x) {
                                    if (x.id == target.parent) return x
                              });
                              ary.push(target);
                        }

                        return ary;
                  },


                  clearSearchStr: function () {
                        this.searchStr = "";
                  }
            }
      }
</script>
<style scoped>
      [data-popupname=renobit-page-comp-popup] {
            display: flex;
            flex-direction: column;
            padding: 16px 24px 20px 24px;
            height: 100%;
            position:absolute;
            top:0;
            width: 100%;
            padding-top:60px;
      }


      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 14px;
            border: 1px solid #d8dce5;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
      }



      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .top-area .save-btn span {margin-left: 2px;}
      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .top-area .save-btn i {margin-right: 2px;}
      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .content-area {display: flex;flex: 1;}


      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap h4 {
            font-size: 13px;
      }

      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list-wrap {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
      }

      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list {
            padding: 0;
      }

      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list > li > label {
            height: 34px;
            line-height: 34px;
            padding: 8px 8px 6px 10px;
      }

      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list  .group-item {
            border-radius: 4px;
            border: 1px solid #e6e2e2;
            padding: 6px 12px;
      }


      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list .el-radio {
            display: flex;
      }

      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list-wrap .el-radio__label {
            font-size: 13px;
            padding-left: 6px;
      }

      /*전체 체크박스*/
      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list .el-radio__label {
            flex: 1;
            display: flex;
            line-height: 19px;
      }

      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list .el-radio__label > span {
            flex: 1;
            font-size: 12px;
      }

      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list .el-radio__label sup {
            top: 0;
      }


      [data-popupname=renobit-page-comp-popup] > .rolling-edit-wrap .page-list .el-radio__inner {
            display: none;
      }

      [data-popupname=renobit-page-comp-popup] .page-search-list .el-radio {
            height: auto !important;
      }

      [data-popupname=renobit-page-comp-popup] .page-search-list .parents-txt {
            font-size: 11px;
            color: #888;
      }

      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item>.label{margin-bottom: 6px;}
      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item:first-child {
            padding-left: 0;
      }

      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item:not(.flat) {
            padding-left: 20px;
      }

      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item.group > .label {
            background-color: #f5f5f5;
      }

      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item .label .txt {
            margin-left: 6px;
      }

      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item i {
            margin-top: 2px;
      }

      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item .el-radio.is-bordered {
            padding: 10px 10px 8px 10px;
      }

      [data-popupname=renobit-page-comp-popup] .page-comp-tree-item .el-radio__label {
            width: 100%;
      }

</style>
