
/*
Horizontal bar left label
*/
.horizon-bar-left-rounded-label{
      display: flex;
      align-content: stretch;
      align-items: center;
      overflow: hidden;
      width:100%;
      height:100%;
      color:#000;
}
.horizon-bar-left-rounded-label .barContainer {
      width:100%;
      height:100%;
      min-height:30px;
      background: #FFF;
      border-radius: 0px 30px 30px 0px;
}
.horizon-bar-left-rounded-label .bar {
      width:50%;
      height:100%;
      height:100%;
      background: #0a6aa1;
}
.horizon-bar-left-rounded-label .label {
      color:#333;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding:10px;
      max-width:50%;

      /*max-width:20%;*/
      white-space: nowrap;            /*min-width:120px;*/
}

