.editor .NetworkLinkComponent {
      width:50px;
      height:50px;
      position:absolute;
      box-sizing: border-box;
      transform-origin: 50% 50%;
}

.editor .NetworkLinkComponent > .hitArea{
      width:50px;
      height:50px;
      position:absolute;
      background-color:#eeeeee !important;
      border:1px solid #333333 !important;
      border-radius:25px  !important;
      box-sizing: border-box;
      transform-origin: 50% 50%;
}


.viewer .NetworkLinkComponent {
      width:50px;
      height:50px;
      position:absolute;
      transform-origin: 50% 50%;
}



.NetworkLinkComponent > .line {
      width:100px;
      height:2px;
      background:#000000;
      position:absolute;
      transform-origin: 50% 50%;
}


.NetworkLinkComponent > .line> span {
      position:absolute;
      user-select: none;
}
.NetworkLinkComponent > .line > span.from {
      left:10px;
      bottom:0px;
}

.NetworkLinkComponent > .line > span.to {
      right:10px;
      bottom:0px;
}
