.posod-msg-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.posod-msg-box>.cont-wrap {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.posod-msg-box .symbol {
    position: absolute;
    left: 0;
    top: 0;
}

.posod-msg-box .icon {
    position: absolute;
    left: 0;
    top: 0;
}

.posod-msg-box .bg {
    background-image: linear-gradient(to right, rgba(136, 63, 70, 0.70), rgba(107, 106, 193, 0.70));
    height: 26px;
    line-height: 26px;
    border-radius: 300px;
    margin-left: 0;
    padding-left: 50px;
    padding-right: 20px;
    flex: 1;
}

.posod-msg-box .bg>.msg {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@-webkit-keyframes posod-ani-blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.5;
    }
}

.posod-msg-box .blink {
    text-decoration: blink;
    -webkit-animation-name: posod-ani-blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.posod-msg-box .pinkBg {
    background-color: #ed184f!important;
    background-image: linear-gradient(90deg, #fd5581, #fd8b55);
}

.posod-msg-box .effect {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 35px;
    left: 35px;
    margin: -30px 0 0 -30px;
    border-radius: 40px;
}

.posod-msg-box .effect i {
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes posod-ani-ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.posod-msg-box .effect .ripple {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    left: 50%;
    top: 50%;
    opacity: 0;
    margin: -50px 0 0 -50px;
    border-radius: 100px;
    -webkit-animation: posod-ani-ripple 1.8s infinite;
    animation: posod-ani-ripple 1.8s infinite;
}

.posod-msg-box .effect .ripple:nth-child(2) {
    animation-delay: .3s;
    -webkit-animation-delay: .3s
}

.posod-msg-box .effect .ripple:nth-child(3) {
    animation-delay: .6s;
    -webkit-animation-delay: .6s
}