<template>
      <modal
            id="importPagesModal"
            name="importPagesModal"
            :clickToClose="true"
            :resizable="true"
            :draggable="false"
            :width="800"
            :height="500"
            :min-width="800"
            :min-height="500"
            class="w-modal"
            @opened="modalOpened"
            @closed="_onHidden">
            <div class="modal-header"><h4>{{$t('importPages.title')}}</h4><a class="close-modal-btn"  @click="hide" role="button"><i class="el-icon-error"></i></a></div>
            <div class="modal-body">
                  <div class="d-flex flex-column flex left-wrap">
                        <div class="flex-scroll">
                              <div class="item-group">
                                    <el-checkbox :label="$t('importPages.overwriteAll')" v-model="checkAll" @change="changeCheckAll"></el-checkbox>
                              </div>
                              <div class="item-group" v-if="master.master || master.stage">
                                    <p>{{$t('importPages.includedMasterInfo')}}</p>
                                    <el-checkbox :label="$t('importPages.overwrite')" v-model="isOverwriteMaster"  @change="changeOverwriteFlag"></el-checkbox>
                              </div>

                              <!-- 중복 아이디 그룹 -->
                              <div class="item-group" v-if="duplicatedIdGroups.length">
                                    <p>{{$t('importPages.existsSameIDGroup')}}</p>
                                    <ul>
                                          <li v-for="item in duplicatedIdGroups" :key="item.importPage.id">
                                                <el-checkbox :label="$t('importPages.overwrite')" v-model="item.overwrite"  @change="changeOverwriteFlag"></el-checkbox>
                                                <span> <strong class="del">{{item.page.name}}</strong> overwrite to <strong>{{ item.importPage.name }}</strong></span>
                                          </li>
                                    </ul>
                              </div>

                              <!-- 중복 아이디 마스터
                              <div class="item-group" v-if="duplicatedIdMasters.length">
                                    <p>{{$t('importPages.existsSameIDMaster')}}</p>
                                    <ul>
                                          <li v-for="item in duplicatedIdMasters" :key="item.importPage.id">
                                                <el-checkbox :label="$t('importPages.overwrite')" v-model="item.overwrite"  @change="changeOverwriteFlag"></el-checkbox>
                                                <span> <strong class="del">{{item.page.name}}</strong> overwrite to <strong>{{ item.importPage.name }}</strong></span>
                                          </li>
                                    </ul>
                              </div> -->

                              <!-- 중복 아이디 페이지 -->
                              <div class="item-group" v-if="duplicatedIdPages.length">
                                    <p>{{$t('importPages.existsSameID')}}</p>
                                    <ul>
                                          <li v-for="item in duplicatedIdPages" :key="item.importPage.id">
                                                <el-checkbox :label="$t('importPages.overwrite')" v-model="item.overwrite"  @change="changeOverwriteFlag"></el-checkbox>
                                                <span> <strong class="del">{{item.page.name}}</strong> overwrite to <strong>{{ item.importPage.name }}</strong></span>
                                                <span v-if="item.importPage.description" style="color: #b6b6b6">{{ item.importPage.description }}</span>
                                          </li>
                                    </ul>
                              </div>

                              <!-- 중복되지 않는 그룹 -->
                              <div class="item-group" v-if="unduplicatedIdGroups.length">
                                    <p>{{$t('importPages.addGroupList')}}</p>
                                    <ul>
                                          <li v-for="item in unduplicatedIdGroups" :key="item.importPage.id">
                                                <el-checkbox :label="$t('importPages.add')" v-model="item.overwrite" @change="changeOverwriteFlag"></el-checkbox>
                                                <span> <strong>{{ item.importPage.name }}</strong></span>
                                          </li>
                                    </ul>
                              </div>

                              <!-- 중복되지 않는 마스터
                              <div class="item-group" v-if="unduplicatedIdMasters.length">
                                    <p>{{$t('importPages.addMasterList')}}</p>
                                    <ul>
                                          <li v-for="item in unduplicatedIdMasters" :key="item.importPage.id">
                                                <el-checkbox :label="$t('importPages.add')" v-model="item.overwrite" @change="changeOverwriteFlag"></el-checkbox>
                                                <span> <strong>{{ item.importPage.name }}</strong></span>
                                          </li>
                                    </ul>
                              </div>-->

                              <!-- 중복되지 않는 페이지 -->
                              <div class="item-group" v-if="unduplicatedIdPages.length">
                                    <p>{{$t('importPages.addPageList')}}</p>
                                    <ul>
                                          <li v-for="item in unduplicatedIdPages" :key="item.importPage.id">
                                                <el-checkbox :label="$t('importPages.add')" v-model="item.overwrite" @change="changeOverwriteFlag"></el-checkbox>
                                                <span> <strong>{{ item.importPage.name }}</strong></span>
                                          </li>
                                    </ul>
                              </div>

                        </div>
                        <div class="btn-wrap">
                              <el-button type="" size="small" @click="hide">{{$t('common.cancel')}}</el-button>
                              <el-button type="primary" :disabled="importBtnDisabled" size="small" @click="importPages">{{$t('importPages.import')}}</el-button>
                        </div>
                  </div>
            </div>
      </modal>
</template>

<script lang="ts">
    import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
    import {ObjectUtil} from "../../../wemb/utils/Util";
    import EditorStatic from "../../controller/editor/EditorStatic";
    import PageMetaProperties from "../../../wemb/wv/components/PageMetaProperties";
    import PageInfoProperties from "../../../wemb/wv/components/PageInfoProperties";
    import pageApi from "../../../common/api/pageApi";

    @Component({
        components: {
        }
    })
    export default class ImportPagesModal extends Vue {
        public pageInfoProperties:PageInfoProperties = null;
        public pages:Array<any> = [];
        public master:any = {};
        public checkAll:boolean = false;
        public isOverwriteMaster:boolean = false;

        public duplicatedIdGroups:Array<any>=[];
        public duplicatedIdMasters:Array<any>=[];
        public duplicatedIdPages:Array<any>=[];

        public unduplicatedIdGroups:Array<any>=[]
        public unduplicatedIdMasters:Array<any>=[];
        public unduplicatedIdPages:Array<any>=[];

        public existList:Array<any>=[];


        public importBtnDisabled:boolean = false;
        changeCheckAll(){
            this.isOverwriteMaster = this.checkAll;
            this.checkAllList( this.duplicatedIdGroups, this.checkAll );
            this.checkAllList( this.duplicatedIdMasters, this.checkAll );
            this.checkAllList( this.duplicatedIdPages, this.checkAll );
            this.checkAllList( this.unduplicatedIdGroups, this.checkAll);
            this.checkAllList( this.unduplicatedIdMasters, this.checkAll);
            this.checkAllList( this.unduplicatedIdPages, this.checkAll);
        }

        checkAllList( list:Array<any>, bool:boolean ){
            for( let index in list ){
                let item = list[index];
                item.overwrite = bool;
            }
        }

        //Import 모달
        changeOverwriteFlag(){
            let flag = false;
            if( this.getOverwritePagesAllFlag() ){
                //page모두 true이고 master도 true일때
                if( this.master.master || this.master.stage ){
                    flag = this.isOverwriteMaster;
                }else{
                    flag = true;
                }
            }

            this.checkAll = flag;
        }

        getOverwritePagesAllFlag(){
            let list = this.duplicatedIdGroups
                .concat(this.duplicatedIdMasters)
                .concat(this.duplicatedIdPages)
                .concat(this.unduplicatedIdGroups)
                .concat(this.unduplicatedIdMasters)
                .concat(this.unduplicatedIdPages);

            if(list.length == 0){return true;}
            if(list.find(x=>x.overwrite==false)){
                return false;
            }else{
                return true;
            }
        }

        show(data) {
            console.log("IMPORT PAGE MODAL");
            this.init(data);
            this.$modal.show('importPagesModal');
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
        }

        //Import 모달 열리면서 데이터 init
        init(data){
            this.checkAll = false;
            this.isOverwriteMaster = false;
            this.importBtnDisabled = false;
            this.pages = data.page_info_list;

            this.duplicatedIdGroups=[];
            this.duplicatedIdMasters=[];
            this.duplicatedIdPages=[];
            this.unduplicatedIdGroups=[];
            this.unduplicatedIdMasters=[];
            this.unduplicatedIdPages=[];

            this.master = {};
            if(data.master_info){
                this.master["master"] = data.master_info;
            }

            if(data.stage_info){
                this.master["stage"] = data.stage_info;
            }

            this.updateDuplicatePages();
            this.changeOverwriteFlag();
        }

        //2020.05.13 Yoon 수정

checkImportItem(array){
            let ids = array.filter(x=>x.overwrite === true).map(x=>x.importPage.id);
            //this.pages가 가지고온 페이지들
            let items = this.pages.filter((x)=>{
                //가지고 온 페이지들 중에 page_info가 있고 overwrite이 true인 아이템들만
                if(x.page_info && ids.find(y=> y === x.page_info.id)){
                    return x
                }
            });
            
            const checkNotExistParent = (item, existList) => existList.every(x => x.id !== item.page_info.parent);
            const checkIsRoot = (item) => items.every(x => x.page_info.id !== item.page_info.parent);

            items.filter(item => checkNotExistParent(item, this.existList))
                 .filter(item => checkIsRoot(item))
                
            return items;
        }


        importPages() {
            let totalList = this.duplicatedIdGroups
                .concat(this.duplicatedIdPages)
                .concat(this.duplicatedIdMasters)
                .concat(this.unduplicatedIdGroups)
                .concat(this.unduplicatedIdPages)
                .concat(this.unduplicatedIdMasters);
            
            let list = this.checkImportItem(totalList);
            
            if(!list.length) {
                this.$message.error(this.$i18n.messages.wv.page.noPage);
                return;
            }

            let sendData = {}
            if (this.isOverwriteMaster && (this.master.master || this.master.stage)) {
                sendData["master_info"] = this.master.master;
                sendData["stage_info"] = this.master.stage;
            }

            sendData["page_info_list"] = list;
            let locale_msg = this.$i18n.messages.wv.importPages;

            //sendData에 한개라도 없으면 Error
            if( !sendData["master_info"] && !sendData["stage_info"] && !sendData["page_info_list"].length){
                this.$message(locale_msg.noSelectPage);
            }else{
                this.importBtnDisabled = true;

                sendData.page_info_list.filter(page => page.page_info.type !== 'group').forEach(pageData => pageApi.defensiveCode(pageData));

                let loading = Vue.$loading({
                    lock: true,
                    text: 'Import Pages...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(255, 255, 255, 0.7)'
                });

                pageApi.importPages(sendData).then(()=>{
                    this.importBtnDisabled = false;
                    let currentPage = window.wemb.pageManager.currentPageInfo;
                    let isUpdateMaster = ( sendData["master_info"] || sendData["stage_info"] ) ? true : false;

                    loading.close();
                    if(isUpdateMaster){
                        window.location.reload();
                    }else{
                        this.updateImportPageInfo(list, currentPage);
                    }

                    this.hide();
                }).catch( (error)=>{
                    this.$message(locale_msg.failedSave);
                    this.importBtnDisabled = false;
                })
            }

        }

        updateImportPageInfo(pages, currentPage){
            window.wemb.pageTreeDataManager.startLoading();//tree refresh
            let locale_msg = this.$i18n.messages.wv.importPages;
            
            let checkGroupType  = pages.some(x=> x.page_info.type === 'group');
            let findCurrentPage;
            try{
                findCurrentPage = pages.find(x=>x.page_info.id == currentPage.id);
            }catch(error){}

            if( pages.length === 1 && !checkGroupType){
                //import 정보가 하나일경우 해당 페이지로 이동
                if( pages[0].page_info && pages[0].page_info.id){
                    window.wemb.editorFacade.sendNotification(EditorStatic.CMD_OPEN_PAGE, pages[0].page_info.id);
                }
            }else if( findCurrentPage){
                //현재 페이지가 업데이트 될 경우 현재 페이지 재호출
                if(currentPage && currentPage.id){
                    window.wemb.editorFacade.sendNotification(EditorStatic.CMD_OPEN_PAGE, currentPage.id);
                }
            }else{
                this.$message(locale_msg.successSaved);
            }
        }

        //Import 모달 열리면서 체크
        //중복된 그룹, 페이지 체크하기
        updateDuplicatePages(){
            pageApi.loadMasterPageInfo().then((result)=>{
                if(result.page_list){
                    this.existList = result.page_list;
                    let list = result.page_list;

                    this.duplicatedIdGroups=[];
                    this.duplicatedIdMasters=[];
                    this.duplicatedIdPages=[];
                    this.unduplicatedIdGroups=[];
                    this.unduplicatedIdMasters=[];
                    this.unduplicatedIdPages=[];

                    for(let index in this.pages){
                        let page = this.pages[index].page_info;

                        if(page.type === 'group'){
                            let findGroups = list.filter(x=>x.id === page.id);
                            if(findGroups.length === 0){
                                this.unduplicatedIdGroups.push({
                                    importPage : {id: page.id, name: page.name},
                                    overwrite: true
                                })
                            }else if(findGroups.length === 1 ){
                                let findGroup = findGroups[0];
                                //id 같을 경우
                                this.duplicatedIdGroups.push({
                                    importPage: {id: page.id, name: page.name},
                                    page: {id: findGroup.id, name: findGroup.name},
                                    overwrite: false
                                })
                            }
                        }else if(page.type==='page' || page.type==='master'){
                            let findPages = list.filter(x=>x.id === page.id);
                            if(findPages.length === 0){
                                this.unduplicatedIdPages.push({
                                    importPage : {id: page.id, name: page.name, description: page.props.setter.description},
                                    overwrite: true
                                })
                            }else if(findPages.length === 1 ){
                                let findPage = findPages[0];
                                this.duplicatedIdPages.push({
                                    importPage: {id: page.id, name: page.name, description: page.props.setter.description},
                                    page: {id: findPage.id, name: findPage.name},
                                    overwrite: false
                                })
                            }
                        }
                    }
                }
            })
        }

        modalOpened(){

        }

        hide(){
            this.$modal.hide('importPagesModal');
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
        }

        _onHidden(){
            this.$emit( 'closed' );
            window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
        }
    }
</script>
<style scoped>
      .w-modal .modal-body .btn-wrap{margin: 10px 0 0 0;}
      .item-group{margin-bottom: 12px;}
      .item-gorup label{display:inline;}

      .item-group p{font-size: 14px; margin: 6px 0px;}
      .item-group li{margin-bottom: 2px;}
      .item-group li>span{font-size: 13px;}
      .item-group li>span strong{color:#15429c;}
      .item-group li>span strong.del{color:#9c151f;text-decoration: line-through;}
      p{margin:0;}
</style>
