<template>
    <modal
        id="productInfoModal"
        name="productInfoModal"
        :clickToClose="true"
        :resizable="false"
        :draggable="false"
        :width="440"
        class="w-modal">
        <div class="modal-header">
            <h4>Product Info</h4>
            <a class="close-modal-btn" @click="hide" role="button"><i class="el-icon-error"></i></a>
        </div>
        <div class="modal-body" style="display:block;">
            <p>version : {{ver}}</p>
            <br>
            <p>server : {{serverType}}</p>
            <br>
            <p class="pack_info">packs : {{installed_packs.join(", ")}}</p>
        </div>
    </modal>
</template>

<script lang="ts">

    import Vue from "vue"
    import Component from "vue-class-component"
    import ConfigManager from "../../../wemb/wv/managers/ConfigManager";

    @Component
    export default class ProductInfoModal extends Vue {
        public ver:string="";
        public serverType:string = "";
        public installed_packs:Array<any> = [];
        show() {
            this.ver = window.wemb.configManager.version;
            this.serverType = window.wemb.configManager.serverType;
            this.installed_packs = window.wemb.configManager.pack_info.map((d) => {return d.pack_name;});
            this.$modal.show('productInfoModal');
        }


        hide() {
            this.$modal.hide('productInfoModal');
        }
    }

</script>

<style scoped>
      #productInfoModal >>> .v--modal-box {height: initial !important;}
      #productInfoModal .modal-body p {margin-bottom: -2px;}
      #productInfoModal .pack_info {line-height: 22px;margin-top: -4px;}
</style>
