<template>
      <modal
            id="referencePagesModal"
            name="referencePagesModal"
            :clickToClose="true"
            :draggable="false"
            :resizable="true"
            :width="400"
            :height="600"
            :min-width="400"
            :min-height="600"
            class="w-modal"
            @opened="modalOpened"
            @closed="hide">
            <div class="modal-header"><h4>{{ isPageType ? "참조 마스터 설정":"참조 페이지 설정"}}</h4>
                  <a class="close-modal-btn" @click="hide" role="button"><i class="el-icon-error"></i></a>
            </div>


            <div class="modal-body">
                  <div class="reference-pages-wrap">
                        <div class="reference-edit-wrap">
                              <div class="content-area" >
                                    <div class="page-list-wrap">
                                          <h5 class="title">{{$t('exportPages.pageList')}}</h5>
                                          <div class="d-flex align-items-center">
                                                <el-input placeholder="Filter keyword" v-model="filterText" clearable>
                                                      <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                                </el-input>
                                          </div>
                                          <div class="d-flex flex" style="flex-direction: column;">
                                                <div class="page-list page-search-list flex-scroll">
                                                      <!-- class="filter-tree"  -->
                                                      <el-tree 
                                                            :data="resultList" 
                                                            show-checkbox
                                                            node-key="id"
                                                            default-expand-all
                                                            :default-checked-keys="checkedList"
                                                            check-strictly
                                                            :props="moduleProps" 
                                                            :filter-node-method="filterNode"
                                                            ref="referPageTree">
                                                      </el-tree>
                                                      <div v-if="resultList.length == 0" style="margin: 10px 5px; color: #555;text-align: center;">
                                                            {{$t('exportPages.noSearchData')}}
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="bottom-btn-wrap d-flex justify-content-center">
                              <el-button size="small" @click="hide">{{$t('exportPages.cancel')}}</el-button>
                              <el-button type="primary" size="small" @click="_onOk">저장하기</el-button>
                        </div>
                  </div>
            </div>
      </modal>
</template>

<script lang="ts">
      import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator';
      import EditorStatic from "../../controller/editor/EditorStatic";
      import pageApi from "../../../common/api/pageApi";

      @Component({
            components: {
            }
      })
      export default class ReferencePagesModal extends Vue {
            selectNode: any = {
                  id: "", 
                  master_page: "", 
                  text: "", 
                  type: ""
            };
            filterText: string = "";
            isPageType: boolean = false;
            
            checkedList: Array<string> = [];
            resultList: Array<any> = [];
            moduleProps : any = {
                  label: 'text'
                  , children: 'children'
                  , disabled: 'disabled'
            };

            flatPageTreeData:Array<any> = [];
            countObject: any = {};
            
            @Watch('filterText', {immediate: true, deep: true})
            onFilterTextChanged(val: string) {
                  if (this.$refs.referPageTree != null){      
                        this.$refs.referPageTree.filter(val);
                  }
            }
            
            filterNode(value, data) {
                  if (!value) 
                        return true;
                  return data.text.indexOf(value) !== -1;
            }

            modalOpened(){
                  // console.log("PAGE REFER MODAL");
                  this.filterText = "";
                  this.checkedList = [];
                  this.resultList = [];
                  this.setPageTreeData();
            }

            show( node ) {
                  console.log('referencePagesModal node ', node.original);

                  this.selectNode = node.original;
                  this.isPageType = (this.selectNode.type == 'page');
                  
                  this.$modal.show('referencePagesModal');
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
            }

            
            setPageTreeData() {
                  this.flatPageTreeData = [];
                  var flatData = $.extend(true, [], wemb.pageTreeDataManager.treeData);
                  var rootData = flatData.find(function (x) {
                        if (x.parent == '#') return x
                  });

                  var ary = [];
                  if (rootData) {
                        rootData.count = this.countObject[rootData.id];
                        rootData.checked = false;
                        rootData.disabled = true;
                        rootData.parentsStr = "";

                        ary.push(rootData);
                        this.flatPageTreeData.push(rootData);
                        rootData.children = this.__getChildrenData(rootData, flatData);
                        rootData.childrenFlat = this.__getChildrenFlatData(rootData.id, flatData);
                  }

                  this.resultList.splice(0, this.resultList.length);
                  this.resultList = this.resultList.concat(ary);
                  console.log('this.resultList', this.resultList);
            }

            __getChildrenData(parentData, data) {
                  var parentID = parentData.id;
                  var ary = [];
                  var filterData = data.filter(function (x) {
                        return x.parent == parentID
                  });

                  for (var i = 0, len = filterData.length; i < len; i++) {
                        var child = filterData[i];

                        child.count = this.countObject[child.id];
                        child.checked = false;

                        if (this.isPageType) {
                              if (child.id == this.selectNode.master_page) { this.checkedList.push(child.id);}
                              if (child.type != "master"){ child.disabled = true; }
                        }else{
                              if (child.master_page == this.selectNode.id) { this.checkedList.push(child.id);}
                              if (child.type == "master" || child.type == "group" ){ child.disabled = true; }
                        }


                        if (!parentData.parentsStr) {
                              child.parentsStr = "";
                        } else {
                              child.parentsStr = parentData.parentsStr + " > ";
                        }

                        child.parentsStr += parentData.text;

                        this.flatPageTreeData.push(child);
                        if (child.type == "group") {
                              child.children = this.__getChildrenData(child, data);
                              child.childrenFlat = this.__getChildrenFlatData(child.id, data);
                        }
                        ary.push(child);
                  }
                  return ary;
            }

            __getChildrenFlatData(parentID, data) {
                  var ary = [];
                  var filterData = data.filter(function (x) {
                        x.parent == parentID
                  });
                  for (var i = 0, len = filterData.length; i < len; i++) {
                        var child = filterData[i];
                        ary.push(child);

                        if (child.type == "group") {
                              ary.push(this.__getChildrenFlatData(child.id, data));
                        }
                  }

                  return ary;
            }

            hide(){
                  this.$modal.hide('referencePagesModal');
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
            }

            _onOk() {
                  var checkList = this.$refs.referPageTree.getCheckedKeys();
                  //console.log('선택 리스트!', checkList);

                  if(this.isPageType && checkList.length > 1){
                        alert('마스터 페이지는 최대 1개 입니다.');
                        return;
                  }

                  var referPage = null;
                  if(this.isPageType){
                        var tmpList = [this.selectNode.id]; 
                        referPage = { type : this.selectNode.type, master_id : checkList[0], page_id : tmpList };
                  }else{
                        referPage = { type : this.selectNode.type, master_id : this.selectNode.id, page_id : checkList };
                  }

                  pageApi.updateReferPage(referPage).then((result)=>{
                        this.hide();
                        
                        window.wemb.pageTreeDataManager.startLoading(); //tree refresh  
                        
                        window.wemb.editorFacade.sendNotification(EditorStatic.CMD_OPEN_PAGE, this.selectNode.id);
                  }).catch((error)=>{

                  })
            }
      }
</script>
<style scoped>
      .reference-pages-wrap {
            display: flex;
            flex-direction: column;
            flex:1;
            padding: 0;
            height: 100%;
      }


      .reference-pages-wrap > .reference-edit-wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 14px 20px;
            border: 1px solid #d8dce5;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
            height: 100%;
            overflow-y:scroll;
      }



      .reference-edit-wrap .master-checkbox{margin: 4px 0 14px 0;}
      .reference-edit-wrap .master-checkbox >>> .el-checkbox__label{font-size: 12px;font-weight: bold;}
      .reference-pages-wrap .title {font-size: 13px; margin: 4px 0 14px 0;}


      .reference-pages-wrap > .reference-edit-wrap .top-area .save-btn span {margin-left: 2px;}
      .reference-pages-wrap > .reference-edit-wrap .top-area .save-btn i {margin-right: 2px;}
      .reference-pages-wrap > .reference-edit-wrap .content-area {display: flex;flex: 1;}

      .reference-pages-wrap > .reference-edit-wrap .content-area .arrow-wrap {
            width: 40px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
      }

      .reference-pages-wrap > .reference-edit-wrap .content-area .page-edit-wrap { flex: 1; }

      .reference-pages-wrap > .reference-edit-wrap .content-area .arrow-wrap:before {
            content: '';
            position: absolute;
            top: 0;
            left: 19px;
            border-left: 1px solid #ededed;
            display: block;
            height: 100%;
      }

      .reference-pages-wrap > .reference-edit-wrap .content-area .arrow-wrap .arrow-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #595e65;
            color: #fff;
            border-radius: 5px;
            height: 90px;
            width: 18px;
            text-align: center;
            z-index: 0;
      }

      .reference-pages-wrap > .reference-edit-wrap h4 {
            font-size: 13px;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list-wrap {
            display: flex;
            flex-direction: column;
            width: 310px;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list {
            padding: 0;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list > li > label {
            height: 34px;
            line-height: 34px;
            padding: 8px 8px 6px 10px;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list >>> .group-item {
            border-radius: 4px;
            border: 1px solid #e6e2e2;
            padding: 4px 8px;
      }


      .reference-pages-wrap > .reference-edit-wrap .page-list >>> .el-checkbox {
            display: flex;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list-wrap >>> .el-checkbox__label {
            font-size: 12px;
            padding-left: 6px;
      }

      /*전체 체크박스*/
      .reference-pages-wrap > .reference-edit-wrap .page-list >>> .el-checkbox__label {
            flex: 1;
            display: flex;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list >>> .el-checkbox__label > span {
            flex: 1;
            font-size: 12px;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list >>> .el-checkbox__label sup {
            top: 0;
      }

      .reference-pages-wrap > .reference-edit-wrap .page-list >>> .el-badge__content {
            background-color: #4690e6;
      }

      /* .reference-pages-wrap > .reference-edit-wrap .page-list >>> .el-checkbox__inner {
            display: none;
      } */

      .reference-pages-wrap .search-children-len {
            font-size: 11px;
            margin-left: 5px;
            color: #4690e6;
            font-weight: bold;
      }



      .reference-pages-wrap .page-search-list .el-checkbox {
            height: auto !important;
      }

      .reference-pages-wrap .page-search-list .parents-txt {
            font-size: 11px;
            color: #888;
      }

      .reference-pages-wrap >>> .page-tree-item>.label{margin-bottom: 6px;}
      .reference-pages-wrap >>> .page-tree-item:first-child {
            padding-left: 0;
      }

      .reference-pages-wrap >>> .page-tree-item:not(.flat) {
            padding-left: 20px;
      }

      .reference-pages-wrap >>> .page-list>.page-tree-item{padding-left:0 !important;}

      .reference-pages-wrap >>> .page-tree-item.group > .label {
            background-color: #f5f5f5;
      }

      .reference-pages-wrap >>> .page-tree-item .label .txt {
            margin-left: 5px;
      }

      .reference-pages-wrap >>> .page-tree-item i {
            margin-top: 2px;
      }

      .reference-pages-wrap >>> .page-tree-item .el-checkbox.is-bordered {
            padding: 2px 2px;
            height: auto;
      }

      .reference-pages-wrap .page-search-list .page-tree-item .el-checkbox.is-bordered {
            padding: 10px 10px 8px;
            height: auto;
      }

      .reference-pages-wrap >>> .page-tree-item .el-checkbox__label {
            width: 100%;
      }


     .reference-pages-wrap .bottom-btn-wrap{ margin: 10px 0 0 0;}

</style>
