<template>
      <modal
            id="import-project-popup"
            name="import-project-popup"
            class="w-modal"
            :clickToClose="false"
            :resizable="true"
            :height="300"
            :width="900"
            :min-width="700"
            :min-height="200"
            @opened="openedModal()"
            @closed="closedModal()"
            draggable=".modal-header">

            <div class="modal-header"><h4>
                  
                   Project</h4><a class="close-modal-btn" role="button" @click="hide()"><i class="el-icon-error"></i></a></div>
            <div class="modal-body import-project-modal-wrap">
                  <div class="import-snapshot">
                        <el-button
                              size="mini"
                              type="warning"
                              @click="handleBackupSnapshot">Backup</el-button>
                        <el-button
                              size="mini"
                              type="success"
                              @click="handleImportSnapshot()">Import Snapshot</el-button>
                  </div>
                  <div v-if="!projectList.length" class="empty">
                        {{$t('snapshot.emptyProject')}}
                  </div>
                  <div v-else>
                        <el-table
                              :data="projectList"
                              style="width: 100%">
                              <el-table-column
                                    label="Author"
                                    width="100">
                                    <template slot-scope="scope">
                                          <span>{{ scope.row.author }}</span>
                                    </template>
                              </el-table-column>
                              <el-table-column
                                    label="Title"
                                    width="300">
                                    <template slot-scope="scope">
                                          <el-tooltip :content="scope.row.name" placement="top" effect="light" multilined>
                                                <span class="snapshot-title">{{ scope.row.name }}</span>
                                          </el-tooltip>
                                    </template>
                              </el-table-column>
                              <el-table-column
                                    label="Date"
                                    width="180">
                                    <template slot-scope="scope">
                                          <i class="el-icon-time"></i>
                                          <span style="margin-left: 10px">{{ scope.row.date }}</span>
                                    </template>
                              </el-table-column>
                              <el-table-column
                                    label="Operations"
                                    width="255">
                                    <template slot-scope="scope">
                                          <el-tooltip placement="left" effect="light" :disabled="scope.row.isCompatible==true">
                                                <div slot="content" style="margin: 1em 0 1em 0">해당 데이터 베이스 테이블이 시스템에 존재 하지 않습니다.</div>
                                                <div v-bind:key="item" v-for="(item, index) in scope.row.inCompatibleTableList" slot="content" style="color:red"> {{index}} - {{item}}
                                                </div>
                                                <span class="wrapper">
                                                <el-button
                                                      :disabled="scope.row.isCompatible == false"
                                                      size="mini"
                                                      type="success"
                                                      @click="handleRestore(scope.row)">Restore
                                                </el-button>
                                                </span>
                                          </el-tooltip>

                                          <el-button
                                                size="mini"
                                                type="primary"
                                                @click="handleSaveFile(scope.row)">Save File</el-button>
                                          <el-button
                                                size="mini"
                                                type="danger"
                                                @click="handleDeleteFile(scope.row)">Delete File</el-button>
                                    </template>
                              </el-table-column>
                        </el-table>
                  </div>
            </div>
      </modal>
</template>

<script lang="ts">
      import Vue from "vue"
      import Component from "vue-class-component"
      import EditorStatic from "../../controller/editor/EditorStatic";
      import snapshotApi from '../../../common/api/snapshotApi'
      import httpAPI from 'axios';

      @Component
      export default class RestoreProjectModal extends Vue {
            public projectList:Array<any> = [];
            public contentsList:Array<any>=[];



            created() {
                  window.wemb.$globalBus.$on('snapshot_load', () => {
                        this.load();
                  });
            }

            public load() {
                  let locale_msg = Vue.$i18n.messages.wv;
                  const loading = Vue.$loading({
                        lock: true,
                        text: 'Loading',
                        spinner: 'el-icon-loading',
                        background: 'rgba(255, 255, 255, 0.7)'
                  });

                  snapshotApi.loadSnapshotList().
                        then(({ data }) => {
                              this.updateProjectList(data);
                              loading.close();
                        }).
                        catch(error => {
                              Vue.$message.error(locale_msg.snapshot.errorImport);
                        });
            }

            updateProjectList({ data }) {

                  let newList = [];
                  let contents = "";
                  for (let key in data) {
                        for(let tableKey in data[key].inCompatibleTableList){
                              contents =contents + data[key].inCompatibleTableList[tableKey]+"<br/>";
                        }
                        this.contentsList.push(contents);

                        newList.push(data[key])
                        
                  }
                  this.projectList = newList;
            }

            handleRestore(row) {
                  let locale_msg = Vue.$i18n.messages.wv;
                  let resourceDirList = row.resourceList || [];
                  const h = this.$createElement;
                  let message = [h('p', null, locale_msg.snapshot.restoreAlert)];

                  message = [...message, ...resourceDirList.map((resourceName, index) => {
                        return h('p', { style: 'display: flex'}, [
                              h('span', { style: 'color: red;margin-right:10px' }, `${index + 1}. `),
                              h('span', { style: 'color: red;word-break: break-all' }, `${resourceName.path}` )
                        ]);
                  })];

                  let loading;

                  this.$msgbox({
                        title: locale_msg.common.notification,
                        message: h('p', null, message),
                        showCancelButton: true,
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(() => {
                        loading = Vue.$loading({
                              lock: true,
                              text: 'Loading',
                              spinner: 'el-icon-loading',
                              background: 'rgba(255, 255, 255, 0.7)'
                        });

                        return snapshotApi.restoreProject(row.id);
                  }).then(({ data }) => {
                        loading.close();

                        if (data.result === "ERROR") {
                              Vue.$message.error(locale_msg.snapshot.failRestore);
                              return;
                        }

                        this.$msgbox({
                              title: locale_msg.common.notification,
                              message: h('p', null, `${locale_msg.snapshot.successImport}`),
                              showCancelButton: false,
                              confirmButtonText: 'OK',
                              closeOnClickModal: false,
                              showClose: false,
                              type: 'success'
                        }).then(() => {
                              location.reload();
                        });
                  }).catch(error => {
                        if (error !== 'cancel') {
                              Vue.$message.error(locale_msg.snapshot.errorImport);
                              loading.close();
                        }
                  });;
            }

            public handleSaveFile(row) {

                  const loading = Vue.$loading({
                        lock: true,
                        text: "Processing...",
                        spinner: 'el-icon-loading',
                        background: 'rgba(255, 255, 255, 0.7)'
                  });

                  snapshotApi.saveSnapshot(row.id).
                  then(({ data }) => {
                        if (data.result === "ERROR") {
                              let message = data.message || Vue.$i18n.messages.wv.common.errorFormat;
                              Vue.$message.error(message);
                              return;
                        }
                        let link = document.createElement('a');
                        link.href = window.wemb.configManager.serverUrl + "/snapshot/" + data.fileName;
                        let fileName = data.fileName;
                        link.download = fileName;
                        link.click();
                        $(link).remove();
                  }).
                  catch(error => {
                        Vue.$message({
                              message: error.data,
                              type: 'error'
                        })
                  }).finally(() => {
                        loading.close();
                  });
            }

            public handleDeleteFile(row) {
                  let locale_msg = Vue.$i18n.messages.wv;
                  let self = this;
                  const h = this.$createElement;
                  let message = [h('p', null, locale_msg.snapshot.deleteCheck)];

                  this.$msgbox({
                        title: locale_msg.common.notification,
                        message: h('p', null, message),
                        showCancelButton: true,
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(() => {

                        const loading = Vue.$loading({
                              lock: true,
                              text: "Processing...",
                              spinner: 'el-icon-loading',
                              background: 'rgba(255, 255, 255, 0.7)'
                        });

                        return snapshotApi.deleteSnapshot(row.id).finally(()=> {
                              loading.close();
                        });
                  }).then(({data}) => {
                        if (data.result === "SUCCESS") {
                              Vue.$message({
                                    message: locale_msg.snapshot.deleteSnapshot,
                                    type: 'success'
                              });

                              self.projectList = self.projectList.filter(project => project.id !== row.id);
                        } else {
                              let message = data.message || locale_msg.common.errorMsg
                              Vue.$message({
                                    message: message,
                                    type: 'error'
                              })
                        }
                  }).catch(error => {
                        if (error !== 'cancel') {
                              Vue.$message({
                                    message: error.data,
                                    type: 'error'
                              })
                        }
                  });
            }

            public handleImportSnapshot() {
                  this.uploadSnapshot((success, data) => {

                  })
            }

            handleBackupSnapshot() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_PROJECT_BACKUP);
            }

            uploadSnapshot(callback: Function) {
                  let $importFile: any = $("#importFile");

                  if ($importFile.length == 0) {
                        callback(false, Vue.$i18n.messages.wv.fileManager.noInputTag);
                        return;
                  }

                  $importFile.attr("accept", ".zip, zip/*");
                  $importFile.val("");

                  $importFile.off().on("change", (event) => {
                        if ( Array.from($importFile[0].files).some(file => {
                              return file.name.search(/.zip$/) === -1 })
                        ) {
                              Vue.$message.error(Vue.$i18n.messages.wv.common.errorFormat);
                              return;
                        }

                        Vue.$loading({});
                        let formData = new FormData();
                        formData.append("uploadType", "importRes");
                        formData.append("uploadSnapshot", event.target.files[0]);

                        let url = window.wemb.configManager.serverUrl + "/snapshot/upload.do";
                        let config = {
                              headers: {
                                    'content-type': 'multipart/form-data'
                              }
                        }

                        snapshotApi.uploadSnapshot(url, formData, config).then(result => {
                              Vue.$loading({}).close();

                              if(result.data.result === "SUCCESS") {
                                    Vue.$message.success(Vue.$i18n.messages.wv.snapshot.successAllImport);
                                    this.load();
                              } else if (result.data.result === "DUP"){
                                    Vue.$message.error(Vue.$i18n.messages.wv.snapshot.dupImport);
                              } else {
                                    Vue.$message.error(Vue.$i18n.messages.wv.snapshot.errorImport);
                              }

                        }, (error) => {
                              Vue.$loading({}).close();
                              Vue.$message.error(Vue.$i18n.messages.wv.fileManager.occurError);
                        });

                  });

                  $importFile.trigger("click");
            }


            public show() {
                  this.$modal.show('import-project-popup');
                  this.load();
            }

            public hide() {
                  this.$modal.hide('import-project-popup');
            }

            public openedModal() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
            }

            public closedModal() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
            }
      }
</script>

<style scoped>
      .import-project-modal-wrap {
            flex-direction: column;
            overflow: auto;
      }

      .import-project-modal-wrap > .empty {
            flex: 1;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 14px;
      }

      .import-snapshot {
            text-align: right;
      }
      .snapshot-title {
            width: 300px;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: normal;
      }
</style>
