<template>
    <modal
        id="threeAlignModal"
        name="threeAlignModal"
        :clickToClose="true"
        :resizable="false"
        :draggable="false"
        :width="300"
        :height="510"
        class="w-modal">
        <div class="modal-header">
            <h4>Three Alignment Manager</h4>
            <a class="close-modal-btn" @click="hide" role="button"><i class="el-icon-error"></i></a>
        </div>
        <div class="modal-body">


        </div>
    </modal>
</template>

<script lang="ts">

    import Vue from "vue"
    import Component from "vue-class-component"

    @Component
    export default class ThreeAlignModal extends Vue {

        show() {
            this.$modal.show('threeAlignModal');

        }

        hide() {
            this.$modal.hide('threeAlignModal');
        }


    }

</script>

<style scoped>

    #threeAlignModal .shortcut-body {
        display: block;
        width: 100%;
        padding: 9px;
        border: 1px solid #d8dce5;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    }

    #threeAlignModal .shortcut-body > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
    }

    #threeAlignModal .shortcut-body > .container > .label {
        color: #5f5f5f;
        font-weight: bold;
        font-size: 13px;
    }

</style>
