.event-browser .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 10px 4px 10px;
    color: #efefef;
    font-size: 12px;
}

.event-browser .tool-area {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.event-browser .tool-area > div,
.event-browser .tool-area > span {
    display: flex;
    align-items: center;
}

.event-browser .tool-area .title {
    height: 100%;
    font-size: 17px;
    font-weight: bold;
    padding: 0px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-browser .tool-area .severity {
    margin-left: 7px;
    padding: 0px 4px;
    border: 1px solid #4f5657;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #b5b8bb;
}

.event-browser .tool-area .severity.active {
    border: 1px solid #adadad;
    color: #ffffff;
}

.event-browser .tool-area .severity > .bullet {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-image: none;
    margin-right: 10px;
    background-color : #7b7979;
}

.event-browser .tool-area .severity > .bullet.critical {
    background-color: #ff0000;
}

.event-browser .tool-area .severity > .bullet.major {
    background-color: #ff8a00;
}

.event-browser .tool-area .severity > .bullet.minor {
    background-color: #ffe800;
}

.event-browser .tool-area .severity > .bullet.warning {
    background-color: #1a9c35;
}

.event-browser .btn {
    height: 1.5em;
    line-height: 1.5em;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    padding: 0px 8px;
    margin: 0px 4px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.event-browser .tool-area .btn-ack,
.event-browser .tool-area .btn-slide {
    background-color: #4A4055;
}

.event-browser .contents-area {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.event-browser .header {
    overflow: hidden;
    height: 26px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 30px;
    font-size: 13px;
    /*background-color: #3b323e;*/
    /*color: #dad8db;*/
}

.event-browser .event-area {
    flex: 1;
    overflow: auto;
}

.event-browser .event-area > .contents {
    height: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    /*background-color: #2d3033;
    color: #dad8db;*/
    border-radius: 30px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

/*.event-browser .event-area > .contents:hover {
    background-color: #424243;
    color: #dad8db;
}

.event-browser .event-area > .contents.active {
    background-color: #645d67;
    color: #ffffff;
}*/

.event-browser .header > div,
.event-browser .contents > div {
    width: 120px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.event-browser .header > div:last-child,
.event-browser .contents > div:last-child {
    flex: 1;
}

.event-browser .header > div:not(:last-child){
    border-right: 1px solid #bac2ce;
}


.event-browser .auto-skewed {
    display: none;
}

.event-browser .btn-auto {
    cursor: pointer;
    outline: 0;
    display: block;
    width: 3em;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
}
.event-browser .btn-auto:after, .event-browser .btn-auto:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.event-browser .btn-auto:after {
    left: 0;
}
.event-browser .btn-auto:before {
    display: none;
}
.event-browser .btn-auto:after {
    left: 50%;
}

.event-browser .auto-skewed + .btn-auto {
    overflow: hidden;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .2s ease;
    background: #6b6b6b;
}
.event-browser .auto-skewed + .btn-auto:after, .event-browser .auto-skewed + .btn-auto:before {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
}
.event-browser .auto-skewed + .btn-auto:after {
    left: 100%;
    content: attr(data-on);
}
.event-browser .auto-skewed + .btn-auto:before {
    left: 0;
    content: attr(data-off);
}
.event-browser .auto-skewed + .btn-auto:active {
    background: #888;
}
.event-browser .auto-skewed + .btn-auto:active:before {
    left: -10%;
}
.event-browser .auto-skewed:checked + .btn-auto {
    background: #4A4055;
}
.event-browser .auto-skewed:checked + .btn-auto:before {
    left: -100%;
}
.event-browser .auto-skewed:checked + .btn-auto:after {
    left: 0;
}
.event-browser .auto-skewed:checked + .btn-auto:active:after {
    left: 10%;
}

.event-browser .ascending {
    width: 0;
    height: 0;
    margin-left: 3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid #dad8db;
}

.event-browser .descending {
    width: 0;
    height: 0;
    margin-left: 3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #dad8db;
}
