<template>
      <div class="wrapper">
            <div class="header">
                  <h3>ES6 to ES5</h3>
                  <el-button type="primary"
                             size="small"
                             @click="executeCompile">Compile</el-button>
            </div>
            <div class="bottom">
                  <el-input
                        type="textarea"
                        resize="none"
                        :rows="30"
                        placeholder="Please input your ES6 code here!"
                        v-model="es6Code">
                  </el-input>
                  <el-input
                        type="textarea"
                        resize="none"
                        :rows="30"
                        placeholder="Compiled code!"
                        v-model="es5Code"
                        readonly>
                  </el-input>
            </div>
      </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from 'vue-class-component';
    import * as Babel from './babel.min.js';

 @Component
    export default class CodeCompiler extends Vue {
          public babel:any = null;
          public es6Code: string = "";
          public es5Code: string = "";

          mounted () {
                this.babel = Babel;
          }

          executeCompile () {
                try {
                    this.es5Code = this.babel.transform(this.es6Code, { presets: [['es2015',{
                        "targets": {
                              "browsers" : ["last 2 versions", "ie >= 11"]
                        },
                  }]] } ).code;
                } catch (err) {
                    alert(`Code cannot be compiled.
                           ${err}`)
                }
          }
    }
</script>

<style scoped>
    .wrapper {
        padding: 30px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom {
        display: flex
    }

</style>
