<template>
      <div>
            <div class="panel-content-area outline-panel-content">
                  <template v-if="active">
                        <!--검색 필드-->
                        <div class="asset-search">
                              <el-input size="small" class="search-field" v-model="search.keyword" placeholder="search keyword" @change="onChangeSearchKeyword()">
                                    <i v-if="search.keyword.length" @click="onClearSearch()" class="clear-search-str el-icon-error el-input__icon" slot="suffix"></i>
                              </el-input>
                        </div>


                        <div class="instance-list" v-if="searchResult.length">
                              <el-collapse v-model="activeNames">
                                          <el-collapse-item v-for="comGroup in searchResult" :name="comGroup.name">
                                                <template slot="title">{{comGroup.name}}<em class="tag">{{comGroup.items.length}}</em></template>

                                                <table v-if="comGroup.items.length>0">
                                                      <colgroup>
                                                            <col style="width:20px; text-align:center;">
                                                            <col style="">
                                                            <col style="width:20px; text-align:center;">
                                                      </colgroup>
                                                      <tbody>
                                                      <template v-for="(item, index) in comGroup.items" >

                                                            <tr v-if="checkItem(item)"  :class="{'selected':item.selected}">
                                                                  <td>
                                                                        <button class="icon icon-view" :class="{off:!item.editorModeVisible}"
                                                                                @click="onSetEditModeVisible(item)"><i>view</i></button>
                                                                  </td>
                                                                  <td @click="onSelectedItem($event,item, index, comGroup.name)" style="cursor:pointer">{{item.name}}</td>
                                                                  <!--<button>에 .on 추가시 아이콘 상태 변경-->
                                                                  <td>
                                                                        <button class="icon icon-script" @click="onShowScriptEditor()"
                                                                                v-if="checkUsingEvent(item)"><i>script</i></button>
                                                                        <button class="icon icon-lock" :class="{on:item.lock}"
                                                                                @click="onSetLock(item)"><i>lock</i></button>
                                                                  </td>
                                                            </tr>
                                                            <tr v-else>
                                                                  없음
                                                            </tr>

                                                      </template>
                                                      </tbody>
                                                </table>
                                          </el-collapse-item>
                              </el-collapse>
                        </div>



                  </template>
            </div>
            <div class="help" v-show="active==false">
                  <!-- 편집 페이지가 없는  상태-->
            </div>
      </div>
</template>

<script lang="ts">
      import {Component, Vue, Watch, Prop} from 'vue-property-decorator'
      import OutlinePanelMediator from "./OutlinePanelMediator";
      import WVComponent, {GROUP_NAME_LIST} from "../../../../wemb/core/component/WVComponent";
      import {WORK_LAYERS, ComponentGroup} from "../../../../wemb/wv/layer/Layer";
      import {WVCOMPONENT_EDITOR_POPERTY_NAMES} from "../../../../wemb/core/component/interfaces/ComponentInterfaces";
      import EditorProxy from "../../../model/EditorProxy";

      @Component({
            components: {}
      })
      export default class OutlinePanel extends Vue {
            public static readonly EVENT_ADD_SELECTED_COMPONENT_INSTANCE: string = "event/addSelectedComponentInstance";
            public static readonly EVENT_NEW_SELECTED_COMPONENT_INSTANCE: string = "event/newSelectedComponentInstance";
            public static readonly EVENT_REMOVE_SELECTED_COMPONENT_INSTANCE: string = "event/removeSelectedComponentInstance";
            public static readonly EVENT_SHOW_SCRIPT_EDITOR: string = "event/showScriptEditor";
            public static readonly EVENT_ADD_SELECTED_COMPONENT_LIST : string = "event/addSelectedComponentList";

            public static readonly EVENT_CHANGE_PROPERTY_VALUE: string = "event/changePropertyValue";


            private active: boolean = false;
            private _activeLayerName: WORK_LAYERS = WORK_LAYERS.NONE_LAYER;
            public get activeLayerName(){
                  return this._activeLayerName
            }

            public comInstanceList: Array<WVComponent> = [];

            public comInstanceListGroup:Array<ComponentGroup> = [];


            private search= { field: "", keyword: "" };
            private searchResult:Array<{name : String; items : Array<String | Boolean>;}> = [];
            private activeNames:Array<string>=[];
            private startEndArr : Array<number> = [];
            private startEndCompgroupArr : Array<string> = [];

            private lastSelected : { index : Number; groupName : String} = null;

            mounted() {
                  console.log("step 01, mounted(), OutlinePanel");
                  window.wemb.viewComponentMap.set(OutlinePanelMediator.NAME, this);
            }


            private onSelectedItem(event, instance: WVComponent, index : number, groupName : string) {
                  var component_instance = wemb.mainPageComponent.getComInstanceByName(instance.name);
                  if(window.wemb.editorFacade.retrieveProxy('SelectProxy').currentPropertyManager.getInstanceLength() === 0){
                        this.$emit(OutlinePanel.EVENT_NEW_SELECTED_COMPONENT_INSTANCE, component_instance);
                        this.lastSelected = {index,groupName};
                  }else{
                        if(this.lastSelected === null){
                              if(event.ctrlKey || event.shiftKey){
                                    this.$emit(OutlinePanel.EVENT_ADD_SELECTED_COMPONENT_INSTANCE, component_instance);
                              }else{
                                    this.$emit(OutlinePanel.EVENT_NEW_SELECTED_COMPONENT_INSTANCE, component_instance);
                              }
                              this.lastSelected = {index,groupName}
                        }else{
                              if(this.lastSelected.index === index && this.lastSelected.groupName === groupName){
                                    this.$emit(OutlinePanel.EVENT_REMOVE_SELECTED_COMPONENT_INSTANCE, component_instance);
                                    this.lastSelected = null;
                                    return;
                              }
                              if(event.ctrlKey){
                                    this.$emit(OutlinePanel.EVENT_ADD_SELECTED_COMPONENT_INSTANCE, component_instance);
                                    this.lastSelected = {index,groupName}
                              }else if(event.shiftKey){
                                    if(groupName === this.lastSelected.groupName){
                                          let groupData = this.searchResult.filter((data)=> data.name === groupName);
                                          this.$emit(OutlinePanel.EVENT_ADD_SELECTED_COMPONENT_LIST, groupData[0].items.slice(this.lastSelected.index, index + 1));
                                    }else{
                                          const groupNameData = this.searchResult.map((data)=>({name : data.name, length : data.items.length}));
                                          const groupNameIndexes = [groupNameData.findIndex((data)=> data.name === this.lastSelected.groupName), groupNameData.findIndex((data)=> data.name === groupName)].sort((a, b)=> Number(a) - Number(b))
                                          const compGroupData =
                                                this.searchResult
                                                      .slice(groupNameIndexes[0], groupNameIndexes[1] + 1)
                                                      .map((data)=> [...data.items]).reduce((a,b) => a.concat(b), [])
                                                      .map((data)=> wemb.mainPageComponent.getComInstanceByName(data.name));
                                          this.$emit(OutlinePanel.EVENT_ADD_SELECTED_COMPONENT_LIST, compGroupData);
                                    }
                                    this.lastSelected = null;
                              }else{
                                    this.$emit(OutlinePanel.EVENT_NEW_SELECTED_COMPONENT_INSTANCE, component_instance);
                                    this.lastSelected = {index, groupName}
                              }
                        }
                  }

            }

            private onSetEditModeVisible(instance: WVComponent) {
                  let component_instance = wemb.mainPageComponent.getComInstanceByName(instance.name);
                  let value = !component_instance.getGroupPropertyValue(GROUP_NAME_LIST.EDITOR_MODE, WVCOMPONENT_EDITOR_POPERTY_NAMES.VISIBLE);
                  component_instance.setGroupPropertyValue(GROUP_NAME_LIST.EDITOR_MODE, WVCOMPONENT_EDITOR_POPERTY_NAMES.VISIBLE, value);
                  this.$emit(OutlinePanel.EVENT_CHANGE_PROPERTY_VALUE);
            }

            private onSetLock(instance: WVComponent) {
                  let component_instance = wemb.mainPageComponent.getComInstanceByName(instance.name);
                  component_instance.lock = !component_instance.lock;
                  this.$emit(OutlinePanel.EVENT_CHANGE_PROPERTY_VALUE);
            }

            private onShowScriptEditor() {
                  this.$emit(OutlinePanel.EVENT_SHOW_SCRIPT_EDITOR);
            }


            public checkUsingEvent(item) {
                  let eventList = item.events;
                  if (eventList) {
                        let events = Object.keys(eventList);
                        for (let eventName of events) {
                              let codeStr = eventList[eventName] || "";
                              codeStr.trim();
                              if (codeStr.length > 0)
                                    return true;
                        }
                  }
                  return false;
            }


            /////////////////////////////////////////////////////////////////////
            // computed



            /*
            배치된 컴포넌트 인스턴스 삭제시
            proxy에서 지워지는 경우
                  outline에서 에러가 발생하는 경우가 존재함.
                  이때 item은 존재하지만 내부 내용이 전혀 존재하지 않음.
                  이를 위해 try~catch()로 처리함.
             */
            private checkItem(item){
                  try {
                        let temp = item.name;
                        return true;

                  }catch(error){
                        //console.log("ERRRR ", error);
                        return false;
                  }


            }

            private executeClearSearch(){
                  this.search.keyword = "";
                  this.searchResult = this.comInstanceListGroup;

                  this.activeNames = this.searchResult.map((item:{name : String; items : Array<String | Boolean>;})=>{
                        return item.name;
                  })
            }

            private executeSearch(){
                  let list = this.comInstanceListGroup;
                  let keyword = this.search.keyword.trim();
                  if (keyword) {
                        let tempList =[];
                        list.forEach((item:ComponentGroup) => {
                              let groupItems = item.items.filter((comInstance)=>{
                                    return comInstance.name.indexOf(keyword)!=-1;
                              });
                              if(groupItems.length>0){
                                    let comGroup= new ComponentGroup();
                                    comGroup.name = item.name;
                                    comGroup.items = groupItems;
                                    tempList.push(comGroup);
                              }
                        });
                        list = tempList;
                  }
                  this.searchResult = list;
                  this.activeNames = this.searchResult.map((item:ComponentGroup)=>{
                        return item.name;
                  })
            }

            private onClearSearch(){
                  this.executeClearSearch();
            }
            private onChangeSearchKeyword(){
                  this.executeSearch();
            }



            /////////////////////////////////////////////////////////////////////


            /////////////////////////////////////////////////////////////////////
            public noti_openPage() {
                  this.active = true;
            }


            public noti_closedPage() {
                  this.active = false;
            }

            public makeProps =  (instance : {name : String; items : Array<WVComponent>;}) : ComponentGroup => {
                  let arr = instance.items.map((item)=>({
                        selected : item.selected,
                        editorModeVisible : item.editorModeVisible,
                        name : item.name,
                        lock : item.lock,
                        events : item.getGroupProperties("events")
                  }));
                  return {
                        name : instance.name,
                        items : arr
                  } as ComponentGroup
            };
            public noti_changeActiveLayer(layerName: WORK_LAYERS, comInstanceListGroup: Array<{name : String; items : Array<WVComponent>;}>) {
                   this.comInstanceListGroup = comInstanceListGroup.map((instance)=>this.makeProps(instance));
                  this.executeClearSearch();
            }

            public updateComInstanceListGroup(comInstanceListGroup: Array<{name : String; items : Array<WVComponent>;}>){
                  this.comInstanceListGroup = comInstanceListGroup.map((instance)=>this.makeProps(instance));
                  this.executeSearch();
            }

      }


</script>
<style scoped="true">
      .outline-panel-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-x: hidden;
      }

      .outline-panel-content .asset-types,
      .outline-panel-content .asset-search {
            display: flex;
            padding: 4px;
      }


      .outline-panel-content .el-select.mini {
            margin-right: 5px;
            height: 22px !important;
      }

      .outline-panel-content .el-select.mini input {
            height: 22px !important;
            padding: 0 30px 0 8px;
      }

      .outline-panel-content .search-field{
            margin:0;
            height: 22px !important;
      }


      .outline-panel-content .search-field >>> .el-input__inner {
            height: 22px;
            padding-left: 11px;
            padding-right: 18px;
      }

      .outline-panel-content .asset-search >>> .el-input__icon {
            line-height: 22px;
            height: auto;
      }

      .outline-panel-content .instance-list{
            flex:1;
            /*overflow: auto;*/
      }
      .outline-panel-content .instance-list >>> .el-collapse-item__header {
            height: 26px;
            line-height: 26px;
            margin-left: 8px;
            font-size: 12px;

      }

      .outline-panel-content .instance-list >>> .el-collapse-item__header .tag {
            padding: 2px 5px;
            background: #4690e6;
            border-radius: 10px;
            font-size: 10px;
            font-weight: bold;
            color: #fff;
            font-style: normal;
            margin-left: 5px;
      }

      .outline-panel-content .instance-list >>> .el-collapse-item__content {
            padding: 0;
      }

      .outline-panel-content .instance-list >>> .el-collapse-item__arrow {
            margin-right: 6px;
            line-height: 26px;
      }

      .outline-panel-content .instance-list >>> dl {
            font-size: 12px;
            margin: 0px;
            display: flex;
            cursor: pointer;
      }

      .outline-panel-content .instance-list >>> dl.active {
            background: #2691ec !important;
            color: #fff;
      }

      .outline-panel-content .instance-list >>> dl.none dt,
      .outline-panel-content .instance-list >>> dl.none dd {
            text-decoration: line-through;
            opacity: 0.5;
      }

      .outline-panel-content .instance-list >>> dl.double {
            color: red;
      }

      .outline-panel-content .instance-list >>> dl:nth-child(even) {
            background-color: #efefef;
      }

      .outline-panel-content .instance-list >>> dt .double-asset,
      .outline-panel-content .instance-list >>> dt .none-asset {
            display: none;
      }

      .outline-panel-content .instance-list >>> dl.none .none-asset {
            display: inline-block;
      }

      .outline-panel-content .instance-list >>> dl.double .double-asset {
            display: inline-block;
      }

      .outline-panel-content .instance-list >>> dt {
            position: relative;
            margin-left: 26px;
            margin-right: 6px;
      }

      .outline-panel-content .instance-list >>> dt>.icon {
            position: absolute;
            left: -18px;
            top: 4px;
      }

      .outline-panel-content .instance-list >>> dt,
      .outline-panel-content .instance-list >>> dd {
            line-height: 21px;
      }

       h5 {
            margin: 0 0 10px 0;
      }

       .el-radio-group {
            line-height: 24px;
      }

       .el-radio,
       .el-radio+.el-radio {
            margin-right: 30px;
            margin-left: 0;
      }

       .cont-wrap {
            overflow: auto;
            padding: 24px;
            width: 100%;
      }

       .radio-wrap {
            margin-bottom: 16px;
      }
</style>
