.DCIMRackPreviewComponent {
    overflow: auto;
}

.DCIMRackPreviewComponent ul,
.DCIMRackPreviewComponent li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.DCIMRackPreviewComponent * {
    box-sizing: border-box;
}

.DCIMRackPreviewComponent .rack-warp {
    min-width: 180px;
    width: 100%;
    padding-left: 18px;
    /*border-top: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;*/
}

.DCIMRackPreviewComponent .rack-warp>ul {
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    border: 4px solid #bcc9f1;
    background-color: #363636;
}

.DCIMRackPreviewComponent .rack-warp>ul>li {
      height: 13px;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      position: relative;
      box-sizing: border-box;
}

.DCIMRackPreviewComponent .rack-warp>ul>li .active {
    background: rgba(46, 130, 215, 0.6);
}

.DCIMRackPreviewComponent .rack-warp>ul>li .item-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 9px;
    position: relative;
}

.DCIMRackPreviewComponent .rack-warp>ul>li:not(:first-child) .item-wrap {
    border-top: 1px solid #6b6b6b;
}

.DCIMRackPreviewComponent .rack-warp>ul>li>span {
      display: inline-block;
      width: 20px;
      position: absolute;
      top: -2px;
      left: -24px;
      font-size: 9px;
      color: #535352;
      text-align: center;
      line-height: 14px;
}

.DCIMRackPreviewComponent .rack-warp>ul>li>.item-wrap>.item {
    position: absolute;
    top: 0;
    z-index: 10;
    cursor: pointer;
}

.DCIMRackPreviewComponent .rack-warp>ul>li>.item-wrap>.item .cont {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #282b4c;
    background-color: #555555;
    color: #b7b7b7;
    overflow: hidden;
}

.DCIMRackPreviewComponent .rack-warp>ul>li>.item-wrap>.item.active .cont {
    background-color: #2e82d6;
    color: #fff;
}

.DCIMRackPreviewComponent .rack-warp>ul>li>.item-wrap>.item.overlap.active .cont {
    background-color: rgba(255, 0, 0, 1);
}

.DCIMRackPreviewComponent .rack-warp>ul>li>.item-wrap>.item.overlap .cont {
    background-color: rgba(255, 0, 0, 0.4);
}

.DCIMRackPreviewComponent .rack-warp>ul>li>.item-wrap>.item .cont>em {
    font-size: 10px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
}

.DCIMRackPreviewComponent .rack-warp>ul>li>.item-wrap>.item .cont>.rotate {
    transform: rotate(90deg);
}

.DCIMRackPreviewComponent .tooltip .tooltiptext {
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 50%;
    width: 100%;
    height: 0;
}

.DCIMRackPreviewComponent .tooltip .tooltiptext>span {
    position: absolute;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 16px;
    font-size: 11px;
    left: 0;
    bottom: 0;
}

.DCIMRackPreviewComponent .tooltip .tooltiptext>span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.DCIMRackPreviewComponent .tooltip:hover .tooltiptext {
    display: block;
}

.DCIMRackPreviewComponent .vender-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    max-height: 100%;
    max-width: 100%;
    height: auto;
}
