<template>
      <div class="wrap">
            <Split style="height: 100%;" direction="vertical" @onDragEnd="resizeEditorArea" @onDrag="resizeEditorArea">
                  <SplitArea :size="50">
                        <div class="insert-form">
                              <htmlEditor class="template-editor"
                                          v-model="templateItem.htmlStr"
                                          @init="onHtmlEditorInit" lang="html"
                                          theme="chaos"
                                          style="border-right: 2px solid #EEEEEE;"
                              ></htmlEditor>
                              <styleEditor class="template-editor"
                                           v-model="templateItem.styleStr"
                                           @init="onStyleEditorInit" lang="stylus"
                                           theme="chaos"
                                           style="border-right: 2px solid #EEEEEE;"
                              ></styleEditor>
                              <dataEditor class="template-editor"
                                          v-model="templateItem.dataStr"
                                          @init="onDataEditorInit" lang="json"
                                          theme="chaos"
                              ></dataEditor>
                        </div>
                  </SplitArea>

                  <SplitArea :size="50">
                        <div class="preview">
                              <div class="preview-wrap">
                                    <div id="draw-target"></div>
                              </div>
                        </div>
                  </SplitArea>
            </Split>
      </div>
</template>

<script lang="ts">
      declare function require(moduleName: string): any;

      declare let ace: any;
      import {Component, Vue, Prop} from "vue-property-decorator";
      import VueSplit from 'vue-split-panel';

      Vue.use(VueSplit);

      @Component({
            components: {
                  htmlEditor: require('vue2-ace-editor'),
                  styleEditor: require('vue2-ace-editor'),
                  dataEditor: require('vue2-ace-editor'),
            }
      })
      export default class TemplateManagerSetting extends Vue {

            public templateItem: object = {htmlStr: "", styleStr: "", dataStr: ""};

            public htmlStr: string = "";
            public styleStr: string = "";
            public dataStr: string = "";

            private htmlEditor: any = null;
            private styleEditor: any = null;
            private dataEditor: any = null;

            private htmlEditorIsInit: boolean = false;
            private styleEditorIsInit: boolean = false;
            private dataEditorIsInit: boolean = false;

            private isInit: boolean = false;


            mounted() {
                  this.$drawTarget = $("#draw-target");
            }

            updateSelectedData(data) {
                  this.templateItem = $.extend(true, {}, data);
                  this.renderTmpl();
            }

            getTemplateItem() {
                  return this.templateItem;
            }


            renderTmpl() {
                  this.$drawTarget.empty();
                  if (!this.validation()) {
                        return;
                  }

                  try {
                      $.tmpl(this.templateItem.htmlStr, {data: this.getTestData()}).appendTo(this.$drawTarget);
                      let style = this.getInstanceStyle();
                      this.$drawTarget.append('<style>' + style + '</style>');
                  } catch (error) {
                      Vue.$alert(`[Template Render Error]  ${error}`)
                  }
            }


            validation() {
                  var locale_msg = this.$i18n.messages.wv;
                  if (!this.templateItem.htmlStr.trim()) {
                        this.$message(locale_msg.page.warning02);
                        return false;
                  }

                  try {
                        var data = this.getTestData();
                  } catch (e) {
                        this.$message(locale_msg.page.confirmTest);
                        return false;
                  }

                  return true;
            }

            getTestData() {
                  var trimDataStr = this.templateItem.dataStr.trim();

                  if (!trimDataStr) {
                        trimDataStr = "{}";
                  }

                  var str = '{"data" :' + trimDataStr + "}";
                  var json = JSON.parse(str);

                  return json.data;
            }

            getInstanceStyle() {
                  var trimStr = this.templateItem.styleStr.trim();


                  if (!trimStr) {
                        return '';
                  }

                  var selectorStr = "#draw-target ";

                  trimStr = trimStr.replace(/@app/gi, selectorStr);

                  return trimStr;
            }

            hide() {
                  var self = this;
                  var locale_msg = this.$i18n.messages.wv;
                  this.$confirm(locale_msg.common.confirmExitWindow, 'Confirm', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(function () {
                        self._onHidden();
                  }).catch(function () {

                  });
            }


            _onHidden() {
                  this.$modal.hide('template-comp-extension');
            }

            _onOk() {
                  var locale_msg = this.$i18n.messages.wv;
                  this.extensionProperties = {
                        "tmpl": this.templateItem.htmlStr,
                        "tmpl_style": this.templateItem.styleStr,
                        "tmpl_test_data": this.templateItem.dataStr
                  };

                  this.$message.success(locale_msg.common.successSave);
            }


            onHtmlEditorInit(editor) {
                  this.htmlEditor = editor;

                  if (this.htmlEditorIsInit == false) {
                        this.htmlEditorIsInit = true;
                        require('brace/mode/html');
                        require('brace/theme/chaos');
                        editor.$blockScrolling = Infinity;
                        editor.getSession().setUseWorker(true);
                        editor.getSession().setUseWrapMode(true);
                        editor.getSession().setWrapLimitRange(null, null);
                        editor.getSession().setTabSize(2);
                  }
            }

            onStyleEditorInit(editor) {
                  this.styleEditor = editor;

                  if (this.styleEditorIsInit == false) {
                        this.styleEditorIsInit = true;
                        require('brace/mode/stylus');
                        require('brace/theme/chaos');
                        editor.$blockScrolling = Infinity;
                        editor.getSession().setUseWorker(true);
                        editor.getSession().setUseWrapMode(true);
                        editor.getSession().setWrapLimitRange(null, null);
                        editor.getSession().setTabSize(2);
                  }
            }

            onDataEditorInit(editor) {
                  this.dataEditor = editor;

                  if (this.dataEditorIsInit == false) {
                        this.dataEditorIsInit = true;
                        require('brace/mode/json');
                        require('brace/theme/chaos');
                        editor.$blockScrolling = Infinity;
                        editor.getSession().setUseWorker(true);
                        editor.getSession().setUseWrapMode(true);
                        editor.getSession().setWrapLimitRange(null, null);
                        editor.getSession().setTabSize(2);
                  }
            }

            resizeEditorArea(size) {
                  if (this.htmlEditor && this.styleEditor && this.dataEditor) {
                        this.htmlEditor.resize();
                        this.styleEditor.resize();
                        this.dataEditor.resize();
                  }
            }
      }

</script>

<style scoped>
      .wrap {
            flex:1;
            display: flex;
            flex-direction: column;
      }

      .wrap .preview {
            flex: 1;
            overflow: auto;
            height: 100%;
            background-color: #161616;
            /*border: 1px solid #2d333b;*/
            /*border-top: none;*/
            position: relative;
            display: flex;
      }

      .wrap .insert-form {
            height: 100%;
            display: flex;
            background-color: #161616;
      }

      .wrap .preview .preview-wrap {
            flex: 1;
            overflow: auto;

      }

      .wrap .preview-wrap:before,
      .wrap .insert-form .txt-wrap:before {
            content: '';
            display: inline-block;
            padding: 2px 6px 0 2px;
            position: absolute;
            color: #cfd0d2;
            top: 0;
            right: 0;
      }

      .wrap .preview-wrap:before {
            content: 'Preview';
      }

</style>

