<template>
      <modal
            id="template-manager-popup"
            name="template-manager-popup"
            class="w-modal modal-tabs template-manager-popup"
            @opened="modalOpened"
            :click-to-close="false"
            :resizable="true"
            :width="1100"
            :height="600"
            :min-width="1100"
            :min-height="600"
            @resize="modalResized"
            draggable=".modal-header">

            <div class="modal-header">
                  <h4>Template Manager</h4>
                  <a class="close-modal-btn" role="button" @click="_onHidden">
                        <i class="el-icon-error"></i>
                  </a>
            </div>

            <div class="modal-body" style="padding: 0 12px 12px 12px;">
                  <div class="item-list-area">


                        <div class="file-top-ui">
                              <a class="upload-btn" role="button">{{$t('common.importFile')}}
                                    <input type="file" accept=".json, json/*" @change="processFile">
                              </a>
                              <el-button class="template-export-btn" style="margin-left:5px;" size="small" type=""
                                         :disabled="!customCategories.length" round @click="onFileExportBtn">
                                    {{$t('common.exportFile')}}
                              </el-button>
                        </div>


                        <el-tabs type="border-card" style="box-shadow: none; flex: 1; overflow: hidden;"
                                 v-model="activeName" @tab-click="handleClick">

                              <!-- Renobit Template List 화면 -->
                              <el-tab-pane label="Basic" name="renobit">
                                    <el-form>
                                          <el-form-item>
                                                <el-input size="small"
                                                          v-model="searchString"
                                                          placeholder="Search Template" clearable></el-input>
                                          </el-form-item>
                                    </el-form>
                                    <div style="height: 100%; overflow-y: scroll; overflow-x: hidden">
                                          <el-collapse v-for="(category,index) in defaultCategories" :key="category.id"
                                                       v-model="activeNames"
                                                       style="cursor: default;">

                                                <el-collapse-item :title="category.text" :name="index">
                                                      <ul>
                                                            <li v-for="item in searchedDefaultItems[category.id]"
                                                                @click="onDefaultSelectedItem(item.id)"
                                                                style="cursor: pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                                                :class="{active: activeBind(item.id)}">{{item.text}}
                                                            </li>
                                                      </ul>
                                                </el-collapse-item>
                                          </el-collapse>
                                    </div>
                              </el-tab-pane>


                              <!-- Custom Template List 화면 -->
                              <el-tab-pane label="Custom" style="width:100%; overflow-x:hidden;" name="custom">
                                    <el-form>
                                          <el-form-item style="line-height: normal;">
                                                <el-input size="small"
                                                          v-model="newCategory"
                                                          placeholder="New Category" style="height:28px;"></el-input>
                                                <el-button type="success" size="small" @click="onNewCategory()"
                                                           style="margin-left:5px;height:28px;padding:0;width:55px;">Add
                                                </el-button>
                                          </el-form-item>
                                    </el-form>

                                    <div style="flex:1; overflow-y: scroll; overflow-x: hidden;">
                                          <el-collapse v-for="(category, index) in customCategories"
                                                       :key="category.id"
                                                       v-model="activeNames"
                                                       style="cursor: default;">

                                                <el-collapse-item :name="index">

                                                      <template slot="title">
                                                            <template v-if="!category.isEditMode">
                                                                  <span style="flex-basis: 84%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{category.text}}</span>
                                                                  <span style="flex-basis: 8%; margin-right:2px; cursor: pointer"
                                                                        class="header-icon el-icon-edit"
                                                                        @click.stop="editCategory(category)"></span>
                                                            </template>
                                                            <template v-else>
                                                                  <el-input type="text" size="small"
                                                                            style="flex-basis: 80%; padding-right: 5px;"
                                                                            v-model="categoryName"></el-input>
                                                                  <span style="flex-basis: 8%; margin-right:2px;"
                                                                        class="header-icon el-icon-check"
                                                                        @click.stop="editCategoryDone(category)"></span>
                                                            </template>
                                                            <span style="flex-basis: 10%;"
                                                                  class="header-icon el-icon-delete"
                                                                  @click.stop="deleteCategory(category.id)"></span>
                                                      </template>

                                                      <div v-for="item in customItems[category.id]"
                                                           class="custom-template-items"
                                                           :class="{active: activeBind(item.id)}"
                                                      >
                                                            <span @click="onCustomSelectedItem(item.id)"
                                                                  id="template-items"
                                                                  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.text}}</span>
                                                            <i class="header-icon el-icon-delete"
                                                               style="flex-basis:10%;"
                                                               @click="onDeleteItem(item.id)"></i>
                                                      </div>
                                                      <span @click="onNewItem(category.id)" class="new-item-button">
                                                            <i class="header-icon el-icon-plus"
                                                               style="font-size: 14px; line-height: 24px;"></i>
                                                      </span>
                                                </el-collapse-item>
                                          </el-collapse>
                                    </div>
                              </el-tab-pane>


                              <!-- File Export 버튼 클릭시 -->
                              <template v-if="isFileExportMode">
                                    <el-tab-pane label="Export" style="width:100%; overflow-x:hidden;" name="export">
                                          <el-button type="success" size="small" @click="onFileExporting()"
                                                     style="margin:5px;">File Export
                                          </el-button>

                                          <div style="flex:1; overflow-y: scroll; overflow-x: hidden;">
                                                <el-checkbox v-model="selectAll"
                                                             style="margin-left: 5px;">
                                                      {{selectAll ? locale_msg.templateManager.deselectAll :
                                                      locale_msg.templateManager.selectAll}}
                                                </el-checkbox>
                                                <el-tree
                                                      :data="customTreeData"
                                                      show-checkbox
                                                      node-key="id"
                                                      :default-expanded-keys="defaultExpandedTreeKey"
                                                      :default-checked-keys="defaultSelectedTreeKey"
                                                      :props="{children: 'children', label: 'text'}"
                                                      ref="customTemplateTree"
                                                >
                                                </el-tree>
                                          </div>

                                    </el-tab-pane>
                              </template>


                        </el-tabs>
                  </div>
                  <div class="temp-area">
                        <div class="top-ui">
                              <div class="top-ui-left">
                                    <div class="txt-name">
                                          <span style="display: inline-block;">Name : </span>
                                          <el-input class="flex" size="small" v-model="templateName"
                                                    style="margin-left:5px; width:200px;flex: 200px !important;">{{ templateName }}
                                          </el-input>
                                    </div>
                                    <el-button size="small" type="primary" @click="renderTmpl"
                                               :disabled="noSelectedItem">
                                          <i style="margin-left: -7px;" class="el-icon-caret-right"></i>
                                          Run
                                    </el-button>

                                    <el-button type="primary" size="small" style="margin-left: 2px;"
                                               @click="beforeSave('saveAs')" :disabled="noSelectedItem">
                                          <i style="margin-left:-7px; margin-right: 4px;" class="el-icon-check"></i>
                                          Save As
                                    </el-button>

                                    <el-button type="success" size="small" style="margin-left:2px;" @click="beforeSave('save')"
                                               v-show="!isRenobitTab" :disabled="noSelectedItem">
                                          <i style="margin-left: -7px;margin-right: 4px;" class="el-icon-check"></i>
                                          Save
                                    </el-button>
                              </div>
                              <div class="top-ui-right">
                                    <el-button type="danger" size="small" style="margin-left:2px;" @click="onApplyBtn()"
                                               v-show="!onlyEditMode && selectedItem" :disabled="noSelectedItem">
                                          <i style="margin-left: -7px;margin-right: 4px;" class="el-icon-check"></i>
                                          Apply
                                    </el-button>
                              </div>
                        </div>
                        <div style="flex: 1; display:flex;" v-show="!noSelectedItem">
                              <template-manager-setting ref="setting"></template-manager-setting>
                        </div>
                        <div style="flex: 1; background: #DADBDC; display: flex; justify-content: center; align-items: center;"
                             v-show="noSelectedItem">
                              <p style="">{{locale_msg.templateManager.selectTem}}</p>
                        </div>
                  </div>
            </div>

      </modal>
</template>
<script lang="ts">
      import {Component, Vue, Watch} from "vue-property-decorator";
      import TemplateManagerSetting from "./TemplateManagerSetting";
      import EditorStatic from "../../../controller/editor/EditorStatic";
      import FileManager from '../../../../wemb/wv/managers/FileManager';
      // import {ObjectUtil} from "../../../../wemb/utils/Util";

      @Component({
            components: {
                  TemplateManagerSetting
            }
      })
      export default class TemplateManagerModal extends Vue {
            public newCategory: string = "";
            public selectedItem: object = null;
            public noSelectedItem: boolean = true;

            public emptyItem: object = {htmlStr: "", styleStr: "", dataStr: "", id: ""};
            public defaultItems: Array<any> = [];
            public defaultCategories: Array<any> = [];
            public customItems: Array<any> = [];
            public customCategories: Array<any> = [];


            public categoryName: string = "";
            public templateName: string = "";

            //액티브 탭 확인
            public activeName: string = "renobit";

            //액티브 아코디언 확인
            public activeNames: any = [];
            ///////////////////////////////////////

            public customData: Array<any> = [];
            public customTreeData: Array<any> = [];
            public defaultExpandedTreeKey: Array<any> = [];
            public defaultSelectedTreeKey: Array<any> = [];

            public isFileExportMode: boolean = false;
            public selectAll: boolean = true;

            //////////////////////////////////////

            public isRenobitTab: boolean = true;

            public onlyEditMode: boolean = false;

            public currentPromise: any = {
                  resolve: null,
                  reject: null
            };

            public locale_msg: any = Vue.$i18n.messages.wv;


            public searchString: string = '';
            public searchedDefaultItems: Array<any> = [];


            mounted() {
                  this.getDefaultData();
                  this.getCustomData();
                  this.bindJsonUpdateEvent();

            }

            @Watch('searchString', {immediate: true})
            onChangeSearchString(newStr: string, oldVal: string){
                this.search(newStr);
            }

            search(searchString){
                this.defaultCategories.forEach((category, index) => {
                    this.searchedDefaultItems[category.id] = this.defaultItems[category.id].filter(item => item.text.toLowerCase().includes(searchString.toLowerCase()));
                    this.activeNames.push(index);
                })
            }

            //비동기 데이터 가져오기
            async getDefaultData() {
                  //selectItem 최신 데이터로 업데이트 해주기..MODEL에서 id로 item조회 메소드 추가
                  if (this.selectedItem) {
                        this.selectedItem = window.wemb.templateDataManager.getItemById(this.selectedItem);
                  }

                  await window.wemb.templateDataManager.loadDefaultData();
                  this.updateDefaultData();
            }

            //가져와서 모달 컴포넌트 필드에 캐싱하기
            updateDefaultData() {
                  //카테고리 데이터
                  let list = $.extend(true, [], window.wemb.templateDataManager._defaultCategories);
                  list = list.map((x) => {
                        x.isEditMode = false;
                        return x;
                  });

                  this.defaultCategories.splice(0, this.defaultCategories.length);
                  this.defaultCategories.push(...list);

                  //카테고리에 해당하는 아이템 데이터
                  this.defaultItems = window.wemb.templateDataManager._defaultItems;
                  this.search(this.searchString);
            }


            //비동기 데이터 가져오기
            async getCustomData() {
                  //selectItem 최신 데이터로 업데이트 해주기..MODEL에서 id로 item조회 메소드 추가
                  if (this.selectedItem) {
                        this.selectedItem = window.wemb.templateDataManager.getItemById(this.selectedItem.id);
                  }

                  await window.wemb.templateDataManager.loadCustomData();
                  this.updateCustomData();
            }

            //가져와서 모달 컴포넌트 필드에 캐싱하기
            updateCustomData() {
                  //카테고리 데이터
                  let list = $.extend(true, [], window.wemb.templateDataManager._customCategories);
                  list = list.map((x) => {
                        x.isEditMode = false;
                        return x;
                  });

                  this.customCategories.splice(0, this.customCategories.length);
                  this.customCategories.push(...list);

                  //카테고리에 해당하는 아이템 데이터
                  this.customItems = window.wemb.templateDataManager._customItems;

                  this.updateCustomTreeData();

            }

            updateCustomTreeData() {
                  this.customData = window.wemb.templateDataManager._customData;
                  this.defaultExpandedTreeKey = [];
                  this.defaultSelectedTreeKey = [];

                  let temp = this.customData.filter(x => {
                        return x.type === 'group'
                  });
                  for (let i = 0; i < temp.length; i++) {
                        temp[i]['children'] = [];
                        this.defaultExpandedTreeKey.push(temp[i].id);
                        this.defaultSelectedTreeKey.push(temp[i].id);

                  }
                  for (let i = 0; i < this.customData.length; i++) {
                        for (let q = 0; q < temp.length; q++) {
                              if (this.customData[i].parent === temp[q].id) {
                                    temp[q]['children'].push(this.customData[i]);
                                    this.defaultSelectedTreeKey.push(this.customData[i].id);
                              }
                        }

                  }
                  this.customTreeData = temp;
                  this.selectAll = true;
            }


            bindJsonUpdateEvent() {
                  window.wemb.templateDataManager.$bus.$on("template_manager_update", this.getCustomData);
            }

            ////////////////////////////////////////////////////////////////////////////////////////////////////////////

            //Renobit Tab의 경우 Save버튼 숨기기 위한 로직
            handleClick() {
                  if (this.activeName === "renobit") {
                        this.isRenobitTab = true;
                  } else if (this.activeName === "custom") {
                        this.isRenobitTab = false;
                  }
            }

            //클릭한 아이템에 active 클래스 추가하기 위한 로직
            activeBind(id) {
                  return this.selectedItem != null && this.selectedItem.id == id;

            }

            ////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //카테고리 추가 버튼클릭으로 새로운 카테고리 추가하기
            onNewCategory() {

                  //모델의 addNewCategory메소드에 input으로 받은 newCategory 스트링 넘겨주고
                  //카테고리를 추가한다.
                  window.wemb.templateDataManager.addNewCategory(this.newCategory);

                  //카테고리 추가 후 input 필드 클리어 해주기
                  this.newCategory = "";
            }


            editCategory(category) {
                  category.isEditMode = true;
                  this.categoryName = category.text;
            }

            editCategoryDone(category) {
                  window.wemb.templateDataManager.editCategoryName(category.id, this.categoryName);
                  category.isEditMode = false;
            }


            deleteCategory(id) {
                  let confirmAnswer = window.confirm(this.locale_msg.common.confirmDelete);
                  if (confirmAnswer) {
                        if (this.selectedItem) {
                              if (this.selectedItem.parent === id) {
                                    window.wemb.templateDataManager.deleteCategory(id);
                                    this.updateSelectedData(this.selectedItem);
                                    this.noSelectedItemProcess();
                              }
                        }
                        window.wemb.templateDataManager.deleteCategory(id);
                  }
            }

            ////////////////////////////////////////////////////////////////////////////////////////////////////////////

            //아이템 추가 버튼 클릭으로 새로운 아이템 추가하기
            //Param 해당 카테고리(부모)의 아이디
            onNewItem(id) {
                  let newItem = {};

                  //만약에 마지막으로 선택된 데이터와
                  //현재 편집중인 데이터가 다르지 않다면
                  if (this.saveBeforeAnotherItem()) {

                        //부모의 아이디를 parentId로 설정하기 위해 Param으로 넘겨주고
                        //새로운 아이템을 생성한다.
                        newItem = window.wemb.templateDataManager.addNewItem(id);


                        //새로운 아이템이 만들어지면서 선택 상태가 될 수 있게
                        //setting 컴포넌트에 보내 업데이트 해준다.
                        this.updateSelectedData(newItem);

                        if (this.noSelectedItem) {
                              this.noSelectedItem = false;
                        }
                  }

            }


            //Renobit Tab에서 아이템 클릭시
            //Param 선택한 아이템의 아이디
            onDefaultSelectedItem(id) {
                  this.noSelectedItem = false;
                  let defaultSelectedItem = window.wemb.templateDataManager.defaultSelectedItem(id);
                  this.updateSelectedData(defaultSelectedItem);
            }


            //아이템 목록에서 아이템 클릭시
            //Param 선택한 아이템의 Id
            onCustomSelectedItem(id) {
                  this.noSelectedItem = false;
                  //기존 데이터에 변동이 없거나 저장후엔
                  if (this.saveBeforeAnotherItem()) {

                        //선택된 아이템 객체 찾아오기
                        let customSelectedItem = window.wemb.templateDataManager.customSelectedItem(id);

                        //받아온 후에 setting 컴포넌트에 해당 데이터 보내주기
                        this.updateSelectedData(customSelectedItem);
                  }

            }


            //새로운 아이템 출력전에 기존 데이터에 변동이 있는지 체크하고 저장하기
            saveBeforeAnotherItem() {

                  //만약 현재 선택된 아이템이 없으면 true
                  if (!this.selectedItem) {
                        return true;
                  }

                  //Old data = 마지막으로 선택된 상태의 아이템 데이터
                  let oldDataStr = JSON.stringify(this.selectedItem);

                  //New Data = setting 창에서 현재 편집중인 데이터
                  let newData = this.$refs.setting.getTemplateItem();

                  let newDataStr = JSON.stringify(newData);

                  //두개를 비교해서 다른 경우 경고 메세지 출력
                  if (oldDataStr != newDataStr) {
                        return window.confirm(this.locale_msg.templateManager.editWarning);
                  } else {
                        //같을 경우 true리턴
                        return true;
                  }

            }

            beforeSave(saveType) {
                  if (this.selectedItem) {
                      let checkCssTemplate = window.wemb.templateDataManager.checkCssTemplate(this.$refs.setting.getTemplateItem());
                      if (checkCssTemplate) {
                          Vue.$confirm(this.locale_msg.templateManager.hasCssTemplate, 'Warning', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                          }).then(() => {
                              saveType === 'save' ? this.save() : this.saveAs();
                          }).catch(error => {
                              console.log('error', error)
                          })
                      } else {
                          saveType === 'save' ? this.save() : this.saveAs();
                      }
                  }
            }

            save() {
                //현재 선택(편집)중인 데이터를 받아와서 변동 여부 확인하지 않고 바로 저장하기
                let savedData = window.wemb.templateDataManager.saveItem(this.$refs.setting.getTemplateItem(), this.templateName);

                //변경이 되든 안되든 저장된 새로운 데이터를 updateSelectedData로 보내줘서 최신 상태로 유지하기
                this.updateSelectedData(savedData);
            }


            onApplyBtn() {
                  //Old data = 마지막으로 선택된 상태의 아이템 데이터
                  let oldDataStr = JSON.stringify(this.selectedItem);
                  //New Data = setting 창에서 현재 편집중인 데이터
                  let newData = this.$refs.setting.getTemplateItem();
                  let newDataStr = JSON.stringify(newData);
                  let templateList = window.wemb.templateDataManager.concatData;

                  //어플라이 버튼을 눌렀을 때, 기존 데이터에서 변경 내용이 있다면
                  if (oldDataStr != newDataStr) {
                        //만약 현재 선택한 아이템이 custom 카테고리라면
                        if (this.customCategories.find(x => x.id === this.selectedItem.parent)) {
                              //기존 item에 저장 후 apply할건지 확인
                              this.$confirm(this.locale_msg.templateManager.applyAfterSave, this.locale_msg.common.notification, {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'info'
                              }).then(() => {
                                          this.onSaveBtn();
                                          this.currentPromise.resolve({
                                                template: templateList.find(x => x.id == this.selectedItem.id)
                                          });
                                          this.$message(this.locale_msg.templateManager.properlyApplied);
                                          this.hide();
                                    }, (error) => {
                                          let message = this.locale_msg.common.errorExecute + this.locale_msg.common.retry;
                                          this.$message.error(message);
                                    }
                              )
                        } else {
                              this.$message(this.locale_msg.templateManager.applyAfterSaveAs);
                        }
                  } else {
                        this.currentPromise.resolve({
                              template: templateList.find(x => x.id == this.selectedItem.id)
                        });
                        this.$message(this.locale_msg.templateManager.properlyApplied);
                        this.hide();
                  }
            }

            saveAs() {
                if(this.customCategories.length !== 0){
                    if (this.selectedItem) {
                        let saveAsStr = `
                        <div style="width:390px; padding:10px;">
                          <div style="display:flex; align-items: center; padding:10px;">
                                <div style="flex:1; text-align:right; margin-right:10px">Custom Categories </div>
                                <div style="flex:1;">
                                <select id="SaveAsSelectCategory" style="width:100%; height:24px; border: 1px solid #666666; border-radius: 3px;">
                        `;

                        this.customCategories.forEach((category) => {
                            saveAsStr += '<option value="' + category.id + '">' + category.text + '</option>'
                        });

                        saveAsStr += `</select></div> </div>

                        <div style="display:flex; padding:10px;  align-items: center; ">
                            <span style="flex:1; text-align:right; margin-right:10px;">Template Name </span>
                            <input id="SaveAsNewCategoryName" style="width:49%; height:24px; border: 1px solid #666666; border-radius: 3px;">
                          </div>
                        </div>
                        `;

                        this.$alert(saveAsStr, 'Save As',
                            {
                                dangerouslyUseHTMLString: true,
                                beforeClose: (action, instance, done) => {
                                    let categoryId = ($("#SaveAsSelectCategory").val());
                                    let templateName = ($("#SaveAsNewCategoryName").val());
                                    if (action === "confirm") {
                                        if (categoryId && templateName) {
                                            let saveAsItem = window.wemb.templateDataManager.itemSaveAs(this.$refs.setting.getTemplateItem(), categoryId, templateName);
                                            this.templateName = saveAsItem.text;
                                            this.isRenobitTab = false;
                                            this.activeName = "custom";
                                            this.updateSelectedData(saveAsItem);
                                            this.$message.success(this.locale_msg.templateManager.sucSaveAs);
                                            $("#SaveAsNewCategoryName").val("");
                                            done();
                                        } else {
                                            this.$message.error(this.locale_msg.templateManager.putName);
                                        }
                                    } else {
                                        done();
                                    }
                                }
                            }).then(value => {
                            console.log('value', value);
                        }, reason => {
                            console.log('reason', reason);
                        });

                    } else {
                        this.$message.error(this.locale_msg.templateManager.noSelectedTem);
                    }
                }else{
                    this.$message.info(this.locale_msg.templateManager.noCustomCategory);
                }
            }


            onDeleteItem(id) {
                  if (this.selectedItem) {
                        if (id === this.selectedItem.id) {
                              window.wemb.templateDataManager.deleteItem(id);
                              this.noSelectedItemProcess();
                              this.updateSelectedData(this.selectedItem);
                        } else {
                              window.wemb.templateDataManager.deleteItem(id);
                        }
                  } else {
                        window.wemb.templateDataManager.deleteItem(id);
                  }

            }


            //선택한 아이템 객체를 setting 컴포넌트에 보내주기
            //Param 선택한 아이템
            updateSelectedData(item) {
                  //만약에 선택된 아이템이 null이라면
                  if (!item) {
                        //선택된 템플릿 없게 보이기 후
                        this.noSelectedItem = true;
                        return;
                  }
                  this.selectedItem = item;

                  //templateName은 item.text이다.
                  this.templateName = this.selectedItem.text;

                  this.$refs.setting.updateSelectedData(item);

            }


            noSelectedItemProcess() {
                  this.noSelectedItem = true;
                  this.selectedItem = null;
                  this.templateName = "";
            }


            renderTmpl() {
                  this.$refs.setting.renderTmpl();
            }


            ////////////////////////////////////////////////////////////////////////////////////////////////////////////

            onFileExportBtn() {
                  this.activeName = "export";
                  this.isRenobitTab = false;
                  this.isFileExportMode = true;
                  this.noSelectedItemProcess();
            }

            @Watch('selectAll')
            selectAllHandle() {
                  if (this.$refs.customTemplateTree) {
                        if (this.selectAll) {
                              this.$refs.customTemplateTree.setCheckedKeys(this.defaultSelectedTreeKey);
                        } else {
                              this.$refs.customTemplateTree.setCheckedKeys([]);
                        }
                  }
            }

            onFileExporting() {
                  let temp = this.$refs.customTemplateTree.getCheckedNodes();

                  //아이템만 선택한 경우 카테고리까지 같이 내보내기
                  let tempParentArr = [];
                  temp.forEach((x) => {
                        if (x.parent !== 'wv_root') {
                              tempParentArr.push(x.parent);
                        }
                  })

                  let tempParent = tempParentArr.filter((item, idx, array) => {
                        return array.indexOf(item) === idx;
                  })


                  let tempCategories = this.customData.filter((x) => {
                        for (let i = 0; i < tempParent.length; i++) {
                              if (x.id === tempParent[i]) {
                                    return x;
                              }
                        }
                  })

                  tempCategories.forEach((x) => {
                        if (!temp.includes(x)) {
                              temp.push(x);
                        }
                  })

                  let jsonStr = JSON.stringify({"template": temp});
                  window.wemb.templateDataManager.exportTemplateAsFile(jsonStr);

                  this.isFileExportMode = false;
                  this.activeName = "custom";
            }


            processFile(e) {
                  window.wemb.templateDataManager.importTemplateFromFile(e.target.files[0]);
            }

            ////////////////////////////////////////////////////////////////////////////////////////////////////////////

            //모달 메소드들
            show(templateId: string = null, onlyEditMode) {
                  this.onlyEditMode = onlyEditMode;

                  this.selectedItem = window.wemb.templateDataManager.concatData.find(x => x.id == templateId);

                  this.noSelectedItem = !this.selectedItem;

                  this.$modal.show("template-manager-popup");

                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);

                  if (!this.onlyEditMode) {
                        return new Promise((resolve, reject) => {
                              this.currentPromise.resolve = resolve;
                              this.currentPromise.reject = reject;
                        });

                  }
            }

            modalOpened() {
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
                  if (this.selectedItem) {
                        this.noSelectedItem = false;
                        this.updateSelectedData(window.wemb.templateDataManager.concatData.find(x => x.id == this.selectedItem.id));

                        if (this.customCategories.find(x => x.id === this.selectedItem.parent)) {
                              this.activeName = "custom"
                        }

                        if (this.defaultCategories.find(x => x.id === this.selectedItem.parent)) {
                              this.activeName = "renobit"
                        }

                        this.handleClick();
                  }
            }

            modalResized() {
                  this.$refs.setting.resizeEditorArea();
            }

            _onHidden() {
                  this.$confirm(this.locale_msg.common.confirmExitWindow, this.locale_msg.common.notification, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(() => {
                        this.hide();
                  }, (error) => {
                        console.log('template manager onHidden error', error);
                  });
            }

            hide() {
                  this.noSelectedItemProcess();
                  this.isFileExportMode = false;
                  this.$modal.hide("template-manager-popup");
                  window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
            }

            ////////////////////////////////////////////////////////////


      }

</script>

<style scoped>
      #template-manager-popup .item-list-area {
            display: flex;
            flex-direction: column;
            width: 250px;
      }


      #template-manager-popup .item-list-area .file-top-ui {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            text-align: left;
      }

      #template-manager-popup .item-list-area .file-top-ui input[type=file] {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            text-indent: -5000px;
      }

      #template-manager-popup .temp-area {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-left: 6px;
      }

      #template-manager-popup .temp-area .top-ui {
            height: 50px;
            display: flex;
            width: 100%;
            align-items: center;
            padding-left: 15px;
      }

      #template-manager-popup .temp-area .top-ui-left {
            width: 470px;
            display: flex;
            justify-content: flex-start;
      }

      #template-manager-popup .temp-area .top-ui .txt-name {
            /*flex: 1 1 0%;*/
            display: flex;
            align-items: center;
            margin-right: 4px;
            /* justify-content: center; */
            background-color: white;
      }


      #template-manager-popup .temp-area .top-ui-right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
      }

      #template-manager-popup >>> .el-collapse {
            border-top: none;
      }

      #template-manager-popup >>> .el-collapse-item .el-collapse-item__header i {
            display: none;
      }

      #template-manager-popup >>> .el-collapse-item .el-collapse-item__header {
            display: flex;
            align-items: center;
            padding-left: 14px;
            height: 35px;
            line-height: 35px;
      }

      #template-manager-popup >>> .el-collapse-item .el-collapse-item__content li {
            padding-left: 28px;
            height: 30px;
            line-height: 30px;
      }

      #template-manager-popup >>> .el-collapse-item .el-collapse-item__content > ul > li:odd {
            background-color: #f1f1f1;
      }

      #template-manager-popup >>> .el-collapse-item .el-collapse-item__content li.active {
            background-color: #4690e5;
            color: #fff;
      }

      #template-manager-popup >>> #template-items {
            flex-basis: 90%;
      }

      #template-manager-popup >>> .el-collapse-item__content {
            padding-bottom: 0px;
      }

      #template-manager-popup >>> .el-form-item {
            margin-bottom: 0px;
      }

      #template-manager-popup >>> .el-form-item__content {
            display: flex;
            padding: 6px;
            line-height: normal;
      }

      #template-manager-popup >>> .el-button el-button--warning el-button--small {
            margin-left: unset;
      }

      #template-manager-popup >>> .custom-template-items {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 28px;
            height: 30px;
            line-height: 30px;
      }

      #template-manager-popup >>> .custom-template-items.active {
            background-color: #4690e5;
            color: #fff;
      }


      #template-manager-popup >>> .custom-template-export-items {
            display: flex;
            height: 30px;
            line-height: 30px;
            margin-left: 28px;
      }

      #template-manager-popup >>> .el-collapse-item .el-collapse-item__header {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
      }

      #template-manager-popup >>> .el-tab-pane {
            height: 100%;
            display: flex;
            flex-direction: column;
      }

      #template-manager-popup >>> .el-tab-pane > .el-form {
            height: 40px;
      }

      #template-manager-popup >>> .el-tabs {
            display: flex;
            flex-direction: column;
      }

      #template-manager-popup >>> .el-tabs__header {
            height: 33px;
      }

      #template-manager-popup >>> .el-tabs__content {
            flex: 1;
            padding: 0px;
      }


      #template-manager-popup a.upload-btn {
            -webkit-appearance: none;
            display: inline-block;
            position: relative;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #d8dce5;
            border-color: #d8dce5;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            margin: 0;
            transition: .1s;
            font-weight: 500;
            padding: 7px 13px;
            font-size: 12px;
            border-radius: 20px;
            color: #fff !important;
            background-color: #363a45;
            border-color: #363a45;
      }

      #template-manager-popup a.upload-btn:hover {
            background: #5e616a;
            border-color: #5e616a;
            color: #fff;
      }

      #template-manager-popup >>> .el-checkbox__label {
            font-size: 12px;
            color: #5a5e66;
      }

      #template-manager-popup >>> .new-item-button {
            cursor: pointer;
            display: block;
            text-align: center;
            background: #b2b4b6;
            color: #fff;
            border-radius: 4px;
            margin: 4px;
            line-height: 24px;
      }

      #template-manager-popup >>> .new-item-button:hover {
            background: #828588;
      }
</style>
