<template>
	<div class="edit-area-toolbar-wrap">
		<div class="w-btn-group">
			<el-tooltip class="item" effect="dark" content="hidden left aside" placement="top">
				<button class="w-btn img-icon-btn icon-tab-left" @click="onLeftAside" :class="{'active' : asideButtons.left }">hidden tab left</button>
			</el-tooltip>
			<el-tooltip class="item" effect="dark" content="hidden right aside" placement="top">
				<button class="w-btn img-icon-btn icon-tab-right" @click="onRightAside" :class="{'active' : asideButtons.right }">hidden tab right</button>
			</el-tooltip>
		</div>

		<div class="layer-group">
			<div class="w-btn-group">
				<el-tooltip class="item" effect="dark" content="layer" placement="top">
					<span class="w-btn img-icon-btn icon-layer">layer</span>
				</el-tooltip>
				<button class="w-btn img-icon-btn icon-m nhover" :class="{'active' : activeLayerName == TEMP_WORK_LAYERS.MASTER_LAYER }"
				        :disabled="!layerButtons.masterLayer || pageType === 'master'"
				        @click="changeActiveLayer(TEMP_WORK_LAYERS.MASTER_LAYER )">M
				</button>
				<button class="w-btn img-icon-btn icon-2d nhover" :class="{'active' : activeLayerName == TEMP_WORK_LAYERS.TWO_LAYER }"
				        :disabled="!layerButtons.twoLayer"
				        @click="changeActiveLayer(TEMP_WORK_LAYERS.TWO_LAYER)">2D
				</button>
				<button class="w-btn img-icon-btn icon-3d nhover" :class="{'active' : activeLayerName == TEMP_WORK_LAYERS.THREE_LAYER }"
                                :disabled="!layerButtons.threeLayer || pageType === 'master'"
                                v-show="using3D"
				        @click="changeActiveLayer(TEMP_WORK_LAYERS.THREE_LAYER)">3D
				</button>
			</div>
			<div class="w-btn-group">
				<el-tooltip class="item" effect="dark" content="view" placement="top">
					<span class="w-btn img-icon-btn icon-eye">view</span>
				</el-tooltip>

				<button class="w-btn img-icon-btn icon-m nhover"
				        :class="{'active' : layerVisibleButtons.masterLayer}"
				        :disabled="!active || pageType === 'master'"
				        @click="toggleLayerVisible(TEMP_WORK_LAYERS.MASTER_LAYER)">M
				</button>
				<button class="w-btn img-icon-btn icon-2d nhover"
				        :class="{'active' : layerVisibleButtons.twoLayer}"
				        :disabled="!active "
				        @click="toggleLayerVisible(TEMP_WORK_LAYERS.TWO_LAYER)">2D
				</button>
				<button class="w-btn img-icon-btn icon-3d nhover"
				        :class="{'active' : layerVisibleButtons.threeLayer}"
				        :disabled="!active || pageType === 'master'"
                                v-show="using3D"
				        @click="toggleLayerVisible(TEMP_WORK_LAYERS.THREE_LAYER)">3D
				</button>
			</div>
		</div>

	</div>
</template>

<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import LayerToolbarMediator from "./LayerToolbarMediator";
      import {LayerVisibleVO} from "../../../model/vo/ValueObjects";
      import {WORK_LAYERS} from "../../../../wemb/wv/layer/Layer";



	@Component({
		components: {}
	})
	export default class LayerToolbar extends Vue {
		public static readonly EVENT_CHANGE_ACTIVE_LAYER="event/changeActiveLayer";
		public static readonly EVENT_SET_LAYER_VISIBLE="event/toggleLayerVisible";
		public static readonly EVENT_TOGGLE_LEFT_ASIDE_VISIBLE="event/toggleLeftAsideVisible";
		public static readonly EVENT_TOGGLE_RIGHT_ASIDE_VISIBLE="event/toggleRightAsideVisible";

		public static readonly LAYERS = ['masterLayer', 'twoLayer', 'threeLayer'];

		/* vue에서 STATIC 내용을 사용하기 위해서는 변수로 선언되어 있어야 함 */
		public TEMP_WORK_LAYERS = WORK_LAYERS;


		public layerButtons = {
			masterLayer:false,
			twoLayer:false,
			threeLayer:false
		}

		public layerVisibleButtons = {
			masterLayer:true,
			twoLayer:true ,
			threeLayer:true
		}


		public asideButtons = {
					left:true,
					right:true
				}

		public active:boolean =false;


		public activeLayerName:WORK_LAYERS=WORK_LAYERS.MASTER_LAYER;

            public pageType:string = "master";


            /*
		2018.11.04(ckkim)
		3D 레이어가 활성화 된 경우만 실행.
		 */
            get using3D(){
                  let value = false;

                  try {
                        value = window.wemb.configManager.using3D;
                  }catch(error){

                        value = false;
                  }


                  return value;
            }


		mounted() {
			console.log("step 01, mounted(), LayerToolbar");
			window.wemb.viewComponentMap.set(LayerToolbarMediator.NAME, this);
		}

		onLeftAside(){
			this.$emit(LayerToolbar.EVENT_TOGGLE_LEFT_ASIDE_VISIBLE);
		}

		onRightAside(){
			this.$emit(LayerToolbar.EVENT_TOGGLE_RIGHT_ASIDE_VISIBLE);
		}

		toggleAsidePanelIcon(asideState:any){
			this.asideButtons.left = asideState.left;
			this.asideButtons.right = asideState.right;
		}



		changeActiveLayer(layerName:WORK_LAYERS) {
			this.$emit(LayerToolbar.EVENT_CHANGE_ACTIVE_LAYER, layerName);

		}

		toggleLayerVisible(layerName:WORK_LAYERS) {
			let state:boolean = this.layerVisibleButtons[layerName];
			this.layerVisibleButtons[layerName] = !this.layerVisibleButtons[layerName];
			//this.view.noti_setLayerVisible(mode, state)
			let vo:LayerVisibleVO = new LayerVisibleVO();
			vo.layerName = layerName;
			vo.visible  = this.layerVisibleButtons[layerName];
			this.$emit(LayerToolbar.EVENT_SET_LAYER_VISIBLE,vo);
		}


		//////////////////////////////////////////////////////////////////////











		//////////////////////////////////////////////////////////////////////


		public noti_openPage(page){
			this.active = true;

			LayerToolbar.LAYERS.forEach(layer => {
			    this.layerButtons[layer] = true;
                      this.layerVisibleButtons[layer] = !page.setter[layer].visible;
                      this.toggleLayerVisible(layer);
                  });

			this.pageType = page.primary.type;
		}

		public noti_changeActiveLayer(layerName:WORK_LAYERS){
			this.activeLayerName = layerName;
                  /* 2018.12.02(ckkim) 삭제 예정
				    활성화 된 내용만 보이게 수정.
				    * */

			/*this.layerVisibleButtons.masterLayer = true;
			this.layerVisibleButtons.twoLayer = true;
			this.layerVisibleButtons.threeLayer = true;*/
		}

		public noti_changeLayerVisible(layerVo: LayerVisibleVO) {
                  this.layerVisibleButtons[layerVo.layerName] = layerVo.visible;
              }
	}


</script>

<style scoped>
	.edit-area-toolbar-wrap {
		display: inline;
	}

	.layer-group {
		display: inline;
		margin-right: 16px;
	}
</style>
