<template>
	<div class="edit-area-toolbar-wrap">
		<div class="w-btn-group">
			<el-tooltip class="item" effect="dark" content="new Page" placement="top">
				<button class="w-btn img-icon-btn icon-top-page" @click="onNewPage" :disabled="!pageButtons.newPage">newPage</button>
			</el-tooltip>
			<el-tooltip class="item" effect="dark" content="save" placement="top">
				<button class="w-btn img-icon-btn icon-top-save" @click="onSave"
				        :class="{disabled:!pageButtons.save}" :disabled="!pageButtons.save">save
				</button>
			</el-tooltip>
			<el-tooltip class="item" effect="dark" content="save as" placement="top">
				<button class="w-btn img-icon-btn icon-top-saveas" @click="onSaveAs"
				        :class="{disabled:!pageButtons.saveas}" :disabled="!pageButtons.saveas">save as
				</button>
			</el-tooltip>
			<!--<el-tooltip class="item" effect="dark" content="goto viewer" placement="top">
				<button class="w-btn img-icon-btn icon-top-viewer" @click="onGotoViewer"
				        :class="{disabled:!pageButtons.gotoViewer}"  :disabled="!pageButtons.gotoViewer"
				>Viewer</button>
			</el-tooltip>-->

		</div>
	</div>
</template>

<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import PageToolbarMediator from "./PageToolbarMediator";
      import EditorStatic from "../../../controller/editor/EditorStatic";

	@Component({
		components: {}
	})
	export default class PageToolbar extends Vue {
		public static readonly  EVENT_NEW_PAGE="event/newPage";
            public static readonly  EVENT_SAVE_PAGE="event/savePage";
            public static readonly  EVENT_SAVE_AS_PAGE="event/saveAsPage";
            public static readonly  EVENT_GOTO_VIEWER="event/gotoViewer";

		public pageButtons = {
			newPage: false,
			save: false,
			saveas: false,
			gotoViewer:false
		};


		public editMode:string="";

		mounted() {
			window.wemb.viewComponentMap.set(PageToolbarMediator.NAME, this);
		}



		onNewPage() {
                  this.$emit(PageToolbar.EVENT_NEW_PAGE);
		}


		onSave() {
			this.$emit(PageToolbar.EVENT_SAVE_PAGE);
		}

		onSaveAs() {
                  this.$emit(PageToolbar.EVENT_SAVE_AS_PAGE);
		}

		onGotoViewer() {
                  this.$emit(PageToolbar.EVENT_GOTO_VIEWER);
		}








		//////////////////////////////////////////////////
            public noti_openPage(){

                  this.pageButtons.newPage=true;
                  this.pageButtons.save=false;
                  this.pageButtons.saveas=true;
                  this.pageButtons.gotoViewer=true;

            }


            public noti_closedPage(){
                  this.pageButtons.newPage=false;
                  this.pageButtons.save=false;
                  this.pageButtons.saveas=false;
                  this.pageButtons.gotoViewer=false;
            }

            public noti_changeModified(state:boolean){
                  this.pageButtons.save=state;

            }


	}


</script>

<style scoped>
	.edit-area-toolbar-wrap {
		display: inline;
	}

	.layer-group {
		display: inline;
		margin-right: 16px;
	}
</style>
