<template>
      <div class="restapi-type-fields">
            <h5>Rest API Setting</h5>
            <div class="d-flex">
                  <el-select size="mini" v-model="method">
                        <el-option v-for="item in REST_API_METHOD" :key="item" :value="item"></el-option>
                  </el-select>
                  <el-input v-model="url" size="mini" placeholder="URL"></el-input>
            </div>
            <h5>Options</h5>
            <editor id="option-editor" class="script-editor" v-model="options" @init="onEditorInit" :lang="ACE_EDITOR_TYPE" :theme="ACE_EDITOR_THEME"></editor>
            <p>Reference : <a href="http://api.jquery.com/jquery.ajax/" target="_blank">http://api.jquery.com/jquery.ajax/</a></p>
      </div>
</template>
<script lang="ts">
      import {Component, Vue} from 'vue-property-decorator'
      declare function require(moduleName: string): any;

      @Component({
            components: {
                  editor: require('vue2-ace-editor')
            }
      })
      export default class DatasetRestApiFieldsComponent extends Vue {
            public readonly REST_API_METHOD = ["POST", "GET", "PUT", "DELETE", "PATCH"];
            public readonly ACE_EDITOR_TYPE = 'json';
            public readonly ACE_EDITOR_THEME = 'terminal';

            public method: string = "GET";
            public url: string = "";
            public options: string = "";

            public isInit:boolean = false;
            private editor:any;

            setData(data: string) {
                  try {
                        if (data && data.length > 0) {
                              let info = JSON.parse(data);
                              let options = JSON.parse(data);
                              this.url = info.url;
                              this.method = info.method;
                              delete options.url;
                              delete options.method;
                              this.options = JSON.stringify(options);
                        }
                  } catch {}
            }

            getData(): string {
                  let rest_info = {url: this.url, method: this.method};;
                  try {
                        if(this.options && this.options.length > 0) {
                              rest_info = {...rest_info, ...JSON.parse(this.options)}
                        }
                  } catch {}

                  return JSON.stringify(rest_info);
            }

            onEditorInit(editor) {
                  if(this.isInit==false) {
                        this.isInit = true;
                        this.editor = editor;
                        require('brace/mode/' + this.ACE_EDITOR_TYPE);
                        require('brace/theme/' + this.ACE_EDITOR_THEME);
                        editor.$blockScrolling = Infinity;
                        editor.getSession().setUseWrapMode(true);
                        editor.getSession().setWrapLimitRange(null, null);
                        editor.getSession().setTabSize(2);
                  }
            }

            initData() {
                  this.method = "GET";
                  this.url = "";
                  this.options = "";
            }

            destroyed(): void {
                  if(this.editor) {
                        this.editor.destroy();
                        this.editor = null;
                  }
            }
      }
</script>
<style scoped>
      .script-editor {width:100%;height:180px !important;}
      h5 {margin-top: 5px;}
</style>
