<template>
      <div class="empty-rack-wrap">
            <template v-if="DCIMPageTreeForSearchComponent">
                  <component :is="DCIMPageTreeForSearchComponent"
                             ref="pageTreeForSearch"
                             @init-comp="getDisabledIds"
                             @selected-page="getPageInfo"
                  >
                        <!--@init-comp="onInitPageTreeComp">-->
                  </component>
            </template>
            <div class="empty-rack-contents-ui">
                  <div class="empty-rack-top-ui">
                        <div class="top-ui-title">
                              <span class="title-dot"></span>
                              <span class="title-text">{{lang.emptyRackShelf.emptyShelfCount}}</span>
                              <el-input class="shelves-input" size="mini" type="number" v-model="inputValue" min="1"
                                        max="50"
                                        @change="findRack()"></el-input>
                        </div>
                        <p class="empty-rack-p">{{lang.emptyRackShelf.putEmptyShelvesCount}}</p>
                  </div>
                  <div class="empty-rack-progress-title">
                        <span class="empty-rack-name">{{lang.common.assetName}}</span>
                        <span class="empty-shelves">{{lang.emptyRackShelf.emptyShelfNumber}}</span>
                        <span class="empty-shelves-total">{{lang.emptyRackShelf.emptyShelvesTotal}}</span>
                        <span class="empty-percentage">{{lang.emptyRackShelf.maxCapa}}</span>
                  </div>
                  <div class="empty-rack-progress-ui">
                        <template v-if="racksHasEnoughShelves.length !== 0">
                              <!--<div class="empty-rack-progress-bars-wrap">-->
                              <div class="empty-rack-progress-bar" v-for="rack in racksHasEnoughShelves" :key="rack.id">
                                    <span class="progress-empty-name">{{rack.name}}</span>
                                    <div class="progress-empty-shelves">
                                          <div class="progress-bar-outer">
                                                <div class="progress-bar-inner" :data-prog-rack-id="rack.id"></div>
                                          </div>
                                          <!--<span class="progress-bar-label"-->
                                          <!--:style="{marginLeft: getPercentage(rack.length, rack.maxEmptyLen)+'%'}">{{rack.maxEmptyLen}}</span>-->
                                    </div>
                                    <span class="progress-empty-shelves-total">{{rack.maxEmptyLen}}/{{rack.length}}</span>
                                    <span class="progress-empty-percentage">{{getPercentage(rack.length, rack.maxEmptyLen) + "%"}}</span>
                              </div>
                              <!--totalEmptyLen
                               <div class="empty-rack-progress-bar-between"></div>
                               <div class="empty-rack-progress-bar">
                                     <span class="progress-empty-name"></span>
                                     <div class="progress-empty-shelves">
                                           <div class="progress-bar-outer">
                                                 <div class="progress-bar-inner"
                                                      :style="{width: getPercentage(rack.length, rack.totalEmptyLen)+'%'}"></div>
                                           </div>
                                           <div class="progress-bar-label"
                                                 :style="{marginLeft: getPercentage(rack.length, rack.totalEmptyLen)+'%'}">
                                           {{rack.totalEmptyLen}}
                                           </div>
                                     </div>
                                     <span class="progress-empty-shelves-total">{{rack.totalEmptyLen}}/{{rack.length}}</span>
                                     <span class="progress-empty-percentage">{{getPercentage(rack.length, rack.totalEmptyLen) + "%"}}</span>
                               </div>-->
                              <!--</div>-->
                        </template>
                        <template v-else>
                              <div class="empty-rack-no-rack"><p>{{lang.emptyRackShelf.NoRackForCondition}}</p></div>
                        </template>
                  </div>
            </div>

      </div>
</template>
<script>
      module.exports = {
            components: {},

            data: function () {
                  return {
                        lang : Vue.$i18n.messages.wv.dcim_pack,
                        inputValue: 1,
                        selectedPageId: '',
                        racksHasEnoughShelves: [],
                        tempRacksHasEnoughShelves: null,
                        DCIMPageTreeForSearchComponent: null,
                        percentWidth: null,
                  }
            },

            mounted: function () {
                  this.$emit("init-comp");
            },

            updated: function () {
                  if (this.tempRacksHasEnoughShelves != this.racksHasEnoughShelves) {
                        this.tempRacksHasEnoughShelves = this.racksHasEnoughShelves;
                        this.animate();
                  }
            },


            methods: {
                  getDisabledIds() {
                        let flatPageset = window.wemb.dcimManager.pagesetManager._pagesetFlatData;
                        let temp = [];
                        for (let i in flatPageset) {
                              let result = window.wemb.dcimManager.assetManager.getAssetCountListInPage(["Rack"], flatPageset[i].id);
                              if (result.Rack == 0) {
                                    temp.push(flatPageset[i].id);
                              }
                        }

                        this.$refs.pageTreeForSearch.setDisabledIds(temp);
                  },


                  animate: function () {
                        $(this.$el).find("[data-prog-rack-id]").width(0);

                        this.racksHasEnoughShelves.forEach((item) => {
                              let wid = this.getPercentage(item.length, item.maxEmptyLen);
                              $(this.$el).find("[data-prog-rack-id=" + item.id + "]").width(wid + "%");
                        })
                  },

                  //클릭한 페이지
                  getPageInfo(value) {
                        this.selectedPageId = value;
                        this.findRack();
                  },

                  //입력 이벤트 받아서 처리
                  getPercentage(length, emptyRackLen) {
                        return Math.floor(emptyRackLen * 100 / length);
                  },

                  setPageTreeComponent(res){
                        this.DCIMPageTreeForSearchComponent = res;
                  },

                  findRack: function () {

                        //찾는 페이지에 배치 된 랙 정보
                        let rackIds = window.wemb.dcimManager.assetManager.getTypeAssetsInPage("Rack", this.selectedPageId);

                        if (rackIds !== 0) {
                              //페이지 안에 있는 랙 실장 정보를 최종으로 담는 배열
                              let rackInPage = [];
                              //페이지에 배치된 랙 id로 실장 정보 조회하기
                              for (let i in rackIds) {
                                    let tempRackInfo = window.wemb.dcimManager.mountDataManager.getMountDataByRackId(rackIds[i].id);
                                    let rackInfo;
                                    if (tempRackInfo.mounts.error != window.RackMountError.SHELF_INDEX && tempRackInfo.mounts.error != window.RackMountError.DATA_TYPE) {
                                          rackInfo = tempRackInfo;
                                    }
                                    if (rackInfo == null) continue;

                                    //랙 실장 정보 조회하면 나오는 rack shelves 수
                                    let rackLen = rackInfo.unitLen;

                                    //랙 실장 정보 조회하면 나오는 rack 방향
                                    let rackDirection = rackInfo.unitDirBT;

                                    //랙 실장 아이템들 return [] 배열
                                    let assets = rackInfo.mounts.items;

                                    //한개의 랙에 실장된 자산들의 실장 정보
                                    let mountData = [];

                                    for (let i in assets) {
                                          mountData.push(assets[i].mountData);
                                    }

                                    //랙 shelves 수 만큼 빈 배열 만들기
                                    let shelvesArr = [];
                                    shelvesArr[rackLen - 1] = false;

                                    //랙 shelves 수 만큼 만들어진 빈 배열을 반복문 돌리기
                                    for (let i in shelvesArr) {
                                          for (let q in mountData) {
                                                let row_index = Number(mountData[q].row_index);
                                                let row_weight = Number(mountData[q].row_weight);

                                                //랙 방향이 아래서 위로 일때
                                                if (rackDirection) {
                                                      for (let index = row_index; index > row_index - row_weight; index--) {
                                                            shelvesArr[index] = true;
                                                      }
                                                      //랙 방향이 위애서 아래일때
                                                } else {
                                                      for (let index = row_index; index < row_index + row_weight; index++) {
                                                            shelvesArr[index] = true;
                                                      }
                                                }
                                          }
                                    }

                                    //연속으로 비어있는 쉘프 수 구하기
                                    let maxEmptyLen = 0;
                                    let tempEmptyLen = 0;
                                    // let totalEmptyLen = 0;
                                    for (let i = 0; i < shelvesArr.length; i++) {
                                          if (shelvesArr[i] !== true) {
                                                // totalEmptyLen++;
                                                tempEmptyLen++; //1,2..3...
                                                if (maxEmptyLen < tempEmptyLen) {
                                                      maxEmptyLen = tempEmptyLen;
                                                }
                                          } else {
                                                tempEmptyLen = 0;
                                          }
                                    }


                                    let temp = {
                                          id: rackIds[i].id,
                                          name: rackIds[i].name,
                                          length: rackLen,
                                          maxEmptyLen: maxEmptyLen,
                                          // totalEmptyLen: totalEmptyLen
                                    };

                                    rackInPage.push(temp);

                              }

                              this.racksHasEnoughShelves = rackInPage.filter(x => x.maxEmptyLen >= this.inputValue);
                        }

                  }
            }
      }


</script>
<style scoped>
      .modal-body {
            overflow: auto;
            padding: 0;
      }

      /* ****************************************************************** */

      .empty-rack-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            color: #ececec;
      }

      /* ****************************************************************** */

      .empty-rack-top-ui {
            display: flex;
            width: 1003px;
            height: 44px;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            border-radius: 5px;
            background: #151e2f;
      }

      .shelves-input {
            width: 65px;
      }

      .el-input--mini .el-input__inner {
            background-color: #3d5378;
            border: 0px;
            color: #fff;
      }

      .top-ui-title {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
      }

      .title-dot {
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background: #20dde3;
            margin-right: 15px;
            padding: 3px;
      }

      .title-text {
            margin-right: 15px;
      }

      .empty-rack-p {
            flex: 1;
            margin: 0px;
            text-align: right;
      }

      /* ****************************************************************** */

      .empty-rack-contents-ui {
            display: flex;
            width: 1003px;
            flex-direction: column;
            border-left: 1px solid rgb(19, 28, 45);
            padding-left: 20px;
            position: relative;
      }

      .empty-rack-contents-ui:before {
            content: '';
            border-left: 1px solid #354660;
            position: absolute;
            top: 0;
            left: 1px;
            height: 100%;
      }

      /* ****************************************************************** */

      .empty-rack-progress-title {
            width: 1003px;
            height: 30px;
            background: #423e70;
            border-radius: 3px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            padding: 0px;
      }

      .empty-rack-progress-ui {
            width: 1011px;
            height: 550px;
            border-radius: 5px;
            overflow-y: auto;
      }

      /*   .empty-rack-progress-bars-wrap {
               background: #151e2f;
               border-radius: 3px;
               margin-top: 6px;
               width: 1003px;
               height: 38px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
         }
   */
      .empty-rack-progress-bar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            overflow-y: auto;
            background: #2d3e58;
            height: 30px;
            width: 1003px;
            margin-top: 10px;
            border-radius: 30px;

      }

      .empty-rack-progress-bar-between {
            width: 995px;
            height: 2px;
      }

      .empty-rack-name {
            width: 190px;
            text-align: center;
            border-right: 1px solid #000201;
      }

      .empty-shelves {
            width: 467px;
            text-align: center;
            border-right: 1px solid #000201;
      }

      .empty-shelves-total {
            width: 175px;
            text-align: center;
            border-right: 1px solid #000201;
      }

      .empty-percentage {
            width: 121px;
            text-align: center;
      }

      .empty-rack-no-rack {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      .progress-empty-name {
            width: 190px;
            text-align: center;
      }

      .progress-empty-shelves {
            width: 467px;
            height: 13px;
            display: flex;
            align-items: center;
            justify-content: center;

      }

      .progress-empty-shelves-total {
            width: 175px;
            text-align: center;
      }

      .progress-empty-percentage {
            width: 121px;
            text-align: center;
      }

      .progress-bar-outer {
            width: 350px;
            height: 13px;
            background: #111a25;
            border-radius: 10px;
      }

      .progress-bar-inner {
            width: 0%;
            height: 13px;
            background: #3ea8b5;
            border-radius: 10px;
            -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
            transition: width 2s;

      }

      .progress-bar-label {
            margin-left: 16%;
      }

      /* ****************************************************************** */

      ::-webkit-scrollbar {
            width: 8px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
            background: #1d304e;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
            background: #515463;
            border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
            background: #515463;
            border-radius: 10px;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
      }


</style>
