<template>
<div class="asset-instance-component" ref="main_container">
            <template v-if="DCIMPageTreeForSearchComponent">
                  <component :is="DCIMPageTreeForSearchComponent"
                             ref="pageTreeSearchComp"
                             @init-comp="onInitPageTreeComp"
                             @selected-page="onSelectPage">
                  </component>
            </template>
            <div class="content-wrap">

                  <template v-if="DCIMAssetSearchComponent">
                        <component v-show="selectedId" :is="DCIMAssetSearchComponent"
                                   @select-asset="onSelectAsset"
                                   @init-comp="onInitAssetSearchComp" ref="assetSearch"
                                   style="width: 1018px;"></component>
                  </template>
                  <div class="no-data" v-show="!selectedId">{{lang.assetInstanceSearchComponent.selectPageToView}}</div>
            </div>
      </div>
</template>
<script>
      function _toConsumableArray(arr) {
            if (Array.isArray(arr)) {
                  for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) {
                        arr2[i] = arr[i];
                  }
                  return arr2;
            } else {
                  return Array.from(arr);
            }
      }

      module.exports = {
            data: function data() {
                  return {
                        lang: Vue.$i18n.messages.wv.dcim_pack,
                        pageset: null,
                        selectedId: null,
                        DCIMAssetSearchComponent: null,
                        DCIMPageTreeForSearchComponent: null,
                        isCompLoaded: false
                  };
            },

            computed: {},

            methods: {
                  onSelectAsset: function onSelectAsset(asset) {
                        this.$emit("select-asset", asset);
                  },

                  onSelectPage: function onSelectPage(pageId) {
                        console.log("@@ onSelectPage", pageId);
                        this.selectedId = pageId;
                        this.updateSelectedPageAssets();
                  },

                  updateSelectedPageAssets: function updateSelectedPageAssets() {
                        var _this = this;

                        if (!this.isCompLoaded || !this.selectedId) {
                              return;
                        }
                        var assets = window.wemb.dcimManager.assetManager.assets;
                        var selectedPageFlatAsset = [];
                        var selectedPageAssets = {};
                        for (var type in assets) {
                              var typeAsset = assets[type];
                              var pageAsset = typeAsset.filter(function (x) {
                                    return x.page_id == _this.selectedId;
                              });
                              selectedPageAssets[type] = pageAsset;
                              selectedPageFlatAsset.push.apply(selectedPageFlatAsset, _toConsumableArray(pageAsset));
                        }
                        this.$refs.assetSearch.updateAssets(selectedPageAssets, selectedPageFlatAsset);
                  },

                  onInitAssetSearchComp: function onInitAssetSearchComp() {
                        this.isCompLoaded = true;
                        this.$refs.assetSearch.setUsePositionedFilter(false);
                        this.updateSelectedPageAssets();
                  },

                  onInitPageTreeComp: function onInitPageTreeComp() {
                        try {
                              this.pageset = wemb.dcimManager.pagesetManager.getPageset().structure;
                              if (this.pageset && this.pageset.length) {
                                    this.$refs.pageTreeSearchComp.select(this.pageset[0].id);
                              }
                        } catch (error) {}
                  },

                  setAssetSearchComponent: function setAssetSearchComponent(res) {
                        if (!this.DCIMAssetSearchComponent) {
                              this.DCIMAssetSearchComponent = res;
                        }
                  },

                  setPageTreeComponent: function setPageTreeComponent(res) {
                        if (!this.DCIMPageTreeForSearchComponent) {
                              this.DCIMPageTreeForSearchComponent = res;
                        }
                  }
            },

            created: function created() {},

            mounted: function mounted() {
                  this.$emit("init-comp");
            },

            destroyed: function destroyed() {}
      };
</script>
<style scoped>
      .asset-list-panel {
            background: #151e2f;
            width: 300px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            margin-right: 20px;
      }

      .asset-list-panel h5 {
            color: #4778d4;
            font-size: 12px;
            padding: 10px;
            margin: 0;
            text-align: center;
      }

      .content-wrap {
            flex: 1;
            flex-direction: column;
            padding-left: 20px;
            border-left: 1px solid #131c2d;
            position: relative;
      }

      .content-wrap:before {
            content: '';
            border-left: 1px solid #354660;
            position: absolute;
            top: 0;
            left: 1px;
            height: 100%;
      }

      .content-wrap > .no-data {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #eee;
      }

      .asset-instance-component {
            height: 100%;
            width: 100%;
            display: flex;
      }

      .asset-instance-component .grade-list {
            border: none;
            overflow-y: auto;
            text-align: left;
            padding: 0 2px;
      }

      .asset-instance-component .grade-list label {
            background-color: #1e2c46;
            height: 45px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            margin-bottom: 1px;
            color: #979694;
      }

      .asset-instance-component .grade-list label .p-name {
            font-size: 10px;
            display: block;
            margin-top: 4px;
      }

      .asset-instance-component .grade-list label.is-checked,
      .asset-instance-component .grade-list label:hover {
            background-color: #3666a6;
            color: #fffffd;
      }

      .asset-instance-component .el-radio__input.is-checked + .el-radio__label {
            color: #fffffd;
      }

      .asset-instance-component .grade-list label .el-radio__input {
            visibility: hidden;
            width: 20px;
      }

      .asset-instance-component .grade-list label .el-radio__label {
            padding: 0;
      }

      /*
      .asset-instance-component .grade-list .tree-list>li>ul>li>label .el-radio__input{
         margin-left: 20px;
      }

      .asset-instance-component .grade-list .tree-list>li>ul>li>ul>li>label .el-radio__input{
         margin-left: 40px;
      }

      .asset-instance-component .grade-list .tree-list>li>ul>li>ul>li>ul>li>label .el-radio__input{
         margin-left: 60px;
      }*/

      .asset-instance-component .grade-list > .grade-group {
            width: 100%;
      }

      .asset-instance-component .grade-list > .grade-group .text-no-wrap {
            padding: 0px 10px;
            background-color: white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid #e6ebf5;
      }

      .asset-instance-component .grade-list > .grade-group .text-no-wrap.selected {
            background-color: #595e65;
      }

      .asset-instance-component
      .grade-list
      > .grade-group
      .text-no-wrap
      >>> .el-radio {
            width: 100%;
            height: 35px;
            line-height: 35px;
      }

      .asset-instance-component
      .grade-list
      > .grade-group
      .text-no-wrap
      >>> .el-radio__input {
            display: none;
      }

      .asset-instance-component
      .grade-list
      > .grade-group
      .text-no-wrap
      >>> .el-radio__label {
            font-size: 14px;
      }

      .asset-instance-component
      .grade-list
      > .grade-group
      .text-no-wrap.selected
      >>> .el-radio__label {
            color: #fff;
      }


      ::-webkit-scrollbar {
            width: 8px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
            background: #1d304e;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
            background: #515463;
            border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
            background: #515463;
            border-radius: 10px;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
      }



</style>
