<template>
      <div class="asset-list-panel">
            <h5><i class="fa fa-list-ul" style="margin-right: 6px;"></i>{{lang.pageTreeForSearch.assetPageList}}</h5>
            <div class="grade-list" ref="grade_list">
                  <el-radio-group v-model="selectedId" class="grade-group" v-if="pageset && pageset">
                        <ul class="tree-list">
                              <li v-for="level1 in pageset" :key="level1.id">
                                    <el-radio :label="level1.id" @change="onChangePage"
                                              :disabled="isDisabled(level1.id)"
                                              :class="{isDisabled: isDisabled(level1.id)}">{{level1.name}}
                                    </el-radio>
                                    <ul v-if="level1.children">
                                          <li v-for="level2 in level1.children" :key="level2.id">
                                                <el-radio :label="level2.id" @change="onChangePage"
                                                          :disabled="isDisabled(level2.id)"
                                                          :class="{isDisabled: isDisabled(level1.id)}">
                                                      {{level2.name}}<span
                                                      class="p-name">{{level1.name}}</span></el-radio>
                                                <ul v-if="level2.children">
                                                      <li v-for="level3 in level2.children" :key="level3.id">
                                                            <el-radio :label="level3.id" @change="onChangePage"
                                                                      :disabled="isDisabled(level3.id)"
                                                                      :class="{isDisabled: isDisabled(level1.id)}">
                                                                  {{level3.name}}<span class="p-name">{{level1.name}}<i
                                                                  class="el-icon-arrow-right"></i>{{level2.name}}</span>
                                                            </el-radio>
                                                            <ul v-if="level3.children">
                                                                  <li v-for="level4 in level3.children"
                                                                      :key="level4.id">
                                                                        <el-radio :label="level4.id"
                                                                                  @change="onChangePage"
                                                                                  :disabled="isDisabled(level4.id)"
                                                                                  :class="{isDisabled: isDisabled(level1.id)}">
                                                                              {{level4.name}}<span
                                                                              class="p-name">{{level1.name}}<i
                                                                              class="el-icon-arrow-right"></i>{{level2.name}}<i
                                                                              class="el-icon-arrow-right"></i>{{level3.name}}</span>
                                                                        </el-radio>
                                                                  </li>
                                                            </ul>
                                                      </li>
                                                </ul>
                                          </li>
                                    </ul>
                              </li>
                        </ul>
                  </el-radio-group>
            </div>
      </div>
</template>

<script>
      module.exports = {
            data: function data() {
                  return {
                        lang : Vue.$i18n.messages.wv.dcim_pack,
                        pageset: null,
                        selectedId: "",
                        disableIds: []
                  };
            },

            methods: {
                  setDisabledIds: function setDisabledIds(idsArr) {
                        this.disableIds = idsArr;
                  },

                  isDisabled: function isDisabled(id) {
                        return this.disableIds.find(function (x) {
                              return x == id;
                        }) ? true : false;
                  },

                  select: function select(pageId) {
                        var tempId = this.selectedId;
                        this.selectedId = pageId;
                        if (tempId != pageId) {
                              this.onChangePage();
                        }
                  },

                  //페이지 클릭시 선택한 페이지 아이디 emit
                  onChangePage: function onChangePage() {
                        this.$emit('selected-page', this.selectedId);
                  }
            },

            created: function created() {
            },

            mounted: function mounted() {
                  try {
                        this.pageset = wemb.dcimManager.pagesetManager.getPageset().structure;
                  } catch (error) {
                  }

                  this.$emit("init-comp");
            },
            destroyed: function destroyed() {
            }
      };
</script>
<style scoped>
      .asset-list-panel {
            background: #151e2f;
            width: 300px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            margin-right: 20px;
      }

      .asset-list-panel h5 {
            color: #4778d4;
            font-size: 12px;
            padding: 10px;
            margin: 0;
            text-align: center;
      }

      .grade-list {
            border: none;
            overflow-y: auto;
            text-align: left;
            padding: 0 2px;
            height: 95%;
      }

      .grade-list label {
            background-color: #1e2c46;
            height: 45px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            margin-bottom: 1px;
            color: #979694;
      }

      .grade-list label .p-name {
            font-size: 10px;
            display: block;
            margin-top: 4px;
      }

      .grade-list label.is-checked,
      .grade-list label:hover {
            background-color: #3666a6;
            color: #fffffd;
      }

      .el-radio__input.is-checked + .el-radio__label {
            color: #fffffd;
      }

      .grade-list label .el-radio__input {
            visibility: hidden;
            width: 20px;
      }

      .grade-list label .el-radio__label {
            padding: 0;
      }

      /*
      .asset-instance-component .grade-list .tree-list>li>ul>li>label .el-radio__input{
         margin-left: 20px;
      }

      .asset-instance-component .grade-list .tree-list>li>ul>li>ul>li>label .el-radio__input{
         margin-left: 40px;
      }

      .asset-instance-component .grade-list .tree-list>li>ul>li>ul>li>ul>li>label .el-radio__input{
         margin-left: 60px;
      }*/

      .grade-list > .grade-group {
            width: 100%;
      }

      .grade-list > .grade-group .text-no-wrap {
            padding: 0px 10px;
            background-color: white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid #e6ebf5;
      }

      .grade-list > .grade-group .text-no-wrap.selected {
            background-color: #595e65;
      }

      .grade-list
      > .grade-group
      .text-no-wrap
      >>> .el-radio {
            width: 100%;
            height: 35px;
            line-height: 35px;
      }

      .grade-list
      > .grade-group
      .text-no-wrap
      >>> .el-radio__input {
            display: none;
      }

      .grade-list
      > .grade-group
      .text-no-wrap
      >>> .el-radio__label {
            font-size: 14px;
      }

      .grade-list
      > .grade-group
      .text-no-wrap.selected
      >>> .el-radio__label {
            color: #fff;
      }

      .grade-list label.is-disabled {
            background: #182236;
            opacity: 0.3;
            cursor: not-allowed;
      }

      .grade-list label.is-disabled:hover {
            background: #182236;
            opacity: 0.3;
            cursor: not-allowed;
      }


</style>
