<template>
      <modal
            id="dcim-unified-search-popup"
            name="dcim-unified-search-popup"
            class="w-modal modal-tabs"
            draggable=".modal-header"
            @opened="modalOpened"
            :click-to-close="false"
            :width="1400"
            :height="748"
            :min-width="1100"
            :min-height="600">
            <div class="modal-header">
                  <h4>Intergrated Asset Search</h4>
                  <a class="close-modal-btn" role="button" @click="hide">
                        <i class="el-icon-close"></i>
                  </a>
            </div>
            <div class="modal-body">
                  <div data-popup="renobit-dcim-unified-search-popup">
                        <el-tabs class="tab-wrap" v-model="tab_name" tab-position="top" type="card"
                                 @tab-click="handleClick" stretch>
                              <el-tab-pane name="asset_search" :label="lang.unifiedSearchMain.searchAsset">
                                    <template v-if="loadedComponent">
                                          <component :is="DCIMAssetSearchComponent"
                                                     @select-asset="onSelectAsset"
                                                     @init-comp="onInitAssetSearchComp" ref="assetSearch"
                                                     style="width: 1360px;"></component>
                                    </template>
                              </el-tab-pane>
                              <el-tab-pane name="page_search" :label="lang.unifiedSearchMain.assetStatus">
                                    <template v-if="loadedComponent">
                                          <component :is="DCIMAssetInstanceSearchComponent"
                                                     @select-asset="onSelectAsset"
                                                     @init-comp="onInitAssetInstanceSearchComp"
                                                     ref="assetInstanceSearch"></component>
                                    </template>
                              </el-tab-pane>
                              <el-tab-pane name="empty_rack_search" :label="lang.unifiedSearchMain.emptyRackSearch">
                                    <template v-if="loadedComponent">
                                          <component :is="DCIMEmptyRackShelfComponent"
                                                     @init-comp="onInitEmptyRackShelfComp"
                                                     ref="emptyRackShelf"></component>
                                    </template>
                              </el-tab-pane>
                        </el-tabs>
                  </div>
            </div>
      </modal>
</template>
<script>
/**
 * 통합자산검색, 자산검색, 배치 자산 검색(페이지별), 빈랙검색 기능을  포함한다.
 * 자산데이터는 assetManager에서 전체 자산데이터를 가지고 client에서 페이징/검색 처리한다. 
 * 
 * TODO : 화면 리사이즈 처리시, elenetui에서 제공하는 table 사이즈가 제대로 반영되지 않는 문제가 있어 사이즈를 고정해두었다.
 * (크기가 더 커지는것은 반영이 잘 되는데, 작아지는것은 반영이 되지 않음)
 * 
 * 동적으로 아래 4컴포넌트를 로드한다.
 * DCIMAssetSearchComponent : 자산 검색 테이블 
 *    - 배치자산 검색에서도 이 컴포넌트를 사용한다.
 *    - setUsePositionedFilter 메소드로 배치여부를 필터하는 콤보박스를 감춰서 사용한다.
 * DCIMAssetInstanceSearchComponent : 배치자산 검색
 *    - DCIMAssetSearchComponent와 DCIMPageTreeForSearchComponent를 조합하여 사용한다. 
 * DCIMEmptyRackShelfComponent // 빈랙검색 - 담당 최유미
*/
      module.exports = {
            data: function data() {
                  return {
                        lang: Vue.$i18n.messages.wv.dcim_pack,
                        loadedComponent: false,
                        tab_name: 'asset_search',
                        DCIMAssetInstanceSearchComponent: null,
                        DCIMAssetSearchComponent: null,
                        DCIMEmptyRackShelfComponent: null,
                        DCIMPageTreeForSearchComponent: null
                  };
            },
            methods: {
                  onSelectAsset: function onSelectAsset(asset) {
                        //this.hide();
                        if (!window.wemb.configManager.isEditorMode) {
                              if (asset && asset.instance_id && asset.page_id) {
                                    this.moveToAsset(asset.page_id, asset.id);
                                    this.hide();
                              }
                        }
                  },
                  focusAsset: function focusAsset(assetId) {
                        window.wemb.dcimManager.actionController.gotoAsset3DComponent(assetId);
                  },
                  getIsSamePage: function getIsSamePage(pageId) {
                        var currentPageId = wemb.pageManager.currentPageInfo.id;
                        return pageId == currentPageId;
                  },
                  moveToAsset: function moveToAsset(pageId, assetId) {
                        if (!this.getIsSamePage(pageId)) {
                              window.wemb.pageManager.openPageById(pageId, {assetId: assetId});
                        } else {
                              this.focusAsset(assetId);
                        }
                  },

                  handleClick: function handleClick(tab, event) {
                        this.tab_name = tab.name;
                        if (this.tab_name == "empty_rack_search") {
                              this.$refs.emptyRackShelf.animate();
                        }
                  },


                  modalOpened: function modalOpened() {

                  },

                  show: function show() {
                        this.$modal.show("dcim-unified-search-popup");
                        //window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, false);
                  },

                  hide: function hide() {
                        this.$modal.hide("dcim-unified-search-popup");
                        // window.wemb.editorProxy.sendNotification(EditorStatic.CMD_SET_ACTIVE_SHORT_CUT_STATE, true);
                  },

                  async loadComponents() {
                        let components = [{
                              path: "/custom/packs/dcim_pack/manager/view/search/DCIMAssetInstanceSearchComponent.vue",
                              name: "DCIMAssetInstanceSearchComponent"
                        }, {
                              path: "/custom/packs/dcim_pack/manager/view/search/DCIMAssetSearchComponent.vue",
                              name: "DCIMAssetSearchComponent"
                        }, {
                              path: "/custom/packs/dcim_pack/manager/view/search/DCIMEmptyRackShelfComponent.vue",
                              name: "DCIMEmptyRackShelfComponent"
                        }, {
                              path: "/custom/packs/dcim_pack/manager/view/search/DCIMPageTreeForSearchComponent.vue",
                              name: "DCIMPageTreeForSearchComponent"
                        }];

                        let context = window.wemb.configManager.context;

                        await this.loadComponent(context + components[0].path, components[0].name);
                        await this.loadComponent(context + components[1].path, components[1].name);
                        await this.loadComponent(context + components[2].path, components[2].name);
                        await this.loadComponent(context + components[3].path, components[3].name);
                        this.loadedComponent = true;
                  },

                  loadComponent(path, name) {
                        let loader = window.wemb.$httpVueLoader(path, null);
                        return loader().then((result) => {
                              this[name] = result;
                        });
                  },


                  onInitAssetSearchComp: function () {
                        this.$refs.assetSearch.updateAssets(wemb.dcimManager.assetManager.assets, window.wemb.dcimManager.assetManager.assetFlat);
                  },

                  onInitAssetInstanceSearchComp: function () {
                        this.$refs.assetInstanceSearch.setAssetSearchComponent(this.DCIMAssetSearchComponent);
                        this.$refs.assetInstanceSearch.setPageTreeComponent(this.DCIMPageTreeForSearchComponent);
                  },

                  onInitEmptyRackShelfComp: function () {
                        this.$refs.emptyRackShelf.setPageTreeComponent(this.DCIMPageTreeForSearchComponent);
                  }
            },

            created: function created() {
                  this.loadComponents();
            },
            mounted: function mounted() {

            },
            destroyed: function destroyed() {
            }
      };
</script>

<style>
      #dcim-unified-search-popup {
            background: none;
            margin: 0;
            padding: 0;
      }

      #dcim-unified-search-popup > .v--modal-box.v--modal {
            box-shadow: none;
            background: none;
      }

      #dcim-unified-search-popup .vue-modal-resizer:after {
            border-bottom: 10px solid #2b66bd;
      }

      #dcim-unified-search-popup .modal-header {
            display: flex;
            padding: 4px 6px 4px 12px;
            border-radius: 15px;
            align-items: center;
            justify-content: space-between;
            background-color: #121828;
            border: 2px solid #3966b7;
            box-sizing: border-box;
            margin-bottom: 5px;
      }

      #dcim-unified-search-popup .modal-body {
            background: #1d304e;
            border-radius: 12px;
            padding: 0;
            overflow: hidden;
      }

      #dcim-unified-search-popup .modal-body [data-popup=renobit-dcim-unified-search-popup] {
            display: flex;
            flex: 1;
            align-items: stretch;
            background: #1d304e;
            overflow: auto;
      }

      #dcim-unified-search-popup .modal-body .tab-wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
      }

      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__header {
            position: static !important;
      }

      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__header > .el-tabs__nav-wrap,
      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__header .el-tabs__nav,
      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__header #tab-asset_search,
      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__header #tab-page_search,
      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__content {
            position: static !important;
            flex: 1;
      }

      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__header .el-tabs__nav {
            transform: none !important;
      }

      #dcim-unified-search-popup .modal-body .tab-wrap .el-tabs__item {
            padding: 0 70px;
      }

      #dcim-unified-search-popup .modal-body .tab-wrap > .el-tabs__content > .el-tab-pane {
            padding: 16px 20px;
            height: 100%;
      }

      #dcim-unified-search-popup .modal-header h4 {
            font-size: 14px;
            color: #4f9dff;
      }

      #dcim-unified-search-popup .modal-header .close-modal-btn {
            width: 20px;
            height: 20px;
            border-radius: 11px;
            background-color: #3f6393;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      #dcim-unified-search-popup .modal-header .close-modal-btn > i {
            color: #fff;
            font-size: 14px;
            line-height: 14px;
      }

      #dcim-unified-search-popup .modal-header .close-modal-btn:hover {
            background-color: #529eff;
      }

      #dcim-unified-search-popup .el-tabs--card > .el-tabs__header {
            border: 1px solid #31518e;
      }

      #dcim-unified-search-popup .el-tabs__header {
            margin: 0;
      }

      #dcim-unified-search-popup .el-tabs--card > .el-tabs__header .el-tabs__nav {
            border: none;
            border-radius: 12px 12px 0 0;
      }

      #dcim-unified-search-popup .el-tabs--card > .el-tabs__header .el-tabs__item {
            border: none;
            font-size: 12px;
            color: #97a0b1;
            overflow:hidden;
            display: inline-flex;
      }

      #dcim-unified-search-popup .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
            background: #31518e;
            border-bottom-color: #31518e;
            color: #fffdfe;
      }

      #dcim-unified-search-popup .el-tabs--card > .el-tabs__header .el-tabs__item:last-child {
            border-top-right-radius: 12px;
      }

      #dcim-unified-search-popup .field-wrap {
            display: flex;
            background-color: #151e2f;
            border-radius: 4px;
            padding: 7px;
            margin-bottom: 10px;
      }

      #dcim-unified-search-popup .field-wrap .asset-filter-select {
            margin-right: 4px;
            width: 120px;
      }

      #dcim-unified-search-popup .field-wrap .asset-type-select {
            margin-right: 16px;
            width: 160px;
      }

      #dcim-unified-search-popup .field-wrap .asset-field-select {
            margin-right: 4px;
            width: 140px;
      }

      #dcim-unified-search-popup .field-wrap .aseet-keword-input {
            width: 224px;
      }

      #dcim-unified-search-popup .el-select .el-input--suffix .el-input__inner {
            background: #3d5378;
            color: #c1ceee;
            border: none;
      }

      #dcim-unified-search-popup .el-select .el-input .el-select__caret {
            color: #929eb4;
      }

      #dcim-unified-search-popup .el-input-group--append .el-input__inner {
            border: none;
            background: #2d4780;
            color: #c1cfec;
      }

      #dcim-unified-search-popup .el-input-group__append {
            background: #1f3358;
            border: none;
            color: #539dfe;
            font-weight: bold;
      }

      #dcim-unified-search-popup .el-table {
            display: flex;
            flex-direction: column;
            height: 550px;
      }

      #dcim-unified-search-popup .el-table .el-table__body-wrapper {
            flex: 1;
      }

      #pane-asset_search .asset-search-component .el-table {
            height: 550px;
      }

      #pane-page_search .asset-search-component .el-table {
            height: 550px;
      }

      #dcim-unified-search-popup .el-table,
      #dcim-unified-search-popup .el-table::before,
      #dcim-unified-search-popup .el-table--group::after,
      #dcim-unified-search-popup .el-table__fixed::before,
      #dcim-unified-search-popup .el-table__fixed-right::before,
      #dcim-unified-search-popup .el-table--border::after {
            background-color: transparent;
            background: none;
      }

      #dcim-unified-search-popup .el-table .ascending .sort-caret.ascending {
            border-bottom-color: #539dfe
      }

      #dcim-unified-search-popup .el-table .descending .sort-caret.descending {
            border-top-color: #539dfe
      }

      #dcim-unified-search-popup .el-table td {
            padding: 3px 0;
      }

      #dcim-unified-search-popup .el-table__body td {
            background-color: #2d3e58;
            color: #ececec;
            border-bottom: 1px solid #1d304e;
      }

      #dcim-unified-search-popup .el-table__body td:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
      }

      #dcim-unified-search-popup .el-table__body td:last-child {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
      }

      #dcim-unified-search-popup .el-table__body tr.hover-row > td,
      #dcim-unified-search-popup .el-table__body tr.hover-row.current-row > td,
      #dcim-unified-search-popup .el-table__body tr.hover-row.el-table__row--striped > td,
      #dcim-unified-search-popup .el-table__body tr.hover-row.el-table__row--striped.current-row > td {
            background-color: #31486a;
      }

      #dcim-unified-search-popup .el-table th {
            border-bottom: 1px solid #1d304e;
            background: #414173;
            color: #e8f2fe;
            padding: 0 2px;
            text-align: center;
      }

      #dcim-unified-search-popup .el-table th:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
      }

      #dcim-unified-search-popup .el-table th:last-child {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
      }

      #dcim-unified-search-popup .el-table th:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 13px;
            border-left: 1px solid #040406;
            position: absolute;
            top: 9px;
            right: 0;
      }

      #dcim-unified-search-popup .el-table th:last-child::after {
            border: none;
      }

      #dcim-unified-search-popup .el-table .el-table__empty-text {
            color: #eee;
      }

      #dcim-unified-search-popup .el-table .txt-wrap-center {
            display: block;
            text-align: center;
      }

      #dcim-unified-search-popup .el-pagination__total {
            color: #c6c4c9;
      }

      #dcim-unified-search-popup .el-pagination .el-select .el-input .el-input__inner {
            background: #3d5378;
            color: #bfceeb;
      }

      #dcim-unified-search-popup .el-pagination .btn-prev,
      #dcim-unified-search-popup .el-pagination .btn-next {
            color: #929db1;
            background: none;
      }

      #dcim-unified-search-popup .el-pager li.active {
            color: #529cff;
      }

      #dcim-unified-search-popup .el-pager li {
            color: #c7c5ca;
      }

      #dcim-unified-search-popup .el-pagination__jump {
            color: #979598;
      }

      #dcim-unified-search-popup .el-pagination .el-input__inner {
            background: #1a222d;
            border-color: #364d6c;
            color: #c7c5c8;
            margin-left: 6px;
      }

      #dcim-unified-search-popup .el-pagination .el-pager li {
            background: none;
      }

</style>
