<template>
      <div class="asset-search-component" ref="main_container">
            <div class="field-wrap">
                  <el-select v-if="usePositionedFilter" v-model="positionFilter" size="small"
                             class="asset-filter-select" placeholder="AssetFilter" @change="handleSearchAsset">
                        <el-option v-for="option in assetPositionSelect" :key="option.value"
                                   :label="option.label" :value="option.value"></el-option>
                  </el-select>

                  <el-select v-model="type" size="small" class="asset-type-select" placeholder="AssetType"
                             @change="handleTypeChange">
                        <el-option v-for="type in getTypes" :key="type.id"
                                   :label="type.name" :value="type.id"></el-option>
                  </el-select>
                  <el-select size="small" v-model="search.field" placeholder="Fields" class="asset-field-select">
                        <el-option v-for="field in common_fields.concat(type_fields)" :key="field.name"
                                   :label="field.label" :value="field.name"></el-option>
                  </el-select>
                  <el-input size="small" placeholder="keyword" v-model="search.keyword" class="aseet-keword-input"
                            @keyup.enter.native="handleSearchAsset">
                        <el-button size="small" slot="append" style="vertical-align:middle;font-size:15px;"
                                   icon="el-icon-search" @click="handleSearchAsset"></el-button>
                  </el-input>
            </div>
            <el-table
                  ref="assetTable"
                  :data="asset_data"
                  @row-dblclick="onRowDBClickEvent"
                  @sort-change="handleDataSort">
                  <el-table-column v-if="usePositionedFilter"
                                   label="Positioned"
                                   width="100"
                  >
                        <template slot-scope="scope"><span class="txt-wrap-center"><i v-if="scope.row.instance_id || scope.row.parent_id"
                                                                                      class="el-icon-check"></i></span>
                        </template>
                  </el-table-column>
                  <el-table-column
                        min-width="140"
                        v-for="field in common_fields" :key="field.name" :property="field.name" :label="field.label"
                        sortable="custom">
                  </el-table-column>
                  <el-table-column
                        min-width="140"
                        v-for="field in type_fields" :key="field.name" :property="field.name" :label="field.label"
                        sortable="custom">
                  </el-table-column>
            </el-table>
            <el-pagination
                  v-if="optionsResult && optionsResult.length"
                  style="margin-top:10px; text-align:center;"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage"
                  :page-size="page_size"
                  layout="total, prev, pager, next, jumper"
                  :total="total_count">
            </el-pagination>
      </div>
</template>
<script>
/**
 * 자산 테이블 조회/검색 테이블 컴포넌트
 * 자산검색, 배치자산 검색(배치여부 항목 표기 옵션처리로 제외) 탭에서 사용된다.
 * 
 *  
*/
      function _toConsumableArray(arr) {
            if (Array.isArray(arr)) {
                  for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) {
                        arr2[i] = arr[i];
                  }
                  return arr2;
            } else {
                  return Array.from(arr);
            }
      }

      module.exports = {
            data: function data() {
                  return {
                        usePositionedFilter: true,
                        currentPage: 1,
                        total_count: 0,
                        page_size: 17,
                        positioned: false,
                        asset_data: [],
                        types: [],
                        type: '',
                        common_fields: [],
                        type_fields: [],
                        assetsDataManager: null,
                        optionsResult: [],
                        sort: {field: "", state: ""},
                        search: {field: "", keyword: "", onlyPositioned: false},
                        UPDATE_TYPE: {
                              TYPE: "type",
                              SEARCH: "search",
                              SORT: "sort"
                        },

                        POSITION_FILTER: {
                              ALL: "all",
                              POSITIONED: "positioned",
                              UNPOSITIONED: "unPositioned"
                        },

                        assetPositionSelect: [{
                              label: "All",
                              value: "all"//전체
                        }, {
                              label: "Positioned",
                              value: "positioned"//배치
                        }, {
                              label: "UnPositioned",
                              value: "unPositioned"//미배치
                        }],

                        positionFilter: "all"
                  };
            },
            mounted: function mounted() {
                  this.assetsDataManager = new AssetsDataManager(this.page_size);//전달받은 자산 데이터를 페이지네이션/검색/정렬한 결과를 반환해주는 객체
                  this.common_fields = wemb.dcimManager.assetManager.visibleFields.common;
                  this.types = wemb.dcimManager.assetManager.assetTypes;
                  this.$emit("init-comp");
            },


            computed: {
                  getTypes: function getTypes() {
                        var temp = [{
                              id: '',
                              name: 'All'
                        }];

                        if (this.types instanceof Array) {
                              this.types.forEach(function (v, k) {
                                    temp.push(v);
                              });
                        }
                        return temp;
                  }
            },
            methods: {
                  onRowDBClickEvent: function onRowDBClickEvent(row) {
                        this.$emit("select-asset", row);
                  },
                  setUsePositionedFilter: function setUsePositionedFilter(bool) {
                        this.usePositionedFilter = bool;
                  },
                  getTypeFields: function getTypeFields(type) {
                        return wemb.dcimManager.assetManager.getOnlyTypeFields(type, true);
                  },
                  updateAssets: function updateAssets(typeSortAssets, flatAssets) {
                        this.assetsDataManager.updateAssetsData(typeSortAssets, flatAssets);
                        this.type = '';
                        this.currentPage = 1;
                        this.clearSearchOption();
                        this.clearSortOption();
                        this.positionFilter = this.POSITION_FILTER.ALL;
                        this.updateAssetsByOptions(this.UPDATE_TYPE.TYPE);
                  },
                  handleDataSort: function handleDataSort(sort) {
                        if (sort) {
                              this.sort.field = sort.prop;
                              this.sort.state = sort.order;
                        } else {
                              this.sort.field = '';
                              this.sort.state = '';
                        }

                        this.updateAssetsByOptions(this.UPDATE_TYPE.SORT);
                  },
                  handleSearchAsset: function handleSearchAsset() {
                        this.updateAssetsByOptions(this.UPDATE_TYPE.SEARCH);
                  },
                  handleTypeChange: function handleTypeChange(type) {
                        var _type_fields;

                        this.type = type;
                        this.clearSortOption();
                        this.clearSearchOption();
                        this.updateAssetsByOptions(this.UPDATE_TYPE.TYPE);
                        /**/
                        var selected_type = this.types.find(function (d) {
                              return d.id === type;
                        });
                        var typeFields = selected_type ? this.getTypeFields(selected_type.id) : [];
                        this.type_fields.splice(0, this.type_fields.length);
                        (_type_fields = this.type_fields).push.apply(_type_fields, _toConsumableArray(typeFields));
                  },
                  clearSearchOption: function clearSearchOption() {
                        this.search.field = this.common_fields[0].name;
                        this.search.keyword = '';
                  },
                  clearSortOption: function clearSortOption() {
                        this.sort.field = '';
                        this.sort.state = '';
                        this.$refs.assetTable.clearSort();
                  },
                  handleCurrentChange: function handleCurrentChange(val) {
                        this.changeCurrentPage(val);
                  },
                  changeCurrentPage: function changeCurrentPage(page) {
                        var _asset_data;

                        var pageData = this.assetsDataManager.getPaginationData(this.optionsResult, this.currentPage);
                        this.asset_data.splice(0, this.asset_data.length);
                        (_asset_data = this.asset_data).push.apply(_asset_data, _toConsumableArray(pageData.data));

                        this.currentPage = Math.min(Math.max(page, 1), pageData.totalPage);
                  },
                  updateAssetsByOptions: function updateAssetsByOptions(type) {
                        if (!type) {
                              return;
                        }
                        //type = "type", "search", "sort"
                        switch (type) {
                              case this.UPDATE_TYPE.TYPE:
                                    this.optionsResult = this.assetsDataManager.getDataByOptions(this.type);
                                    break;
                              case this.UPDATE_TYPE.SEARCH:
                                    var searchData = {field: this.search.field, keyword: this.search.keyword};
                                    switch (this.positionFilter) {
                                          case this.POSITION_FILTER.ALL:
                                                break;
                                          case this.POSITION_FILTER.POSITIONED:
                                                searchData.onlyPositioned = true;
                                                break;
                                          case this.POSITION_FILTER.UNPOSITIONED:
                                                searchData.onlyUnpositioned = true;
                                                break;
                                    }
                                    this.optionsResult = this.assetsDataManager.getDataByOptions(this.type, {"search": searchData});

                                    break;
                              case this.UPDATE_TYPE.SORT:
                                    this.optionsResult = this.assetsDataManager.getSortData(this.optionsResult, this.sort);
                                    break;
                        }

                        this.total_count = this.optionsResult.length;
                        this.changeCurrentPage(1);
                  }
            },

            destroyed: function destroyed() {
                  console.log('destroyed');
            }
      };
</script>

<style scoped>

      .asset-search-component >>> .asset-register .el-dialog__body {
            padding: 0px !important;
      }

      .asset-search-component >>> .title {
            font-size: 13px;
            line-height: 30px;
            height: 30px;
            font-weight: bold;
            margin-bottom: 15px;
      }

      .fileUpload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
      }


</style>



