.posod-main-nav-component {
    display: flex;
}

.posod-main-nav-component>li {
    display: block;
    width: 56px;
    height: 63px;
    margin-right: 3px;
}

.posod-main-nav-component>li>a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -5000px;
    overflow: hidden;
    font-style: none;
    cursor: pointer;
    position: relative;
}

.posod-main-nav-component>li>a:hover {
    background-position: -54px 0;
}

.posod-main-nav-component>li.icon-watch.pause>a,
.posod-main-nav-component>li.icon-watch.pause>a:hover {
    background-position: -108px 0;
}

.posod-main-nav-component>li>a img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.posod-main-nav-component>li>a img.hover {
    visibility: hidden;
}

.posod-main-nav-component>li>a:hover img.up {
    visibility: hidden;
}

.posod-main-nav-component>li>a:hover img.hover {
    visibility: visible;
}
