.DropdownFieldComponent {
    overflow: hidden;
}

.DropdownFieldComponent .select-container {
    width: 100%;
    height: 100%;
}

.DropdownFieldComponent .select-container select {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 0.5em;
    outline: none;
    /* remove focus ring from Webkit */
    -webkit-appearance: none !important;
    text-indent: 8px;
    /* remove the strong OSX influence from Webkit */
}


/* Select arrow styling */

.DropdownFieldComponent .select-container:after {
    content: "▼";
    position: absolute;
    top: calc(50% - 0.7em);
    right: 0;
    bottom: 0;
    font-size: 60%;
    padding-right: 0.8em;
    pointer-events: none;
}

.DropdownFieldComponent .select-container select::-ms-expand {
    display: none;
}