

<template>
	<modal class="w-modal"
        id="label-comp-extension"
		name="label-comp-extension"
        @opened="modalOpened"
		:click-to-close="false"
		:draggable="false"
		:width="400"
		:height="640"
		:min-width="400"
		:min-height="600"
        ref="container">

		<div class="modal-header"><h4>Dropdown Component Settings</h4><a class="close-modal-btn" role="button" @click="hide">
            <i class="el-icon-error"></i></a>
        </div>
        <div class="modal-body" style="display:block;">
            <div class="dropdown-wrap">
                <div>
                    <div class="item">
                        
                        <el-input type="text" size="small" :placeholder="$t('extension.dropdown.placeholder01')" v-model="option.text"></el-input>
                    </div>
                    <div class="item">
                        
                        <el-input type="text" size="small" :placeholder="$t('extension.dropdown.placeholder02')" v-model="option.value"></el-input>
                    </div>
                </div>
                <el-button type="primary" @click="addItem">{{$t('common.add')}}</el-button>
            </div>
            <hr>
            <div class="options-box">
                <ul class="handle-sortable" ref="options_ref">
                    <li class="d-flex align-item-center" v-for="(itemData, index) in options" :data-item="JSON.stringify(itemData)" :key="index">
                        <span class="handle"></span>
                        <div class="flex">
                            <span class="title">{{itemData.text + ' | ' + itemData.value}}</span>
                        </div>
                        <button type="button" class="el-button el-button--danger el-button--mini" @click="removeItem(index)">
                            <span>{{$t('common.delete')}}</span>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="btn-wrap">
                <el-button class="bottom-btn" size="small" @click="hide(false)">{{$t('common.cancel')}}</el-button>
                <el-button class="bottom-btn" type="primary" size="small" @click="apply">{{$t('common.apply')}}</el-button>
            </div>
        </div>
	</modal>
</template>
<script>
	module.exports = {
		data: function () {
			return {
				options: [],
                option:{
                    text:"",
                    value:""
                }
			}
        },
        created:function() {
            console.log("popup created!!")
        },
        mounted:function(){
            console.log("popup mounted!!")
        },
        updated:function(){
            
        },
		methods: {
            addItem: function() {
                var self = this;
                var msg, invalid;
                var locale_msg = this.$i18n.messages.wv;
                if(this.option.text === "" || this.option.value === "") {
                    Vue.$message.error(locale_msg.common.emptyInput);
                    return;
                }
                invalid = this.options.find(function(d){
                    return (d.text === self.option.text || d.value === self.option.value)
                });
                if(invalid) {
                    Vue.$message.error(locale_msg.common.errorDuplicate);
                } else {
                    this.options.push($.extend(true, {}, this.option));
                    this.option = {
                        "text":"","value":""
                    }
                }
            },
            removeItem: function(key) {
                this.options.splice(key,1);
            },
            modalOpened: function () {
                this.group = $(this.$refs.options_ref).sortable({handle: ".handle"});
            },
			setComponent: function (componentInstance) {
                console.log('set Component')
                this.options = [];
                this.componentInstance = componentInstance;
                for(var i = 0; i < this.componentInstance.options.length; i++) {
                    this.options.push(this.componentInstance.options[i]);
                }
			},

			show: function () {
                var self = this;
                this.$modal.show('label-comp-extension');
                console.log(this.$refs.container);
			},

			hide: function (updateState) {
                this.option = {
                    "text":"","value":""
                }
				this.$modal.hide('label-comp-extension');
                this.$emit("closed", updateState);
			},

			apply: function () {
                var result = [];
                var data = this.group.sortable( "toArray", {"attribute":"data-item"} );
                data.forEach(function(v,k){
                    result.push(JSON.parse(v));
                });
				this.componentInstance.setGroupPropertyValue("setter", "options", result );
				this.hide(true);
			}
		}
	}


</script>
<style scoped>
.el-row{margin-bottom: 6px;}
.dropdown-wrap{display:flex;flex-direction:row;margin-bottom: 8px;}
.dropdown-wrap>div{flex:1;margin-right: 6px;}
.dropdown-wrap .item{display:flex; align-items: center;margin-bottom: 6px;}
.dropdown-wrap .item:last-child{margin:0;}

.options-box{border: 1px solid #e6ebf5; height: 420px; overflow: auto;}
.options-box>ul{list-style: none; margin:0;padding:0;}

.options-box>ul>li{display:flex; align-items: center; flex-direction:row;padding: 8px 12px 8px 8px; border-bottom: 1px solid #e6ebf5; background-color: #fff;}
.options-box>ul>li>div{flex:1;margin: 0 6px;}
.options-box>ul>li .title{}
.options-box>ul>li p{margin:0;word-break: break-all;}
.options-box>ul>li.ui-sortable-helper{border: 1px solid #e6ebf5; }
.modal-body{flex-direction: column;}
</style>




