.HorizontalBasicPortComponent {
    background: #fff;
    min-width: 50px;
    min-heightt: 50px;
}

/*.port-from-circle {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*background: #000;*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*border-radius: 10px;*/
    /*top: 5px;*/
    /*left: 25px*/
/*}*/

/*.port-to-circle {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*background: #000;*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*border-radius: 10px;*/
/*}*/

.HorizontalBasicPortComponent  .port-line {
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 50px;
    border: 2px dashed #000;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.port-from-text {
    display: block;
    position: absolute;
}

.port-to-text {
    display: block;
    position: absolute;
}