[data-comp-name=rack-preview] ul,
[data-comp-name=rack-preview] li {
    margin: 0;
    padding: 0;
    list-style: none;
}

[data-comp-name=rack-preview] * {
    box-sizing: border-box;
}

[data-comp-name=rack-preview] .rack-warp {
    width: 190px;
    margin-left: 20px;
    border-top: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}

[data-comp-name=rack-preview] .rack-warp>ul {
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    border: 4px solid #bcc9f1;
    background-color: #363636;
}

[data-comp-name=rack-preview] .rack-warp>ul>li {
    height: 13px;
    width: 100%;
    position: relative;
}

[data-comp-name=rack-preview] .rack-warp>ul>li .item-wrap {
    width: 100%;
    height: 100%;
    font-size: 9px;
    position: relative;
}

[data-comp-name=rack-preview] .rack-warp>ul>li:not(:first-child) .item-wrap {
    border-top: 1px solid #6b6b6b;
}

[data-comp-name=rack-preview] .rack-warp>ul>li>span {
    display: inline-block;
    width: 20px;
    position: absolute;
    top: -2px;
    left: -27px;
    font-size: 9px;
    color: #ffffff;
    text-align: center;
    line-height: 14px;
}

[data-comp-name=rack-preview] .rack-warp>ul>li>.item-wrap>.item {
    position: absolute;
    top: 0;
    z-index: 10;
}

[data-comp-name=rack-preview] .rack-warp>ul>li>.item-wrap>.item .cont {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #282b4c;
    background-color: #555555;
    cursor: pointer;
}

[data-comp-name=rack-preview] .rack-warp>ul>li>.item-wrap>.item .cont>em {
    font-size: 10px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
}

[data-comp-name=rack-preview] .rack-warp>ul>li>.item-wrap>.item .cont>.rotate {
    transform: rotate(90deg);
}


/*
[data-comp-name=rack-preview] .rack-warp>ul>li>.item-wrap .item .cont.active {
    background-color: #586580;
    color: #f5f5f5;
}
*/

[data-comp-name=rack-preview] .tooltip .tooltiptext {
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 50%;
    width: 100%;
    height: 0;
}

[data-comp-name=rack-preview] .tooltip .tooltiptext>span {
    position: absolute;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 16px;
    font-size: 11px;
    left: 0;
    bottom: 0;
}

[data-comp-name=rack-preview] .tooltip .tooltiptext>span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

[data-comp-name=rack-preview] .tooltip:hover .tooltiptext {
    display: block;
}

[data-comp-name=rack-preview] .vender-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    max-height: 100%;
    max-width: 100%;
    height: auto;
}