<template>
      <el-checkbox v-if="propertyInfo" v-model.boolean="model[propertyInfo.owner][propertyInfo.name]" @change="onChange($event)"></el-checkbox>
</template>

<script lang="ts">
      import { Component, Prop} from 'vue-property-decorator'
      import CoreInput from "./CoreInput";

      @Component
      export default class CheckboxInput extends CoreInput {

            onChange(value){
                  this.$emit("change", value);
            }
      }
</script>

<style scoped>

</style>
