<template>
      <color-picker v-model="model[propertyInfo.owner][propertyInfo.name]" @change="onChange($event)"></color-picker>
</template>

<script lang="ts">
      import { Component, Prop} from 'vue-property-decorator'
      import CoreInput from "./CoreInput";

	@Component
	export default class ColorInput extends CoreInput {
            onChange(value){
                  this.$emit("change",value);
            }

	}
</script>

<style scoped>

</style>
