<template>
      <input ref="input" v-bind:value="value"
             @input="updateValue($event, $event.target.value)"
             @blur="onBlur"
             @keyup="onKeyUp($event)"
             @focus="onFocus"
      >
</template>

<script lang="ts">
      import { Component, Prop} from 'vue-property-decorator'
      import CoreInput from "./CoreInput";


      @Component({})
      export default class NormalInput extends CoreInput {




      }
</script>

<style scoped>

</style>
