<template>
      <input type="number" ref="input" v-model.number="inputValue"
             @blur="onBlur"
             @keyup="onKeyUp($event)"
             @focus="onFocus"
             @mouseup="onMouseUp($event)"
             :min="min"
             :max="max"
      >
</template>

<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreInput from "./CoreInput";

      @Component({})
      export default class NumberInput extends CoreInput {
            private get inputValue(): number {
                  return Number(this.value)
            }

            private set inputValue(value: number) {
                  const number = Number(value) ? value : 0
                  const limitedValue = this.limitValue(number);
                  const fixedDecimalNumber = this.isDecimalNumber(limitedValue) ? this.fixDecimalNumber(limitedValue) : limitedValue
                  this.tempValue = fixedDecimalNumber;
                  this.$emit("input", fixedDecimalNumber);
            }
            limitValue(value) {
                  value = typeof value == 'string' ? Number(value) : value;
                  let maxNumber = Number(this.$el.max);
                  let minNumber = Number(this.$el.min);
                  if (value > maxNumber) return maxNumber;
                  else if(value < minNumber ) return minNumber;
                  return value;
            }

            isDecimalNumber(value) {
                  return Boolean(String(value).split('.')[1])
            }
            
            fixDecimalNumber (DecimalNumber) {
                  const underPointNumber = String(DecimalNumber).split('.')[1];
                  const limitUnderPointNumberLength = 2;
                  return underPointNumber.length > limitUnderPointNumberLength ? DecimalNumber.toFixed(limitUnderPointNumberLength) : DecimalNumber
            }
            
            onBlur(event) {
                  let value:number = this.inputValue
                  if (this.isCancel == false) { 
                        this.$emit("change", {originalEvent: event, target: event.target, value: Number(this.value)}) }
                  this.isCancel = false;
                  if (this.eventBus) {
                        this.eventBus.$emit("inputBlur", {
                              target: event.target
                        })
                  }
            }

            onMouseUp(event) {
                  event.stopPropagation();
            }

            get min() {
                  let value = -9999;
                  if(this.propertyInfo && this.propertyInfo.options) {
                        value = this.propertyInfo.options.min;
                  }
                  return value;
            }

            get max() {
                  let value = 9999;
                  if(this.propertyInfo && this.propertyInfo.options) {
                        value = this.propertyInfo.options.max;
                  }
                  return value;
            }
	}
</script>

<style scoped>

</style>
