<template>
<el-select class="flex"
            v-if="propertyInfo && propertyInfo.options.items && propertyInfo.options.items"
            v-model="model[propertyInfo.owner][propertyInfo.name]"
            @change="onChange($event)"
>
      <el-option
            
            v-for="item in propertyInfo.options.items"
            :key="item.value"
            :label="item.label"
            :value="item.value">
      </el-option>
</el-select>
</template>

<script lang="ts">
      import { Component, Prop} from 'vue-property-decorator'
      import CoreInput from "./CoreInput";

      @Component
      export default class SelectInput extends CoreInput {
            onChange(value){
                  this.$emit("change",value);
            }

	}
</script>

<style scoped>

</style>
