<template>
            <el-slider
                  style="width:200px"
                  :min="propertyInfo.minValue"
                  :max="propertyInfo.maxValue"
                  :step="propertyInfo.stepValue"
                  v-model.number="model[propertyInfo.owner][propertyInfo.name]"
                  @change="onChange($event)"
                  >
            </el-slider>
</template>

<script lang="ts">
      import { Component, Prop} from 'vue-property-decorator'
      import CoreInput from "./CoreInput";

      @Component
      export default class SliderInput extends CoreInput {


            onChange(value){
                  this.$emit("change",value);
            }

	}
</script>

<style scoped>

</style>
