<template>
	<textarea ref="input" v-bind:value="value"
	       @input="updateValue($event, $event.target.value)"
             v-if="propertyInfo.options != null"
             :rows="propertyInfo.options.rows"
	       @blur="onBlur"
	       @keyup="onKeyUp($event)"
	       @focus="onFocus"
	>
      </textarea>
</template>

<script lang="ts">
	import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import CoreInput from "./CoreInput";


      @Component({})
      export default class TextareaInput extends CoreInput {

	}
</script>

<style scoped>

</style>
