<template>
      <div>
            <div class="snpippet-search">
                  <el-input size="small" class="snpippet-search-field" v-model="search" placeholder="Search WScript Snippets" @input="onChangeSearch" clearable></el-input>
            </div>
            <div v-show="isSearching" ref="basicSnipptsTree" class="snpippet-search-result"></div>
            <div v-show="!isSearching" class="snpippet-search-no-result">NO RESULT</div>
      </div>
</template>
<script lang="ts">
	import Vue from 'vue';
	import Component from "vue-class-component";

	import { dto } from '../../../model/dto/SnippetDTO';
      import SnippetFavoriteItemDTO = dto.SnippetFavoriteItemDTO;
	@Component({
        components: {
        }
      })
	export default class GlobalSnippetsTreeComponent extends Vue {
        private focusTargetId:string = '';
		private treeData:any = null;
		private treeObject:any = null;
		public isFocus: boolean = false;

            private search:string = '';
            private isSearching: boolean = true;

		created(){
			/*let self = this;

			Vue.$WScriptService.$bus.$on("loadedCodeSnippets", function(result){
				self.treeData = result;
				self.__createTree( self.treeData );
			});

			Vue.$WScriptService.$bus.$on("focus", function(){
				self.isFocus = true;
			});

			Vue.$WScriptService.$bus.$on("blur", function(){
				self.isFocus = false;
			});

			Vue.$WScriptService.loadBasicCodeSnippets();*/
		}

        mounted(){
			//페이지 이동
			let self = this;
			$(this.$refs.basicSnipptsTree).on("dblclick", "[role=treeitem]", function(){
				if( self.isFocus ){
					//editor가 focus상태일때만 요청
					let id = $(this).attr("id");
					let target = self.__getTreeObject().get_node(id);
					if(target && target.type == "item"){
						//Vue.$WScriptService.insertCodeById(id);
						self.$emit("insertCode", id);
					}
				}
			})/**/
        }



		 __getTreeObject(){
			if( !this.treeObject ){
				this.treeObject = $(this.$refs.basicSnipptsTree)["jstree"](true);
			}

			return this.treeObject;
		}


            private onChangeSearch(){
                this.__getTreeObject().search(this.search.trim(), false, true, 'wv_root');

                if (this.search === "" && !this.isSearching){
                    this.isSearching= true;
                }
                this.updateStyle();
            }


            private updateStyle(){
                let $li = $(this.$refs.basicSnipptsTree).find("li");
                $li.find(".jstree-search").removeClass("jstree-search");
            }


		__createTree(treeData){
			let self = this;
			$(this.$refs.basicSnipptsTree)["jstree"]({
				"core": {
					"animation": 0,
					"check_callback": true,
					"themes": {
						"stripes": true
					},
					'data': treeData,
				},

				'contextmenu' : {
					'items' : function(node) {
						var tmp = $["jstree"].defaults.contextmenu.items();

						delete tmp.ccp;
						delete tmp.create;
						delete tmp.rename;
						delete tmp.remove;

						if(this.get_type(node) === "item") {
							tmp.favorite={
								label: "favorite",
								separator_after:false,
								separator_before:false,
								_disabled:false,
								action: function(){
									let item = new SnippetFavoriteItemDTO();
									item.id = node.id;
									item.text = node.text;
									self.$emit("addFavorite", item);

									//Vue.$WScriptService.addFavorite( {id: node.id, text: node.text} );
								}
							};

							if(self.isFocus){
								//edit focus상태일때만 insert 메뉴 보임
								tmp.insert={
									label: "insert",
									separator_after:false,
									separator_before:false,
									_disabled:false,
									action: function(){
										if( self.isFocus ){
											//editor가 focus상태일때만 요청
											//Vue.$WScriptService.insertCodeById(node.id);
											self.$emit("insertCode", node.id);
										}
									}
								}
							}

							tmp.clipboard={
								label: "clipboard",
								separator_after:false,
								separator_before:false,
								_disabled:false,
								action: function(){
									//Vue.$WScriptService.copyCodeToClipboardById(node.id);
									self.$emit("copyToClipboard", node.id);
								}
							}
						}

						return tmp;
					}
				},

				"types": {
					"#": {
						"max_children": 1,
						"max_depth": 15,
						"valid_children": ["root"]
					},

					"root":{
						"valid_children": ["group", "item"]
					},

					"group": {
						"valid_children": ["group", "item"]
					},

					"item": {
						"icon": "fa fa-file-o",
						"valid_children": []
					}
				},

				"plugins": [
					/*"dnd","state","types", "wholerow", "contextmenu"*/
					"state","types", "wholerow", "contextmenu", "search"
				],
                        "search": {
                            "case_insensitive": true,
                            "show_only_matches" : true,
                            'show_only_matches_children': true
                        }
			}).on('changed.jstree', function (e, data) {
				if( data.selected && data.selected.length == 1){
					self.focusTargetId =  data.selected[0];
				}else{
					self.focusTargetId = '';
				}

				let target = self.__getTreeObject().get_node(self.focusTargetId);

				switch(target.type){
					case "root":
					break;
					case "group":
					break;
					case "item":
					break;
				}

			}).on("rename_node.jstree", (e, data)=>{
			}).on("move_node.jstree", (e, data)=>{
			}).on("open_node.jstree", (e)=>{
			}).on("create_node.jstree", (e, data)=>{
			}).on('search.jstree', function (nodes, str, res) {
                      self.isSearching = str.nodes.length !== 0;
                  });
		}

		setTreeData(data:any){
			this.treeData = data;
			this.__createTree( this.treeData );
		}
	}
</script>
<style scoped>
      .snpippet-search {
            display: flex;
            padding: 4px;
      }
      .snpippet-search .search-field{
            margin:0;
            height: 22px !important;
      }

      .snpippet-search-result {
            margin-top: 4px;
      }

      .snpippet-search-no-result {
            margin-top: 10px;
            text-align: center;
            color: gray;
      }
</style>
