<template>
      <modal
            id="rack-extension-popup"
            name="rack-extension-popup"
            class="w-modal"
            :click-to-close="false"
            @opened="modalOpened"
            @closed="onClosed"
            :resizable="false"
            :width="1200"
            :height="700">
            <div class="modal-header">
                  <h4>Rack Mount Manager</h4>
                  <a class="close-modal-btn" role="button" @click="onClickClose"><i class="el-icon-error"></i></a>
            </div>
            <div class="modal-body">
                  <div class="wrap">
                        <!--rack 탐색 목록 -->
                        <template v-if="RackListComponent">
                              <component :is="RackListComponent"
                                         class="rack-list"
                                         ref="rackList"
                                         @select-rack="onChangeRackItem"
                                         @init-comp="onInitDynamicComponent"
                                         v-show="isActiveList"></component>
                        </template>
                        <!--//rack 탐색 목록-->
                        <!--rack 편집 영역-->
                        <div class="rack-wrap" v-show="currentRack">
                              <!--header-->
                              <div class="header">
                                    <div>
                                          <button class="bar-btn header-btn" @click="isActiveList = !isActiveList">
                                                <i aria-hidden="true" class="fa fa-bars"></i>
                                          </button>
                                          <h4 v-if="currentRack">{{currentRack.name}} - {{currentRack.id}}</h4>
                                    </div>
                                    <div>
                                          <el-button type="" size="small" @click="onClickClose">cancel</el-button>
                                          <el-button type="primary" size="small" @click="onClickSave">save</el-button>
                                    </div>
                              </div>
                              <!--//header-->
                              <!--//body-->
                              <div class="content">
                                    <!--error 목룍 -->
                                    <div class="group" v-show="mountErrorItems && mountErrorItems.length">
                                          <rack-error-table-component
                                                ref="errorItemsComp"
                                                @delete-error-items="onDeleteErrorItems"></rack-error-table-component>
                                    </div>
                                    <!--//error 목록-->
                                    <!--랙실장 상세 -->
                                    <div class="group"
                                         v-show="!mountErrorItems ||  (mountErrorItems && !mountErrorItems.length)">
                                          <!--preview-->
                                          <div class="rack-preview">
                                                <div class="rack-preview-top-ui">
                                                      <div class="flex">
                                                            <el-switch v-model="unitDirBT"
                                                                       @change="onChangeUnitDir"></el-switch>
                                                            <input class="unit-input" type="number"
                                                                   placeholder="UNIT Length" :maxLength="2"
                                                                   v-model="tempUnitLen" @change="onChangeUnitLen">
                                                      </div>
                                                      <el-button type="text" size="medium" class="icon-btn lg"
                                                                 @click.stop.prevent="initMountData">
                                                            <i aria-hidden="true" class="el-icon-refresh"></i>
                                                      </el-button>
                                                      <el-button type="text" size="medium" class="icon-btn lg"
                                                                 :disable="!mountFlatData.length"
                                                                 @click.stop.prevent="emptyData">
                                                            <i aria-hidden="true" class="el-icon-delete"></i>
                                                      </el-button>
                                                </div>

                                                <rack-preview-component ref="previewComp"
                                                                        @selected-shelf="focusShelf"></rack-preview-component>
                                          </div>
                                          <!--//preview-->
                                          <div class="rack-mount-table">
                                                <!-- shelf-items-->
                                                <div class="shelf-items" v-show="focusShelfNo">
                                                      <h4>Shelf No.{{focusShelfNo}} </h4>
                                                      <div class="grid-wrap" v-show="focusShelfData">
                                                            <div class="grid-header">
                                                                  <span class="handle-column"></span>
                                                                  <span class="flex">Asset ID</span>
                                                                  <span class="flex">Name</span>
                                                                  <span class="rotate-column">Rotate</span>
                                                                  <span class="shelf-column">Shelf Size</span>
                                                                  <span class="margin-column">Margin Left</span>
                                                                  <span class="size-column">Size</span>
                                                                  <span class="btn-column"></span>
                                                            </div>
                                                            <div class="grid-body">
                                                                  <sortable-grid-component
                                                                        @change-item-order-no="onChangeShelfItemOrderNo"
                                                                        @delete-item="onDeleteShelfItem"
                                                                        @change-item-size="onChangeShelfItemSize"
                                                                        :shelf-size="40"
                                                                        ref="shelfItemsGridComp"></sortable-grid-component>
                                                            </div>
                                                      </div>
                                                      <div v-show="!focusShelfData" class="no-data">NO DATA</div>
                                                </div>
                                                <template v-if="RackMountAssetTableComponent">
                                                      <component :is="RackMountAssetTableComponent"
                                                                 :class="{expand : !isActiveList}"
                                                                 :types="assetTypes"
                                                                 @select-asset="onSelectAsset"
                                                                 @init-comp="onInitDynamicComponent"
                                                                 ref="mountAssetTable"></component>
                                                </template>
                                                <!--//shelf-items-->
                                          </div>
                                    </div>
                                    <!-- //랙실장 상세 -->
                              </div>
                              <!--//body-->
                        </div>
                        <div class="rack-wrap" v-show="!currentRack">
                              <span class="no-data">{{lang.rackMountManager.selectRackToEdit}}</span>
                        </div>
                        <!--//rack 편집 영역-->
                  </div>
            </div>
      </modal>
</template>
<script>
'use strict';

function _asyncToGenerator(fn) { return function () { var gen = fn.apply(this, arguments); return new Promise(function (resolve, reject) { function step(key, arg) { try { var info = gen[key](arg); var value = info.value; } catch (error) { reject(error); return; } if (info.done) { resolve(value); } else { return Promise.resolve(value).then(function (value) { step("next", value); }, function (err) { step("throw", err); }); } } return step("next"); }); }; }

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }

var ContainerMixin = slicksort.ContainerMixin;
var ElementMixin = slicksort.ElementMixin;
var HandleDirective = slicksort.HandleDirective;

var SortableList = {
      mixins: [ContainerMixin],
      template: '<ul><slot /></ul>'
};

"use strict";

var SortableItem = {
      mixins: [ElementMixin],
      directives: {
            handle: HandleDirective
      },
      props: ['item', 'shelfSize'],
      data: function data() {
            return {
                  sizeOptions: ['input', 'flex', 100, 50, 33, 25, 20, 10],
                  currentType: 100,
                  rotageYN: 'N',
                  rowWeight: 0,
                  columnWeight: 'flex',
                  padding: 0
            };
      },
      template: "\n        <li class=\"list-item d-flex\">\n            <span v-handle class=\"handle handle-column\"><i data-v-8af1bd78=\"\" aria-hidden=\"true\" class=\"fa fa-bars\"></i></span>\n            <div class=\"flex\">\n                <span>{{item.id}}</span>\n            </div>\n            <div class=\"flex\">\n                <span>{{item.name}}</span>\n            </div>\n            <div class=\"rotate-column\">\n               <el-select class=\"mini size-select\" \n                            v-model=\"rotageYN\" \n                            placeholder=\"select size\" size=\"mini\"\n                            @change=\"onChangeItemRotate\"\n                >\n                    <el-option                           \n                            key=\"Y\"\n                            label=\"Y\"\n                            value=\"Y\">\n                    </el-option>\n                    <el-option                           \n                            key=\"N\"\n                            label=\"N\"\n                            value=\"N\">\n                    </el-option>\n                </el-select>  \n            </div>\n            <div class=\"shelf-column\" @mouseup.stop>\n                <el-input class=\"size-input\" \n                    @change=\"onChangeRowWeight\"\n                    type=\"number\" size=\"mini\" :maxLength=\"3\" placeholder=\"Please input\" v-model=\"rowWeight\"></el-input>\n            </div>\n            <div class=\"margin-column\" @mouseup.stop>\n                <el-input class=\"size-input\" \n                    @change=\"onChangePadding\"\n                    type=\"number\" size=\"mini\" :maxLength=\"3\" placeholder=\"Please input\" v-model=\"padding\"></el-input>\n                %\n            </div>\n            <div class=\"size-column\" @mouseup.stop>\n                <el-select class=\"mini size-select\" \n                            v-model=\"currentType\" \n                            placeholder=\"select size\" size=\"mini\"\n                            @change=\"onChangeColumnWeightSelect\"\n                >\n                    <el-option\n                            v-for=\"option in sizeOptions\"\n                            :key=\"option\"\n                            :value=\"option\">\n                    </el-option>\n                </el-select>    \n                <el-input class=\"size-input\" \n                    @change=\"onChangeColumWeight\"\n                    :disabled=\"currentType!='input'\" type=\"number\" size=\"mini\" placeholder=\"Please input\" v-model=\"columnWeight\"></el-input>\n                %\n            </div>\n            <div class=\"btn-column\">\n                <el-button type=\"danger\" class=\"icon-btn\" size=\"small\" @click=\"onClickDeleteButton\"><i class=\"el-icon-delete\"></i></el-button>\n            </div>\n        </li>\n    ",
      mounted: function mounted() {
            var _this = this;

            this.rowWeight = this.item.mountData.row_weight;
            this.columnWeight = this.item.mountData.column_weight;
            this.padding = this.item.mountData.padding;
            this.rotageYN = this.item.mountData.rotate === true ? 'Y' : 'N';

            if (this.sizeOptions.find(function (x) {
                  return x == _this.item.mountData.column_weight;
            })) {
                  this.currentType = this.item.mountData.column_weight;
            } else {
                  this.currentType = 'input';
            }
      },
      methods: {
            onChangeItemRotate: function onChangeItemRotate() {
                  this.item.mountData.rotate = this.rotageYN == 'Y' ? true : false;
                  this.changeItemSize();
            },
            onChangeColumnWeightSelect: function onChangeColumnWeightSelect() {
                  if (this.currentType != 'input') {
                        this.item.mountData.column_weight = this.currentType;
                        this.changeItemSize();
                  } else {
                        this.item.mountData.column_weight = this.item.mountData.width;
                  }
            },
            onClickDeleteButton: function onClickDeleteButton() {
                  this.$emit("delete-item", this.item.id);
                  /*let msg = '['+this.item.id+'] 실장을 취소하시겠습니까?';
                  Vue.$confirm(msg, 'Warning', {
                      confirmButtonText: 'OK',
                      cancelButtonText: 'Cancel',
                      type: 'warning'
                      }).then(() => {
                          this.$emit("delete-item", this.item.id);
                      }).catch(() => {
                       });
                      */
            },
            onChangeRowWeight: function onChangeRowWeight() {
                  var rowWeight = parseInt(this.rowWeight);

                  if (!isNaN(rowWeight) && rowWeight) {
                        this.rowWeight = Math.min(this.shelfSize, Math.max(1, rowWeight));
                        this.item.mountData.row_weight = this.rowWeight;
                        this.changeItemSize();
                  } else {
                        this.rowWeight = this.item.mountData.row_weight;
                  }
            },
            onChangePadding: function onChangePadding() {
                  var padding = parseFloat(this.padding);

                  if (!isNaN(padding)) {
                        this.padding = Math.max(0, padding);
                        this.item.mountData.padding = this.padding;
                        this.changeItemSize();
                  } else {
                        this.padding = this.item.mountData.padding;
                  }
            },
            onChangeColumWeight: function onChangeColumWeight() {
                  if (this.columnWeight == "flex") {
                        this.item.mountData.column_weight = this.columnWeight;
                        this.changeItemSize();
                  } else {
                        var columnWeight = parseFloat(this.columnWeight);

                        if (!isNaN(columnWeight)) {
                              this.columnWeight = Math.max(1, columnWeight);
                              this.item.mountData.column_weight = this.columnWeight;
                              this.changeItemSize();
                        } else {
                              this.columnWeight = this.item.mountData.column_weight;
                        }
                  }
            },
            changeItemSize: function changeItemSize() {
                  this.$emit("change-item-size", this.item);
            }
      }
};

var SortableGridComponent = {
      template: '\n    <SortableList lockAxis="y" v-model="items" :useDragHandle="true" @input="onChangeItemOrderNo">     \n     <SortableItem v-for="(item, index) in items" :index="index" :key="item.id+\'temp\'+tempNo" \n            :item="item"\n            :shelf-size="shelfSize" \n        ref="sortItem"\n        @delete-item="onDeleteItem"\n        @change-item-size="onChangeItemSize" />\n    </SortableList>\n  ',
      components: {
            SortableItem: SortableItem,
            SortableList: SortableList
      },
      props: ['shelfSize'],
      data: function data() {
            return {
                  items: [/*{
                          id:"AssetID0023238",
                          name: "AssetName382398",
                          row_weight:4,
                          row_index: 4,
                          padding:  10,
                          column_weight: 33
                          }*/],
                  tempNo: 0
            };
      },


      methods: {
            setItems: function setItems(data) {
                  this.tempNo++;
                  this.items.splice(0, this.items.length);
                  this.items.push.apply(this.items, data);
            },

            onChangeItemOrderNo: function onChangeItemOrderNo(data) {
                  //newIndex: 0, oldIndex: 2
                  var itemIds = this.items.map(function (x) {
                        return x.id;
                  });
                  //if(data.oldIndex == data.newIndex){return;}
                  this.$emit("change-item-order-no", itemIds);
            },

            onDeleteItem: function onDeleteItem(assetId) {
                  this.$emit("delete-item", assetId);
            },

            onChangeItemSize: function onChangeItemSize(item) {
                  this.$emit("change-item-size", item);
            }
      }
};

var RackPreviewComponent = {
      template: '\n           <div class="rack-warp">\n            <ul>\n                <li v-for="(shelfNo, i) in unitAry" :key="i"                     \n                    @click="selectedShelf(shelfNo)" \n                    :class="{active: selectedShelfNo==shelfNo}">\n                    <span>{{shelfNo}}</span>                    \n                    <div class="item-wrap" :data-unit-no="shelfNo">       \n                        <template v-if="shelfMountData[shelfNo]">\n                            <div v-for="(item, j) in shelfMountData[shelfNo]"                                     \n                                    :key="j" \n                                    :style="getItemStyle(item)" \n                                    class="item tooltip active"\n                                    :class="{overlap: item.mountData.error == \'oversize\' || item.mountData.error == \'overlap_item\'}">\n                                    <el-tooltip :content="item.id" placement="top" class="rack-tooltip">\n                                        <div class="cont"><span :class="{rotate: item.mountData.rotate}">{{item.id}}</span></div>\n                                    </el-tooltip>   \n                                </div>     \n                        </template>\n                    </div>\n                </li>                      \n            </ul>\n        </div>\n        ',
      components: {},

      data: function data() {
            return {
                  selectedShelfNo: 0,
                  unitLen: 40,
                  unitDirBT: true,
                  unitHeight: 13,
                  unitAry: [],
                  shelfMountData: {}
            };
      },


      mounted: function mounted() {},

      methods: {
            getItemStyle: function getItemStyle(item) {
                  var style = "width:" + item.mountData.width + "%;left:" + item.mountData.left + "%;height:" + this.unitHeight * item.mountData.row_weight + "px;";
                  return style;
            },

            setUnitLen: function setUnitLen(len) {
                  this.unitLen = len;
                  this.unitAry = [];
                  if (this.unitDirBT) {
                        for (var i = this.unitLen; i > 0; i--) {
                              this.unitAry.push(i);
                        }
                  } else {
                        for (var _i = 1, iLen = this.unitLen; _i <= iLen; _i++) {
                              this.unitAry.push(_i);
                        }
                  }
            },

            setMountData: function setMountData(data) {
                  this.shelfMountData = data;
            },

            setUnitDir: function setUnitDir(dirBT) {
                  this.unitDirBT = dirBT;
                  this.setUnitLen(this.unitLen);
            },

            deselectShelf: function deselectShelf() {
                  this.selectedShelfNo = 0;
            },

            selectedShelf: function selectedShelf(i) {
                  this.selectedShelfNo = i;
                  this.$emit("selected-shelf", this.selectedShelfNo);
            },

            onDBClick: function onDBClick(id) {
                  this.$emit("dbclick-item", id);
            }
      }
};

var RackErrorTableComponent = {
      template: '\n        <div class="flex" style="padding:10px;">\n            <div class="d-flex justify-content-space-between">\n                <h5>{{lang.rackMountManager.invalidAssetList}}\n                     <el-popover\n                        placement="top-start"\n                        title="Info"\n                        width="200"\n                        trigger="hover"\n                        :content="lang.rackMountManager.inValidAssetListTryAgain">\n                        <i slot="reference" class="el-icon-info"></i>\n                    </el-popover>\n                </h5>\n                <el-button type="danger" size="mini" @click="onClickDelete">{{lang.rackMountManager.editAfterDeleteMountingInfo}}</el-button>\n            </div>\n            <div class="error-list">\n               <el-table\n                    ref="assetTable"\n                    class="asset-table"                                        \n                    stripe\n                    height="550"\n                    :data="errorItems"\n                    style="width:100%;"\n                >\n                    <el-table-column  \n                        property="id" label="ID" sortable>\n                    </el-table-column>\n                    <el-table-column  \n                        property="name" label="Name" sortable>\n                    </el-table-column>                              \n                     <el-table-column label="Error Type">\n                        <template slot-scope="props">\n                            {{ props.row.mountData.error }}\n                        </template>\n                    </el-table-column>\n                    <el-table-column  \n                        property="row_index" label="Row Index">\n                    </el-table-column>     \n                    <el-table-column  \n                        property="row_weight" label="Row Weight">\n                    </el-table-column>\n                    <el-table-column  \n                        property="column_index" label="Column Index">\n                    </el-table-column>\n                    <el-table-column  \n                        property="column_weight" label="Column Weight">\n                    </el-table-column>\n                    <el-table-column  \n                        property="padding" label="Padding">\n                    </el-table-column>\n                    <el-table-column  \n                        property="rotate" label="Rotate">\n                    </el-table-column>   \n                </el-table>\n            </div>\n        </div>\n    ',
      data: function data() {
            return {
                  lang: Vue.$i18n.messages.wv.dcim_pack,
                  errorItems: []
            };
      },

      mounted: function mounted() {
            /*let items = window.wemb.dcimManager.mountDataManager.getMountDataByRackId("rack01").mounts.error;
            items.forEach((item)=>{
                console.log(item);
                console.log(item.mountData);
            })
            this.setData(items);*/
      },

      methods: {
            setData: function setData(items) {
                  var _errorItems;

                  this.errorItems.splice(0, this.errorItems.length);
                  (_errorItems = this.errorItems).push.apply(_errorItems, _toConsumableArray(items));
            },
            onClickDelete: function onClickDelete() {
                  var _this2 = this;

                  var msg = this.lang.rackMountManager.confirmDeleteMountingInfo;
                  Vue.$confirm(msg, 'Warning', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(function () {
                        _this2.$emit("delete-error-items");
                  }).catch(function () {});
            }
      }
};
module.exports = {
      components: {
            SortableGridComponent: SortableGridComponent,
            RackPreviewComponent: RackPreviewComponent,
            RackErrorTableComponent: RackErrorTableComponent
      },

      data: function data() {
            return {
                  lang: Vue.$i18n.messages.wv.dcim_pack,
                  lang_common: Vue.$i18n.messages.wv.common,
                  RackMountAssetTableComponent: null,
                  RackListComponent: null,
                  maxUnitLen: 99,
                  minUnitLen: 10,
                  sizeOptions: ['input', 100, 50, 33, 25, 20, 10],
                  assetTypes: [],
                  search: { field: "", keyword: "", onlyUnpositioned: true },
                  errorItems: [],
                  currentRack: null,
                  unitDirBT: false, //TB: 1~42, BT:42~1
                  isActiveList: true,
                  flexMinSize: 1, ///최소 사이즈 1%
                  focusShelfData: null,
                  mountFlatData: [],
                  validMountData: [],
                  mountErrorItems: [],
                  oversizeItemIdsObj: [],
                  mountRows: {},
                  tempUnitLen: 40,
                  unitLen: 40,
                  focusShelfNo: null,
                  assetTableData: null,
                  tempRackMountDataStr: null,
                  tempRackId: null,
                  tempMountIds: null,
                  loadedCount: 0
            };
      },

      created: function created() {
            //TODO - "rack" => 컴포넌트 아이디를 추후 타입 아이디로 변경해야함
            this.assetTypes = window.wemb.dcimManager.mountDataManager.getMountAssetTypes("rack");
            this.loadComponents();
      },


      mounted: function mounted() {
            this.show();
      },

      methods: {
            loadComponents: function loadComponents() {
                  var _this3 = this;

                  return _asyncToGenerator( /*#__PURE__*/regeneratorRuntime.mark(function _callee() {
                        var components;
                        return regeneratorRuntime.wrap(function _callee$(_context) {
                              while (1) {
                                    switch (_context.prev = _context.next) {
                                          case 0:
                                                components = [{
                                                      path: window.wemb.configManager.context + "/custom/packs/dcim_pack/manager/view/mount/rack/DCIMRackMountItemsComponent.vue",
                                                      name: "RackMountAssetTableComponent"
                                                }, {
                                                      path: window.wemb.configManager.context + "/custom/packs/dcim_pack/manager/view/mount/rack/DCIMRackListComponent.vue",
                                                      name: "RackListComponent"
                                                }];
                                                _context.next = 3;
                                                return _this3.loadComponent(components[0].path, components[0].name);

                                          case 3:
                                                _context.next = 5;
                                                return _this3.loadComponent(components[1].path, components[1].name);

                                          case 5:
                                          case 'end':
                                                return _context.stop();
                                    }
                              }
                        }, _callee, _this3);
                  }))();
            },
            loadComponent: function loadComponent(path, name) {
                  var _this4 = this;

                  var loader = window.wemb.$httpVueLoader(path, null);
                  return loader().then(function (result) {
                        _this4[name] = result;
                  });
            },


            modalOpened: function modalOpened() {
                  if (this.$refs.rackList) {
                        this.$refs.rackList.updateRackItems();
                  }
            },

            onInitDynamicComponent: function onInitDynamicComponent() {
                  this.loadedCount++;
                  if (this.loadedCount == 2) {
                        this.loadedComponents();
                  }
            },


            loadedComponents: function loadedComponents() {
                  if (this.tempRackId) {
                        this.selectRack(this.tempRackId);
                        this.tempRackId = null;
                  }
            },

            onChangeRackItem: function onChangeRackItem(rack) {
                  var _this5 = this;

                  if (this.getIsEditData()) {
                        var msg = this.lang.common.moveWindowEditingData;
                        Vue.$confirm(msg, 'Warning', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(function () {
                              _this5.selectRack(rack.id);
                        }).catch(function () {});
                  } else {
                        this.selectRack(rack.id);
                  }
            },
            getIsEditData: function getIsEditData() {
                  var currentMountDataStr = void 0;
                  if (this.currentRack) {
                        currentMountDataStr = JSON.stringify(this.getCurrentEditData());
                  }

                  if (this.tempRackMountDataStr && this.currentRack && this.tempRackMountDataStr != currentMountDataStr) {
                        return true;
                  } else {
                        return false;
                  }
            },
            updateAssetTableData: function updateAssetTableData() {
                  var assets = $.extend(true, {}, window.wemb.dcimManager.assetManager.assets);
                  var assetFlat = this.getTypeFlatAssets(assets);
                  this.assetTableData = assetFlat;
                  this.$refs.mountAssetTable.updateAssets(assets, assetFlat);
            },
            getTypeFlatAssets: function getTypeFlatAssets(assets) {
                  var ary = [];
                  $.each(assets, function (type, items) {
                        ary = ary.concat(items);
                  });
                  return ary;
            },
            onSelectAsset: function onSelectAsset(asset) {
                  this.addMountItem(asset);
            },


            addMountItem: function addMountItem(asset) {
                  if (!asset) {
                        return;
                  }
                  if (!this.currentRack) {
                        Vue.$message(this.lang.rackMountManager.selectRack);
                        return;
                  }
                  if (!this.focusShelfNo) {
                        Vue.$message(this.lang.rackMountManager.selectShelf);
                        return;
                  }

                  if (this.mountFlatData.find(function (x) {
                        return x.id == asset.id;
                  })) {
                        Vue.$message(this.lang.rackMountManager.alreadyMounted);
                        return;
                  }

                  //add mountData
                  window.wemb.dcimManager.mountDataManager.rackMountDataValidator.addMountData(asset);

                  /*asset.mountData = {};
                                          asset.props = asset.props || {};
                   if (typeof asset.props == "string") {
                        try {
                              asset.props = JSON.parse(asset.props);
                        } catch (error) {
                         }
                  }
                  */
                  var rowWeight = 1;
                  if (asset.mountData.row_weight && !isNaN(parseInt(asset.mountData.row_weight))) {
                        rowWeight = Math.max(1, parseInt(asset.mountData.row_weight));
                  }

                  asset.mountData.row_weight = rowWeight;
                  asset.mountData.row_index = this.focusShelfNo;
                  asset.mountData.column_weight = "flex";
                  asset.mountData.padding = 0;
                  // asset.mountData.rotate =


                  if (!this.mountRows[this.focusShelfNo]) {
                        this.mountRows[this.focusShelfNo] = [];
                  }

                  asset.mountData.column_index = this.mountRows[this.focusShelfNo].length;

                  var rowItems = this.mountRows[this.focusShelfNo];
                  if (this.getValidator().getIsPossibleMount(rowItems, asset)) {
                        this.mountFlatData.push(asset);
                        this.mountRows[this.focusShelfNo].push(asset);
                        asset.parent_id = this.currentRack.id;
                        this.drawMountItems();
                        this.resetFocusShelf();
                  } else {
                        Vue.$message.error(this.lang.rackMountManager.noSpaceToMount);
                  }
            },

            resetFocusShelf: function resetFocusShelf() {
                  if (this.unitLen < this.focusShelfNo) {
                        this.focusShelfNo = null;
                  }
                  this.focusShelf(this.focusShelfNo);
            },

            /*shelf 선택시*/
            focusShelf: function focusShelf(shelfNo) {
                  shelfNo = Math.min(shelfNo, Math.max(shelfNo, 1));
                  this.focusShelfNo = shelfNo;
                  var items = this.mountRows[shelfNo] || [];
                  items = $.extend(true, [], items);
                  this.$refs.shelfItemsGridComp.setItems(items);
                  this.focusShelfData = this.mountRows[shelfNo];
            },

            updateMountData: function updateMountData(rackId) {
                  var e = window.RackMountError;
                  /**window.RackMountError = {
                  SHELF_INDEX: "shelf_index",
                  DOUBLE_COLUMN_INDEX: "double_column_index",
                  DATA_TYPE: "data_type",
                  OVERSIZE: "oversize",
                  OVERLAP_ITEM: "overlap_item"
                  }
                   */

                  var data = window.wemb.dcimManager.mountDataManager.getMountDataByRackId(rackId);

                  if (data) {
                        this.unitDirBT = data.unitDirBT;
                        this.unitLen = data.unitLen;
                        this.tempUnitLen = this.unitLen;
                        this.mountFlatData = data.mounts.items.filter(function (x) {
                              return x.mountData.error != e.DOUBLE_COLUMN_INDEX && x.mountData.error != e.DATA_TYPE;
                        });
                        this.mountRows = data.mounts.rows;
                        this.mountErrorItems = data.mounts.error || [];
                        this.tempMountIds = data.mounts.items.map(function (x) {
                              return x.id;
                        });
                  } else {
                        this.tempMountIds = null;
                        this.mountFlatData = [];
                        this.mountRows = {};
                        this.mountErrorItems = [];
                  }
            },
            selectRack: function selectRack(rackId) {
                  //원본정보를 조회
                  var asset = window.wemb.dcimManager.assetManager.getAssetDataByAssetId(rackId);

                  //asset = {id: "rackId", "order_type": "acen", "unit_size": 42};
                  this.currentRack = asset;
                  this.focusShelfData = null;
                  this.focusShelfNo = null;
                  this.updateMountData(rackId);
                  this.updateAssetTableData();
                  this.$refs.errorItemsComp.setData(this.mountErrorItems);
                  this.$refs.rackList.setActiveRackId(rackId);
                  this.$refs.previewComp.setUnitDir(this.unitDirBT);
                  this.$refs.previewComp.setUnitLen(this.unitLen);

                  this.tempRackMountDataStr = JSON.stringify(this.getCurrentEditData());
                  //table update빈배열
                  this.drawMountItems();
            },
            refresh: function refresh() {
                  if (this.currentRack && this.currentRack.id) {
                        this.selectRack(this.currentRack.id);
                  }
            },


            initMountData: function initMountData() {
                  var _this6 = this;

                  //add, delete]
                  var msg = this.lang.rackMountManager.confirmDataReset;
                  Vue.$confirm(msg, 'Warning', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(function () {
                        _this6.selectRack(_this6.currentRack.id);
                  }).catch(function () {});
            },

            emptyData: function emptyData() {
                  var _this7 = this;

                  //delete
                  var msg = this.lang.rackMountManager.confirmDeleteMountingData;
                  Vue.$confirm(msg, 'Warning', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(function () {
                        _this7.removeFlatAllItems();
                        _this7.drawMountItems();
                        _this7.resetFocusShelf();
                  }).catch(function () {});
            },

            updateMountPreviewData: function updateMountPreviewData() {
                  if (!this.focusShelfNo) {
                        this.$refs.previewComp.deselectShelf();
                  }
                  this.$refs.previewComp.setMountData(this.mountRows);
            },

            drawMountItems: function drawMountItems() {
                  var data = this.getValidator().validate(this.unitLen, this.unitDirBT, this.mountFlatData);
                  this.mountRows = data.rows;
                  this.$refs.mountAssetTable.refresh();
                  this.updateMountPreviewData();
            },

            onChangeUnitLen: function onChangeUnitLen() {
                  var _this8 = this;

                  this.tempUnitLen = parseInt(this.tempUnitLen) || 10;
                  this.tempUnitLen = Math.min(this.maxUnitLen, Math.max(this.tempUnitLen, 10));
                  if (this.tempUnitLen == this.unitLen) {
                        return;
                  } else if (this.mountFlatData.length && this.tempUnitLen < this.unitLen) {
                        var msg = '';

                        if (this.unitLen - this.tempUnitLen == 1) {
                              msg = "No. " + this.tempUnitLen + " Shelf";
                        } else {
                              msg = "No. " + this.tempUnitLen + 1 + "Shelf ~ No. " + this.unitLen + "Shelf";
                        }
                        msg += this.lang.rackMountManager.confirmChangeRackSize;
                        Vue.$confirm(msg, 'Warning', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(function () {

                              if (_this8.mountRows) {
                                    $.each(_this8.mountRows, function (no) {
                                          var num = parseInt(no);
                                          if (num > _this8.tempUnitLen) {
                                                _this8.removeFlatItemsDataShelfNo(no);
                                          }
                                    });

                                    _this8.updateUnitSize();
                                    _this8.drawMountItems();
                                    _this8.resetFocusShelf();
                              }
                        }).catch(function () {});
                  } else {
                        this.updateUnitSize();
                  }
            },

            updateUnitSize: function updateUnitSize() {
                  this.unitLen = this.tempUnitLen;
                  this.$refs.previewComp.setUnitLen(this.unitLen);
                  this.drawMountItems();
                  this.resetFocusShelf();
            },

            onChangeUnitDir: function onChangeUnitDir() {
                  this.$refs.previewComp.setUnitDir(this.unitDirBT);
                  this.drawMountItems();
                  this.resetFocusShelf();
            },

            onDeleteShelfItem: function onDeleteShelfItem(assetId) {
                  this.removeFlatItemDataById(assetId);
                  var currentRow = this.focusShelfData;
                  this.getValidator().overwriteColumnIndex(currentRow);
                  this.drawMountItems();
                  this.resetFocusShelf();
            },

            removeFlatItemDataById: function removeFlatItemDataById(assetId) {
                  //사이즈가 넘치더라도 체크하지 않고, 삭제함
                  var item = this.mountFlatData.find(function (x) {
                        return x.id == assetId;
                  });
                  var flatIndex = this.mountFlatData.indexOf(item);
                  this.mountFlatData.splice(flatIndex, 1);

                  var findTableData = this.assetTableData.find(function (x) {
                        return x.id == assetId;
                  });
                  findTableData.parent_id = null;
            },

            removeFlatItemsDataShelfNo: function removeFlatItemsDataShelfNo(no) {
                  var _this9 = this;

                  var target = this.mountRows[no];
                  if (target && target.length) {
                        target.forEach(function (item) {
                              _this9.removeFlatItemDataById(item.id);
                        });
                  }
            },

            removeFlatAllItems: function removeFlatAllItems() {
                  var _this10 = this;

                  $.each(this.mountRows, function (no, items) {
                        _this10.removeFlatItemsDataShelfNo(no);
                  });
            },

            onChangeShelfItemSize: function onChangeShelfItemSize(item) {
                  //사이즈가 넘치더라도 이전보다 줄거나 같으면 일단 유지해줌
                  //이전보다 커지면서 넘칠경우 다시 초기 데이터를 넣어줌
                  var rowData = this.focusShelfData;
                  var findItem = rowData.find(function (x) {
                        return x.id == item.id;
                  });
                  var validate = this.getValidator().validateChangeItemSize(this.focusShelfData, findItem, item);
                  if (validate) {
                        findItem.mountData.column_weight = item.mountData.column_weight;
                        findItem.mountData.padding = item.mountData.padding;
                        findItem.mountData.row_weight = item.mountData.row_weight;
                        findItem.mountData.rotate = item.mountData.rotate;
                        //console.log("@@ size ok");
                        this.drawMountItems();
                  } else {
                        if (findItem.mountData.row_weight != item.mountData.row_weight) {
                              findItem.mountData.row_weight = item.mountData.row_weight;
                              this.drawMountItems();
                        }

                        Vue.$message.warning(this.lang.rackMountManager.errorRackSize);
                        //console.log("@@ size over")
                        this.resetFocusShelf();
                  }
            },

            getValidator: function getValidator() {
                  return window.wemb.dcimManager.mountDataManager.rackMountDataValidator;
            },

            onChangeShelfItemOrderNo: function onChangeShelfItemOrderNo(ids) {
                  //순서가 바뀐경우 사이즈 체크하지 않고 변경해줌
                  var rowData = this.focusShelfData;
                  this.getValidator().changeShelfItemOrderNo(rowData, ids);
                  this.drawMountItems();
            },

            setData: function setData(rackId) {
                  //
                  this.tempRackId = rackId;
            },

            show: function show(rackId) {
                  this.currentRack = null;
                  this.$modal.show('rack-extension-popup');
            },

            onClickSave: function onClickSave() {
                  var _this11 = this;

                  if (!this.validationSaveData()) {
                        Vue.$message.error(this.lang.rackMountManager.checkEditingStatus);
                        return;
                  }
                  var msg = this.lang.common.saveChanges;
                  Vue.$confirm(msg, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(function () {
                        _this11.saveRackMountData();
                  }).catch(function () {});
            },

            validationSaveData: function validationSaveData() {
                  if (this.mountFlatData.filter(function (x) {
                        return x.mountData.error != "";
                  }).length) {
                        return false;
                  } else {
                        return true;
                  }
            },

            onDeleteErrorItems: function onDeleteErrorItems() {
                  //에러목록 삭제 이벤트 발생시
                  //현재 데이터로 저장(현재데이터엔 에러 목록이 없음)
                  this.saveRackMountData();
            },

            saveRackMountData: function saveRackMountData() {
                  var _this12 = this;

                  return _asyncToGenerator( /*#__PURE__*/regeneratorRuntime.mark(function _callee2() {
                        var url, data, result, param;
                        return regeneratorRuntime.wrap(function _callee2$(_context2) {
                              while (1) {
                                    switch (_context2.prev = _context2.next) {
                                          case 0:
                                                data = _this12.getCurrentEditData();
                                                param = {
                                                      "id": "assetDataService.getMount",
                                                      "params": data
                                                };

                                                _context2.next = 4;
                                                return wemb.$http.post(window.wemb.dcimManager.path, param);

                                          case 4:
                                                result = _context2.sent;

                                                if (result) {
                                                      Vue.$message.success(_this12.lang_common.successSave);

                                                      _this12.saveLocalData(data);

                                                      _this12.refresh();
                                                } else {
                                                      Vue.$message.error(_this12.lang_common.errorSave);
                                                }

                                          case 6:
                                          case "end":
                                                return _context2.stop();
                                    }
                              }
                        }, _callee2, _this12);
                  }))();
            },


            saveLocalData: function saveLocalData(data) {
                  var assetMap = window.wemb.dcimManager.assetManager.assetFlatMap;
                  var rackInfo = assetMap.get(data.id);
                  rackInfo.unit_size = data.unit_size;
                  rackInfo.order_type = data.order_type;

                  if (this.tempMountIds) {
                        this.tempMountIds.forEach(function (id) {
                              var assetInfo = assetMap.get(id);
                              assetInfo.parent_id = null;
                        });
                  }

                  data.children.forEach(function (item) {
                        var assetInfo = assetMap.get(item.id);
                        assetInfo.parent_id = data.id;
                        //assetInfo.props = item.props
                        assetInfo.column_index = item.column_index;
                        assetInfo.row_index = item.row_index;
                        assetInfo.column_weight = item.column_weight;
                        assetInfo.row_weight = item.row_weight;
                        assetInfo.padding = item.padding;
                        assetInfo.rotate = item.rotate;
                  });
            },

            getCurrentEditData: function getCurrentEditData() {
                  var items = [];
                  this.mountFlatData.forEach(function (item) {
                        var rotate = item.mountData.rotate ? 1 : 0;
                        var data = {
                              id: String(item.id),
                              column_index: String(item.mountData.column_index),
                              row_index: String(item.mountData.row_index),
                              row_weight: String(item.mountData.row_weight),
                              column_weight: String(item.mountData.column_weight),
                              padding: String(item.mountData.padding),
                              rotate: String(rotate),
                              asset_type: String(item.asset_type)
                        };
                        items.push(data);
                        /*
                        items.push({
                              id: item.id,
                              props: JSON.stringify(data)
                        })*/
                  });
                  return {
                        id: String(this.currentRack.id),
                        asset_type: "Rack",
                        unit_size: String(this.unitLen),
                        order_type: this.unitDirBT ? 'DESC' : 'ASC',
                        children: items
                  };
            },

            onClickClose: function onClickClose() {
                  var _this13 = this;

                  if (this.getIsEditData()) {
                        var msg = this.lang.common.closeWindowEditingData;
                        Vue.$confirm(msg, 'Warning', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(function () {
                              _this13.$modal.hide('rack-extension-popup');
                              _this13.$emit("closed", false);
                        }).catch(function () {});
                  } else {
                        this.$modal.hide('rack-extension-popup');
                        this.$emit("closed", false);
                  }
            },

            onClosed: function onClosed() {
                  this.loadedCount = null;
                  this.tempRackId = null;
                  this.tempMountIds = null;
            }
      }
};
</script>
<style scoped>
      .modal-body {
            overflow: auto;
            padding: 0;
      }

      .wrap {
            display: flex;
            width: 100%;
      }

      .rack-list li {
            padding: 6px 10px;
            border-bottom: 1px solid #e8ecef;
      }

      .rack-list li.active {
            background: #5f6570;
            color: #fefefe;
            border-color: #5f6570;
      }

      .rack-list {
            display: flex;
            flex-direction: column;
            width: 180px;
            margin-right: 6px;
            border-right: 1px solid #e8ecef;
      }

      .rack-list ul {
            flex: 1;
            overflow: auto;
      }

      .rack-list .search-field {
            padding: 6px 6px 0px 6px;
      }

      .rack-list .search-field .el-input__inner {
            height: 22px;
            padding-left: 11px;
            padding-right: 18px;
      }

      .rack-list .assets-pagination {
            display: flex;
            align-items: center;
            padding: 6px;
      }

      .rack-list .assets-pagination span {
            flex: 1;
            text-align: center;
      }

      .rack-wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .rack-wrap .header {
            display: flex;
            align-items: center;
            padding: 6px 14px 6px 12px;
            border-bottom: 1px solid #e8ecef;
            justify-content: space-between;
      }

      .rack-wrap .header > div:first-child {
            display: flex;
            align-items: center;
      }

      .rack-wrap .header .el-button + .el-button {
            margin-left: 0;
      }

      .rack-wrap .header .header-btn {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            padding: 0;
            color: #5f6570;
            cursor: pointer;
      }

      .rack-wrap .header h4 {
            margin: 0 0 0 10px;
            font-size: 15px;
      }

      .rack-preview-top-ui {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
      }

      .rack-wrap .content {
            display: flex;
            flex: 1;
      }

      .rack-wrap .content > .group {
            display: flex;
            flex: 1;
            height:100%;
      }

      .rack-preview {
            padding: 10px 12px;
            overflow: auto;
      }

      .rack-wrap .mount-items {
            width: 780px;
            flex: 1;
            box-sizing: border-box;
            padding: 0 14px 18px 10px;
            display: flex;
            flex-direction: column;
      }

      .rack-wrap .mount-items.expand {
            width: 964px;
      }

      .rack-wrap .no-data {
            margin: 6px 6px 6px 0;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .mount-items .mount-items-top-ui {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
      }

      .mount-items .el-pagination {
            text-align: center;
            padding-top: 6px;
      }

      .mount-items .search-field .el-input__inner {
            height: 28px;
            padding-left: 11px;
      }

      .mount-items .assets-search .select-search-type {
            width: 140px;
      }

      .mount-items .assets-search .search-field {
            width: 180px;
            margin-bottom: 0;
      }

      .mount-items .assets-search .el-input__icon {
            line-height: 28px;
            height: auto;
      }

      .rack-mount-table {
            display: flex;
            flex-direction: column;
            flex: 1;
      }

      .shelf-items {
            padding: 10px 14px 10px 10px;
            display: flex;
            flex-direction: column;
            max-height: 40%;
      }

      .shelf-items h4 {
            margin: 2px 0 12px 0;
            font-size: 15px;
      }

      .no-data {
            background-color: #eee;
            border-radius: 4px;
      }

      .mount-items .el-table .cell {
            padding: 0 6px;
      }

      .shelf-items .asset-list,
      .mount-items .asset-list {
            margin-top: 6px;
            flex: 1;
            overflow: auto;
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .mount-items .asset-table {
            flex: 1;
      }

      .shelf-items .size-select .el-input,
      .mount-items .asset-table .size-select .el-input {
            width: 80px;
      }

      .shelf-items .el-input,
      .mount-items .asset-table .el-input {
            width: 64px;
      }

      .shelf-items .el-input .el-input__inner,
      .mount-items .asset-table .el-input .el-input__inner {
            padding: 0 4px 0 10px;
      }

      .shelf-items .grid-wrap {
            position: relative;
      }

      .shelf-items .grid-body {
            margin-top: 36px;
            max-height: 170px;
            min-height: 45px;
            overflow: auto;
            border: 1px solid #efefef;
            border-top: none;
      }

      .shelf-items .grid-header {
            border: 1px solid #e8ecef;
            height: 36px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
      }

      .shelf-items .grid-header > span {
            display: block;
      }

      .shelf-items ul {
            background-color: #f3f3f3;
            width: 100%;
            max-height: 100%;
            overflow: auto;
      }

      .shelf-items .list-item {
            align-items: center;
            border-bottom: 1px solid #efefef;
            background-color: #fff;
      }

      .shelf-items .list-item:last-child {
            border-bottom: none;
      }

      .shelf-items .grid-header > span {
            padding: 10px 8px;
      }

      .shelf-items .list-item > div {
            padding: 8px 8px;
            word-break: break-all;
      }

      .shelf-items .rotate-column {
            width: 88px;
      }

      .shelf-items .shelf-column {
            width: 88px;
      }

      .mount-items .shelf-label,
      .shelf-items .shelf-column > span {
            display: inline-block;
            width: 20px;
            margin-right: 4px;
      }

      .shelf-items .margin-column {
            width: 100px;
            word-break: normal;
      }

      .shelf-items .size-column {
            width: 184px;
            word-break: normal;
      }

      .shelf-items .btn-column {
            width: 46px;
      }

      .shelf-items .handle-column {
            width: 38px;
      }

      .shelf-items .handle {
            display: block;
            color: #b6b6b6;
            padding: 8px 10px 8px 14px;
            cursor: row-resize;
            font-size: 18px;
      }

      .icon-btn.lg {
            font-size: 16px;
            margin: 0;
            padding: 0 4px;
      }

      .unit-input {
            width: 46px;
            margin-left: 5px;
            border: none;
            text-decoration: underline;
            padding: 0px 2px;
            font-size: 14px;
            text-align: left;
            outline: none;
      }

      /*rack preview*/
      .rack-preview ul,
      .rack-preview li {
            margin: 0;
            padding: 0;
            list-style: none;
      }

      .rack-preview * {
            box-sizing: border-box;
      }

      .rack-preview .rack-warp {
            width: 190px;
            margin-left: 20px;
            border-top: 1px solid #c1c1c1;
            border-right: 1px solid #c1c1c1;
      }

      .rack-preview .rack-warp > ul {
            width: 100%;
            height: 100%;
            min-height: 100px;
            display: flex;
            flex-direction: column;
            border: 4px solid #bcc9f1;
            background-color: #363636;
      }

      .rack-preview .rack-warp > ul > li {
            height: 13px;
            width: 100%;
            padding: 0 5px;
            position: relative;
            box-sizing: content-box;
            margin-left: -5px;
            cursor: pointer;
      }

      .rack-preview .rack-warp > ul > li.active {
            background: rgba(46, 130, 215, 0.6);
      }

      .rack-preview .rack-warp > ul > li .item-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 9px;
            position: relative;
      }

      .rack-preview .rack-warp > ul > li:not(:first-child) .item-wrap {
            border-top: 1px solid #6b6b6b;
      }

      .rack-preview .rack-warp > ul > li > span {
            display: inline-block;
            width: 20px;
            position: absolute;
            top: -2px;
            left: -20px;
            font-size: 9px;
            color: #535352;
            text-align: center;
            line-height: 14px;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item {
            position: absolute;
            top: 0;
            z-index: 10;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item span {
            user-select: none;
      }

      .rack-preview .rack-warp > ul > li.active > .item-wrap > .item {
            z-index: 11;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 1px solid #282b4c;
            background-color: #555555;
            cursor: pointer;
            color: #b7b7b7;
            overflow: hidden;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont > .rotate {
            transform: rotate(90deg);
      }

      .rack-preview .rack-warp > ul > li.active > .item-wrap > .item .cont {
            background-color: #2e82d6;
            color: #fff;
      }

      .rack-preview .rack-warp > ul > li.active > .item-wrap > .item.overlap .cont {
            background-color: rgba(255, 0, 0, 1);
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item.overlap .cont {
            background-color: rgba(255, 0, 0, 0.4);
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont > em {
            font-size: 10px;
            color: #ffffff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-style: normal;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont > .rotate {
            transform: rotate(90deg);
      }

      /*
      .rack-preview .rack-warp>ul>li>.item-wrap .item .cont.active {
          background-color: #586580;
          color: #f5f5f5;
      }
      */

      .rack-preview .tooltip .tooltiptext {
            display: none;
            pointer-events: none;
            position: absolute;
            z-index: 1;
            top: -1px;
            left: 50%;
            width: 100%;
            height: 0;
      }

      .rack-preview .tooltip .tooltiptext > span {
            position: absolute;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 16px;
            font-size: 11px;
            left: 0;
            bottom: 0;
      }

      .rack-preview .tooltip .tooltiptext > span::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
      }

      .rack-preview .tooltip:hover .tooltiptext {
            display: block;
      }

      .rack-preview .vender-logo {
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px;
            max-height: 100%;
            max-width: 100%;
            height: auto;
      }

      /*//rack preview*/
</style>
