<template>
      <modal
            id="rack-extension-popup"
            name="rack-extension-popup"
            class="w-modal"
            :click-to-close="false"
            @opened="modalOpened"
            @closed="onClosed"
            :resizable="false"
            :width="1200"
            :height="700">
            <div class="modal-header">
                  <h4>Rack Mount Manager</h4>
                  <a class="close-modal-btn" role="button" @click="onClickClose"><i class="el-icon-error"></i></a>
            </div>
            <div class="modal-body">
                  <div class="wrap">
                        <!--rack 탐색 목록 -->
                        <template v-if="RackListComponent">
                              <component :is="RackListComponent"
                                         class="rack-list"
                                         ref="rackList"
                                         @select-rack="onChangeRackItem"
                                         @init-comp="onInitDynamicComponent"
                                         v-show="isActiveList"></component>
                        </template>
                        <!--//rack 탐색 목록-->
                        <!--rack 편집 영역-->
                        <div class="rack-wrap" v-show="currentRack">
                              <!--header-->
                              <div class="header">
                                    <div>
                                          <button class="bar-btn header-btn" @click="isActiveList = !isActiveList">
                                                <i aria-hidden="true" class="fa fa-bars"></i>
                                          </button>
                                          <h4 v-if="currentRack">{{currentRack.name}} - {{currentRack.id}}</h4>
                                    </div>
                                    <div>
                                          <el-button type="" size="small" @click="onClickClose">cancel</el-button>
                                          <el-button type="primary" size="small" @click="onClickSave">save</el-button>
                                    </div>
                              </div>
                              <!--//header-->
                              <!--//body-->
                              <div class="content">
                                    <!--error 목룍 -->
                                    <div class="group" v-show="mountErrorItems && mountErrorItems.length">
                                          <rack-error-table-component
                                                ref="errorItemsComp"
                                                @delete-error-items="onDeleteErrorItems"></rack-error-table-component>
                                    </div>
                                    <!--//error 목록-->
                                    <!--랙실장 상세 -->
                                    <div class="group"
                                         v-show="!mountErrorItems ||  (mountErrorItems && !mountErrorItems.length)">
                                          <!--preview-->
                                          <div class="rack-preview">
                                                <div class="rack-preview-top-ui">
                                                      <div class="flex">
                                                            <el-switch v-model="unitDirBT"
                                                                       @change="onChangeUnitDir"></el-switch>
                                                            <input class="unit-input" type="number"
                                                                   placeholder="UNIT Length" :maxLength="2"
                                                                   v-model="tempUnitLen" @change="onChangeUnitLen">
                                                      </div>
                                                      <el-button type="text" size="medium" class="icon-btn lg"
                                                                 @click.stop.prevent="initMountData">
                                                            <i aria-hidden="true" class="el-icon-refresh"></i>
                                                      </el-button>
                                                      <el-button type="text" size="medium" class="icon-btn lg"
                                                                 :disable="!mountFlatData.length"
                                                                 @click.stop.prevent="emptyData">
                                                            <i aria-hidden="true" class="el-icon-delete"></i>
                                                      </el-button>
                                                </div>

                                                <rack-preview-component ref="previewComp"
                                                                        @selected-shelf="focusShelf"></rack-preview-component>
                                          </div>
                                          <!--//preview-->
                                          <div class="rack-mount-table">
                                                <!-- shelf-items-->
                                                <div class="shelf-items" v-show="focusShelfNo">
                                                      <h4>Shelf No.{{focusShelfNo}} </h4>
                                                      <div class="grid-wrap" v-show="focusShelfData">
                                                            <div class="grid-header">
                                                                  <span class="handle-column"></span>
                                                                  <span class="flex">Asset ID</span>
                                                                  <span class="flex">Name</span>
                                                                  <span class="rotate-column">Rotate</span>
                                                                  <span class="shelf-column">Shelf Size</span>
                                                                  <span class="margin-column">Margin Left</span>
                                                                  <span class="size-column">Size</span>
                                                                  <span class="btn-column"></span>
                                                            </div>
                                                            <div class="grid-body">
                                                                  <sortable-grid-component
                                                                        @change-item-order-no="onChangeShelfItemOrderNo"
                                                                        @delete-item="onDeleteShelfItem"
                                                                        @change-item-size="onChangeShelfItemSize"
                                                                        :shelf-size="40"
                                                                        ref="shelfItemsGridComp"></sortable-grid-component>
                                                            </div>
                                                      </div>
                                                      <div v-show="!focusShelfData" class="no-data">NO DATA</div>
                                                </div>
                                                <template v-if="RackMountAssetTableComponent">
                                                      <component :is="RackMountAssetTableComponent"
                                                                 :class="{expand : !isActiveList}"
                                                                 :types="assetTypes"
                                                                 @select-asset="onSelectAsset"
                                                                 @init-comp="onInitDynamicComponent"
                                                                 ref="mountAssetTable"></component>
                                                </template>
                                                <!--//shelf-items-->
                                          </div>
                                    </div>
                                    <!-- //랙실장 상세 -->
                              </div>
                              <!--//body-->
                        </div>
                        <div class="rack-wrap" v-show="!currentRack">
                              <span class="no-data">{{lang.rackMountManager.selectRackToEdit}}</span>
                        </div>
                        <!--//rack 편집 영역-->
                  </div>
            </div>
      </modal>
</template>
<script>
/**
 * 랙실장 관리자, UI로 랙실장을 편집할 수 있게 제공
 * 랙실장 정보는 자산 데이터에 저장됨.
 *
 * 1. 랙 필수 타입 필드 :
 *     unit_size: number 유닛 크기
 *     order_type:  'desc' or 'asec' 유닛방향
 * 2. 실장 자산 공통 필드 :
 *    row_index:number 실장된 유닛 번호
 *    column_index:number 유닛 내에서 가로 순서
 *    row_weight:number 세로 길이(몇칸의 유닛을 차지하는지)
 *    column_weight:string 백분율(1~100) or 'flex'   'flex'정보를 저장하기 위해 타입이 string임. flex는 css flex와 동일 최소사이는 1%
 *    padding: number 백분율(1~100)
 *    rotate: number 0/1 boolean타입을 지정할수 없어 number로 처리.. 1일때 세로 실장처리
 *
 * 오류 처리 로직
 *   - 랙실장 정보 조회시, 표현할 수 없는 실장데이터가 있으면 이를 노출하고 삭제 후 편집 가능하게 제공.
 *   - 표현은 가능하나 겹치고 넘치는 오류가 있을 때에는 미리보기에서 실장 항목을 붉은색으로 표기한다.
 *
 * 저장되는 정보와 실제 실장정보를 조회할때와 정보는 포맷이 다름. 'flex'와 'padding'을 실제 width, left값으로 처리해주어야하기 때문,
 * 그밖에도 columnIndex값을 보정 하는 등의 가공 과정을 거침
 * 실제 3D 컴포넌트, preview 컴포넌트에서 실장 정보 조회시 DCIMMountDataManager객체를 통해 실정 정보를 가져와서 처리함
 *
*/



/**
       * unit선택시 해당 unit에 실장된 항목을 리스트로 표현하고 실장 순번을 변경할 수 있도록 제공하는데, 이 sortable 기능을 slicksort로 구현한다.
       * https://github.com/Jexordexan/vue-slicksort
      */
      var ContainerMixin = slicksort.ContainerMixin;
      var ElementMixin = slicksort.ElementMixin;
      var HandleDirective = slicksort.HandleDirective;

      const SortableList = {
            mixins: [ContainerMixin],
            template: `<ul><slot /></ul>`
      };

      const SortableItem = {
            mixins: [ElementMixin],
            directives: {handle: HandleDirective},
            props: ['item', 'shelfSize'],
            data() {
                  return {
                        sizeOptions: ['input', 'flex', 100, 50, 33, 25, 20, 10],
                        currentType: 100,
                        rotageYN: 'N',
                        rowWeight: 0,
                        columnWeight: 'flex',
                        padding: 0
                  };
            },

            template: `
        <li class="list-item d-flex">
            <span v-handle class="handle handle-column"><i data-v-8af1bd78="" aria-hidden="true" class="fa fa-bars"></i></span>
            <div class="flex">
                <span>{{item.id}}</span>
            </div>
            <div class="flex">
                <span>{{item.name}}</span>
            </div>
            <div class="rotate-column">
               <el-select class="mini size-select"
                            v-model="rotageYN"
                            placeholder="select size" size="mini"
                            @change="onChangeItemRotate"
                >
                    <el-option
                            key="Y"
                            label="Y"
                            value="Y">
                    </el-option>
                    <el-option
                            key="N"
                            label="N"
                            value="N">
                    </el-option>
                </el-select>
            </div>
            <div class="shelf-column" @mouseup.stop>
                <el-input class="size-input"
                    @change="onChangeRowWeight"
                    type="number" size="mini" :maxLength="3" placeholder="Please input" v-model="rowWeight"></el-input>
            </div>
            <div class="margin-column" @mouseup.stop>
                <el-input class="size-input"
                    @change="onChangePadding"
                    type="number" size="mini" :maxLength="3" placeholder="Please input" v-model="padding"></el-input>
                %
            </div>
            <div class="size-column" @mouseup.stop>
                <el-select class="mini size-select"
                            v-model="currentType"
                            placeholder="select size" size="mini"
                            @change="onChangeColumnWeightSelect"
                >
                    <el-option
                            v-for="option in sizeOptions"
                            :key="option"
                            :value="option">
                    </el-option>
                </el-select>
                <el-input class="size-input"
                    @change="onChangeColumWeight"
                    :disabled="currentType!='input'" type="number" size="mini" placeholder="Please input" v-model="columnWeight"></el-input>
                %
            </div>
            <div class="btn-column">
                <el-button type="danger" class="icon-btn" size="small" @click="onClickDeleteButton"><i class="el-icon-delete"></i></el-button>
            </div>
        </li>
    `,


            mounted: function () {
                  this.rowWeight = this.item.mountData.row_weight;
                  this.columnWeight = this.item.mountData.column_weight;
                  this.padding = this.item.mountData.padding;
                  this.rotageYN = (this.item.mountData.rotate === true) ? 'Y' : 'N';
                  if (this.sizeOptions.find(x => x == this.item.mountData.column_weight)) {
                        this.currentType = this.item.mountData.column_weight;
                  } else {
                        this.currentType = 'input';
                  }
            },

            methods: {
                  onChangeItemRotate: function () {
                        this.item.mountData.rotate = (this.rotageYN == 'Y') ? true : false;
                        this.changeItemSize();
                  },

                  onChangeColumnWeightSelect: function () {
                        if (this.currentType != 'input') {
                              this.item.mountData.column_weight = this.currentType;
                              this.changeItemSize();
                        } else {
                              this.item.mountData.column_weight = this.item.mountData.width;
                        }
                  },

                  onClickDeleteButton: function () {
                        this.$emit("delete-item", this.item.id);
                        /*let msg = '['+this.item.id+'] 실장을 취소하시겠습니까?';
                        Vue.$confirm(msg, 'Warning', {
                            confirmButtonText: 'OK',
                            cancelButtonText: 'Cancel',
                            type: 'warning'
                            }).then(() => {
                                this.$emit("delete-item", this.item.id);
                            }).catch(() => {

                            });
                            */
                  },

                  onChangeRowWeight: function () {
                        let rowWeight = parseInt(this.rowWeight);
                        if (!isNaN(rowWeight) && rowWeight) {
                              this.rowWeight = Math.min(this.shelfSize, Math.max(1, rowWeight));
                              this.item.mountData.row_weight = this.rowWeight;
                              this.changeItemSize();
                        } else {
                              this.rowWeight = this.item.mountData.row_weight;
                        }
                  },


                  onChangePadding: function () {
                        let padding = parseFloat(this.padding);
                        if (!isNaN(padding)) {
                              this.padding = Math.max(0, padding);
                              this.item.mountData.padding = this.padding;
                              this.changeItemSize();
                        } else {
                              this.padding = this.item.mountData.padding;
                        }
                  },

                  onChangeColumWeight: function () {
                        if (this.columnWeight == "flex") {
                              this.item.mountData.column_weight = this.columnWeight;
                              this.changeItemSize();
                        } else {
                              let columnWeight = parseFloat(this.columnWeight);
                              if (!isNaN(columnWeight)) {
                                    this.columnWeight = Math.max(1, columnWeight);
                                    this.item.mountData.column_weight = this.columnWeight;
                                    this.changeItemSize();
                              } else {
                                    this.columnWeight = this.item.mountData.column_weight;
                              }
                        }
                  },

                  changeItemSize: function () {
                        this.$emit("change-item-size", this.item);
                  }
            }
      };

      const SortableGridComponent = {
            template: `
    <SortableList lockAxis="y" v-model="items" :useDragHandle="true" @input="onChangeItemOrderNo">
     <SortableItem v-for="(item, index) in items" :index="index" :key="item.id+'temp'+tempNo"
            :item="item"
            :shelf-size="shelfSize"
        ref="sortItem"
        @delete-item="onDeleteItem"
        @change-item-size="onChangeItemSize" />
    </SortableList>
  `,
            components: {
                  SortableItem,
                  SortableList,
            },
            props: ['shelfSize'],
            data() {
                  return {
                        items: [/*{
                id:"AssetID0023238",
                name: "AssetName382398",
                row_weight:4,
                row_index: 4,
                padding:  10,
                column_weight: 33
            }*/],
                        tempNo: 0///tempNo를 사용하는 이유는 key정보가 동일할때 update가 되지 않아 tempNo를 계속 증가시켜 계속 key정보를 변경해주기 위해 사용한다.
                  };
            },

            methods: {
                  setItems: function (data) {
                        this.tempNo++;
                        this.items.splice(0, this.items.length);
                        this.items.push.apply(this.items, data);
                  },

                  onChangeItemOrderNo: function (data) {
                        //newIndex: 0, oldIndex: 2
                        let itemIds = this.items.map(x => x.id);
                        //if(data.oldIndex == data.newIndex){return;}
                        this.$emit("change-item-order-no", itemIds);
                  },

                  onDeleteItem: function (assetId) {
                        this.$emit("delete-item", assetId);
                  },


                  onChangeItemSize: function (item) {
                        this.$emit("change-item-size", item);
                  }
            }
      };

      /**
       * 랙실장 미리보기 컴포넌트, 배치해서 사용하는 랙실장 미리보기 컴포넌트와는 구분된다.
       */
      const RackPreviewComponent = {
            template: `
           <div class="rack-warp">
            <ul>
                <li v-for="(shelfNo, i) in unitAry" :key="i"
                    @click="selectedShelf(shelfNo)"
                    :class="{active: selectedShelfNo==shelfNo}">
                    <span>{{shelfNo}}</span>
                    <div class="item-wrap" :data-unit-no="shelfNo">
                        <template v-if="shelfMountData[shelfNo]">
                            <div v-for="(item, j) in shelfMountData[shelfNo]"
                                    :key="j"
                                    :style="getItemStyle(item)"
                                    class="item tooltip active"
                                    :class="{overlap: item.mountData.error == 'oversize' || item.mountData.error == 'overlap_item'}">
                                    <el-tooltip :content="item.id" placement="top" class="rack-tooltip">
                                        <div class="cont"><span :class="{rotate: item.mountData.rotate}">{{item.id}}</span></div>
                                    </el-tooltip>
                                </div>
                        </template>
                    </div>
                </li>
            </ul>
        </div>
        `,
            components: {},

            data() {
                  return {
                        selectedShelfNo: 0,
                        unitLen: 40,
                        unitDirBT: true,
                        unitHeight: 13,
                        unitAry: [],
                        shelfMountData: {}
                  };
            },

            mounted: function () {

            },

            methods: {
                  getItemStyle: function (item) {
                        let style = "width:" + item.mountData.width + "%;left:" + item.mountData.left + "%;height:" + this.unitHeight * item.mountData.row_weight + "px;";
                        return style;
                  },

                  setUnitLen: function (len) {
                        this.unitLen = len;
                        this.unitAry = [];
                        if (this.unitDirBT) {
                              for (let i = this.unitLen; i > 0; i--) {
                                    this.unitAry.push(i);
                              }
                        } else {
                              for (let i = 1, iLen = this.unitLen; i <= iLen; i++) {
                                    this.unitAry.push(i);
                              }
                        }
                  },


                  setMountData: function (data) {
                        this.shelfMountData = data;
                  },

                  setUnitDir: function (dirBT) {
                        this.unitDirBT = dirBT;
                        this.setUnitLen(this.unitLen);
                  },

                  deselectShelf: function () {
                        this.selectedShelfNo = 0;
                  },

                  selectedShelf: function (i) {
                        this.selectedShelfNo = i;
                        this.$emit("selected-shelf", this.selectedShelfNo);
                  },

                  onDBClick: function (id) {
                        this.$emit("dbclick-item", id);
                  }
            }
      }

      /**
       * 랙실장 정보에 데이터 타입이 맞지 않거나 표현할수 없는 정보가 있는경우(unit size가 50인데 row index가 70) 아래 컴포넌트를 노출시킨다.
       *
       */
      const RackErrorTableComponent = {
            template: `
        <div class="flex" style="padding:10px;">
            <div class="d-flex justify-content-space-between">
                <h5>{{lang.rackMountManager.invalidAssetList}}
                     <el-popover
                        placement="top-start"
                        title="Info"
                        width="200"
                        trigger="hover"
                        :content="lang.rackMountManager.inValidAssetListTryAgain">
                        <i slot="reference" class="el-icon-info"></i>
                    </el-popover>
                </h5>
                <el-button type="danger" size="mini" @click="onClickDelete">{{lang.rackMountManager.editAfterDeleteMountingInfo}}</el-button>
            </div>
            <div class="error-list">
               <el-table
                    ref="assetTable"
                    class="asset-table"
                    stripe
                    height="550"
                    :data="errorItems"
                    style="width:100%;"
                >
                    <el-table-column
                        property="id" label="ID" sortable>
                    </el-table-column>
                    <el-table-column
                        property="name" label="Name" sortable>
                    </el-table-column>
                     <el-table-column label="Error Type">
                        <template slot-scope="props">
                            {{ props.row.mountData.error }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        property="row_index" label="Row Index">
                    </el-table-column>
                    <el-table-column
                        property="row_weight" label="Row Weight">
                    </el-table-column>
                    <el-table-column
                        property="column_index" label="Column Index">
                    </el-table-column>
                    <el-table-column
                        property="column_weight" label="Column Weight">
                    </el-table-column>
                    <el-table-column
                        property="padding" label="Padding">
                    </el-table-column>
                    <el-table-column
                        property="rotate" label="Rotate">
                    </el-table-column>
                </el-table>
            </div>
        </div>
    `,
            data: function () {
                  return {
                        lang: Vue.$i18n.messages.wv.dcim_pack,
                        errorItems: []
                  }
            },

            mounted: function () {
                  /*let items = window.wemb.dcimManager.mountDataManager.getMountDataByRackId("rack01").mounts.error;
                  items.forEach((item)=>{
                      console.log(item);
                      console.log(item.mountData);
                  })
                  this.setData(items);*/
            },

            methods: {
                  setData(items) {
                        this.errorItems.splice(0, this.errorItems.length);
                        this.errorItems.push(...items);
                  },

                  onClickDelete() {
                        let msg = this.lang.rackMountManager.confirmDeleteMountingInfo;
                        Vue.$confirm(msg, 'Warning', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(() => {
                              this.$emit("delete-error-items");
                        }).catch(() => {

                        });
                  }
            }
      }




      module.exports = {
            components: {
                  SortableGridComponent: SortableGridComponent,
                  RackPreviewComponent: RackPreviewComponent,
                  RackErrorTableComponent: RackErrorTableComponent
            },

            data: function () {
                  return {
                        lang: Vue.$i18n.messages.wv.dcim_pack,
                        lang_common: Vue.$i18n.messages.wv.common,
                        RackMountAssetTableComponent: null,
                        RackListComponent: null,
                        maxUnitLen: 99,
                        minUnitLen: 10,
                        sizeOptions: ['input', 100, 50, 33, 25, 20, 10],
                        assetTypes: [],
                        search: {field: "", keyword: "", onlyUnpositioned: true},
                        errorItems: [],
                        currentRack: null,
                        unitDirBT: false,//TB: 1~42, BT:42~1
                        isActiveList: true,
                        flexMinSize: 1,///최소 사이즈 1%
                        focusShelfData: null,
                        mountFlatData: [],
                        validMountData: [],
                        mountErrorItems: [],
                        oversizeItemIdsObj: [],
                        mountRows: {},
                        tempUnitLen: 40,
                        unitLen: 40,
                        focusShelfNo: null,
                        assetTableData: null,
                        tempRackMountDataStr: null,
                        tempRackId: null,
                        tempMountIds: null,
                        loadedCount: 0
                  }
            },

            created() {
                  //TODO - "rack" => 컴포넌트 아이디를 추후 타입 아이디로 변경해야함
                  this.assetTypes = window.wemb.dcimManager.mountDataManager.getMountAssetTypes("rack");
                  this.loadComponents();
            },


            mounted: function () {
                  this.show();
            },

            methods: {
                  //동적으로 랙 리스트 컴포넌트와 랙실장할 자산을 조회(table)하는 컴포넌트를 로드한다. 이 컴포넌트 역시 동적으로 로드되기 때문에..
                  async loadComponents() {
                        let components = [{
                              path: window.wemb.configManager.context + "/custom/packs/dcim_pack/manager/view/mount/rack/DCIMRackMountItemsComponent.vue",
                              name: "RackMountAssetTableComponent"
                        }, {
                              path: window.wemb.configManager.context + "/custom/packs/dcim_pack/manager/view/mount/rack/DCIMRackListComponent.vue",
                              name: "RackListComponent"
                        }];

                        await this.loadComponent(components[0].path, components[0].name);
                        await this.loadComponent(components[1].path, components[1].name);
                  },

                  loadComponent(path, name) {
                        let loader = window.wemb.$httpVueLoader(path, null);
                        return loader().then((result) => {
                              this[name] = result;
                        });
                  },

                  modalOpened: function () {
                        if (this.$refs.rackList) {
                              this.$refs.rackList.updateRackItems();
                        }
                  },

                  //동적으로 로드한 컴포넌트가 mounted됐는지 체크한다.
                  onInitDynamicComponent() {
                        this.loadedCount++;
                        if (this.loadedCount == 2) {
                              this.loadedComponents();
                        }
                  },

                  //컴포넌트가 모두 준비되면 랙을 선택하면서 시작한다.
                  loadedComponents: function () {
                        if (this.tempRackId) {
                              this.selectRack(this.tempRackId);
                              this.tempRackId = null;
                        }
                  },

                  //조회할 랙을 변경할 경우 실행
                  onChangeRackItem(rack) {
                        //실장중인지를 체크하여 confirm후 선택 랙을 변경한다.
                        if (this.getIsEditData()) {
                              let msg = this.lang.common.moveWindowEditingData;
                              Vue.$confirm(msg, 'Warning', {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              }).then(() => {
                                    this.selectRack(rack.id);
                              }).catch(() => {

                              });
                        } else {
                              this.selectRack(rack.id);
                        }
                  },

                  //변경된 편집 정보가 있는지 체크
                  getIsEditData() {
                        let currentMountDataStr;
                        if (this.currentRack) {
                              currentMountDataStr = JSON.stringify(this.getCurrentEditData());
                        }

                        if (this.tempRackMountDataStr && this.currentRack && this.tempRackMountDataStr != currentMountDataStr) {
                              return true;
                        } else {
                              return false;
                        }
                  },

                  //랙 실장 가능한 자산을 조회하는 테이블 목록을 업데이트함
                  updateAssetTableData() {
                        let assets = $.extend(true, {}, window.wemb.dcimManager.assetManager.assets);
                        let assetFlat = this.getTypeFlatAssets(assets);
                        this.assetTableData = assetFlat;
                        this.$refs.mountAssetTable.updateAssets(assets, assetFlat);
                  },

                  getTypeFlatAssets(assets) {
                        let ary = []
                        $.each(assets, (type, items) => {
                              ary = ary.concat(items);
                        })
                        return ary;
                  },

                  //자산테이블에서 자산을 실장하기 위해 더블클릭 했을 때 실행
                  onSelectAsset(asset) {
                        this.addMountItem(asset);//실장 시도
                  },

                  //인자로 전달하는 자산을 실장하는 메서드
                  addMountItem: function (asset) {
                        if (!asset) {
                              return;
                        }

                        if (!this.currentRack) {//선택된 랙이 있는지
                              Vue.$message(this.lang.rackMountManager.selectRack);
                              return;
                        }
                        if (!this.focusShelfNo) {//선택한 unit이 있는지
                              Vue.$message(this.lang.rackMountManager.selectShelf);
                              return;
                        }

                        //중복 실장 검사
                        if (this.mountFlatData.find(x => x.id == asset.id)) {
                              Vue.$message(this.lang.rackMountManager.alreadyMounted);
                              return;
                        }

                        //add mountData
                        window.wemb.dcimManager.mountDataManager.rackMountDataValidator.addMountData(asset);

                        /*asset.mountData = {};

                        asset.props = asset.props || {};

                        if (typeof asset.props == "string") {
                              try {
                                    asset.props = JSON.parse(asset.props);
                              } catch (error) {

                              }
                        }
                        */

                       /**실장하려는 자산에 실장 정보에 row_weight정보가 있다면 반영하고 나머지는 초기화하여 적용*/
                        let rowWeight = 1;
                        if (asset.mountData.row_weight && !isNaN(parseInt(asset.mountData.row_weight))) {
                              rowWeight = Math.max(1, parseInt(asset.mountData.row_weight));
                        }

                        asset.mountData.row_weight = rowWeight;
                        asset.mountData.row_index = this.focusShelfNo;
                        asset.mountData.column_weight = "flex";
                        asset.mountData.padding = 0;
                       // asset.mountData.rotate =


                        if (!this.mountRows[this.focusShelfNo]) {
                              this.mountRows[this.focusShelfNo] = [];
                        }

                        asset.mountData.column_index = this.mountRows[this.focusShelfNo].length;

                        let rowItems = this.mountRows[this.focusShelfNo];
                        if (this.getValidator().getIsPossibleMount(rowItems, asset)) {
                              this.mountFlatData.push(asset);
                              this.mountRows[this.focusShelfNo].push(asset);
                              asset.parent_id = this.currentRack.id;
                              this.drawMountItems();
                              this.resetFocusShelf();
                        } else {
                              Vue.$message.error(this.lang.rackMountManager.noSpaceToMount);
                        }
                  },

                  resetFocusShelf: function () {
                        if (this.unitLen < this.focusShelfNo) {
                              this.focusShelfNo = null;
                        }
                        this.focusShelf(this.focusShelfNo);
                  },

                  /*shelf 선택시*/
                  focusShelf: function (shelfNo) {
                        shelfNo = Math.min(shelfNo, Math.max(shelfNo, 1));
                        this.focusShelfNo = shelfNo;
                        let items = this.mountRows[shelfNo] || [];
                        items = $.extend(true, [], items);
                        this.$refs.shelfItemsGridComp.setItems(items);
                        this.focusShelfData = this.mountRows[shelfNo];
                  },

                  updateMountData(rackId) {
                        let e = window.RackMountError;
                        /**window.RackMountError = {
                SHELF_INDEX: "shelf_index",
                DOUBLE_COLUMN_INDEX: "double_column_index",
                DATA_TYPE: "data_type",
                OVERSIZE: "oversize",
                OVERLAP_ITEM: "overlap_item"
            }
                         */

                        let data = window.wemb.dcimManager.mountDataManager.getMountDataByRackId(rackId);

                        if (data) {
                              this.unitDirBT = data.unitDirBT;
                              this.unitLen = data.unitLen;
                              this.tempUnitLen = this.unitLen;
                              this.mountFlatData = data.mounts.items.filter(x => x.mountData.error != e.DOUBLE_COLUMN_INDEX && x.mountData.error != e.DATA_TYPE);
                              this.mountRows = data.mounts.rows;
                              this.mountErrorItems = data.mounts.error || [];
                              this.tempMountIds = data.mounts.items.map(x => x.id);
                        } else {
                              this.tempMountIds = null;
                              this.mountFlatData = [];
                              this.mountRows = {};
                              this.mountErrorItems = [];
                        }
                  },

                  selectRack(rackId) {
                        //원본정보를 조회
                        let asset = window.wemb.dcimManager.assetManager.getAssetDataByAssetId(rackId);

                        //asset = {id: "rackId", "order_type": "acen", "unit_size": 42};
                        this.currentRack = asset;
                        this.focusShelfData = null;
                        this.focusShelfNo = null;
                        this.updateMountData(rackId);
                        this.updateAssetTableData();
                        this.$refs.errorItemsComp.setData(this.mountErrorItems);
                        this.$refs.rackList.setActiveRackId(rackId);
                        this.$refs.previewComp.setUnitDir(this.unitDirBT);
                        this.$refs.previewComp.setUnitLen(this.unitLen);

                        this.tempRackMountDataStr = JSON.stringify(this.getCurrentEditData());
                        //table update빈배열
                        this.drawMountItems();
                  },

                  refresh() {
                        if (this.currentRack && this.currentRack.id) {
                              this.selectRack(this.currentRack.id);
                        }
                  },

                  initMountData: function () {
                        //add, delete]
                        let msg = this.lang.rackMountManager.confirmDataReset;
                        Vue.$confirm(msg, 'Warning', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(() => {
                              this.selectRack(this.currentRack.id);
                        }).catch(() => {

                        });
                  },

                  //랙 실장 모두 비우기
                  emptyData: function () {
                        //delete
                        let msg = this.lang.rackMountManager.confirmDeleteMountingData;
                        Vue.$confirm(msg, 'Warning', {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(() => {
                              this.removeFlatAllItems()
                              this.drawMountItems();
                              this.resetFocusShelf();
                        }).catch(() => {

                        });
                  },

                  updateMountPreviewData: function () {
                        if (!this.focusShelfNo) {
                              this.$refs.previewComp.deselectShelf();
                        }
                        this.$refs.previewComp.setMountData(this.mountRows);
                  },

                  drawMountItems: function () {
                        let data = this.getValidator().validate(this.unitLen, this.unitDirBT, this.mountFlatData);
                        this.mountRows = data.rows;
                        this.$refs.mountAssetTable.refresh();
                        this.updateMountPreviewData();
                  },

                  //unit 사이즈를 변경할 때, 기존 unit 사이즈보다 줄어들 경우, 실장정보가 있으면 삭제되는 unit의 실장정보가 삭제될 수 있다는 confirm후 변경
                  onChangeUnitLen: function () {
                        this.tempUnitLen = parseInt(this.tempUnitLen) || 10;
                        this.tempUnitLen = Math.min(this.maxUnitLen, Math.max(this.tempUnitLen, 10));
                        if (this.tempUnitLen == this.unitLen) {
                              return;
                        } else if (this.mountFlatData.length && this.tempUnitLen < this.unitLen) {
                              let msg = '';

                              if (this.unitLen - this.tempUnitLen == 1) {
                                    msg = "No. " + this.tempUnitLen + " Shelf";
                              } else {
                                    msg = "No. " + this.tempUnitLen + 1 + "Shelf ~ No. " + this.unitLen + "Shelf";
                              }
                              msg += this.lang.rackMountManager.confirmChangeRackSize;
                              Vue.$confirm(msg, 'Warning', {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              }).then(() => {

                                    if (this.mountRows) {
                                          //삭제되는 row의 실장 정보는 실장 취소 처리함
                                          $.each(this.mountRows, (no) => {
                                                let num = parseInt(no);
                                                if (num > this.tempUnitLen) {
                                                      this.removeFlatItemsDataShelfNo(no);
                                                }
                                          })

                                          this.updateUnitSize();
                                          this.drawMountItems();
                                          this.resetFocusShelf();
                                    }
                              }).catch(() => {

                              });
                        } else {
                              this.updateUnitSize();
                        }
                  },

                  updateUnitSize: function () {
                        this.unitLen = this.tempUnitLen;
                        this.$refs.previewComp.setUnitLen(this.unitLen);
                        this.drawMountItems();
                        this.resetFocusShelf();
                  },

                  onChangeUnitDir: function () {
                        this.$refs.previewComp.setUnitDir(this.unitDirBT);
                        this.drawMountItems();
                        this.resetFocusShelf();
                  },

                  onDeleteShelfItem: function (assetId) {
                        this.removeFlatItemDataById(assetId);
                        let currentRow = this.focusShelfData;
                        this.getValidator().overwriteColumnIndex(currentRow);
                        this.drawMountItems();
                        this.resetFocusShelf();
                  },

                  removeFlatItemDataById: function (assetId) {
                        //사이즈가 넘치더라도 체크하지 않고, 삭제함
                        let item = this.mountFlatData.find(x => x.id == assetId);
                        let flatIndex = this.mountFlatData.indexOf(item);
                        this.mountFlatData.splice(flatIndex, 1);

                        let findTableData = this.assetTableData.find(x => x.id == assetId);
                        findTableData.parent_id = null;
                  },

                  removeFlatItemsDataShelfNo: function (no) {
                        let target = this.mountRows[no]
                        if (target && target.length) {
                              target.forEach((item) => {
                                    this.removeFlatItemDataById(item.id);
                              })
                        }
                  },

                  removeFlatAllItems: function () {
                        $.each(this.mountRows, (no, items) => {
                              this.removeFlatItemsDataShelfNo(no);
                        })
                  },

                  onChangeShelfItemSize: function (item) {
                        //사이즈가 넘치더라도 이전보다 줄거나 같으면 일단 유지해줌
                        //이전보다 커지면서 넘칠경우 다시 초기 데이터를 넣어줌
                        let rowData = this.focusShelfData;
                        let findItem = rowData.find(x => x.id == item.id);
                        let validate = this.getValidator().validateChangeItemSize(this.focusShelfData, findItem, item);
                        if (validate) {
                              findItem.mountData.column_weight = item.mountData.column_weight;
                              findItem.mountData.padding = item.mountData.padding;
                              findItem.mountData.row_weight = item.mountData.row_weight;
                              findItem.mountData.rotate = item.mountData.rotate;
                              //console.log("@@ size ok");
                              this.drawMountItems();
                        } else {
                              if (findItem.mountData.row_weight != item.mountData.row_weight) {
                                    findItem.mountData.row_weight = item.mountData.row_weight;
                                    this.drawMountItems();
                              }

                              Vue.$message.warning(this.lang.rackMountManager.errorRackSize);
                              //console.log("@@ size over")
                              this.resetFocusShelf();
                        }
                  },

                  getValidator: function () {
                        return window.wemb.dcimManager.mountDataManager.rackMountDataValidator;
                  },

                  onChangeShelfItemOrderNo: function (ids) {
                        //순서가 바뀐경우 사이즈 체크하지 않고 변경해줌
                        let rowData = this.focusShelfData;
                        this.getValidator().changeShelfItemOrderNo(rowData, ids);
                        this.drawMountItems();
                  },

                  setData: function (rackId) {
                        //
                        this.tempRackId = rackId;
                  },

                  show: function (rackId) {
                        this.currentRack = null;
                        this.$modal.show('rack-extension-popup');
                  },

                  onClickSave: function () {
                        if (!this.validationSaveData()) {
                              Vue.$message.error(this.lang.rackMountManager.checkEditingStatus);
                              return;
                        }
                        let msg = this.lang.common.saveChanges;
                        Vue.$confirm(msg, {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(() => {
                              this.saveRackMountData();

                        }).catch(() => {

                        });
                  },

                  validationSaveData: function () {
                        if (this.mountFlatData.filter(x => x.mountData.error != "").length) {
                              return false;
                        } else {
                              return true;
                        }
                  },

                  onDeleteErrorItems: function () {
                        //에러목록 삭제 이벤트 발생시
                        //현재 데이터로 저장(현재데이터엔 에러 목록이 없음)
                        this.saveRackMountData();
                  },

                  async saveRackMountData() {
                        let data = this.getCurrentEditData();
                        let param = {
                              "id": "assetDataService.getMount",
                              "params" : data
                        };

                        let result = await wemb.$http.post(window.wemb.dcimManager.path, param);
                        if (result) {
                              Vue.$message.success(this.lang_common.successSave);
                              this.saveLocalData(data);
                              this.refresh();
                        } else {
                              Vue.$message.error(this.lang_common.errorSave);
                        }
                  },

                  //랙 실장 정보가 서버에 저장되면, assetManager에서 조회하는 자산 정보에도 이정보를 저장시켜 sync함
                  saveLocalData: function (data) {
                        let assetMap = window.wemb.dcimManager.assetManager.assetFlatMap;
                        var rackInfo = assetMap.get(data.id);
                        rackInfo.unit_size = data.unit_size;
                        rackInfo.order_type = data.order_type;

                        if (this.tempMountIds) {
                              this.tempMountIds.forEach((id) => {
                                    let assetInfo = assetMap.get(id);
                                    assetInfo.parent_id = null;
                              })
                        }



                        data.children.forEach((item) => {
                              let assetInfo = assetMap.get(item.id);
                              assetInfo.parent_id = data.id;
                              //assetInfo.props = item.props
                              assetInfo.column_index = item.column_index;
                              assetInfo.row_index = item.row_index;
                              assetInfo.column_weight = item.column_weight;
                              assetInfo.row_weight = item.row_weight;
                              assetInfo.padding = item.padding;
                              assetInfo.rotate = item.rotate;
                        })
                  },

                  getCurrentEditData: function () {
                        let items = [];

                        this.mountFlatData.forEach((item) => {
                              let rotate = item.mountData.rotate ? 1 :0;
                              let data = {
                                    id: String(item.id),
                                    column_index: String(item.mountData.column_index),
                                    row_index: String(item.mountData.row_index),
                                    row_weight: String(item.mountData.row_weight),
                                    column_weight: String(item.mountData.column_weight),
                                    padding: String(item.mountData.padding),
                                    rotate: String(rotate),
                                    asset_type: String(item.asset_type)
                              }

                              items.push(data);
                              /*
                              items.push({
                                    id: item.id,
                                    props: JSON.stringify(data)
                              })*/
                        })

                        return {
                              id: this.currentRack.id,
                              asset_type: "Rack",
                              unit_size: this.unitLen,
                              order_type: this.unitDirBT ? 'DESC' : 'ASC',
                              children: items
                        }
                  },


                  onClickClose: function () {
                        if (this.getIsEditData()) {
                              let msg = this.lang.common.closeWindowEditingData;
                              Vue.$confirm(msg, 'Warning', {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              }).then(() => {
                                    this.$modal.hide('rack-extension-popup');
                                    this.$emit("closed", false);
                              }).catch(() => {

                              });
                        } else {
                              this.$modal.hide('rack-extension-popup');
                              this.$emit("closed", false);
                        }
                  },

                  onClosed: function () {
                        this.loadedCount = null;
                        this.tempRackId = null;
                        this.tempMountIds = null;
                  }
            }
      }
</script>
<style scoped>
      .modal-body {
            overflow: auto;
            padding: 0;
      }

      .wrap {
            display: flex;
            width: 100%;
      }

      .rack-list li {
            padding: 6px 10px;
            border-bottom: 1px solid #e8ecef;
      }

      .rack-list li.active {
            background: #5f6570;
            color: #fefefe;
            border-color: #5f6570;
      }

      .rack-list {
            display: flex;
            flex-direction: column;
            width: 180px;
            margin-right: 6px;
            border-right: 1px solid #e8ecef;
      }

      .rack-list ul {
            flex: 1;
            overflow: auto;
      }

      .rack-list .search-field {
            padding: 6px 6px 0px 6px;
      }

      .rack-list .search-field .el-input__inner {
            height: 22px;
            padding-left: 11px;
            padding-right: 18px;
      }

      .rack-list .assets-pagination {
            display: flex;
            align-items: center;
            padding: 6px;
      }

      .rack-list .assets-pagination span {
            flex: 1;
            text-align: center;
      }

      .rack-wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .rack-wrap .header {
            display: flex;
            align-items: center;
            padding: 6px 14px 6px 12px;
            border-bottom: 1px solid #e8ecef;
            justify-content: space-between;
      }

      .rack-wrap .header > div:first-child {
            display: flex;
            align-items: center;
      }

      .rack-wrap .header .el-button + .el-button {
            margin-left: 0;
      }

      .rack-wrap .header .header-btn {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            padding: 0;
            color: #5f6570;
            cursor: pointer;
      }

      .rack-wrap .header h4 {
            margin: 0 0 0 10px;
            font-size: 15px;
      }

      .rack-preview-top-ui {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
      }

      .rack-wrap .content {
            display: flex;
            flex: 1;
      }

      .rack-wrap .content > .group {
            display: flex;
            flex: 1;
            height:100%;
      }

      .rack-preview {
            padding: 10px 12px;
            overflow: auto;
      }

      .rack-wrap .mount-items {
            width: 780px;
            flex: 1;
            box-sizing: border-box;
            padding: 0 14px 18px 10px;
            display: flex;
            flex-direction: column;
      }

      .rack-wrap .mount-items.expand {
            width: 964px;
      }

      .rack-wrap .no-data {
            margin: 6px 6px 6px 0;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .mount-items .mount-items-top-ui {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
      }

      .mount-items .el-pagination {
            text-align: center;
            padding-top: 6px;
      }

      .mount-items .search-field .el-input__inner {
            height: 28px;
            padding-left: 11px;
      }

      .mount-items .assets-search .select-search-type {
            width: 140px;
      }

      .mount-items .assets-search .search-field {
            width: 180px;
            margin-bottom: 0;
      }

      .mount-items .assets-search .el-input__icon {
            line-height: 28px;
            height: auto;
      }

      .rack-mount-table {
            display: flex;
            flex-direction: column;
            flex: 1;
      }

      .shelf-items {
            padding: 10px 14px 10px 10px;
            display: flex;
            flex-direction: column;
            max-height: 40%;
      }

      .shelf-items h4 {
            margin: 2px 0 12px 0;
            font-size: 15px;
      }

      .no-data {
            background-color: #eee;
            border-radius: 4px;
      }

      .mount-items .el-table .cell {
            padding: 0 6px;
      }

      .shelf-items .asset-list,
      .mount-items .asset-list {
            margin-top: 6px;
            flex: 1;
            overflow: auto;
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .mount-items .asset-table {
            flex: 1;
      }

      .shelf-items .size-select .el-input,
      .mount-items .asset-table .size-select .el-input {
            width: 80px;
      }

      .shelf-items .el-input,
      .mount-items .asset-table .el-input {
            width: 64px;
      }

      .shelf-items .el-input .el-input__inner,
      .mount-items .asset-table .el-input .el-input__inner {
            padding: 0 4px 0 10px;
      }

      .shelf-items .grid-wrap {
            position: relative;
      }

      .shelf-items .grid-body {
            margin-top: 36px;
            max-height: 170px;
            min-height: 45px;
            overflow: auto;
            border: 1px solid #efefef;
            border-top: none;
      }

      .shelf-items .grid-header {
            border: 1px solid #e8ecef;
            height: 36px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
      }

      .shelf-items .grid-header > span {
            display: block;
      }

      .shelf-items ul {
            background-color: #f3f3f3;
            width: 100%;
            max-height: 100%;
            overflow: auto;
      }

      .shelf-items .list-item {
            align-items: center;
            border-bottom: 1px solid #efefef;
            background-color: #fff;
      }

      .shelf-items .list-item:last-child {
            border-bottom: none;
      }

      .shelf-items .grid-header > span {
            padding: 10px 8px;
      }

      .shelf-items .list-item > div {
            padding: 8px 8px;
            word-break: break-all;
      }

      .shelf-items .rotate-column {
            width: 88px;
      }

      .shelf-items .shelf-column {
            width: 88px;
      }

      .mount-items .shelf-label,
      .shelf-items .shelf-column > span {
            display: inline-block;
            width: 20px;
            margin-right: 4px;
      }

      .shelf-items .margin-column {
            width: 100px;
            word-break: normal;
      }

      .shelf-items .size-column {
            width: 184px;
            word-break: normal;
      }

      .shelf-items .btn-column {
            width: 46px;
      }

      .shelf-items .handle-column {
            width: 38px;
      }

      .shelf-items .handle {
            display: block;
            color: #b6b6b6;
            padding: 8px 10px 8px 14px;
            cursor: row-resize;
            font-size: 18px;
      }

      .icon-btn.lg {
            font-size: 16px;
            margin: 0;
            padding: 0 4px;
      }

      .unit-input {
            width: 46px;
            margin-left: 5px;
            border: none;
            text-decoration: underline;
            padding: 0px 2px;
            font-size: 14px;
            text-align: left;
            outline: none;
      }

      /*rack preview*/
      .rack-preview ul,
      .rack-preview li {
            margin: 0;
            padding: 0;
            list-style: none;
      }

      .rack-preview * {
            box-sizing: border-box;
      }

      .rack-preview .rack-warp {
            width: 190px;
            margin-left: 20px;
            border-top: 1px solid #c1c1c1;
            border-right: 1px solid #c1c1c1;
      }

      .rack-preview .rack-warp > ul {
            width: 100%;
            height: 100%;
            min-height: 100px;
            display: flex;
            flex-direction: column;
            border: 4px solid #bcc9f1;
            background-color: #363636;
      }

      .rack-preview .rack-warp > ul > li {
            height: 13px;
            width: 100%;
            padding: 0 5px;
            position: relative;
            box-sizing: content-box;
            margin-left: -5px;
            cursor: pointer;
      }

      .rack-preview .rack-warp > ul > li.active {
            background: rgba(46, 130, 215, 0.6);
      }

      .rack-preview .rack-warp > ul > li .item-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 9px;
            position: relative;
      }

      .rack-preview .rack-warp > ul > li:not(:first-child) .item-wrap {
            border-top: 1px solid #6b6b6b;
      }

      .rack-preview .rack-warp > ul > li > span {
            display: inline-block;
            width: 20px;
            position: absolute;
            top: -2px;
            left: -20px;
            font-size: 9px;
            color: #535352;
            text-align: center;
            line-height: 14px;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item {
            position: absolute;
            top: 0;
            z-index: 10;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item span {
            user-select: none;
      }

      .rack-preview .rack-warp > ul > li.active > .item-wrap > .item {
            z-index: 11;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 1px solid #282b4c;
            background-color: #555555;
            cursor: pointer;
            color: #b7b7b7;
            overflow: hidden;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont > .rotate {
            transform: rotate(90deg);
      }

      .rack-preview .rack-warp > ul > li.active > .item-wrap > .item .cont {
            background-color: #2e82d6;
            color: #fff;
      }

      .rack-preview .rack-warp > ul > li.active > .item-wrap > .item.overlap .cont {
            background-color: rgba(255, 0, 0, 1);
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item.overlap .cont {
            background-color: rgba(255, 0, 0, 0.4);
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont > em {
            font-size: 10px;
            color: #ffffff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-style: normal;
      }

      .rack-preview .rack-warp > ul > li > .item-wrap > .item .cont > .rotate {
            transform: rotate(90deg);
      }

      /*
      .rack-preview .rack-warp>ul>li>.item-wrap .item .cont.active {
          background-color: #586580;
          color: #f5f5f5;
      }
      */

      .rack-preview .tooltip .tooltiptext {
            display: none;
            pointer-events: none;
            position: absolute;
            z-index: 1;
            top: -1px;
            left: 50%;
            width: 100%;
            height: 0;
      }

      .rack-preview .tooltip .tooltiptext > span {
            position: absolute;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 16px;
            font-size: 11px;
            left: 0;
            bottom: 0;
      }

      .rack-preview .tooltip .tooltiptext > span::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
      }

      .rack-preview .tooltip:hover .tooltiptext {
            display: block;
      }

      .rack-preview .vender-logo {
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px;
            max-height: 100%;
            max-width: 100%;
            height: auto;
      }

      /*//rack preview*/
</style>
