<template>  
    <div class="rack-list">
        <div>
            <el-input class="search-field" v-model="searchStr" placeholder="search keyword" :clearable="true"></el-input>
        </div>
        <ul>
            <li v-for="item in searchItems" :key="item.id"
                :class="{active: activeRackId == item.id}"
                @click="onClickEvent(item)"
            >{{item.name}} - {{item.id}}</li>
        </ul>
        <div class="assets-pagination" v-show="false">
            <el-button size="mini" @click="prevPage" :disabled="1 == pagination.page">prev</el-button>
            <span>{{pagination.page}}/{{pagination.totalPage}}</span>
            <el-button size="mini" type="primary" @click="nextPage" :disabled="pagination.totalPage == pagination.page">next</el-button>
        </div>
    </div>
</template>
<script>

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }
/***
 * 랙 리스트 컴포넌트,
 * 랙자산 목록을 조회해서 리스트로 제공, 현재 선택된 랙 자산은 active표기한다.
*/
module.exports = {
    data: function() {
        return {
            searchStr: '',
            rackItems: [],
            searchItems: [],
            activeRackId: '',
            pagination: { page: 1, totalPage: 103 }
        };
    },

    watch: {
        searchStr: function() {
            var _this = this,
                _searchItems;

            this.searchItems.splice(0, this.searchItems.length);
            var items = this.rackItems.filter(function (x) {
                return (x.id + x.name).indexOf(_this.searchStr) != -1;
            });
            (_searchItems = this.searchItems).push.apply(_searchItems, _toConsumableArray(items));
        }
    },

    mounted: function() {
        this.updateRackItems();
        this.$emit("init-comp");
    },

    methods: {
        updateRackItems: function() {
            var _rackItems, _searchItems;

            this.searchStr = '';
            var items = window.wemb.dcimManager.assetManager.assets["Rack"] || [];
            this.rackItems.splice(0, this.rackItems.length);
            (_rackItems = this.rackItems).push.apply(_rackItems, _toConsumableArray(items));
            this.searchItems.splice(0, this.searchItems.length);
            (_searchItems = this.searchItems).push.apply(_searchItems, _toConsumableArray(this.rackItems));
        },

        prevPage: function() {},

        nextPage: function() {},

        onClickEvent: function(item) {
            this.$emit("select-rack", item);
        },

        setActiveRackId: function(id) {
            this.activeRackId = id;
        }
    }
};
</script>