<template>    
    <div class="mount-items">   
        <div class="mount-items-top-ui">
            <!--실장 타입 선택-->
            <el-select class="mini select-mount-type" placeholder="AssetType"
                       v-model="type" size="small" 
                       @change="handleTypeChange"
            >
                <el-option v-for="type in getTypes" :key="type.id"
                    :label="type.name" :value="type.id"></el-option>
            </el-select>
            <!--//실장 타입 선택-->
            <!--검색 필드-->
            <div class="assets-search">
                <el-select  style="width: 120px;" size="small" v-model="search.field" placeholder="Fields" class="asset-field-select">
                    <el-option v-for="field in fields" :key="field.name"
                               :label="field.label" :value="field.name"></el-option>
                </el-select>
                <el-input clearable style="width: 240px;" size="small" placeholder="keyword" v-model="search.keyword" class="aseet-keword-input" @keyup.enter.native="handleSearchAsset">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
            </div>
            <!--//검색 필드-->
        </div>
        <div class="asset-list">
            <el-table
                ref="assetTable"
                class="asset-table"                                        
                stripe
                :data="asset_data"
                style="width:100%;"
                @row-dblclick="onSelectItem"
                @sort-change="handleDataSort">     
              
                <el-table-column  v-for="field in fields" :key="field.name"
                    min-width="140" 
                    :property="field.name" :label="field.label" sortable="custom">
                </el-table-column>                            
                <!--mount button
                <el-table-column
                label=""
                width="84"
                align="center">
                <template slot-scope="scope">
                    <el-button type="success" size="small" @click="onSelectItem(scope.row)">선택</el-button>
                </template>
                </el-table-column>
                //mount button-->
            </el-table>
            <el-pagination
                v-if="optionsResult && optionsResult.length"
                style="margin-top:10px; text-align:center;"
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage"
                :page-size="page_size"
                layout="total, prev, pager, next, jumper"
                :total="total_count">
            </el-pagination>
        </div>
    </div>
</template>

<script>
function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }
/**
 * 랙실장할 수 있는 자산을 조회하는 테이블
 * 자산관리자에서 설정한 랙실장 가능한 자산 타입을 조회하여 콤보를 구성하고
 * 선택한 콤보의 미배치된 자산항목을 테이블로 제공한다.
 * 테이블에서는 row를 더블클릭할 경우 이벤트를 전송하여 실장 처리된다.
 * 
 * AssetComponentProxy 파일에 작성된 AssetsDataManager객체를 통해 자산 검색/정렬 결과와 페이징 결과를 처리한다. 비슷한 로직이 많이 쓰여 따로 클래스파일을 작성함//
*/
module.exports = {
    props: ['types'], 
    data: function data() {
        return {
            currentPage: 1,
            total_count: 0,
            page_size: 17,
            asset_data: [],
            type: '',
            common_fields: [],
            type_fields: [],   
            assetsDataManager: null,
            optionsResult: [],
            sort: { field: "", state: "" },
            search: { field: "id", keyword: "", onlyUnpositioned: true },
            UPDATE_TYPE: {
                TYPE: "type",
                SEARCH: "search",
                SORT: "sort"
            }
        };
    },
    computed: {
        getTypes: function() {
            var temp = [];

            if (this.types instanceof Array) {
                this.types.forEach(function (v, k) {
                    temp.push(v);
                });
            }
            return temp;
        },

        fields:function (){            
            return this.common_fields.concat(this.type_fields);
        }
    },
    mounted: function() {        
        this.common_fields = wemb.dcimManager.assetManager.visibleFields.common;
        this.assetsDataManager = new AssetsDataManager(this.page_size);//자산데이터의 페이징/검색/정렬 정보를 조회할 수 있는 객체
        this.$emit("init-comp");
    },

    methods: {
        onSelectItem: function(row) {
            this.$emit("select-asset", row);
        },

        getTypeFields: function getTypeFields(type) {
            return wemb.dcimManager.assetManager.visibleFields.type[type];
        },

        updateAssets: function(typeSortAssets, flatAssets) {
            this.assetsDataManager.updateAssetsData(typeSortAssets, flatAssets);
            this.type = this.types ? this.types[0].id : '';
            this.handleTypeChange(this.type);
        },

        handleDataSort: function(sort) {
            if (sort) {
                this.sort.field = sort.prop;
                this.sort.state = sort.order;
            } else {
                this.sort.field = '';
                this.sort.state = '';
            }

            this.updateAssetsByOptions(this.UPDATE_TYPE.SORT);
        },

        addSearchOption:function(key, value){
            this.search[key] = value;
        },

        handleSearchAsset: function() {
            this.updateAssetsByOptions(this.UPDATE_TYPE.SEARCH);
        },

        handleTypeChange: function(type) {            
            this.type = type;
            this.clearSortOption();
            this.clearSearchOption();
            
            var selected_type = this.types.find(function (d) {
                return d.id === type;
            });

            var typeFields = this.getTypeFields(selected_type.id) || [];
            this.type_fields.splice(0, this.type_fields.length);
            this.type_fields.push(...typeFields);

            this.updateAssetsByOptions(this.UPDATE_TYPE.TYPE);
            /**/
        },

        clearSearchOption: function() {
            this.search.keyword = '';
        },

        clearSortOption: function() {
            this.sort.field = '';
            this.sort.state = '';
            this.$refs.assetTable.clearSort();
        },

        handleCurrentChange: function(val) {
            this.changeCurrentPage(val);
        },

        changeCurrentPage: function(page) {
            var _asset_data;
            var pageData = this.assetsDataManager.getPaginationData(this.optionsResult, this.currentPage);
            this.asset_data.splice(0, this.asset_data.length);
            (_asset_data = this.asset_data).push.apply(_asset_data, _toConsumableArray(pageData.data));

            this.currentPage = Math.min(Math.max(page, 1), pageData.totalPage);
        },

        updateOptionsResult:function(ary){
            this.optionsResult.splice(0, this.optionsResult.length);        
            this.optionsResult.push(...ary); 
            this.total_count = this.optionsResult.length;
        },

        refresh:function(){  
            let ary = this.assetsDataManager.getDataByOptions(this.type, {
                "search": this.search,
                "sort": this.sort
            });

            this.updateOptionsResult(ary);            
            this.changeCurrentPage(this.currentPage); 
        },

        updateAssetsByOptions: function(type) {
            if (!type) {return;}
            let ary = [];
            //type = "type", "search", "sort"
            switch (type) {
                case this.UPDATE_TYPE.TYPE:
                    ary = this.assetsDataManager.getDataByOptions(this.type, {
                        "search": this.search,
                        "sort": this.sort
                    });
                    break;
                case this.UPDATE_TYPE.SEARCH:                    
                    ary = this.assetsDataManager.getDataByOptions(this.type, { "search": this.search });
                    break;
                case this.UPDATE_TYPE.SORT:
                    ary = this.assetsDataManager.getSortData(this.optionsResult, this.sort);
                    break;
            }
            
            this.updateOptionsResult(ary);
            this.changeCurrentPage(1);
        }
    },

    destroyed: function destroyed() {
    }
};
</script>
<style scoped>
.mount-items{flex: 1; box-sizing: border-box; padding: 0 24px 18px 10px; display: flex; flex-direction: column;}
.mount-items .mount-items-top-ui{display: flex; justify-content: space-between; margin-top: 12px;}
.mount-items .el-pagination{text-align: center; padding-top: 6px;}
.mount-items .search-field >>> .el-input__inner {height: 28px; padding-left: 30px;}
.mount-items .assets-search .select-search-type{width: 140px;}
.mount-items .assets-search .search-field {width: 180px; margin-bottom: 0;}
.mount-items .assets-search >>> .el-input__icon {line-height: 28px;height: auto;}
.mount-items >>> .el-table .cell{padding: 0 6px;}
.mount-items .asset-list{margin:6px 0 16px 0;flex: 1; overflow: auto;flex: 1; display: flex; flex-direction: column;}
.mount-items .asset-table{flex: 1;display: flex; flex-direction: column;}
.mount-items .asset-table .size-select >>> .el-input{width: 80px;}
.mount-items .asset-table >>> .el-input{width: 64px;}
.mount-items .asset-table .el-table__body-wrapper{flex:1;}
.mount-items .asset-table td{cursor: pointer; user-select: none;}
.mount-items .asset-table >>>  .el-input .el-input__inner{padding: 0 4px 0 10px;}
.mount-items >>> .shelf-label{display:inline-block; width: 20px;margin-right: 4px;}
.el-pager li.active {color: #4690e4;cursor: default;font-weight: bold;text-decoration: underline;}
</style>



