.image-button-comp.viewer {
    cursor: pointer;
}

.image-button-comp {
    user-select: none;
    position: absolute;
}

.image-button-comp.disable {
    cursor: not-allowed;
}

.image-button-comp>a {
    display: block;
    position: relative;
    height: 100%;
}

.image-button-comp>.no-img {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px dashed gray;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-button-comp>.no-img>img {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    opacity: 1 !important;
    position: relative;
}

.image-button-comp img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.image-button-comp.up img:not(.img-up) {
    opacity: 0;
}

.image-button-comp.over img:not(.img-over) {
    opacity: 0;
}

.image-button-comp.down img:not(.img-down) {
    opacity: 0;
}

.image-button-comp.disable img:not(.img-disable) {
    opacity: 0;
}