<template>
<div style="white-space:pre; font-size:10px;">
  <h2>{{data.name}}</h2>
  {{JSON.stringify(data, null, "\t")}}
</div>
</template>
<script>
  module.exports = {
    data() {
      return {
      };
    },
    methods: {
      
    },
    created() {
      console.log("created");
    },
    mounted() {
      console.log("mounted");
    }
  }
</script>