<template>
  <div 
      id="page-loading-wrap" 
      v-show="toggleShow">
      <div class="page-loading">
        <el-progress 
            type="circle" 
            :percentage="initNumber" 
            :color="colors"
            :stroke-width="12" ref='progress'></el-progress>
        <span class="txt">{{ message }}</span>
      </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component';

@Component({
      components: {

      }
})
export default class EditMainAreaResourceLoadingComponent extends Vue {
      
      private initNumber    : number = 0; // init percentage
      private message       : string = ''; // init loading message
      private colors        : Array<Object> = [{color: '#f56c6c', percentage: 20},
                                              {color: '#e6a23c', percentage: 40},
                                              {color: '#5cb87a', percentage: 60},
                                              {color: '#1989fa', percentage: 99},
                                              {color: 'rgb(19, 206, 102)', percentage: 100}] // loading bar color
      private toggleShow    : boolean = false;

      public show(): void{
            this.toggleShow = true;
      }

      public hide(): void{
            this.toggleShow = false;
            this.initNumber = 0;
      }
      /*
         2020.01.30(YOON HOSEUNG)
         'OpenPageCommand.ts(Editor, Viewer)'
         
         rate    : Progress Rate
         massage : Progress Rate Message
      */
      public increase(rate, message): void{
            this.initNumber += rate;

            if (this.initNumber > 100) {
                  this.initNumber = 100;
            }
            
            this.message = message;
      }
}
</script>

<style scoped>
#page-loading-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

#page-loading-wrap .page-loading {
      width:180px;
      height:180px;
      border-radius: 4px;
      background: #5e666f;
      position: relative;
}

.el-progress, .el-progress--dashboard {
      padding-top: 15px;
}

.txt {
      font-size: 13px;
      font-weight: bold;
      line-height: 14px;
      display: block;
      position: absolute;
      bottom: 13px;
      text-align: center;
      width: 100%;
      color: white;
}
</style>