<template>
	<div id="dataset-manager">
		<div class="cont-body dataset-modal-wrap">
			<dataset-list-component class="dataset-list"></dataset-list-component>
			<dataset-tabs-component class="dataset-main-tabs"></dataset-tabs-component>
		</div>
	  </div>
</template>

<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import DatasetManagerFacade from "../DatasetManagerFacade";
	import DatasetListComponent from "./list/DatasetListComponent.vue";
	import DatasetTabsComponent from "./contents/DatasetTabsComponent.vue";
	@Component({
		components: {
			DatasetListComponent,
			DatasetTabsComponent
		}
	})
	export default class DatasetManagerMainComponent extends Vue {
		created(): void {
			var self = this;
			window.wemb= {};
			window.wemb.viewComponentMap = new Map();
		}

		mounted() {
			let facade: DatasetManagerFacade = DatasetManagerFacade.getInstance(DatasetManagerFacade.NAME);
			facade.startup(this);
		}
	}
</script>
<style>
	#dataset-manager > .cont-body{
		display: flex;
		flex-direction: row;
		flex: 1;
		padding: 15px;
	}

	#dataset-manager{
		min-width: 1100px;
		min-height: 300px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	#dataset-manager > .cont-header{
		padding: 8px 16px;
	}

      #dataset-manager .dataset-list{
            padding-right: 24px;
            text-align: center;
            width: 510px !important;
            position: relative;
      }

      #dataset-manager .dataset-main-tabs{
            flex: 1;
            overflow: auto;
      }

</style>
