.SeverityComponent002 .container {
    position: relative;
    height: 100%;
    width: 100%;
    perspective: 100px;
}

.SeverityComponent002 .container>.gradient {
    height: 60%;
    -webkit-transform: rotateX(45deg);
    transform: rotateX(45deg);
    transform-origin: 0 100%;
}

.SeverityComponent002 .container>.title-area {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.SeverityComponent002 .container>.title-area>p {
    margin: 0;
}