<%= htmlWebpackPlugin.options.config.jsp %>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>RENOBIT</title>
    <link rel="shortcut icon" href="./client/common/image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./client/common/image/favicon.ico" type="image/x-icon">
    <script src="./client/common/libs/polyfill/proxy.min.js"></script>
    <script src="./client/common/libs/polyfill/classList.js"></script>
    <script src="./client/common/libs/vue_libs/httpVueLoader.js"></script>
    <script src="./client/common/libs/three/build/three.js"></script>
    <script src="./client/common/libs/three/extensions/threex.domevents.js"></script>
    <script src="./client/common/libs/three/examples/js/utils/SceneUtils.js"></script>
    <script src="./client/common/libs/three/examples/js/controls/OrbitControls.js"></script>
    <script src="./client/common/libs/three/examples/js/controls/TransformControls.js"></script>
    <script src="./client/common/libs/three/examples/js/renderers/CSS2DRenderer.js"></script>
    <script src="./client/common/libs/three/examples/js/loaders/OBJLoader.js"></script>
    <script src="./client/common/libs/three/examples/js/utils/GeometryUtils.js"></script>
    <script src="./client/common/libs/simpleheat/simpleheat.js"></script>
    <script src="./client/common/libs/jquery.dateFormat/dateFormat.js"></script>
    <script src="./client/common/libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="./client/common/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="./client/common/libs/jquery.jstree/jstree.js"></script>
    <script src="./client/common/libs/snap/snap.svg.js"></script>
    <script src="./client/common/libs/tween/Tween.js"></script>
    <script src="./client/common/libs/greensock/TimelineMax.min.js"></script>
    <script src="./client/common/libs/greensock/TweenMax.min.js"></script>
    <script src="./client/common/libs/three/examples/js/libs/stats.min.js"></script>
    <script src="./client/common/libs/dat.gui/dat.gui.js"></script>

    <script src="./client/common/libs/AesUtil.js"></script>
    <script src="./client/common/libs/aes.js"></script>
    <script src="./client/common/libs/base64.js"></script>
    <script src="./client/common/libs/pbkdf2.js"></script>
    <script src="./client/common/libs/sha256.js"></script>

    <link href="./client/common/libs/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="./client/common/libs/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <script src="./client/common/libs/jquery.contextMenu/jquery.contextMenu.js"></script>

    <link href="./client/common/libs/jquery.jstree/style/style.min.css" rel="stylesheet" type="text/css">
    <link href="./client/common/libs/jquery.contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css">

    <link href="./client/common/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="./client/common/css/common.css" rel="stylesheet" type="text/css">
    <link href="./client/common/css/editor.css" rel="stylesheet" type="text/css">
    <link href="./client/common/css/viewer.css" rel="stylesheet" type="text/css">
    <link href="./client/common/css/component.css" rel="stylesheet" type="text/css">

    <script src="./client/common/libs/jquery.scrollbar/jquery.scrollbar.js"></script>
    <link href="./client/common/libs/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css">

      <script src="./client/common/libs/three/examples/js/loaders/MTLLoader.js"></script>
      <script src="./client/common/libs/three/examples/js/loaders/LoaderSupport.js"></script>
      <script src="./client/common/libs/three/examples/js/loaders/OBJLoader2.js"></script>


      <script src="./client/common/libs/three/examples/js/loaders/GLTFLoader.js"></script>
      <script src="./client/common/libs/three/examples/js/loaders/DRACOLoader.js"></script>

    <% htmlWebpackPlugin.options.config.custom.forEach(function(item) { %>
        <link href=<%= '"' + item.href + '"' %> rel="stylesheet" type="text/css"></link>
    <% }); %>
    <!---사용자 정의 style-->
    <!-- <link href="./custom/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="./custom/css/popup.css" rel="stylesheet" type="text/css">
    <link href="./custom/css/custom.css" rel="stylesheet" type="text/css"> -->
    <!---//사용자 정의 style-->

</head>

<body>
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.config.trialExpire %>
    <!-- built files will be auto injected -->
</body>

</html>
