.PaginationComponent {
    text-align: center;
    overflow: hidden;
}

.PaginationComponent>ul {
    display: flex;
    padding-left: 0;
    border-radius: 4px;
    margin: 0;
}

.PaginationComponent>ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PaginationComponent>ul li a {
    margin-left: 0;
    padding: 6px 6px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.PaginationComponent>ul li.disabled>a {
    cursor: default;
    opacity: .4;
}

.PaginationComponent>ul li.active>a {
    color: #337ab7;
    font-weight: bold;
    cursor: default;
}

.PaginationComponent>ul li:first-child>a {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.PaginationComponent>ul li:last-child>a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}