.SeverityComponent004 {

}

.SeverityComponent004 > .wrapper {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      transform-origin: left top 0px;

      overflow: hidden;
}

.SeverityComponent004 > .wrapper > .bullet {
      position: absolute;
      top: 52px;
      right: 26px;
      width: 18px;
      height: 62px;
      border-radius: 10px;
      background-color: #ff0000;

      -webkit-animation-name: criticalPulse;
      -moz-animation-name: criticalPulse;
      -o-animation-name: criticalPulse;
      animation-name: criticalPulse;

      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.SeverityComponent004 > .wrapper.critical {
      background-image: url("./asset/critical.png");
}
.SeverityComponent004 > .wrapper.major {
      background-image: url("./asset/major.png");
}
.SeverityComponent004 > .wrapper.normal {
      background-image: url("./asset/normal.png");
}
.SeverityComponent004 > .wrapper.minor {
      background-image: url("./asset/minor.png");
}
.SeverityComponent004 > .wrapper.warning {
      background-image: url("./asset/warning.png");
}


@-webkit-keyframes criticalPulse {
      /*from { background-color: #c7494f; -webkit-box-shadow: 0 0 10px #c7494f; }
      50% { background-color: #ff0000; -webkit-box-shadow: 0 0 20px #f44141; }
      to { background-color: #c7494f; -webkit-box-shadow: 0 0 10px #c7494f; }*/

      0% { -webkit-filter: blur(0px); background: radial-gradient(#c7494f, #ff0000);}
      50% { -webkit-filter: blur(2px); background-color: #ff0000;}
      100% { -webkit-filter: blur(0px); background: radial-gradient(#c7494f, #ff0000);}
}

