<template>
      <div class="datasource-settings">
            <h6>{{$t('dataset.registerDatasource')}}</h6>
            <el-button class="add-btn" @click="addDataSource" size="small" type="primary">{{$t('common.add')}}</el-button>
            <el-table :data="list" border size="mini" :empty-text="$t('dataset.emptyDatasource')">
                  <el-table-column type="expand">
                        <template slot-scope="props">
                              <p><b>DataSource Name: </b>{{ props.row.name }}</p>
                              <p><b>DB Type: </b>{{ props.row.db_type }}</p>
                              <p><b>DriverClass: </b>{{ props.row.class_name }}</p>
                              <p><b>User ID: </b>{{ props.row.user_id }}</p>
                              <p><b>URL: </b>{{ props.row.url }}</p>
                              <p><b>Description</b></p>
                              <p>{{ props.row.description }}</p>
                        </template>
                  </el-table-column>
                  <el-table-column prop="name" label="Name"/>
                  <el-table-column prop="db_type" label="DB Type" />
                  <el-table-column prop="user_id" label="User ID"/>
                  <el-table-column label="Action" width="70" align="center">
                        <template slot-scope="props">
                              <el-button size="mini" type="danger" @click="beforeDeleteDatasource(props.row)"><i aria-hidden="true" class="fa fa-trash-o"></i></el-button>
                        </template>
                  </el-table-column>
            </el-table>

            <el-dialog title="DataSource Add Popup" :visible.sync="dialogVisible" :close-on-click-modal="false" width="40%">
                  <el-form ref="dataSourceForm" :model="addData" label-width="100px" size="mini">
                        <el-form-item label="Name" prop="name" :rules="{required: true, max: 255}">
                              <el-input v-model="addData.name" size="mini" placeholder="DataSource Name" :disabled="validate"></el-input>
                        </el-form-item>
                        <el-form-item label="DB Type" prop="db_type" size="mini" :rules="{required: true, max: 40}">
                              <el-select v-model="addData.db_type" placeholder="DB Type" :disabled="validate" @change="changeDbType(addData.db_type)"
                                         filterable
                                         allow-create>
                                    <el-option v-for="item in DB_CONN_INFO"
                                               :value="item.type" :key="item.type" :label="item.type"/>
                              </el-select>
                        </el-form-item>
                        <el-form-item label="DriverClass" prop="class_name" size="mini" required>
                              <el-input v-model="addData.class_name" placeholder="Driver Class Name" :disabled="validate"></el-input>
                        </el-form-item>
                        <el-form-item label="User ID" prop="user_id" :rules="{required: true, max: 255}">
                              <el-input v-model="addData.user_id" size="mini" placeholder="DB Connect User ID" :disabled="validate"></el-input>
                        </el-form-item>
                        <el-form-item label="Password" prop="pwd" :rules="{required: true, max: 255}">
                              <el-input v-model="addData.pwd" size="mini" placeholder="DB Connect User Pwd" type="password" :disabled="validate"></el-input>
                        </el-form-item>
                        <el-form-item label="Url" prop="url" :rules="{required: true, max: 255}">
                              <el-input v-model="addData.url" size="mini" placeholder="jdbc:oracle:thin:@localhost:1521/xe" :disabled="validate"></el-input>
                        </el-form-item>
                        <el-form-item label="Test Query" prop="query" :rules="{required: true, max: 255}">
                              <el-input v-model="addData.query" size="mini" placeholder="select 1 from dual" :disabled="validate"></el-input>
                        </el-form-item>
                        <el-form-item label="Description" :rules="{max: 512}">
                              <el-input v-model="addData.description" size="mini" placeholder="Description..."></el-input>
                        </el-form-item>
                  </el-form>

                  <div class="btn-area">
                        <el-button v-if="!validate" @click="onConnectTest" type="success"><b>CONNECTION TEST</b></el-button>
                  </div>

                  <div class="btn-area">
                        <el-button type="primary" @click="btnClickAddDataDialog" size="small" :disabled="!validate">{{$t('common.add')}}</el-button>
                        <el-button @click="btnClickCancelDialog" size="small">{{$t('common.cancel')}}</el-button>
                  </div>
            </el-dialog>
      </div>
</template>

<script lang="ts">

      import Vue from "vue"
      import Component from "vue-class-component";
      import {dto} from "../../../model/dto/DatasetDTO";
      import DataSourceDTO = dto.DataSourceDTO;
      import DataSourceSettingsMediator from "./DataSourceSettingsMediator";

      @Component({
            components: {}
      })
      export default class DataSourceSettingsComponent extends Vue {
            static readonly ADD_DATASOURCE: string = "event/addDatasource";
            static readonly REMOVE_DATASOURCE: string = "event/removeDatasource";
            static readonly TEST_DATASOURCE: string = "event/testDatasource";
            static readonly CHECK_DATASOURCE: string = "event/checkDataSource";

            public validate:boolean = false;

            public list: Array<DataSourceDTO> = [];
            public addData: DataSourceDTO = new DataSourceDTO();
            public dialogVisible: boolean = false;
            public DB_CONN_INFO = [
                  {
                        "type": "oracle",
                        "driverClassName": "oracle.jdbc.OracleDriver",
                        "driverUrl" : "jdbc:oracle:thin:@<HOSTNAME>:<PORT>:<SID>"
                  }, {
                        "type": "postgre",
                        "driverClassName": "org.postgresql.Driver",
                        "driverUrl" : "jdbc:postgresql://<IP>:<PORT>/<DB NAME>"
                  }, {
                        "type": "maria",
                        "driverClassName": "org.mariadb.jdbc.Driver",
                        "driverUrl" : "jdbc:mysql://<HOSTNAME>:<PORT>/<SID>"
                  }, {
                        "type": "tibero",
                        "driverClassName": "com.tmax.tibero.jdbc.TbDriver",
                        "driverUrl" : "jdbc:tibero:thin:@<HOSTNAME>:<PORT>:<SID>"
                  }, {
                        "type": "db2",
                        "driverClassName": "com.ibm.db2.jcc.DB2Driver",
                        "driverUrl" : "jdbc:db2://<DB_IP>:<PORT>/<DB_NAME>"
                  }
            ];

            created(): void {
            }

            mounted(): void {
                  window.wemb.viewComponentMap.set(DataSourceSettingsMediator.NAME, this);
            }

            changeDbType(db_type) : void {

                  for(let i=0; i < this.DB_CONN_INFO.length; i++){
                        if(db_type == this.DB_CONN_INFO[i].type) {
                              const {driverClassName, driverUrl} = this.DB_CONN_INFO[i];
                              Vue.set(this.addData, 'class_name', driverClassName);
                              Vue.set(this.addData, 'url', driverUrl);
                        }
                  }
            }

            setList(data):void {
                  this.list = data;
                  this.list.map(item=>{
                        item.user_id = this.decode(item.user_id);
                        item.url = this.decode(item.url);
                  })
            }

            addDataSource(): void {
                  this.dialogVisible = true;
                  this.validate = false;
                  this.addData = new DataSourceDTO();
                  if(this.$refs.dataSourceForm) {
                        this.$refs.dataSourceForm.resetFields();
                  }
            }

            btnClickAddDataDialog(): void {
                  this.dialogVisible = false;
                  this.addData.user_id = encypt(this.addData.user_id);
                  this.addData.pwd = encypt(this.addData.pwd);
                  this.addData.url = encypt(this.addData.url);
                  this.$emit(DataSourceSettingsComponent.ADD_DATASOURCE, this.addData);
            }

            btnClickCancelDialog(): void {
                  this.dialogVisible = false;
            }

            confirmDelete():Promise<any> {
                  let msg = this.$i18n.messages.wv;
                  return this.$confirm(msg.common.confirmDelete, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  })
            }

            alertNoDelete(): void {
                  let msg = this.$i18n.messages.wv;
                  Vue.$message.error(msg.dataset.errorDuplicate);
            }

            beforeDeleteDatasource(item): void{
                  this.$emit(DataSourceSettingsComponent.CHECK_DATASOURCE, item);
            }

            deleteDatasource(item):void {
                  this.confirmDelete().then(()=>{
                        this.$emit(DataSourceSettingsComponent.REMOVE_DATASOURCE, item);
                  }).catch(()=>{
                        console.log("cancel")
                  })
            }

            onConnectTest():void {
                  if (this.isDuplication()) {
                        let msg = this.$i18n.messages.wv;
                        Vue.$message.error(msg.common.errorDuplicate);
                        return;
                  }

                  if (this.existName()) {
                        let msg = this.$i18n.messages.wv;
                        Vue.$message.error(msg.pageTree.existsName);
                        return;
                  }

                  this.$refs.dataSourceForm.validate((valid)=>{
                        if(valid) {
                              this.$emit(DataSourceSettingsComponent.TEST_DATASOURCE, this.addData);
                        }
                  })
            }

            isDuplication():boolean {
                  return this.list.some(item => item.user_id === this.addData.user_id &&
                        item.url === this.addData.url);
            }

            existName():boolean {
                  return this.list.some(item => item.name === this.addData.name);
            }

            connectResult():void {
                  this.validate = true;
            }

            decode(rawPass):string {
                  let plaintext = "";
                  try {
                        let decPw = new String(Base64.decode(rawPass));
                        let data = decPw.split(":");
                        let ciphertext = data[0];
                        let passphrase = data[1];
                        let iv = data[2];
                        let salts = data[3];

                        let aesUtil = new AesUtil(128, 1000);
                        plaintext = aesUtil.decrypt(salts, iv, passphrase, ciphertext);
                  } catch(e) {
                        console.error(e);
                  }

                  return plaintext;
            }

      }
</script>

<style scoped>
      .datasource-settings h6 {
            margin-top: 0;
            margin-bottom: 10px;
      }

      .datasource-settings .add-btn {
            margin-bottom: 6px;
            float: right;
      }

      .datasource-settings >>> .el-select {
            width: 100%;
      }

      .datasource-settings .btn-area {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
      }

</style>
