<template>
      <div class="tim-settings">
            <h6>{{$t('dataset.timUrlRegister')}}</h6>
            <div class="register-tim-wrap">
                  <div>
                        <div class="item">
                              <label>{{$t('dataset.timName')}} : </label>
                              <el-input type="text" size="small" :placeholder="$t('dataset.timNamePH')"
                                        v-model="data.title"></el-input>
                        </div>
                        <div class="item">
                              <label>{{$t('dataset.timUrl')}} : </label>
                              <el-input type="text" size="small" :placeholder="$t('dataset.timUrlPH')"
                                        v-model="data.url"></el-input>
                        </div>
                  </div>
                  <el-button type="primary" @click="onClickAddTimUrl">{{$t('common.add')}}</el-button>
            </div>
            <hr>
            <div class="sortable-wrap box" v-show="urlList.length">
                  <ul class="handle-sortable" id="tim-url-sortable">
                        <!--<li class="d-flex align-item-center">
                            <span class="handle"></span>
                            <div class="flex">
                                <span class="title">item.name</span>
                                <p>http://dlksfjdlskjf.dsfkljdslfjl;dsjfl;sdkj;flsj;dsl</p>
                            </div>
                            <button type="button" class="el-button el-button--danger el-button--mini"><span>삭제</span></button>
                        </li>
                        -->
                  </ul>
            </div>
      </div>
</template>
<script lang="ts">
      import Vue from "vue"
      import Component from "vue-class-component"
      import {dto} from "../../../model/dto/DatasetDTO";
      import TimItemDTO = dto.TimItemDTO;
      import TimSettingsMediator from "./TimSettingsMediator";

      /**
       * worker list를 조회할 수 있는 TIM Worker List URL를 등록하는 컴포넌트
       * TIM 입력 항목에서 여기서 등록된 리스트 순서대로 콤보박스에 노출되는데, 가장 첫번째 위치한 url이 default로 노출된다.
       * 때문에 순서를 변경하는 기능이 들어갔고, 이를 vue에서 제공하는 플러그인을 늦게 알아서.. jquery로 처리하였다.
       * vue render와 jquery를 혼용해서 사용시 시점이 맞지 않는 부분이 있어 리스트를 만드는 부분은 수동으로 작성되었다. 그 메소드가 renderTimUrlList이다.
       * 리스트 이동 기능은 jquery sortable을 사용한다.
       * 이쪽에 리스트 변경이 있으면 데이터셋을 작성하는 탭에서도 드롭다운 항목이 업데이트 된다.
       */

      @Component({
            components: {}
      })
      export default class TimSettingsComponent extends Vue {
            static readonly ADD_TIM_URL: string = "event/addTimUrl";
            static readonly REMOVE_TIM_URL: string = "event/removeTimUrl";
            static readonly UPDATE_TIM_URL: string = "event/updateTimUrl";
            static readonly LOAD_TIM_WORKER_LIST: string = "event/loadTimUrl";


            public data: TimItemDTO = new TimItemDTO();
            public urlList: Array<TimItemDTO> = [];
            public sortableEl: any = null;

            /*static readonly  EDIT_DATASET = "event/editDataset";
        public searchStr:string = "";
        */
            created(): void {

            }

            mounted() {
                  window.wemb.viewComponentMap.set(TimSettingsMediator.NAME, this);
                  this.createSortable();
            }


            private resetData() {
                  this.data.title = "";
                  this.data.url = "";
            }

            private createSortable() {
                  let self = this;
                  var msg = this.$i18n.messages.wv;
                  this.sortableEl = $("#tim-url-sortable");
                  this.sortableEl.sortable({
                        handle: ".handle",
                        update: function (event, ui) {
                              let list = [];
                              $.each(self.sortableEl.find("li"), function () {
                                    let item = self.urlList.find(x => x.id == $(this).attr("data-id"));
                                    list.push(item);
                              })

                              self.$emit(TimSettingsComponent.UPDATE_TIM_URL, list);
                        }
                  });

                  this.sortableEl.on("click", ".del-btn", function () {
                        self.$confirm(msg.common.confirmDelete, msg.common.notification, {
                              confirmButtonText: 'OK',
                              cancelButtonText: 'Cancel',
                              type: 'warning'
                        }).then(() => {
                              let id = $(this).attr('data-id');

                              self.$emit(TimSettingsComponent.REMOVE_TIM_URL, id);
                        }).catch(() => {

                        });
                  });
                  //$el.disableSelection();
            }
            /* 
              2020.03.02 @author Yoon

              TIM URL의 대한 검증기.(향후 url을 쓰는 곳이 더 있을 경우 Global하게 빼줘야할듯...)
            */
            public validationURL(url: string){
              const res = url.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
              return (res !== null)
            }

            /* 
              2020.03.02 @author Yoon

              향후 접속 IP의 대한 통신 검증도 해야함.
            */
            public onClickAddTimUrl() {
                  let urlTitle = this.data.title;
                  let urlAddr  = this.data.url;

                  // url의 이름과 주소가 모두 있는지 확인
                  if (urlTitle.length && urlAddr.length) {
                    // urlAddr이 url 형식이고 url에 GetMemWorkerListJson.jsp가 포함 되어 있는지 검증.
                    if(this.validationURL(urlAddr) && urlAddr.indexOf('GetMemWorkerListJson') > -1){
                        this.$emit(TimSettingsComponent.LOAD_TIM_WORKER_LIST, this.data.url);
                    } else {
                        this.$message(this.$i18n.messages.wv.dataset.timMsg02);
                        return;
                    }
                  } else {
                        this.$message(this.$i18n.messages.wv.dataset.timMsg01);
                  }
            }

            public addTimUrl() {
                  this.$emit(TimSettingsComponent.ADD_TIM_URL, this.data);
            }

            public updateList(list: Array<TimItemDTO>) {
                  this.urlList = list;
                  let findItem = this.urlList.find(x => x.title == this.data.title && x.url == this.data.url);
                  if (findItem) {
                        this.resetData();
                  }
                  this.renderTimUrlList();
            }

            private renderTimUrlList() {
                  var str = '';
                  for (let i = 0, len = this.urlList.length; i < len; i++) {
                        let item = this.urlList[i];
                        str += '<li data-id="' + item.id + '"><span class="handle"></span><div><span class="title">' + item.title + '</span><p>' + item.url + '</p></div><button type="button" data-id="' + item.id + '" class="del-btn el-button el-button--danger el-button--mini"><span>삭제</span></button></li>';
                  }
                  this.sortableEl.empty().append(str);
            }

      }
</script>
<style scoped>
      h6 {
            margin-top: 0;
            margin-bottom: 10px;
      }

      .el-row {
            margin-bottom: 6px;
      }

      .tim-settings >>> .el-col > label,
      .label {
            line-height: 28px;
      }

      .tim-settings >>> .el-row > .el-col:first-child {
            margin-right: 0;
      }

      .tim-settings >>> .el-col {
            margin-right: 6px;
      }

      .register-tim-wrap {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
      }

      .register-tim-wrap > div {
            flex: 1;
            margin-right: 6px;
      }

      .register-tim-wrap .item {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
      }

      .register-tim-wrap .item:last-child {
            margin: 0;
      }

      .register-tim-wrap label {
            width: 50px;
            margin: 0;
      }

      .box {
            border: 1px solid #e6ebf5;
      }

      .sortable-wrap {
            min-height: 140px;
            max-height: 260px;
            overflow: auto;
      }

      .sortable-wrap > ul {
            list-style: none;
            margin: 0;
            padding: 0;
      }

      .sortable-wrap > ul >>> li:first-child {
            border: none;
      }

      .sortable-wrap > ul >>> li {
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 8px 12px 8px 8px;
            border-top: 1px solid #e6ebf5;
            background-color: #fff;
      }

      .sortable-wrap > ul >>> li > div {
            flex: 1;
            margin: 0 6px;
      }

      .sortable-wrap > ul >>> li .title {
      }

      .sortable-wrap > ul >>> li p {
            margin: 0;
            word-break: break-all;
      }

      .sortable-wrap > ul >>> li.ui-sortable-helper {
            border: 1px solid #e6ebf5;
      }
</style>
