.dcim-breadcrumbs-component {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}

.dcim-breadcrumbs-component>ul {
    display: flex;
    justify-content: flex-end;
}

.dcim-breadcrumbs-component>ul>li {
    display: flex;
    align-items: center;
}

.dcim-breadcrumbs-component>ul>li>a {
    text-decoration: none;
    cursor: pointer;
}

.dcim-breadcrumbs-component>ul>li i {
    font-weight: bold;
    margin: 0 2px;
}

.dcim-breadcrumbs-component>ul>li>span {
    color: #509cfe;
}


/*nodata*/

.dcim-breadcrumbs-component>span {
    text-align: right;
    display: block;
    margin: 0 4px;
    color: #cbcbcb;
}
