.template-manager-comp {
    user-select: none;
    position: absolute;
    overflow: hidden;
}

.template-manager-comp>.tmpl-manager-wrap {
    height: 100%;
    width: 100%;
    /*pointer-events: none;*/
}

.template-manager-comp.no-data {
    border: 1px dashed rgb(128, 128, 128) !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    padding: 0;
}

.template-manager-comp.no-data .tmpl-manager-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.template-manager-comp.no-data img {
    width: 100%;
    height: 100%;
    max-width: 48px;
    max-height: 14px;
}
