<template>
    <el-dialog title="Dataset Import Popup" :visible.sync="dialogVisible" width="70%" class="import-dialog" :show-close="closeRemove">
            <template v-if="datasetList && datasetList.length">
                  <el-table
                        class="list-table"
                        :data="resultDatasetList"
                        border
                        style="width: 100%;"
                        v-bind:empty-text="$t('dataset.noSearchResult')"
                        highlight-current-row
                        @selection-change="selectDataset">
                        <el-table-column
                              type="selection"
                              width="40">
                        </el-table-column>
                        <el-table-column
                              prop="name"
                              v-bind:label="$t('dataset.name')"
                              sortable>
                        </el-table-column>
                        <el-table-column
                              prop="duplicate"
                              v-bind:label="$t('dataset.duplicate')"
                              sortable>
                        </el-table-column>
                  </el-table>
            </template>
            <template v-else>
                <p>{{$t('dataset.emptyData')}}</p>
            </template>
            <div class="btn-area">
                  <el-button type="primary" @click="importDataset" size="small">{{$t('importPages.add')}}</el-button>
                  <el-button @click="btnClickCancelDialog" size="small">취소</el-button>
            </div>
    </el-dialog>
</template>

<script lang="ts">
      import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import {dto} from "../../model/dto/DatasetDTO"
      import DatasetItemDTO = dto.DatasetItemDTO;

      @Component({
            components: {}
      })

      export default class DatasetImportComponent extends Vue {
            @Prop()
            currentDatasetList:Array<DatasetItemDTO>;

            @Prop()
            datasetList:Array<DatasetItemDTO>;

            @Prop()
            dialogVisible:boolean;
            test:string="test";

            readonly closeRemove:boolean = false;
            selectedDatasetList:Array<DatasetItemDTO> = [];

            get resultDatasetList() {
                  let datasetNames = this.currentDatasetList.map(dataset => {
                        return dataset.dataset_id;
                  });

                  return this.datasetList.map(dataset => {
                        let resultDataset:any = {...dataset};
                        resultDataset.duplicate = datasetNames.indexOf(dataset.dataset_id) > -1 ? "중복" : "";
                        return resultDataset;
                  });
            }
/*
            @Watch("datasetList", { immediate: true, deep: true })
            setDatasetList(): void {
                  let datasetNames = this.currentDatasetList.map(dataset => {
                     return dataset.dataset_id;
                  });

                  this.datasetList.forEach(dataset => {
                       dataset.duplicate = datasetNames.indexOf(dataset.dataset_id) > -1 ? "중복" : "";
                  });
            }*/

            importDataset(): void {
                  if (!this.selectedDatasetList.length) {
                        let locale_msg = Vue.$i18n.messages.wv.dataset.noSelectDataset;
                        this.$message(locale_msg);
                        return;
                  }

                  this.$emit("@save", this.selectedDatasetList);
            }

            btnClickCancelDialog(): void {
                  this.$emit("@close");
            }

            selectDataset(selection): void {
                  this.selectedDatasetList = selection;
            }
      }
</script>

<style scoped>
      .import-dialog >>> .el-table__header-wrapper {flex: none;}
      .import-dialog >>> .el-dialog {height: 70%;display: flex;flex-direction: column;align-content: stretch;}
      .import-dialog >>> .el-dialog__body {display: flex;flex-direction:column;height:100%;align-content:space-between;margin-top: -26px;}
      .import-dialog >>> .el-table, .import-dialog >>> .el-table__body-wrapper {display:flex;flex-direction:column;}
      .btn-area {margin-top:8px;}
</style>
