<template>
      <div class="data-list-wrap">
            <transition name="query-fade">
                  <el-card
                        class="query-view"
                        v-if="isQuery"
                        shadow="always">
                        <div slot="header">
                              <span>View Query</span>
                              <i class="el-icon-close query-view-close" @click="queryViewClose"></i>
                        </div>
                        <div class="previewer">{{query}}</div>
                  </el-card>
            </transition>
            <div class="top-btn-wrap">
                  <a class="upload-btn" role="button">{{$t('dataset.importFile')}}
                        <input type="file" accept=".json, json/*"/>
                  </a>
                  <el-button id="save-btn" size="small" type="" :disabled="!datasetList.length" @click="openExportPopup" round>{{$t('dataset.exportFile')}}</el-button>
                  <el-button size="small" round @click="gotoManual">
                        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> Help
                  </el-button>
            </div>
            <template v-if="datasetList && datasetList.length">
                  <el-input class="search-field" v-model="searchStr" placeholder="search dataset">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                        <i @click="clearSearchStr()" class="clear-search-str el-icon-error el-input__icon" slot="suffix"></i>
                  </el-input>
                  <el-table
                        class="list-table"
                        :data="resultList"
                        size="mini"
                        v-bind:empty-text="$t('dataset.noSearchResult')"
                        border
                        stripe
                        style="width: 100%;"
                  >
                        <el-table-column prop="name" v-bind:label="$t('dataset.name')" sortable></el-table-column>
                        <el-table-column label="타입" sortable prop="data_type" :filters="dbTypeFilters" :filter-method="filterHandler">
                              <template slot-scope="scope">
                                    <span  v-if="scope.row.data_type==0">DB Query</span>
                                    <span  v-if="scope.row.data_type==1">Rest API</span>
                                    <span  v-if="scope.row.data_type==2">TIM</span>
                              </template>
                        </el-table-column>
                        <el-table-column prop="interval" v-bind:label="$t('dataset.interval')"></el-table-column>
                        <el-table-column v-bind:label="$t('dataset.command')">
                              <template slot-scope="scope">
                                    <el-tooltip content="modify" placement="top">
                                          <el-button type="primary" size="small" class="icon-btn" @click="onClickModify(scope.row.dataset_id)">
                                                <i aria-hidden="true" class="fa fa-edit"></i></el-button>
                                    </el-tooltip>
                                    <el-tooltip content="duplication" placement="top">
                                          <el-button type="primary" size="small" class="icon-btn" @click="duplicationDataset(scope.row.dataset_id)"><i aria-hidden="true" class="fa fa-files-o"></i></el-button>
                                    </el-tooltip>
                                    <el-tooltip content="delete" placement="top">
                                          <el-button type="danger" size="small" class="icon-btn" @click="deleteDataset(scope.row.dataset_id)"><i aria-hidden="true" class="fa fa-trash-o"></i></el-button>
                                    </el-tooltip>
                              </template>
                        </el-table-column>
                  </el-table>
            </template>
            <template v-else>
                  <p>{{$t('dataset.emptyData')}}</p>
            </template>

            <el-dialog title="Dataset Export Popup" :visible.sync="dialogVisible" width="70%" class="export-dialog">
                  <div class="export-dialog-body">
                        <div class="export-left">
                              <el-autocomplete
                                    class="dataset-search-export"
                                    v-model="datasetExportSearchStr"
                                    :fetch-suggestions="datasetSearch"
                                    placeholder="search dataset"
                                    :trigger-on-focus="false">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                    <i @click="clearExportSearchStr()" class="clear-search-str el-icon-error el-input__icon" slot="suffix"></i>
                              </el-autocomplete>
                              <el-table
                                    class="list-table"
                                    :data="exportSearchresultList"
                                    border
                                    style="width: 100%;"
                                    highlight-current-row
                                    @selection-change="selectDataset"
                                    @current-change="previewDataset">
                                    <el-table-column
                                          type="selection"
                                          width="40">
                                    </el-table-column>
                                    <el-table-column
                                          prop="name"
                                          v-bind:label="$t('dataset.name')"
                                          sortable>
                                    </el-table-column>
                                    <el-table-column v-bind:label="$t('dataset.method')" sortable prop="delivery_type" >
                                          <template slot-scope="scope">
                                                <span  v-if="scope.row.delivery_type==0">polling</span>
                                                <span  v-if="scope.row.delivery_type==1">push</span>
                                          </template>
                                    </el-table-column>
                              </el-table>
                        </div>
                        <div class="export-right">
                              <el-tabs type="border-card" class="export-tabs">
                                    <el-tab-pane label="Preview" class="preview-query">{{previewQuery}}</el-tab-pane>
                              </el-tabs>
                        </div>
                  </div>
                  <div class="btn-area">
                        <el-button type="primary" @click="exportDataset" size="small">{{$t('dataset.exportFile')}}</el-button>
                        <el-button @click="btnClickCancleDialog" size="small">취소</el-button>
                  </div>
            </el-dialog>
            <dataset-import-component :dialogVisible="importDialogVisible" :datasetList="importDatasetList" :currentDatasetList="datasetList"
                        @@close="closeImportPopup"
                        @@save="saveDatasetList"/>
      </div>
</template>
<script lang="ts">
      import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
      import {dto} from "../../model/dto/DatasetDTO"
      import DatasetItemDTO = dto.DatasetItemDTO;
      import DatasetListMediator from "./DatasetListMediator";
      import DatasetImportComponent from "./DatasetImportComponent"
      import {Dataset} from "../../const/Dataset";
      import DataSourceDTO = dto.DataSourceDTO;

      @Component({
            components: {
                  DatasetImportComponent
            }
      })
      export default class DatasetListComponent extends Vue {
            static readonly  MODIFY_DATASET =       "event/modifyDataset";
            static readonly  DUPLICATION_DATASET =  "event/duplicationDataset";
            static readonly  DELETE_DATASET =       "event/deleteDataset";
            static readonly  CHANGE_SEARCH_STR =    "event/changeSearchStr";
            static readonly  CHANGE_EXPORT_SEARCH_STR =    "event/changeExportSearchStr";
            static readonly  EXPORT_DATASET_LIST =  "event/exportDatasetList";
            static readonly  IMPORT_DATASET_LIST =  "event/importDatasetList";
            static readonly  SAVE_DATASET_LIST =    "event/saveDatasetList";
            static readonly  EVENT_GOTO_MANUAL = "event/gotoManual";

            public datasetList:Array<DatasetItemDTO> = [];
            public resultList:Array<DatasetItemDTO> = [];
            public exportSearchresultList:Array<DatasetItemDTO> = [];

            public searchStr:string = "";
            public selectedDataset:Array<String> = [];
            public importDialogVisible:boolean = false;
            public datasetExportSearchStr:string = "";
            public previewQuery:string = "";
            public searchCheck:boolean = true;

            public dialogVisible:boolean = false;
            public importDatasetList:Array<DatasetItemDTO> = [];
            public importDataSourceList:Array<DataSourceDTO> = [];
            public dbTypeFilters:Array<any> = [{text: 'DB Query', value: 0}, {text: 'TIM', value: 1}, {text: 'Rest API', value: 2}]

            private query:string = '';
            private isQuery:boolean = false;
            @Watch('searchStr', { immediate: true, deep: true })
            onSearchStrChanged(val: string, oldVal: string) {
                  this.$emit(DatasetListComponent.CHANGE_SEARCH_STR, this.searchStr);
            }

            @Watch('datasetExportSearchStr', { immediate: true, deep: true })
            onExportSearchStrChanged(val: string, oldVal: string) {
                  this.$emit(DatasetListComponent.CHANGE_EXPORT_SEARCH_STR, this.datasetExportSearchStr);
            }

            created():void {
            }

            mounted() {
                  window.wemb.viewComponentMap.set(DatasetListMediator.NAME, this);
                  let self = this;

                  /**
                   * 파일 가져오기  파일가져오기 버튼 역할을 하는 input은 한번 실행후 재동작 하지 않아, 기존의 DOM을 삭제하고 새로 DOM을 삽입하는 코드를 추가함.
                   */
                  let $uploadBtn = $(".upload-btn");
                  $(this.$el).on('change', 'input[type=file]', function (e:any) {
                        var file:any = e.target.files[0];
                        self.$emit(DatasetListComponent.IMPORT_DATASET_LIST, file);
                        $uploadBtn.find("input").remove();
                        $uploadBtn.append('<input type="file" accept=".json, json/*">');
                  });
            }

            public gotoManual() {
                this.$emit(DatasetListComponent.EVENT_GOTO_MANUAL, '/manual/manual/total.html#데이터셋');
            }

            /**
             * 데이터셋 체크박스 체크 했을 때 selectDataset에 저장
             **/
            public selectDataset(selection): void {
                  this.selectedDataset = selection.map(dataset => {
                        return dataset.dataset_id;
                  });
            }

            /**
             * export 팝업 오픈
             **/
            public openExportPopup(): void {
                  this.dialogVisible = true;
            }

            /**
             * export시에 검색 리스트 출력
             **/
            public datasetSearch(str, cb) {
                  let results = str ? this.datasetList.reduce((array, dataset) => {
                        let result = dataset.name.trim().toLowerCase().indexOf(str.trim().toLowerCase());
                        if (result === 0) {
                              array.push({value : dataset.name});
                        }
                        return array;
                  }, []) : null;

                  cb(results);
            }

            /**
             * 선택한 데이터셋 전송
             **/
            exportDataset(): void {
                  if (!this.selectedDataset.length) {
                        let locale_msg = Vue.$i18n.messages.wv.dataset.noSelectDataset;
                        this.$message(locale_msg);
                        return;
                  }

                  this.$emit(DatasetListComponent.EXPORT_DATASET_LIST, this.selectedDataset);
            }

            clearSearchStr(): void{
                  this.searchStr = "";
            }

            /**
             * export 팝업 숨김
             **/
            btnClickCancleDialog(): void {
                  this.dialogVisible = false;
            }

            /**
             * 팝업에서 데이터셋 클릭시 우측에 쿼리 내역 미리보기
             */
            previewDataset(val): void {
                  if (Dataset.DYNAMIC_TYPE.DYNAMIC === val.query_type) {
                        this.previewQuery = val.query_detail_info.query;
                  } else {
                        this.previewQuery = val.query;
                  }
            }

            /**
             * import 팝업 호출
             **/
            showImportPopup({data, datasource}): void {
                  this.importDialogVisible = true;
                  this.importDatasetList = data;
                  this.importDataSourceList = datasource;
            }

            /**
             * 임포트 팝업 닫기
             **/
            closeImportPopup(): void {
                  this.importDialogVisible = false;
            }

            /**
             * 선택 된 데이터셋만 저장
             **/
            saveDatasetList(list): void {
                  this.$emit(DatasetListComponent.SAVE_DATASET_LIST, {datasetList: list, dataSourceList: this.importDataSourceList});
            }

            clearExportSearchStr(): void {
                  this.datasetExportSearchStr = "";
            }

            onClickModify(id:string): void{
                  this.$emit(DatasetListComponent.MODIFY_DATASET, id);
            }

            duplicationDataset(id:string): void{
                  this.$emit(DatasetListComponent.DUPLICATION_DATASET, id);
            }

            deleteDataset(id:string): void{
                  var msg = this.$i18n.messages.wv;
                  this.$confirm(msg.dataset.deleteMsg, msg.common.notification, {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                  }).then(() => {
                        this.$emit(DatasetListComponent.DELETE_DATASET, id);
                  }).catch(() => {

                  });
            }


            /**
             * 데이터셋 리스트 업데이트시 해당 메소드를 통해 업데이트
             */
            setDatasetList(list): void{
                  this.datasetList = list;
            }

            setSearchResult(list):void{
                  this.resultList = list;
            }

            setExportSearchResult(list):void{
                  this.exportSearchresultList = list;
            }

            filterHandler(value, row) {
                  return row['data_type'] === value;
            }

            public viewQuery(query: string) {
                  this.isQuery = true;
                  this.query = query;
            }

            public queryViewClose() {
                  this.isQuery = false;
            }

            public noExistDataset() {
                  Vue.$message.error(Vue.$i18n.messages.wv.dataset.errorMsg12);
            }
      }
</script>
<style scoped>
      .data-list-wrap{ display: flex; flex-direction: column;}
      .data-list-wrap .list-table{display: flex; flex-direction: column;}
      .data-list-wrap .list-table >>> .el-table__body-wrapper{flex:1;}
      .data-list-wrap>>>button { margin: 0;}
      .data-list-wrap>>>.el-table td,
      .data-list-wrap>>>.el-table th {
            text-align: center;
      }

      .top-btn-wrap{text-align:left; margin-bottom: 10px;}
      .data-list-wrap >>> input[type=file]{
            position: absolute;
            width:100%;
            height: 100%;
            top:0;
            left:0;
            opacity: 0;
            text-indent: -5000px;
      }

      a.upload-btn{
            -webkit-appearance: none;
            display: inline-block;
            position: relative;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #d8dce5;
            border-color: #d8dce5;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            margin: 0;
            transition: .1s;
            font-weight: 500;
            padding: 7px 13px;
            font-size: 12px;
            border-radius: 20px;
            color: #fff !important;
            background-color: #363a45;
            border-color: #363a45;
      }

      a.upload-btn:hover{
            background: #5e616a;
            border-color: #5e616a;
            color: #fff;
      }
      .dataset-search-export {width: 100%;margin-bottom:8px;}
      .btn-area {margin-top:20px;}
      .list-table {height:250px;}
      .export-dialog-body {display:flex;}
      .export-dialog-body>div {width:50%;}
      .export-dialog-body>div:first-child {margin-right:10px}
      .export-tabs {height: 100%;overflow-y:scroll;}
      .preview-query {text-align: left;}

      .data-list-wrap .query-view {width:96%;height: 100%;position:absolute;z-index: 10;}
      .data-list-wrap .query-view-close {position:absolute;right:14px;top:15px;font-size:23px;cursor:pointer;color:#737373;}
      .data-list-wrap .query-view-close:hover {color:#000;}

      .data-list-wrap .query-fade-enter-active, .query-fade-leave-active {transition: opacity .5s;}
      .data-list-wrap .query-fade-enter, .query-fade-leave-to {opacity: 0;}
      .previewer {line-height: 23px;font-size: 13px;}
      .query-view {display:flex;flex-direction: column;}
      .query-view >>> .el-card__body {height: 100%;overflow-y: scroll;}
</style>
