<template>
<div class="code-snippets-main">
    <div class="d-flex justify-content-end">
        <el-button size="small" class="no-border" @click="gotoManual">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> Help
        </el-button>
        <el-menu
            :default-active="activeIndex"
            class="settings-btn el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-submenu index="2">
                <template slot="title"><i class="el-icon-more"></i></template>
                <el-menu-item index="2-1" @click="onShowCreateCustomSnippetModal(null)">Register user code snippet</el-menu-item>
                <el-menu-item index="2-2"><a class="snippet-upload-btn" role="button">Import user code snippet
                    <input type="file" accept=".json, json/*"/>
                </a></el-menu-item>
                <el-menu-item index="2-3" @click="onExportCustomSnippetFile">Export user code snippet</el-menu-item>
            </el-submenu>
        </el-menu>
    </div>
    <h4 class="title">Favorite Snippets</h4>
    <favorite-snippets-component ref="favoriteSnippets" class="snippets-favorite"
        @removeFavorete="onRemoveFavorite($event)"
        @copyToClipboard="onCopyToClipboard($event)"
        @insertCode="onInsertCode($event)"

    ></favorite-snippets-component>
    <h4 class="title">Code Snippets</h4>
    <div class="flex-scroll">
        <custom-snippets-tree-component
            @showCreateModal="onShowCreateCustomSnippetModal(null)"
            @showModifyModal="onShowCreateCustomSnippetModal($event)"
            @addFavorite="onAddFavorite($event)"
            @copyToClipboard="onCopyToClipboard($event)"
            @insertCode="onInsertCode($event)"
        ></custom-snippets-tree-component>
        <global-snippets-tree-component ref="globalSnippets"
            @addFavorite="onAddFavorite($event)"
            @copyToClipboard="onCopyToClipboard($event)"
            @insertCode="onInsertCode($event)"></global-snippets-tree-component>
        <create-custom-snippet-modal ref="createModal"></create-custom-snippet-modal>

         <!--@modifyCustomSnippet="onAddFavorite"
            @addCustomSnippet="onAddFavorite"-->


    </div>
</div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Component from "vue-class-component";
    import CodeSnippetsMainMediator from "./CodeSnippetsMainMediator";
    import { dto } from '../../model/dto/SnippetDTO';
    import SnippetTreeItemDTO = dto.SnippetTreeItemDTO;
    import SnippetFavoriteItemDTO = dto.SnippetFavoriteItemDTO;
    import CustomSnippetItemDTO = dto.CustomSnippetItemDTO;

    import GlobalSnippetsTreeComponent from './global/GlobalSnippetsTreeComponent.vue';
    import FavoriteSnippetsComponent from './favorite/FavoriteSnippetsComponent.vue';
    import CreateCustomSnippetModal from './custom/CreateCustomSnippetModal.vue';
    import CustomSnippetsTreeComponent from './custom/CustomSnippetsTreeComponent.vue';

    /**
     * 코드 스니펫에서
     * 코드 즐겨찾기,
     * 사용자 코드 스니펫 트리 : 사용자 코드 등록 관리(추가/수정/삭제) 제공, 파일 가져오기, 내보내기 제공
     * 레노빗(배포) 코드 스니펫 트리 제공(수정불가)
     * 
     * 스니펫 정보는 json파일로 저장 관리됨
     * 트리는 Editor Tree Panel에서 사용한 jstree 사용
     * https://www.jstree.com/
    */

  
    @Component({
        components: {
            GlobalSnippetsTreeComponent,
            FavoriteSnippetsComponent,
            CreateCustomSnippetModal,
            CustomSnippetsTreeComponent
        }
    })
    export default class CodeSnippetsMainComponent extends Vue {
        static readonly EVENT_INSERT_CODE: string =             "event/insertCode";
        static readonly EVENT_COPY_TO_CLIPBOARD: string =       "event/copyToClipboard";
        static readonly EVENT_ADD_FAVORITE: string =            "event/addFavorite";
        static readonly EVENT_REMOVE_FAVORITE: string =         "event/removeFavorite";

        static readonly EVENT_ADD_CUSTOM_SNIPPET: string =      "event/addCustomSnippet";
        static readonly EVENT_MODIFY_CUSTOM_SNIPPET: string =   "event/modifyCustomSnippet";

        static readonly EVENT_SHOW_CUSTOM_SNIPPET_MODAL: string =   "event/showCustomSnippetModal";
        static readonly EVENT_IMPORT_CUSTOM_SNIPPETS: string =   "event/importCustomSnippets";
        static readonly EVENT_EXPORT_CUSTOM_SNIPPETS: string =   "event/exportCustomSnippets";
        static readonly EVENT_GOTO_MANUAL: string =   "event/gotoManual";

        public activeIndex: string =  '1';
        private _isFocus:boolean = false;
        mounted(){
            window.wemb.viewComponentMap.set(CodeSnippetsMainMediator.NAME, this);

            let self = this;
            let $uploadBtn = $(".snippet-upload-btn");
            $(this.$el).on('change', 'input[type=file]', function (e:any) {
                let file = e.target.files[0];
                self.$emit( CodeSnippetsMainComponent.EVENT_IMPORT_CUSTOM_SNIPPETS, file );
                //한전 사용한 Input이 재동작 하지 않아 삭제 후 다시 추가
                $uploadBtn.find("input").remove();
				$uploadBtn.append('<input type="file" accept=".json, json/*">');
            });
        }

        onAddFavorite(data:SnippetFavoriteItemDTO){
            //data.id, data.text
            this.$emit(CodeSnippetsMainComponent.EVENT_ADD_FAVORITE, data);
        }

        onRemoveFavorite(id:string){
            this.$emit(CodeSnippetsMainComponent.EVENT_REMOVE_FAVORITE, id);
        }

        onCopyToClipboard(id:string){
            this.$emit(CodeSnippetsMainComponent.EVENT_COPY_TO_CLIPBOARD, id);
        }

        onInsertCode(id:string){
            if( this.isFocus ){
                this.$emit(CodeSnippetsMainComponent.EVENT_INSERT_CODE, id);
            }
        }

        ///
        onModifyCustomSnippet(item:CustomSnippetItemDTO){
            this.$emit( CodeSnippetsMainComponent.EVENT_MODIFY_CUSTOM_SNIPPET, item );
        }

        onAddCustomSnippet(item:CustomSnippetItemDTO){
            this.$emit( CodeSnippetsMainComponent.EVENT_ADD_CUSTOM_SNIPPET, item );
        }

        onShowCreateCustomSnippetModal(item:CustomSnippetItemDTO=null){
           this.$emit(CodeSnippetsMainComponent.EVENT_SHOW_CUSTOM_SNIPPET_MODAL, item);
        }

        handleSelect(key, keyPath) {
            //console.log(key, keyPath);
        }


        onExportCustomSnippetFile(){
            this.$emit( CodeSnippetsMainComponent.EVENT_EXPORT_CUSTOM_SNIPPETS );
        }


        set isFocus(bool){
			this._isFocus = bool;
            (<GlobalSnippetsTreeComponent>this.$refs.globalSnippets).isFocus = bool;
		}

		get isFocus(){
			return this._isFocus;
		}


        public setGlobalSnippets(data:Array<SnippetTreeItemDTO>){
           (<GlobalSnippetsTreeComponent>this.$refs.globalSnippets).setTreeData(data);
        }

        public setFavoriteSnippets(data:Array<SnippetFavoriteItemDTO>){
            (<FavoriteSnippetsComponent>this.$refs.favoriteSnippets).setFavoriteSnippets(data);
        }

        public showCreateCustomSnippetModal(item:CustomSnippetItemDTO){
            (<CreateCustomSnippetModal>this.$refs.createModal).show(item);
        }

        public hideCreateCustomSnippetModal(){
            (<CreateCustomSnippetModal>this.$refs.createModal).hide();
        }

        public gotoManual() {
            this.$emit(CodeSnippetsMainComponent.EVENT_GOTO_MANUAL, '/manual/manual/scriptEditor.html');
        }
    }

</script>
<style>
a.snippet-upload-btn > input[type=file]{
    position: absolute;
    width:100%;
    height: 100%;
    cursor: pointer;
    top:0;
    left:0;
    opacity: 0;
    text-indent: -5000px;
}

a.snippet-upload-btn{
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    outline: none;
    margin: 0;
}

.code-snippets-main h4.title{font-size: 12px; margin:0; background: #eee; border-bottom: 1px solid #ddd; padding: 2px 8px;}
.code-snippets-main .el-menu--horizontal .el-submenu .el-menu-item{font-size: 12px; height: 30px; line-height: 30px; padding: 0 14px;}
.code-snippets-main .header{padding-right: 0; height: 28px; line-height: 28px; padding:0;}
.code-snippets-main .header .header-btn{font-size: 18px;}
.code-snippets-main .header .header-btn.clipboard-btn{font-size:15px;}
.code-snippets-main .header .settings-btn{position: absolute;top: 0;right: 0;}
.code-snippets-main .el-menu--horizontal{border:none;}
.code-snippets-main .el-menu--horizontal .el-submenu [class^="el-icon-"]{margin:0;}
.code-snippets-main .code-insert-btn i{transform: rotate(270deg);}
.code-snippets-main .el-menu--horizontal .el-menu-item.is-active,
.code-snippets-main .el-menu--horizontal > .el-submenu.is-active .el-submenu__title{border-bottom: none; color: #888D99;}
.code-snippets-main .el-menu--horizontal{ display: inline; float: right;}
.code-snippets-main .el-menu--horizontal .el-submenu .el-submenu__title{height: 27px; line-height: 27px; padding: 0px 10px;}
.code-snippets-main .el-menu--horizontal .el-submenu .el-submenu__icon-arrow{display: none;}
.code-snippets-main .el-menu--horizontal .el-submenu > .el-menu{left: auto; right: 0; top: 27px;}
.code-snippets-main .snippets-favorite{min-height: 150px; max-height: 220px; border-bottom:1px solid #e6ebf5; overflow:auto;}
.code-snippets-main .no-border {border: 0px;}
</style>
