html,body{height: 100%; margin: 0 !important; padding: 0 !important; font-size: 9pt; user-select: none;}
@font-face {
    font-family: 'NanumGothic';
    src: url('../fonts/NanumGothic/NanumGothic-Regular.eot');
    src: url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'), url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'), url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
    src: local(※), url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff');
}


dt, dd, ol, ul, li{list-style: none;margin:0;padding: 0;}
*,:after,:before {box-sizing: border-box;}
* {font-family: NanumGothic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;}
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: transparent}


h1, .h1{font-size:27px;}
h2, .h2{font-size:22px;}
h3, .h3{font-size:19px;}
h4, .h4{font-size: 17px;}
h5, .h5{font-size:15px;}
h6, .h6{font-size:12px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {margin-bottom: 6px;font-family: inherit;font-weight: 500;line-height: 1.2;color: inherit;}

table { border-collapse: collapse }

.text-info {color: #17a2b8 !important;}
.d-flex {display: flex !important;}
.flex {flex: 1 !important;}
.flex-scroll {flex: 1 !important;overflow: auto !important;}
.flex-row { flex-direction: row !important;}
.flex-column {flex-direction: column !important;}
.justify-content-start {justify-content: flex-start !important;}
.justify-content-end {justify-content: flex-end !important;}
.justify-content-center {justify-content: center !important;}
.align-items-start {align-items: flex-start!important;}
.align-items-end {align-items: flex-end!important;}
.align-items-center {align-items: center!important;}
.ellipsis {text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}

/*[readonly]:not(.el-input__inner) {background: #f5f5f5 !important;cursor: auto;}*/
hr { margin: 0 0 .5rem 0 !important; margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); box-sizing: content-box; height: 0; overflow: visible;}

.hide {display: none !important;}
.bold {font-weight: bold !important;}
select.form-control {padding-top: 0.3rem;}

.output .direction-view{					z-index: 40000 !important;}
.editor-header {                            z-index: 49999 !important;}
.el-tooltip__popper {                       z-index: 50000 !important;}
.main-menu-wrap .menubaritem>.fixed {       z-index: 50000 !important;}
.v--modal-overlay {                         z-index: 50000 !important;}
.v-modal {                                  z-index: 50001 !important;}
.el-select-dropdown.el-popper {             z-index: 50001 !important;}
.vue-colorpicker-panel,
.vue-colorpicker-panel *,
.el-color-dropdown.el-color-picker__panel { z-index: 50001 !important;}
.el-message-box__wrapper {                  z-index: 50002 !important;}
.el-message {                               z-index: 50003 !important;}
.el-notification{                           z-index: 50004 !important;}
#loading-modal {                            z-index: 60000 !important;}

#app-main { display: flex;flex-direction: column; height: 100%; overflow: hidden;}

/* search-field (search icon) */
.search-field {width: 320px; position: relative;display: block; margin-bottom: 8px; width: 300px;}
.search-field input {padding-left: 1.8rem;}
.search-field .left-icon { position: absolute;left: .6rem;top: .55rem;}
.search-field .fa { color: #ccc;font-size: 14px;}
.search-field .fa-close {color: #ccc;}
.search-field .right-icon { position: absolute;top: .55rem; right: .6rem; cursor: pointer;}
.clear-search-str {cursor: pointer;}
.search-field.el-input--small { height: 28px;}

.no-data { padding: 1rem; text-align: center;}
.el-message { z-index: 50000 !important;}


.w-btn-group {position: relative; display: inline-flex; vertical-align: middle;}
.w-btn-group>.w-btn:first-child:not(:last-child) {border-bottom-right-radius: 0;border-top-right-radius: 0;}
.w-btn-group>.w-btn:last-child:not(:first-child) {border-bottom-left-radius: 0; border-top-left-radius: 0;}
.w-btn-group>.w-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {border-radius: 0;}
.w-btn-group>.w-btn {display: inline-block;line-height: 1.25;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;font-size: 12px;border: none; border-radius: 4px;transition: background-color 0.2s ease-in-out;background-color: #363a45;position: relative;flex: 0 1 auto;padding: 6px 7px; margin-bottom: 0;background-origin: content-box;}

.w-btn-group>.w-btn:not(span) {cursor: pointer;}
.w-btn-group>.w-btn:not(span):not([disabled=disabled]):not(.nhover):hover {background-color: #212329; color: #e9e9e9;}
.w-btn-group>.w-btn.active,
.w-btn-group>.w-btn.active:not(span):not([disabled=disabled]):not(.nhover):hover {color: #363a45;background-color: #e9e9e9;}
.w-btn-group>.w-btn.img-icon-btn.active:not([disabled=disabled]),
.w-btn-group>.w-btn.img-icon-btn.active:not(span):not([disabled=disabled]):not(.nhover):hover {background-position: 0 -33px;}
.w-btn-group>.w-btn.active+.w-btn.active { border-left: none;}
.w-btn-group>.w-btn.disabled,
.w-btn-group>.w-btn:disabled { background-color: #363a45; cursor: not-allowed; opacity: .35;}
.w-btn-group>.w-btn.img-icon-btn {width: 30px;height: 26px; font-size: 0; text-indent: -1000px; overflow: hidden; outline: none;}
.w-btn-group>.w-btn.img-icon-btn { background-repeat: no-repeat;background-size: 16px;background-position: 0 -1px;}

.icon-btn.no-bg,
.icon-btn.no-bg:focus,
.icon-btn.no-bg:active,
.icon-btn.no-bg:hover { background: none; padding: 2px 6px; border: none; border-radius: 4px; font-size: 12px; color: #363a45; outline: 0; cursor: pointer;}

/****************************
 * 3D 라벨 스타일 2018.01.10
 ****************************/
.label-container>.label {font-size: 15px; border-radius: 10px; padding: 4px 10px; color: #fff;}


/****************************
 * loading modal
 ****************************/
#loading-modal {background-color: #b2b2b2;}
#loading-modal .modal-content,
#loading-modal .el-dialog--center {max-height: 380px; overflow:hidden; width: 500px;background-color: #363a45; border-radius: 0;border: none;padding: 0 0 0 20px;}
#loading-modal .modal-content .logo,
#loading-modal .el-dialog--center .logo {width: 117px; height: 37px;background-image: url(../image/r-loading-logo.png);background-size: 117px 37px;background-repeat: no-repeat;margin: 30px 0 0 0;}
#loading-modal .el-dialog__header{ display: none;}
#loading-modal .el-dialog--center h4 { margin-top: 50px;color: #e0e0e0;font-size: 15px;}
#loading-modal .modal-content .txt,
#loading-modal .el-dialog--center .txt {margin: 10px 20px 4px 4px;color: #d3d3d3;font-size: 12px; max-height: 110px;overflow: auto;}
#loading-modal .progress {margin-top: 10px; background: transparent; height: 18px;}
#loading-modal .progress .el-progress-bar__innerText {font-size: 10px;}
/*나침반*/
.output .direction-view {background: url('../assets/orientation/bg_orientation.png') no-repeat;pointer-events: none;right: 10px;top: 10px;}

/*error page*/
.error-page {width: 100%; height: 100%; background-color: #363a45; color: #ededed;text-align: center; min-height: 500px;}
.error-page>div {display: inline-block; text-align: left; top: 50%; margin-top: -100px; position: relative;}
.error-page h1 {font-size: 0;text-indent: -5000px;overflow: hidden;width: 677px; height: 63px; background: url(../image/error-page-title.png) no-repeat;}
.error-page .btn-wrap {text-align: right;}



/*session popup*/

#session-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 59999;
    background: rgba(0, 0, 0, .7);
    
}

#session-popup>.timeout-wrap {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 340px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    background: #fefefe;
    border-radius: 4px;
    opacity: 1;
}


#session-popup>.timeout-wrap .time-wrap{
	display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#session-popup>.timeout-wrap h4{
	font-size: 20px;
	margin: 20px 24px;
	color: #373a45;
}

#session-popup>.timeout-wrap .time-wrap img{
	margin-right: 12px;
}

#session-popup>.timeout-wrap .time{
	font-size:68px;
	color: #373a45;
	letter-spacing:-3px;
}

#session-popup>.timeout-wrap p{
	font-size: 16px;
    text-align: center;
    line-height: 23px;
    color: #373a45;
}


#session-popup>.timeout-wrap .btn-wrap{
	margin: 24px 24px 30px 24px;
    text-align: center;
}

#session-popup>.timeout-wrap .btn-wrap a{
	font-size: 15px;
	color: #373a45;
	text-decoration: underline;
}

#session-popup>.timeout-wrap .btn-wrap a:hover{
	color: black;
	text-decoration: underline;
}

#session-popup>.timeout-wrap .btn-wrap a:last-child{
	color: #17a2b8;
	margin-left: 10px;
}

#session-popup>.timeout-wrap .btn-wrap a:last-child:hover{
	color: #196f7c;
}


#session-popup>.timeout-wrap p strong{
	color: #d9534f;
}

#session-popup>.timeout-wrap .before,
#session-popup>.timeout-wrap .after{
	display: none;
}

#session-popup[data-state='before'] .before{
	display: block;
}


#session-popup[data-state='after'] .after{
	display: block;
}















