<template>

      <el-form ref="form" :model="data.props.initProperties" label-width="120px">
            <h3 style="padding-left:50px;">{{data.file_id}}</h3>
            <el-form-item label="Popup ID">
                  <el-select
                        v-model="data.props.initProperties.props.settings.popupId"
                        filterable
                        placeholder="Please enter a keyword">
                        <el-option
                              v-for="item in data.page_list"
                              :key="item.page_id"
                              :label="item.name"
                              :value="item.page_id">
                        </el-option>
                  </el-select>
            </el-form-item>
            <el-form-item label="Resource">
                  <div style="display:flex;">
                        <el-select style="width:100%;margin-right:10px;" v-model="data.resource_field"
                                   placeholder="please select type fields">
                              <el-option v-for="item in data.fields.type_fields" :key="item.name" :label="item.label"
                                         :value="item.name"></el-option>
                        </el-select>
                        <div style="display:block;">
                              <el-button icon="el-icon-plus"
                                         style="border-radius:50%;padding:12px;transform: scale(0.85);"
                                         @click="handleAddResourceCase"></el-button>
                        </div>
                  </div>

                  <div style="display:flex;" v-for="(item,k) in data.resource_case">
                        <el-input style="width:100%;margin-right:10px;" v-model="item.key" :disabled="item.key === 'default'"></el-input>
                        <el-select style="width:100%;" v-model="item.value" placeholder="please select resource">
                              <el-option v-for="option in data.resource_option" :key="option.RES_ID"
                                         :label="option.RES_NAME" :value="option.RES_ID"></el-option>
                        </el-select>
                        <div style="display:block;" v-if="item.key !== 'default'">
                              <el-button icon="el-icon-minus"
                                         style="border-radius:50%;padding:12px;transform: scale(0.85);margin-left:10px;"
                                         @click="handleRemoveResourceCase(k)">
                              </el-button>
                        </div>
                  </div>
            </el-form-item>
            <el-form-item label="Units">
                  <el-select
                        @change="handleTypeChange"
                        v-model="data.selected_types"
                        multiple
                        collapse-tags
                        style="margin-left: 20px;"
                        placeholder="Select">
                        <el-option
                              v-for="item in data.asset_types"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id">
                        </el-option>
                  </el-select>
            </el-form-item>
            <el-form-item>
                  <el-collapse>
                        <el-collapse-item v-for="(item,t) in data.unit_resource" :title="t" :name="t" :key="t">
                              <el-form-item label="Resource">
                                    <div style="display:flex;">
                                          <el-select style="width:100%;margin-right:10px;"
                                                     v-model="data.unit_resource[t].mappingKey" @change="handleUpdate"
                                                     placeholder="please select type fields">
                                                <el-option v-for="field in data.asset_types.find(function(d) {
                  return d.id === t;
                }).fields.type_fields" :key="field.name" :label="field.label" :value="field.name"></el-option>
                                          </el-select>
                                          <div style="display:block;">
                                                <el-button icon="el-icon-plus"
                                                           style="border-radius:50%;padding:12px;transform: scale(0.85);"
                                                           @click="handleAddUnitResourceCase(t)"></el-button>
                                          </div>
                                    </div>

                                    <div style="display:flex;" v-for="(resource,k) in data.unit_resource[t].modeling"
                                         :key="k">
                                          <el-input style="width:100%;margin-right:10px;"
                                                    v-model="resource.key"></el-input>
                                          <el-select style="width:100%;" multiple collapse-tags v-model="resource.value"
                                                     @change="handleUpdate" placeholder="please select resource">
                                                <el-option v-for="option in data.type_resource_option[t]"
                                                           :key="option.RES_ID" :label="option.RES_NAME"
                                                           :value="option.RES_ID"></el-option>
                                          </el-select>
                                          <div style="display:block;">
                                                <el-button icon="el-icon-minus"
                                                           style="border-radius:50%;padding:12px;transform: scale(0.85);margin-left:10px;"
                                                           @click="handleRemoveUnitResourceCase(t,k)">
                                                </el-button>
                                          </div>
                                    </div>
                              </el-form-item>
                        </el-collapse-item>
                  </el-collapse>
            </el-form-item>
            <el-form-item>
                  <el-button type="primary" @click="onSubmit">Save</el-button>
            </el-form-item>
      </el-form>

</template>
<script>

      module.exports = {
            data: function () {
                  return {
                        lang:window.opener.Vue.$i18n.messages.wv.dcim_pack,
                        selected_types: [],
                        asset_types: [],
                        page_list: [{page_id: "", name: ""}],
                        resource_field: "",
                        resource_case: [],
                        resource_option: [],
                        unit_resource: {},
                        type_resource_option: {}
                  }
            },
            methods: {
                  handleUpdate: function () {
                        this.$forceUpdate();
                  },
                  handleTypeChange: function (d) {
                        var self = this;
                        d.forEach(function (item) {
                              if (!self.data.unit_resource[item]) {
                                    self.data.unit_resource[item] = {
                                          mappingKey: '',
                                          modeling: []
                                    }
                              }
                        })
                        for (var test in self.data.unit_resource) {
                              if (!d.find(function (a) {
                                    return a === test;
                              })) {
                                    delete self.data.unit_resource[test];
                              }
                        }
                        this.reloadTypeResource();
                        this.$forceUpdate();
                  },
                  handleAddUnitResourceCase: function (type) {
                        this.data.unit_resource[type].modeling.push({
                              key: "",
                              value: []
                        })
                        this.$forceUpdate();
                  },
                  handleRemoveUnitResourceCase: function (type, index) {
                        this.data.unit_resource[type].modeling.splice(index, 1);
                        this.$forceUpdate();
                  },
                  handleRemoveResourceCase: function (index) {
                        this.data.resource_case.splice(index, 1);
                  },
                  handleAddResourceCase: function () {
                        this.data.resource_case.push({
                              key: "",
                              value: ""
                        })
                  },
                  onSubmit: function () {
                        var self = this;
                        this.data.props.initProperties.props.resource["mappingKey"] = this.data.resource_field;
                        var resource_modeling = {};
                        for (var type in this.data.unit_resource) {
                              var type_resource = this.data.unit_resource[type];
                              var type_modeling = {};
                              type_resource.modeling.map(function (row) {
                                    type_modeling[row.key] = [];
                                    row.value.map(function (model) {
                                          var res_info = self.data.type_resource_option[type].find(function (item) {
                                                return item.RES_ID === model
                                          });
                                          type_modeling[row.key].push({
                                                name: res_info.RES_ID,
                                                path: res_info.PATH + res_info.RES_ID + '/' + res_info.RES_NAME.replace('.zip', '') + '.obj',
                                                mapPath: res_info.PATH + res_info.RES_ID + '/maps/'
                                          })
                                    })
                              })
                              type_resource.modeling = type_modeling;
                        }
                        this.data.resource_case.forEach(function (v) {
                              if (v.value === self.data.file_id + '_default') {
                                    resource_modeling[v.key] = {
                                          name: v.value,
                                          path: "/custom/packs/" + self.data.pack_name + "/components/" + self.data.file_id + "/models/default/default.obj",
                                          mapPath: "/custom/packs/" + self.data.pack_name + "/components/" + self.data.file_id + "/models/default/maps/"
                                    }
                              } else {
                                    var res_info = self.data.resource_option.find(function (item) {
                                          return item.RES_ID === v.value
                                    });
                                    resource_modeling[v.key] = {
                                          name: res_info.RES_ID,
                                          path: res_info.PATH + res_info.RES_ID + '/' + res_info.RES_NAME.replace('.zip', '') + '.obj',
                                          mapPath: res_info.PATH + res_info.RES_ID + '/maps/'
                                    }
                              }
                        })
                        this.data.props.initProperties.props.resource.modeling = resource_modeling;
                        this.data.props.initProperties.props.resource['units'] = this.data.unit_resource;
                        var param = {
                              file_id: this.data.file_id,
                              props: this.data.props
                        }

                        var url = window.opener.wemb.configManager.serverUrl + "/dcim.do";

                        var params = {
                              "id": "assetComponentService.updateComponent",
                              "params": param
                        };
                        window.opener.wemb.$http['post'](url, params).then(function (d) {
                              self.$message({
                                    message: self.data.lang.config.successComponentSettingSave,
                                    type: 'success'
                              });
                              self.reloadComponentSetting();
                        }).catch(function (err) {
                              self.$message({
                                    message: self.data.lang.config.saveFailed,
                                    type: 'error'
                              });
                              self.reloadComponentSetting();
                        })
                  },
                  reloadTypeResource() {
                        var self = this;
                        $.each(self.data.selected_types, function (k, v) {
                              self.data.type_resource_option[v] = [{
                                    RES_ID: v,
                                    RES_NAME: v + "_defaultU1",
                                    PATH: "/custom/packs/" + self.data.pack_name + "/components/" + self.data.file_id + "/models/"
                              }]
                        })
                        var url = window.opener.wemb.configManager.serverUrl + '/dcim.do';
                        var params = {
                              "id":"assetResourceService.getTypeResource",
                              "params" :{
                                    "asset_type":self.data.selected_types.toString()
                              }
                        }
                        window.opener.wemb.$http["post"](url, params).then(function (type_res) {
                              $.each(type_res.data.data, function (k, v) {
                                    if (self.data.type_resource_option[v.asset_type]) {
                                          self.data.type_resource_option[v.asset_type].push(v)
                                    } else {
                                          self.data.type_resource_option[v.asset_type] = [v];
                                    }
                              })
                              self.$forceUpdate();
                        });
                  },
                  reloadComponentSetting() {
                        var self = this;
                        this.data.resource_field = this.data.props.initProperties.props.resource["mappingKey"];
                        var url = window.opener.wemb.configManager.serverUrl + '/dcim.do';
                        var params = {
                              "id":"assetResourceService.getTypeResource",
                              "params" :{
                                    "asset_type":this.data.asset_type
                              }
                        }
                        window.opener.wemb.$http["post"](url, params).then(function (res) {
                              res.data.data.push({
                                    RES_ID: self.data.file_id + "_default",
                                    RES_NAME: self.data.file_id + "_default"
                              });
                              self.data.resource_option = res.data.data;
                              self.data.resource_case = [];
                              $.each(self.data.props.initProperties.props.resource.modeling, function (k, v) {
                                    self.data.resource_case.push({
                                          key: k,
                                          value: v.name
                                    })
                              })

                              params = {
                                    "id":"assetTypeService.getTypeList",
                                    "params" :{}
                              }
                              window.opener.wemb.$http["post"](url, params).then(function (res) {
                                    self.data.asset_types = res.data.types
                                    self.data.selected_types = [];
                                    $.each(self.data.props.initProperties.props.resource.units, function (k, v) {
                                          self.data.selected_types.push(k);
                                          self.data.unit_resource[k] = {
                                                mappingKey: v.mappingKey,
                                                modeling: []
                                          }
                                          $.each(v.modeling, function (kk, vv) {
                                                self.data.unit_resource[k].modeling.push({
                                                      key: kk,
                                                      value: vv.map(function (row) {
                                                            return row.name
                                                      })
                                                })
                                          });
                                    })
                                    self.reloadTypeResource();
                              })
                        })
                  }
            },
            created: function () {
                  var self = this;
                  console.log('access sensor!!')
                  this.reloadComponentSetting();
                  var data = {
                        id: "adminService.getPageList",
                        params: {type: 'page'}
                  };
                  window.opener.wemb.$http["post"](window.opener.wemb.configManager.serverUrl+ '/admin.do', data).then(function (res) {
                        self.data.page_list = res.data.data;
                        self.data.page_list.push({page_id: "", name: self.data.lang.config.noSelection});
                  })
            },
            mounted: function () {

            }
      }
</script>
