<template>
      <modal
            id="pdu-extension-popup"
            name="pdu-extension-popup"
            class="w-modal"
            @opened="modalOpened"
            :click-to-close="false"
            :resizable="false"
            :width="1200"
            :height="700">
            <div class="modal-header">
                  <h4>PDU</h4>
                  <a class="close-modal-btn" role="button" @click="onClickClose"><i class="el-icon-error"></i></a>
            </div>
            <div class="modal-body">
                  <div class="wrap">
                        <pdu-list-component ref="pduListComp" class="pdu-list"
                                            :active-list="isActiveList" :active-asset-id="asset_id"
                                            @click-pdu-asset="onChangeItem"></pdu-list-component>
                        <div class="pdu-wrap">

                              <template v-if="asset_id != null">
                                    <!--header-->
                                    <div class="header">
                                          <div>
                                                <button class="bar-btn header-btn"
                                                        @click="isActiveList = !isActiveList">
                                                      <i aria-hidden="true" class="fa fa-bars"></i>
                                                </button>
                                                <h4>{{pduAssetInfo.id}} - {{pduAssetInfo.name}}</h4>
                                          </div>
                                          <div>
                                                <el-button type="" size="small" @click="onClickClose">cancel</el-button>
                                                <el-button type="primary" size="small" @click="onClickSave">save
                                                </el-button>
                                          </div>
                                    </div>
                                    <!--//header-->
                                    <div class="content">
                                          <!--preview-->
                                          <div class="pdu-preview">
                                                <div class="pdu-preview-top-ui">
                                                      <div class="flex">
                                                            <span>Channel</span>
                                                            <el-select v-model="pduUnitSize" placeholder="Select"
                                                                       class="pdu-option-select" size="mini"
                                                                       @change="checkValidation">
                                                                  <el-option
                                                                        v-for="item in pduMaxSize" :key="item"
                                                                        :label="item" :value="item">
                                                                  </el-option>
                                                            </el-select>
                                                      </div>
                                                      <el-tooltip :content="lang.common.reset" placement="top">
                                                            <el-button type="text" size="medium" class="icon-btn lg"
                                                                       @click.stop.prevent="initMountData">
                                                                  <i aria-hidden="true" class="el-icon-refresh"></i>
                                                            </el-button>
                                                      </el-tooltip>
                                                      <el-tooltip :content="lang.common.deleteAll" placement="top">
                                                            <el-button type="text" size="medium" class="icon-btn lg"
                                                                       @click.stop.prevent="emptyData">
                                                                  <i aria-hidden="true" class="el-icon-delete"></i>
                                                            </el-button>
                                                      </el-tooltip>

                                                </div>

                                                <pdu-preview-component ref="pduPreview" :pdu-unit-size="pduUnitSize"
                                                                       :mount-list.sync="mountList"></pdu-preview-component>

                                          </div>
                                          <!--//preview-->

                                          <!--mount list-->
                                          <div class="mount-items" :class="{expand: isActiveList}">
                                                <div class="mount-items-top-ui">
                                                      <!--실장 타입 선택-->
                                                      <el-select class="mini select-mount-type"
                                                                 v-model="currentType"
                                                                 placeholder="select asset type" size="mini"
                                                                 @change="onChangeSelectedAssetType"
                                                      >
                                                            <el-option
                                                                  v-for="item in assetTypes"
                                                                  :key="item.id"
                                                                  :label="item.name"
                                                                  :value="item.id">
                                                            </el-option>
                                                      </el-select>
                                                      <!--//실장 타입 선택-->

                                                      <!--검색 필드-->
                                                      <div class="assets-search">
                                                            <el-select style="width: 120px;"
                                                                       class="mini select-mount-type"
                                                                       v-model="search_field" placeholder="Fields"
                                                                       size="small">
                                                                  <el-option v-for="f in common_fields" :key="f.name"
                                                                             :label="f.label"
                                                                             :value="f.name"></el-option>
                                                            </el-select>
                                                            <el-input style="width: 240px;" class="search-field"
                                                                      v-model="search_text" placeholder="search keyword"
                                                                      clearable>
                                                                  <i slot="prefix"
                                                                     class="el-input__icon el-icon-search"></i>
                                                            </el-input>
                                                      </div>
                                                      <!--//검색 필드-->
                                                </div>
                                                <div class="asset-list">
                                                      <el-table
                                                            class="asset-table" stripe
                                                            empty-text="No Data"
                                                            @row-dblclick="dblClickTable"
                                                            height="512"
                                                            :data="assetFilteredList">
                                                            <el-table-column v-for="field in common_fields"
                                                                             :key="field.name" :property="field.name"
                                                                             :label="field.label"></el-table-column>
                                                      </el-table>
                                                      <el-pagination
                                                            v-if="assetFilteredList && assetFilteredList.length"
                                                            @size-change="handleSizeChange"
                                                            @current-change="handleCurrentChange"
                                                            :current-page.sync="pagination.page"
                                                            :page-size="pagination.page_size"
                                                            layout="total, prev, pager, next, jumper"
                                                            :total="pagination.totalPage">
                                                      </el-pagination>
                                                </div>

                                          </div>
                                          <!--//mount list-->
                                    </div>
                              </template>
                              <div class="content" v-else>
                                    <span class="no-data">{{lang.pdu.selectPduToEdit}}</span>
                              </div>
                        </div>

                  </div>
            </div>
      </modal>
</template>

<script>

      const PduListComponent = {
            props: ['activeList', 'activeAssetId'],
            template:
                  ` <div class="pdu-list" v-show="activeList">
                        <div>
                            <el-input class="search-field" v-model="searchStr" placeholder="search keyword" clearable></el-input>
                        </div>
                    <ul>
                        <li v-for="asset in searchItems" @click="clickPduItem(asset)" :class="{active: activeAssetId == asset.id}">{{asset.name}} - {{asset.id}}</li>
                    </ul>
                    <div class="assets-pagination" style="display: none">
                        <el-button size="mini" @click="prevPage" :disabled="1 == pagination.page">prev</el-button>
                        <span>{{pagination.page}}/{{pagination.totalPage}}</span>
                        <el-button size="mini" type="primary" @click="nextPage" :disabled="pagination.totalPage == pagination.page">next</el-button>
                    </div>
                </div>`,

            data() {
                  return {
                        searchStr: '',
                        searchItems: [],
                        assetList: [],
                        pagination: {page: 1, totalPage: 100}
                  }
            },

            watch: {
                  searchStr: function () {
                        this.searchItems.splice(0, this.searchItems.length);
                        let items = this.assetList.filter(x => (x.id + x.name).indexOf(this.searchStr) != -1);
                        this.searchItems.push(...items);
                  }
            },

            mounted: function () {
            },
            methods: {
                  updateItems: function () {
                        this.searchStr = '';
                        let items = wemb.dcimManager.assetManager.getAssetListByType('PDU') || [];
                        this.assetList.splice(0, this.assetList.length);
                        this.assetList.push(...items);
                        this.searchItems.splice(0, this.searchItems.length);
                        this.searchItems.push(...this.assetList);
                  },

                  prevPage: function () {

                  },

                  nextPage: function () {

                  },

                  clickPduItem: function (asset) {
                        this.$emit("click-pdu-asset", asset.id);
                  }
            }
      }

      const PduPreviewComponent = {
            props: ['pduUnitSize', 'mountList'],
            template: `
                  <div class="pdu-wrap">
                        <div class="item-wrap" v-for="index in options">
                              <div class="mount-item" :class="{active: (active.direction == 'LEFT') && (active.index == index)}"
                                          @click="clickContent('LEFT', index)"
                                          @dblclick="dblClickContent('LEFT', index)">
                                    <div class="mount-item-content">
                                        <el-tooltip placement="left" :content="mountList['LEFT' + index].name" v-if="mountList['LEFT' + index]">
                                            <span class="mounted-item" v-text="mountList['LEFT' + index].name"></span>
                                        </el-tooltip>
                                    </div>
                                    <span class="mount-item-index">{{index}}</span>
                              </div>
                              <div class="mount-item" :class="{active: (active.direction == 'RIGHT') && (active.index == index)}"
                                           @click="clickContent('RIGHT', index)"
                                           @dblclick="dblClickContent('RIGHT', index)">
                                    <span class="mount-item-index">{{index}}</span>
                                    <div class="mount-item-content">
                                        <el-tooltip placement="right" :content="mountList['RIGHT' + index].name" v-if="mountList['RIGHT' + index]">
                                            <span class="mounted-item" v-text="mountList['RIGHT' + index].name"></span>
                                        </el-tooltip>
                                    </div>
                              </div>
                        </div>
                  </div>
            `,
            data() {
                  return {
                        active: {direction: '', index: 0},
                  }
            },

            computed: {
                  options: function () {
                        return this.pduUnitSize;
                  },
            },

            methods: {
                  clickContent: function (dir, index) {
                        this.active.direction = dir;
                        this.active.index = index;
                  },

                  dblClickContent: function (dir, index) {
                        if (this.mountList[dir + index]) {
                              delete this.mountList[dir + index]
                              this.$forceUpdate();
                        }
                  }
            }
      }

      module.exports = {
            components: {
                  PduListComponent: PduListComponent,
                  PduPreviewComponent: PduPreviewComponent
            },

            data: function () {
                  return {
                        lang: Vue.$i18n.messages.wv.dcim_pack,
                        common_lang: Vue.$i18n.messages.wv.common,
                        pduList: [],
                        pduMaxSize: 64,
                        pduUnitSize: 40,
                        pagination: {page: 1, totalPage: 0, page_size: 15},
                        currentType: '',
                        assetTypes: [],
                        currentTypeFields: [],
                        isActiveList: true,
                        assetList: [],
                        mountList: {},
                        asset_id: null,
                        pduAssetInfo: {},
                        common_fields: [],
                        search_field: 'id',
                        search_text: "",
                        tempDataStr: null
                  }
            },

            computed: {
                  assetFilteredList: function () {
                        var list = this.assetList.filter(function (info) {
                              var result = null;
                              var fieldValue = info[this.search_field];
                              var keyword = this.search_text.trim().toLowerCase();
                              if (keyword.length == 0 ||
                                    (fieldValue && fieldValue.toLowerCase().indexOf(keyword) != -1)) {
                                    return info;
                              }

                        }.bind(this));

                        this.pagination.totalPage = list.length;
                        return list.splice((this.pagination.page - 1) * this.pagination.page_size, this.pagination.page_size);
                  }
            },

            methods: {
                  modalOpened: function () {
                        this.assetTypes = window.wemb.dcimManager.assetManager.assetTypes.filter(function (x) {
                              return x.id != "PDU";
                        });
                        this.common_fields = window.wemb.dcimManager.assetManager.getTypeFields();
                        this.currentType = this.assetTypes[0].id;
                        this.$refs.pduListComp.updateItems();
                        this.onChangeSelectedAssetType();
                  },

                  init: function () {
                        this.callMountList(this.asset_id);
                  },

                  onChangeSelectedAssetType: function () {
                        var list = window.wemb.dcimManager.assetManager.getAssetListByType(this.currentType);
                        this.search_text = '';
                        this.search_field = 'id';
                        this.assetList = list || [];
                  },

                  handleSizeChange: function (val) {
                        //console.log(`${val} items per page`);
                  },

                  handleCurrentChange: function (val) {
                        //console.log(`current page: ${val}`);
                  },

                  setPduInfo: function (id) {
                        this.asset_id = id;
                        this.pduAssetInfo = wemb.dcimManager.assetManager.getAssetDataByAssetId(this.asset_id);
                        this.pduUnitSize = parseInt(this.pduAssetInfo.unit_size) || 20;
                        this.init();
                        this._saveTempData();
                  },

                  onChangeItem(id) {
                        var self = this;
                        if (this.getIsEditData()) {
                              var msg = self.lang.common.moveWindowEditingData;
                              Vue.$confirm(msg, 'Warning', {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              }).then(function () {
                                    self.setPduInfo(id);
                              }).catch(function () {

                              });
                        } else {
                              this.setPduInfo(id);
                        }
                  },

                  setData: function (pduId) {
                        this.setPduInfo(pduId);
                        this.isActiveList = false;
                  },

                  show: function () {
                        this.$modal.show('pdu-extension-popup');
                  },

                  onClickSave: function () {
                        var self = this;
                        this.$confirm(self.common_lang.confirmSave, {type: 'warning'}).then(function () {
                              self.procSave();
                        }, function (cancel) {

                        });
                  },

                  _saveTempData: function () {
                        this.tempDataStr = JSON.stringify(this.getCurrentEditData());
                  },

                  procSave: function () {
                        if (!this.asset_id) {
                              return;
                        }
                        var self = this;
                        var params = this.getCurrentEditData();
                        var copyAsset = $.extend(true, {}, this.pduAssetInfo);
                        copyAsset.unit_size = this.pduUnitSize;

                        window.wemb.dcimManager.updateAsset(copyAsset).then(function (res) {
                              self.pduAssetInfo.unit_size = copyAsset.unit_size;
                              window.wemb.dcimManager.postRelationData(params).then(function (res) {
                                    Vue.$message.success(self.common_lang.successSave);
                                    self._saveTempData();
                              })
                        }).catch(function (err) {
                              console.log(err);
                              Vue.$message.error(self.lang.common.errorSaveTryAgain);
                        })
                  },

                  getCurrentEditData: function () {
                        try {
                              var child_infos = [];
                              var self = this;
                              Object.keys(this.mountList).map(function (k) {
                                    child_infos.push({
                                          child_id: self.mountList[k].child_id,
                                          props: JSON.stringify(self.mountList[k].props)
                                    });
                              });

                              return {
                                    parent_id: this.asset_id,
                                    childs: child_infos
                              }
                        } catch (error) {
                              return null;
                        }
                  },

                  getIsEditData: function () {
                        var currentDataStr;
                        if (this.asset_id) {
                              currentDataStr = JSON.stringify(this.getCurrentEditData());
                        }

                        if (this.tempDataStr && this.asset_id && this.tempDataStr != currentDataStr) {
                              return true;
                        } else {
                              return false;
                        }
                  },

                  onClickClose: function () {
                        var self = this;
                        if (this.asset_id && this.getIsEditData()) {
                              var msg = self.lang.common.closeWindowEditingData;
                              Vue.$confirm(msg, 'Warning', {
                                    confirmButtonText: 'OK',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                              }).then(function () {
                                    self.hideModal();
                              }).catch(function () {

                              });
                        } else {
                              self.hideModal();
                        }
                  },

                  hideModal: function () {
                        this.tempDataStr = null;
                        this.assetTypes = [];
                        this.isActiveList = true;
                        this.asset_id = null;
                        this.$modal.hide('pdu-extension-popup');
                        this.$emit("closed", false);
                  },

                  initMountData: function () {
                        var self = this;
                        this.$confirm(self.lang.pdu.confirmResetEditInfo, {type: 'warning'}).then(function () {
                              self.init();
                        }, function (cancel) {

                        });
                  },

                  emptyData: function () {
                        var self = this;
                        this.$confirm(self.lang.pdu.deleteMountingAsset, {type: 'warning'}).then(function () {
                              self.mountList = {};
                              self.$refs.pduPreview.$forceUpdate();
                        }, function (cancel) {

                        });
                  },

                  dblClickTable: function (row, event) {
                        var active = this.$refs.pduPreview.active;
                        var item = this.mountList[active.direction + active.index];

                        if (!item) {
                              var mount = {
                                    child_id: row.id,
                                    name: row.name,
                                    props: JSON.parse(JSON.stringify(active))
                              };

                              this.mountList[active.direction + active.index] = mount;
                              this.$refs.pduPreview.$forceUpdate();
                        }
                  },

                  checkValidation: function () {
                        var self = this;
                        Object.keys(this.mountList).map(function (k) {
                              var index = self.mountList[k].props.index;
                              if (index > self.pduUnitSize) {
                                    delete self.mountList[k];
                                    self.$refs.pduPreview.$forceUpdate();
                              }
                        });
                  },

                  callMountList: function (parent_id) {
                        var self = this;
                        window.wemb.dcimManager.getRelationData(parent_id).then(function (res) {
                              var [err, result] = res;
                              if (err) {
                                    console.log(err);
                                    return;
                              } else {
                                    self.mountList = {};
                                    result.data.data.map(function (item, index) {
                                          var asset_info = wemb.dcimManager.assetManager.getAssetDataByAssetId(item.child_id);
                                          item.name = asset_info.name;
                                          self.mountList[item.props.direction + item.props.index] = item;
                                    });
                                    self._saveTempData();
                              }

                        })
                  }
            }
      }
</script>

<style scoped>
      .modal-body {
            overflow: auto;
            padding: 0;
      }

      .wrap {
            display: flex;
            width: 100%;
      }

      .pdu-list li {
            padding: 6px 10px;
            border-bottom: 1px solid #e8ecef;
      }

      .pdu-list li.active {
            background: #5f6570;
            color: #fefefe;
            border-color: #5f6570;
      }

      .pdu-list {
            display: flex;
            flex-direction: column;
            width: 180px;
            border-right: 1px solid #e8ecef;
      }

      .pdu-list ul {
            flex: 1;
            overflow: auto;
      }

      .pdu-list .search-field {
            padding: 6px 6px 0px 6px;
      }

      .pdu-list .search-field .el-input__inner {
            height: 22px;
            padding-left: 11px;
            padding-right: 18px;
      }

      .pdu-list .assets-pagination {
            display: flex;
            align-items: center;
            padding: 6px;
      }

      .pdu-list .assets-pagination span {
            flex: 1;
            text-align: center;
      }

      .pdu-wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .pdu-wrap .header {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            border-bottom: 1px solid #e8ecef;
            justify-content: space-between;
      }

      .pdu-wrap .header > div:first-child {
            display: flex;
            align-items: center;
      }

      .pdu-wrap .header .el-button + .el-button {
            margin-left: 0;
      }

      .pdu-wrap .header .header-btn {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            padding: 0;
            color: #5f6570;
            cursor: pointer;
      }

      .pdu-wrap .header h4 {
            margin: 0 0 0 10px;
            font-size: 15px;
      }

      .pdu-preview-top-ui {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
      }

      .pdu-option-select {
            width: 120px;
      }

      .pdu-wrap .content {
            display: flex;
            flex: 1;
      }

      .pdu-wrap .content .no-data {
            margin: 8px;
      }

      .pdu-preview {
            padding: 10px 12px;
            overflow: auto;
      }

      .pdu-wrap .mount-items {
            width: 930px;
            box-sizing: border-box;
            padding: 0 10px 18px 10px;
            display: flex;
            flex-direction: column;
      }

      .pdu-wrap .mount-items.expand {
            width: 748px;
            height: 100%;
      }

      .mount-items .mount-items-top-ui {
            display: flex;
            margin-top: 12px;
            justify-content: space-between;
      }

      .mount-items .mount-items-top-ui > .select-mount-type {
            width: 120px;
      }

      .mount-items .el-pagination {
            text-align: center;
            padding-top: 6px;
      }

      .el-pager li.active {
            color: #4690e4;
            cursor: default;
            font-weight: bold;
            text-decoration: underline;
      }

      .mount-items .search-field .el-input__inner {
            height: 28px;
            padding-left: 30px;
      }

      .mount-items .assets-search .select-search-type {
            width: 140px;
      }

      .mount-items .assets-search .search-field {
            width: 300px;
            margin-bottom: 0;
      }

      .mount-items .assets-search .el-input__icon {
            line-height: 28px;
            height: auto;
      }

      .mount-items .el-table .cell {
            padding: 0 6px;
      }

      .mount-items .asset-list {
            margin-top: 6px;
            flex: 1;
            overflow-x: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
      }

      .mount-items .asset-table .el-table th, .el-table td {
            padding: 4px 0;
      }

      .mount-items .asset-table td {
            cursor: pointer;
            user-select: none;
      }

      .mount-items .asset-table {
            flex: 1;
      }

      .mount-items .asset-table .size-select .el-input {
            width: 80px;
      }

      .mount-items .asset-table .el-input {
            width: 64px;
      }

      .mount-items .asset-table .el-input .el-input__inner {
            padding: 0 4px 0 10px;
      }

      .no-data {
            background-color: #eee;
            border-radius: 4px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .icon-btn.lg {
            font-size: 16px;
            margin: 0;
            padding: 0 4px;
      }

      /*pdu preview*/
      .pdu-preview .pdu-wrap {
            background: #a2a2a2;
            width: 240px;
            padding: 10px;
            font-size: 9px;
      }

      .pdu-preview .pdu-wrap > .item-wrap {
            display: flex;
            justify-content: space-between;
      }

      .pdu-preview .pdu-wrap > .item-wrap > .mount-item {
            width: 105px;
            height: 25px;
            background: #363636;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #6b6b6b;
      }

      .pdu-preview .pdu-wrap > .item-wrap > .mount-item.active {
            background-color: #519dff;
      }

      .pdu-preview .pdu-wrap > .item-wrap > .mount-item > .mount-item-content {
            color: #fff;
            flex: 1;
            text-align: center;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
      }

      .pdu-preview .pdu-wrap > .item-wrap > .mount-item > .mount-item-index {
            background: #232222;
            color: #fff;
            text-align: center;
            width: 20px;
            height: 100%;
            line-height: 24px;
      }

      .pdu-preview .mounted-item {
            background-color: #555555;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 24px;
            line-height: 24px;
            cursor: pointer;
            user-select: none;
      }

      /*rack preview*/
      .pdu-preview ul,
      .pdu-preview li {
            margin: 0;
            padding: 0;
            list-style: none;
      }

      .pdu-preview * {
            box-sizing: border-box;
      }
</style>
