<template>
      <el-container class="editor d-flex flex-column" >

            <el-header class="editor-header hidden">
                  <main-toolbar-container></main-toolbar-container>
            </el-header>
            <el-container class="editor-body hidden">
                  <el-aside :width="asideState.leftWidth" class="left-panel-wrap" v-show="asideState.left">
                        <el-tabs type="border-card" class="edit-panel" @tab-click="handleClick">
                              <el-tab-pane label="Pages">
                                    <page-tree-panel></page-tree-panel>
                              </el-tab-pane>
                              <el-tab-pane class="comp-panel-content" label="Components">
                                    <component-list-panel ref="componentListPanel"></component-list-panel>
                              </el-tab-pane>

                              <template v-for="item in dynamicPanelList" v-if="item.direction=='left'">
                                    <el-tab-pane :label="item.name">
                                          <component :is="item.panelClass" :childView="item.childView"></component>
                                    </el-tab-pane>
                              </template>
                        </el-tabs>
                  </el-aside>
                  <div v-show="asideState.left" class="ui-draggable sidebar-separator leftSide"></div>
                  <el-main class="edit-area-main ">
                        <edit-area-main-container v-show="showEditAreaMainContainer"></edit-area-main-container>
                  </el-main>
                  <div v-show="asideState.right" class="ui-draggable sidebar-separator rightSide"></div>
                  <el-aside :width="asideState.rightWidth" class="right-panel-wrap" v-show="asideState.right">
                        <el-tabs type="border-card" class="edit-panel"  @tab-click="handleFocus" >
                              <el-tab-pane label="Properties">
                                    <component-property-panel></component-property-panel>
                              </el-tab-pane>
                              <el-tab-pane label="Background">
                                    <stage-property-panel></stage-property-panel>
                              </el-tab-pane>
                              <el-tab-pane label="Outline">
                                    <outline-panel></outline-panel>
                              </el-tab-pane>

                              <template v-for="item in dynamicPanelList" v-if="item.direction!='left'">
                                    <el-tab-pane :label="item.name">
                                          <component :is="item.panelClass" :childView="item.childView"></component>
                                    </el-tab-pane>
                              </template>
                        </el-tabs>
                  </el-aside>
            </el-container>

            <default-loading-modal ref="defaultLoadingModal"></default-loading-modal>
            <!--dynamic-->
            <dynamic-modal-component ref="modalManager"></dynamic-modal-component>
            <export-pages-modal ref="exportPagesModal"></export-pages-modal>
            <import-pages-modal ref="importPagesModal"></import-pages-modal>
            <create-page-modal ref="createPageModal"></create-page-modal>
            <reference-pages-modal ref="referencePagesModal"></reference-pages-modal>
            <resource-manager-modal ref="resourceManagerModal"></resource-manager-modal>
            <menuset-manager-modal ref="menusetManagerModal"></menuset-manager-modal>
            <template-manager-modal ref="templateManagerModal"></template-manager-modal>
            <export-resource-manager-modal ref="exportResourceManagerModal"></export-resource-manager-modal>
            <product-info-modal ref="productInfoModal"></product-info-modal>
            <shortcuts-info-modal ref="shortcutsInfoModal"></shortcuts-info-modal>
            <three-align-modal ref="threeAlignModal"></three-align-modal>
            <edit-main-area-resource-loading-component ref="editMainAreaResourceLoadingComponent"></edit-main-area-resource-loading-component>
            <restore-project-modal ref="restoreProjectModal"/>
            <!-- 파일 정보를 import 할때 사용하는 테그  FileManager.js-->
            <input type="file" id="importFile"  style="display:none"/>
      </el-container>


</template>


<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import EditorAppFacade from "../EditorAppFacade";
	import DefaultLoadingModal from "../../common/modal/DefaultLoadingModal.vue";
	import MainToolbarContainer from "./toolbar/MainToolbarContainer.vue";

	import ComponentListPanel from "./panel/componentListPanel/ComponentListPanel.vue";
	import ComponentPropertyPanel from "./panel/componentPropertyPanel/ComponentPropertyPanel.vue";
	import OutlinePanel from "./panel/outlinePanel/OutlinePanel.vue";
	import PageTreePanel from "./panel/PageTreePanel/PageTreePanel.vue";
	import StagePropertyPanel from "./panel/stagePropertyPanel/StagePropertyPanel.vue";
	import EditAreaMainContainer from "./work-area/EditAreaMainContainer.vue";
      import CreatePageModal from "../view/modal/CreatePageModal";
      import ReferencePagesModal from "../view/modal/ReferencePagesModal.vue";
      import ImportPagesModal from "../view/modal/ImportPagesModal";
      import ExportPagesModal from "../view/modal/ExportPagesModal/ExportPagesModal";
      import ExportResourceManagerModal from "../view/manager/export-resource-manager/ExportResourceManagerModal";
      import ResourceManagerModal from "../view/manager/resource-manager/ResourceManagerModal";
      import MenusetManagerModal from "../view/manager/menuset-manager/MenusetManagerModal";
      import TemplateManagerModal from "../view/manager/template-manager/TemplateManagerModal";
      import DynamicModalComponent from "../../wemb/wv/components/DynamicModalComponent";
      import ProductInfoModal from "../view/modal/ProductInfoModal";
      import ShortcutsInfoModal from "../view/modal/ShortcutsInfoModal";
      import PageResourceLoadingComponent from "../../wemb/wv/components/PageResourceLoadingComponent";
      import EditMainAreaResourceLoadingComponent from "../../wemb/wv/components/EditMainAreaResourceLoadingComponent"
      import RestoreProjectModal from './modal/RestoreProjectModal.vue';

      // 2019.02.12 추가
      import ThreeAlignModal from "../view/modal/ThreeAlignModal";

      import WeMB from "../data/WeMB";

    @Component({
            components: {
                  DefaultLoadingModal,
                  MainToolbarContainer,
                  ComponentListPanel,
                  OutlinePanel,
                  PageTreePanel,
                  ComponentPropertyPanel,
                  StagePropertyPanel,
                  EditAreaMainContainer,
                  CreatePageModal,
                  ReferencePagesModal,
                  ImportPagesModal,
                  ExportPagesModal,
                  ExportResourceManagerModal,
                  ResourceManagerModal,
                  MenusetManagerModal,
                  TemplateManagerModal,
                  DynamicModalComponent,
                  ProductInfoModal,
                  ShortcutsInfoModal,
                  PageResourceLoadingComponent,
                  EditMainAreaResourceLoadingComponent,
                  ThreeAlignModal,
                  RestoreProjectModal
            }
	})
	class EditorMainComponent extends Vue {

		/*
		public static EVENT_CLICK_DISPATCH_TEST1: string = "dispathTest1/Event";
		public static EVENT_CLICK_DISPATCH_TEST2: string = "dispathTest2/Event";
		public static EVENT_SAVE_DATA: string = "saveData/Event";
    */
		public static EVENT_OPEN_PAGE:string="eventOpenPage";
		readonly COMPONENTS_LABEL:string = "Components";
		inputValue: string = "";
		saveData: string = "";
            showEditAreaMainContainer:boolean=false;

            dynamicPanelList:Array<string> = [];
            asideState={
					left:true,
                              right:true,
                              leftWidth:'300px',
                              rightWidth:'300px'
            }

		beforeCreate(){

            }
		created(): void {
                  window.wemb = new WeMB();
                  window.WeMB = WeMB;
                  console.log("EditorMainComponent ");
		}

		beforeRouteUpdate(to,from){
			if(to.query.hasOwnProperty("pname")==true){
				let pageId = window.wemb.pageManager.getPageIdByName(to.query.pname);
			      this.$emit(EditorMainComponent.EVENT_OPEN_PAGE, pageId);
			}
		}

		mounted() {
                  var me = this;
                  var sidebar =  {

                  };
                  $('.sidebar-separator').draggable({
                        axis:"x",
                        start:function(event, ui) {
                              sidebar.closing = false;
                              if(event.target.classList.contains("rightSide")) {
                                    sidebar["location"] = "rightWidth"
                              } else {
                                    sidebar["location"] = "leftWidth"
                              }
                              sidebar.width = parseInt(me.asideState[sidebar.location]);
                        },
                        drag:function(event, ui){
                              var w = sidebar.width + (sidebar.location === 'rightWidth' ? -ui.position.left : ui.position.left);
                              if(w < 300)  w = 300;
                              me.asideState[sidebar.location] = w + 'px';
                              ui.position.left = 0;
                        }
                  });
			console.log("step 01, mounted(), EditorMainComponent");
			console.log("\n\n\n##########################################");
			console.log("step 02, facade.startup()");


                  // 전역변수  등록 코멘드 등록
                  // 에디터 시작 준비 코멘드 등록
                  // 시작 코멘드 등록
                  //window.wemb = new WeMB();
			let facade: EditorAppFacade = EditorAppFacade.getInstance(EditorAppFacade.NAME);
			facade.startup(this);


		}

            handleClick(tab, event) {
                  var msg = this.$i18n.messages.wv;
                  var layname = wemb.mainPageComponent.activeLayer.name.replace(/(Layer|_)/g, "").replace("master", "two");

                  if (tab.label === this.COMPONENTS_LABEL && !this.$refs.componentListPanel.getCompLength(layname)) {
                        this.$message.error(msg.etc.etc09);
                  }
            }

            handleFocus(tab, event) {
                  // [REN-11] 이슈로 인한 수정 
                  if(tab.label == 'Properties'){
                        $('.right-panel-wrap').find('.el-tabs__nav').css("transform","translateX(0px)");
                  }
            }

		///////////////////////////////////////////////////////////////////////

            toggleAsidePanel(asideState){
			this.asideState.left = asideState.left;
                  this.asideState.right = asideState.right;
		}



		///////////////////////////////////////////////////////////////////////
            public noti_readyCompleted(){
			/*
			에디터 헤더 영여과 편집영역을 활성화 처리
			 */
                  $(this.$el).find(".editor-header").removeClass("hidden");
	            $(this.$el).find(".editor-body").removeClass("hidden");

	            console.log("step 03, 화면에 에디터 헤더 영여과 편집 영역 보이기 noti_readyCompleted() ")
            }


            public noti_closePage(){
                  // 2018.11.17(ckkim) 화면을 뒤덮는 로딩 효과 숨기기
		      //this.showEditAreaMainContainer=false;
            }

            public noti_openPage(){
                  
                  this.showEditAreaMainContainer=true;
            }



            public noti_createDynamicPanel(panelList:Array<string>){
                  this.dynamicPanelList = panelList;
            }

	}


	export default EditorMainComponent;


</script>

<style scoped>
	.editor > .el-header {
		margin: 0;
		padding: 0;
	}
      .editor .hidden {
            visibility:hidden;
      }
	.row {
		border: 1px solid #eee;
	}

	.editor {
		flex: 1 !important;
		box-sizing: border-box;
		width: 100%;
	}

	.editor .nav-item {
		font-size: 9pt;
      }

      .sidebar-separator {
            height:100%;
            width:7px;
            background: url("../../../common/image/grip.png") no-repeat 50% 50%;
            cursor: col-resize;
            z-index: 11;
      }
</style>
