<template>
      <div class="viewer" >
            <viewer-main-area-resource-loading-component ref="editMainAreaResourceLoadingComponent"></viewer-main-area-resource-loading-component>
            <default-loading-modal ref="defaultLoadingModal"></default-loading-modal>
            <div class="top-ui" v-show="showQuickMenu">
                  <viewer-quick-menu-component ref="quickMenu"></viewer-quick-menu-component>
            </div>
            <viewer-area-main-container class="view-area-main"></viewer-area-main-container>

            <!--dynamic-->
            <dynamic-modal-component ref="modalManager"></dynamic-modal-component>

      </div>
</template>


<script lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component";
      import ViewerAppFacade from "../ViewerAppFacade";
      import ViewerAreaMainContainer from "./work-area/ViewerAreaMainContainer.vue";
      import ViewerQuickMenuComponent from "./quickmenu/ViewerQuickMenuComponent.vue";
      import WeMB from "../model/data/WeMB";
      import CommonStatic from "../controller/common/CommonStatic";
      import DynamicModalComponent from "@/wemb/wv/components/DynamicModalComponent";
      import ViewerPageResourceLoadingComponent from "./ViewerPageResourceLoadingComponent";
      import ViewerMainAreaResourceLoadingComponent from "../../wemb/wv/components/EditMainAreaResourceLoadingComponent";
      import DefaultLoadingModal from "../../common/modal/DefaultLoadingModal.vue";

	@Component({
		components: {
                  ViewerPageResourceLoadingComponent,
                  ViewerMainAreaResourceLoadingComponent,
                  ViewerAreaMainContainer,
                  ViewerQuickMenuComponent,
                  DynamicModalComponent,
                  DefaultLoadingModal
		}
	})
	export default class ViewerMainComponent extends Vue {

		public static EVENT_OPEN_PAGE:string="eventOpenPage";
            public showQuickMenu: boolean = false;

		inputValue: string = "";
		saveData: string = "";

            beforeCreate(){

            }

            created(): void {
                  /*
                  전역 객체 생성
                  */

                  window.wemb = new WeMB();
                  window.WeMB = WeMB;
                  /*
                  파라메터로 오픈 페이지가 넘어오는 경우 시작 페이지 설정하기
                  */
                  window.wemb.configManager.initConfigValue(this.$route.params);
            }


		mounted() {
			console.log("step 01, mounted(), ViewerMainComponent ",  window.wemb.configManager.viewerMainMenuDisplay);
			console.log("\n\n\n##########################################");
			console.log("step 02, facade.startup()");

                  this.showQuickMenu = window.wemb.configManager.viewerMainMenuDisplay;
                  // 전역변수  등록 코멘드 등록
                  // 에디터 시작 준비 코멘드 등록
                  // 시작 코멘드 등록
			let facade: ViewerAppFacade = ViewerAppFacade.getInstance(ViewerAppFacade.NAME);
			facade.startup(this);


			this._startKeyboardCommand();

		}


		private _startKeyboardCommand(){
                  let facade: ViewerAppFacade = ViewerAppFacade.getInstance(ViewerAppFacade.NAME);
                  $(document).on("keydown", function(event){
                        //FPS 호출
                        if (event.key == "4" && event.ctrlKey==true && event.altKey==true) {
                              facade.sendNotification(CommonStatic.CMD_ACTIVE_FPS);
                              event.preventDefault();
                              return;
                        }
                  });

            }
		///////////////////////////////////////////////////////////////////////




		///////////////////////////////////////////////////////////////////////
            public noti_readyCompleted(){
			/*
			에디터 헤더 영여과 편집영역을 활성화 처리
			 */
                  $(this.$el).find(".viewer-header").removeClass("hidden");
	            $(this.$el).find(".viewer-body").removeClass("hidden");

                  this.$refs.quickMenu.enableEditor = window.wemb.userInfo.hasAdminRole;

	            console.log("step 03, 화면에 뷰어 헤더 영여과 편집 영역 보이기 noti_readyCompleted() ")
            }

	}


</script>

<style scoped>
      .viewer {
            display:flex;
            position:absolute;
            flex: 1 !important;
            box-sizing: border-box;
            width: 100%;
            height:100%;
      }


      .view-area-main {
            display: block;

            position: relative;
            overflow: auto;
            flex: 1;
            height:100%;

            background-color: #eaeef1;


      }

      /***icon buttons*/
      .toolbar-main {
            background-color: #5f6670;
            padding: .3rem .3rem .4rem .3rem;
      }

</style>
