<template>
      <el-tabs v-model="tabsValue" type="border-card" @tab-remove="removeTab">
            <el-tab-pane
                  :label="$t('dataset.createDataset')"
                  name="create"
            >
                  <dataset-form-component :isEditMode="false"></dataset-form-component>
            </el-tab-pane>
            <el-tab-pane
                  v-if="tabList.length==2"
                  :label="$t('dataset.modifyDataset')"
                  name="edit"
                  :closable="true"
            >
                  <dataset-form-component ref="modifyForm" :isEditMode="true"
                                          @mountedComp="modifyTabContMounted"></dataset-form-component>
            </el-tab-pane>


            <el-tab-pane :label="$t('dataset.preferences')" name="config">
                  <el-tabs class="sub-tab" tab-position="left" style="display: block;">
                        <el-tab-pane :label="$t('dataset.timUrlRegister')">
                              <tim-settings-component></tim-settings-component>
                        </el-tab-pane>
                        <el-tab-pane label="DataSource 등록">
                              <data-source-settings-component></data-source-settings-component>
                        </el-tab-pane>
                  </el-tabs>
            </el-tab-pane>
      </el-tabs>
</template>
<script lang="ts">
      import {Component, Emit, Inject, Model, Prop, Provide, Vue, Watch} from 'vue-property-decorator'
      import {dto} from "../../model/dto/DatasetDTO"
      import DatasetItemDTO = dto.DatasetItemDTO;
      import DatasetTabsMediator from "./DatasetTabsMediator";
      import DatasetFormComponent from "./settings/DatasetFormComponent.vue";
      import TimSettingsComponent from "./config/TimSettingsComponent.vue";
      import DataSourceSettingsComponent from "./config/DataSourceSettingsComponent.vue";

      @Component({
            components: {
                  DatasetFormComponent,
                  TimSettingsComponent,
                  DataSourceSettingsComponent
            }
      })
      export default class DatasetTabsComponent extends Vue {
            static readonly EVENT_OPEN_MODIFY_DATASET_TAB: string = "event/openModifyDatasetTab";
            static readonly EVENT_CLOSE_MODIFY_DATASET_TAB: string = "event/closeModifyDatasetTab";

            public tabsValue: string = 'create';
            public tabList: Array<any> = [{
                  title: 'createDataset',
                  name: 'create'
            }];

            public modifyID: string = '';
            private _tempModifyDataset = null;

            created(): void {
            }

            mounted() {
                  var self = this;
                  window.wemb.viewComponentMap.set(DatasetTabsMediator.NAME, this);
            }

            /**
             * 데이터셋 수정 탭은 동적으로 생성/삭제됨
             */
            openEditTab(dataset: DatasetItemDTO) {
                  this.tabsValue = 'edit';
                  if (!this.tabList.find((x) => x.name == 'edit')) {
                        this.tabList.push({
                              title: 'modifyDataset',
                              name: 'edit',
                              content: ''
                        });

                        /*데이터셋 수정 탭이 닫힌경우 데이터셋 정보 temp에 저장, modifyTabContMounted에서 처리 */
                        this._tempModifyDataset = dataset;

                  } else {
                        /*데이터셋 수정 탭이 이미 열린 경우 데이터셋 정보 update*/
                        if (!this._tempModifyDataset) {
                              let content: DatasetFormComponent = <DatasetFormComponent>this.$refs.modifyForm;
                              content.editDataset(dataset);
                              this.modifyID = dataset.dataset_id;
                        }
                  }
            }

            /**데이터셋 수정 탭이 mounted되면 DatasetModifyFormMediator를 등록해야 하므로 emit한다.*/
            modifyTabContMounted() {
                  this.$emit(DatasetTabsComponent.EVENT_OPEN_MODIFY_DATASET_TAB);
                  let content: DatasetFormComponent = <DatasetFormComponent>this.$refs.modifyForm;
                  content.editDataset(this._tempModifyDataset);
                  this.modifyID = this._tempModifyDataset.dataset_id;
                  this._tempModifyDataset = null;
            }


            /**데이터셋 수정 탭이 닫히면 DatasetModifyFormMediator를 remove 해야하므로 emit한다.*/
            closeEditTab() {
                  this.$emit(DatasetTabsComponent.EVENT_CLOSE_MODIFY_DATASET_TAB);
                  this.tabList = this.tabList.filter(tab => tab.name !== 'edit');
                  this.tabsValue = 'create';

            }

            removeTab() {
                  this.closeEditTab();
            }
      }
</script>
<style scoped>
      .el-tabs {
            display: flex;
            flex-direction: column;
      }

      .el-tabs >>> .el-tabs__content {
            height: 100%;
            overflow: auto;
      }

      .sub-tab >>> .el-tabs__item.is-active {
            font-weight: bold;
      }
</style>
