.POSODAssetFavoriteComponent {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.POSODAssetFavoriteComponent td {
    padding: 3px;
    color: white;
}

.POSODAssetFavoriteComponent td.label {
    text-align: left;
    text-indent: 14px;
}

.POSODAssetFavoriteComponent td.label>span {
    color: #519dff;
    margin-right: 4px;
}

.POSODAssetFavoriteComponent tr.selected {
    background-color: rgba(150, 150, 150, 0.5) !important;
}

.POSODAssetFavoriteComponent tr:nth-child(odd) {
    background-color: rgba(76, 73, 129, 0.2);
}

.POSODAssetFavoriteComponent tr:hover {
    background-color: rgba(200, 200, 200, 0.7) !important;
}

.POSODAssetFavoriteComponent th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.POSODAssetFavoriteComponent th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.POSODAssetFavoriteComponent th {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(76, 73, 129, 1);
    color: white;
}

.POSODAssetFavoriteComponent ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    _background-color: #f0f0f0;
}

.POSODAssetFavoriteComponent ::-webkit-scrollbar-corner {}

.POSODAssetFavoriteComponent ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: #e8eef1;
}
