<template>
	<div id="editMainArea" v-bind:style="bgInfo">
		<div class="help" v-show="active==false">
			활성화된 페이지가 존재하지 않습니다. 먼저 페이지를 만들어주세요.
		</div>
	</div>
</template>

<script  lang="ts">
	import Vue from "vue"
	import Component from "vue-class-component"
	import EditAreaMainContainerMediator from "./EditAreaMainContainerMediator";
      import Point from "../../../wemb/core/geom/Point";
	import WVEvent from "../../../wemb/core/events/WVEvent";
      import EditorPageComponent, {EditorPageComponentEvent} from "../../../wemb/wv/components/EditorPageComponent";
	import WVComponent from "../../../wemb/core/component/WVComponent";
	import EditorStatic from "../../../editor/controller/editor/EditorStatic";
	import {ComponentInstanceInfoVO, LayerVisibleVO} from "../../model/vo/ValueObjects";
      import {WORK_LAYERS} from "../../../wemb/wv/layer/Layer";

      import ThreeUtil from "../../../wemb/core/utils/ThreeUtil";
      import WV2DComponent from "../../../wemb/core/component/2D/WV2DComponent";

      import TransformEvent from "../../../wemb/core/freeTransform/event/TransformEvent";
      import {
            IBackgroundElement,
            IWVComponent,
            WVCOMPONENT_CATEGORY
      } from "../../../wemb/core/component/interfaces/ComponentInterfaces";
      import DragAreaCalculator from "../../../wemb/core/utils/DragAreaCalculator";
      import {Rectangle} from "../../../wemb/core/geom/interfaces/GeomInterfaces";
      import * as jQuery from "jquery";
      import {EditThreeLayer} from "../../../wemb/wv/layer/EditThreeLayer";


	@Component({
		components: {
		}
	})
	export default class EditAreaMainContainer extends Vue implements IBackgroundElement {
		public static readonly  EVENT_ADD_SELECTED_COMPONENT_INSTANCE:string = "event/addSelectedComponentInstance";
		public static readonly  EVENT_NEW_SELECTED_COMPONENT_INSTANCE:string = "event/newSelectedComponentInstance";
		public static readonly  EVENT_REMOVE_SELECTED_COMPONENT_INSTANCE:string = "event/removeSelectedComponentInstance";
		public static readonly  EVENT_CLEAR_ALL_SELECTED_COMPONENT_INSTANCE:string = "event/clearAllComponentInstance";
            public static readonly  EVENT_TRANSFORM_COMPLETED:string = "event/transformCompleted";
            public static readonly  EVENT_CALCULATE_SELECTED_COMPONENT_INSTANCE_IN_DRAG_AREA:string = "event/calculateSelectedComponentInstanceInDragArea";


		private _mainPageComponent:EditorPageComponent = null;
		public areaCalculator:DragAreaCalculator;
		public onMouseMoveHandler:Function  = null;
		public onMouseUpHandler:Function    = null;


		public bgInfo:string = null;

		public active:boolean=false;

		public get mainPageComponent(){
			return this._mainPageComponent;
		}
		constructor(){
			super();

		}

            /**
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
                  마운트 됨과 동시에 EditorPageComponent생성.
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
             * */
		public mounted() {
                  this.areaCalculator = DragAreaCalculator.getInstance();

			this._createEditorPageComponent();
			window.wemb.viewComponentMap.set(EditAreaMainContainerMediator.NAME, this);
		}


            /*
            생성순서.
                  1. 컴포넌트 생성.
                  2. 수동으로 화면에 붙이기
                        - 즉, container에 component가 붙는 경우를 처리해야 함.
                        - 이를 위해서 ADDED 이벤트를 수동으로 발생해서 EditorPageComponent의 immediateDisplayUpdate()메서드가 실행되게 함.


            */
		private _createEditorPageComponent(){


			this._mainPageComponent = new EditorPageComponent();
			this._mainPageComponent.create({
                              id:"EDITOR",
                              name:"EDITOR",
                              layerName: WORK_LAYERS.PAGE_CONTAINER,
                              props: {
                                    setter: {
                                          width: 700,
                                          height: 600,
                                          borderRadius: {
                                              topLeft: 0,
                                              topRight: 0,
                                              bottomLeft: 0,
                                              bottomRight: 0
                                          }

                                    },
                                    style: {
                                          //"border": "1px solid #ff0000",
                                          "background-color": "#eeeeee"
                                    }
                              }
			},`<div></div>`)

			if(this._mainPageComponent.successCreateProperties==true) {
				//////////////////////////////


				//////////////////////////////
				/*
					$el이 Application 즉 메인 커네이너가 되는 것이며
					 App 컨테이너에  mainPageComponent를 수동으로 붙여
					 mainPageComponent가 동작하도록 처리해야 함.
					 즉, mainPageComponent.create()를 한 후
					 App.addChild(mainPageComponent)가 된 후
					 내부에서 동작하는 added이벤트 처리가 될 수 있게
					 수동작업을 해줘야 함.
				 */
				$(this.$el).append(this._mainPageComponent.element);

				////////////////
				// 이 내용은 부터는 일종의 부모.addChild(this._mainPageComponent)를 하는것과 동일함.
				let event = new WVEvent(WVEvent.ADDED, this._mainPageComponent);
				this._mainPageComponent.addEventListener(WVEvent.ADDED, (event) => {
					this._initEvent();
					// 초기에 한번만 실행됨.
					// 화면에 붙은 후 위치 설정하기(resize할때도 자동 실행됨)
					this._updateEditorPageComponentPosition();
				})

				// 수동으로 ADDED 이벤트 발생 처리.
				this._mainPageComponent.dispatchEvent(event);


                        /*
                              이 정보는 EditAreaMainContainerMediator로 이동 되어 처리됨.
                              컴포넌트 클릭시 이벤트 처리
                                    - 비선택 => 선택으로
                                    - 컨트롤+클릭 = 다중 선택
                        */
				this._mainPageComponent.addEventListener(EditorPageComponentEvent.COMPONENT_MOUSE_DOWN, (event: EditorPageComponentEvent) => {
				      try {
                                    if (event.originalEvent.ctrlKey == true) {
                                          if (event.data.targetInstance.selected) {
                                                this.$emit(EditAreaMainContainer.EVENT_REMOVE_SELECTED_COMPONENT_INSTANCE, event.data.targetInstance);
                                          } else {
                                                this.$emit(EditAreaMainContainer.EVENT_ADD_SELECTED_COMPONENT_INSTANCE, event.data.targetInstance);
                                          }
                                    }
                                    else {
                                          if (event.data.targetInstance.selected == false)
                                                this.$emit(EditAreaMainContainer.EVENT_NEW_SELECTED_COMPONENT_INSTANCE, event.data.targetInstance);
                                    }
                              }catch(error){
                                    this.$emit(EditAreaMainContainer.EVENT_ADD_SELECTED_COMPONENT_INSTANCE, event.data.targetInstance);
                              }
				})

                        // 배경 선택 처리
				this._mainPageComponent.addEventListener(EditorPageComponentEvent.BACKGROUND_MOUSE_DOWN, ( event:EditorPageComponentEvent ) => {
                              /*
                              중요!:

                              2018.08.29(해결 완료)
                                    - 2D 레이어의 경우 배경 클릭시 이벤트가 실행될 수 있어서
                                      프로퍼티 패널에 속성 인풋에 포커스가 있는 상태에서 배경을 클릭하는 경우
                                        - 속성 인풋에서 blur 이벤트가 발생해 change 이벤트가 실행됨.
                                           change이벤트가 실행되면 컴포넌트의 속성 변경이 발생하게 됨.

                                        - 이후 배경을 선택했기 때문에
                                           EVENT_CLEAR_ALL_SELECTED_COMPONENT_INSTANCE 이벤트를 발생시켜
                                           선택컴포넌트를 페이지 컴포넌트로 변경함.

                                    - 이와 달리 3D 레이어의 경우 배경 클릭시 이벤트가 막혀 있어서
                                      프로퍼티 패널에 속성 인풋에 포커스가 있는 상태에서 배경을 클릭하는 경우
                                        - EVENT_CLEAR_ALL_SELECTED_COMPONENT_INSTANCE 이벤트가 발생함.
                                           이때 선택 컴포넌트가 페이지 컴포넌트로 변경됨.

                                        - 이후  속성 인풋에서 blur 이벤트가 발생해 change 이벤트가 실행됨.
                                           이에 따라 속성 변경해야할 컴포넌트가 페이지 컴포넌트로 되어 오류가 발생
                                    - 결론:
                                          -3D 레이어가 활성화 된 경우
                                            배경클릭시 포커스를 가지고 있는 input 박스에 blur 이벤트를 강제적으로 발생 시켜
                                            2D 레이어와 동일하게 처리하도록 함.
                                           - 다만, setTimeout()을 둔 이유는 blur이벤트 보다 빨리 배경 클릭 이벤트가 발생하는것을
                                              막고자 함.

                              2018.03.28(수), 09:28
                              - 컴포넌트 속성 변경시 배경 정보를 처리하는 PageContainer 속성이 변경되는 이슈
                                    증상: 특정 컴포넌트 선택 후 속성 값을 수정하기 위해 input포커스를 이동한 상태에서
                                       배경을 클릭하는 경우
                                       1. EVENT_CLEAR_ALL_SELECTED_COMPONENT_INSTANCE 이벤트가 발생해
                                          선택 컴포넌트가 PageContainer로 변경됨.
                                       2. 이때 다시 컴포넌트 프로퍼티 패널에서 EVENT_UPDATE_PROPERTIES 이벤트가 발생해 아래 내용이 실행됨.
                                          let selectProxy = <SelectProxy>this.facade.retrieveProxy(SelectProxy.NAME);
                                             selectProxy.setGroupPropertyValue(vo.groupName, vo.propertyName, vo.value);

                                       즉, 수정할 대상이 바뀌어 속성이 잘못 수정하게 되는 문제 발생.

                                    해결책:
                                          하나. id 또는 name을 저장해 이 값에 해당하는 컴포넌트를 찾은 후 직접 변경하는 방식으로 변경해야함. (우선!)
                                           둘. 타이머를 이용해 1번이 2번 이벤트 보다 늦게 발생하게 처리.(임시, 우선 이 방식으로
                              */

                              setTimeout(()=> {
                                    this.$emit(EditAreaMainContainer.EVENT_CLEAR_ALL_SELECTED_COMPONENT_INSTANCE);
                              },0);


                              this.registMouseDragEvent( event.originalEvent );



				})
                        //////////////////////////////////







                        //////////////////////////////////
                        // 3. mainPageComponent에 이벤트 등록
                        let $element = $(this._mainPageComponent.element);

                        $element.on("drag",(event:any)=>{
                              event.originalEvent.dataTransfer.effectAllowed = "move";
                        })

                        $element.on("drop",(event:any)=>{
                              let model = JSON.parse(window["dragData"]);
                              let componentVO = new ComponentInstanceInfoVO();
					componentVO.componentName = model.name;
					componentVO.label = model.label;
					if(model.category==WVCOMPONENT_CATEGORY.TWO) {
						// 초기화 프로퍼티가 있다면 프로퍼티에 값을 적용해야함.

						if (model.hasOwnProperty("initProperties") == true) {
							componentVO.initProperties = $.extend(true,  {
								},model.initProperties
							);

						} else {
							componentVO.initProperties = {
								props: {
									setter: {
										x: 0,
										y: 0
									}
								}
							}
                                    }
                                    
                                    componentVO.initProperties.props.setter.x = event.pageX - event.currentTarget.getBoundingClientRect().left;
                                    componentVO.initProperties.props.setter.y = event.pageY - event.currentTarget.getBoundingClientRect().top;
						
						window.wemb.editorFacade.sendNotification(EditorStatic.CMD_ADD_COM_INSTANCE_BY_NAME, componentVO);
					}

                              if(model.category==WVCOMPONENT_CATEGORY.THREE) {

                                    let position = ThreeUtil.getTwoPositionToThreePosition(event.clientX, event.clientY);
                                    if (model.hasOwnProperty("initProperties") == true) {
                                          componentVO.initProperties = $.extend(true,  {
                                                },model.initProperties
                                          );


                                    } else {
                                          componentVO.initProperties = {
                                                props: {
                                                      setter: {
                                                            position: {
                                                                  x: 0,
                                                                  y: 0,
                                                                  z: 0
                                                            }
                                                      }
                                                }
                                          }
                                    }


                                    componentVO.initProperties.props.setter.position = {};
                                    componentVO.initProperties.props.setter.position.x = position.x;
                                    componentVO.initProperties.props.setter.position.y = position.y;
                                    componentVO.initProperties.props.setter.position.z = position.z;
                                    window.wemb.editorFacade.sendNotification(EditorStatic.CMD_ADD_COM_INSTANCE_BY_NAME, componentVO);
                              }

                        })
                        $element.on("dragenter",(event:any)=>{
                              event.originalEvent.dataTransfer.effectAllowed = "move";
                        })

                        $element.on("dragover",(event:any)=>{
                              event.originalEvent.dataTransfer.dropEffect ="move";
                              event.preventDefault();
                        })

			}else {
				throw new Error("Error occurred while creating edit page container. Property is set incorrectly. Please check.")
			}
		}


            /*
		EditorPageComponent가 화면에 붙고 실행.
		 */
            private _initEvent(){
                  window.addEventListener("resize",()=>{
                        this._updateEditorPageComponentPosition();
                  },false);


                  /*
			트렌스 폼 변경 시 실행되는 이벤트 등록.
			*/
                  this.mainPageComponent.controlLayer.transformMG.addEventListener(TransformEvent.COMPLETE_TRANSFORM, (event)=>{
                        let targetList =this.mainPageComponent.controlLayer.transformMG.target;
                        if(targetList.length>0){
                              this.$emit(EditAreaMainContainer.EVENT_TRANSFORM_COMPLETED);
                        }
                  });

                  this.onMouseMoveHandler = this.onDocumentMouseMove.bind(this);
                  this.onMouseUpHandler = this.onDocumentMouseUp.bind(this);
            }
            private _updateEditorPageComponentPosition(){
                  if(this._mainPageComponent) {
                        let mainWidth = $(this.$el).outerWidth();
                        let mainHeight = $(this.$el).outerHeight();
                        let viewWidth = this._mainPageComponent.width;
                        let viewHeight = this._mainPageComponent.height;


                        let left = 0;
                        let top = 0;

                        if (mainWidth > viewWidth) {
                              left = (mainWidth - viewWidth) / 2;
                        }

                        if (mainHeight > viewHeight) {
                              top = (mainHeight - viewHeight) / 2;
                        }

                        $(this._mainPageComponent.element).css({
                              left:left,
                              top:top
                        })
                  }
            }





            /**
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
                  드래그해서 배치 내용 선택하는 기능
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
             * */

            protected onDocumentMouseMove( event:any ):void {
                  event.preventDefault();
                  event.stopPropagation();
                  let offset = $(this._mainPageComponent.element).offset();
                  let point = new Point(event.pageX-offset.left, event.pageY-offset.top)
                  let area:Rectangle = this.areaCalculator.getDragArea(point);
                  $(this._mainPageComponent.dragAreaLayer.dragView).css({
                        left : area.x,
                        top  : area.y,
                        width : area.width,
                        height : area.height,
                        border: "2px dotted black"
                  }).show();
            }

            protected onDocumentMouseUp( event:any ):void {
                  event.preventDefault();
                  event.stopPropagation();
                  let offset = $(this._mainPageComponent.element).offset();
                  let point = new Point(event.pageX-offset.left, event.pageY-offset.top)
                  let area:Rectangle = this.areaCalculator.getDragArea(point);

                  this.getComponentInAreaBox( area );
                  $(this._mainPageComponent.dragAreaLayer.dragView).hide();
                  this.removeMouseDragEvent();
            }


            protected getComponentInAreaBox( area:Rectangle ){
		      this.$emit(EditAreaMainContainer.EVENT_CALCULATE_SELECTED_COMPONENT_INSTANCE_IN_DRAG_AREA, area);
            }

		protected registMouseDragEvent( event:any ) {
                  /*
                  EditorThreeLayer인 경우 선택 영역 드로잉이 되지 않게 처리 하기
                   */
                  let layerType = this._mainPageComponent.activeLayer.constructor["NAME"];
                  if(layerType==EditThreeLayer.NAME){
                        //let e = event.originalEvent || event;
                        event.preventDefault();
                        event.stopPropagation();
                        return;
                  }
                  let offset = $(this._mainPageComponent.element).offset();
                  let point = new Point(event.pageX-offset.left, event.pageY-offset.top)
                  this.areaCalculator.setStartPoint(point);
                  let $document:any = $(document);
                  $document.on("mousemove", this.onMouseMoveHandler );
                  $document.on("mouseup", this.onMouseUpHandler );
            }

            protected removeMouseDragEvent(){
                  let $document:any = $(document);
                  $document.off("mousemove");
                  $document.off("mouseup");
            }






            /**
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
             IBackgroundElement 인터페이스 기능 구현\
             배경 변경 기능.
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
             * */
            public setBackgroundPropertyValue(propertyName:string, value:any) {

                  if(!value) {return "";}

                  this.bgInfo = "";
                  if( value ){
                        if( value.color ){
                              this.bgInfo  +='background-color:'+value.color+';';
                        }

                        if( value.path ){
                              var serverPath = window.wemb.configManager.serverUrl;
                              this.bgInfo  +='background-image:url('+serverPath+value.path+');';
                        }
                  }
            }




            /**
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
                  mediator에서 호출되는 메서드
             □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
             * */


		public noti_closedPage(){
			this._mainPageComponent.clearPage();

		}

		public noti_addComInstance(comInstance:WVComponent){
		      this._mainPageComponent.addComInstance(comInstance);

		}

		public noti_removeComInstance(comInstance:WVComponent){
			this._mainPageComponent.removeComInstance(comInstance);
		}

		public noti_setActiveShortCutState(active:boolean){
		      /*
		      2018.11.04(ckkim)
		      3DLayer가 존재하는 경우에만 사용.
		       */
		      if(this._mainPageComponent.threeLayer)
                        this._mainPageComponent.threeLayer.setLockControls(active);
            }

		public noti_changeActiveLayer(layerName:WORK_LAYERS){
			this._mainPageComponent.setActiveLayer(layerName);
		}
		public noti_updateLayerVisible(vo:LayerVisibleVO) {
			this._mainPageComponent.updateLayerVisible(vo.layerName, vo.visible);
		}


		public noti_clearAllSelectedInstance(comInstanceList:Array<WVComponent>){
                  this.mainPageComponent.controlLayer.transformMG.target=[];
			comInstanceList.forEach((instance)=>{

				//$(instance.element).removeClass(EditorStatic.SELECTED_CLASS_NAME);
			})
		}


		public noti_removeSelectedInstance(instance:WVComponent){
			//let item = ArrayUtil.getItem(this.comInstanceList, "id", instance.id);
			//$(instance.element).removeClass(EditorStatic.SELECTED_CLASS_NAME);
		}

		public noti_updateSelectedInfo(selectedComList:Array<WVComponent>){


                  if (selectedComList.length > 0) {
                        let layerName:string = selectedComList[0].layerName;
                        if(layerName!=WORK_LAYERS.THREE_LAYER) {
                              let unLockComList = selectedComList.filter((instance: IWVComponent) => {
                                    return instance.lock == false
                              })

                              this.mainPageComponent.controlLayer.transformMG.target = unLockComList as WV2DComponent[];
                              return;
                        }

                        if(layerName==WORK_LAYERS.THREE_LAYER){
                              let unLockComList = selectedComList.filter((instance: IWVComponent) => {
                                    return instance.lock == false
                              })

                              let threeLayer = window.wemb.mainPageComponent.getMainThreeLayer();

                              if(threeLayer){
                                    if(unLockComList.length>0){
                                          //console.log("선택처리!~");
                                          threeLayer.setTransformTarget(unLockComList[0]);
                                    } else{
                                          //console.log("선택혜지!")
                                          threeLayer.setTransformTarget(null);
                                    }

                              }

                        }


                  }
                  else{
                        this.mainPageComponent.controlLayer.transformMG.target = [];
                  }

            }

            public noti_syncTransformLocationSize(categoryName:string){
                  if(categoryName==WVCOMPONENT_CATEGORY.TWO) {
                        this.mainPageComponent.controlLayer.transformMG.syncFromTarget();
                        return;
                  }

                  if(categoryName==WVCOMPONENT_CATEGORY.THREE) {
                        this.mainPageComponent.threeLayer.updateTransformControl();
                        return;
                  }
            }
      }


</script>

<style scoped>
	.help {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

</style>
