.TextComponent textarea::selection {
    background-color: rgba(255, 255, 255, 0);
}

.TextComponent textarea {
    pointer-events: none;
}

.TextComponent>.txt-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.TextComponent>.txt-wrap {
    display: flex !important;
}

.TextComponent>.txt-wrap.align-top {
    align-items: flex-start;
}

.TextComponent>.txt-wrap.align-center {
    align-items: center;
}

.TextComponent>.txt-wrap.align-bottom {
    align-items: flex-end;
}

.TextComponent>.txt-wrap>textarea,
.TextComponent>.txt-wrap>pre {
    height: auto;
}