<template>
      <div class="quick-menu">
            <div class="btn-group w-btn-group">

                  <!--<div class="langs">
                <select v-if="langPack.length > 0"  @change="changeLanguage">
                    <option v-for="item in langPack":label="item.label":value="item.locale" :selected="item.locale == language"></option>
                </select>
            </div>-->
                  <el-tooltip class="item" effect="dark" content="360view" placement="top" v-if="toggleWalkView">
                        <button class="w-btn img-icon-btn  viewer-icon-360view" @click="toggle3DView">360view</button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="walkview" placement="top" v-else>
                        <button class="w-btn img-icon-btn  viewer-icon-walkview" @click="toggle3DView" >walkview</button>
                  </el-tooltip>

                  <!--<el-tooltip class="item" effect="dark" content="editor" placement="top" v-if="enableEditor" >-->
                  <!--<button class="w-btn img-icon-btn  viewer-icon-editor" @click="onClickGotoEditor">editor</button>-->
                  <!--</el-tooltip>-->
                  <el-tooltip class="item" effect="dark" content="fps" placement="top">
                        <button class="w-btn img-icon-btn  viewer-icon-fps" @click="onClickFps">fps</button>
                  </el-tooltip>

                  <el-tooltip class="item" effect="dark" content="admin" placement="top">
                        <button class="w-btn img-icon-btn  viewer-icon-admin" @click="onClickGotoAdmin">admin</button>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="logout" placement="top">
                        <button class="w-btn img-icon-btn viewer-icon-logout" @click="onClickLogout">logout</button>
                  </el-tooltip>

            </div>
      </div>
</template>


<script lang="ts">
    import Vue from "vue"
    import Component from "vue-class-component";
    import ViewerQuickMenuMediator from "./ViewerQuickMenuMediator";
    import CommonStatic from "../../controller/common/CommonStatic";
    import ViewerAppFacade from "../../ViewerAppFacade";

    @Component({
        components: {
        }
    })
    export default class ViewerQuickMenuComponent extends Vue {
        public static EVENT_ACTIVE_360VIEW:string="event/active360View";
        public static EVENT_ACTIVE_WALKVIEW:string="event/activeWalkView";
        public static EVENT_GOTO_EDITOR:string="event/gotoEditor";
        public static EVENT_GOTO_ADMIN:string="event/gotoAdmin";
        public static EVENT_LOGOUT:string="event/logout";

        public toggleWalkView: boolean = false;
        public enableEditor: boolean = false;

        created(): void {

        }

        public mounted() {
            window.wemb.viewComponentMap.set(ViewerQuickMenuMediator.NAME, this);
            //      this.enableEditor = window.wemb.userInfo.hasAdminRole;
        }

        toggle3DView(){
            if(this.toggleWalkView){
                this.active3d360View();
            }else{
                this.activeWalkView();
            }
        }

        active3d360View(){
            this.toggleWalkView = false;
            this.$emit( ViewerQuickMenuComponent.EVENT_ACTIVE_360VIEW );

        }

        activeWalkView(){
            this.toggleWalkView = true;
            this.$emit( ViewerQuickMenuComponent.EVENT_ACTIVE_WALKVIEW );

        }

        // onClickGotoEditor(){
        //     this.$emit( ViewerQuickMenuComponent.EVENT_GOTO_EDITOR );
        // }

        onClickGotoAdmin(){
            this.$emit( ViewerQuickMenuComponent.EVENT_GOTO_ADMIN );
        }

        onClickLogout(){
            this.$emit( ViewerQuickMenuComponent.EVENT_LOGOUT );
        }

        onClickFps(){
            let facade: ViewerAppFacade = ViewerAppFacade.getInstance(ViewerAppFacade.NAME);
            facade.sendNotification(CommonStatic.CMD_ACTIVE_FPS);
        }
    }


</script>
<style scoped>

</style>
