.VNVComplexSensorComponent {
    cursor: pointer;
}

.VNVComplexSensorComponent .state-clip-wrap {
    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
}

.VNVComplexSensorComponent .critical-area {
    border: 2px solid red;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}